<div class="activities-container pure-g">
    <div class="pure-u-1-2">
        <div class="activities-region">
        </div>
    </div>
    <div class="pure-u-1-2" style="max-height:100%;overflow-y:auto;">
        <div class="tasks-region">
        </div>
    </div>
</div>