<form class="form-horizontal">
  <div class="control-group" id="name_group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Order name" value="<%= order.name %>" required>
      <label class="help-inline form-error" id="name_error"></label>
    </div>
  </div>
</form>
