
<div class="control-group note-input-control">
    <label class="control-label" for="name">Notes</label>
    <div class="controls">
      <input type="text" id="note_input" placeholder="Note" />
      <a class="btn save-note-btn" id="btnSave">Save</a>
    </div>
  </div>

<div class="clearfix"></div>

<table class="order-notes-table">
  <tbody></tbody>
</table>