<div class="activity-log-header">
  <div class="activity-log-title">
    Activity Log
    <input type="checkbox" class="notify-users-switch"/>
  </div>

  <div class="notify-users-list">
    <div class="top">
      <div class="notify-by-email">Notify by email:</div>
    </div>

    <div style="clear:both"></div>

    <div class="users-to-notify">
      <em></em>
      <div class="typeahead-container"></div>
      <span class="add-user-to-notify-list">Add</span>
    </div>
 
    <div style="clear:both"></div>

    <div class="order-notes-table">
      <div class="note-input-control">
        <div class="username">
          <label class="control-label"></label>
        </div>
        <div class="ordersnotes">
          <input type="text" id="note_input" placeholder="Note" />
        </div>
        <div class="notetimestamp">
          <a class="attachment-btn">File</a>
          <input id="creatives_fileupload" type="file" name="io_creatives" style="width:96px;border:0;height:25px;position:absolute;cursor:pointer;" class="cox-creatives-btn"><a href="javascript:void(0)">Creatives TXT</a>
        </div>
      </div>

      <div style="clear:both"></div>

      <div>
        <div class="save-note-btn" id="btnSave">&bnsp;</div>
        <div class="submit-trafficker-btn" style="width:156px">Submit to Trafficker</div>
        <div class="submit-am-btn" style="width:100px">Submit to AM</div>
      </div>
    </div>
  </div>
</div>

<div class="notes-list">
</div>
