
<div class="control-group note-input-control">
  <label class="control-label" for="name">
    <i class="icon-list-alt"></i> Notes
  </label>
  <div class="controls">
    <input type="text" id="note_input" placeholder="Note" />
    <a class="btn btn-mini save-note-btn" id="btnSave">Add</a>
  </div>
</div>

<div class="clearfix"></div>

<table class="order-notes-table">
  <tbody></tbody>
</table>