<table class="order-notes-table">
  <thead>
  <tr class="note-input-control">
    <th class="username">
      <label class="control-label">
        <i class="icon-list-alt"></i> Notes
      </label>
    </th>
    <th class="ordersnotes">
      <input type="text" id="note_input" placeholder="Note" />
    </th>
    <th class="notetimestamp">
      <a class="btn btn-mini save-note-btn" id="btnSave">Add</a>
    </th>
  </tbody>
  </thead>
  <tbody></tbody>
</table>
