<div class="username">
  <%= username %>
</div>
<% if(sent) { %>
<div class="sent-via-email"></div>
<% } %>
<div class="ordersnotes">
  <%= note %>
</div>
<div class="notetimestamp">
  <%= created_at %>
</div>
