<h3 class="header">
  <%= order.name %>
</h3>

<div class="pure-g">
  <div class="pure-u">
    <div class="adv-name">
      <%= order.advertiser_name %>
    </div>
  </div>

  <div class="pure-u">
    <div class="flight">
      <i class="icon-time"></i>
      <%= order.start_date %>
      to
      <%= order.end_date %>
    </div>
  </div>
  <div class="pure-u pull-right">
    <button class="btn btn-mini edit-action">Edit Order</button>
  </div>
</div>
