<div class="top-region">
  <h4 class="light-text center">
    No order selected
  </h4>
</div>

<div id="order-metrics-region" class="active"></div>
<div class="middle-region"></div>
<div class="bottom-region"></div>

<!-- TODO: Move this into View.onDomRefresh() method, where View is responsible for showing this grid -->
<script type="text/javascript">
  function toggleResolvedTasksVisibility(elem) {
    var $this = $(elem),
        tbody = $this.closest("tbody.team-members-task-list-grid");

    tbody.children(".task-resolved-row").toggle();
    $this.toggleClass("active");
  }
</script>
