<h3 class="header">
  <%= name %>
</h3>
<div class="pure-g">
  <div class="pure-u">
    <div class="adv-name">
      <%= advertiser_name %>
    </div>
  </div>

  <div class="pure-u">
    <div class="flight">
      <i class="icon-time"></i>
      <%= start_date %>
      to
      <%= end_date %>
    </div>
  </div>
</div>
