<div class="task-comment">
	<%= comments_size%>
</div>
<div class="task-type">
</div>
<div class="pure-u-1-2">
	<%= name%>
</div>
<div class="pure-u-1-6 task-time">
	<%= created_at%>
</div>
<div class="pure-u-1-8">
	<%= created_by%>
</div>