<div class="upload-io-region">
  <div class="upload-status">
  </div>
  <div class="drop-region fileinput-button">
    <h3>Click to upload IO or drag drop IO file here</h3>
    <input id="io_fileupload" type="file" name="io_file">
  </div>
  <h3 class="order-or-separator">OR</h3>
</div>
