<div class="dashboard_section dashboard_budget_graph_holder" ng-controller="bubbleChartController" >
  <div class="dashboard_heading dashboard_heading_bold" >Budget
    <span id="backToBrands"  class="pull-right" ng-click="backToBrands()" style="display: none;" ><a> Back to Brands</a></span>
  </div>
  <div class="common_loading_icon" ng-if="spendBusy"></div>
  <div class="dashboard_perf_graph">
    <span id="brands"></span>
    <span id="campaigns"></span>
  </div>
  <!--<div class="dashboard_graph_legends">-->
                    <!--<span class="legend_details legend_type1">-->
                        <!--<span class="graph_legend"></span>-->
                        <!--<span class="graph_legend_txt">Camry</span>-->
                    <!--</span>-->
                    <!--<span class="legend_details legend_type2">-->
                        <!--<span class="graph_legend"></span>-->
                        <!--<span class="graph_legend_txt">Corolla</span>-->
                    <!--</span>-->
                    <!--<span class="legend_details legend_type3">-->
                        <!--<span class="graph_legend"></span>-->
                        <!--<span class="graph_legend_txt">Siena</span>-->
                    <!--</span>-->
                    <!--<span class="legend_details legend_type4">-->
                        <!--<span class="graph_legend"></span>-->
                        <!--<span class="graph_legend_txt">Camry</span>-->
                    <!--</span>-->
                    <!--<span class="legend_details legend_type5">-->
                        <!--<span class="graph_legend"></span>-->
                        <!--<span class="graph_legend_txt">Camry</span>-->
                    <!--</span>-->
  <!--</div>-->
</div>
