
<div class="main_container">

  <div id="campaignDetail" class="dashboard_outer_container campaign_details_page "> <!-- container -->


                <!-- 
                <div class="col-md-1">
                    <a href="campaigns/402105" ng-click="campaigns.editCampaign(campaign)">
                    <span class="icons-bckground" id="icon-campaign-edit"></span>
                    </a>
                </div>
                 -->

                  <div class="clearfix campaign_details_header">
                      <div class="pull-left campaign_name">
                          {{campaign.campaignTitle}} 
                          <div class="sub_title"> 
                              {{campaign.brandName}}
                          </div>
                      </div>
                      <a href="campaigns#/performance" id="details_view_report">
                        <div class="pull-right view_report">
                            View report
                        </div>
                      </a>
                      <div class="pull-right time_period_filter">

                          <div class="dropdown" id="campaign_details_duration_dd">
                              <span class="dropdown_ul_text " data-toggle="dropdown">
                                  <span class="dd_txt">
                                      LIFETIME
                                  </span>
                                  <span class="arrow_img">
                                  </span>
                              </span>

                              <ul class="dropdown_ul dropdown-menu">
                                  <li>LIFETIME</li>
                                  <li>LAST WEEK</li>
                                  <li>LAST MONTH</li>
                                  <div class="disabled_dd"></div>
                              </ul>

                          </div>
                      </div>
                  </div>


                <div ng-show="is_network_user">
                    <!-- action filter -->
                    <form  ng-controller="ActionsController" >
                        <div class="action_filter_holder">
                            <div class="heading">
                                Create Activity
                            </div>
                            <div class="clearfix filter_holder">
                                <div class="filter_dropdown">
                                     <multiselect class="input-xlarge" multiple="false"  class="myerror" multipleoption="false" acceptmultiple="0" defaultoption='- Action Type -'  ng-model="action.selectedType" options="type.name for type in action.types | orderBy:'name'" change="selected()" id="action_type_filter_dd" datashow="1" ng-click="resetValidation();getActionType()" ></multiselect> 
                                    <div  ng-show="action.selectedTypeError" id="error_activity" class="error_message">Please select an item in the list.</div>
                               </div>
                                <div class="filter_dropdown select_all_filter_dropdown">
                                     <multiselect class="input-xlarge"  multiple="true"  multipleoption="true" acceptmultiple="1"  displaySelectAllOPtion="true" defaultoption='- Action Sub Type -' ng-model="action.selectedSubType" options="subType.name for subType in action.selectedType.subTypes | orderBy:'name'" change="selected()" id="action_sub_type_dd" datashow="2" ng-click="resetValidation();getSubType()"></multiselect>
                                     
                                      <div ng-show="action.selectedSubTypeError" id="error_subtype"  class="error_message">Please select an item in the list.</div>
                               </div>
                                <div class="filter_dropdown select_all_filter_dropdown">
                                    <multiselect class="input-xlarge" multiple="true"  multipleoption="true" acceptmultiple="1"  defaultoption='- Tactic -'  ng-model="tactics.selected" options="tactic.name for tactic in tactics.all | orderBy:'name'" change="selected()" id="action_tactic_dd" datashow="3" ng-click="resetValidation();getTactic()"></multiselect>
                                    <div ng-show="action.selectedTacticError" id="error_tactic" class="error_message">Please select an item in the list.</div>
                                </div>
                                <div class="filter_dropdown metric_selected_filter_dropdown">
                                     <multiselect class="input-xlarge" multiple="false"    multipleoption="false" acceptmultiple="0"    defaultoption='- Metric Impacted -'  ng-model="metrics.selected" options="metric for metric in metrics.all" change="selected()" id="action_metric_dd" datashow="4" ng-click="resetValidation();" ></multiselect>
                                    
                                    <div ng-show="action.selectedMetricError" id="error_metric" class="error_message">Please select an item in the list.</div>
                               </div>
                                <div class="pull-right external_chkbox">
                                    <div class="external_chkbox clearfix">
                                      <div class="squaredFour">
                                        <input type="checkbox" ng-model="action.external" class="squaredFourChkbox" id="details_squaredFour"  />
                                        <label for="details_squaredFour"></label>
                                      </div>       
                                      <span class="squaredFourTxt">External</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix submit_activity_holder">
                                <div class="pull-left comment_area">
                                    <textarea  ng-model="action.name"   placeHolder="Leave a Comment" id="action_comment" ng-focus="resetValidation()" maxlength="160"></textarea>
                                    
                                
                                 <div ng-show="action.nameError" id="error_comment" class="error_message">Please fill out this field.</div>
                                 <div  id="error_more_comment" class="error_message"></div>
                                 </div>
                                <div class="pull-right submit_btn_holder">
                                    <input type="button" class="submit_btn" value="Submit" ng-disabled="action.submitBtnDisabled" id="action_submit_btn" ng-click="createAction()" >
                                </div>
                            </div>
                        </div>
                      </form>
                      <!-- end of action filter -->
                </div>

                <!-- graph holder-->
                <div class="clearfix campaign_details_graphs_holder">
                    <div ng-click="setGraphData(campaign,'performance')" data-toggle="tooltip" data-placement="top" data-original-title="Click for detailed reports" class="each_section_graph_holder bar_section_graph_holder">
                        <div class="graph_heading">
                            Format ({{campaign.kpiType}})
                        </div>
                        <div class="clearfix each_section_graph format_section_graph">
                            <div ng-repeat="format in details.formats" class="each_bar_section_holder {{format.icon}}">
                              <div>{{format.dimension}}: {{format[details.kpiType] | kpiFormatter : campaign.kpiType}}</div>
                              <div class="each_bar_graph" style="width:{{100-((details.formatTop-format[details.kpiType])*100/details.formatTop)}}%"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-click="setGraphData(campaign,'cost')" data-toggle="tooltip" data-placement="top" data-original-title="Click for detailed reports" class="each_section_graph_holder">
                        <div class="graph_heading">
                            Cost Breakdown
                        </div>
                        <div class="clearfix each_section_graph">
                            <div class="pull-left section_graph">
                                <highchart ng-show= "details.pieChart" config="details.pieChart" chartTitle="" class="section_graph_highcharts"></highchart>
                            </div>
                            <div class="pull-right section_graph_details">
                                <div class="each_detail">
                                    <span class="graph_color color1"></span>
                                    Inventory: {{details.getCostBreakdown.inventory | formatCostData: '' : 0}}%
                                </div>
                                <div class="each_detail">
                                    <span class="graph_color color2"></span>
                                    Data: {{details.getCostBreakdown.data | formatCostData: '' : 0}}%
                                </div>
                                <div class="each_detail">
                                    <span class="graph_color color3"></span>
                                    Ad Serving: {{details.getCostBreakdown.adServing | formatCostData: '' : 0}}%
                                </div>
                                <div class="each_detail">
                                    <span class="graph_color color4"></span>
                                    Other: {{details.getCostBreakdown.other | formatCostData: '' : 0}}%
                                </div>
                            </div>
                        </div>
                        <div class="graph_summary">
                            Total <span class="graph_val">{{details.totalCostBreakdown | formatCostData : '$' : 0}} </span>
                        </div>
                    </div>
                    <div ng-click="setGraphData(campaign,'inventory')" data-toggle="tooltip" data-placement="top" data-original-title="Click for detailed reports" class="each_section_graph_holder bar_section_graph_holder" >
                        <div class="graph_heading">
                            Inventory ({{campaign.kpiType}})
                        </div>
                        <div class="clearfix each_section_graph ">
                            <div class="inventory_number">
                              Top {{details.inventory.length}}
                            </div>
                            <div ng-repeat="data in details.inventory" class="each_bar_section_holder">
                              <div>{{data.domain_data}}: {{data.kpi_value | kpiFormatter:campaign.kpiType}}</div>
                              <div class="each_bar_graph" style="width:{{100-((details.inventoryTop.kpi_value-data.kpi_value)*100/details.inventoryTop.kpi_value)}}%"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div ng-click="setGraphData(campaign,'viewability')" data-toggle="tooltip" data-placement="top" data-original-title="Click for detailed reports" class="each_section_graph_holder" >
                        <div class="graph_heading">
                            Viewability
                        </div>
                        <div class="clearfix each_section_graph">
                            <div class="pull-left section_graph">
                                <highchart id="costViewability" ng-show="details.solidGaugeChart" config="details.solidGaugeChart" class="section_graph_highcharts"></highchart>
                            </div>
                            <div class="pull-right section_graph_details">
                                <div class="each_detail"><span class="graph_color color2"></span>> 1s: {{details.getCostViewability.pct_1s  | formatCostData: '' : 0}}% </div>
                                <div class="each_detail"><span class="graph_color color3"></span>> 5s: {{details.getCostViewability.pct_5s  | formatCostData: '' : 0}}%</div>
                                <div class="each_detail"><span class="graph_color color1"></span>> 15s: {{details.getCostViewability.pct_15s  | formatCostData: '' : 0}}%</div>
                            </div>
                        </div>
                        <div class="graph_summary">
                            Imps. <span class="graph_val">{{details.getCostViewability.total  | formatCostData: '' : 0}}<!-- </span><span> --> ({{details.getCostViewability.pct_total  | formatCostData: '' : 0}}%)</span>
                        </div>
                    </div>
                </div>

                <!--graph holder ends-->

                <!--activity log-->
                <div class="clearfix activity_log_holder" ng-controller="editActionsController" >
                <!--edit popup-->
                <!-- edit activity log container -->
                <div ng-controller="editActionsController" class="edit_activity_log_holder" ng-show="showList.show" ng-click="closeEdit();">
                  <form ng-submit="editAction()" >
                    <div class="action_filter_holder" ng-click="$event.stopPropagation()">
                          <div class="heading">
                              Edit Activity <span style="color:red">{{editError}}</span>
                          </div> 
                          <div class="clearfix filter_holder">
                              <div class="pull-left filter_dropdown_sel_list">
                                  <span class="filter_dropdown_sel_txt">
                                    {{showList.actionType | truncateString : 30}}
                                  </span>
                                  <span class="filter_dropdown_sel_txt">
                                    {{showList.actionSubtype | truncateString : 30}}
                                  </span>
                                  <span class="filter_dropdown_sel_txt">
                                    {{showList.tactic | truncateString : 30}} 
                                  </span>
                                  <span class="filter_dropdown_sel_txt">
                                    Impacts: {{showList.metricImpacted | truncateString : 30}} 
                                  </span>
                              </div>
                              <div class="pull-right external_chkbox">
                                  <div class="external_chkbox clearfix">
                                    <div class="squaredFour">
                                      <input type="checkbox" ng-model="showList.makeExternal" class="squaredFourChkbox" id="edit_details_squaredFour"  />
                                      <label for="edit_details_squaredFour"></label>
                                    </div>       
                                    <span class="squaredFourTxt">External</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clearfix submit_activity_holder">
                              <div class="pull-left comment_area">
                                  <textarea  ng-model="showList.name" ng-required="true"  placeHolder="Leave a Comment" id="action_comment" maxlength="160"> </textarea>
                              </div>
                              <div class="pull-right submit_btn_holder">
                                  <input type="submit" class="submit_btn" value="Save" ng-disabled="saveBtnDisabled" id="action_save_btn">
                              </div>
                          </div>
                      </div>
                    </form>
                </div>
                <!-- end of edit activity log container -->
                  
                  <div class="pull-left graph_activity_holder">
                      <div class="activity_log_header">
                              Campaign Performance
                      </div>
                      <div class="graph_activity">
                          <span ng-switch="details.actionChart">
                            <span ng-switch-when="true" class="no-chart load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Available</span>
                            <span ng-switch-default>
                                <div ng-if="details.actionChart && campaign.kpiType" class="highcharts" id="details_chart">
                                    <highchart id="highcharts" config="details.actionChart" chartTitle=""></highchart>
                                </div>
                                <div ng-if="!(details.actionChart && campaign.kpiType)" class="highcharts" id="details_chart">
                                    No Data Available
                                </div>

                            </span>
                          </span>
                      </div>
                  </div>
                  <div class="pull-right activity_log_list_container">
                      <div class="clearfix activity_log_header">
                          <div class="pull-left">
                              Activity Log
                          </div>
                          <div ng-show="is_network_user" class="pull-right activity_external_dd">

                                  <div class="dropdown" ng-init="actionsFilter = {make_external: true}" id="details_activity_external_dd">
                                        <span class="dropdown_ul_text" data-toggle="dropdown">
                                            <span class="dd_txt">External</span>
                                            <span class="arrow_img"></span>
                                        </span>
                                        <ul class="dropdown_ul dropdown-menu" >
                                            <li ng-click="actionsFilter = watchActionFilter(null, false)" >All</li>
                                            <li ng-click="actionsFilter = watchActionFilter({make_external: true}, true)">External</li>
                                        </ul>
                                  </div>
                              
                          </div>
                      </div>
                      <div id="action-container" class="activity_log_list">
                        <!-- data-toggle="tooltip" data-placement="top" data-original-title="Click for detailed reports" -->
                          <div class="clearfix each_activity_log "  ng-if="actionItems" id="actionItem_{{action.ad_id}}{{action.id}}" ng-repeat="action in actionItems.data | orderBy:'created_at':true | filter:actionsFilter">
                              <div class="pull-left activity_points">
                                  <div class="activity_point">
                                      <span>
                                          {{(is_network_user=='true')?((action.make_external)?'E':''):''}}
                                      </span>
                                  </div>
                              </div>
                              <div class="pull-left activity_main_details">
                                  <div class="activity_main">
                                      {{action.created_by_name}}
                                  </div>
                                  <div class="activity_date">
                                      {{action.created_at | formatActionDate }}
                                  </div>
                              </div>
                              <div class="pull-left activity_other_details">
                                  <div class="clearfix other_details_txt">
                                      <span>
                                          Impacts {{action.metric_impacted}}
                                      </span>
                                      <span class="optimization_txt">
					  {{action.action_type_name}}: {{action.action_sub_type}}
                                      </span>
                                  </div>
                                  <div class="more_details">
                                   {{action.comment}} 
                                  </div>
                              </div>
                              <div ng-show="is_network_user" class="pull-right activity_edit_holder">
                                  <div class="activity_edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit" ng-controller="editActionsController" ng-click="showEdit(action.id)">
                                  </div>
                                  <div class="activity_report" data-toggle="tooltip" data-placement="left" data-original-title="Open Report" ng-click="setOptimizationData(campaign,action,strategyByActionId)">
                                  </div>
                              </div>
                          </div>
                          <div class="no_activity_class" ng-if="!actionItems">
                            No Data Available
                          </div>

                      </div>
                      
                  </div>
              </div>
              <!--activity log ends-->



          
      
  <!--   old   <div class="row-fluid" id="campaignPerformanceWrapper">
        <div class="col-md-12">
            <div class="campaign-performance-container">
                <div class="col-md-6 campaign-performance-container-sections camp-perf-graph">
                    <div class="col-md-12">
                        Campaign Performance
                    </div>
                    <div class="col-md-12">

                        <span ng-switch="details.actionChart">
                            <span ng-switch-when="true" class="no-chart load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Available</span>
                            <span ng-switch-default>
                                <div ng-if="details.actionChart" class="highcharts" id="details_chart">
                                    <highchart id="highcharts" config="details.actionChart" chartTitle=""></highchart>
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 campaign-performance-container-sections camp-perf-history">
                    <div class="col-md-12">
                        <div class="col-md-6">	       
                            History Of Actions
                        </div>
                        <div ng-show="!is_network_user" class="col-md-6">
                            <span class="campaign-external-dd-holder pull-right">
                                <div class="dropdown campaign-external-dd-holder">
                                      <span class="dropdown_ul_text" data-toggle="dropdown">
                                          <span class="dd_txt">External</span>
                                          <span class="arrrow_img"></span>
                                      </span>
                                      <ul class="dropdown_ul dropdown-menu" ng-init="actionsFilter = {make_external: true}">
                                          <li ng-click="actionsFilter = watchActionFilter(null, false)">All</li>
                                          <li ng-click="actionsFilter = watchActionFilter({make_external: true}, true)">External</li>
                                      </ul>
                                  </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="action-container" class="campaign-performance-match">
                            <div ng-click="setOptimizationData(campaign,action,strategyByActionId)" ng-if="actionItems" id="actionItem_{{action.ad_id}}{{action.id}}"class="row each_action_performance" ng-repeat="action in actionItems | orderBy:'created_at':true | filter:actionsFilter">
                                <div class="circle_action col-md-1" style="border:solid 4px {{action.action_color}}"></div>
                                <div class="each_campaign_perf_details col-md-11">
                                    <div class="row each_action_perf_header clearfix">
                                        <div class="each_action_name">{{action.created_by_name}}</div>
                                        <div class="each_action_time" title="{{action.created_at | formatActionDate }}"> {{action.created_at | formatActionDate }}</div>
                                        <div class="action_filter each_action_impact" title="Impacts {{action.metric_impacted}}">Impacts {{action.metric_impacted}}</div>
                                        <div class="action_filter each_action_geo" title="{{action.action_sub_type | displayActionSubtypes}}">{{action.action_sub_type | displayActionSubtypes}}</div>
                                        <div class="action_filter each_action_opt" title="{{action.action_type_name}}">{{action.action_type_name}}</div>
                                    </div>
                                    <div class="each_action_perf_note">{{action.comment}}</div>
                                    <div class="each_action_perf_filter">{{action.ad_name}}</div>
                                </div>
                            </div>
                            <div ng-if="!actionItems" id="noActionItem"class="row each_action_performance">
                                <div class="each_campaign_perf_details col-md-11">
                                    <div class="each_action_perf_filter">
                                        No Actions Available
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="campaign-performance-container-two">
                <div class="col-md-3">
                    <div class="col-md-12">
                        Flight Dates
                    </div>
                    <div class="col-md-12">
                        {{campaign.startDate | date :'d MMM y' }}
                         -
                        {{campaign.endDate | date :'d MMM y' }}
                    </div>
                </div>
                <div class="col-md-3 spend_detail">
                    <div class="col-md-12">
                        TOTAL CAMPAIGN BUDGET
                    </div>
                    <div class="col-md-12" ng-if="campaign.totalMediaCost">
                        ${{campaign.totalMediaCost | number}}
                    </div>
                    <div class="col-md-12" ng-if="!campaign.totalMediaCost">
                        NA
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        KPI
                    </div>
                    <div class="col-md-12" ng-if="campaign.kpiValue && campaign.kpiType">
                        {{campaign.kpiValue | kpiFormatter:campaign.kpiType}} <span>{{campaign.kpiType}}</span>
                    </div>
                    <div class="col-md-12" ng-if="!campaign.kpiValue && !campaign.kpiType">
                        NA
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <br><!--TODO - remove break and add spacing-->
    <div id="detailedPage" class="campaigns_details_holder">

          <!--date holder-->
          <div class="clearfix flight_dates_holder">
                <div class="each_col col_first">
                    <div class="col_heading">Flight Dates</div>
                    <div class="days_left_holder">
                        <div class="total_days_holder">
                            
                            <div class="clearfix days_end_points">
                                    <span class="start_end">{{campaign.startDate | date :'d MMM y' }}</span>
                                    <span class="finish_end">{{campaign.endDate | date :'d MMM y' }}</span>
                            </div>
                            <div class="days_over" style="width: {{(campaigns.durationLeft(campaign)!=0)?campaigns.durationCompletion(campaign):'3'}}%;" ng-switch on="campaigns.durationLeft(campaign)">
                                <!-- <div class="days_over_text">10 Days Left</div> -->
                                <span ng-switch-when="0" class="days_over_text start_text">Yet to start</span>
                                <span ng-switch-when="-1" class="days_over_text ended_text" >Ended</span>
                                <span ng-switch-default class="days_over_text">{{campaigns.durationLeft(campaign)}} Days Left</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="each_col col_sec">
                    <div class="col_heading">KPI</div>
                    <div class="col_val">
                        {{campaign.kpiValue | kpiFormatter:campaign.kpiType}} {{campaign.kpiType ? campaign.kpiType : 'NA' | toUpperCase}}
                    </div>
                </div>
                <div class="each_col col_third">
                    <div class="col_heading">Imps.</div>
                    <div class="col_val">
                        {{campaigns.cdbDataMap[campaign.orderId].impressions | number}}
                    </div>
                </div>
                <div class="each_col col_forth">
                    <div class="col_heading">CTR</div>
                    <div class="col_val">
                        {{campaigns.cdbDataMap[campaign.orderId].getCTR()}}%
                    </div>
                </div>
                <div class="each_col col_fifth">
                    <div class="col_heading">Action Rate</div>
                    <div class="col_val">
                        {{campaigns.cdbDataMap[campaign.orderId].getActionRate()}}%
                    </div>
                </div>
                <div class="each_col col_six">
                    <div class="col_heading clearfix">Spend
                        <span class="metric_val">${{campaigns.cdbDataMap[campaign.orderId].getGrossRev() | number}}</span>
                    </div>
                    <div class="metric_graph {{getSpendClass(campaign)}}">
                            <div class="full_metric_graph">
                                <div class="selected_graph {{(getSpendWidth(campaign) >= 100) ? 'completely_filled' : ''}} " style="width: {{getSpendWidth(campaign)}}%;"> <!-- put completely_filled when 100% -->
                                </div>
                                <div class="graph_start_point {{(getSpendTickWidth(campaign) <= 0) ? 'start_beginning' : ''}} {{(getSpendTickWidth(campaign) >= 100) ? 'start_end_point' : ''}}" style="left: {{getSpendTickWidth(campaign)}}%;"><!-- put start_beginning when at start -->
                                    <div class="end_point_val">
                                        <span class="icon_KPI"> ${{campaign.expectedMediaCost | number:2}}</span>
                                        <div class="end_point_line"></div>
                                    </div>
                                </div>
                                <div class="graph_end_point completed_end_point " ng-hide="campaign.expectedMediaCost == campaign.totalMediaCost"><!-- put completed_end_point when at end -->
                                    <div class="end_point_val">
                                        <div class="end_point_line"></div>
                                        <span>${{campaign.totalMediaCost | number:2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
          </div>
          <!--date holder ends-->

        <div class="row-fluid">
            <!--Directive for Campaign sort -->
            <div campaign-sort campaigns="campaigns"></div>
                <div class="total_campaign_list_holder">
                    <!--reusing the campaign and strategy partial view -->
                    <div campaign-strategy-card campaign="campaign" campaigns="campaigns"></div>
                </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function() {
      $("#error_more_comment").hide();
      $( ".dropdown_ul_text" ).click(function() {
          $( ".dropdown_ul" ).toggle();
       });
      $(".dropdown_ul li").click( function() {
        $(this).closest(".dropdown").find(".dd_txt").text($(this).text()) ;
      }) ;
      $( document ).click(function() {
          if($(".dropdown_ul").is(':visible')) {
              $(".dropdown_ul").hide();
          }
      });
      setTimeout(function() {
        $('[data-toggle="tooltip"]').tooltip(); 

        $('.each_activity_log').hover(function(){
          $('.activity_log_list').find('.active').removeClass('active');
          $(this).addClass('active');
        });
      },5000);
      $('#action_submit_btn').bind("click", function() {
          var txt = $.trim(jQuery("#action_comment").val());
          jQuery("#action_comment").val(txt);
         
      });
      $('#action_comment').bind("change keyup", function() {
          var txt = (jQuery("#action_comment").val());
          var max_length = $(this).attr("maxlength")
          if(txt.length == max_length ){
            $("#error_more_comment").show();
            $("#error_more_comment").html('You cannot enter more than '+max_length + ' characters ');
          }
          else{
             $("#error_more_comment").hide();
          }
         
      });
       $('#action_comment').bind("blur", function() {
          $("#error_more_comment").hide();
       });
      
      
  });
</script>
