<div id="campaignDetail" class="container">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="detailed-campaign-bar clearfix">
                <div class="col-md-10">
                    <h1 class="detailed-campaign-name">
                        {{campaign.campaignTitle}}
                    </h1>
                </div>
                <div class="col-md-1">
                    <a href="campaigns/402105" ng-click="campaigns.editCampaign(campaign)">
                    <span class="icons-bckground" id="icon-campaign-edit"></span>
                    </a>
                </div>
                <div class="col-md-1">
                    <a href="reports/reports/402105" ng-click="campaigns.campaignReports(campaign)">
                    <span class="icons-bckground" id="icon-campaign-report"></span>
                    </a>
                </div>
                <div class="col-md-12 report_title">
                    <div class="brand">
                        <span class="bold">{{campaign.brandName}}</span>
                        <span class="brand-type"> </span>
                    </div>
                </div>

                <div class="row actions_holder clearfix">

                      <form>
                        <div class="row actions_filters">
                              <div class="col-md-1 action_filter_heading">Action</div>
                              <div class="col-md-9">
                                
                                <div class="row">
                                  <div class="col-md-3 action_dd">
                                    <select  >
                                      <option>Optimization</option>
                                      <option>Lorem Ipsum</option>
                                      <option>Lorem Ipsum</option>
                                    </select>
                                  </div>
                                  <div class="col-md-3 action_dd">
                                    <select  >
                                      <option>Geo</option>
                                      <option>Lorem Ipsum</option>
                                      <option>Lorem Ipsum</option>
                                    </select>
                                  </div>
                                  <div class="col-md-5 action_dd action_dd_third">
                                    <select  >
                                      <option>Toyota Camry for Female HHI</option>
                                      <option>Lorem Ipsum</option>
                                      <option>Lorem Ipsum</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="note_area">
                                  <textarea class="action_textarea">Optimized geo to include the whole area. This will surely help the delivery. As per our Email discussion</textarea>
                                  <div class="note_area_border"></div>
                                </div>  
                              </div>
                              <div class="col-md-2">
                                <div class="row action_dd action_dd_last">
                                  <select  >
                                    <option>Metric Impacted</option>
                                    <option>Lorem Ipsum</option>
                                    <option>Lorem Ipsum</option>
                                  </select>
                                </div>
                              </div>
                              <div class="row action_submit_area clearfix">
                                <input type="submit" class="action_submit" value="Submit">    
                                <div class="external_chkbox clearfix">
                                    <div class="squaredFour">
                                      <input type="checkbox" id="squaredFour"  />
                                      <label for="squaredFour"></label>
                                      
                                    </div>       
                                    <span class="squaredFourTxt">External</span>
                                </div>
                                     
                              </div>
                        </div>
                        
                      </form>
                </div>


            </div>
        </div>
    </div>
    <div class="row-fluid" id="campaignPerformanceWrapper">
        <div class="col-md-12">
            <div class="campaign-performance-container">
                <div class="col-md-6">
                    <div class="col-md-12">
                        Campaign Performance
                    </div>
                    <div class="col-md-12">
                        <div class="highcharts" id="details_chart">
                            <highchart id="highcharts" config="details.actionChart" chartTitle=""></highchart>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-6">	       
                            History Of Actions
                        </div>
                        <div class="col-md-6">
                            <span class="campaign-external-dd-holder pull-right">
                                <div class="dropdown campaign-external-dd-holder">
                                      <span class="dropdown_ul_text" data-toggle="dropdown">
                                          <span class="dd_txt">External</span>
                                          <span class="arrrow_img"></span>
                                      </span>
                                      <ul class="dropdown_ul dropdown-menu">
                                          <li>All</li>
                                          <li>External</li>
                                      </ul>
                                  </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                       
                        <div id="action-container" class="campaign-performance-match">
                            <div ng-if="actionItems" id="actionItem_{{$index}}"class="row each_action_performance" ng-repeat='action in actionItems'>
                                <div class="circle_action col-md-1"></div>
                                <div class="each_campaign_perf_details col-md-11">
                                    <div class="row each_action_perf_header clearfix">
                                        <div class="each_action_name">{{action.created_by_name}}</div>
                                        <div class="each_action_time"> {{action.created_at | date : 'hh:m a'}}</div>
                                        <div class="action_filter each_action_impact">Impacts {{action.metric_impacted}}</div>
                                        <div class="action_filter each_action_geo">Geo</div>
                                        <div class="action_filter each_action_opt">{{action.action_type_name}}</div>
                                    </div>
                                    <div class="each_action_perf_note">{{action.comment}}</div>
                                    <div class="each_action_perf_filter">Toyota Camry for Female HHI</div>
                                </div>
                            </div>
                            <div ng-if="!actionItems" id="noActionItem"class="row each_action_performance">
                                <div class="each_campaign_perf_details col-md-11">
                                    <div class="each_action_perf_filter">
                                        No Actions Available
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="campaign-performance-container-two">
                <div class="col-md-3">
                    <div class="col-md-12">
                        Flight Dates
                    </div>
                    <div class="col-md-12">
                        {{campaign.startDate | date :'d MMM y' }}
                         -
                        {{campaign.endDate | date :'d MMM y' }}
                    </div>
                </div>
                <div class="col-md-3 spend_detail">
                    <div class="col-md-12">
                        TOTAL CAMPAIGN BUDGET
                    </div>
                    <div class="col-md-12" ng-if="campaign.totalMediaCost">
                        ${{campaign.totalMediaCost}}
                    </div>
                    <div class="col-md-12" ng-if="!campaign.totalMediaCost">
                        NA
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        KPI
                    </div>
                    <div class="col-md-12" ng-if="campaign.kpiValue && campaign.kpiType">
                        {{campaign.kpiValue}} <span>{{campaign.kpiType}}</span>
                    </div>
                    <div class="col-md-12" ng-if="!campaign.kpiValue && !campaign.kpiType">
                        NA
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><!--TODO - remove break and add spacing-->
    <div id="detailedPage" class="container">
        <div class="row-fluid">
            <!--Directive for Campaign sort -->
            <div campaign-sort campaigns="campaigns"></div>
            <!--reusing the campaign and strategy partial view -->
            <div campaign-strategy-card campaign="campaign"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $( ".dropdown_ul_text" ).click(function() {
          $( ".dropdown_ul" ).toggle();
       });
      $(".dropdown_ul li").click( function() {
        $(".dd_txt").text($(this).text()) ;
      }) ;
      $( document ).click(function() {
          if($(".dropdown_ul").is(':visible')) {
              $(".dropdown_ul").hide();
          }
      });
  });
</script>