<div id="detailedPage" class="container" data-ng-init="campaigns.fetchCampaigns()">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>{{campaigns.marketerName}}</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="search-cum-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-controller="BrandsController">
                        <div id="brandsDropdownDiv" style="display:inline;">
                            <input class="dropdown-toggle inactive" ng-model="selectedBrand.name" id="brandsDropdown" placeholder="ALL BRANDS"/>
                            <span class="sort-image-inactive" id="#brandsDropDownImg"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" id="brandsList">
                            <li ng-repeat="brand in brands" ng-hide="isExcludedByBrandFilter"
                                ng-controller="BrandsListController" class="{{brand.className}}">
                                <a data-ng-click="selectBrand(brand)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{brand.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-two">
                        <a class="dropdown-toggle active" data-toggle="dropdown" id="cdbMenu">
                            <span id="durationMenuText" ng-bind="campaigns.displayTimePeriod"></span>
                            <span class="sort-image-inactive"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cdbDropdown">
                            <li ng-repeat="timeData in campaigns.timePeriodList" class={{timeData.className}}>
                                <a data-ng-click="campaigns.filterByTimePeriod(timeData)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{timeData.display}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" durationholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->
                </ul>
            </div>
        </div>
        <div class="col-md-6 campaign-count">
            Total {{campaigns.totalCount}} campaigns
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="campaign-title-head">
                <ul class="clearfix top-margin">
                    <li class="col-md-6 pull-right">
                      <span class="time-period-hint" ng-bind="campaigns.displayTimePeriod"></span>
                    </li>
                </ul>
                <ul>
                    <li class="col-md-1">
                      <span>STATUS</span>
                    </li>
                    <li class="col-md-5">
                        <ul>
                          <li ng-repeat="sortField in campaigns.sortFieldList">
                            <a data-ng-click="campaigns.sortCampaigns(sortField.key)">
                              <span class="{{sortField.className}}">{{sortField.display}}&nbsp;<span class="{{campaigns.sortIcon(sortField.key)}}"></span> </span>
                            </a>
                          </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                      <span>METRICS</span>
                    </li>
                    <li class="col-md-3">
                      <span>KPI</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0">
    <div class="row-fluid" data-ng-repeat="campaign in campaigns.campaignList">
<!-- {{campaign | json}} -->
        <div class="col-md-12">
            <div class="campaign">
                <div class="col-md-1">
                    <div><span class={{campaign.status}}></span></div>
                    <div><span class="marg-10"> {{campaign.status | toCamelCase}}  </span></div>
                    <div class="edit-stats-icons">
                        <div>
                          <a href="campaigns/{{campaign.orderId}}" ng-click="campaigns.editCampaign(campaign)">
                            <span class="icons-bckground" id="icon-campaign-edit"></span>
                          </a>
                        </div>
                        <div>
                          <a href="reports/reports/{{campaign.orderId}}" ng-click="campaigns.campaignReports(campaign)">
                            <span class="icons-bckground" id="icon-campaign-report"></span>
                          </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <span class="campaign-name"> {{campaign.campaignTitle}} </span>
                    <div class="brand">
                        <span class="bold">{{campaign.brandName }}</span>
                        <span class="brand-type"><!-- Note: vertical will be placed here Refer [CD-324] --></span>
                    </div>
                    <div class="duration"> 
                        <span class="date">
                        {{campaign.startDate | date :'d MMM y' }}
                         -
                        {{campaign.endDate | date :'d MMM y' }}
                        </span>
                        <div class="duration-bar">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{campaigns.durationCompletion(campaign)}}%;">
                                </div>
                            </div>
                          <div class="days-left" ng-switch on="campaigns.durationLeft(campaign)">
                            <span ng-switch-when="0">Yet to start</span>
                            <span ng-switch-when="-1">Ended</span>
                            <span ng-switch-default>
                              <span class="day-count bold">{{campaigns.durationLeft(campaign)}}</span> Days left
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div>
                            <div class="strategies">
                                <div class="panel-title" ng-click="showStrategies(campaign.orderId, campaign.lineitemsCount)">
                                   <!--  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> -->
                                        <span class="bold">{{campaign.lineitemsCount}} </span> <span class="strat-text"> Strategies </span>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 marg-10">
                    <div class="row-fluid marg-10">
                        <div class="col-md-6">
                            Spend
                        </div>

                        <div class="col-md-6">
                            <div class="imps">Imps.</div>
                            <div class="imps-count">{{campaigns.cdbDataMap[campaign.orderId].impressions | number}}</div>

                            <!-- <span class="blue">103,240</span><span class="suffix"><span class="seperator"> / </span></span> -->

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <div class="ctr-container {{getSpendClass(campaign)}}">
                                <div class="blue margin-twenty">
                                    ${{campaigns.cdbDataMap[campaign.orderId].getGrossRev() | number}}
                                </div>
                                <div class="blue">
                                    {{getSpendDifference(campaign)}}%
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{getSpendWidth(campaign)}}%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>CTR</div>
                            <div class="ctr-value"> {{campaigns.cdbDataMap[campaign.orderId].getCTR()}}% </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <div class="pull-right">
                                Action Rate   
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="goal-image"></span> 
                            <span class="action-data">${{campaign.expectedMediaCost | number}}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="action-data">{{campaigns.cdbDataMap[campaign.orderId].getActionRate()}}%</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 marg-10">
                    <div class="row-fluid marg-10">
                        <div class="col-md-2 kpi-text-container">
                            <span class="cpa-color">{{campaign.kpiType ? campaign.kpiType : 'NA'}}</span>
                        </div>
                        <div class="col-md-10 kpi-values">
                            <span class="cumulative-text"> Cumulative Value </span> 
                            <span class="bold"> {{campaign.kpiAvgValue | kpiFormatter:campaign.kpiType}}</span>
                            <div>
                                <span class="kpi-goal"></span>
                                <span class="bold">{{campaign.kpiValue | kpiFormatter:campaign.kpiType}}</span>    
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding: 0;">
                            <div class="highcharts" ng-if="!campaign.chart || !campaign.kpiType">
                                <!--temporaty place holder-->
                                    <span class="no-chart">Data Not Available</span>
                                <!--temporaty place holder ends-->
                            </div>
                            <div class="highcharts" ng-if="campaign.chart && campaign.kpiType">
                                 <highchart id="highcharts" config="campaign.chart" chartTitle=""></highchart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- strategies -->
        <div id="strategies-accordion-{{campaign.orderId}}" class="col-md-12 inner-accordion-wrapper">
            <div ng-show='!campaign.campaignStrategies' class="load-more">&nbsp;</div>
            <div id="collapseOne" class="clearfix inner-accordion  first"  ng-repeat="strategy in campaign.campaignStrategies">
                <div  class="panel-collapse collapse in pull-right">
                    <div class="panel-body row-fluid">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <span class="{{strategy.li_status}}"></span>
                                <div><span class="marg-10"> {{strategy.li_status}} </span></div>
                            </div>
                            <div class="col-md-4">
                                <span class="campaign-name"> {{strategy.name | truncateString : 78}}</span>
                                <div class="inner-accordion-details">
                                    <div>
                                        <span class="audience-icon"></span>
                                        <span> {{strategy.selected_key_values | truncateString : 78}}</span>
                                    </div>
                                    <div>
                                        <span class="globe-icon"></span>
                                        <span> Milwaukee, WI Charlotte, NC Washington, DC [...]</span>
                                    </div>
                                    <div>
                                        <span class="location-icon"></span>
                                        <span>[...]</span>
                                    </div>
                                    <div class="duration">
                                        <span class="device-icon"></span>
                                        <span>{{(strategy.ad_size ? (strategy.ad_size | truncateString : 50) :'[...]')}}</span>
                                    </div>
                                </div>
                                <div class="inner-accordion-duration">
                                    <div class="duration"> 
                                        <span class="date">
                                        {{strategy.startDate | date :'d MMM y' }} 
                                            -  
                                        {{strategy.endDate | date :'d MMM y' }} 
                                        </span>
                                        <div class="duration-bar">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{campaigns.durationCompletion(strategy)}}%;">
                                                </div>
                                            </div>
                                          <div class="days-left" ng-switch on="campaigns.durationLeft(strategy)">
                                            <span ng-switch-when="0">Yet to start</span>
                                            <span ng-switch-when="-1">Ended</span>
                                            <span ng-switch-default>
                                              <span class="day-count bold">{{campaigns.durationLeft(strategy)}}</span> Days left
                                            </span>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="col-md-6">
                                            Spend
                                        </div>
                                        <div class="col-md-6">
                                            <div class="imps">Imps.</div>
                                            <div class="imps-count">{{strategy.totalImpressions | number}}</div> 
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-6">
                                            <div class="ctr-container">
                                                <div class="blue margin-twenty">
                                                    ${{strategy.grossRev | number}}
                                                </div>
                                                <div class="blue">
                                                    
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                        <span class="sr-only">100% Complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="marg-10">CTR</div>
                                            <div class="ctr-value"> {{strategy.ctr | roundThisOff : 2}}% </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                Action Rate   
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="goal-image"></span> 
                                            <span class="action-data">${{strategy.expectedMediaCost | number}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="action-data">{{strategy.actionRate | roundThisOff : 2}}%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row-fluid">
                                        <div class="col-md-2 kpi-text-container">
                                            <span class="cpa-color">{{campaign.kpiType ? campaign.kpiType : 'NA'}}</span>
                                        </div>
                                        <div class="col-md-10 kpi-values">
                                            <span class="cumulative-text"> Cumulative Value </span> 
                                            <span class="bold"> {{campaign.kpiAvgValue | kpiFormatter:campaign.kpiType}}</span>
                                            <div>
                                                <span class="kpi-goal"></span>
                                                <span class="bold">{{campaign.kpiValue | kpiFormatter:campaign.kpiType}}</span>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-12" style="padding: 0;">
                                            <div class="highcharts" ng-if="!strategy.chart || !campaign.kpiType">
                                                <span class="strategies-no-chart">Data Not Available</span>
                                            </div>
                                            <div class="highcharts" ng-if="strategy.chart && campaign.kpiType">
                                                <highchart id="highcharts-strategies" config="strategy.chart" chartTitle=""></highchart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if='campaign.campaignStrategiesLoadMore.length' class="load-more-strategies"><a ng-click="loadMoreStrategies(campaign.orderId)"> Load More Strategies</a></div>  
        <!-- strategies ends-->
    </div>
    </div>
    <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
</div>

<script type="text/javascript">
//    $('.collapse').collapse();
    $(document).ready(function() {

        $( "#cdbMenu" ).click(function() {
            $( "#cdbDropdown" ).toggle();
         });
        $("#brandsDropdownDiv").click(function() {
            $("#brandsList").toggle();
        });
        $( document ).click(function() {
            if($("#cdbDropdown").is(':visible')) {
                $("#cdbDropdown").hide();
            }
            if(!$("#brandsDropdown").is(':focus')) {
                if(event.target.id != "#brandsDropDownImg") {
                    $("#brandsList").hide();
                }
            }
        });

     
    });
</script>
