<!-- <div class="row-fluid">
        <div class="col-md-12">
            <div class="campaign-title-head">
                <ul class="clearfix top-margin">
                    <li class="col-md-6 pull-right">
                      <span class="time-period-hint" ng-bind="campaigns.displayTimePeriod"></span>
                    </li>
                </ul>
                <ul>
                    <li class="col-md-1">
                      <span>STATUS</span>
                    </li>
                    <li class="col-md-5">
                        <ul>
                          <li ng-repeat="sortField in campaigns.sortFieldList">
                            <a data-ng-click="campaigns.sortCampaigns(sortField.key)">
                              <span class="{{sortField.className}}">{{sortField.display}}&nbsp;<span class="{{campaigns.sortIcon(sortField.key)}}"></span> </span>
                            </a>
                          </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                      <span>METRICS</span>
                    </li>
                    <li class="col-md-3">
                      <span>KPI</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
<div class="clearfix campaign_list_header_holder">
    <!-- <div class="each_header_title campaign_title" style="display:none;">
        Campaign<span class="sortable"></span>
    </div> --> 
    <div class="each_header_title brand_title active_title {{$parent.details.sortClass('brandName')}}" ng-click="$parent.details.sortStrategies('brandName')">
        Brand<span class="sortable {{$parent.details.sortIcon('brandName')}}"></span>
    </div>
    <div class="each_header_title flight_dates_title {{$parent.details.sortClass('startDate')}}" ng-click="$parent.details.sortStrategies('startDate')">
        Flight Dates<span class="sortable {{$parent.details.sortIcon('startDate')}}"></span>
    </div>
    <div class="each_header_title metrics_title">
        METRICS (LIFETIME)
    </div>
    <div class="each_header_title kpi_title">
        KPI
    </div>                
</div>{{actionsFilter}}