<div id="detailedPage" class="dashboard_outer_container" data-ng-init="campaigns.fetchCampaigns()">
 <!-- header-->
    <div class="clearfix page_header_container">
        <div class="pull-left campaign_name_holder">
            <span class="campaign_name">{{campaigns.marketerName}}</span>
            <span class="campaign_name_details">( {{campaigns.totalCount}} {{(campaigns.totalCount == 0 || campaigns.totalCount > 1  ? 'Campaigns' : 'Campaign' )}} )</span>
        </div>
        <div class="pull-right clearfix page_filters">
            <div class="search-cum-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown each_filter brands_filter" ng-controller="BrandsController">
                        <div id="brandsDropdownDiv" style="display:inline;">
                            <input class="dropdown-toggle inactive" ng-model="selectedBrand.name" id="brandsDropdown" placeholder="ALL BRANDS"/>
                            <span class="sort-image-inactive" id="#brandsDropDownImg"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" id="brandsList">
                            <li ng-repeat="brand in brands" ng-hide="isExcludedByBrandFilter"
                                ng-controller="BrandsListController" class="{{brand.className}}">
                                <a data-ng-click="selectBrand(brand)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{brand.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-two each_filter lifetime_filter">
                        <a class="dropdown-toggle active" data-toggle="dropdown" id="cdbMenu">
                            <span id="durationMenuText" ng-bind="campaigns.displayTimePeriod"></span>
                            <span class="sort-image-inactive"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cdbDropdown">
                            <li ng-repeat="timeData in campaigns.timePeriodList" class={{timeData.className}}>
                                <a data-ng-click="campaigns.filterByTimePeriod(timeData)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{timeData.display}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 <!-- header ends-->

    <div class="fixed_line"></div>
    <div class="fixed_container">
        <!--dashboard (status bar) partial view-->
        <div campaign-dashboard campaigns="campaigns"></div>
        <!--dashboard (status bar) partial view ends-->

        <div class="summary_title">
            <span class="heading">Showing: </span>
            <span>3 Underperforming Active Campaigns</span>
        </div>

        <div class="cost_col_header_tabs_holder">
            <div class="clearfix cost_tabs_margin">
                <div class="clearfix cost_tabs_holder">
                    <div class="each_tab">
                        <div class="each_tab_text">
                            Performance
                        </div>
                    </div>
                    <div class="each_tab cost_tab active">
                        <div class="each_tab_text">
                            Cost Breakdown
                        </div>
                    </div>
                </div>
                <div class="cost_margin">
                    Margin: 20.00%
                </div>
            </div>
            
            <!--new sort header  cost-->
            <div class="clearfix cost_col_container campaign_cost_header_holder">
                <div class="each_cost_col first_col active">Imps.</div>
                <div class="each_cost_col second_col">CPA<span class="sortable"></span></div>
                <div class="each_cost_col three_col">Inventory</div>
                <div class="each_cost_col four_col">Data</div>
                <div class="each_cost_col five_col">Ad Serving</div>
                <div class="each_cost_col six_col">Rich Media</div>
                <div class="each_cost_col sev_col">Research</div>
                <div class="each_cost_col eight_col">Ad Verification</div>
                <div class="each_cost_col ninth_col">Platform</div>
                <div class="each_cost_col tenth_col total_cost">Total Spend</div>    
                <div class="more_options">
                    <div class="dropdown">
                        <span data-toggle="dropdown">
                            <span class="dd_txt">
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                            </span>
                        </span>
                        <ul class="dropdown-menu">
                            <li>Campaign Name</li>
                            <li>Brand</li>
                            <li>Flight dates</li>
                        </ul>
                    </div>
                   
                </div>  
            </div><!--cost header ends-->

            <!--filter (campaign sort filter) partial view-->
            <div campaign-list-sort campaigns="campaigns" style="display:none"></div>
            <!--filter (campaign sort filter) partial view ends-->
        
        </div>

        
    </div>

    <div class="scrollable_container">

        <!--cost -->
        <div class="total_campaign_cost_holder" style="display:none">
            <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0" class="all_campaigns_container">
                <div class="each_campaign_cost_container" data-ng-repeat="campaign in campaigns.campaignList">
                <div class="clearfix" >
                    <div class="each_cost_section status_section">
                        <div class="status_icon"></div>
                    </div>
                    <div class="each_cost_section other_details">
                        <div class="clearfix">

                            <div class="each_cost_details">
                            
                                <div class="main_heading">
                                    Fall 2014 Toyota Camry New Generation Launch Campaign Fall 2014 Toyota
                                </div>
                                <div class="heading">
                                    <span>
                                        Camry Automotive
                                    </span>
                                    <span class="dates_details">
                                        28 Nov 2014 - 30 Dec 2014 (10 Days Left)
                                    </span>
                                </div>
                            </div>
                            <div class="cost_metric_graph">
                                <div class="clearfix metric_and_values_graph">
                                    <div class="metric_graph_details_val">
                                        <div>Spend</div>
                                        <div>$25,000</div>
                                    </div>
                                    <div class="metric_graph">
                                        <div class="full_metric_graph">
                                            <div class="selected_graph"> <!-- put completely_filled when 100% -->
                                            </div>
                                            <div class="graph_start_point start_beginning"><!-- put start_beginning when at start -->
                                                <div class="end_point_val">
                                                    <span>$453,43</span>
                                                    <div class="end_point_line"></div>
                                                </div>
                                            </div>
                                
                                        </div>
                                     </div>
                                     <div class="metric_graph_details_val">
                                        <div>Budget</div>
                                        <div>$25,000</div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="clearfix cost_col_container cost_cols_holder">
                        <div class="each_cost_col first_col">12300</div>
                        <div class="each_cost_col second_col">12300</div>
                        <div class="each_cost_col three_col">$12300</div>
                        <div class="each_cost_col four_col">$12300</div>
                        <div class="each_cost_col five_col">$12300</div>
                        <div class="each_cost_col six_col">$12300</div>
                        <div class="each_cost_col sev_col">$12300</div>
                        <div class="each_cost_col eight_col">$12300</div>
                        <div class="each_cost_col ninth_col">$12300</div>
                        <div class="each_cost_col tenth_col total_cost">$12300</div>
                </div>
            </div>
                
            </div>
        </div>

        <!--cost ends-->

        <div class="total_campaign_list_holder" >
            <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0" class="all_campaigns_container">
                <div class="row-fluid each_campaign_holder" data-ng-repeat="campaign in campaigns.campaignList">
                        <!-- campaign strategy card -->
                        <div campaign-card campaign="campaign" campaigns="campaigns"></div>
                        <!-- campaign strategy card ends-->
                </div>
            </div>
            <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
        </div>
    </div><!--end of scrollable container-->
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $( "#cdbMenu" ).click(function() {
            $( "#cdbDropdown" ).toggle();
         });
        $("#brandsDropdownDiv").click(function() {
            $("#brandsList").toggle();
        });
        $( document ).click(function(event) {
            if($("#cdbDropdown").is(':visible')) {
                $("#cdbDropdown").hide();
            }
            if(!$("#brandsDropdown").is(':focus')) {
                if(event.target.id != "#brandsDropDownImg") {
                    $("#brandsList").hide();
                }
            }
        });
        $(window).scroll( function() {
            var scroll_top = $(window).scrollTop() ;
            var fixed_div_top = $(".fixed_line").offset().top ;
            var fixed_height = $(".fixed_container").height() ;
            if( scroll_top < fixed_div_top ) {
                $(".fixed_container").removeClass("isFixed") ;
                $(".scrollable_container").css("margin-top" , "0px" ) ;
            } else {
                $(".fixed_container").addClass("isFixed") ;
                $(".scrollable_container").css("margin-top" , fixed_height ) ;
            }
        }) ; 
    });
</script>
