<div id="detailedPage" class="dashboard_outer_container" data-ng-init="campaigns.fetchCampaigns()">
 <!-- header-->
    <div class="clearfix page_header_container">
        <div class="pull-left campaign_name_holder">
            <span class="campaign_name">{{campaigns.marketerName}}</span>
            <span class="campaign_name_details">( {{campaigns.totalCount}} {{(campaigns.totalCount == 0 || campaigns.totalCount > 1  ? 'Campaigns' : 'Campaign' )}} )</span>
        </div>
        <div class="pull-right clearfix page_filters">
            <div class="search-cum-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown each_filter brands_filter" ng-controller="BrandsController">
                        <div id="brandsDropdownDiv" style="display:inline;">
                            <input class="dropdown-toggle inactive" ng-model="selectedBrand.name" id="brandsDropdown" placeholder="ALL BRANDS"/>
                            <span class="sort-image-inactive" id="#brandsDropDownImg"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu" id="brandsList">
                            <li ng-repeat="brand in brands" ng-hide="isExcludedByBrandFilter"
                                ng-controller="BrandsListController" class="{{brand.className}}">
                                <a data-ng-click="selectBrand(brand)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{brand.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-two each_filter lifetime_filter">
                        <a class="dropdown-toggle active" data-toggle="dropdown" id="cdbMenu">
                            <span id="durationMenuText" ng-bind="campaigns.displayTimePeriod"></span>
                            <span class="sort-image-inactive"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cdbDropdown">
                            <li ng-repeat="timeData in campaigns.timePeriodList" class={{timeData.className}}>
                                <a data-ng-click="campaigns.filterByTimePeriod(timeData)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{timeData.display}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 <!-- header ends-->

    <div class="fixed_line"></div>
    <div class="fixed_container">
        <!--dashboard (status bar) partial view-->
        <div campaign-dashboard campaigns="campaigns"></div>
        <!--dashboard (status bar) partial view ends-->

<!--
        <div class="summary_title">
            <span class="heading">Showing: </span>
            <span>3 Underperforming Active Campaigns</span>
        </div>
-->

        <div class="cost_col_header_tabs_holder">
            <div class="clearfix cost_tabs_margin">
                <div class="clearfix cost_tabs_holder">
                    <div class="each_tab active" id="performance_tab">
                        <div class="each_tab_text">
                            Performance
                        </div>
                    </div>
                    <div class="each_tab cost_tab" id="cost_tab">
                        <div class="each_tab_text">
                            Cost Breakdown
                        </div>
                    </div>
                </div>
                <div class="cost_margin" style="display:none;">
                    Margin: 20.00%
                </div>
            </div>
            
            <!--cost filter -->
            <div campaign-cost-sort class="clearfix filter_header_block cost_col_container campaign_cost_header_holder"  campaigns="campaigns" style="display:none" id="cost_filter_header"></div>  
            <!--cost  filter ends-->

            <!--filter (campaign sort filter) partial view-->
            <div campaign-list-sort campaigns="campaigns" id="performance_filter_header" class="filter_header_block" ></div>
            <!--filter (campaign sort filter) partial view ends-->
        
        </div>      
    </div>

    <div class="scrollable_container">
        <!-- COST DIV -->
        <div class="each_section_block total_campaign_cost_holder" id="cost_block" style="display:none" >
            <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0" class="all_campaigns_container">
                <div class="each_campaign_cost_container" data-ng-repeat="campaign in campaigns.campaignList">
                    <!-- campaign cost card -->
                    <div campaign-cost-card campaign="campaign" campaigns="campaigns"></div>
                     <!-- campaign cost card ends-->
                </div>
            </div>
            <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
        </div>
        <!-- END OF COST DIV -->

        <!-- PERFORMANCE DIV -->
        <div class="each_section_block total_campaign_list_holder"  id="performance_block" >
            <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0" class="all_campaigns_container">
                <div class="row-fluid each_campaign_holder" data-ng-repeat="campaign in campaigns.campaignList">
                    <!-- campaign strategy card -->
                    <div campaign-card campaign="campaign" campaigns="campaigns"></div>
                    <!-- campaign strategy card ends-->
                </div>
            </div>
            <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
        </div>
        <!-- END OF PERFORMANCE DIV -->
    </div><!--end of scrollable container-->
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $( "#cdbMenu" ).click(function() {
            $( "#cdbDropdown" ).toggle();
         });
        $(".each_tab").click( function() {
            var tab_id = $(this).attr("id").split("_tab") ;
            $(".cost_tabs_margin").find(".active").removeClass("active") ;
            $(this).addClass("active") ;
            $(".each_section_block , .filter_header_block , .cost_margin ").hide() ;
            $( "#" + tab_id[0] + "_block , #" + tab_id[0] + "_filter_header , ." + tab_id[0] + "_margin"  ).show() ;
        }) ;
        $("#brandsDropdownDiv").click(function() {
            $("#brandsList").toggle();
        });
        $(".dropdown_ul li").click( function() {
            $(this).closest(".dropdown").find(".dd_txt").text($(this).text()) ;
        }) ;
        $( document ).click(function(event) {
            if($("#cdbDropdown").is(':visible')) {
                $("#cdbDropdown").hide();
            }
            if(!$("#brandsDropdown").is(':focus')) {
                if(event.target.id != "#brandsDropDownImg") {
                    $("#brandsList").hide();
                }
            }
        });
        $(window).scroll( function() {
            var scroll_top = $(window).scrollTop() ;
            var fixed_div_top = $(".fixed_line").offset().top ;
            var fixed_height = $(".fixed_container").height() ;
            if( scroll_top < fixed_div_top ) {
                $(".fixed_container").removeClass("isFixed") ;
                $(".scrollable_container").css("margin-top" , "0px" ) ;
            } else {
                $(".fixed_container").addClass("isFixed") ;
                $(".scrollable_container").css("margin-top" , fixed_height ) ;
            }
        }) ; 
    });
</script>
