<div id="campaignDetail" class="container">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="detailed-campaign-bar clearfix">
                <div class="col-md-10">
                    <h1 class="detailed-campaign-name">
                        Fall 2014 Toyota Camery New Generation Launch
                    </h1>
                </div>
                <div class="col-md-1">
                    <a href="campaigns/402105" ng-click="campaigns.editCampaign(campaign)">
                    <span class="icons-bckground" id="icon-campaign-edit"></span>
                    </a>
                </div>
                <div class="col-md-1">
                    <a href="reports/reports/402105" ng-click="campaigns.campaignReports(campaign)">
                    <span class="icons-bckground" id="icon-campaign-report"></span>
                    </a>
                </div>
                <div class="col-md-12">
                    <div class="brand">
                        <span class="bold">Camry</span>
                        <span class="brand-type"> Automative</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="campaignPerformanceWrapper">
        <div class="col-md-12">
            <div class="campaign-performance-container">
                <div class="col-md-6">
                    <div class="col-md-12">
                        Campaign Performance
                    </div>
                    <div class="col-md-12">
                        <div class="highcharts" id="details_chart">
                            <highchart id="highcharts" config="campaign.actionChart" chartTitle=""></highchart>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-6">	       
                            History Of Actions
                        </div>
                        <div class="col-md-6">
                            <span class="campaign-external-sort pull-right">
                            external
                            <span class="descending"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="campaign-performance-match">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Alex Piecheta </span>
                                    </td>
                                    <td>
                                        <div> Optimized geo to include trhe whole area </div>
                                        <div> Changed Geo to New York, NY</div>
                                    </td>
                                    <td>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Sam Brown </span>
                                    </td>
                                    <td>
                                        <div> The new creatives are in </div>
                                        <div> Creatives updated</div>
                                    </td>
                                    <td>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Alex Piecheta </span>
                                    </td>
                                    <td>
                                        <div> Client signed ! </div>
                                        <div> Alex Piecheta attached a file </div>
                                    </td>
                                    <td>
                                        <span> Sept 12,</span>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Alex Piecheta </span>
                                    </td>
                                    <td>
                                        <div> Client signed ! </div>
                                        <div> Changed Geo to New York, NY</div>
                                    </td>
                                    <td>
                                        <span> Sept 11,</span>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Sam Brown </span>
                                    </td>
                                    <td>
                                        <div> The new creatives are in </div>
                                        <div> Creatives updated </div>
                                    </td>
                                    <td>
                                        <span> Sept 10,</span>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Alex Piecheta </span>
                                    </td>
                                    <td>
                                        <div> Optimized geo to include trhe whole area </div>
                                        <div> Changed Geo to New York, NY</div>
                                    </td>
                                    <td>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="circle"></span>
                                    </td>
                                    <td>
                                        <span> Alex Piecheta </span>
                                    </td>
                                    <td>
                                        <div> Optimized geo to include trhe whole area </div>
                                        <div> Changed Geo to New York, NY</div>
                                    </td>
                                    <td>
                                        <span> 6:22 PM</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="campaign-performance-container-two">
                <div class="col-md-3">
                    <div class="col-md-12">
                        Flight Dates
                    </div>
                    <div class="col-md-12">
                        28 Oct 2014 - 29 Nov 2014
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        Spend
                    </div>
                    <div class="col-md-12">
                        $630750
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        KPI
                    </div>
                    <div class="col-md-12">
                        3.5 <span>CPM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><!--TODO - remove break and add spacing-->
    <div id="detailedPage" class="container">
        <div class="row-fluid">
            <!--Directive for Campaign sort -->
            <div campaign-sort campaigns="campaigns"></div>
            <!--reusing the campaign and strategy partial view -->
            <div campaign-strategy-card campaign="campaign"></div>
        </div>
    </div>
</div>