<div class="campaign-list-container" data-ng-init="init()">
    <div id="detailedPage" class="container"></div>
    <div class="total_reports_page  ">
        <div class="reports_header_section">
            <div class="reports_header_tabs_holder">
                <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}"> {{tab.title}}</a></span>
            </div>
        <!----------------campaign dropdown--------------------->
        </div>
        <div class="inventory_reports_container" data-ng-init="init()">
            <div class="clearfix inventory_header">
                <large-list-search selected-obj=selectedCampaign></large-list-search>
            </div>
            <div class="clearfix"></div>
            <!----------------campaign dropdown--------------------->
            <!----------------strategy dropdown--------------------->
            <strategy-list selected-obj=selectedStrategy list-columns="strategies"></strategy-list>
            <!----------------strategy dropdown--------------------->

            <div class="no_data_found" ng-if="!strategyFound">
                Data Not Found
            </div>
            <div class="reports_main_page_holder" ng-show="strategyFound">
                <div class="reports_cost_header_holder">
                    <!--cost filter -->
                    <div class="clearfix cost_header_holder">
                        <div class="each_cost_col first_col active">Imps.<span class="sortable"></span></div>
                        <div class="each_cost_col second_col">

                                    <!--<report-filters selected-filter="selected_filters.kpi_type_text" list-object="filters.kpiTypes"-->
                                                    <!--flag="kpitypes"></report-filters>-->
                            <div class="dropdown" id="kpi_dropdown">
                                <span class="dropdown_ul_text" data-toggle="dropdown">
                        <span class="dd_txt ng-binding">CPA</span>
                        <span class="arrrow_img"></span>
                    </span>

                                <ul class="dropdown_ul dropdown-menu">
                                    <li id="cpa" _key="gross_ecpa" style="text-align: left">CPA</li>
                                    <li id="cpc" _key="cpc" style="text-align: left">CPC</li>
                                    <li id="cpm" _key="cpm" style="text-align: left">CPM</li>
                                    <li id="ctr" _key="ctr" style="text-align: left">CTR</li>
                                    <li id="action_rate" _key="action_rate" style="text-align: left">Action Rate</li>
                                </ul>
                            </div>

                        </div>
                        <div class="each_cost_col three_col">Inventory</div>
                        <div class="each_cost_col four_col">Data</div>
                        <div class="each_cost_col five_col">Ad Serving</div>
                        <div class="each_cost_col six_col">Rich Media</div>
                        <div class="each_cost_col sev_col">Research</div>
                        <div class="each_cost_col eight_col">Ad Verification</div>
                        <div class="each_cost_col ninth_col">Platform</div>
                        <div class="each_cost_col tenth_col total_cost">Total Spend<span class="sortable"></span></div>
                        <!--<div class="more_options">-->
                            <!--<div class="dropdown">-->
                    <!--<span data-toggle="dropdown">-->
                        <!--<span class="dd_txt">-->
                            <!--<span class="dots"></span>-->
                            <!--<span class="dots"></span>-->
                            <!--<span class="dots"></span>-->
                        <!--</span>-->
                    <!--</span>-->

                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="javascript:void(0);">Campaign Name<span class="sortable"></span></a></li>-->
                                    <!--<li><a href="javascript:void(0);">Brand<span class="sortable"></span></a></li>-->
                                    <!--<li><a href="javascript:void(0);">Flight dates<span class="sortable"></span></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                        <!--</div>-->
                    </div>
                    <!--cost  filter ends-->

                    <div class="cost_transparency_container">
                        <div class="each_cost_row_holder strategy_total_row">
                            <div class="each_cost_row">
                                <div class="common-load-icon" ng-show="strategyCostBusy"></div>
                                <div class="each_cost_heading" >
                                    Strategy Total
                                </div>
                                <div class="no_data_found_cost_strategy" ng-if="dataNotFound">
                                    Data Not Found
                                </div>
                                <div class="clearfix cost_col_container cost_cols_holder" ng-repeat="strategy in strategyCostData" ng-if="!dataNotFound">
                                    <div class="each_cost_col first_col">{{strategy.impressions | number:0}}</div>
                                    <div class="each_cost_col second_col">{{strategy.gross_ecpa}}</div>
                                    <div class="each_cost_col three_col">${{strategy.inventory_cost | number:0}}</div>
                                    <div class="each_cost_col four_col">${{strategy.data_cost | number:0}}</div>
                                    <div class="each_cost_col five_col">${{strategy.ad_serving_cost | number:0}}</div>
                                    <div class="each_cost_col six_col">${{strategy.rich_media_cost | number:0}}</div>
                                    <div class="each_cost_col sev_col">${{strategy.research_cost | number:0}}</div>
                                    <div class="each_cost_col eight_col">${{strategy.ad_verification_cost | number:0}}</div>
                                    <div class="each_cost_col ninth_col">${{strategy.platform_cost | number:0}}</div>
                                    <div class="each_cost_col tenth_col total_cost">${{strategy.total | number:2}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="all_startegy_cost">
                            <div class="common-load-icon" ng-show="tacticCostBusy">&nbsp;</div>
                            <div class="each_cost_row_holder" ng-repeat="tactic in tacticsCostData">
                                <div class="each_cost_row">
                                    <div class="each_cost_heading" >
                                        {{tactic.name}}
                                    </div>

                                    <div class="clearfix cost_col_container cost_cols_holder">
                                        <div class="each_cost_col first_col">{{tactic.impressions | number:0}}</div>
                                        <div class="each_cost_col second_col">{{tactic.gross_ecpa}}</div>
                                        <div class="each_cost_col three_col">${{tactic.inventory_cost | number:0}}</div>
                                        <div class="each_cost_col four_col">${{tactic.data_cost | number:0}}</div>
                                        <div class="each_cost_col five_col">${{tactic.ad_serving_cost | number:0}}</div>
                                        <div class="each_cost_col six_col">${{tactic.rich_media_cost | number:0}}</div>
                                        <div class="each_cost_col sev_col">${{tactic.research_cost | number:0}}</div>
                                        <div class="each_cost_col eight_col">${{tactic.ad_verification_cost | number:0}}</div>
                                        <div class="each_cost_col ninth_col">${{tactic.platform_cost | number:0}}</div>
                                        <div class="each_cost_col tenth_col total_cost">${{tactic.total | number:2}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

