<div class="campaign-list-container" data-ng-init="init()">
    <div id="detailedPage" class="container"></div>
    <div class="total_reports_page  ">
        <div class="reports_header_section">
            <div class="reports_header_tabs_holder">
                <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}"> {{tab.title}}</a></span>
            </div>
        <!----------------campaign dropdown--------------------->
        </div>
        <div class="inventory_reports_container" data-ng-init="init()">
            <div class="clearfix inventory_header">
                <div class="pull-left dropdown dropdown_type1">
                <span class="dropdown_ul_text clearfix" data-toggle="dropdown">
                    <span class="dd_txt" title="{{selectedCampaign.name}}">{{selectedCampaign.name  | formatUrl: 26}}</span>
                    <span class="arrrow_img"></span>
                </span>
                    <ul id="campaigns_list" class="dropdown_ul dropdown-menu">
                        <li ng-repeat="campaign in campaingns" _kpi="{{campaign.kpi_type}}" value="{{campaign.campaign_id}}">{{campaign.name  | formatUrl: 26}}</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <!----------------campaign dropdown--------------------->
            <!----------------strategy dropdown--------------------->
            <div class="clearfix dropdown dropdown_type2">
                <span class="dropdown_ul_text " data-toggle="dropdown">
                    <span class="dd_txt" title="{{selectedStrategy.name}}">{{selectedStrategy.name | formatUrl:26}}</span>
                    <span class="arrrow_img"></span>
                </span>

                <ul id="strategies_list" class="dropdown_ul dropdown-menu">
                    <li ng-repeat="strategy in strategies" value="{{strategy.id}}">{{strategy.name | formatUrl:26}}</li>
                </ul>
            </div>
            <!----------------strategy dropdown--------------------->
        </div>
    </div>
</div>