<div class="reports_main_page_holder">
    <div class="reports_cost_header_holder">
        <!--cost filter -->
        <div class="clearfix cost_header_holder">
            <div class="each_cost_col first_col active">Imps.<span class="sortable"></span></div>
            <div class="each_cost_col second_col">
                <div class="dropdown">
                    <span class="dropdown_ul_text" data-toggle="dropdown">
                        <span class="dd_txt ng-binding">CPA</span>
                        <span class="arrrow_img"></span>
                    </span>

                      <ul class="dropdown_ul dropdown-menu">
                          <li>CPA</li>
                          <li>CPC</li>
                          <li>CPM</li>
                          <li>CTR</li>
                      </ul>
                </div>

            </div>
            <div class="each_cost_col three_col">Inventory</div>
            <div class="each_cost_col four_col">Data</div>
            <div class="each_cost_col five_col">Ad Serving</div>
            <div class="each_cost_col six_col">Rich Media</div>
            <div class="each_cost_col sev_col">Research</div>
            <div class="each_cost_col eight_col">Ad Verification</div>
            <div class="each_cost_col ninth_col">Platform</div>
            <div class="each_cost_col tenth_col total_cost">Total Spend<span class="sortable"></span></div>    
            <div class="more_options">
                <div class="dropdown">
                    <span data-toggle="dropdown">
                        <span class="dd_txt">
                            <span class="dots"></span>
                            <span class="dots"></span>
                            <span class="dots"></span>
                        </span>
                    </span>
                    
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">Campaign Name<span class="sortable"></span></a></li>
                        <li><a href="javascript:void(0);">Brand<span class="sortable"></span></a></li>
                        <li><a href="javascript:void(0);">Flight dates<span class="sortable"></span></a></li>
                    </ul>
                </div>
               
            </div>  
        </div>
        <!--cost  filter ends-->

        <div class="cost_transparency_container">
            <div class="each_cost_row_holder strategy_total_row">
                <div class="each_cost_row">
                        <div class="each_cost_heading" >
                            Strategy Total
                        </div>

                        <div class="clearfix cost_col_container cost_cols_holder">
                                <div class="each_cost_col first_col">433,000</div>
                                <div class="each_cost_col second_col">543,653.00</div>
                                <div class="each_cost_col three_col">$548,935.00</div>
                                <div class="each_cost_col four_col">$543,543</div>
                                <div class="each_cost_col five_col">$543,354</div>
                                <div class="each_cost_col six_col">$123,000</div>
                                <div class="each_cost_col sev_col">$123,000</div>
                                <div class="each_cost_col eight_col">$123,000</div>
                                <div class="each_cost_col ninth_col">$123,000</div>
                                <div class="each_cost_col tenth_col total_cost">$434,434.00</div>
                        </div>
                </div>
            </div>
            <div class="all_startegy_cost">
            
                  <div class="each_cost_row_holder">
                    <div class="each_cost_row">
                        
                        <div class="each_cost_heading" >
                            Toyota Camry for female <span>(18-20 y.o.)</span>
                        </div>

                        <div class="clearfix cost_col_container cost_cols_holder">
                                <div class="each_cost_col first_col">433,000</div>
                                <div class="each_cost_col second_col">543,653.00</div>
                                <div class="each_cost_col three_col">$548,935.00</div>
                                <div class="each_cost_col four_col">$543,543</div>
                                <div class="each_cost_col five_col">$543,354</div>
                                <div class="each_cost_col six_col">$123,000</div>
                                <div class="each_cost_col sev_col">$123,000</div>
                                <div class="each_cost_col eight_col">$123,000</div>
                                <div class="each_cost_col ninth_col">$123,000</div>
                                <div class="each_cost_col tenth_col total_cost">$434,434.00</div>
                        </div>
                    </div>
                  </div>
                  <div class="each_cost_row_holder">
                    <div class="each_cost_row">
                        
                        <div class="each_cost_heading" >
                            Toyota Camry for female <span>(18-20 y.o.)</span>
                        </div>

                        <div class="clearfix cost_col_container cost_cols_holder">
                                <div class="each_cost_col first_col">433,000</div>
                                <div class="each_cost_col second_col">543,653.00</div>
                                <div class="each_cost_col three_col">$548,935.00</div>
                                <div class="each_cost_col four_col">$543,543</div>
                                <div class="each_cost_col five_col">$543,354</div>
                                <div class="each_cost_col six_col">$123,000</div>
                                <div class="each_cost_col sev_col">$123,000</div>
                                <div class="each_cost_col eight_col">$123,000</div>
                                <div class="each_cost_col ninth_col">$123,000</div>
                                <div class="each_cost_col tenth_col total_cost">$434,434.00</div>
                        </div>
                    </div>
                  </div>
                  <div class="each_cost_row_holder">
                    <div class="each_cost_row">
                        
                        <div class="each_cost_heading" >
                            Toyota Camry for female <span>(18-20 y.o.)</span>
                        </div>

                        <div class="clearfix cost_col_container cost_cols_holder">
                                <div class="each_cost_col first_col">433,000</div>
                                <div class="each_cost_col second_col">543,653.00</div>
                                <div class="each_cost_col three_col">$548,935.00</div>
                                <div class="each_cost_col four_col">$543,543</div>
                                <div class="each_cost_col five_col">$543,354</div>
                                <div class="each_cost_col six_col">$123,000</div>
                                <div class="each_cost_col sev_col">$123,000</div>
                                <div class="each_cost_col eight_col">$123,000</div>
                                <div class="each_cost_col ninth_col">$123,000</div>
                                <div class="each_cost_col tenth_col total_cost">$434,434.00</div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(".dropdown_ul li").click( function() {
              $(this).closest(".dropdown").find(".dd_txt").text($(this).text()) ;
        }) ;

</script>