<div class="campaign-list-container" data-ng-init="init()">
    <div id="detailedPage" class="container"></div>
    <div class="total_reports_page  ">
        <div class="reports_header_section">
            <div class="reports_header_tabs_holder clearfix">
		    <div class="pull-left breadcrumb_campaign"><a href="#/campaigns/{{selectedCampaign.id}}">Campaign Details</a></div>
                <div class="pull-left">
                    <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}" id="reports_cost_tab_{{tab.href}}"> {{tab.title}}</a></span>
                </div>
            </div>
        <!-- campaign dropdown -->
        </div>
        <div class="inventory_reports_container" data-ng-init="init()">
            <div class="clearfix inventory_header">
                <div id="report_cost_camp_list_dd">
                    <large-list-search selected-obj=selectedCampaign></large-list-search>
                </div>
                <div class="pull-right download_report">

                    <div class="dropdown">
                    <span class="dropdown_ul_text " data-toggle="dropdown">
                        <a class="download_anchor" href="">&nbsp;
                        </a>
                    </span>

                        <ul class="dropdown_ul dropdown-menu" id="reports_cost_download" >

                            <li value="cost"><a ng-if="download_urls.cost" class="download_anchor"
                                                   href="{{download_urls.cost}}">Cost Report</a></li>

                        </ul>
                    </div>

                </div>
                <div class="pull-right dropdown dropdown_type3" id="cost_lifetime_dd" >
                    <report-filters selected-filter="selected_filters.time_filter_text" list-object="filters.duration"
                                    flag="duration"></report-filters>
                </div>
            </div>
            <div class="clearfix">

            </div>
            <!--campaign dropdown-->
            <!--strategy dropdown-->
            
            <div id="cost_strategies_dd" >
                <strategy-list selected-obj=selectedStrategy list-columns="strategies"></strategy-list>
            </div>

            <!--strategy dropdown-->

            <div class="no_data_found" ng-if="!strategyFound">
                Data Not Found
            </div>
            <div class="reports_main_page_holder" ng-show="strategyFound">
                <div class="reports_cost_header_holder">
                    <!--cost filter -->
                    <div class="clearfix cost_header_holder">
                        <div class="each_cost_col first_col active">Imps.</div>
                        <div class="each_cost_col second_col">
                            <div class="dropdown" id="kpi_dropdown">
                                    <report-filters selected-filter="selected_filters.kpi_type_text" list-object="filters.kpiTypes"
                                                    flag="kpitypes"></report-filters>
                                </div>
                        </div>
                        <div class="each_cost_col three_col">Inventory</div>
                        <div class="each_cost_col four_col">Data</div>
                        <div class="each_cost_col five_col">Ad Serving</div>
                        <div class="each_cost_col six_col">Rich Media</div>
                        <div class="each_cost_col sev_col">Research</div>
                        <div class="each_cost_col eight_col">Ad Verification</div>
                        <div class="each_cost_col ninth_col">Platform</div>
                        <div class="each_cost_col tenth_col total_cost">Total Spend

                        </div>
                        <div class="more_options"  id="dot_click">
                            <div class="dropdown">
                                <span data-toggle="dropdown">
                                    <span class="dd_txt">
                                        <span class="dots"></span>
                                        <span class="dots"></span>
                                        <span class="dots"></span>
                                    </span>
                                </span>
                                <ul class="dropdown-menu" id="sorting_dropdown">

                                    <li class="{{sortField.class}}" ng-repeat="sortField in sort_field" data-ng-click="sortFunction(sortField.key)">
                                        <a id="cost_sort_{{sortField.key}}">
                                            {{sortField.display}}&nbsp; <span class="sortable {{sortField.sortDirection}}"></span>
                                        </a>
                                    </li>
                                    <!--{{campaigns.sortIcon(sortField.key)}}-->
                                    <!--<li class="active"><a  ng-click="sortFunction('name');"  href="javascript:void(0);">Tactic Name<span class="sortable"></span></a></li>-->
                                    <!--<li><a  ng-click="sortFunction('impressions');"   href="javascript:void(0);">Imps<span class="sortable"></span></a></li>-->
                                    <!--<li><a  ng-click="sortFunction('total');"   href="javascript:void(0);">Total Spend<span class="sortable" ></span></a></li>-->
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--cost  filter ends-->

                    <div class="cost_transparency_container">
                        <div class="each_cost_row_holder strategy_total_row">
                            <div class="each_cost_row">
                                <div class="common-load-icon" ng-show="strategyCostBusy"></div>
                                <div class="each_cost_heading" >
                                    Strategy Total
                                </div>
                                <div class="no_data_found_cost_strategy" ng-if="dataNotFound">
                                    Data Not Found
                                </div>
                                <div class="clearfix cost_col_container cost_cols_holder" ng-repeat="strategy in strategyCostData" ng-if="!dataNotFound">
                                    <div class="each_cost_col first_col">{{strategy.impressions | number:0}}</div>
                                    <div class="each_cost_col second_col">{{formattingNumber(selected_filters.kpi_type.toLowerCase(), strategy.kpi_metrics[selected_filters.kpi_type.toLowerCase()])}}</div>
                                    <div class="each_cost_col three_col">${{strategy.inventory_cost | number:0}}</div>
                                    <div class="each_cost_col four_col">${{strategy.data_cost | number:0}}</div>
                                    <div class="each_cost_col five_col">${{strategy.ad_serving_cost | number:0}}</div>
                                    <div class="each_cost_col six_col">${{strategy.rich_media_cost | number:0}}</div>
                                    <div class="each_cost_col sev_col">${{strategy.research_cost | number:0}}</div>
                                    <div class="each_cost_col eight_col">${{strategy.ad_verification_cost | number:0}}</div>
                                    <div class="each_cost_col ninth_col">${{strategy.platform_cost | number:0}}</div>
                                    <div class="each_cost_col tenth_col total_cost">${{strategy.total | number:2}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="all_startegy_cost">
                            <div class="common-load-icon" ng-show="tacticCostBusy">&nbsp;</div>
                            <!--{{filter.sortByColumn}}-->
                            <div class="each_cost_row_holder" ng-repeat="tactic in tacticsCostData| orderBy: filter.sortByColumn:filter.ascendingDir">
                                <div class="each_cost_row">
                                    <div class="each_cost_heading" >
                                        {{tactic.name}}
                                    </div>

                                    <div class="clearfix cost_col_container cost_cols_holder">
                                        <div class="each_cost_col first_col">{{tactic.impressions | number:0}}</div>
                                        <div class="each_cost_col second_col">{{formattingNumber(selected_filters.kpi_type.toLowerCase(), tactic.kpi_metrics[selected_filters.kpi_type.toLowerCase()])}}</div>
                                        <div class="each_cost_col three_col">${{tactic.inventory_cost | number:0}}</div>
                                        <div class="each_cost_col four_col">${{tactic.data_cost | number:0}}</div>
                                        <div class="each_cost_col five_col">${{tactic.ad_serving_cost | number:0}}</div>
                                        <div class="each_cost_col six_col">${{tactic.rich_media_cost | number:0}}</div>
                                        <div class="each_cost_col sev_col">${{tactic.research_cost | number:0}}</div>
                                        <div class="each_cost_col eight_col">${{tactic.ad_verification_cost | number:0}}</div>
                                        <div class="each_cost_col ninth_col">${{tactic.platform_cost | number:0}}</div>
                                        <div class="each_cost_col tenth_col total_cost">${{tactic.total | number:2}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



