<div class="main_dashboard" ng-if="!dashboard.isNetworkUser">
  <div class="row">

    <div class="clearfix col-md-8 dashboard_main_heading">
      <span>Overview</span>
      <span  id="brandButton" ng-if="brandSelected" class="bubble_heading" data-ng-click="clickOnBrandButton()" >{{selectedBrand}}  </span>

    </div>
    <div class="clearfix col-md-4 status_filter">
      <div class="dropdown pull-right status_filter_dd" >
            <span class="dropdown_ul_text " data-toggle="dropdown">
                <span>Active</span>
                <span class="arrow_img"></span>
            </span>
            <ul class="dropdown_ul dropdown-menu ">
                <li>All</li>
                <li>Paused</li>
                <li>Active</li>
                <div class="dd_options_disabled"></div>
            </ul>
      </div>
      <span class="pull-right">Status</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="dashboard_section dashboard_perf_graph_holder">
        <div class="dashboard_heading dashboard_heading_bold">Campaigns Performance</div>
        <div class="dashboard_perf_graph">
          <gauge></gauge>
        </div>
        <!--<div class="dashboard_graph_legends">-->

        <!--<span class="legend_details onTrack_legend">-->
        <!--<span class="graph_legend"></span>-->
        <!--<span class="graph_legend_txt">80% on track</span>-->
        <!--</span>-->
        <!--<span class="legend_details underperf_legend">-->
        <!--<span class="graph_legend"></span>-->
        <!--<span class="graph_legend_txt">20% underperforming</span>-->
        <!--</span>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-md-4">
     <bubble-chart></bubble-chart>
    </div>
    <div class="col-md-4">
      <div class="dashboard_section dashboard_screens_graph_holder">
        <div class="dashboard_heading dashboard_heading_bold">Screens</div>
        <div class="dashboard_perf_graph">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard_section">
        <div class="dashboard_section dashboard_geo_graph_holder">
          <div class="clearfix dashboard_heading">
            <div class="pull-left calendar_heading dashboard_heading_bold">Calendar > <span>All Brands(3)</span></div>
            <div class="pull-right clearfix">
              <div class="pull-right dropdown" id="dashboard_metric_dd">
                                <span class="dropdown_ul_text" data-toggle="dropdown">
                                  <span>CPA</span>
                                  <span class="arrow_img"></span>
                                </span>
                <ul class="dropdown_ul dropdown-menu">
                  <li>CPA</li>
                  <li>CPC</li>
                  <li>CPM</li>
                  <li>CTR</li>
                  <li>VTC</li>
                </ul>
              </div>
              <div class="pull-right show_link">
                Show :
              </div>
              <div class="pull-right calendar_holder">
                <span>+</span>
                <span>-</span>
              </div>
              <div class="pull-right calendar_holder">
                <span>Today</span>
              </div>


            </div>
          </div>
          <div class="dashboard_perf_graph">
          </div>
        </div>
      </div>
    </div>
<!--=======-->
<!--<div ng-if="!dashboard.isNetworkUser">-->
  <!--<div id="gauge" class="pull-left">-->
    <!--<gauge></gauge>-->
  <!--</div>-->
  <!--<div id="spend">-->
    <!--<bubble-chart></bubble-chart>-->
  </div>
</div>

