<div class="reports_main_page_holder">

    <div class="reports_header_tabs_holder">
        <span><a href="#/optimization"  > Optimization Impact</a></span>
        <span><a href="#/cost" >Cost</a></span>
        <span><a href="#/performance"  >Performance</a></span>
        <span class="active_tab"><a href="#/inventory">Inventory</a></span>
    </div>

    <div class="inventory_reports_container" data-ng-init="init()">

        <div class="clearfix inventory_header">
            <div class="pull-left dropdown dropdown_type1">
	        <span class="dropdown_ul_text clearfix" data-toggle="dropdown">
	            <span class="dd_txt" title="{{selectedCampaign.name}}">{{selectedCampaign.name  | formatUrl}}</span>
	            <span class="arrrow_img"></span>
	        </span>
                <ul id="campaigns_list" class="dropdown_ul dropdown-menu">
                    <li ng-repeat="campaign in campaingns" value="{{campaign.campaign_id}}">{{campaign.name}}</li>
                </ul>
            </div>

            <div class="pull-right download_report" >
               <a class="download_anchor" href="{{download_url}}">&nbsp;
               </a>
            </div>
            <div class="pull-right dropdown dropdown_type3">
		    	<span class="dropdown_ul_text" data-toggle="dropdown">
		            <span class="dd_txt">{{selected_filters.time_filter_text}}</span>
		            <span class="arrrow_img"></span>
		        </span>

                <ul id="time_filter_list" class="dropdown_ul dropdown-menu">
                    <li ng-repeat="duration in durationFilter" value="{{duration.value}}">{{duration.text}}</li>
                </ul>
            </div>
        </div>

        <div class="dropdown dropdown_type2">
	        <span class="dropdown_ul_text " data-toggle="dropdown">
	            <span class="dd_txt" title="{{selectedStrategy.name}}">{{selectedStrategy.name | formatUrl}}</span>
	            <span class="arrrow_img"></span>
	        </span>

            <ul id="strategies_list" class="dropdown_ul dropdown-menu">
                <li ng-repeat="strategy in strategies" value="{{strategy.id}}">{{strategy.name | formatUrl}}</li>
            </ul>
        </div>

        <div class="inventory_charts_details_holder">

            <div class="clearfix chart_inventory_header">
                <div class="pull-left clearfix inventory_tabs" id="category_change">
                    <span class="inventory_tab_active"><a href="javascript:void(0);" _key="categories">Categories</a></span>
                    <span><a href="javascript:void(0);" _key="parentdomains">Domains</a></span>
                    <span><a href="javascript:void(0);" _key="fulldomains">URLs</a></span>
                </div>
                <div class="chart_details_cols_row inventory_chart_details_list clearfix">
                    <div class="pull-left performance_selection clearfix"
                         data-ng-click="showPerformance(strategyTable.show)">
                        <span class="performance_symbol {{strategyTable.cssClass}}"></span>
                        <span class="performance_text">{{strategyTable.show}} Performance</span>
                    </div>
                    <div class="pull-right imps_del_col">
                        Imps. Delivered
                    </div>
                    <div class="pull-right cpa_dropdown cpa_col">
                        <div class="dropdown">
					    	<span class="dropdown_ul_text" data-toggle="dropdown">
					            <span class="dd_txt">{{selected_filters.kpi_type_text}}</span>
					            <span class="arrrow_img"></span>
					        </span>

                            <ul id="kpi_list" class="dropdown_ul dropdown-menu">
                                <li ng-repeat="kpiType in kpiTypeFilter" value="{{kpiType.value}}">{{kpiType.text}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="strategyFound" class="inventory_strategy_chart clearfix">

                <div class="pull-left inventory_chart">
                      <span ng-switch="inventoryChart">
                            <span ng-switch-when="true" class="no-chart load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Avaiable</span>
                            <span ng-switch-default>
                                <div class="highcharts" ng-if="inventoryChart">
                                    <!--<div class="clearfix highcharts_kpi_titles">
                                        <span class="pull-left">{{selected_filters.kpi_type}}</span>
                                        <span class="pull-right">Imps</span>
                                    </div>-->
                                    <highchart config="inventoryChart" chartTitle=""></highchart>
                                </div>
                                <div class="highcharts" ng-if="!inventoryChart">
                                    <span class="no-chart">Data Not Avaiable<!-- (PARTIAL CHART)-->.</span>
                                </div>
                            </span>
                        </span>
                </div>
                <div class="inventory_chart_details_list"
                     data-ng-repeat="stable in strategyTableData ">

                    <div class="chart_details_cols_row inventory_each_chart_details clearfix">
                        <span class="row_index">{{$index + 1}}</span>

                        <span class="url_val" title="{{stable.domain_data}}"
                              ng-if="(selected_filters.domain !== 'fulldomains' && selected_filters.domain !== 'parentdomains') "> {{ stable.domain_data | formatUrl }}</span>

                        <span class="url_val" title="{{stable.domain_data}}"
                              ng-if="(selected_filters.domain == 'fulldomains' || selected_filters.domain == 'parentdomains' )">
                            <a href="{{ stable.domain_data}}" target='_blank'> {{ stable.domain_data | formatUrl }}</a>
                         </span>

                        <span class="imps_del_data imps_del_col pull-right">{{stable.impressions | number}}</span>
                        <span class="cpa_col cpa_data pull-right">{{stable.kpi_value  | appendDollor : selected_filters.kpi_type }}</span>

                    </div>
                </div>
            </div>
            <div  ng-if="!strategyFound">
                <div style="top: 50%; left: 50%; position: absolute;">
                    <span class="data_not_found">Data not found</span>
                </div>
            </div>
        </div>
        <div ng-if="strategyFound" class="each_chart_accordion_holder"
             ng-repeat="tactic in tacticList[tacticList.show]">

            <div id="tactic_{{$index}}" class="chart_accordion_heading" ng-click="clickTactic($index)">
                {{tactic.name}}
            </div>
            <div class="inventory_strategy_chart clearfix {{($index==0) ? 'open': 'closed'}} "
                 id="tactic_{{$index}}_body">
                <div class="pull-left inventory_chart">
                    <span ng-switch="tactic.chart">
                            <span ng-switch-when="true" class="no-chart load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Avaiable</span>
                            <span ng-switch-default>
                                <div class="highcharts" ng-if="tactic.chart">
                                    <!--<div class="clearfix highcharts_kpi_titles">
                                        <span class="pull-left">{{selected_filters.kpi_type}}</span>
                                        <span class="pull-right">Imps</span>
                                    </div>-->
                                    <highchart config="tactic.chart" chartTitle=""></highchart>
                                </div>
                                <div class="highcharts" ng-if="!tactic.chart">
                                    <span class="no-chart">Data Not Avaiable<!-- (PARTIAL CHART)-->.</span>
                                </div>
                            </span>
                        </span>

                </div>
                <div class="inventory_chart_details_list">
                    <div class="chart_details_cols_row inventory_each_chart_details clearfix"
                         ng-repeat="tableData in tactic.data">
                        <span class="row_index">{{$index + 1}}</span>
                        <span class="url_val" title="{{tableData.domain_data}}"
                              ng-if="selected_filters.domain !== 'fulldomains' "> {{ tableData.domain_data | formatUrl }}</span>
                        <span class="url_val" title="{{tableData.domain_data}}"
                              ng-if="selected_filters.domain == 'fulldomains' ">
                            <a href="{{ tableData.domain_data}}" target='_blank'> {{ tableData.domain_data | formatUrl
                                }}</a>
                         </span>
                        <span class="imps_del_data imps_del_col pull-right">{{tableData.impressions  | number}}</span>
                        <span class="cpa_col cpa_data pull-right">{{tableData.kpi_value  | appendDollor : selected_filters.kpi_type }}</span>
                    </div>
                </div>
            </div>

        </div>
        <div  ng-if="!strategyFound">
            <div style="top: 50%; left: 50%; position: absolute;">
                <span class="data_not_found">Data not found</span>
            </div>
        </div>

    </div>
</div>