<div class="campaign-list-container" data-ng-init="init()">
    <div id="detailedPage" class="container">



    </div>


    <div class="total_reports_page">

        <div class="reports_header_section">
            <!--<div class="back_link" href="{{reach}}">< Back to campaign</div>-->


            <!--div class="reports_top_heading">{{clicked.campaignName}}
            </div-->
            <div class="reports_header_tabs_holder">
                <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}"> {{tab.title}}</a></span>
            </div>

        <!----------------campaign dropdown--------------------->
        </div>
        <div class="clearfix inventory_header">
            <div class="pull-left dropdown dropdown_type1">
	        <span class="dropdown_ul_text clearfix" data-toggle="dropdown">
	            <span class="dd_txt" title="{{selectedCampaign.name}}">{{selectedCampaign.name  | formatUrl: 26}}</span>
	            <span class="arrrow_img"></span>
	        </span>
                <ul id="campaigns_list" class="dropdown_ul dropdown-menu">
                    <li ng-repeat="campaign in campaingns" _kpi="{{campaign.kpi_type}}" value="{{campaign.campaign_id}}">{{campaign.name  | formatUrl: 26}}</li>
                </ul>
            </div>

            <div class="pull-right download_report" >
                <a class="download_anchor" href="{{download_url}}">&nbsp;
                </a>
            </div>
            <div class="pull-right dropdown dropdown_type3">

                <report-filters  selected-filter="selected_filters.time_filter_text" list-object="filters.duration" flag="duration"></report-filters>

            </div>
        </div>
        <div class="clearfix"></div>
        <!----------------campaign dropdown--------------------->
        <!----------------strategy dropdown--------------------->
        <div class="clearfix dropdown dropdown_type2">
	        <span class="dropdown_ul_text " data-toggle="dropdown">
	            <span class="dd_txt" title="{{selectedStrategy.name}}">{{selectedStrategy.name | formatUrl:26}}</span>
	            <span class="arrrow_img"></span>
	        </span>

            <ul id="strategies_list" class="dropdown_ul dropdown-menu">
                <li ng-repeat="strategy in strategies" value="{{strategy.id}}">{{strategy.name | formatUrl:26}}</li>
            </ul>
        </div>
        <!----------------strategy dropdown--------------------->


        <div class="reports_graph_top_section" id="graph" >
            <div class="rep_graph_heading">
               <span class="graph_rep_stl"> {{clicked.strategy.lineItemName}}</span>

                <!-- gaurav -->
                <div class="col-md-12">

                     <span ng-switch="chartForStrategy">
                            <span ng-switch-when="true" class="load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Available</span>
                            <span ng-switch-default>
                                <div ng-if="chartForStrategy" class="highcharts" id="details_chart">
                                    <highchart id="highcharts" config="chartForStrategy" chartTitle=""></highchart>
                                </div>
                            </span>
                        </span>
                </div>
                <!-- gaurav -->
            </div>
            <div class="rep_graph_holder">
            </div>
        </div>

        <div class="each_reports_row each_reports_row_heading">
            <div class="each_rep_col_holder clearfix">
                <div class="each_rep_col first_col">Optimization Type</div>
                <div class="each_rep_col sec_col">Date Optimized</div>
                <div class="each_rep_col third_col">Metric</div>
                <div class="each_rep_col sixth_col">Before Value</div>
                <div class="each_rep_col nine_col">After Value</div>
                <div class="each_rep_col ten_col">Change %</div>
            </div>

        </div>

        <div class="one_section_reports_holder type1_section_reports" ng-repeat="tactic in tacticList" >
            <div class="one_section_report_heading">
                {{tactic.ad_name}}
            </div>

            <div class="reports_section_details_container reports_section_details_more" id="action-container">
                <div class="each_reports_row each_reports_row_details "  ng-repeat="action in tactic.actionList| orderBy:'created_at':true" id="actionItem_{{action.ad_id}}{{action.id}}" ng-mouseenter="showIcon(action.id)" ng-mouseleave="hideIcon()" data-ng-click="showSelected(action.ad_id+''+action.id)">
                    <div class="each_rep_col_holder clearfix" >
                        <img id="graph_icon_{{action.id}}" ng-click="goToGraph(action.id)" ng-if="iconIdToShow == action.id" src="assets/cdesk/graphIcon.png" class="graph_icon"/>
                        <div title="{{action.action_sub_type[0].name}}" class="each_rep_col first_col">{{action.action_sub_type[0].name}}</div>
                        <div class="each_rep_col sec_col">{{action.created_at | date:'dd MMM yyyy'}}</div>
                        <div title="{{action.metric_impacted}}" class="each_rep_col third_col">{{action.metric_impacted}}</div>

                        <div class="each_rep_col sixth_col">{{formatMetric(action.metric_value_before,action.metric_impacted)}}</div>
                        <div class="each_rep_col nine_col">{{formatMetric(action.metric_value_after,action.metric_impacted)}}</div>
                        <div class="each_rep_col ten_col positive_text"  ng-class="colorCoding(action.metric_value_after,action.metric_value_before,action.metric_impacted)" >
                            <span class="positive_sign">+</span><span class="negative_sign">-</span>{{roundOff(action.metric_percent_change,0)}}%
                            <span class="arrow_img"></span>
                        </div>
                    </div>
                    <div class="each_report_text_row clearfix">
                        <div class="each_report_text_col report_time">{{action.created_at | date:'h:mm a'}}</div>
                        <div title="{{action.created_by_name}}" class="each_report_text_col report_person_name">{{action.created_by_name}}</div>
                        <div title="{{action.comment}}" class="each_report_text_col report_text">{{action.comment}}</div>
                    </div>
                </div>

                <div class="load_more_rows">&#9660;</div>
            </div>
        </div>
    </div>
