<div class="campaign-list-container" data-ng-init="init()">
    <div id="detailedPage" class="container">
    </div>


    <div class="total_reports_page  ">

        <div class="reports_header_section">
            <!--<div class="back_link" href="{{reach}}">< Back to campaign</div>-->


            <!--div class="reports_top_heading">{{clicked.campaignName}}
            </div-->
            <div class="reports_header_tabs_holder clearfix">
		        <div class="pull-left breadcrumb_campaign"><a href="#/campaigns/{{selectedCampaign.id}}">Campaign Details</a></div>
                <div class="pull-left">
                    <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}" id="optimization_tab_{{tab.href}}"> {{tab.title}}</a></span>
                </div>
            </div>

        <!--campaign dropdown-->
        </div>
        <div class="inventory_reports_container optimization_header">
            <div class="clearfix inventory_header">

                <div class="pull-left dropdown dropdown_type1" id="optimization_camp_list_dd">
                    <large-list-search selected-obj=selectedCampaign></large-list-search>
                </div>
                <div class="pull-right dropdown download_report" >
                        <span class="dropdown_ul_text " data-toggle="dropdown">
                            <a class="download_anchor" id="optimization_download_btn" href="" >&nbsp;</a>
                        </span>
                        <ul class="dropdown-menu" id="optimization_download">
                            <li value="optimization">
                                <a ng-if="download_urls.optimization" class="download_anchor" href="{{download_urls.optimization}}" id="optimization_download_btn">Optimization Report</a>
                            </li>
                        </ul>
                </div>
                <div class="pull-right dropdown duration_filters" id="optimization_duration_dd">
                        <report-filters selected-filter="selected_filters.time_filter_text" list-object="filters.duration" flag="duration"></report-filters>
                </div>
                
            </div>
            
            <!--campaign dropdown-->
            <div class="clearfix optimization_see_dates">

                <!--strategy dropdown-->
                <div class="pull-left" id="optimization_strategies_dd">
                    <strategy-list selected-obj=selectedStrategy list-columns="strategies"></strategy-list>
                </div>
                <!--strategy dropdown-->
                <div class="pull-right">

                    <div class="see_dates_holder clearfix">
                        <div class="external_chkbox clearfix">
                            <div class="squaredFour" id="see_dates_chkbox" >
                              <input type="checkbox" id="optimization_squaredFour" class="squaredFourChkbox">
                              <label for="optimization_squaredFour"></label>
                            </div>       
                            <span class="squaredFourTxt">See Dates</span>
                        </div>
                    </div>
      
                </div>
          </div>

        </div>

        <div class="reports_graph_top_section" id="graph" >
            <div class="rep_graph_heading">
               <span class="graph_rep_stl"> {{clicked.strategy.lineItemName}}</span>

                <!-- gaurav -->
                <div class="col-md-12">

                     <span ng-switch="chartForStrategy">
                            <span ng-switch-when="true" class="load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart">Data Not Available</span>
                            <span ng-switch-default>
                                <div ng-if="chartForStrategy" class="highcharts" id="details_chart">
                                    <highchart id="highcharts" config="chartForStrategy" chartTitle=""></highchart>
                                </div>
                            </span>
                        </span>
                </div>
                <!-- gaurav -->
            </div>
            <div class="rep_graph_holder">
            </div>
        </div>
        <!--tacticNotFound :  {{tacticNotFound | json}}-->
        <div class="details_with_heading_total">

            <div class="each_reports_row each_reports_row_heading" style="text-align: center" ng-if="tacticNotFound">
                            Tactics Not Available
            </div>

            <div class="each_reports_row each_reports_row_heading" ng-if="!tacticNotFound">
                
                <div class="each_rep_col_holder clearfix">
                    <div class="clearfix after_before_title">
                        <div>Before</div>
                        <div>After</div>
                    </div>
                    <div class="each_rep_col first_col">Optimization Type</div>
                    <div class="each_rep_col sec_col">Date Optimized</div>
                    <div class="each_rep_col third_col">Metric</div>
                    <div class="each_rep_col forth_col left_border dates_hide">Date from</div>
                    <div class="each_rep_col fifth_col dates_hide">Date to</div>
                    <div class="each_rep_col sixth_col dates_hide">Value</div>
                    <div class="each_rep_col sixth_col dates_show">Before Value</div>
                    <div class="each_rep_col sev_col left_border dates_hide">Date from</div>
                    <div class="each_rep_col eight_col dates_hide">Date to</div>
                    <div class="each_rep_col nine_col dates_hide">Value</div>
                    <div class="each_rep_col nine_col dates_show">After Value</div>
                    <div class="each_rep_col ten_col left_border" >Change %</div>
                </div>

            </div>

            <div class="one_section_reports_holder type1_section_reports" ng-repeat="tactic in tacticList" ng-if="!tacticNotFound">
                <div class="one_section_report_heading">
                    {{tactic.ad_name}}
                </div>

                <div class="reports_section_details_container reports_section_details_more" id="action-container">
                    <div class="each_reports_row each_reports_row_details "  ng-repeat="action in tactic.actionList| orderBy:'created_at':true" id="actionItem_{{action.ad_id}}{{action.id}}" ng-mouseenter="showIcon(action.id)" ng-mouseleave="hideIcon()" data-ng-click="showSelected(action.ad_id+''+action.id)">
                        <div class="each_rep_col_holder clearfix" >
                            <div id="graph_icon_{{action.id}}" ng-click="goToGraph(action.id)" ng-if="iconIdToShow == action.id"  class="graph_icon"></div>
                            <div title="{{action.action_sub_type}}" class="each_rep_col first_col">{{action.action_sub_type}}</div>
                            <div class="each_rep_col sec_col">{{action.created_at | date:'dd MMM yyyy'}}</div>
                            <div title="{{action.metric_impacted}}" class="each_rep_col third_col">{{action.metric_impacted}}</div>

                            <div class="each_rep_col forth_col dates_hide">{{action.from_date_before | date:'dd MMM yyyy'}}</div>
                            <div class="each_rep_col fifth_col dates_hide">{{action.to_date_before | date:'dd MMM yyyy'}}</div>
                            <div class="each_rep_col sixth_col dates_hide">{{formatMetric(action.metric_value_before,action.metric_impacted)}}</div>
                            <div class="each_rep_col sixth_col dates_show">{{formatMetric(action.metric_value_before,action.metric_impacted)}}</div>
                            <div class="each_rep_col sev_col dates_hide">{{action.from_date_after | date:'dd MMM yyyy'}}</div>
                            <div class="each_rep_col eight_col dates_hide">{{action.to_date_after | date:'dd MMM yyyy'}}</div>
                            <div class="each_rep_col nine_col dates_hide">{{formatMetric(action.metric_value_after,action.metric_impacted)}}</div>
                            <div class="each_rep_col nine_col dates_show">{{formatMetric(action.metric_value_after,action.metric_impacted)}}</div>
                            <div class="each_rep_col ten_col positive_text"  ng-class="colorCoding(action.metric_value_after,action.metric_value_before,action.metric_impacted)" >
                                <span class="positive_sign">+</span><span class="negative_sign">-</span>{{roundOff(action.metric_percent_change,0)}}%
                                <span class="arrow_img"></span>
                            </div>
                        </div>
                        <div class="each_report_text_row clearfix">
                            <div class="each_report_text_col report_time">{{action.created_at | date:'h:mm a'}}</div>
                            <div title="{{action.created_by_name}}" class="each_report_text_col report_person_name">{{action.created_by_name}}</div>
                            <div title="{{action.comment}}" class="each_report_text_col report_text">{{action.comment}}</div>
                        </div>
                    </div>

                    <div class="load_more_rows">&#9660;</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#optimization_squaredFour").click( function() {
            if( $(this).is(":checked") == true ) {
               $(".details_with_heading_total").addClass("see_dates_selected") ;
            } else {
                $(".details_with_heading_total").removeClass("see_dates_selected") ;
            }
        });
    }) ;
    
    </script>