
<div class="reports_main_page_holder">
<div class="reports_header_tabs_holder clearfix">
	<div class="pull-left breadcrumb_campaign"><a href="#/campaigns/{{selectedCampaign.id}}">Campaign Details</a></div>
    <div class="pull-left">
        <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a
                ng-href="#/{{tab.href}}" id="performance_tab_{{tab.href}}" > {{tab.title}}</a></span>
    </div>
</div>

<div class="inventory_reports_container" data-ng-init="init()">

<div class="clearfix inventory_header">
    <div class="pull-left dropdown dropdown_type1"  id="performance_camp_list_dd" >
        <large-list-search selected-obj=selectedCampaign></large-list-search>
    </div>


    <div class="pull-right download_report">

        <div class="dropdown" >
                    <span class="dropdown_ul_text " data-toggle="dropdown">
                        <a class="download_anchor" id="performance_download_btn" href="" >&nbsp;
                        </a>
                    </span>

            <ul class="dropdown_ul_perf dropdown-menu" id="performance_download">

                <li value="screens"><a ng-if="download_urls.screens" class="download_anchor"
                                       href="{{download_urls.screens}}">Performance by Screens & Formats</a></li>
                <li value="daysOfWeek"><a ng-if="download_urls.daysOfWeek" class="download_anchor"
                                          href="{{download_urls.daysOfWeek}}">Performance by Days Of Week</a></li>
            </ul>
        </div>

    </div>
    <!--<div class="pull-right dropdown dropdown_type3"  id="performance_lifetime_dd">-->
        <!--<report-filters selected-filter="selected_filters.time_filter_text" list-object="filters.duration"-->
                        <!--flag="duration"></report-filters>-->
    <!--</div>-->
</div>
<div id="performance_strategies_dd">
    <strategy-list selected-obj=selectedStrategy list-columns="strategies"></strategy-list>
</div>

<span class="no-chart load-more" ng-if="performanceBusy">&nbsp;</span>

<div class="no_data_found" ng-if="!strategyFound && !performanceBusy">
    Data Not Found
</div>


<div class="reports_tabs_content_container" ng-show="strategyFound && !performanceBusy" >

<div class="clearfix">
    <div class="clearfix reports_tabs_holder">
        <div class="each_tab active" id="bydaysofweek">
            <div class="each_tab_text">
                Days of Week
            </div>
        </div>
        <div class="each_tab cost_tab " id="byscreens">
            <div class="each_tab_text">
                Screens
            </div>
        </div>
        <div class="each_tab cost_tab " id="byformats">
            <div class="each_tab_text">
                Formats
            </div>
        </div>

    </div>
</div>

<div class="reports_block" id="reports_bydaysofweek_block" style="display:block;" >
    <div class="no_data_found" ng-if="dataNotFoundForDOW">
        Data Not Found
    </div>
    <div class="reports_details_outer_container" ng-show="!dataNotFoundForDOW" >
        <div class="clearfix reports_performance_header">
           <!--  <div class="each_col first_col">
                <span>Name</span>
            </div> -->
            <div class="each_col sec_col">
                <span>Day of Week </span>
            </div>
            <div class="each_col third_col">
                <span>Imps.</span>
            </div>
            <div class="each_col forth_col">
                <span>CTR</span>
            </div>
            <div class="each_col fifth_col">
                <span>Action Rate</span>
            </div>
            <div class="each_col sixth_col">
                <span>CPA</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPC</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPM</span>
            </div>
        </div>


        <div class="strategy_total_container ">
            <div class="strategy_total_container_header clearfix">

                <div class="each_col first_col">
                    Strategy total:
                </div>
                <div class="row_list_holder">
                    <div class="common-load-icon" ng-show="dowBusy"></div>
                    <!--{{dowBusy}}-->
                    <div class="clearfix each_row_list" ng-repeat="strategy in strategyPerfDataByDOW">

                        <div class="each_col sec_col">
                            {{strategy.dimension}}
                        </div>
                        <div class="each_col third_col">
                            {{strategy.impressions | number:0}}
                        </div>
                        <div class="each_col forth_col">
                            {{strategy.ctr*100 | number:2}}%
                        </div>
                        <div class="each_col fifth_col">
                            {{strategy.action_rate*100 | number:2}}%
                        </div>
                        <div class="each_col sixth_col">
                            ${{strategy.cpa | number:2}}
                        </div>
                        <div class="each_col seventh_col">
                            ${{strategy.cpc | number:2}}
                        </div>
                        <div class="each_col eight_col">
                            ${{strategy.cpm | number:2}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="common-load-icon" ng-show="tacticDowBusy"></div>

            <div class="all_strategies_holder">
                <div class="each_strategy_holder clearfix" ng-repeat="tactic in tacticsPerfDataListByDOW">
                    <div class="linkage_bar">
                    </div>
                    <div class="each_strategy clearfix">
                        <div class="each_col first_col">
                            {{tactic[0].description}}
                        </div>
                        <div class="row_list_holder">
                            <div class="clearfix each_row_list" ng-repeat="data in tactic">
                                <div class="each_col sec_col">
                                    {{data.dimension}}
                                </div>
                                <div class="each_col third_col">
                                    {{data.impressions | number:0}}
                                </div>
                                <div class="each_col forth_col">
                                    {{data.ctr*100 | number:2}}%
                                </div>
                                <div class="each_col fifth_col">
                                    {{data.action_rate*100 | number:2}}%
                                </div>
                                <div class="each_col sixth_col">
                                    ${{data.cpa | number:2}}
                                </div>
                                <div class="each_col seventh_col">
                                    ${{data.cpc | number:2}}
                                </div>
                                <div class="each_col eight_col">
                                    ${{data.cpm | number:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="reports_block" id="reports_byscreens_block" style="display:none;">
    <div class="no_data_found" ng-if="dataNotFoundForScreen">
        Data Not Found
    </div>
    <div class="reports_details_outer_container" ng-if="!dataNotFoundForScreen">
        <div class="clearfix reports_performance_header">
            <!-- <div class="each_col first_col">
                <span>Name</span>
            </div> -->
            <div class="each_col sec_col">
                <span>Screen</span>
            </div>
            <div class="each_col third_col">
                <span>Imps.</span>
            </div>
            <div class="each_col forth_col">
                <span>CTR</span>
            </div>
            <div class="each_col fifth_col">
                <span>Action Rate</span>
            </div>
            <div class="each_col sixth_col">
                <span>CPA</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPC</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPM</span>
            </div>
        </div>


        <div class="strategy_total_container ">

            <div class="strategy_total_container_header clearfix">

                <div class="each_col first_col">
                    Strategy total:
                </div>

                <div class="row_list_holder">
                    <div class="common-load-icon" ng-show="screenBusy"></div>
                    <!--{{screenBusy}}-->
                    <div class="clearfix each_row_list " ng-repeat="strategy in strategyPerfDataByScreen">

                        <div class="each_col sec_col">
                            {{strategy.dimension}}
                        </div>
                        <div class="each_col third_col">
                            {{strategy.impressions | number:0}}
                        </div>
                        <div class="each_col forth_col">
                            {{strategy.ctr*100 | number:2}}%
                        </div>
                        <div class="each_col fifth_col">
                            {{strategy.action_rate*100 | number:2}}%
                        </div>
                        <div class="each_col sixth_col">
                            ${{strategy.cpa | number:2}}
                        </div>
                        <div class="each_col seventh_col">
                            ${{strategy.cpc | number:2}}
                        </div>
                        <div class="each_col eight_col">
                            ${{strategy.cpm | number:2}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-load-icon" ng-show="tacticScreenBusy"></div>

            <div class="all_strategies_holder">
                <!--<div class="common-load-icon"></div>-->

                <div class="each_strategy_holder clearfix" ng-repeat="tactic in tacticsPerfDataListByScreen">
                    <div class="linkage_bar">
                    </div>
                    <div class="each_strategy clearfix">


                        <div class="each_col first_col">
                            {{tactic[0].description}}
                        </div>
                        <div class="row_list_holder">
                            <div class="clearfix each_row_list" ng-repeat="data in tactic">
                                <div class="each_col sec_col">
                                    {{data.dimension}}
                                </div>
                                <div class="each_col third_col">
                                    {{data.impressions | number:0}}
                                </div>
                                <div class="each_col forth_col">
                                    {{data.ctr*100 | number:2}}%
                                </div>
                                <div class="each_col fifth_col">
                                    {{data.action_rate*100 | number:2}}%
                                </div>
                                <div class="each_col sixth_col">
                                    ${{data.cpa | number:2}}
                                </div>
                                <div class="each_col seventh_col">
                                    ${{data.cpc | number:2}}
                                </div>
                                <div class="each_col eight_col">
                                    ${{data.cpm | number:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="reports_block" id="reports_byformats_block" style="display:none;">

    <div class="no_data_found" ng-if="dataNotFoundForFormat">
        Data Not Found
    </div>

    <div class="reports_details_outer_container"  ng-show="!dataNotFoundForFormat">
        <div class="clearfix reports_performance_header">
            <!-- <div class="each_col first_col">
                <span>Name</span>
            </div> -->
            <div class="each_col sec_col">
                <span>Format</span>
            </div>
            <div class="each_col third_col">
                <span>Imps.</span>
            </div>
            <div class="each_col forth_col">
                <span>CTR</span>
            </div>
            <div class="each_col fifth_col">
                <span>Action Rate</span>
            </div>
            <div class="each_col sixth_col">
                <span>CPA</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPC</span>
            </div>
            <div class="each_col seventh_col">
                <span>CPM</span>
            </div>
        </div>


        <div class="strategy_total_container ">

            <div class="strategy_total_container_header clearfix">

                <div class="each_col first_col">
                    Strategy total:
                </div>
                <div class="row_list_holder">
                    <div class="common-load-icon" ng-show="formatBusy"></div>
                    <!--{{formatBusy}}-->
                    <div class="clearfix each_row_list" ng-repeat="strategy in strategyPerfDataByFormat">
                        <div class="each_col sec_col">
                            {{strategy.dimension}}
                        </div>
                        <div class="each_col third_col">
                            {{strategy.impressions | number:0}}
                        </div>
                        <div class="each_col forth_col">
                            {{strategy.ctr*100 | number:2}}%
                        </div>
                        <div class="each_col fifth_col">
                            {{strategy.action_rate*100 | number:2}}%
                        </div>
                        <div class="each_col sixth_col">
                            ${{strategy.cpa | number:2}}
                        </div>
                        <div class="each_col seventh_col">
                            ${{strategy.cpc | number:2}}
                        </div>
                        <div class="each_col eight_col">
                            ${{strategy.cpm | number:2}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="all_strategies_holder">

                <div class="common-load-icon" ng-show="tacticFormatBusy"></div>
             <!--{{tacticFormatBusy}}-->
                <div class="each_strategy_holder clearfix" ng-repeat="tactic in tacticsPerfDataListByFormat">
                    <div class="linkage_bar">
                    </div>
                    <div class="each_strategy clearfix">
                        <div class="each_col first_col">
                            {{tactic[0].description}}
                        </div>
                        <div class="row_list_holder">
                            <div class="clearfix each_row_list" ng-repeat="data in tactic">
                                <div class="each_col sec_col">
                                    {{data.dimension}}
                                </div>
                                <div class="each_col third_col">
                                    {{data.impressions | number:0}}
                                </div>
                                <div class="each_col forth_col">
                                    {{data.ctr*100 | number:2}}%
                                </div>
                                <div class="each_col fifth_col">
                                    {{data.action_rate*100 | number:2}}%
                                </div>
                                <div class="each_col sixth_col">
                                    ${{data.cpa | number:2}}
                                </div>
                                <div class="each_col seventh_col">
                                    ${{data.cpc | number:2}}
                                </div>
                                <div class="each_col eight_col">
                                    ${{data.cpm | number:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>

</div>
</div>
