<div class="reports_main_page_holder">
      <div class="reports_header_tabs_holder">
          <span href="#/optimization"> Optimization Impact</a></span>
          <span href="#/cost"> Cost</a></span>
          <span><a href="#/performance"> Performance</a></span>
          <span class="active_tab"><a href="#/inventory"> Inventory</a></span>
          <span><a href="#/viewability"> Viewability</a></span>
      </div>
      <div class="common_reports_container">
  
          <div class="clearfix">
              <div class="pull-left dropdown dropdown_type1">
                <span class="dropdown_ul_text clearfix" data-toggle="dropdown">
                    <span class="dd_txt" title="RE CN CLLA Chetola Aug Q313">RE CN CLLA Chetola Aug Q313</span>
                    <span class="arrrow_img"></span>
                </span>
                <ul class="dropdown_ul dropdown-menu">
                      <li>RE CN CLLA Chetola Aug Q313</li>
                      <li>RE CN CLLA Chetola Aug Q313</li>
                      <li>RE CN CLLA Chetola Aug Q313</li>
                </ul>
              </div>
  
              <div class="pull-right download_report">
                 <a class="download_anchor">&nbsp;
                 </a>
              </div>
              <div class="pull-right dropdown dropdown_type3">
  
                 <span class="dropdown_ul_text" data-toggle="dropdown">
                    <span class="dd_txt">Life Time</span>
                    <span class="arrrow_img"></span>
                </span>
                <ul class="dropdown_ul dropdown-menu">   
                    <li>Last 7 days</li>
                    <li>Last month</li>
                    <li>Life Time</li>
                </ul>
  
              </div>
          </div>
          <div class="dropdown dropdown_type2">   
                <span class="dropdown_ul_text " data-toggle="dropdown">   
                    <span class="dd_txt" title="No Strategy Found">No Strategy Found</span>
                    <span class="arrrow_img"></span>   
                </span>   
                <ul id="strategies_list" class="dropdown_ul dropdown-menu"> 
                    <li>Lorem Ipsum </li>
                    <li>Lorem Ipsum</li>
                    <li>Lorem Ipsum</li>
                </ul>
          </div>
          
          <div class="reports_tabs_content_container">

            <div class="clearfix">
            
              <div class="clearfix reports_tabs_holder">
                          <div class="each_tab active">
                              <div class="each_tab_text">
                                  Screens
                              </div>
                          </div>
                          <div class="each_tab cost_tab">
                              <div class="each_tab_text">
                                  Formats
                              </div>
                          </div>
                          <div class="each_tab cost_tab">
                              <div class="each_tab_text">
                                  Days of Week
                              </div>
                          </div>
              </div>
            </div>
    
            <div class="reports_performance_container">
    
                    <div class="reports_details_outer_container">
                      <div class="clearfix reports_performance_header">
                          <div class="each_col first_col">
                              <span>Name</span>
                          </div>
                          <div class="each_col sec_col">
                              <span>Screen Type</span>
                          </div>
                          <div class="each_col third_col">
                              <span>Imps.</span>
                          </div>
                          <div class="each_col forth_col">
                              <span>CTR</span>
                          </div>
                          <div class="each_col fifth_col">
                              <span>Action Rate</span>
                          </div>
                          <div class="each_col sixth_col">
                              <span>CPA</span>
                          </div>
                          <div class="each_col seventh_col">
                              <span>CPC</span>
                          </div>
                          <div class="each_col seventh_col">
                              <span>CPM</span>
                          </div>
                      </div>


                      <div class="strategy_total_container ">
                          <div class="strategy_total_container_header clearfix">

                              <div class="each_col first_col">
                                  Strategy total:
                              </div>
                              <div class="row_list_holder">
                                <div class="clearfix each_row_list">
                                  
                                      <div class="each_col sec_col">
                                          Desktop
                                      </div>
                                      <div class="each_col third_col">
                                          654,643
                                      </div>
                                      <div class="each_col forth_col">
                                          $0.14
                                      </div>
                                      <div class="each_col fifth_col">
                                          2,5%
                                      </div>
                                      <div class="each_col sixth_col">
                                          $3.5
                                      </div>
                                      <div class="each_col seventh_col">
                                          $2.5
                                      </div>
                                      <div class="each_col eight_col">
                                          $0.13
                                      </div>
                                  </div>
                                  <div class="clearfix each_row_list">
                                  
                                      <div class="each_col sec_col">
                                          Mobile
                                      </div>
                                      <div class="each_col third_col">
                                          654,643
                                      </div>
                                      <div class="each_col forth_col">
                                          $0.14
                                      </div>
                                      <div class="each_col fifth_col">
                                          2,5%
                                      </div>
                                      <div class="each_col sixth_col">
                                          $3.5
                                      </div>
                                      <div class="each_col seventh_col">
                                          $2.5
                                      </div>
                                      <div class="each_col eight_col">
                                          $0.13
                                      </div>
                                  </div>
                                  <div class="clearfix each_row_list">
                                  
                                      <div class="each_col sec_col">
                                          Tablet
                                      </div>
                                      <div class="each_col third_col">
                                          654,643
                                      </div>
                                      <div class="each_col forth_col">
                                          $0.14
                                      </div>
                                      <div class="each_col fifth_col">
                                          2,5%
                                      </div>
                                      <div class="each_col sixth_col">
                                          $3.5
                                      </div>
                                      <div class="each_col seventh_col">
                                          $2.5
                                      </div>
                                      <div class="each_col eight_col">
                                          $0.13
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="all_strategies_holder">
                              <div class="each_strategy_holder clearfix" >
                                  <div class="linkage_lines">
                                  </div>
                                  <div class="each_strategy clearfix">
                                      <div class="each_col first_col" >
                                          Toyota Camry For Female
                                          <div class="sub_title">
                                            (18-23 y.o.)
                                          </div>
                                      </div>
                                      <div class="row_list_holder">
                                        <div class="clearfix each_row_list">
                                            <div class="each_col sec_col">
                                                Desktop
                                            </div>
                                            <div class="each_col third_col">
                                                654,643
                                            </div>
                                            <div class="each_col forth_col">
                                                $0.14
                                            </div>
                                            <div class="each_col fifth_col">
                                                2,5%
                                            </div>
                                            <div class="each_col sixth_col">
                                                $3.5
                                            </div>
                                            <div class="each_col seventh_col">
                                                $2.5
                                            </div>
                                            <div class="each_col eight_col">
                                                $0.13
                                            </div>
                                          </div>
                                          <div class="clearfix each_row_list">
                                            <div class="each_col sec_col">
                                                Mobile
                                            </div>
                                            <div class="each_col third_col">
                                                654,643
                                            </div>
                                            <div class="each_col forth_col">
                                                $0.14
                                            </div>
                                            <div class="each_col fifth_col">
                                                2,5%
                                            </div>
                                            <div class="each_col sixth_col">
                                                $3.5
                                            </div>
                                            <div class="each_col seventh_col">
                                                $2.5
                                            </div>
                                            <div class="each_col eight_col">
                                                $0.13
                                            </div>
                                          </div>
                                          <div class="clearfix each_row_list">
                                            <div class="each_col sec_col">
                                                Tablet
                                            </div>
                                            <div class="each_col third_col">
                                                654,643
                                            </div>
                                            <div class="each_col forth_col">
                                                $0.14
                                            </div>
                                            <div class="each_col fifth_col">
                                                2,5%
                                            </div>
                                            <div class="each_col sixth_col">
                                                $3.5
                                            </div>
                                            <div class="each_col seventh_col">
                                                $2.5
                                            </div>
                                            <div class="each_col eight_col">
                                                $0.13
                                            </div>
                                          </div>
                                       </div>
                                  </div>
                              </div>
                              
                          </div>

                      </div>
                  </div>
                <div class="no_data_found" style="display:none;">
                    Data Not Found
                </div>
            </div>

          </div>
         
  
      </div>
  </div>