<div class="reports_main_page_holder">

    <div class="reports_header_tabs_holder">
        <span ng-repeat="tab in filters.tabs" ng-class="{'active_tab': tab.href == filters.activeTab }"><a ng-href="#/{{tab.href}}"> {{tab.title}}</a></span>
    </div>

    <div class="inventory_reports_container" data-ng-init="init()">

        <div class="clearfix inventory_header">
            <div class="pull-left dropdown dropdown_type1">
            <span class="dropdown_ul_text clearfix" data-toggle="dropdown">
                <span class="dd_txt" title="{{selectedCampaign.name}}">{{selectedCampaign.name  | formatUrl: 26}}</span>
                <span class="arrrow_img"></span>
            </span>
                <ul id="campaigns_list" class="dropdown_ul dropdown-menu">
                    <li ng-repeat="campaign in campaingns" value="{{campaign.campaign_id}}">{{campaign.name  | formatUrl: 26}}</li>
                </ul>
            </div>

            <div class="pull-right download_report" >
               
                <div class="dropdown">
                    <span class="dropdown_ul_text " data-toggle="dropdown">
                        <a class="download_anchor" href="">&nbsp;
                        </a>
                    </span>

                    <ul class="dropdown_ul dropdown-menu">
                        <li>Viewability by Tactic</li>
                        <li>Viewability by Domain</li>
                        <li>Viewability by Publisher</li>
                    </ul>
                </div>

            </div>
            <div class="pull-right dropdown dropdown_type3">
                <report-filters  selected-filter="selected_filters.time_filter_text" list-object="filters.duration" flag="duration"></report-filters>
            </div>
        </div>

        <div class="dropdown dropdown_type2">
            <span class="dropdown_ul_text " data-toggle="dropdown">
                <span class="dd_txt" title="{{selectedStrategy.name}}">{{selectedStrategy.name | formatUrl:26}}</span>
                <span class="arrrow_img"></span>
            </span>

            <ul id="strategies_list" class="dropdown_ul dropdown-menu">
                <li ng-repeat="strategy in strategies" value="{{strategy.id}}">{{strategy.name | formatUrl:26}}</li>
            </ul>
        </div>

        <div class="viewability_details_outer_container">
            <div class="viewability_header clearfix">
                <div class="each_col first_col" >
                    <span>Tactic</span>
                </div>
                <div class="each_col sec_col" >
                    <span>Impressions</span>
                    <div class="sub_col">
                        <span>Delivered</span>
                        <span>Total</span>
                    </div>
                </div>
                <div class="each_col third_col" >
                    <span>Measurable</span>
                    <div class="sub_col">
                        <span>Imps.</span>
                        <span>%</span>
                    </div>
                </div>
                <div class="each_col forth_col" >
                    <span>Viewable</span>
                    <div class="sub_col">
                        <span>Imps.</span>
                        <span title="Based only on Measurable Imps">%<sup>*</sup></span>
                    </div>
                </div>
                <div class="each_col fifth_col" >
                    <span>Viewable, %</span>
                    <div class="sub_col">
                        <span>1s</span>
                        <span>5s</span>
                        <span>15s</span>
                    </div>
                </div>
                <div class="each_col sixth_col" >
                    <span>Media <br> Viewable Time <br> (sec)</span>
                </div>
                <div class="each_col seventh_col" >
                    
                        <div class="dropdown">
                            <report-filters  selected-filter="selected_filters.kpi_type_text" list-object="filters.kpiTypes" flag="kpitypes"></report-filters>
                        </div>
                    
                    
                </div>
            </div>
            <div class="strategy_total_container " ng-if="strategiesList.view_metrics">
                <div class="strategy_total_container_header clearfix" >

                    <div class="each_col first_col">
                        Strategy total:
                    </div>
                    <div class="each_col sec_col">
                        <div class="graph_col">
                            <div class="full_graph_line">
                                <div class="filled_graph_line fully_filled" style="width:{{strategiesList.view_metrics.total_imps | calculatePerc }}px;">

                                </div>
                            </div>
                            <div class="clearfix graph_end_points">
                                <span>{{strategiesList.view_metrics.delivered_imps | number:0}}</span>
                                <span>{{strategiesList.view_metrics.total_imps | number:0 }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="each_col third_col">
                        <div class="sub_col">
                            <span> {{strategiesList.view_metrics.measurable_imps | number:0}}</span>
                            <span>{{strategiesList.view_metrics.perc_measurable | number:0}}%</span>
                        </div>
                    </div>
                    <div class="each_col forth_col">
                        <div class="sub_col">
                            <span> {{strategiesList.view_metrics.viewable_imps | number:0}}</span>
                            <span>{{strategiesList.view_metrics.perc_viewable | number:0}}%</span>
                        </div>
                    </div>
                    <div class="each_col fifth_col">
                        <div class="sub_col">
                            <span>{{strategiesList.view_metrics.perc_viewable_imps_1s | number:0}}%</span>
                            <span>{{strategiesList.view_metrics.perc_viewable_imps_5s | number:0}}%</span>
                            <span>{{strategiesList.view_metrics.perc_viewable_imps_15s | number:0}}%</span>
                        </div>
                    </div>
                    <div class="each_col sixth_col">
                        {{strategiesList.view_metrics.median_viewable_time | number: number:0}}
                    </div>
                    <div class="each_col seventh_col">
                        {{strategiesList.view_metrics[selected_filters.kpi_type.toLowerCase()] | appendDollor: selected_filters.kpi_type}}
                    </div>
                </div>
                <div class="all_strategies_holder">
                    
                    <div class="each_strategy_holder clearfix" ng-repeat="tactic in strategiesList.tacticsList">
                      <div class="linkage_lines">
                      </div>
                      <div class="each_strategy clearfix">
                        <div class="each_col first_col" title="{{tactic.tactic_name}}">
                            {{tactic.tactic_name | formatUrl : 15}}
                            <!--<div class="campaign_spec">(18-23 y.o.)</div>-->
                        </div>
                        <div class="each_col sec_col">
                            <div class="graph_col">
                                <div class="full_graph_line">
                                    <div class="filled_graph_line fully_filled" style="width:{{tactic.view_metrics.total_imps | calculatePerc }}px;">

                                    </div>
                                </div>
                                <div class="clearfix graph_end_points">
                                    <span>{{tactic.view_metrics.delivered_imps | number:0}}</span>
                                    <span>{{tactic.view_metrics.total_imps| number:0}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="each_col third_col">
                            <div class="sub_col">
                                <span> {{tactic.view_metrics.measurable_imps | number:0}}</span>
                                <span>{{tactic.view_metrics.perc_measurable| number:0}}%</span>
                            </div>
                        </div>
                        <div class="each_col forth_col">
                            <div class="sub_col">
                                <span> {{tactic.view_metrics.viewable_imps| number:0}}</span>
                                <span>{{tactic.view_metrics.perc_viewable | number:0}}%</span>
                            </div>
                        </div>
                        <div class="each_col fifth_col">
                            <div class="sub_col">
                                <span>{{tactic.view_metrics.perc_viewable_imps_1s | number:0}}%</span>
                                <span>{{tactic.view_metrics.perc_viewable_imps_5s | number:0}}%</span>
                                <span>{{tactic.view_metrics.perc_viewable_imps_15s | number:0}}%</span>
                            </div>
                        </div>
                        <div class="each_col sixth_col">
                            {{tactic.view_metrics.median_viewable_time | number:0}}
                        </div>
                        <div class="each_col seventh_col">
                            {{tactic.view_metrics[selected_filters.kpi_type.toLowerCase()] | appendDollor: selected_filters.kpi_type}}
                        </div>
                    </div>
                   </div>
                </div>
                
            </div>
        </div>
    </div>
</div>