<div class="pure-g report-layout">
  <div class="pure-u report-options">
  	<div class='content'>
  		<div class="report-option">
  			<div class="header">Date Range</div>
  			<div class="body">
					<div id="date_range_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header">Dimensions</div>
				<div class="body">
					<div id="available_dimensions_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header">Columns</div>
				<div class="body">
					<div id="columns_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header">Export/Share</div>
				<div class="body">
					<div id="report_options_region" class="export-share"></div>
				</div>
			</div>
  	</div>
  </div>

  <div class="pure-u report-data">
  	<div class="content">
  		<div id="selected_dimensions_region" class="selected-dimensions-container"></div>
			<div id="report_table_region" class="report-table-region"></div>
			<div id="paging_region" class="paging-region"></div>
  	</div>
  </div>
</div>
