<div class="report-left-column">
	<div class="dimensions-header">Select Date Range</div>
	<div id="date_range_region"></div>

	<div class="accordion">
		<div class="header">Dimensions</div>
		<div class="body">
			<div id="available_dimensions_region"></div>
		</div>
	</div>

	<div class="accordion">
		<div class="header">Columns</div>
		<div class="body">
			<div id="columns_region"></div>
		</div>
	</div>

	<div class="accordion">
		<div class="header">Export/Share options</div>
		<div class="body">
			<div id="report_options_region" class="report_options_region"></div>
		</div>
	</div>

</div>
<div class="report-right-column">
	<div id="selected_dimensions_region"></div>
	<div id="report_table_region"></div>
	<div id="paging_region" class="paging-region"></div>
</div>
