<div class="pure-g report-layout">
  <div class="pure-u report-options">
  	<div class='content'>
  		<div class="report-option">
  			<div class="header disable-text-select">Date Range <i class="icon-collapse pull-right"></i></div>
  			<div class="body" style="display:none">
					<div id="date_range_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">Dimensions <i class="icon-collapse  pull-right"></i></div>
				<div class="body" style="display:none">
					<div id="available_dimensions_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">Columns <i class="icon-collapse  pull-right"></i></div>
				<div class="body" style="display:none">
					<div id="columns_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">Export/Share <i class="icon-collapse  pull-right"></i></div>
				<div class="body" style="display:none">
					<div id="report_options_region" class="export-share"></div>
				</div>
			</div>
  	</div>
  </div>

  <div class="pure-u report-data">
  	<div class="content">
  		<div id="selected_dimensions_region" class="selected-dimensions-container"></div>
			<div id="report_table_region" class="report-table-region"></div>
			<div id="paging_region" class="paging-region"></div>
  	</div>
  </div>
</div>
