<div class="report-left-column">
	<div class="dimensions-header">Select Date Range</div>
	<div id="date_range_region"></div>
	<div class="dimensions-accordion">
		<div class="dimensions-header">Add Dimensions</div>
		<div class="dimensions-body">
			<div id="available_dimensions_region"></div>
		</div>
	</div>
</div>
<div class="report-right-column">
	<div id="selected_dimensions_region"></div>
	<div id="report_table_region"></div>
</div>
