<div class="pure-g report-layout">
  <div class="pure-u report-options">
  	<div class='content'>
  		<div class="report-option">
  			<div class="header disable-text-select">
          &nbsp;&nbsp;Date Range
          <span class='pull-left expand-collapse-icon'><i class="icon-angle-down"></i></span>
        </div>
  			<div class="body">
					<div id="date_range_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">
          &nbsp;&nbsp;Dimensions
          <span class='pull-left expand-collapse-icon'><i class="icon-angle-down"></i></span>
        </div>
				<div class="body">
					<div id="available_dimensions_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">
        &nbsp;&nbsp;Columns
        <span class='pull-left expand-collapse-icon'><i class="icon-angle-right"></i></span></div>
				<div class="body" style="display:none">
					<div id="columns_region"></div>
				</div>
			</div>

			<div class="report-option">
				<div class="header disable-text-select">
          &nbsp;&nbsp;Export/Share
          <span class='pull-left expand-collapse-icon'><i class="icon-angle-down"></i></span>
        </div>
				<div class="body">
					<div id="report_options_region" class="export-share"></div>
				</div>
			</div>
  	</div>
  </div>

  <div class="pure-u report-data">
  	<div class="content">
  		<div id="selected_dimensions_region" class="selected-dimensions-container"></div>
			<div id="report_table_region" class="report-table-region"></div>
			<div id="paging_region" class="paging-region"></div>
  	</div>
  </div>
</div>
