<div class="schedule-list-report">
  <div class="top-headers">
    <a id ="new_report" href= "reports/new" class="btn report-new">Create new report</a>
  </div>
  <div id="scheduled_reports_table" class="schedule-report-table-region">
  </div>
</div>