<div style="min-height:400px; display:block">
	<table id='report_table' class="table table-striped table-bordered">
	  <thead class='head-region'></thead>
	  <tbody class='body-region'></tbody>
	  <tfoot class='foot-region'></tfoot>
	</table>
</div>