<div class="pure-g header-container" >
  <div class="pure-u title-container">
    <div class="dragtable-drag-handle title"><%= name %></div>
  </div>
  <div class="pure-u">
    <div class="actions-container">
      <% if (sort_direction) { %>
        <i class="<%= sort_direction === 'asc' ? 'icon-sort-by-attributes' : 'icon-sort-by-attributes-alt'%>"></i>
      <% } else {%>
        <i class="icon-sort"></i>
      <% } %>
      <% if (is_removable) { %>
        <i class="icon-remove remove-action"></i>
      <% } %>
    </div>
  </div>
</div>
