<!-- NOTE:
For the beta phase, we need `Assigned to Me` and `Team View` sections.
So, commenting `Followed` here. TODO: have to uncomment when the following views implemented
//-->
<li class="navbar-link" data-switch-view="assigned_to_me"><a>Assigned To Me</a></li>
<li class="navbar-link" data-switch-view="team"><a>Team</a></li>
<!--<li data-switch-view="followed" class="navbar-link">Followed</li>-->
