<li data-filter-tasks-by="assigned_to_me"><a href="#tasks/assigned_to_me">Assigned To Me</a></li>
<li data-filter-tasks-by="followed">Followed</li>
<li data-filter-tasks-by="team_view" class="active"><a href="#tasks/team">Team</a></li>