<!-- NOTE: For the first phase, we just need Assigned to Me View. So, commenting other lists here, have to uncomment when the following views implemented -->
<li class="assigned-to-me navbar-link">Assigned To Me</li>
<li class="team navbar-link">Team</li>
<!--<li data-filter-tasks-by="followed">Followed</li>
<li data-filter-tasks-by="team_view" class="active"><a href="#tasks/team">Team</a></li>-->
