<div class="pure-table pure-table-horizontal rui-pure-table heading">
  <div class="pure-g">
    <div class="pure-u-1-3 text-center">Task</div>
    <div class="pure-u-1-12 text-left">Due Date</div>
    <div class="pure-u-1-8 text-left">Requester</div>
    <div class="pure-u-1-8 text-left">Assignee</div>
    <div class="pure-u-1-3 text-center">Order Name</div>
  </div>
</div>
<div class="tasks-list"></div>
<div class="load-more">
  <label id="loadMoreBtn">Load More...</label>
</div>
