<h2 class="team-name"><%= teamName%></h2>
<div class="ui dropdown" id="teamSwitch" tabindex="0">
  <input name="team_id" type="hidden">
  <div class="text"><a>Switch Team</a></div>
  <div class="menu"></div>
</div>