<h2 class="team-name"><%= teamName%></h2>
<div id="teamSwitcher">
  <!--<span class="editable custom" data-type="select" data-pk="<%= id %>" data-name="team_id" data-mode="inline" data-inputclass="wide-editable-text">Switch Team</span>-->
  <a class="editable custom" href="#" id="team_id" data-type="select" data-name="team_id" data-mode="inline" data-original-title="Switch Team">Switch Team</a>
</div>

