<div class="pure-table pure-table-horizontal rui-pure-table">
  <div class="pure-g user-header heading">
  </div>
</div>
<div class="tasks-list"></div>
<div class="load-more">
  <label id="loadMoreBtn">Load More...</label>
</div>
