<div class="dropdown">
  <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}"    id="myid_{{datashow}}">
    <span class="pull-left" ng-if="acceptmultiple == 1"> {{(header)? header : defaultoption}}  </span>
    <span class="pull-left" ng-if="acceptmultiple != 1"> {{(header)? header : defaultoption}} </span>
    <span class="caret pull-right"></span>
  </button>
  <ul class="dropdown-menu" id="{{datashow}}" >
    <div ng-if= "(datashow == 2)" >
    <li ng-show="multipleoption" >
      <button class="btn-link btn-small selectAllBtn" ng-show="datashow"  ng-click="toggleSelectAll(selectedAll)"  >
        <i ng-class="{'icon-ok': !selectedAll, 'icon-empty': selectedAll}"  ></i> {{textConstants.SELECT_ALL_SMALL_A}}</button>
    </li>
  </div>
    <div ng-if= "(datashow == 3)" >
     <li ng-show="true" >
      <button class="btn-link btn-small selectAllBtn" ng-show="datashow"  ng-click="toggleSelectAll(selectedAll)"  >
        <i ng-class="{'icon-ok': !selectedAll, 'icon-empty': selectedAll}"  ></i> {{textConstants.SELECT_ALL_SMALL_A}}</button>
    </li>
  </div>
 
    <li ng-repeat="i in items track by $index" data-attr="{{datashow}}" >
      
        <span ng-if="acceptmultiple == 1">
        <a ng-click="select(i); focus()" style="text-decoration: none;color:#000"><i ng-class="{'icon-ok': i.checked, 'icon-empty': !i.checked}" ></i>{{i.label}}</a>
      </span>
       <span ng-if="acceptmultiple != 1">
        <a ng-click="select(i); focus()" style="text-decoration: none;color:#000"><i ng-class="{'icon-ok2': i.checked, 'icon-single': !i.checked}" ></i>{{i.label}}</a>
      </span>
    </li>
  </ul>
</div>
