<div class="campaign-list-container">
    <div class="total_reports_page  ">
        <div class="common_reports_container optimization_header">
            <div class="clearfix page_top_header col-md-12">
                <div class="pull-left col-md-6 page_name" ng-bind="textConstants.OPTIMIZATION_REPORT"></div>
                <div class="pull-right col-md-6 download_report">
                    <download-report></download-report>
                </div>
            </div>
            
            <div class="clearfix">
                <filters-header reports="true"></filters-header>
            </div>
            <div class="clearfix optimization_see_dates">
                <div class="pull-right">
                    <div class="see_dates_holder clearfix">
                        <div class="external_chkbox clearfix">
                            <div class="squaredFour" id="see_dates_chkbox" >
                              <input id="optimization_squaredFour" type="checkbox" class="squaredFourChkbox" ng-checked="seeDate.value" >
                              <label for="optimization_squaredFour"></label>
                            </div>       
                            <span class="squaredFourTxt" ng-bind="textConstants.SEE_DATES"></span>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <div class="load-more"  ng-show="strategyLoading"></div>
        <div class="optimization_container" ng-hide="strategyLoading">
            <div class="reports_graph_top_section" id="graph">
                <div class="rep_graph_heading">
                    <div class="col-md-12">
                         <span ng-switch="chartForStrategy">
                                <span ng-switch-when="true" class="load-more">&nbsp;</span>
                                <span ng-switch-when="false" class="no-chart" ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></span>
                                <span ng-switch-default>
                                    <div ng-if="chartForStrategy" class="highcharts" id="details_chart">
                                        <div class="line_tooltip"></div>
                                        <div class="campaign_details_graph performance" width='990' height='250' campaign-chart chart-data="{{lineChart}}" chart-location="action_optimization"></div>
                                    </div>
                                </span>
                            </span>
                    </div>
                </div>
                <div class="rep_graph_holder"></div>
            </div>
            <!--tacticNotFound :  {{tacticNotFound | json}}-->
            <div class="smallSreenScrollContainer">
                <div class="smallSreenScrollDiv">
                    <div class="details_with_heading_total smallSreenScrollContent {{seeDate.className}}">
                        <div class="common-load-icon_viewability" id="strategy_activityLoader" ng-show="tacticLoading && selectedCampaign.id == -1"></div>
                        <div class="each_reports_row each_reports_row_heading" style="text-align: center" ng-if="tacticNotFound && selectedCampaign.id == -1"  >
                            <span class="no-data-common" ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></span>
                        </div>

                        <div class="each_reports_row each_reports_row_heading optimization_heading" ng-if="!tacticNotFound && !tacticLoading">
                            <div class="each_rep_col_holder clearfix">
                                <div class="clearfix after_before_title">
                                    <div ng-bind="textConstants.BEFORE"></div>
                                    <div ng-bind="textConstants.AFTER"></div>
                                </div>
                                <div class="each_rep_col first_col" title="Optimization Type" >{{textConstants.OPTIMIZATION_TYPE}}</div>
                                <div class="each_rep_col sec_col" title="Date Optimized" >{{textConstants.DATE_OPTIMIZED}}</div>
                                <div class="each_rep_col third_col">{{textConstants.METRIC}}</div>
                                <div class="each_rep_col forth_col left_border dates_hide">{{textConstants.DATE_FROM}}</div>
                                <div class="each_rep_col fifth_col dates_hide">{{textConstants.DATE_TO}}</div>
                                <div class="each_rep_col sixth_col dates_hide">{{textConstants.VALUE}}</div>
                                <div class="each_rep_col sixth_col dates_show">{{textConstants.BEFORE_VALUE}}</div>
                                <div class="each_rep_col sev_col left_border dates_hide">{{textConstants.DATE_FROM}}</div>
                                <div class="each_rep_col eight_col dates_hide">{{textConstants.DATE_TO}}</div>
                                <div class="each_rep_col nine_col dates_hide">{{textConstants.VALUE}}</div>
                                <div class="each_rep_col nine_col dates_show">{{textConstants.AFTER_VALUE}}</div>
                                <div class="each_rep_col ten_col left_border" >{{textConstants.CHANGE_IN_PERCENTAGE}}</div>
                            </div>
                            <kpi-drop-down selected-obj=selected_filters style="visibility: hidden" > </kpi-drop-down>

                        </div>

                        <div class="one_section_reports_holder type1_section_reports" ng-repeat="tactic in tacticList track by $index" ng-if="!tacticNotFound">
                            <div class="one_section_report_heading">
                                {{tactic.ad_name}}
                            </div>
                            <div class="reports_section_details_container reports_section_details_more" id="action-container">
                                <div class="each_reports_row each_reports_row_details "  ng-repeat="action in tactic.actionList | orderBy:'created_at':true  track by $index" id="actionItem_{{action.ad_id}}{{action.id}}" ng-mouseenter="showIcon(action.id)" ng-mouseleave="hideIcon()" data-ng-click="showSelected(action.ad_id+''+action.id,action.make_external)">
                                    <div class="each_rep_col_holder clearfix" >
                                        <div id="graph_icon_{{action.id}}" ng-click="goToGraph(action.id)" ng-if="iconIdToShow == action.id"  class="graph_icon"></div>
                                        <div  class="each_rep_col first_col"><span title="{{action.action_sub_type}}">{{action.action_sub_type}}</span></div>
                                        <div class="each_rep_col sec_col">{{action.created_at | date:'dd MMM yyyy'}}</div>
                                        <div class="each_rep_col third_col"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === action.metric_impacted.toLowerCase().split(' ').join('_')"></span><span title="{{action.metric_impacted}}">{{action.metric_impacted}}</span></div>

                                        <div class="each_rep_col forth_col dates_hide">{{action.from_date_before | date:'dd MMM yyyy'}}</div>
                                        <div class="each_rep_col fifth_col dates_hide">{{action.to_date_before | date:'dd MMM yyyy'}}</div>

                                        <div class="each_rep_col sixth_col dates_hide" ><span title = "{{action.metric_value_before  | appendDollarWithoutFormat : action.metric_impacted }}">{{action.metric_value_before | appendDollor : action.metric_impacted}}</span></div>
                                        <div class="each_rep_col sixth_col dates_show" ><span title = "{{action.metric_value_before  | appendDollarWithoutFormat : action.metric_impacted }}">{{action.metric_value_before | appendDollor : action.metric_impacted }}</span></div>
                                        <div class="each_rep_col sev_col dates_hide" >{{action.from_date_after | date:'dd MMM yyyy'}}</div>
                                        <div class="each_rep_col eight_col dates_hide">{{action.to_date_after | date:'dd MMM yyyy'}}</div>
                                        <div class="each_rep_col nine_col dates_hide" ><span title="{{action.metric_value_after  | appendDollarWithoutFormat : action.metric_impacted }}">{{action.metric_value_after | appendDollor : action.metric_impacted}}</span></div>
                                        <div class="each_rep_col nine_col dates_show" ><span title ="{{action.metric_value_after | appendDollarWithoutFormat : action.metric_impacted }}">{{action.metric_value_after | appendDollor : action.metric_impacted}}</span></div>
                                        <div class="each_rep_col ten_col positive_text"  ng-class="colorCoding(action.metric_value_after,action.metric_value_before,action.metric_impacted)"  >
                                            <span class="positive_sign">+</span><span class="negative_sign">-</span><span title="{{action.metric_percent_change  | number}}">{{roundOff(action.metric_percent_change,0)}}%</span>
                                            <span class="arrow_img"></span>
                                        </div>
                                    </div>
                                    <div class="each_report_text_row clearfix">
                                        <div class="each_report_text_col report_time">{{action.created_at | date:'h:mm a'}}</div>
                                        <div title="{{action.created_by_name}}" class="each_report_text_col report_person_name">{{action.created_by_name}}</div>
                                        <div title="{{action.comment}}" class="each_report_text_col report_text" ng-bind-html="action.comment|removeSpecialCharacter|morelines|newlines"></div>
                                    </div>
                                </div>

                                <div class="load_more_rows">&#9660;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
