<div class="dashboard_section dashboard_screens_graph_holder" ng-controller="ScreenChartController"  ng-class="{'dashboard_screens_platform' : screenWidgetData.selectedFormat == 'Platforms'}" >
  <div class="clearfix">
    <div class="dashboard_heading dashboard_heading_bold clearfix">
      <div class="pull-left">
        <div class="pull-left dropdown" id="dashboard_screen_dd">
              <span class="dropdown_ul_text" data-toggle="dropdown">
                <span>{{screenWidgetData.selectedFormat}}</span>
                <span class="arrow_img"></span>
              </span>
              <ul class="dropdown_ul dropdown-menu">
                <li ng-repeat="data in screenWidgetData.formatDropDown track by $index" data-ng-click="formatDropdownChange(data)">{{data}}</li>
              </ul>
        </div>
        <div class="pull-left tooltip_holder" >
                <span class="tooltip_show_icon"></span>
                <span class="clearfix common_tooltip">
                  {{textConstants.CATEGORIZED_DATA_TOOLTIP}}
                </span>
        </div>
      </div>
      
      <div class="pull-right dropdown" id="dashboard_allocation_dd" >
              <span class="metrics_text">{{textConstants.METRICS}}</span>
              <span class="dropdown_ul_text" data-toggle="{{!screenBusy ?  'dropdown' : ''}}">
                <span>{{screenWidgetData.selectedMetric}}</span>
                <span class="arrow_img"></span>
              </span>
              <ul class="dropdown_ul dropdown-menu">
                <li  ng-repeat="data in screenWidgetData.metricDropDown track by $index" data-ng-click="metricDropdownChange(data)" >{{data }}</li>
              </ul>
      </div>
    </div>
    <div class="common_loading_icon" ng-if="screenBusy "></div>
    <div class="each_section_graph_holder bar_section_graph_holder bar_section_graph_holder_screen">
        <div class="DashBoradScreenWidget" ng-if="screenData" bar-chart chart-data="{{screenData}}"></div>
    </div>
  </div>
</div>

