.reports_upload_page,
.reports_list_page {
  /*  .report_heading_dropdown_txt {
    display: none;
  }*/
}
.reports_upload_page .container,
.reports_list_page .container {
  width: 100% ;
}
.reports_upload_page .upload_file_holder,
.reports_list_page .upload_file_holder {
  border: 1px solid #dde6eb;
  margin-bottom: 8px;
  height: auto;
  width: 100%;
  color: #57606d;
}
.reports_upload_page .table_header,
.reports_list_page .table_header {
  border: 1px solid #dde6eb;
  padding: 20px;
  margin-top: 10px ;
  color: #21252b;
}
.reports_upload_page .each-col,
.reports_list_page .each-col {
  float: left;
  margin-right: 20px;
  min-width: 10px;
  min-height: 10px;
}
.reports_upload_page .about_file_row,
.reports_list_page .about_file_row {
  padding: 20px 5px 20px 20px ;
}
.reports_upload_page .about_file_row .file-name-col,
.reports_list_page .about_file_row .file-name-col,
.reports_upload_page .about_file_row .file-size-col,
.reports_list_page .about_file_row .file-size-col,
.reports_upload_page .about_file_row .status-col,
.reports_list_page .about_file_row .status-col {
  line-height: 32px ;
}
.reports_upload_page input[type="text"],
.reports_list_page input[type="text"] {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #dde6eb;
  background-color: #ffffff;
  font-size: 14px;
  color: #939ead;
  line-height: 18px;
  padding: 8px;
  margin: 0 8px;
  border-radius: 2px ;
  -moz-border-radius: 2px ;
  -webkit-border-radius: 2px ;
}
.reports_upload_page input[type="text"]:hover,
.reports_list_page input[type="text"]:hover {
  border: 1px solid #ccd2da;
}
.reports_upload_page .dropdown .dropdown_txt,
.reports_list_page .dropdown .dropdown_txt {
  padding: 5px 16px 5px 10px;
  border: solid 1px #dde6eb;
  background: url("/images/cdesk/common-down-arrow-space.png") no-repeat right center;
  max-width: 62px;
  min-width: 62px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: normal;
}
.reports_upload_page .dropdown .dropdown_txt:hover,
.reports_list_page .dropdown .dropdown_txt:hover {
  border: 1px solid #ccd2da;
}
.reports_upload_page .dropdown ul.dropdown-menu,
.reports_list_page .dropdown ul.dropdown-menu {
  max-width: 400px;
  min-height: 60px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
.reports_upload_page .dropdown ul.dropdown-menu li,
.reports_list_page .dropdown ul.dropdown-menu li {
  padding: 5px 10px;
  cursor: default;
}
.reports_upload_page .dropdown ul.dropdown-menu li:hover,
.reports_list_page .dropdown ul.dropdown-menu li:hover {
  background-color: #eef2f5;
}
.reports_upload_page .description_row,
.reports_list_page .description_row {
  background: url("/images/cdesk/comment.png") no-repeat 20px center #F5F9FD;
  padding: 4px 5px 4px 40px ;
  display: block;
  font-size: 12px;
  color: #57606C;
  line-height: 16px;
}
.reports_upload_page .description_row .title,
.reports_list_page .description_row .title {
  font-size: 10px;
  color: #939EAD;
  text-transform: uppercase;
  font-family: "Avenir-bold";
  margin-left: 4px;
  margin-right: 10px;
}
.reports_upload_page .description_row input,
.reports_list_page .description_row input {
  font-size: 12px;
  color: #57606C;
  line-height: 16px;
  width: 865px ;
}
.reports_upload_page .drop-box,
.reports_list_page .drop-box {
  background: #f5f9fd;
  border: 2px dashed #DDE6EB;
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
  padding: 100px 0px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.reports_upload_page .some_file_uploaded .drop-box,
.reports_list_page .some_file_uploaded .drop-box {
  padding: 40px 0px ;
}
.reports_upload_page input.report-type-name,
.reports_list_page input.report-type-name {
  width: 140px;
  margin-right: 0;
  margin-left: 4px;
  padding: 5px 8px;
  font-size: 14px;
  color: #57606d;
  line-height: 16px;
}
.reports_upload_page .img_table_txt,
.reports_list_page .img_table_txt {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #B4B8BD;
  line-height: 27px;
}
.reports_upload_page .img_table_txt a,
.reports_list_page .img_table_txt a {
  color: #0978C9;
  text-decoration: underline;
}
.reports_upload_page .img_type_format,
.reports_list_page .img_type_format {
  text-align: center;
  font-size: 14px;
  color: #21252B;
  line-height: 20px;
}
.reports_upload_page .img_type_format,
.reports_list_page .img_type_format {
  margin-top: 4px;
  display: inline-block;
}
.reports_upload_page .dragover,
.reports_list_page .dragover {
  border: 2px dashed #3AA0E6;
}
.reports_upload_page .notes,
.reports_list_page .notes {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  display: block;
}
.reports_upload_page .progress-box,
.reports_list_page .progress-box {
  background: #f5f9fd;
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
  padding: 100px 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  min-height: 280px;
  padding: 68px 0;
}
.reports_upload_page .progress_bar,
.reports_list_page .progress_bar {
  position: relative;
  height: 8px;
  background: #E9EDF2;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  margin: 25px auto;
  width: 680px;
}
.reports_upload_page .progress_area,
.reports_list_page .progress_area {
  overflow: hidden;
  height: 8px;
  margin-bottom: 20px;
  background-color: #3aa0e6;
  width: 0;
  background-image: linear-gradient(90deg, #2298EF 0%, #0978C9 100%);
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}
.reports_upload_page .progress-upload-info,
.reports_list_page .progress-upload-info {
  opacity: 0.3;
  font-size: 20px;
  color: #21252B;
  line-height: 27px;
}
.reports_upload_page .progress_percentage,
.reports_list_page .progress_percentage {
  font-size: 26px ;
  color: #21252b ;
  font-family: "Avenir-bold";
}
.reports_upload_page .delete-col,
.reports_list_page .delete-col {
  height: 16px ;
  width: 16px ;
  float: right;
  margin: 5px 5px 0 0 ;
  background: url('/images/cdesk/delete.png') no-repeat center center;
}
.reports_upload_page .file-name-col,
.reports_list_page .file-name-col {
  width: 267px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reports_upload_page .file-size-col,
.reports_list_page .file-size-col {
  width: 62px ;
}
.reports_upload_page .status-col,
.reports_list_page .status-col {
  width: 62px ;
}
.reports_upload_page .report-type-col,
.reports_list_page .report-type-col {
  width: 140px ;
}
.reports_upload_page .report-type-col .dropdown,
.reports_list_page .report-type-col .dropdown {
  float: left;
}
.reports_upload_page .report-type-col .dropdown .dropdown_txt,
.reports_list_page .report-type-col .dropdown .dropdown_txt {
  max-width: 140px;
  min-width: 140px;
}
.reports_upload_page .campaign-col,
.reports_list_page .campaign-col {
  width: 448px;
  margin-right: 14px;
}
.reports_upload_page .campaign-col .dropdown .dropdown_txt,
.reports_list_page .campaign-col .dropdown .dropdown_txt {
  max-width: 100%;
  min-width: 100%;
}
.reports_upload_page .btn_holder,
.reports_list_page .btn_holder {
  height: 60px;
  margin: 20px 0 ;
}
.reports_upload_page .btn_holder .common_primary_btn,
.reports_list_page .btn_holder .common_primary_btn {
  float: right;
  margin-right: 0;
  width: 120px;
}
.reports_upload_page .btn_holder .secondary_txt,
.reports_list_page .btn_holder .secondary_txt {
  float: right;
  margin-top: 10px;
  text-decoration: none;
}
.reports_upload_page .status-col,
.reports_list_page .status-col {
  display: none;
}
.reports_upload_page .some_status .file-name-col,
.reports_list_page .some_status .file-name-col {
  width: 240px ;
}
.reports_upload_page .some_status .status-col,
.reports_list_page .some_status .status-col {
  display: block;
}
.reports_upload_page .some_status .campaign-col,
.reports_list_page .some_status .campaign-col {
  width: 394px ;
}
.reports_upload_page .custom_report_type .report-type-col,
.reports_list_page .custom_report_type .report-type-col {
  width: 284px ;
}
.reports_upload_page .custom_report_type .campaign-col,
.reports_list_page .custom_report_type .campaign-col {
  width: 296px ;
}
.reports_upload_page .custom_report_type.some_status .campaign-col,
.reports_list_page .custom_report_type.some_status .campaign-col {
  width: 250px ;
}
.reports_upload_page .ready-status,
.reports_list_page .ready-status {
  background: url('/images/cdesk/success_icon.png') no-repeat left 8px;
  padding-left: 18px;
  color: #49C95E ;
}
.reports_upload_page .redo-status,
.reports_list_page .redo-status {
  background: url('/images/cdesk/failed_icon.png') no-repeat left 8px;
  padding-left: 18px;
  color: #0978C9;
}
.reports_upload_page .redo-status span,
.reports_list_page .redo-status span {
  border-bottom: dashed 1px #C0E1FA;
}
.reports_upload_page .file_upload_container,
.reports_list_page .file_upload_container {
  background: #f5f9fd;
  padding: 0 0 20px 0;
  border-top: solid 2px #ccd9e3;
}
.reports_upload_page .file_upload_container .file_upload_icon,
.reports_list_page .file_upload_container .file_upload_icon {
  height: 106px;
  width: 300px;
  margin: 0 auto;
  background: url('/images/cdesk/dragging_files.png') no-repeat center center;
  margin-bottom: 40px;
}
.reports_upload_page .disabled_list,
.reports_list_page .disabled_list {
  opacity: 0.3 ;
}
/* Reports upload page */
.reports_upload_page .btn_holder .common_primary_btn.loading-icon {
  margin-top: 0px ;
}
.reports_upload_page .nav_filters {
  width: 100% ;
}
.reports_upload_page .nav_filters .breadcrumb_nav_campaign {
  width: 100% ;
  margin-left: 0px ;
}
.reports_upload_page .nav_filters .breadcrumb_nav_campaign .dropdown_type1_holder {
  max-width: 100%;
}
.reports_upload_page .nav_filters .breadcrumb_nav_campaign .campaign_name_selected {
  min-width: 100%;
  max-width: 100%;
  font-family: "Avenir";
  margin-top: 5px;
  height: 25px;
}
/* Reports listing page */
.reports_list_page {
  /*hided for now through css */
  /*end of hided for now through css */
}
.reports_list_page .breadcrumb_nav_strategy {
  display: none;
}
.reports_list_page .title1 h3 {
  margin-top: 27px;
  margin-bottom: 5px ;
}
.reports_list_page .each-col {
  margin-right: 35px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ;
  cursor: pointer;
  /*    &:hover {
      .common-sort-icon {
          background: url("/images/cdesk/sprites.png") no-repeat -197px -348px;
      }
    }*/
}
.reports_list_page .nav_filters {
  margin-bottom: 25px ;
}
.reports_list_page .update-time-col {
  width: 70px ;
}
.reports_list_page .report-type-col {
  width: 94px ;
}
.reports_list_page .campaign-col {
  width: 500px ;
}
.reports_list_page .author-col {
  width: 140px ;
  margin-right: 20px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ;
}
.reports_list_page .description_row {
  padding: 12px 5px 12px 42px ;
  min-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reports_list_page .about_file_row {
  padding-bottom: 11px ;
}
.reports_list_page .no_data {
  border: 1px solid #dde6eb;
  height: 50px;
  width: 100%;
  padding: 100px;
  text-align: center;
  color: #939ead;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 20px ;
}
.reports_list_page .report_builder_container {
  margin-bottom: 0px ;
}
.reports_list_page .report_builder_container .container {
  width: 100% ;
}
.reports_list_page .upload_page_link {
  float: right;
  margin: 23px 0 0;
  font-family: "Avenir-bold";
  font-size: 12px;
  color: #0978C9;
  background-color: #fff;
  border: solid 1px #0978C9;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  letter-spacing: .5px;
  padding-left: 50px;
  width: 178px;
  background: url('/images/cdesk/upload.png') no-repeat 20px center;
  text-align: left;
  line-height: 38px;
}
.reports_list_page .options-button-col {
  float: right;
  margin-right: 0px ;
}
.reports_list_page .options-button-col .btn-icon {
  height: 20px ;
  width: 16px ;
  float: left;
  display: inline-block;
  cursor: pointer;
  margin: 0px 12px 0 0 ;
}
.reports_list_page .options-button-col .download-icon {
  background: url('/images/cdesk/download.png') no-repeat center center;
}
.reports_list_page .options-button-col .delete-icon {
  background: url('/images/cdesk/delete.png') no-repeat center center;
}
.reports_list_page .options-button-col .edit-icon {
  background: url('/images/cdesk/edit_blue.png') no-repeat center center;
}
.edit-dialog .modal-dialog {
  width: 710px ;
}
.delete-dialog .modal-dialog {
  width: 464px ;
}
body div div.nav_filters .dropdown ul.dropdown-menu {
  max-height: none;
  width: 280px ;
}
