.reports-invoice-list .report_list_table {
  margin-bottom: 40px ;
  background: #fff;
}
.reports-invoice-list .report_list_table .table-header {
  border-bottom: 2px solid #939eae;
}
.reports-invoice-list .report_list_table div.more-options {
  width: 65px ;
  padding-left: 5px;
  padding-right: 0;
  border-left: 1px none rgba(191, 201, 215, 0.5);
}
.reports-invoice-list .report_list_table .common-sort-icon {
  display: inline-block;
}
.reports-invoice-list .report_list_table .hideOption {
  display: none;
}
.reports-invoice-list .report_list_table .highlight-row,
.reports-invoice-list .report_list_table .rowHover:hover {
  background-color: #DCE6F1;
}
.reports-invoice-list .report_list_table .highlight-row .hideOption,
.reports-invoice-list .report_list_table .rowHover:hover .hideOption {
  display: block;
}
.reports-invoice-list .report_list_table .inner-row {
  background-color: #f7f7f7;
}
.reports-invoice-list .report_list_table .inner-row .hideOption {
  display: block;
}
.reports-invoice-list .report_list_table .inner-row .rowHover:hover {
  background-color: #f7f7f7;
}
.reports-invoice-list .report_list_table .inner-row .rowHover:hover .hideOption {
  display: block;
}
.reports-invoice-list .report_list_table .more-options {
  overflow: visible;
  padding: 0;
}
.reports-invoice-list .report_list_table .more-options .headerDownload {
  border-top: 1px solid #ccd2da;
  padding: 5px 15px !important;
  width: 160px;
}
.reports-invoice-list .report_list_table .more-options .headerDownload span {
  width: auto !important;
  margin: 3px 0 0 9px;
  display: inline-block;
  clear: none;
}
.reports-invoice-list .report_list_table .more-options .headerDownload a {
  margin: 0;
  color: #0978c9;
  clear: none;
  width: auto !important;
  display: inline-block;
  line-height: 100%;
  padding: 7px 0 0 10px;
}
.reports-invoice-list .report_list_table .more-options .headerDownload a:hover {
  background: none;
}
.reports-invoice-list .report_list_table .option-horizontal {
  text-align: center;
  cursor: pointer;
  height: 33px;
  padding-top: 5px;
}
.reports-invoice-list .report_list_table .option-horizontal > span {
  display: inline-block;
  height: 5px ;
  width: 5px !important ;
  background: #5D5D5D ;
  margin: 0 2px ;
  border-radius: 50% ;
  -moz-border-radius: 50% ;
  -webkit-border-radius: 50% ;
}
.reports-invoice-list .pillsWrap {
  float: left;
  width: 100%;
  padding: 3px 0 5px 22px;
}
.reports-invoice-list .table-responsive .vistoTable .tbody .tr .td .pillsWrap .labelPills {
  background: #EDF2F8;
  margin: 2px 5px 0 0;
  padding: 2px 10px;
  display: inline-block;
  float: left;
  font: 12px Avenir;
  height: 20px;
  line-height: 100%;
  border: 1px solid #BFC9D7;
  border-radius: 3px;
  width: auto;
}
.reports-invoice-list .table-responsive .vistoTable .tbody .tr .td a {
  text-align: left !important;
}
