.btn-group.create .btn {
  height: 36px;
}
.btn-group.create .btn span {
  float: left;
  margin: 1px 0 0 0;
}
.btn-group.create .btn [class^="icon-"],
.btn-group.create .btn [class*=" icon-"] {
  float: left;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: -1px 10px 0 0;
  color: #363d49;
}
.btn-group.create .btn .dropdown .dropdown-toggle {
  border-width: 0px !important;
  height: 34px;
}
.btn-group.create .btn .dropdown .dropdown-toggle [class^="icon-"],
.btn-group.create .btn .dropdown .dropdown-toggle [class*=" icon-"] {
  margin: 0;
}
.btn-group.create .btn .dropdown:hover {
  box-shadow: none;
  border-width: 0;
}
