.searchInput {
  width: auto;
  border: 1px solid #BFC9D7;
  border-width: 0;
  border-radius: 2px;
  height: 36px;
}
.searchInput a.btn {
  cursor: pointer;
  height: 36px;
  padding: 10px 15px;
  border: 1px solid #BFC9D7;
}
.searchInput .input-group {
  position: relative;
  display: none;
  width: 34px;
  float: right;
  margin-right: 1px;
}
.searchInput .input-group input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 36px !important;
  border: 1px solid #BFC9D7;
  border-right: 0px;
}
.searchInput .input-group input:focus {
  border: 1px solid #0978c9 !important;
  box-shadow: none;
}
.searchInput .input-group .btn {
  position: absolute;
  z-index: 10;
  top: 1px;
  right: 1px;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  width: 36px;
  height: 32px;
  background: #fff !important;
}
.searchInput .input-group .btn [class^="icon-"],
.searchInput .input-group .btn [class*=" icon-"] {
  float: right !important;
  cursor: pointer;
  padding: 10px 10px !important;
  top: 0;
  right: 0;
  height: 34px;
  width: 40px;
}
.searchInput .searchInputBtnInline {
  display: none;
  float: right;
  background: #DCE6F1;
  border-left: 1px solid #BFC9D7 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.searchInput .searchClearInputBtn [class^="icon-"],
.searchInput .searchClearInputBtn [class*=" icon-"] {
  background: #fff !important;
}
.searchInput.geography {
  height: auto;
}
.searchInput.geography .input-group {
  display: block;
  width: 100%;
}
.searchInput.geography .input-group input {
  border-width: 1px;
  border-right: 1px solid #BFC9D7;
}
.searchInput.geography .input-group .btn {
  position: relative;
}
[class*="col-"] tags-input {
  float: left;
  width: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
[class*="col-"] tags-input .host {
  float: left;
  width: 100%;
  margin: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
[class*="col-"] tags-input .host .tags {
  border: 1px solid #BFC9D7;
  border-radius: 2px !important;
  line-height: normal;
  padding: 2px;
  min-height: 36px;
  box-shadow: none !important;
  border-color: #BFC9D7;
  float: left;
  width: 100%;
  -webkit-appearance: none !important;
}
[class*="col-"] tags-input .host .tags ti-tag-item span {
  color: #21252b;
  font-family: "Avenir";
  font-size: inherit;
}
[class*="col-"] tags-input .host .tags input {
  font-family: "Avenir";
  box-shadow: none;
}
[class*="col-"] tags-input .host .tags input:focus {
  border-width: 0px !important;
  box-shadow: none;
}
[class*="col-"] tags-input .host .tags .tag-item {
  box-shadow: none;
  font-family: "Avenir";
  line-height: 100%;
  padding: 5px 7px;
}
[class*="col-"] tags-input .host .tags.focused {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #21252b;
  text-decoration: none;
  border: 1px solid #0978c9;
}
