body {
  background: #fff;
  color: #21252B;
}
.zeroPadding {
  padding: 0px !important;
}
.zeroMargin {
  margin: 0px !important;
}
.borderZero {
  border-width: 0px !important;
}
.disabledTxt {
  color: #BBBBBB !important;
}
.clearLeft {
  clear: left;
}
.clearBoth {
  clear: both;
}
.bottomBorder {
  border-bottom: 1px solid #bfc9d7;
}
.workflow ::-webkit-scrollbar,
#user-menu ::-webkit-scrollbar,
.vistoTable ::-webkit-scrollbar {
  display: none;
}
h1 {
  color: #21252b;
  font-size: 24px;
  font-family: "Avenir";
}
h2 {
  color: #21252b;
  font-size: 20px;
  font-family: "Avenir";
}
h3 {
  color: #21252b;
  font-size: 18px;
  font-family: "Avenir";
}
h4 {
  color: #21252b;
  font-size: 16px;
  font-family: "Avenir-bold";
}
h5 {
  color: #21252b;
  font-size: 14px;
  font-family: "Avenir-bold";
}
a {
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}
a:hover {
  text-decoration: none;
}
.breadcrumbFlow {
  color: #333;
  text-decoration: none;
}
.breadcrumbs {
  margin: 0 0 30px 0;
}
.breadcrumbs h5 {
  float: left;
  font-size: 16px;
  font-family: 'Avenir';
  cursor: pointer;
}
.breadcrumbs h5:first-child:hover {
  color: #0978C9;
}
.breadcrumbs .icon-arrow-down {
  float: left;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  margin: 11px 10px 0px 10px;
}
.labelQuestTxt {
  color: #21252b;
  font-size: 16px;
  font-weight: normal;
  text-align: left !important;
  margin: 20px 0 0 0 !important;
  padding: 0 !important;
}
.greyTxt {
  color: #939eae !important;
  padding: 10px 0 5px 0 !important;
  text-align: left;
  font-size: 12px !important;
  font-weight: normal;
  margin: 0;
}
.helpLink {
  opacity: .3;
  text-decoration: none !important;
}
[class^="icon-"],
[class*=" icon-"] {
  height: 16px;
  width: 16px;
  font-size: 16px;
  display: inline-block;
  fill: currentColor;
  color: #57606D;
}
.form-group {
  padding-right: 10px;
}
input[type='text'],
input[type='number'],
.has-success input[type='text'].form-control {
  border: 1px solid #BFC9D7;
  border-radius: 2px !important;
  line-height: normal;
  padding: 10px 12px 7px 12px;
  height: auto;
  box-shadow: none;
  border-color: #BFC9D7;
}
input[type='text']:focus,
input[type='number']:focus,
.has-success input[type='text'].form-control:focus,
textarea:focus {
  border: 1px solid #0978c9 !important;
  box-shadow: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
  border: 1px solid #dbe8ef;
  border-radius: 0 !important;
}
select {
  border-radius: 1px;
  border: 1px solid #ccd2da;
}
.dropdown-toggle,
.dropdown-toggle-search {
  border-radius: 1px;
  text-align: left;
  background: #fff;
}
.dropdown-toggle .caret,
.dropdown-toggle-search .caret {
  float: right !important;
  margin-top: 5px;
}
.dropdown-workflow .btn {
  padding: 10px 15px 10px 15px;
  box-shadow: none !important;
  text-align: left;
  line-height: 16px;
  font-size: 14px;
  height: 36px;
  width: 100%;
  overflow: hidden;
}
.dropdown-workflow .btn:focus,
.dropdown-workflow .btn:active:focus,
.dropdown-workflow .btn.active:focus {
  outline: 0 none;
  background-color: #DCE6F1 !important;
}
.dropdown-workflow .btn-default {
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir;
  border-radius: 2px;
  border: 1px solid #BFC9D7 !important;
  position: relative;
}
.dropdown-workflow .btn-default .text {
  float: left;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-workflow .btn-default:not(.label-btn):hover {
  background-color: #E1EDF9 !important;
  border: 1px solid #BFC9D7 !important;
}
.dropdown-workflow .btn-default:not(.label-btn):active {
  background-color: #DCEDF1 !important;
  border: 1px solid #BFC9D7 !important;
  box-shadow: none;
}
.dropdown-workflow span.icon-arrow-down,
.dropdown-workflow .icon-search {
  font-size: 10px;
  color: #000;
  height: 4px;
  width: 2px;
  line-height: 16px;
  position: absolute;
  z-index: 10;
  top: 11px;
  right: 20px;
}
.dropdown-workflow .dropdown-menu > li > a,
.dropdown-workflow .dropdown-menu-search > li > a {
  color: #21252b;
  font-family: Avenir;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding: 3px 15px;
}
.dropdown-workflow .disabled a {
  color: #21252b;
  opacity: .4;
}
.dropdown-workflow .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}
.dropdown-workflow .dropdown-menu,
.dropdown-workflow .dropdown-menu-search {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  width: auto;
  min-width: 100%;
  max-width: 340px;
  max-height: 280px;
  overflow: auto;
}
.dropdown-workflow .dropdown-menu li,
.dropdown-workflow .dropdown-menu-search li {
  float: left;
  width: 100%;
}
.dropdown-workflow .dropdown-menu li span,
.dropdown-workflow .dropdown-menu-search li span {
  float: left;
  width: 100%;
  padding: 5px 10px 1px;
}
.dropdown-workflow .dropdown-menu li span input[type="checkbox"],
.dropdown-workflow .dropdown-menu-search li span input[type="checkbox"] {
  margin: 4px 10px 0 0;
}
.dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick,
.dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick {
  font-size: 9px;
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 5px 10px 5px 3px;
  color: #363d49;
  float: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick.active,
.dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.dropdown-workflow .dropdown-menu li ul,
.dropdown-workflow .dropdown-menu-search li ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0 0 5px 0;
}
.dropdown-workflow .dropdown-menu li ul li,
.dropdown-workflow .dropdown-menu-search li ul li {
  float: left;
  width: 100%;
}
.dropdown-workflow .dropdown-menu li ul li a,
.dropdown-workflow .dropdown-menu-search li ul li a {
  color: #21252b;
  font-family: Avenir;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding: 3px 15px;
  float: left;
}
.dropdown-workflow .dropdown-menu li ul li a:hover,
.dropdown-workflow .dropdown-menu-search li ul li a:hover {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown-menu li ul li span input,
.dropdown-workflow .dropdown-menu-search li ul li span input {
  margin-right: 8px;
}
.dropdown-workflow .dropdown-menu .headerDDL,
.dropdown-workflow .dropdown-menu-search .headerDDL {
  border-top: 1px solid #ccd2da;
  margin: 0;
}
.dropdown-workflow .dropdown-menu .headerDDL [class^="icon-"],
.dropdown-workflow .dropdown-menu-search .headerDDL [class^="icon-"],
.dropdown-workflow .dropdown-menu .headerDDL [class*=" icon-"],
.dropdown-workflow .dropdown-menu-search .headerDDL [class*=" icon-"] {
  float: left;
  width: auto;
  padding: 0;
  margin: 12px 0 0 10px;
}
.dropdown-workflow .dropdown-menu .headerDDL .greyTxt,
.dropdown-workflow .dropdown-menu-search .headerDDL .greyTxt {
  float: left;
  width: auto;
  padding: 12px 0 0 15px!important;
}
.dropdown-workflow .dropdown-menu .headerDDL:first-child,
.dropdown-workflow .dropdown-menu-search .headerDDL:first-child {
  border-width: 0px;
}
.dropdown-workflow .dropdown-menu .active a,
.dropdown-workflow .dropdown-menu-search .active a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown-menu.pull-top.pull-left {
  top: initial !important;
  bottom: 105%;
}
.dropdown-workflow .dropdown-menu-search {
  overflow: scroll;
}
.dropdown-workflow .dropdown-menu > li > a:hover,
.dropdown-workflow .dropdown-menu > li > a:focus,
.dropdown-workflow .dropdown-menu > li > .active > a,
.dropdown-workflow .dropdown-menu-search > li > a:hover,
.dropdown-workflow .dropdown-menu-search > li > a:focus,
.dropdown-workflow .dropdown-menu-search > li > .active > a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown {
  display: inline-block;
  width: 100%;
}
.dropdown-workflow .searchBar {
  position: relative;
  margin-bottom: 15px;
  margin-top: -5px;
}
.dropdown-workflow .searchBar .icon-search {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: #939eae;
}
.dropdown-workflow .category_dropdown {
  padding: 5px 5px 0 0;
  border-top: solid 1px #bfc9d7;
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}
.dropdown-workflow .category_dropdown .btn {
  width: auto;
}
.dropdown-menu,
.dropdown-menu-search {
  /*width: auto;
  min-width: 100%;
  max-width: 340px;
  max-height: 255px;
  margin-top: 3px;
  margin-left: 0;
  border: 1px solid #ccd2da;
  border-radius: 1px;*/
  /*reverted this as it is breaking calendar*/
  width: 280px;
  margin-top: 3px;
  margin-left: 0;
  border: 1px solid #ccd2da;
  border-radius: 1px;
}
.dropdown-search {
  padding-top: 0;
}
.dropdown-search input[type="text"] {
  border-radius: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.dropdown-search li a {
  padding: 5px 10px;
}
.dropdown-search li a input[type="checkbox"] {
  margin: 0px;
}
.dropdown-search li a .icon-arrow-down-thick {
  font-size: 10px;
  color: #000;
  height: 10px;
  width: 10px;
  text-align: center;
  margin: 0 6px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dropdown-search li a .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.dropdown-search li ul {
  padding: 0 0 0 0;
  list-style: none;
  float: left;
  width: 100%;
}
.dropdown-search li ul li {
  float: left;
  width: 100%;
  padding: 0 0 0 26px;
}
.dropdown-search li ul li a {
  width: 100%;
  padding: 5px 0;
  color: #21252b;
  font-family: Avenir;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
.dropdown-search li ul li a input[type="checkbox"] {
  margin: 0 6px 0 0;
}
.dropdown-search li ul li:hover {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.datepicker-dropdown {
  width: auto;
}
.workflowPreloader {
  position: absolute;
  z-index: 9999999999;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.workflowPreloader img {
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  -webkit-filter: hue-rotate(22deg);
  filter: hue-rotate(22deg);
}
.workflowPreloader .adSavePre {
  position: absolute;
  z-index: 15;
  width: 200px;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: 40px;
  display: none;
}
.date {
  padding: 0;
}
.date .dateWrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0;
}
.date .dateWrapper .dateContainer {
  float: left;
  width: 150px;
}
.date .dateWrapper .dateContainer label {
  text-align: left;
}
.date .dateWrapper .dateContainer input {
  font-size: 12px;
  text-indent: 2px;
  width: 150px;
  background: transparent;
  cursor: pointer;
}
.date .dateWrapper .dateContainer #endDateInput,
.date .dateWrapper .dateContainer #individualAdsEndDateInput {
  background: rgba(0, 0, 0, 0.07);
}
.date .dateWrapper .dateContainer:last-child {
  padding-left: 10px;
}
.date .input-group-addon {
  background: transparent;
  border-width: 0;
  width: 100%;
  padding: 0;
  cursor: pointer;
  margin: 12px 0 0 0;
}
.date .input-group-addon .calenderIcon {
  float: left;
  border-left: 1px solid #dbe8ef;
  margin: 21px 10px 0 111px;
}
.date .input-group-addon .calenderIcon .icon-calendar {
  margin: 8px 11px;
  float: left;
}
.form-control {
  border-radius: 1px !important;
  border: 1px solid #ccd2da;
  -webkit-appearance: none;
}
.successMessage {
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
}
.errorLabel {
  color: #F24444 !important;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-family: 'Avenir';
  display: none;
}
/*don’t remove with out informing abhimanyu*/
.customFieldErrorMsg {
  color: #F24444 ;
  padding: 2px 0 0 0;
  font-size: 12px;
  float: left;
  line-height: 16px;
}
.has-error .errorLabel {
  display: block;
}
.firstWrapper .has-error .form-control {
  border-color: #f24444 !important ;
  box-shadow: 0px 0px 0px transparent !important ;
}
.has-error .form-control:focus {
  box-shadow: 0px 0px 0px transparent !important ;
}
.customErrorLabel {
  color: #E83B05 !important;
  padding: 2px 0 0 4px !important;
  margin-top: 0 !important;
  margin-left: 0;
  font-size: 13px;
  font-weight: lighter;
  display: block;
}
.bodyWrap {
  width: 1200px;
  margin: 0 auto ;
}
.preloader {
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 100;
  width: 31px;
  height: 31px;
  margin-left: -15px;
}
.firstWrapper select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('/images/cdesk/common-down-arrow-space.png') no-repeat right 10px;
  border: 1px solid #dbe8ef !important;
}
.firstWrapper .nav_filters {
  width: 100%;
  margin: 20px 0;
}
.btn,
select {
  border-radius: 2px;
  text-decoration: none;
  font-family: "Avenir";
  line-height: 100%;
  padding: 10px 15px;
  box-shadow: none !important;
  /*commented manny's changes here as it was reflecting all other places*/
  /*padding: 10px 15px 10px 15px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  width: auto;*/
}
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}
.btn-primary {
  background: #0978C9;
}
.btn-primary:hover {
  background: #0564A9;
}
.btn-primary:active,
.btn-primary.active {
  background: #004D86;
}
.btn-default {
  color: #57606d;
  font-size: 14px;
  border: 1px solid #dde6eb;
}
.btn-default:not(.label-btn):hover {
  background: #e1edf9;
}
.btn-default:not(.label-btn):active,
.btn-default:not(.label-btn).active {
  background: #E1EDF9;
}
.label-btn {
  cursor: default;
}
.radioBtnToggle .miniToggle {
  /* Override for Inventory whitelist/blacklist toggle active button */
}
.radioBtnToggle .miniToggle label {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ccd2da;
}
.radioBtnToggle .miniToggle label span {
  width: 100%;
  text-align: center;
}
.radioBtnToggle .miniToggle input[type="text"] {
  margin: 0px 10px;
  float: left;
}
.radioBtnToggle .miniToggle .btn-default {
  border-radius: 2px !important;
  box-shadow: none;
}
.radioBtnToggle .miniToggle .btn-default span {
  color: #363D49;
}
.radioBtnToggle .miniToggle .btn-default:hover {
  background-color: #E1EDF9;
  color: #363D49;
  border: 1px solid #BFC9D7;
}
.radioBtnToggle .miniToggle .btn-default:hover span {
  color: #363D49;
}
.radioBtnToggle .miniToggle .btn-default.active,
.radioBtnToggle .miniToggle .btn-default.active:hover {
  background-color: #0978C9;
  border: 1px solid #0978C9;
  color: #ffffff;
  box-shadow: none;
}
.radioBtnToggle .miniToggle .btn-default.active span,
.radioBtnToggle .miniToggle .btn-default.active:hover span {
  color: #fff;
}
.radioBtnToggle .miniToggle .btn.btn-default.whitelist.active.disabled,
.radioBtnToggle .miniToggle .btn.btn-default.blacklist.active.disabled {
  border: 1px solid #0978C9;
  opacity: 1;
}
.radioBtnToggle .miniToggle .btn-default:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.radioBtnToggle .miniToggle .btn-default:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.goalBtnGroup .btn-primary {
  border-radius: 0px;
  width: auto;
  height: 36px;
  float: left;
  margin: 0 !important;
  border-width: 0;
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir;
  border: 1px solid #BFC9D7;
  border-left: 0;
  position: relative;
  padding: 10px 15px;
}
.goalBtnGroup .btn-primary span {
  float: left;
  color: #21252b;
  font-size: 14px;
  margin: 2px 0 0 10px;
}
.goalBtnGroup .btn-primary input {
  opacity: 0;
}
.goalBtnGroup .btn-primary:hover {
  background-color: #E1EDF9;
  color: #363D49;
}
.goalBtnGroup .btn-primary.first {
  border-left: 1px solid #BFC9D7;
}
.goalBtnGroup .btn-primary.active {
  background-color: #0978C9;
  border-right: 1px solid #0978C9 !important;
  color: #ffffff;
  box-shadow: none;
}
.goalBtnGroup .btn-primary.active span {
  color: #fff;
}
.goalBtnGroup .btn-primary.active .hideRadioBtn:hover {
  background-color: #0978C9 !important;
  color: #363D49 !important;
}
.goalBtnGroup label {
  position: relative;
  height: 60px;
  margin-top: 10px;
}
.goalBtnGroup label .hideRadioBtn {
  top: 0;
  left: 0;
  width: auto ;
  height: 100%;
  margin-top: -15px;
  margin-bottom: 0;
}
.goalBtnGroup label .hideRadioBtn img,
.goalBtnGroup label .hideRadioBtn [class^="icon-"],
.goalBtnGroup label .hideRadioBtn [class*=" icon-"] {
  float: left;
}
.goalBtnGroup label .hideRadioBtn:hover {
  background-color: #E1EDF9;
}
.goalBtnGroup label.active .hideRadioBtn:hover {
  background-color: #E1EDF9;
  color: #363D49;
}
.goalBtnGroup label.active .hideRadioBtn {
  background-color: #0978C9;
  color: #ffffff;
  box-shadow: none;
}
.goalBtnGroup label.active .hideRadioBtn [class^="icon-"],
.goalBtnGroup label.active .hideRadioBtn [class*=" icon-"] {
  color: #fff;
}
.firstBtnGroup .btn-primary {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border: 1px solid #BFC9D7;
}
.firstCreateBtnGroup {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border: 1px solid #BFC9D7 !important;
}
.lastBtnGroup .btn-primary {
  border: 1px solid #BFC9D7;
  border-left: 0;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.lastCreateBtnGroup {
  border: 1px solid #BFC9D7 !important;
  border-left: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.btn-ani-toggle {
  position: relative;
  cursor: pointer;
}
.btn-ani-toggle .togBtnBg {
  background: #0978c9;
  border-radius: 40px;
  width: 45px;
  height: 17px;
  float: left;
  margin-top: 4px;
}
.btn-ani-toggle .btn {
  height: 25px;
  width: 25px;
  border-radius: 25px !important;
  position: absolute;
  left: -2px;
  top: 0;
  background: #fff;
  border: 1px solid #ccd2da;
  margin: 0 !important;
  padding: 0;
}
.btn-ani-toggle .btn.active {
  left: 22px;
}
.calenderIcon {
  border-left: 1px solid #dbe8ef !important;
}
.left_column_nav {
  padding: 30px 0 0 0;
  width: 23%;
  float: left;
  height: 100%;
}
.left_column_nav .campaign_name {
  font-family: "Avenir";
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.left_column_nav .stepCompLabel {
  border-width: 0;
}
.left_column_nav .stepCompLabel p {
  margin: 15px 0 0 0;
  float: left;
}
.left_column_nav .stepCompLabel .titleLabel {
  font-size: 14px;
  color: #939eae;
  cursor: default;
}
.left_column_nav .stepCompLabel .statusLabel {
  float: left;
  width: 100%;
  clear: left;
  margin: 8px 0 0 0;
}
.left_column_nav .stepCompLabel .statusLabel .errorTxt {
  color: #e83b05;
}
.left_column_nav .stepCompLabel .statusLabel .glyphicon {
  width: 16px;
  text-align: left;
  padding: 0;
}
.left_column_nav .stepCompLabel .statusLabel .col-md-5 {
  font-size: 11px;
  color: #939eae;
  padding-right: 5px ;
}
.left_column_nav .stepCompLabel .statusLabel .col-md-12 {
  padding-left: 16px;
  text-align: left;
}
.left_column_nav .stepCompLabel .statusLabel .col-md-12 .statusIcon {
  margin: -1px 5px 0 0;
  float: left;
}
.left_column_nav .stepCompLabel .statusLabel .col-md-12 .txtLabel {
  margin: 8px 0 0 0;
  float: left;
  clear: left;
}
.left_column_nav .stepCompLabel .statusLabel:first-child {
  margin: 0;
}
.left_column_nav .stepCompLabel .statusLabel.ng-scope span:last-child,
.left_column_nav .stepCompLabel .statusLabel.disabled span {
  color: #939eae;
  padding-left: 3px;
}
.left_column_nav .stepCompLabel .statusLabel.disabled span.creative_tab_sizes {
  padding-left: 0px ;
}
.left_column_nav .stepCompLabel li {
  width: 100%;
  margin-bottom: 2px;
  margin-top: 20px;
  float: left;
}
.left_column_nav .stepCompLabel li a {
  font-size: 14px;
  width: 100%;
  float: left;
  color: #939eae;
  text-decoration: none;
  padding: 4px ;
  border-width: 0;
  cursor: pointer;
}
.left_column_nav .stepCompLabel li a:hover {
  background: transparent;
  text-decoration: none;
}
.left_column_nav .stepCompLabel li:first-child {
  margin-top: 0;
}
.left_column_nav .stepCompLabel span {
  font-size: 12px;
  float: left;
}
.left_column_nav .stepCompLabel span:first-child {
  clear: left;
  text-align: right;
}
.left_column_nav .stepCompLabel .active {
  background-image: url("/images/workflow/blueSelector.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.left_column_nav .stepCompLabel .active a {
  font-family: "Avenir-bold";
  color: #0978c9;
  border-radius: 0;
  background: transparent;
}
.left_column_nav .stepCompLabel .active span {
  font-family: "Avenir";
}
.left_column_nav .stepCompLabel .glyphicon {
  padding: 0 5px 0 0;
  text-align: center;
  width: 20px;
}
.left_column_nav .nav-tabs > li.active > a,
.left_column_nav .nav-tabs > li.active > a:hover,
.left_column_nav .nav-tabs > li.active > a:focus {
  border-width: 0px;
  color: #0978c9;
  background: transparent;
}
.left_column_nav .creative_tab_sizes {
  word-wrap: break-word;
  word-break: break-word;
  text-align: left !important;
}
.left_column_nav div.each-setting.statusLabel span {
  font-size: 14px ;
}
.left_column_nav div.each-setting.statusLabel .grey_txt {
  font-size: 12px ;
  margin-top: 2px;
}
.left_column_nav div.each-setting.statusLabel .icon_txt {
  float: left;
  margin-right: 4px;
}
.left_column_nav div.each-setting.statusLabel div.col-md-12 span.statusIcon {
  margin: 2px 5px 0 0 ;
}
.left_column_nav div.statusLabel div.col-md-12 .statusIcon.icon-calendar {
  margin-left: 2px ;
}
.campaign-create-left-nav .campaign_name {
  float: none;
}
.campaign-create-left-nav .active .titleLabel {
  font-family: "Avenir-bold";
  color: #0978c9 ;
}
.campaign-create-left-nav .eachStepCompLabel {
  margin-bottom: 20px ;
}
.campaign-create-left-nav .eachStepCompLabel p {
  margin: 0 ;
  float: none;
}
.table thead {
  border: 1px solid #d2dee7;
  border-bottom: 2px solid #d2dee7;
}
.table thead tr th {
  border-width: 0;
  font-weight: normal;
}
.table tbody tr td {
  background: #F5FAFD;
  padding: 20px;
}
.table tbody tr:nth-child(odd) td {
  background: #fff;
}
.searchInput .input-group {
  width: 100%;
}
.searchInput .input-group input[type="text"] {
  margin: 0;
}
.searchInput .input-group span {
  position: absolute;
  z-index: 10;
  top: 1px;
  right: 1px;
}
.searchInput .input-group span button {
  float: right;
  margin: 0 !important;
  border-width: 0;
  cursor: pointer;
}
.searchInput .input-group span button .glyphicon {
  position: inherit;
}
.tooltipWrap {
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
}
.tooltipWrap span {
  color: #21252b;
  font-size: 14px;
  float: left;
}
.tooltipWrap .btn {
  border: 1px solid #0978c9;
  border-radius: 2px;
  text-align: center;
  width: 62px;
  height: 32px;
  background: #fff;
  float: left;
}
.tooltipWrap .btn:last-child {
  background: #0978c9;
  color: #fff;
  margin-left: 5px;
}
.tooltipWrap:after,
.tooltipWrap:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tooltipWrap:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.tooltipWrap:before {
  border-color: rgba(230, 230, 230, 0);
  border-top-color: #E6E6E6;
  border-width: 11px;
  margin-left: -11px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  float: left;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 72px;
  height: 36px;
  background-color: #BFC9D7;
  border-radius: 2px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #fdfdfd;
  border-radius: 2px;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #DCE6F1;
  border-radius: 2px;
  transition: margin 0.4s;
  height: 32px;
  margin: 1px 0 0 1px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #0978C9;
  background-image: url("/images/workflow/checkMark.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 11px;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 49px;
}
/* .squared Check Box */
.squaredChk {
  width: 20px;
  position: relative;
  margin: 20px auto;
}
.squaredChk label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredChk label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.squaredChk label:hover::after {
  opacity: 0.5;
}
.squaredChk input[type=checkbox] {
  visibility: hidden;
}
.squaredChk input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/* end .squared Check Box */
.atlwdg-trigger {
  border-radius: 0 !important;
  background: #007ac9 !important;
  font-family: "Avenir" !important;
}
.icon-close {
  font-size: 8px;
  width: 8px;
  height: 8px;
  float: left;
  margin: 6px;
  cursor: pointer;
}
.closePopBtn {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 10;
  cursor: pointer;
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: #21252B;
  opacity: .25;
}
.cardSelectHolder {
  border-radius: 1px;
  border: 1px solid #bfc9d7;
  padding: 30px 20px;
  min-height: 280px;
  width: 32%;
  margin-right: 2%;
  margin-top: 2%;
  float: left;
  position: relative;
}
.cardSelectHolder span {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 50px;
}
.cardSelectHolder p {
  color: #21252b;
  font-family: "Avenir-bold";
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  float: left;
}
.cardSelectHolder p span {
  font-family: "Avenir";
  color: #939eae;
  width: auto;
  float: none;
}
.cardSelectHolder img {
  margin: 30px auto 10px;
  display: table;
  max-height: 30px;
}
.cardSelectHolder .btn {
  float: left;
  position: relative;
  left: 50%;
  margin-left: -32px;
  margin-top: 20px;
  cursor: pointer;
}
.cardSelectHolder .btn.active {
  background: #E1EDF9;
  box-shadow: none;
  width: auto;
  margin-left: -43px;
  min-height: auto;
}
.cardSelectHolder a {
  color: #2c9aec;
  font-size: 12px;
  float: left;
  width: 100%;
  text-align: center;
}
.cardSelectHolder [class^="icon-"],
.cardSelectHolder [class*=" icon-"] {
  float: left;
  width: 100%;
  text-align: center;
  height: 32px;
  font-size: 32px;
  color: #363d49;
  min-height: initial;
}
.cardSelectHolder .icon-inline-edit,
.cardSelectHolder .icon-trash {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  color: #363d49;
  font-size: 16px;
  width: 16px;
  height: 16px;
  display: none;
}
.cardSelectHolder .icon-inline-edit:hover,
.cardSelectHolder .icon-trash:hover {
  color: #0978c9;
  cursor: pointer;
}
.cardSelectHolder .icon-trash {
  z-index: 90;
}
.cardSelectHolder .targetDataSaved {
  float: left;
  width: 100%;
  text-align: center;
}
.cardSelectHolder .targetDataSaved .targetDataSavedTop {
  display: table;
  margin: 0 auto 2px ;
}
.cardSelectHolder .targetDataSaved .icon-target,
.cardSelectHolder .targetDataSaved .icon-exclude {
  font-size: 16px;
  width: 16px;
  height: 16px;
  float: left;
}
.cardSelectHolder .targetDataSaved span {
  width: auto;
  min-height: initial;
  padding: 0 5px;
}
.cardSelectHolder .targetDataSaved .badge {
  color: #21252b;
  font-weight: normal;
  background: #fff;
  border: 1px solid #bfc9d7;
  float: left;
}
.cardSelectHolder .targetDataSaved .targetListItem {
  text-align: center;
  width: 100%;
  color: #939eae;
  font-size: 14px;
  float: left;
}
.cardSelectHolder .targetDataSaved .targetListItemMore {
  text-align: center;
  width: 100%;
  color: #0978c9;
  font-size: 14px;
  float: left;
}
.cardSelectHolder .onSelectBtn {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  cursor: pointer;
  margin: 0 !important;
  background: transparent !important;
  border-width: 0;
}
.cardSelectHolder:nth-child(3) {
  margin-right: 0;
  z-index: 0;
}
.cardSelectHolder:hover {
  background-color: rgba(225, 237, 249, 0.4);
  border: 1px solid #0978c9;
}
.cardSelectHolder.active .icon-inline-edit {
  display: initial;
  color: #363d49;
}
.cardSelectHolder.active .icon-trash:hover {
  color: #0978c9;
}
.cardSelectHolder.active:hover .icon-inline-edit {
  display: initial;
  color: #0978c9;
}
.popUpCue {
  position: absolute;
  z-index: 2;
  left: 9px;
  top: 70px;
  background: #fff;
  border: 1px solid rgba(154, 154, 154, 0.38);
  width: 240px;
  padding: 15px;
  border-radius: 5px;
}
.popUpCue span {
  height: 80px;
  margin-bottom: 10px;
}
.popUpCue:after,
.popUpCue:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* Over-ride for Inventory domain name delete comfirmation popup */
.remove-domain-list {
  display: none;
  left: auto;
  right: 0;
  top: -50px;
  width: auto;
}
.remove-domain-list span {
  display: inline-block;
  height: auto;
  margin: 8px 0 0;
  width: auto;
}
.remove-domain-list:after,
.remove-domain-list:before {
  left: auto;
  right: 20px;
}
/* END: Over-ride for Inventory domain name delete comfirmation popup */
.popUpCue:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}
.popUpCue:before {
  border-color: rgba(107, 107, 107, 0);
  border-top-color: rgba(154, 154, 154, 0.38);
  border-width: 8px;
  margin-left: -8px;
}
.nextWrapper {
  position: absolute;
  left: -1px;
  bottom: 0px;
  background: #fff;
  border-top: 1px solid #D0D0D0;
  height: 30px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  z-index: 999999;
}
.nextWrapper img {
  width: 35px;
  margin-top: -12px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+37,ffffff+100&amp;1+22,0+100 */
  background: -moz-linear-gradient(top, #ffffff 22%, rgba(255, 255, 255, 0.81) 37%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffffff), color-stop(37%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 22%, rgba(255, 255, 255, 0.81) 37%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 22%, rgba(255, 255, 255, 0.81) 37%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 22%, rgba(255, 255, 255, 0.81) 37%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 22%, rgba(255, 255, 255, 0.81) 37%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
.nextWrapper .btn {
  margin-top: -24px;
}
/*! jQuery UI - v1.11.4 - 2015-11-05 For Slider
* http://jqueryui.com
* Includes: core.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 100;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.ui-widget-content a {
  color: #222222;
}
.ui-widget-header {
  border: 1px solid #aaaaaa;
  color: #222222;
  font-weight: bold;
}
.ui-widget-header a {
  color: #222222;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  font-weight: normal;
  color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  font-weight: normal;
  color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #212121;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  font-weight: normal;
  color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  /* support: IE8 */
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  /* support: IE8 */
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* support: IE8 - See #6059 */
}
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px;
}
/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: alpha(opacity=30);
  /* support: IE8 */
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa;
  opacity: .3;
  filter: alpha(opacity=30);
  /* support: IE8 */
  border-radius: 8px;
}
.form-horizontal .control-label {
  text-align: left;
}
.blueTxt {
  color: #0978c9  !important ;
}
.setTargetOptions .msgPopup:before {
  left: auto ;
  right: 8px ;
}
.setTargetOptions .msgPopup:after {
  left: auto ;
  right: 9px ;
}
.dropdown-search-btn .searchBar {
  margin-bottom: 0;
}
.dropdown-search-btn .ddList {
  list-style: none;
  float: left;
  padding: 10px 0;
  max-height: 100px;
  overflow: auto;
}
.dropdown-search-btn .category_dropdown {
  margin-top: 0px ;
}
tags-input .tags .tag-item {
  background: #edf2f8;
}
