// Place all the styles related to the reports/dimensions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports_layout_table{
	width:100%;
}
.order-repoprt-leftcol{
	width:220px;
	vertical-align:top;
}
.order-repoprt-rightcol{
	vertical-align:top;
}
#orders_report_table{
	display:none;
}
table#orders_report_table th{
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	vertical-align: middle;
	padding:5px;
	background: #898989; 
}
table#orders_report_table th.l_width{ width:270px; }
table#orders_report_table th.s_width{ width:47px; }
table#orders_report_table td.l_width{ text-align: left; }
table#orders_report_table td.s_width{ text-align: right; }
table#orders_report_table td{
	font-size:12px;
	line-height:16px;
	padding:5px;
}
.droppable-inner{
	padding:10px;
}
.placeholder{
	height:400px;
	text-align:center;
	padding-top:270px;
  font-size:25px;
  color:#555;   
  background:#f2f2f2;	
  margin-top:-20px;
}
.ajax-loader{
	height:400px;
  display:none;
  text-align:center;
	padding-top:270px;
	background:#f2f2f2;		
	margin-top:-20px;
}
.select-date-range{
	padding:2px 2px 0px 2px;
}
.report-date{
	background: #fff; 
	cursor: pointer; 
	padding: 5px;	
	border:1px solid #ccc;
	margin-bottom:5px;
	display:block;
}
.report-date span{
	font-size:13px;
	color:#333;
	display:inline-block;
	padding:0 5px;
}
.caret{
	margin-top:8px;
}
.daterangepicker .ranges li{
	margin-bottom:3px;
}
.selected-dimensions{
	letter-spacing:0;
	display:none;
	text-align:center;
}
.selected-dimename, .selected-dimename:hover{
	color:#fff;
	margin: 0 0 10px 0;
	text-decoration:none;
	letter-spacing:0;
	cursor:pointer;
}
.dime-label{
	display:inline-block;
}
.dimensions-accordion{
	padding:0px;
	margin:0px;
}
.dimensions-header{
	font-size: 14px;
	line-height:16px;
	color: #fff;
	padding:7px 0 7px 15px;
	margin:0px;
	background:#898989;
	border-bottom:1px solid #fff;
	cursor:pointer;	
}
.dimensions-body{
	display:none;
}
.active{
	display:block;
}
ul.dimensions{
	padding:0px;
	margin:0px 0 3px 0;
	list-style-type:none;
}
ul.dimensions li{
	font-size:12px;
	line-height:16px;
	color:#333;
	padding:5px 0 5px 15px;
	margin:0px;
	border-bottom: 1px solid #fff;
	background:#e7e7e7;
	cursor:move;
}
ul.dimensions li:hover{
	background:#008dd1;
	color:#fff;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #fff;
	margin:5px 5px 0 0;
	float:right;
	display:inline-block;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #fff;
	margin:5px 5px 0 0;
	float:right;
	display:inline-block;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-left: 5px solid #333;
	border-top: 5px solid transparent;	
	border-bottom: 5px solid transparent;
	margin:5px 5px 0 0;
	display:inline-block;
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-right: 5px solid #fff;
	border-top: 5px solid transparent;	
	border-bottom: 5px solid transparent;
	display:inline-block;
}
.dimensions-inner{
	padding:10px;
}
.dimensions-body ul{
	padding:0px;
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.dimensions-body ul li{
	font-size:12px;
	line-height:16px;
	color:#333;
	cursor: move;
	padding:5px 0 5px 15px;
	margin:0px;
	border-bottom: 1px solid #fff;
	background:#e7e7e7;
}
.dimensions-body ul li:hover{
	background:#008dd1;
	color:#fff;
}
ul.filters-list{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.remove-filter-dimension, .remove-filter-dimension:hover{
	text-decoration:none;
	color:#fff;
}
.pagination{
	display:none;
	margin:0px 30px 30px 0;
}
#group_by_btns{
	padding:5px;
}
#optional_btns{
	padding:15px;
}
.selected-btns-groupby{
	display:inline-block;
	padding:5px 10px;
	background:green;
	color:#fff;
	margin-right:10px;
}
.selected-btns-optional{
	display:inline-block;
	padding:5px 10px;
	background:#aaa;
	color:#fff;
	margin: 0 0 10px 0px;
}
.column-close-btn, .column-close-btn:hover{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	margin:0 0 0 2px;
}
.table-filter-icon, .table-filter-icon:hover{
	float:right;
	cursor:pointer;
}