// Place all the styles related to the reports/dimensions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Common Styles */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-bottom: 5px solid #fff;
  margin:5px 5px 0 0;
  float:right;
  display:inline-block;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #fff;
  margin:5px 5px 0 0;
  float:right;
  display:inline-block;
}

/* Layout Styles */
#reports_table_layout{
  width:100%;
}
.report-left-column{
  width:220px;
  float:left;
}
.report-right-column{
  min-width:1000px;
  float:left;
}
.report-right-column h1{
  font-size:15px; 
  line-height:15px;
  color:#333;
  padding:10px 15px;
  margin:0px;
}
.droppable-inner{
  min-height:300px;
}
.placeholder{
  font-size:22px;
  text-align:center;
  color:#ccc;
  }
.ajax-loader{
  height:200px;
  display:none;
  text-align:center;
}

/* Left Column Styles */
.dimensions-inner{
  padding:10px 15px;
}
.dimensions-header{
  color: #fff;
  padding:7px 0 7px 15px;
  margin:0 0 0px 0;
  background:#898989;
  border-bottom:1px solid #fff;
  cursor:pointer;
}
.dime-label{
  display:inline-block;
}
.dimensions-body{
  display:block;
}
ul.dimensions-list{
  padding:0px;
  list-style-type:none;
  padding:0px;
  margin:0px;
}
ul.dimensions-list li{
  font-size:12px;
  line-height:18px;
  color:#333;
  cursor: move;
  padding:5px 0 5px 15px;
  margin:0px;
  border-bottom: 1px solid #fff;
  background:#e7e7e7;
}
.dimensions-list ul li:hover{
  background:#008dd1;
  color:#fff;
}

/* Daterange Picker Styles */
.report-date-header{
  color: #fff;
  padding:8px 15px;
  margin:0 0 0px 0;
  background:#898989;
  cursor:pointer;
}
.select-date-range{
  padding:2px 0;
}
.report-date-range{
  background: #fff; 
  cursor: pointer; 
  padding: 5px; 
  border:1px solid #ccc;
  display:block;
}
.report-date-range span{
  font-size:13px;
  color:#333;
  display:inline-block;
  padding:0 5px;
}
.caret{
  margin-top:8px;
}
.daterangepicker .ranges li{
  margin-bottom:3px;
}

.report-date {
  background: #fff;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: block;
}

/* Main Region Styles */
.selected-dimensions-container{
  padding:0px 15px;
  height:25px;
}
.selected-dimension-btn{
  display:inline-block;
  margin-right:5px;
}

#report_table_region{
  padding:10px 15px;
}

#report_table_region table th{
  font-size:12px;
  line-height:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  vertical-align: middle;
  padding:5px;
  background: #898989; 
}

#report_table_region table td{
  font-size:12px;
  line-height:16px;
  padding:5px;
}
td.impressions, td.clicks, td.ctr{
  text-align:right;
}