// Place all the styles related to the reports/dimensions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Layout Styles */

.report-left-column{
  width:20%;
  float:left;
}
.report-right-column{
  width:80%;
  float:right;
}

/* Left Column Styles */

.dimensions-header{
  color: #fff;
  padding: 7px 0 7px 15px;
  margin: 0 0 0px 0;
  background: #898989;
  border-bottom: 1px solid #fff;
}

.accordion {
  .header {
    color: #fff;
    padding: 7px 0 7px 15px;
    margin: 0 0 0px 0;
    background: #898989;
    border-bottom: 1px solid #fff;
  }

  .body {
    display:block;
  }
}

ul.dimensions-list, ul.columns-list {
  padding:0px;
  list-style-type:none;
  padding:0px;
  margin:0px;

  li {
    font-size:12px;
    line-height:18px;
    color:#333;
    cursor: move;
    padding:5px 0 5px 15px;
    margin:0px;
    border-bottom: 1px solid #fff;
    background:#e7e7e7;

    &:hover{
      background:#008dd1;
      color:#fff;
    }
  }
}

.report_options_region{
  padding:10px;  
}

/* Daterange Picker Styles */
.report-date {
  background: #fff;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: block;
}
.report-date-header{
  color: #fff;
  padding:8px 15px;
  margin:0 0 0px 0;
  background:#898989;
  cursor:pointer;
}
.select-date-range{
  padding:2px 0;
}
.report-date-range{
  background: #fff;
  cursor: pointer;
  padding: 5px;
  border:1px solid #ccc;
  display:block;
}
.report-date-range span{
  font-size:13px;
  color:#333;
  display:inline-block;
  padding:0 5px;
}
.caret{
  margin-top:8px;
}
.daterangepicker .ranges li{
  margin-bottom:3px;
}

/* Selected Dimensions Styles */
#selected_dimensions_region{
  margin:38px 15px 5px;
}
.selected-dimensions-list{
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.selected-dimensions-list li{
  display: inline-block;
  margin-right:5px;
}

/* Reporting Table Styles */
#report_table_region{
  padding:0px 15px 10px;
}
#report_table{
  th{
    font-size:12px;
    line-height:16px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    vertical-align: middle;
    padding:5px;
    background: #898989;
  }
  td{
    font-size:12px;
    line-height:16px;
    padding:5px;
  }
  .impressions, .clicks, .ctr, .pccr, .actions, .gross_rev, .gross_ecpm{
    text-align:right;
  }
}
.dragtable-drag-handle{
  margin-right:5px;
}
.paging-region .pagination{
  margin:0px 15px 0 0;
  float:right;
}