<form class="form-horizontal">
  <div id="content">
    <div id ="audience_groups"> </div>

    <fieldset>
      <div class="actions">
        <button class="btn btn-primary" id="save_audience_groups"> Save </button>
        <a class="btn" href="/admin/audience_groups"> Close </a>
      </div>
    </fieldset>
  </div>
</form>