<fieldset>
  <div class="audience-views">
    <div id ="name_view"> </div>
    <div id ="search_view"> </div>
    <div id ="search_results_view"> </div>
    <div id ="selected_segments_view"> </div>
  </div>
</fieldset>

<fieldset>
  <div class="actions">
    <div class="actions-buttons">
      <button type="button" class="btn btn-primary" id="save_audience_groups"> Save </button>
      <a class="btn" href="/admin/audience_groups" id="close_audience_groups"> Close </a>
    </div>
  </div>
</fieldset>