<div class="control-group group-name">
  <label for="name" class="control-label">
    <div class="text-left">Group Name</div>
  </label>
  <div class="controls">
    <input type="text" required="" placeholder="Name" id="group_name_input" value="<%= audienceGroup.name%>">
    <label id="name_error" class="help-inline form-error"></label>
  </div>
</div>