<div class="control-group search-keyvals">
  <div class="input-append">
    <input type="text" placeholder="Search" id="search_keyvals_input">
    <a class="btn add-on" id="search_keyvals_button">Search</a>
  </div>
</div>