<div class="control-group search-keyvals">
  <div class="input-append">
    <input type="text" placeholder="Search segments" id="search_keyvals_input_segment">
    <a class="btn add-on" id="search_keyvals_button_segment">Search</a>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u key-vals-list">
    <div class="select-keyvals">
      <ul id="search_segments_results"> </ul>
    </div>
    <div id="loading_div" class="loading-div">
      <span class="loading-img"></span>
    </div>
  </div>

  <div class="pure-u add-keyvals-button">
    <button type="button" id="add_keyvals_button_segment" class="btn"><i class="icon-arrow-right"></i></button>
  </div>

</div>