<div class="pure-g">

  <div class="pure-u key-vals-list">
    <div class="select-keyvals">
      <ul id="searchResults"> </ul>
    </div>
    <div id="loading_div" class="loading-div">
      <span class="loading-img"></span>
    </div>
  </div>

  <div class="pure-u add-keyvals-button">
    <button type="button" id="add_keyvals_button" class="btn"><i class="icon-arrow-right"></i></button>
  </div>

</div>