<div class="pure-u select-textbox">
  <textarea placeholder="Select Key-Values" id="key_values"><%= audienceGroup.key_values%></textarea>
  <label id="key_values_error" class="help-inline form-error key-values-error"></label>
</div>