<div class="col-md-12 adGroup" ng-repeat="adGroupsData in workflowData.campaignGetAdGroupsData">
    <div class="adTitle" >
        <a class="collapseIcon" role="button" id="{{$index+1}}" href="">
            <span class="icon-plus" ng-click="ToggleAdGroups(this,adGroupsData.adGroup.id,$index+1, $event)"></span>
        </a>

        <div class="col-md-5 zeroPadding">
            <h4 class="pull-left adGroupTxt adGroupTxtName" title="{{adGroupsData.adGroup.name}}">{{adGroupsData.adGroup.name}}</h4>
            <span class="pull-left adGroupTxt">
                <span class="icon-calendar"></span>
                <span class="pull-left">
                    {{convertEST(adGroupsData.adGroup.startTime, 'ddd DD MMM YYYY')}} - {{convertEST(adGroupsData.adGroup.endTime,'ddd DD MMM YYYY')}} ({{numOfDays(adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)}}days)
                </span>
            </span>
        </div>

        <div class="col-md-6 zeroPadding pull-right">
            <span class="adGroupTxtSecondary">Ready <p class="active">{{(adGroupsData.READY || 0)}}</p></span>
            <span class="adGroupTxtSecondary">Scheduled <p>{{(adGroupsData.SCHEDULED || 0)}}</p></span>
            <span class="adGroupTxtSecondary">In Flight <p>{{(adGroupsData.IN_FLIGHT ||0)}}</p></span>
            <span class="adGroupTxtSecondary">Total Ads <p>{{adGroupsData.noOfAds}}</p></span>
        </div>
    </div>

    <div id="collapseAdGroup" ng-show="showHideToggle">
        <!--=== Create BTN Ad ===-->
        <div class="col-md-3 adModule adCreateBtn" ng-click="createAdforAdGroup(adGroupsData.adGroup.id,adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)">
            <div class="col-md-12">
                <a href="#"
                   class="col-md-12 text-center addMaster">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

                    <h2>Create Ad</h2>
                </a>
            </div>
        </div>
        <!--=== Single Ad Ready ===-->
        <!--<div class="col-md-3 adModule" ng-repeat="adsData in workflowData.getADsForGroupData track by adsData.id ">-->
        <div class="col-md-3 adModule" ng-repeat="adsData in workflowData.getADsForGroupData[$index+1] track by adsData.id" ng-click="adsData.state=='DEPLOYING' ? '': goEdit(adsData)">
        <!--<div class="col-md-3 adModule" ng-repeat="adsData in workflowData.getADsForGroupData[$index+1] track by adsData.id" ng-click='goEdit(adsData)'>-->
        <span class="icon-settings"></span>
        <!--<div ng-repeat="index in adsData">-->
            <div class="col-md-12 adTitle">
                <img ng-src="{{adsData.platform.iconUrl}}" height="16" class="adIconWidget" ng-show="{{(adsData.platform)}}" title="{{adsData.platform.displayName | uppercase}}"/>
                <span class="greyTxt adDisplay">{{adsData.platform.displayName}}</span>
                <!--<span class="pull-left">ID: {{adsData.id}}</span>-->
                <span class="greyTxt adDisplay" ng-show="{{!(adsData.platform)}}">Platform Not Set</span>
                <span class="greyTxt adDisplay" ng-show="{{!(adsData.sourceId)}}">(NOT PUSHED)</span>
            </div>
            <div class="col-md-12" style="padding: 0px 20px 20px 20px;">
                <div class="col-md-12 zeroPadding cardTopLayer">
                    <h4 class="col-md-10 adCamp">
                        <div style="word-wrap: break-word;" tooltip="{{adsData.name}}">{{adsData.name | textEllipsis: 60}}</div>
                    </h4>
                    <span ng-if="adsData.adFormat" class="glyphicon glyphicon-{{getAdFormatIconName(adsData.adFormat)}} pull-right" aria-hidden="true"></span>
                    <span class="pull-left adTxtGray dateAd" ng-if="adsData.startTime && adsData.endTime">{{convertEST(adsData.startTime, 'DD MMM YYYY')}} - {{convertEST(adsData.endTime,'DD MMM YYYY')}}</span>
                    <span class="pull-left adTxtGray dateAd" ng-show="{{!(adsData.startTime)}}">Flight Date Not Set</span>
                </div>

                <div class="spacer">
                    <div class="col-md-12"></div>
                </div>
                <div class="col-md-12 zeroPadding cardMidLayer">
                    <div class="col-md-4 zeroPadding text-center">
                        <span class="col-md-12 text-center adTxtGray zeroPadding">{{adsData.budgetType ? (adsData.budgetType | toPascalCase) : textConstants.WF_IMPS}}</span>
                        <span class="col-md-12 text-center zeroPadding">{{adsData.impression_clicks_actions ? (adsData.impression_clicks_actions | nrFormat) : textConstants.WF_NOT_SET}}</span>
                    </div>
                     <div class="col-md-4 zeroPadding text-center">
                        <span class="col-md-12 text-center adTxtGray zeroPadding">{{adsData.rateType ? adsData.rateType : textConstants.CPM}}</span>
                        <span class="col-md-12 text-center zeroPadding">{{adsData.rateValue ? (adsData.rateValue | currency:undefined) : textConstants.WF_NOT_SET}}</span>
                    </div>
                    <div class="col-md-4 zeroPadding text-center">
                        <span class="col-md-12 text-center adTxtGray zeroPadding">{{textConstants.BUDGET}}</span>
                        <span class="col-md-12 text-center zeroPadding">{{adsData.cost ? (adsData.cost | currency:undefined) : textConstants.WF_NOT_SET}}</span>
                    </div>
                </div>

                <div class="spacer">
                    <div class="col-md-12"></div>
                </div>
                <div class="col-md-12 zeroPadding" style="margin-bottom: 10px;">
                    <span class="col-md-12 text-left adTxtGray zeroPadding">Creative Tags ({{adsData.creatives.length || 0}})</span>
                    <p style="margin: 0;">{{appendSizes(adsData.creatives)}}</p>
                </div>
                <div class="col-md-12 zeroPadding">
                    <span class="col-md-12 text-left adTxtGray zeroPadding">{{ textConstants.TARGETING }}</span>

                    <span>{{adsData.targets.geoTargets.REGION.geoTargetList.length > 0 || adsData.targets.geoTargets.DMA.geoTargetList.length > 0|| adsData.targets.geoTargets.CITY.geoTargetList.length > 0 ? 'Geo': textConstants.WF_NOT_SET}}</span>
                </div>
            </div>
            <!--Abi 3 Classes for color label for adStatus span are labelPush labelDraft labelNew-->
            <span class="pull-right adStatus {{adsData.state.toLowerCase().replace(' ','')}}">
                {{adsData.state}}
            <span ng-if="adsData.pushStatus=='FAILED'" class="pull-right icon-warning" aria-hidden="true" title="{{adsData.pushFeedback}}"></span>
            <span class="pull-right icon-tracking" ng-if="adsData.isTracking"></span>
            </span>
        <!--</div>-->
        </div>
    </div>
</div>
