
<h3 class="col-md-6 adName" tooltip="{{adData.adName}}">
    {{selectedCampaign.campaignName.length>0 ? (selectedCampaign.campaignName | textEllipsis: 40 ) : editCampaignData.name}}
</h3>
<div class="col-md-12 zeroPadding">
    <div class="col-md-5" style="background: #F0F0F0; padding: 0 10px 10px 10px;">
        <div class="col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_BUDGET"></label>
            <span class="col-md-12 zeroPadding">{{locale.NUMBER_FORMATS.CURRENCY_SYM}}{{Campaign.totalBudget? Campaign.totalBudget:0}}</span>
        </div>
        <div class="col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_MARGIN"></label>
            <span class="col-md-12 zeroPadding">{{Campaign.marginPercent?Campaign.marginPercent:0}}%</span>
        </div>
        <div class="col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_DELIVERY_BUDGET"></label>
            <span class="col-md-12 zeroPadding">{{locale.NUMBER_FORMATS.CURRENCY_SYM}}{{Campaign.deliveryBudget?Campaign.deliveryBudget:0}}</span>
        </div>
    </div>

    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt" style="margin-bottom: 5px;" data-ng-bind="textConstants.MEDIAPLAN_SETUP_LINE_ITEMS"></label>

    <div class="col-md-12 zeroPadding btn-group create" role="group" style="margin: 20px 0 10px 0;">
        <a class="btn btn-default" ng-click="showNewLineItemForm() ">
            <span class="icon-plus"></span>
            <span data-ng-bind="textConstants.CREATE" ></span>
        </a>

        <!--Search/Quickfilters Input-->
        <div class="btn-group pull-right" style="display:none">
            <button type="button" class="btn btn-default pull-right disabled" style="border-top-right-radius: 2px; border-bottom-right-radius: 2px;">
                <span class="icon-filter" style="margin: -1px 0 0;"></span>
            </button>

            <div class="searchInput pull-right" >
                <a class="btn btn-default searchInputBtn" ng-click="searchShowInput()" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0;">
                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                </a>

                <a class="btn btn-default searchInputBtnInline" ng-click="campaignSearchFunc()" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0;">
                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                </a>
                <div class="input-group searchInputForm" >
                    <input type="text"
                           class="form-control"
                           name="campaignsSearch"
                           placeholder="Search Line Items...">
                    <div class="btn btn-default searchClearInputBtn" ng-click="searchHideInput()">
                        <span class="icon-clear" aria-hidden="true" style="margin: 0;"></span>
                    </div>
                </div>
            </div>
        </div>

        <span class="pull-right" style="margin: 8px 15px 0 0;display:none;" >0 Line Items Added</span>
    </div>

    <!--Create Item List Form Start-->
    <div class="col-md-12 createItemList " ng-show="createItemList" ng-form name="lineItemForm">
        <!--Row 1-->
        <div class="col-md-4 zeroPadding ">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_LINE_ITEM_NAME"></label>
            <input type="text" class="col-md-12 form-control" placeholder="Enter Line Item name up to 150 characters" name="lineItemName" ng-model="$parent.lineItemName" />
            <span class="greyTxt errorLabel" ng-show="lineItemForm.lineItemName.$error.required">Please enter a name</span>
        </div>

        <div class="col-md-2" style="padding: 0 0 0 10px;">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_RATE_TYPE"></label>
            <div class="col-md-12 zeroPadding dropdown-workflow" >
                <div class="dropdown">
                    <button style="width:100%;" class="btn btn-default dropdown-toggle lineItemType" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="rateTypeReadOnly">
                        <span class="text" >{{(lineItemType )?lineItemType.name:'Select Type'}}</span>
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="lineType" id="lineType" data-toggle="dropdown" name="lineItemType">
                        <li class="available" ng-repeat="t in type"  ng-click="setLineItem(t,'create')"><a>{{t.name}}</a></li>

                    </ul>
                    <input type="hidden" class="form-control" ng-model="lineItemType.id" name="lineItemType"  />
                    <span class="greyTxt errorLabel" ng-if="lineItemForm.lineItemType.$error.required">Select Type</span>
                </div>

            </div>
        </div>

        <div class="col-md-2 rate-field " style="padding: 0 0 0 10px;" ng-hide="hideLineItemRate">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_RATE"></label>
            <div class="rate-input-field symbol-input col-md-12 zeroPadding">
                <span class="symbol">$</span>
                <input type="text" class="col-md-12 form-control" placeholder="Enter Rate" ng-model="$parent.pricingRate" ng-readonly="rateReadOnly" name="lineItemRate"   fraction-numbers input-comma-separator-thousands/>
            </div>

            <span class="greyTxt errorLabel" ng-if="lineItemForm.lineItemRate.$error.required">Enter Rate</span>
        </div>

        <div class="col-md-2" style="padding: 0 0 0 10px;" ng-show="amountFlag">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_BILLABLE_AMOUNT"></label>
            <div class="col-md-12 zeroPadding symbol-input"><span class="symbol" >{{locale.NUMBER_FORMATS.CURRENCY_SYM}}</span><input type="text" class="col-md-12" placeholder="" ng-model="$parent.billableAmount" whole-number-only style="padding-left:20px"/>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0 0 0 10px;" ng-show="volumeFlag">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" ng-if="!lineItemType || lineItemType.name === 'Select Type'" data-ng-bind="textConstants.MEDIAPLAN_VOLUME">Volume</label>
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" ng-if="lineItemType.name === 'CPM'">Impressions</label>
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" ng-if="lineItemType.name === 'CPC'">Clicks</label>
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" ng-if="lineItemType.name === 'CPCV'">Completed</label>
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" ng-if="lineItemType.name === 'Post-Click CPA' || lineItemType.name === 'Post-Impression CPA' || lineItemType.name === 'Total CPA'">Actions</label>

            <input type="text" class="col-md-12" placeholder="" ng-model="$parent.volume" whole-number-only/>
        </div>

        <!--Row 2-->
        <div class="clearfix col-md-12 zeroPadding">
            <div class="pull-left">
                <div class="span4 col-md-12 input-daterange input-group date otherBgDateRange pull-left" id="datepicker">
                    <div class="col-md-12 dateWrapper zeroPadding">
                        <div class="dateContainer">
                            <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_FLIGHT_DATE_START"></label>
                            <div class="dateInputHolder" >
                                <input type="text" id="lineItemStartDateInput" custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'auto',  autoclose: true, todayHighlight: true}" placeholder="MM/DD/YYYY" class="form-control"  readonly name="startTime" ng-model="lineItemStartDate" ng-change="validateDateLineItem(lineItemStartDate, lineItemEndDate, 'lineItemEndDateInput')" />
                                <div class="icon-calendar-holder">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="dateContainer">
                            <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_FLIGHT_DATE_END"></label>
                            <div class="dateInputHolder">
                                <input type="text" id="lineItemEndDateInput" custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'auto',  autoclose: true, todayHighlight: true}" placeholder="MM/DD/YYYY" class="form-control"  ng-model="lineItemEndDate" name="endTime" readonly/>
                                <div class="icon-calendar-holder">
                                    <span class="icon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 " style="padding-bottom: 2px !important;" ng-hide="hideAdGroupName">
                <label class="col-sm-12 zeroPadding greyTxt">Ad Group Name</label>
                <input type="text" class="col-md-12" placeholder="Enter Ad Group name up to 100 characters"  ng-model="$parent.adGroupName"/>
            </div>
            <div class="col-md-5 zeroPadding dropdown-workflow" ng-show="showPixelsList">
                <div class="dropdown">
                    <label class="col-sm-12 zeroPadding greyTxt">Select Conversion Pixel</label>
                    <button style="width:100%;" class="btn btn-default dropdown-toggle pixelType" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                        <span class="text" >{{(pixelSelected )?pixelSelected.name:'Select from list'}}</span>
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="lineType" id="pixelsList" data-toggle="dropdown" name="lineItemType">
                        <li class="available" ng-repeat="pixel in selectedCampaign.selectedPixel"  ng-click="setPixels(pixel,'create')"><a>{{pixel.name}}</a></li>
                    </ul>
                    <input type="hidden" class="form-control" ng-model="pixelSelected.id" name="pixelSelected"  />
                </div>

            </div>


            <div class="pull-right" style="padding: 30px 0 0 0;">
                <div class="pull-right btn btn-primary" ng-disabled="lineItemName === '' || !lineItemType || lineItemType.id == '' || billableAmount == ''" ng-click="(mode === 'create')?createNewLineItem('create'):createNewLineItemInEditMode('create')">Add Line Item</div>
                <div class="pull-right btn btn-link" ng-click="resetLineItemParameters()">Cancel</div>
            </div>

        </div>
    </div>
    <!--Create Item List Form End-->

    <!--Item List Table Sample Start-->
    <!--Note: ng-hide If data is empty or when new media plan is created-->
    <span class=" col-md-12 greyTxt errorLabel" ng-show="budgetLineItemErrorFlag" style="display: block;">Line Item budget cannot exceed media plan budget</span>

    <div class="table-responsive" id="table_responsive" style="margin: 10px 0;">
        <div class="vistoTable" id="visto_table">
            <div class="thead">
                <div class="tr">
                    <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_LINE_ITEM"></div>
                    <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_RATE_TYPE"></div>
                    <div class="th col-md-1" data-ng-bind="textConstants.MEDIAPLAN_RATE"></div>
                    <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_BILLABLE_AMOUNT"></div>
                    <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_VOLUME"></div>
                    <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_FLIGHT_DATES"></div>
                </div>
            </div>

            <div class="tbody" >
                <!--Table Data Sample-->
                <div class="tr" ng-repeat="item in lineItemList" >
                    <div class="tableNormal" ng-click="showEditItemRow($event,item)">
                        <a class="td col-md-3" data-ng-bind="item.name"></a>
                        <a class="td col-md-2" data-ng-bind="item.lineItemType.name">{</a>
                        <a class="td col-md-1" data-ng-bind="item.pricingRate"></a>
                        <a class="td col-md-2" data-ng-bind="item.billableAmount | currency"></a>
                        <a class="td col-md-2" data-ng-bind="item.volume"></a>
                        <a class="td col-md-2">{{item.startTime}} - {{item.endTime}}</a>
                    </div>
                    <div class="tableEdit" ng-include="'listItemEditTpl'"  style="padding-top: 20px;"></div>
                </div>
                <div class="tr" >
                    <div class="tableNormal" ng-if="lineItemErrorFlag">
                        <div class="td col-md-12 greyTxt errorLabel" ng-show="lineItemErrorFlag" style="display: block;">Please create a Line Item</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--Item List Table Sample Start-->
    <span class="col-md-12 text-right" style="padding: 0 0 5px 0; border-bottom: 1px solid rgba(191, 201, 215, 0.5);">Total Billable Amount: {{locale.NUMBER_FORMATS.CURRENCY_SYM}}{{selectedCampaign.lineItemBillableAmountTotal}}</span>

    <label class="col-sm-12 labelQuestTxt showAddCreditForm" ng-click="showAddCreditForm()" ng-hide="true">
        <span class="icon-arrow-down-thick"></span>Add Credits (0)
    </label>

    <div class="col-md-12 addCreditForm">
        <a class="btn btn-default" ng-click="showAddCredit = ! showAddCredit" ng-hide="showAddCredit" style="margin: 10px 0;" data-ng-bind="textConstants.MEDIAPLAN_ADD_CREDIT"></a>

        <div class="col-md-12 zeroPadding" ng-show="showAddCredit">
            <div class="col-md-4 zeroPadding">
                <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_CREDIT_NAME"></label>
                <input type="text" class="col-md-12" placeholder=""/>
            </div>

            <div class="col-md-2" style="padding: 0 0 0 10px;">
                <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_AMOUNT"></label>
                <input type="text" class="col-md-12" placeholder=""/>
            </div>

            <a class="pull-right icon-clear" style="margin: 33px 0 0 0;"></a>
        </div>

        <div class="col-md-12 zeroPadding" ng-show="showAddCredit" style="margin: 10px 0;">
            <a class="btn btn-default pull-left" data-ng-bind="textConstants.MEDIAPLAN_ADD_ANOTHER_CREDIT"></a>
        </div>
    </div>
</div>

<!--Table Edit Form Template-->
<script type="text/ng-template" id="listItemEditTpl">
    <!--Row 1-->
    <div class="col-md-12 zeroPadding">
        <div class="col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_LINE_ITEM_NAME"></label>
            <input type="text" class="col-md-12" placeholder="Enter Line Item name up to 150 characters" ng-model="editLineItem.lineItemName"/>
        </div>

        <div class="col-md-2" style="padding: 0 0 0 10px;">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.TYPE"></label>
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">
                    <button style="width:100%;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="rateTypeReadOnlyEdit">
                        <span class="text">{{editLineItem.lineItemType.name}}</span>
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="lineType" id="lineType" data-toggle="dropdown">
                        <li class="available" ng-repeat="t in type"  ng-click="setLineItem(t,'edit')"><a>{{t.name}}</a></li>
                    </ul>

                    <input type="hidden" ng-model="editLineItem.lineItemType.id"/>
                </div>
            </div>
        </div>


        <div class="col-md-2  " style="padding: 0 0 0 10px;" ng-hide="hideLineItemRateEdit">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_RATE">Rate</label>
            <input type="text" class="col-md-12 form-control" placeholder="Enter Rate" ng-model="editLineItem.pricingRate" ng-readonly="rateReadOnlyEdit" name="lineItemRate" fraction-numbers/>
            <span class="greyTxt errorLabel" ng-if="lineItemForm.lineItemRate.$error.required">Enter Rate</span>
        </div>

        <div class="col-md-2" style="padding: 0 0 0 10px;" ng-show="amountFlagEdit">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_BILLABLE_AMOUNT"></label>
            <div class="col-md-12 zeroPadding symbol-input"><span class="symbol" >{{locale.NUMBER_FORMATS.CURRENCY_SYM}}</span><input type="text" class="col-md-12" placeholder="" ng-model="editLineItem.billableAmount" whole-number-only style="padding-left:20px"/>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0 0 0 10px;" ng-show="volumeFlagEdit">
            <label class="col-sm-12 greyTxt miniLabels zeroPadding" data-ng-bind="textConstants.MEDIAPLAN_VOLUME"></label>
            <input type="text" class="col-md-12" placeholder="" ng-model="editLineItem.volume" whole-number-only/>
        </div>



        <a class="btn btn-link pull-right" style="position: absolute;top: -10px; right: 0; display: block;padding: 0; color: #0978c9;" ng-hide="mode === 'edit'" ng-click="deleteLineItem(true)">Delete</a>
    </div>
    <!--Row 2-->
    <div class="col-md-12 zeroPadding">

            <div class="span4 col-md-12 input-daterange input-group date otherBgDateRange pull-left" id="datepickerEdit">
                <div class="pull-left dateWrapper zeroPadding">
                    <div class="dateContainer">
                        <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_FLIGHT_DATE_START"></label>
                        <div class="dateInputHolder" >
                            <input type="text"  custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'auto',  autoclose: true, todayHighlight: true}" id="editLineItemStartDate" placeholder="MM/DD/YYYY" class="form-control"  readonly name="startTime" ng-model="editLineItem.startTime" ng-change="validateDateLineItem(editLineItem.startTime, editLineItem.endTime, 'editLineItemEndDate')" />

                            <div class="icon-calendar-holder">
                                <span class="icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="dateContainer">
                        <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_FLIGHT_DATE_END"></label>
                        <div class="dateInputHolder">
                            <input type="text"  custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'auto',  autoclose: true, todayHighlight: true}" id="editLineItemEndDate" placeholder="MM/DD/YYYY" class="form-control"  ng-model="editLineItem.endTime" name="endTime"/>

                            <div class="icon-calendar-holder">
                                <span class="icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-md-4 " style="padding: 0px !important;" ng-hide="hideAdGroupNameEdit">
                    <label class="col-sm-12 zeroPadding greyTxt">Ad Group Name</label>
                    <input type="text" class="col-md-12" placeholder="Enter Ad Group name up to 100 characters"  ng-model="editLineItem.adGroupName"/>
                </div>
                <div class="col-md-5 zeroPadding dropdown-workflow" ng-show="showPixelsListEdit">
                    <div class="dropdown">
                        <label class="col-sm-12 zeroPadding greyTxt">Select Conversion Pixel</label>
                        <button style="width:100%;" class="btn btn-default dropdown-toggle pixelTypeEdit" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="gf">
                            <span class="text" >{{(editLineItem.pixelSelected )?editLineItem.pixelSelected.name:'Select from list'}}</span>
                            <span class="icon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="lineType" id="pixelEdit" data-toggle="dropdown" name="pixelType">
                            <li class="available" ng-repeat="pixel in selectedCampaign.selectedPixel"  ng-click="setPixels(pixel,'edit')"><a>{{pixel.name}}</a></li>
                        </ul>
                        <input type="hidden" class="form-control" ng-model="editLineItem.pixelSelected.id" name="lineItemType"  />
                    </div>

                </div>
        </div>

        <a class="btn btn-primary pull-right" ng-click="(mode ==='create')?updateLineItem():updateLineItemInEditMode()">Save Changes</a>
        <a class="btn btn-link pull-right" ng-click="showNormalItemRow($event);">Cancel</a>

    </div>

</script>
<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker({
            format: "mm/dd/yyyy",
            orientation: "auto",
            autoclose: true,
            todayHighlight: true
        });
    })
</script>
