<h3 class="col-md-6 adName" tooltip="{{adData.adName}}">
    {{selectedCampaign.campaignName.length>0 ? (selectedCampaign.campaignName | textEllipsis: 40 ) : editCampaignData.name}}
</h3>
<!--==== Row 1 ====-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt" style="margin-bottom: 5px;" data-ng-bind="textConstants.MEDIAPLAN_BUDGET_MEASURE"></label>

    <div class="col-md-12 zeroPadding marginCal">
        <div class="calTable form-group" show-errors>
            <h3 data-ng-bind="textConstants.MEDIAPLAN_BUDGET"></h3>
            <div class="symbol-input">
                <span class="symbol">{{locale.NUMBER_FORMATS.CURRENCY_SYM}}</span>
                <input type="text" style="padding-left: 20px;" ng-model="Campaign.totalBudget" name="totalBudget" class="form-control col-sm-8" ng-keyup="ComputeCost()" whole-number-only="whole-number-only" autocomplete="off" required/>
            </div>
            <label ng-if="createCampaignForm.totalBudget.$error.required" class="txtError budgetError errorLabel" data-ng-bind="textConstants.TOTAL_BUDGET_REQUIRED"></label>
            <label ng-if="Campaign.totalBudget<=0" class="txtError budgetError" data-ng-bind="textConstants.TOTAL_BUDGET_GREATER_THAN_ZERO"></label>
        </div>
        <div class="calTable form-group">
            <h3 data-ng-bind="textConstants.MEDIAPLAN_MARGIN"></h3>
            <div class="symbol-input">
                <span class="symbol" style="left: initial; right: 10px;" data-ng-bind="textConstants.SYMBOL_PERCENT"></span>
                <input type="text" ng-model="Campaign.marginPercent" name="marginPercent" class="form-control col-sm-8" ng-keyup="ComputeCost()" style="padding-right:21px;" whole-number-only="whole-number-only" autocomplete="off"/>
            </div>
        </div>

        <div class="calTable form-group">
            <h3 data-ng-bind="textConstants.MEDIAPLAN_DELIVERY_BUDGET"></h3>
            <div class="symbol-input blindInput">
                <span class="onlyShowValue"><span>{{locale.NUMBER_FORMATS.CURRENCY_SYM}} </span><span ng-style="deliveryBudgetNegative ? {'color':'#F9B537'}:''" ng-bind="Campaign.deliveryBudget? (Campaign.deliveryBudget | setDecimal:2 | number : fractionSize ):'' "></span></span>
                <input type="text" style="display:none"  name="deliveryBudget" ng-model="Campaign.deliveryBudget" class="form-control col-sm-8" autocomplete="off" />
            </div>
            <label ng-if="deliveryLesserBookedspend" class="col-sm-12 txtError budgetError">{{textConstants.DELIVERY_BUDGET_BOOKEDSPEND}}({{editCampaignData.bookedSpend}})</label>
            <label ng-if="Campaign.deliveryBudget<0" class="col-sm-12  txtError budgetError" data-ng-bind="textConstants.DELIVERY_BUDGET_GREATER_THAN_ZERO"></label>
        </div>
    </div>

</div>

<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt" style="border-bottom: 1px solid rgba(191, 201, 215, 0.5); padding-bottom: 10px !important;" data-ng-bind="textConstants.MEDIAPLAN_MEASUREMENT_SETTING_COSTS"></label>

    <div data-toggle="collapse" data-target="#accountMeasurement" class="accordionDDL collapsed">
        <div class="icon-arrow-down-thick"></div>
        <span data-ng-bind="textConstants.MEDIAPLAN_ACCOUNT_MEASUREMENT_SETTING"></span>
        <span data-ng-bind="textConstants.MEDIAPLAN_GENERATE_INVOICES"></span>
    </div>

    <div id="accountMeasurement" class="collapse fade">
        <div class="table-responsive">
            <div class="vistoTable yellowTable">
                <div class="thead thin">
                    <div class="tr">
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_METRIC"></div>
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_VENDOR"></div>
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_CONFIGURATION"></div>
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_CHANNELS"></div>
                    </div>
                </div>
                <div class="tbody" style="max-height: 200px;overflow: auto;">
                    <!--Table Sample-->
                    <div class="tr" ng-repeat="config in selectedCampaign.vendorConfig.userPermission">
                        <div class="td col-md-3" data-ng-bind="config.metric"></div>
                        <div class="td col-md-3" data-ng-bind="config.vendorName"></div>
                        <div class="td col-md-3" data-ng-bind="config.configName"></div>
                        <div class="td col-md-3" data-ng-bind="config.adFormat"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div data-toggle="collapse" data-target="#costTracking" class="accordionDDL collapsed">
        <div class="icon-arrow-down-thick"></div>
        <span data-ng-bind="textConstants.MEDIAPLAN_COST_TRACKING"></span>
        <span data-ng-bind="textConstants.MEDIAPLAN_COST_MEASURED"></span>
    </div>
    <div id="costTracking" class="collapse fade">
        <div class="table-responsive">
            <div class="vistoTable yellowTable">
                <div class="thead thin">
                    <div class="tr">
                        <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_CATEGORY"></div>
                        <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_VENDOR"></div>
                        <div class="th col-md-2" data-ng-bind="textConstants.MEDIAPLAN_CONFIGURATION"></div>
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_OFFERING"></div>
                        <div class="th col-md-3" data-ng-bind="textConstants.MEDIAPLAN_RATE"></div>
                    </div>
                </div>

                <div class="tbody" style="max-height: 200px;overflow: auto;">
                    <!--Table Sample-->
                    <div class="tr" ng-repeat="config in selectedCampaign.vendorConfig.configs">
                        <div class="td col-md-2" data-ng-bind="config.category"></div>
                        <div class="td col-md-2" data-ng-bind="config.vendorName"></div>
                        <div class="td col-md-2" data-ng-bind="config.configName"></div>
                        <div class="td col-md-3" data-ng-bind="config.adFormat"></div>
                        <div class="td col-md-3" data-ng-bind="config.rate"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div data-toggle="{{(selectedCampaign.advertiserId) ? 'collapse' : ''}}" data-target="{{(selectedCampaign.advertiserId) ? '#addAdditionalCost' : ''}}" class="accordionDDL collapsed">
        <div class="icon-arrow-down-thick"></div>
        <span data-ng-bind="textConstants.MEDIAPLAN_ADD_ADDITIONAL_COSTS"></span>
    </div>


    <div id="addAdditionalCost" class="collapse fade">

        <div class="table-responsive">
            <div class="vistoTable yellowTable" style="padding: 0 15px 15px;">
                <!--Header-->
                <div class="col-md-12 zeroPadding each-cost-dimension" ng-repeat="addCost in selectedCampaign.additionalCosts track by $index" data-index = "{{$index}}">
                        <div class="col-md-3 zeroPadding" >
                            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_CATEGORY"></label>
                                <div class="col-md-12 zeroPadding">
                                    <div class="col-md-12 zeroPadding dropdown-workflow">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="text" data-ng-bind="addCost.costCategory && addCost.costCategory.name ? addCost.costCategory.name : 'Select'"></span>
                                                <span class="icon-arrow-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="available" ng-repeat="attr in selectedCampaign.costAttributes.category" id="attr.id" ng-click="costAttributesSelected(selectedCampaign.costAttributes, attr , $event, 'category')"><a>{{attr.name}}</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3 zeroPadding" >
                            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_VENDOR"></label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                                        <span class="text" data-ng-bind="addCost.vendor && addCost.vendor.name ? addCost.vendor.name : 'Select'"></span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="selectKPI"  id="selectKPI">
                                        <li class="available" ng-click="costAttributesSelected(selectedCampaign.costAttributes, attr , $event, 'vendor')" ng-repeat="attr in selectedCampaign.costAttributes.vendor"><a>{{attr.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 zeroPadding" >
                            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_OFFERING"></label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text" title="{{addCost.name}}" data-ng-bind="addCost.name || 'Select'"></span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" >
                                        <li class="available"  ng-click="costAttributesSelected(selectedCampaign.costAttributes, attr , $event, 'offer')" ng-repeat="attr in selectedCampaign.costAttributes.offering"><a>{{attr.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 zeroPadding" >
                            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_PRICING"></label>
                            <div class="col-md-12 zeroPadding  symbol-input">
                                <input type="text" class="col-md-12 disabled"  value="Flat" style="height:36px; background: #F4F1E9;" disabled/>
                            </div>

                        </div>
                        <div class="col-md-1 zeroPadding" >
                            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.MEDIAPLAN_RATE"></label>
                            <div class="col-md-12 zeroPadding  symbol-input" style="padding-right: 0px !important; max-width: 118px;">
                                <span class="symbol">{{locale.NUMBER_FORMATS.CURRENCY_SYM}}</span>
                                <input type="text" class="col-md-12" style="text-indent: 8px; height:36px;" ng-value="addCost.rateValue" ng-model="addCost.rateValue" fraction-numbers="fraction-numbers" ng-blur="costAttributesSelected(selectedCampaign.costAttributes, {'rateValue' : addCost.rateValue} , $event, 'rateValue')" field="rateValue" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-1 zeroPadding removeHolder" ng-click="removeCostDimension($event);">
                            <span class="remove-row pull-right" >
                                <span class="icon-clear"></span>
                            </span>
                        </div>
                </div>
                <div class="addCostLink col-md-12 zeroPadding">
                    <span class="addCostBtn" ng-click="selectedCampaign.addAdditionalCost()" ng-show="selectedCampaign.costAttributes.category.length>0">
                        <span class="icon-plus"></span>
                        <span>Add a cost </span>
                    </span>
                    <span ng-show="selectedCampaign.costAttributes.category.length === 0">No category available for selected advertiser.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<a data-toggle="tab" data-target="#addLineItems" role="tab" class="nextWrapper leftNavLink contacts">
    <span class="btn btn-default" ng-click="highlightLeftNav(3)" data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE"></span>
</a>
