<!--Row 1-->
<div class="col-md-12 zeroPadding">
    <!-- SubAccount start -->
    <div class="form-group col-sm-3" style="padding-left: 0;" ng-if="showSubAccount">
        <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels" data-ng-bind="textConstants.SUB_ACCOUNT"></label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown()">
                    <span class="text" data-ng-bind="selectedCampaign.clientName || 'Select SubAccount'"></span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="subaccountDDL" ng-if="mode !== 'edit' && !cloneMediaPlanName">
                    <li ng-repeat="subaccount in workflowData.subAccounts track by subaccount.id" class="available"><a ng-click="selectHandler('subAccount', subaccount)">{{subaccount.name}}</a></li>
                </ul>
                <input type="hidden" name="subAccountId" ng-model="selectedCampaign.clientId" ng-update-hidden required/>
            </div>
        </div>
        <label ng-if="createCampaignForm.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel" data-ng-bind="textConstants.CREATIVE_ERR_SUBACCOUNT"></label>
    </div>
    <!-- SubAccount End -->

    <!-- Advertiser Start -->
    <div class="form-group col-sm-3 each_filter" style="padding-left: 0;">
        <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels" data-ng-bind="textConstants.ADVERTISERS"></label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-with-search-btn" type="button"  aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown();showHideDropdownWithSearch($event)" ng-disabled="!selectedCampaign.clientId">
                    <span class="text" data-ng-bind="selectedCampaign.advertiserName || 'Select Advertiser' "></span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-with-search" aria-labelledby="advertiserDDL"  id="advertiserDDL" ng-if="mode !== 'edit' && !cloneMediaPlanName">
                    <div id="brandsDropdownDiv" class="search-inside-dropdown">
                        <input class="dropdown-toggle inactive" id="advertisersDropdown" ng-keyup="disableShowAll();" ng-model="selectedAdvertiser.name"/>
                        <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
                    </div>
                    <li ng-repeat="advertiser in workflowData.advertisers | filter : selectedAdvertiser.name" class="available" ><a ng-click="selectHandler('advertiser', advertiser);showHideDropdownWithSearch($event);">{{advertiser.name}}</a></li>
                </ul>
                <input type="hidden" name="advertiserId" ng-model="selectedCampaign.advertiserId" ng-update-hidden required/>
            </div>
        </div>
        <label ng-if="createCampaignForm.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel" data-ng-bind="textConstants.CREATIVE_ERR_ADVERTISER"></label>
    </div>
    <!-- Advertiser End -->

    <div class="form-group col-sm-3" style="padding-left: 0;">
        <label for="brandDDL" class="col-sm-12  greyTxt miniLabels" data-ng-bind="textConstants.BRAND"></label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown()" ng-disabled=" workflowData.brands.length == 0">
                    <span class="text" data-ng-bind="selectedCampaign.brandName || 'Select Brand'"></span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="brandDDL"  id="brandDDL">
                    <li ng-repeat="brand in workflowData.brands track by brand.id" class="available"><a ng-click="selectHandler('brand', brand)" data-ng-bind="brand.name"></a></li>
                </ul>
                <input type="hidden" name="brandId" ng-model="selectedCampaign.brandId" ng-update-hidden/>
            </div>
        </div>
    </div>
</div>

<label class="col-md-12 labelQuestTxt" data-ng-bind="textConstants.ABOUTMEDIAPLAN">

</label>

<!--Row 2-->
<div class="row zeroPadding">
    <div class="col-md-7 ">
        <label for="nameTitleCampaign" class="col-sm-12 greyTxt"  data-ng-bind="textConstants.MEDIAPLAN_NAME"></label>
        <div  class="form-group col-sm-12 zeroPadding" show-errors>
            <div class="inputLoader">
                <input type="text" class="form-control" remove-special-character ='remove-special-character' ng-keyup="isMediaPlanNameExist($event)" name="campaignName" title="{{selectedCampaign.campaignName}}" ng-model="selectedCampaign.campaignName"  autocomplete="off" maxlength="250" ng-maxlength="250" autofocus placeholder="Enter a name up to 250 characters (no punctuation or special characters)" required/>
                <div class="common-loading-area" ng-show="checkUniqueMediaPlanNameNotFound && selectedCampaign.campaignName"></div>
            </div>
            <label ng-if="createCampaignForm.campaignName.$error.required" class="col-sm-12  greyTxt errorLabel" data-ng-bind="textConstants.WF_ENTER_NAME_CAMPAIGN"></label>
            <span class="greyTxt customErrorLabel" ng-if="mediaPlanNameExists" data-ng-bind="(editCampaignData.name || selectedCampaign.campaignName) + ' '+ textConstants.CLONEMEDIAPLANNAMEERR"></span>
        </div>
    </div>


    <div class="col-md-3 ">
        <label for="nameTitleCampaign" class="col-sm-12 greyTxt"  data-ng-bind="textConstants.MEDIAPLAN_PURCHASE_ORDER"></label>
        <div  class="form-group col-sm-9 zeroPadding" show-errors>
            <input type="text" class="form-control" id="purchaseOrder"  name="purchaseOrder" ng-model="selectedCampaign.purchaseOrder"   autofocus maxlength="250"  />
        </div>
    </div>
</div>


<!--Row 3-->
<div class="col-md-9 zeroPadding">
    <label  class="col-sm-9 control-label greyTxt" data-ng-bind="textConstants.MEDIAPLAN_LABELS"></label>
    <tags-input class="form-group col-sm-9 zeroPadding" ng-model="tags"></tags-input>
</div>

<div class="col-md-12 spacingInput"><!-- SPACING --></div>
<!--Row 4-->
<div class=" form-group col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12  labelQuestTxt" data-ng-bind="textConstants.MEDIAPLAN_RUN"></label>
    <div class="span4 col-md-12 input-daterange input-group date pull-left" id="datepicker">
        <div class="col-md-12 dateWrapper form-group" show-errors>

            <div class="dateContainer">
                <label class="col-sm-12  greyTxt miniLabels" data-ng-bind="textConstants.START_DATE"></label>
                <input type="text" ng-disabled="!cloneMediaPlanName && (selectedCampaign.status ==='IN_FLIGHT' || selectedCampaign.status ==='ENDED')" id="startDateInput" placeholder="MM/DD/YYYY" class="form-control" readonly name="startTime" ng-init="selectedCampaign.startTime" ng-model="selectedCampaign.startTime" ng-value="selectedCampaign.startTime" ng-change=" handleFlightDate(selectedCampaign)" required />
            </div>

            <div class="dateContainer" style="padding-left: 10px;">
                <label class="col-sm-12  greyTxt miniLabels" data-ng-bind="textConstants.END_DATE"></label>
                <input type="text" id="endDateInput" placeholder="MM/DD/YYYY" class="form-control" readonly name="endTime" ng-init="selectedCampaign.endTime" ng-model="selectedCampaign.endTime" value="selectedCampaign.endTime" required/>
            </div>

            <label ng-if="createCampaignForm.startTime.$error.required" class="col-sm-12  greyTxt errorLabel" data-ng-bind="textConstants.STARTDATE_REQUIRED">.</label>
        </div>
        <span class="col-md-12 input-group-addon">
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
        </span>
    </div>
</div>

<div class="col-md-12 spacingInput"><!-- SPACING --></div>
<!--Row 5-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt" style="margin-bottom: 5px;"><span class="pull-left" data-ng-bind="textConstants.SELECT_KPIS"></span><span ng-if="!isPrimarySelected" class="pull-left errorLabel show" style="margin-left: 115px;">You must select Primary KPI.</span></label>
    <div class="col-md-12 zeroPadding">
        <div class="col-md-3 zeroPadding kpiTable">
            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.KPI"></label>
        </div>
        <div class="col-md-2 zeroPadding kpiTable" style="width: 130px;">
            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels" data-ng-bind="textConstants.TARGET"></label>
        </div>
    </div>

    <div class="col-md-12 zeroPadding" style="margin-bottom:240px;">
        <div class="col-md-3 zeroPadding kpiTable">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                        <span class="text">{{kpiName}}</span>
                        <span class="icon-arrow-down" ></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="selectKPI"  id="selectKPI">
                        <li class="available" ng-repeat="kpi in kpiNameList" ng-click="setKPIName(kpi.name)"><a>{{kpi.name}}</a></li>
                    </ul>
                    <input type="hidden" name="kpi"  ng-model="kpiName" ng-value="kpiName" field="kpiType" index="{{$index}}"  hiddenkpi>
                    <!--<input type="hidden" name="kpi" ng-init="Campaign.kpiArr[$index]['kpiType']='Select from list';" ng-model="Campaign.kpiArr[$index]['kpiId']" ng-value="{{kpi.id}}" field="kpiId" index="{{$index}}" required hiddenkpi>-->
                </div>
            </div>
        </div>
        <div class="col-md-2 zeroPadding kpiTable symbol-input">
            <span class="symbol" ng-if="(kpiName === 'Impressions')">#</span>
            <span class="symbol perSymbol" ng-if="(kpiName === 'CTR' || kpiName === 'VTC' || kpiName === 'Action Rate')">%</span>
            <span class="symbol" ng-if="(kpiName === 'CPA' || kpiName === 'CPM' || kpiName === 'CPC')">$</span>
            <input type="text" class="col-md-12 kpiValue" style="text-indent: 8px;height:36px;" ng-model="selectedCampaign.kpiValue" ng-value='selectedCampaign.kpiValue' ng-keyup="percentageValueCheck(selectedCampaign.kpiValue)"  field="kpiValue" fraction-numbers name="kpiValue" required ng-if="kpiName !== 'Impressions'" autocomplete="off"/>
            <input type="text" class="col-md-12 kpiValue" style="text-indent: 8px;height:36px;" ng-model="selectedCampaign.kpiValue" field="kpiValue" whole-number-only name="kpiValue" required ng-if="kpiName === 'Impressions'" autocomplete="off"/>
            <label ng-if="selectedCampaign.kpiValue==='0'"  class="col-sm-12  greyTxt errorLabel" style="display:inline;" ng-bind="textConstants.TARGET_GREATER_THAN_ZERO"></label>
        </div>

    </div>
</div>



<!--=== Next Step Panel ===-->
<a  data-toggle="tab" data-target="#pixels" role="tab" class="nextWrapper leftNavLink budget">
    <span class="btn btn-default" ng-click="highlightLeftNav(1)" data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE"></span>
</a>

<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker({
            format: "mm/dd/yyyy",
            orientation: "auto",
            autoclose: true,
            todayHighlight: true
        });
    })
</script>
