<!--Row 1-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt">{{textConstants.WF_CAMPAIGN_FOR}}</label>
    <!-- SubAccount start -->
    <div class="form-group col-sm-3" style="padding-left: 0;" ng-if="showSubAccount">
        <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels">{{ textConstants.SUB_ACCOUNT }}</label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown()">
                    <span class="text">{{mode == 'edit' ? editCampaignData.advertiserName : 'Select SubAccount' }}</span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="advertiserDDL" ng-if="mode !== 'edit'">
                    <li ng-repeat="subaccount in workflowData.subAccounts track by subaccount.id" class="available"><a ng-click="selectHandler('subAccount', subaccount)">{{subaccount.name}}</a></li>
                </ul>
                <input type="hidden" name="subAccountId" ng-model="selectedCampaign.clientId" ng-update-hidden required/>
            </div>
        </div>
        <label ng-if="createCampaignForm.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel">Please select the SubAccount.</label>
    </div>
    <!-- SubAccount End -->
    <div class="form-group col-sm-3" style="padding-left: 0;">
        <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels">{{ textConstants.ADVERTISERS }}</label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown()">
                    <span class="text">{{mode == 'edit' ? editCampaignData.advertiserName : 'Select Advertiser' }}</span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="advertiserDDL" ng-if="mode !== 'edit'">
                    <li ng-repeat="advertiser in workflowData.advertisers track by advertiser.id" class="available"><a ng-click="selectHandler('advertiser', advertiser)">{{advertiser.name}}</a></li>
                </ul>
                <input type="hidden" name="advertiserId" ng-model="selectedCampaign.advertiserId" ng-update-hidden required/>
            </div>
        </div>
        <label ng-if="createCampaignForm.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel">Please select the Advertiser.</label>
    </div>
    <div class="form-group col-sm-3" style="padding-left: 0;">
        <label for="brandDDL" class="col-sm-12  greyTxt miniLabels">{{ textConstants.BRAND }}</label>
        <div class="col-md-12 zeroPadding dropdown-workflow">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="hideMediaPlanDropdown()" ng-disabled=" workflowData.brands.length == 0">
                    <span class="text">{{mode == 'edit' ? editCampaignData.brandName : 'Select Brand' }} </span>
                    <span class="icon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="brandDDL"  id="brandDDL">
                    <li ng-repeat="brand in workflowData.brands track by brand.id" class="available"><a ng-click="selectHandler('brand', brand)">{{brand.name}}</a></li>
                </ul>
                <input type="hidden" name="brandId" ng-model="selectedCampaign.brandId" ng-update-hidden/>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 spacingInput"><!-- SPACING --></div>

<!--Row 2-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12  labelQuestTxt" style="margin-bottom: 5px;">{{textConstants.WF_NAME_CAMPAIGN_TXT}}</label>
    <div ng-if=(mode=='edit') class="form-group col-sm-9 zeroPadding" show-errors  style="margin-top: 15px;">
        <input type="text" class="form-control" id="nameTitleCampaign" remove-special-character ='remove-special-character' name="campaignName" ng-model="editCampaignData.name"  ng-value="editCampaignData.name" autofocus maxlength="250" ng-maxlength="250" required/>
        <label ng-if="createCampaignForm.campaignName.$error.required" class="col-sm-12  greyTxt errorLabel">{{textConstants.WF_ENTER_NAME_CAMPAIGN}}</label>
    </div>
    <div ng-if=(mode!='edit') class="form-group col-sm-9 zeroPadding" show-errors  style="margin-top: 15px;">
        <input type="text" class="form-control" id="nameTitleCampaign" remove-special-character ='remove-special-character' name="campaignName" ng-model="selectedCampaign.campaignName"  maxlength="250" ng-maxlength="250" autofocus placeholder="Max 250 characters. No symbols or punctuation" required/>
        <label ng-if="createCampaignForm.campaignName.$error.required" class="col-sm-12  greyTxt errorLabel">{{textConstants.WF_ENTER_NAME_CAMPAIGN}}</label>
    </div>
</div>

<!--Row 3-->
<div class="col-md-9 zeroPadding">
    <label  class="col-sm-9 control-label labelQuestTxt" style="margin-bottom: 5px!important;">{{textConstants.LABEL}}</label>
    <tags-input class="form-group col-sm-9 zeroPadding" ng-model="tags"></tags-input>
</div>

<!--<div class="col-md-12 zeroPadding">-->
<!--    <div class="form-group col-sm-3" style="padding-left: 0;">-->
<!--        <label for="campObj" class="col-sm-12 greyTxt miniLabels">{{textConstants.WF_CAMPAIGN_OBJECTIVES}}</label>-->
<!--        <div class="col-md-12 zeroPadding dropdown-workflow">-->
<!--            <div class="dropdown" id="campObjClick">-->
<!--                <button class="btn btn-default dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="true" ng-click="open_multiselect_dropdown($event);">-->
<!--                    <span class="text" ng-bind="objectiveSet"></span>-->
<!--                    <span class="icon-arrow-down"></span>-->
<!--                </button>-->
<!--                <ul class="dropdown-menu multiSelectDDL" aria-labelledby="campObj"  id="campObj">-->
<!--                    <li class="headerDDL"><span class="icon-brand"></span><span class="greyTxt" style="padding-left: 7px !important;">BRANDING</span></li>-->
<!--                    <li ng-repeat="brand in workflowData.branding"><span><input type="checkbox" name="checkbox" value="brand.campaignObjectiveTypeId" ng-click="onObjectiveSelected(brand,'brand')" ng-checked="brand.isChecked">{{brand.subObjective}}</span></li>-->
<!--                    <li class="headerDDL"><span class="icon-performance"></span><span class="greyTxt" style="padding-left: 7px !important;">PERFORMANCE</span></li>-->
<!--                    <li ng-repeat="performance in workflowData.performance"><span><input type="checkbox" name="checkbox" value="performance.campaignObjectiveTypeId" ng-click="onObjectiveSelected(performance,'performance')" ng-checked="performance.isChecked">{{performance.subObjective}}</span></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col-md-12 zeroPadding">-->
<!--    <label for="nameTitleCampaign" class="col-sm-12  labelQuestTxt">What type of Media Plan are you running?</label>-->
<!--    <div class="form-group col-sm-12 zeroPadding goalBtnGroupTabs">-->
<!--        <label for="demoType" class="col-sm-12 greyTxt miniLabels"></label>-->
<!--        <div class="col-md-12 btn-group goalBtnGroup zeroPadding">-->
<!--            <label ng-if="mode !=='edit'" class="btn btn-primary first active">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Display')" value="Display" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-image"></div>-->
<!--                    <span>Display</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label ng-if="mode ==='edit'" class="btn btn-primary first " ng-class="selectedChannel==='DISPLAY'? 'active':''">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Display')" value="Display" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-image"></div>-->
<!--                    <span>Display</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label ng-if="mode !=='edit'" class="btn btn-primary">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Video')" value="Video" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-video"></div>-->
<!--                    <span>Video</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label ng-if="mode ==='edit'" class="btn btn-primary" ng-class="selectedChannel==='VIDEO'? 'active':''">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Video')" value="Video" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-video"></div>-->
<!--                    <span>Video</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label ng-if="mode !=='edit'" class="btn btn-primary">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Mobile')" value="Mobile" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-mobile"></div>-->
<!--                    <span>Mobile</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label ng-if="mode ==='edit'" class="btn btn-primary" ng-class="selectedChannel==='MOBILE' ? 'active' :''">-->
<!--                <input type="radio" name="demoType" autocomplete="off" name="campaignType" ng-click="channelSelected($event,'Mobile')" value="Mobile" >-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-mobile"></div>-->
<!--                    <span>Mobile</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label class="btn btn-primary disabled" aria-disabled="true">-->
<!--                <input type="radio" name="demoType" autocomplete="off" value="Social" disabled>-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-social"></div>-->
<!--                    <span>Social</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label class="btn btn-primary disabled" aria-disabled="true">-->
<!--                <input type="radio" name="demoType" autocomplete="off" value="Search" disabled>-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-search"></div>-->
<!--                    <span>Search</span>-->
<!--                </div>-->
<!--            </label>-->
<!--            <label class="btn btn-primary last disabled" aria-disabled="true">-->
<!--                <input type="radio" name="demoType" autocomplete="off" value="TV" disabled>-->
<!--                <div class="hideRadioBtn" style="margin-top: -18px;">-->
<!--                    <div class="icon-tv"></div>-->
<!--                    <span>TV</span>-->
<!--                </div>-->
<!--            </label>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="col-md-12 spacingInput"><!-- SPACING --></div>

<!--Row 4-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12  labelQuestTxt">When would you like your Media Plan to run?</label>
    <div class="span4 col-md-12 input-daterange input-group date pull-left" id="datepicker">

        <div class="col-md-12 dateWrapper form-group" show-errors>
            <div class="dateContainer">
                <label class="col-sm-12  greyTxt miniLabels">{{ textConstants.START_DATE }}</label>
                <input type="text" id="startDateInput" placeholder="MM/DD/YYYY" class="form-control" readonly name="startTime" ng-model="selectedCampaign.startTime" ng-change=" handleFlightDate(selectedCampaign)" required />
            </div>
            <div class="dateContainer" style="padding-left: 10px;">
                <label class="col-sm-12  greyTxt miniLabels">{{ textConstants.END_DATE }}</label>
                <input type="text" id="endDateInput" placeholder="MM/DD/YYYY" class="form-control" readonly name="endTime" ng-model="selectedCampaign.endTime"  required/>
            </div>
            <label ng-if="createCampaignForm.startTime.$error.required" class="col-sm-12  greyTxt errorLabel">{{textConstants.STARTDATE_REQUIRED}}.</label>
        </div>
        <span class="col-md-12 input-group-addon">
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
        </span>
    </div>
</div>

<div class="col-md-12 spacingInput"><!-- SPACING --></div>

<!--Row 5-->
<div class="col-md-12 zeroPadding">
    <label for="nameTitleCampaign" class="col-sm-12 labelQuestTxt" style="margin-bottom: 5px;"><span class="pull-left">{{textConstants.SELECT_KPIS}}</span><span ng-if="!isPrimarySelected" class="pull-left errorLabel show" style="margin-left: 115px;">You must select Primary KPI.</span></label>
    <div class="col-md-12 zeroPadding">
        <div class="col-md-3 zeroPadding kpiTable">
            <h3>KPI</h3>
            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels">{{textConstants.SELECT_ONE_YOU_MAY_ADD}}</label>
        </div>
        <div class="col-md-2 zeroPadding kpiTable" style="width: 130px;">
            <h3>Target</h3>
            <label for="primaryKPI" class="col-sm-12 greyTxt miniLabels">{{textConstants.ENTER_VALUE}}</label>
        </div>
    </div>
    
    <div class="col-md-12 zeroPadding" style="margin-bottom:10px;">
        <div class="col-md-3 zeroPadding kpiTable">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                        <span class="text">Impressions</span>
                        <span class="icon-arrow-down" ></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="selectKPI"  id="selectKPI">
                        <li class="available"><a>Impressions</a></li>
                        <li class="available"><a>CTR</a></li>
                        <li class="available"><a>VTC</a></li>
                        <li class="available"><a>CPA</a></li>
                        <li class="available"><a>CPM</a></li>
                        <li class="available"><a>CPC</a></li>
                        <li class="available"><a>Action Rate</a></li>
                    </ul>
                    <input type="hidden" name="kpi"  ng-model="Campaign.kpiArr[$index]['kpiType']" ng-value="kpi.name" field="kpiType" index="{{$index}}" required hiddenkpi>
                    <!--<input type="hidden" name="kpi" ng-init="Campaign.kpiArr[$index]['kpiType']='Select from list';" ng-model="Campaign.kpiArr[$index]['kpiId']" ng-value="{{kpi.id}}" field="kpiId" index="{{$index}}" required hiddenkpi>-->
                </div>
            </div>
        </div>

        <div class="col-md-2 zeroPadding kpiTable symbol-input">
            <span class="symbol">#</span>
            <input type="text" class="col-md-12" style="text-indent: 8px;height:36px;" ng-model="Campaign.kpiArr[$index]['kpiValue']" ng-keyup="setLeftNavPrimaryKpi($index); ComputeCost()" field="kpiValue"  whole-number-only="whole-number-only" index="{{$index}}" required/>
            <label ng-if="Campaign.kpiArr[$index]['kpiValue']==='0'"  class="col-sm-12  greyTxt errorLabel" style="display:inline;" ng-bind="textConstants.TARGET_GREATER_THAN_ZERO"></label>
        </div>

    </div>
</div>

<!--=== Next Step Panel ===-->
<a  data-toggle="tab" data-target="#pixels" role="tab" class="nextWrapper leftNavLink budget">
    <span class="btn btn-default" ng-click="highlightLeftNav(1)">Save & Continue</span>
</a>