<div class="col-md-6" style="padding: 0 0 0 30px;">
    <h2 class="col-md-12 zeroPadding marginBottom" data-ng-bind="textConstants.SELECTBUYPLAT"></h2>
    <span data-ng-bind="textConstants.FULLINT"></span>
    <div class="greyTxt" style="padding: 1px 0 0 0 !important;" data-ng-bind="textConstants.SELECTAPLAT"></div>
</div>

<div class="buyingPlatformHolder">
    <div class="col-md-12" style="padding: 0 0 0 30px;">
        <div class="col-md-6 platformHolder"
             ng-repeat="platform in workflowData.platforms"
             ng-click="!platform.active ? '' : selectPlatform($event, platform)">
            <img ng-src="{{platform.iconUrl}}"/>
            <p data-ng-bind="platform.displayName"></p>
            <span ng-bind-html="platform.summary"></span>
            <div ng-if="selectedPlatform[platform.id]" class="btn btn-default active" data-ng-bind="textConstants.SELECTED"></div>
            <input ng-if="!selectedPlatform[platform.id]"
                   type="button"
                   name="platform"
                   value="Select"
                   ng-disabled="!platform.active"
                   class="btn btn-default "
                   ng-click="!platform.active ? '' : selectPlatform($event, platform)"> 
            <input type="hidden" name="platformId" value="{{adData.platformId}}">
        </div>
        <div class="col-md-6 platformHolder">
            <span data-ng-bind="textConstants.MORESELF"></span>
            <a href="" data-ng-bind="textConstants.CANTFIND"></a>
        </div>
    </div>
    <div class="offeringsWrap">
        <div class="col-md-12" style="padding: 30px;">
            <span data-ng-bind="textConstants.TRACKINT"></span> <br />
            <span class="greyTxt" data-ng-bind="textConstants.MOREPLATAVAIL"></span>
        </div>
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="trackingIntegration1 in workflowData.tracking_integrations track by $index" ng-class="{'active': $index==0}">
                        <div class="offeringWrap"  ng-repeat="trackingIntegration in trackingIntegration1 track by $index">
                            <div class="col-md-12 zeroPadding text-center">
                                <img ng-src="{{trackingIntegration.iconUrl}}">
                            </div>
                            <div class="col-md-12 zeroPadding text-center">
                                <span class="title" data-ng-bind="trackingIntegration.displayName"></span>
                                <span class="descrip" data-ng-bind="trackingIntegration.summary"></span>
                            </div>
                            <div class="col-md-12 select-btn">
                                <div ng-if="selectedPlatform[trackingIntegration.id]" class="btn btn-default active" data-ng-bind="textConstants.SELECTED"></div>
                                <input ng-if="!selectedPlatform[trackingIntegration.id]" type="button" value="Select" ng-disabled="!trackingIntegration.active" class="btn btn-default" value="{{trackingIntegration.id}}" ng-click="!trackingIntegration.active ? '' : showTrackingSetupInfoPopUp($event, trackingIntegration);">
                            </div>

                        </div>
                        <input type="hidden" name="platformId" value="{{adData.platformId}}">
                        <div class="sliderSpacing"></div>
                    </div>
                    <!--- start pop up -->
                    <!-- end pop up -->
                </div>
                <div class="popUpCue" ng-show="showtrackingSetupInfoPopUp">
                        <span class="col-md-12 zeroPadding">
                            You can setup a tracking URL for {{trackingIntegration.displayName}}. You will be taken directly to the Creative section.
                        </span>
                    <a href="#creative" data-toggle="tab" class="leftNavLink creative-tab-link pull-right btn btn-primary" ng-click="selectTrackingIntegrations()" data-ng-bind="textConstants.CONTINUE"></a>
                    <a class="pull-right btn btn-link" ng-click="hideTrackingSetupInfoPopUp();" data-ng-bind="textConstants.CANCEL"></a>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                    <span class="leftCtrl"></span>
                    <span class="sr-only" data-ng-bind="textConstants.PREVIOUS"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                    <span class="rightCtrl"></span>
                    <span class="sr-only" data-ng-bind="textConstants.NEXT"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- buying platform holder ends -->
<!--=== Next Step Panel ===-->
<span ng-if="!TrackingIntegrationsSelected" class="nextWrapper leftNavLink ">
    <a href data-toggle="tab" class="btn btn-default " ng-click="triggerTargetting()" data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE"></a>
</span>
<span ng-if="TrackingIntegrationsSelected" class="nextWrapper leftNavLink">
    <a href data-toggle="tab" class="btn btn-default" ng-click="trigerCreativeTag()" data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE"></a>
</span>
<!-- Modal Start -->
<div class="common-popup-container" ng-show="changePlatformPopup">
    <div class="popup">
        <div class="popup-header-body">
            <div class="clearfix">
                <h1 class="pull-left" data-ng-bind="textConstants.CHGPLAT"></h1>
                <span class="close unselectable" aria-hidden="true" ng-click="cancelChangePlatform()" >x</span>
            </div>
            <div class="popup-content" data-ng-bind="changePlatformMessage"></div>
        </div>
        <div class="clearfix popup-footer" >
            <button type="button" ng-click="confirmChange()" class="common_primary_btn pull-right" data-ng-bind="textConstants.OKAY"></button>
            <button type="button" ng-click="cancelChangePlatform()"class="secondary_txt pull-right" data-ng-bind="textConstants.CANCEL"></button>
        </div>
    </div>
</div>

