<!-- Left Menu Column Starts -->
<div class="campaign_name_holder">
    <h1 class="campaign_name" data-ng-bind="textConstants.ADSETUP"></h1>
    <ul class="nav nav-tabs tabs-left stepCompLabel" id="myTabs">
        <li id="adType-tab" class="active">
            <a data-target="#adType"
               data-ng-if="!enableOnlyCreativeTab"
               class="leftNavLink"
               data-toggle="tab"
               data-ng-bind="textConstants.ADTYPESIDE">
            </a>
            <a data-target="#adType"
               data-ng-if="enableOnlyCreativeTab"
               class="leftNavLink"
               data-ng-bind="textConstants.ADTYPESIDE">
            </a>
            <div class="col-md-12 zeroPadding">
                <div class="statusLabel" data-ng-if="adData.startTime">
                    <div class="col-md-12">
                        <div class="statusIcon icon-calendar"></div>
                        <span data-ng-bind="adData.startTime + ' - ' + adData.endTime"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.FLIGHTPAR"></span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="!adData.adFormat && !adData.goal && adData.screenTypes.length === 0">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.adFormat">
                    <div class="col-md-12">
                        <div class="statusIcon icon-{{getAdFormatIconName(adData.adFormat)}}"></div>
                        <span data-ng-bind="adData.adFormat"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.FORMATPAR"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.screenTypes.length >0" style="margin: 0;">
                    <div class="col-md-12">
                        <div class="txtLabel" data-ng-repeat="screenType in adData.screenTypes">
                            <div class="statusIcon icon-{{screenType.name | lowercase}}"></div>
                            <span data-ng-bind="screenType.name"></span>
                            <span class="greyTxt" data-ng-bind="textConstants.SCREENPAR"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="setting-tab">
            <a data-target="#setting"
               data-ng-if="!enableOnlyCreativeTab"
               class="leftNavLink budget-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.BUDGETDELIVERYSIDE">
            </a>
            <a data-target="#setting"
               data-ng-if="enableOnlyCreativeTab"
               class="leftNavLink budget-tab-link"
               data-ng-bind="textConstants.BUDGETDELIVERYSIDE">
            </a>
            <div>
                <div class="statusLabel" data-ng-if="adData.totalAdBudget">
                    <div class="col-md-12">
                        <span style="margin-right: 1px;" data-ng-bind="locale.NUMBER_FORMATS.CURRENCY_SYM"></span>
                        <span data-ng-bind="adData.totalAdBudget | number"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.ADBUDGET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.primaryKpi && adData.targetValue">
                    <div class="col-md-12">
                        <span style="margin-right: 1px;" data-ng-bind="displayKpiSymbol(adData.primaryKpi)"></span>
                        <span style="margin-right: 3px;" data-ng-bind="adData.targetValue | number"></span>
                        <span data-ng-bind="displayKpiInSideBar(adData.primaryKpi)"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.PRIMARYKPIPAR"></span>
                    </div>
                </div>

                <!--<div class="statusLabel disabled"
                     data-ng-if="!adData.startTime &&
                                 !adData.unitCost &&
                                 !adData.unitType &&
                                 !adData.budgetMediaCostType &&
                                 !adData.mediaCostValue &&
                                 !adData.budgetImpressionType &&
                                 !adData.ImpressionsValue &&
                                 !adData.budgetAmount">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="(adData.unitCost)">
                    <div class="col-md-12">
                        <span style="margin-right: 1px;" data-ng-bind="locale.NUMBER_FORMATS.CURRENCY_SYM"></span>
                        <span data-ng-bind="(adData.unitCost | number) + ' ' +
                            (adData.unitType.name ? adData.unitType.name : 'CPM')">
                        </span>
                        <span class="greyTxt" data-ng-bind="textConstants.UNITCOSTPAR"></span>
                    </div>
                </div>-->
                <div class="statusLabel" data-ng-if="(adData.budgetType && adData.budgetAmount)">
                    <div class="col-md-12">
                        <span style="margin-right: 1px;" data-ng-bind="adData.budgetType.toLowerCase() === 'cost' ? '$' : '#'"></span>
                        <span style="margin-right: 3px;" data-ng-bind="adData.budgetAmount | number"></span>
                        <span data-ng-bind="(adData.budgetType)"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.BOOKEDIMPS"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.quantity">
                    <div class="col-md-12">
                        <span style="margin-right: 3px;" data-ng-bind="adData.quantity"></span>
                        <span style="margin-right: 3px;" data-ng-bind="textConstants.FREQCAPSIDEBAR"></span>
                        <span data-ng-bind="selectedFreq"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.SELECTEDFREQCAP"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.selectedSetting.name">
                    <div class="col-md-12">
                        <span title="{{displayVerificationInSideBar(adData.selectedSetting.name)}}">
                            <span class="pull-left" data-ng-bind="displayVerificationInSideBar(adData.selectedSetting.name)" style="max-width: 172px;
                            text-align: left; overflow: hidden; white-space: nowrap; line-height: normal; text-overflow: ellipsis;"></span>
                            <span class="greyTxt pull-left marginTopOne" data-ng-bind="textConstants.SELECTEDVERIFICATIONVENDOR"></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="buying-tab">
            <a data-target="#buying"
               data-ng-if="!enableOnlyCreativeTab"
               class="leftNavLink buying-platform-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.BUYINGPLATFORMSIDE">
            </a>
            <a data-target="#buying"
               data-ng-if="enableOnlyCreativeTab"
               class="leftNavLink buying-platform-tab-link"
               data-ng-bind="textConstants.BUYINGPLATFORMSIDE">
            </a>
            <div>
                <div class="statusLabel disabled" data-ng-if="!adData.platform">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.platform">
                    <div class="col-md-12">
                        <img data-ng-src="/images/platform_favicons/{{getPlatformIconName(adData.platform)}}.png"
                             width="12"
                             class="statusIcon"
                             style="margin-top: 1px;">
                        <span data-ng-bind="adData.platform"></span>
                        <span class="greyTxt" data-ng-bind="textConstants.PLATFORMPAR"></span>
                    </div>
                </div>
            </div>
        </li>
        <li id="targetting-tab">
            <span data-ng-if="TrackingIntegrationsSelected">
                <a role="tab" class="leftNavLink" data-ng-bind="textConstants.TARGETINGSIDE"></a>
            </span>
            <span data-ng-if="!TrackingIntegrationsSelected">
                <a data-target="#targetting"
                   data-ng-if="!enableOnlyCreativeTab"
                   class="leftNavLink targetting-tab-link"
                   data-toggle="tab"
                   data-ng-bind="textConstants.TARGETINGSIDE">
                </a>
                <a data-target="#targetting"
                   data-ng-if="enableOnlyCreativeTab"
                   class="leftNavLink targetting-tab-link"
                   data-ng-bind="textConstants.TARGETINGSIDE">
                </a>
            </span>
            <div>
                <div class="statusLabel disabled"
                     data-ng-if="(!adData.isGeographySelected &&
                                  !adData.isAudienceSelected &&
                                  !adData.isDaypartSelected &&
                                  !adData.isVideoSelected &&
                                   adData.sellersTargetting.length == 0) ||
                                  TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.WF_NOT_SET">
                        </span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(adData.isGeographySelected ||
                                  adData.isAudienceSelected ||
                                  adData.isDaypartSelected ||
                                  adData.isVideoSelected ||
                                  adData.sellersTargetting.length > 0) &&
                                  !TrackingIntegrationsSelected">
                    <div class="col-md-12" data-ng-if="adData.isGeographySelected" style="margin-bottom: 5px;">
                        <div class="icon-location pull-left"></div>
                        <span data-ng-bind="textConstants.GEOGRAPHY"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isAudienceSelected" style="margin-bottom: 5px;">
                        <div class="icon-audience pull-left"></div>
                        <span data-ng-bind="textConstants.AUDIENCE"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isDaypartSelected" style="margin-bottom: 5px;">
                        <div class="icon-activity pull-left"></div>
                        <span data-ng-bind="textConstants.DAYPART"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isVideoSelected" style="margin-bottom: 5px;">
                        <div class="icon-video pull-left"></div>
                        <span data-ng-bind="textConstants.VIDEO"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.sellersTargetting.length > 0" style="margin-bottom: 5px;">
                        <span data-ng-bind="textConstants.SELLER"></span>
                    </div>
                </div>
            </div>
        </li>
        <li id="inventoryView-tab">
            <span data-ng-if="TrackingIntegrationsSelected">
                <a role="tab"
                   class="leftNavLink inventory-tab-link"
                   data-ng-bind="textConstants.INVENTORYSIDE">
                </a>
            </span>
            <span data-ng-if="!TrackingIntegrationsSelected">
                <a data-target="#inventoryView"
                   data-ng-if="!enableOnlyCreativeTab"
                   class="leftNavLink inventory-tab-link"
                   data-toggle="tab"
                   data-ng-click="workflowData.initInventory()"
                   data-ng-bind="textConstants.INVENTORYSIDE">
                </a>
                <a data-target="#inventoryView"
                   data-ng-if="enableOnlyCreativeTab"
                   class="leftNavLink inventory-tab-link"
                   data-ng-click="workflowData.initInventory()"
                   data-ng-bind="textConstants.INVENTORYSIDE">
                </a>
            </span>
            <div>
                <div class="statusLabel disabled"
                     data-ng-if="(!workflowData.selectedWhiteLists.length &&
                                 !workflowData.selectedBlackLists.length &&
                                 !workflowData.savedDomainListIds.length) ||
                                 TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET">Not Set</span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(workflowData.selectedWhiteLists.length > 0) && !TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span data-ng-bind="workflowData.selectedWhiteLists.length > 1 ?
                                       workflowData.selectedWhiteLists.length + ' Whitelists' : 'Whitelist'">
                        </span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(workflowData.selectedBlackLists.length > 0) && !TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span data-ng-bind="workflowData.selectedBlackLists.length > 1 ?
                                       workflowData.selectedBlackLists.length + ' Blacklists' : 'Blacklist'">
                        </span>
                    </div>
                </div>
            </div>
        </li>

        <li id="creative-tab">
            <a data-target="#creative"
               class="leftNavLink creative-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.CREATIVESIDE">
            </a>
            <div>
                <div class="statusLabel disabled" data-ng-if="adData.setSizes">
                    <div class="col-md-12">
                        <span class="creative_tab_sizes" style="color: #000;" data-ng-bind="adData.setSizes"></span>
                    </div>
                </div>
                <div class="statusLabel disabled" data-ng-if="mode==='edit' && selectedArr.length>0 && adData.setSizes.length===0">
                    <div class="col-md-12">
                        <span class="creative_tab_sizes" style="color: #000;">Unspecified Size</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- Left Menu Column Ends -->
