<!-- Left Menu Column Starts -->
<div class="campaign_name_holder">
    <h1 class="campaign_name" data-ng-bind="textConstants.ADSETUP"></h1>
    <ul class="nav nav-tabs tabs-left stepCompLabel" id="myTabs">
        <li id="adType-tab" class="active">
            <a data-target="#adType"
               class="leftNavLink"
               data-toggle="tab"
               data-ng-bind="textConstants.ADTYPESIDE">
            </a>
            <div class="col-md-12 zeroPadding">
                <div class="statusLabel disabled"
                     data-ng-if="!adData.adFormat && !adData.goal && adData.screenTypes.length === 0">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.adFormat">
                    <div class="col-md-12">
                        <div class="statusIcon icon-{{getAdFormatIconName(adData.adFormat)}}"></div>
                        <span data-ng-bind="adData.adFormat"></span>
                        <span data-ng-bind="textConstants.FORMATPAR"></span>
                    </div>
                </div>

                <!--<div class="statusLabel" data-ng-if="adData.primaryKpi">-->
                    <!--<div class="col-md-12">-->
                        <!--<span data-ng-bind="adData.primaryKpi"></span>-->
                        <!--<span data-ng-bind="textConstants.PRIMARYKPIPAR"></span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="statusLabel" data-ng-if="adData.screenTypes.length >0" style="margin: 0;">
                    <div class="col-md-12">
                        <div class="txtLabel" data-ng-repeat="screenType in adData.screenTypes">
                            <div class="statusIcon icon-{{screenType.name | lowercase}}"></div>
                            <span data-ng-bind="screenType.name"></span>
                            <span data-ng-bind="textConstants.SCREENPAR"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="setting-tab">
            <a data-target="#setting"
               class="leftNavLink budget-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.BUDGETDELIVERYSIDE">
            </a>
            <div>
                <div class="statusLabel" data-ng-if="adData.primaryKpi">
                    <div class="col-md-12">
                        <!--<span data-ng-bind="(((adData.primaryKpi).toUpperCase() === 'CTR') ||
                        ((adData.primaryKpi).toUpperCase() === 'VTC') ||
                        ((adData.primaryKpi).toUpperCase() === 'CPM') ||
                        ((adData.primaryKpi).toUpperCase() === 'CPC') ||
                        ((adData.primaryKpi).toUpperCase() === 'CPA')) ?
                         (adData.primaryKpi).toUpperCase() : (adData.primaryKpi | toPascalCase)"></span>-->

                        <span data-ng-bind="displayKpiInSideBar(adData.primaryKpi)"></span>
                        <span data-ng-bind="textConstants.PRIMARYKPIPAR"></span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="!adData.startTime &&
                                 !adData.unitCost &&
                                 !adData.unitType &&
                                 !adData.budgetMediaCostType &&
                                 !adData.mediaCostValue &&
                                 !adData.budgetImpressionType &&
                                 !adData.ImpressionsValue &&
                                 !adData.budgetAmount">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.startTime">
                    <div class="col-md-12">
                        <div class="statusIcon icon-calendar"></div>
                        <span data-ng-bind="adData.startTime + ' - ' + adData.endTime"></span>
                        <span data-ng-bind="textConstants.FLIGHTPAR"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="(adData.unitCost)">
                    <div class="col-md-12">
                        <span style="margin-right: 5px;" data-ng-bind="locale.NUMBER_FORMATS.CURRENCY_SYM"></span>
                        <span data-ng-bind="(adData.unitCost | number) + ' ' +
                            (adData.unitType.name ? adData.unitType.name : 'CPM')">
                        </span>
                        <span data-ng-bind="textConstants.UNITCOSTPAR"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="(adData.budgetType && adData.budgetAmount)">
                    <div class="col-md-12">
                        <span style="margin-right: 5px;" data-ng-bind="adData.budgetType === 'Cost' ? '$' : '#'"></span>
                        <span data-ng-bind="adData.budgetAmount | number"></span>
                        <span data-ng-bind="(adData.budgetType)"></span>
                    </div>
                </div>
            </div>
        </li>
        <li id="buying-tab">
            <a data-target="#buying"
               class="leftNavLink buying-platform-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.BUYINGPLATFORMSIDE">
            </a>
            <div>
                <div class="statusLabel disabled" data-ng-if="!adData.platform">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET"></span>
                    </div>
                </div>
                <div class="statusLabel" data-ng-if="adData.platform">
                    <div class="col-md-12">
                        <img data-ng-src="/images/platform_favicons/{{getPlatformIconName(adData.platform)}}.png"
                             width="12"
                             class="statusIcon"
                             style="margin-top: 1px;">
                        <span data-ng-bind="adData.platform"></span>
                        <span data-ng-bind="textConstants.PLATFORMPAR"></span>
                    </div>
                </div>
            </div>
        </li>
        <li id="targetting-tab">
            <span data-ng-if="TrackingIntegrationsSelected">
                <a role="tab" class="leftNavLink" data-ng-bind="textConstants.TARGETINGSIDE"></a>
            </span>
            <span data-ng-if="!TrackingIntegrationsSelected">
                <a data-target="#targetting"
                   class="leftNavLink targetting-tab-link"
                   data-toggle="tab"
                   data-ng-bind="textConstants.TARGETINGSIDE">
                </a>
            </span>
            <div>
                <div class="statusLabel disabled"
                     data-ng-if="(!adData.isGeographySelected &&
                                  !adData.isAudienceSelected &&
                                  !adData.isDaypartSelected &&
                                  !adData.isVideoSelected) ||
                                  TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.WF_NOT_SET">
                        </span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(adData.isGeographySelected ||
                                  adData.isAudienceSelected ||
                                  adData.isDaypartSelected ||
                                  adData.isVideoSelected) &&
                                  !TrackingIntegrationsSelected">
                    <div class="col-md-12" data-ng-if="adData.isGeographySelected" style="margin-bottom: 5px;">
                        <div class="icon-location pull-left"></div>
                        <span data-ng-bind="textConstants.GEOGRAPHY"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isAudienceSelected" style="margin-bottom: 5px;">
                        <div class="icon-audience pull-left"></div>
                        <span data-ng-bind="textConstants.AUDIENCE"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isDaypartSelected" style="margin-bottom: 5px;">
                        <div class="icon-activity pull-left"></div>
                        <span data-ng-bind="textConstants.DAYPART"></span>
                    </div>
                    <div class="col-md-12" data-ng-if="adData.isVideoSelected" style="margin-bottom: 5px;">
                        <div class="icon-video pull-left"></div>
                        <span data-ng-bind="textConstants.VIDEO"></span>
                    </div>
                </div>
            </div>
        </li>
        <li id="inventoryView-tab">
            <span data-ng-if="TrackingIntegrationsSelected">
                <a role="tab"
                   class="leftNavLink inventory-tab-link"
                   data-ng-bind="textConstants.INVENTORYSIDE">
                </a>
            </span>
            <span data-ng-if="!TrackingIntegrationsSelected">
                <a data-target="#inventoryView"
                   class="leftNavLink inventory-tab-link"
                   data-toggle="tab"
                   data-ng-click="workflowData.initInventory()"
                   data-ng-bind="textConstants.INVENTORYSIDE">
                </a>
            </span>
            <div>
                <div class="statusLabel disabled"
                     data-ng-if="(!workflowData.selectedWhiteLists.length &&
                                 !workflowData.selectedBlackLists.length &&
                                 !workflowData.savedDomainListIds.length) ||
                                 TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span style="color: #000;" data-ng-bind="textConstants.NOTSET">Not Set</span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(workflowData.selectedWhiteLists.length > 0) && !TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span ng-bind="workflowData.selectedWhiteLists.length > 1 ?
                                       workflowData.selectedWhiteLists.length + ' WhiteLists' : 'Whitelist'">
                        </span>
                    </div>
                </div>
                <div class="statusLabel disabled"
                     data-ng-if="(workflowData.selectedBlackLists.length > 0) && !TrackingIntegrationsSelected">
                    <div class="col-md-12">
                        <span ng-bind="workflowData.selectedBlackLists.length > 1 ?
                                       workflowData.selectedBlackLists.length + ' BlackLists' : 'Blacklist'">
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="creative-tab">
            <a data-target="#creative"
               class="leftNavLink creative-tab-link"
               data-toggle="tab"
               data-ng-bind="textConstants.CREATIVESIDE">
            </a>
            <div>
                <div class="statusLabel disabled" data-ng-if="adData.setSizes">
                    <div class="col-md-12">
                        <span class="creative_tab_sizes" style="color: #000;" data-ng-bind="adData.setSizes"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- Left Menu Column Ends -->
