<div class="col-md-7 zeroPadding">
    <h2 class="col-md-12 zeroPadding marginBottom" data-ng-bind="textConstants.SETTARGETING"></h2>
    <a href="javascript:void(0);" class="helpLink" style="margin-top: 10px; display: inline-block;" data-ng-bind="textConstants.TARGETAUDCHOOSE"></a>
</div>

<!--=== Targeting Type ===-->
<div class="col-md-12 zeroPadding dropdown-workflow">
    <div class="col-md-3 zeroPadding">
        <div class="dropdown ddlSetTarget msgPopupHolder">
            <div class="msgPopup" ng-show="!$parent.isPlatformSelected">
                <div class="msg" data-ng-bind="textConstants.ENABLETARGETINGAD"></div>
                <div class="btn-holder">
                    <a data-target="#buying" data-toggle="tab" class="pull-right common_primary_btn leftNavLink" data-ng-bind="textConstants.SELECTPLATFORM"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 zeroPadding setTargetOptions">

    <!--START : Audience Targeting Card-->
    <div class="col-md-6 cardSelectHolder" ng-if="!isPlatformSelected || (isPlatformSelected && isAudienceTargetEnabled)" ng-class="{true: 'active'}[selectedTargeting['audience']]">
        <span ng-if="audienceDataForPreview && audienceDataForPreview.length > 0" class="icon-trash" ng-style="(audienceDataForPreview.length >0)?{'display':'block'}:{'display':'none'}" ng-click="deletetargets('AUDIENCE', $event)"></span>
        <div class="icon-audience"></div>
        <p data-ng-bind="textConstants.AUDSEGMENTS"></p>
        <div class="cardTxtWrap" ng-if="!audienceDataForPreview || audienceDataForPreview.length == 0">
            <span data-ng-bind="textConstants.REACHAUD"></span>
            <p style="margin: 0px;"><span data-ng-bind="textConstants.ALLAUD"></span></p>
        </div>
        <div class="cardTxtWrap targetDataSaved" ng-if="audienceDataForPreview && audienceDataForPreview.length > 0">
            <div class="targetDataSavedTop">
                <div class="icon-target"></div>
                <span data-ng-bind="textConstants.SELECTED"></span>
                <div class="badge" data-ng-bind="audienceDataForPreview.length"></div>
            </div>
            <span class="targetListItem" ng-if="audienceDataForPreview.length >= 1">{{audienceDataForPreview[0].name | limitTo: 30}}{{audienceDataForPreview[0].name.length > 30 ? '...' : ''}}</span>
            <span class="targetListItem" ng-if="audienceDataForPreview.length >= 2">{{audienceDataForPreview[1].name | limitTo: 30}}{{audienceDataForPreview[1].name.length > 30 ? '...' : ''}}</span>
            <span class="targetListItem" ng-if="audienceDataForPreview.length >= 3">{{audienceDataForPreview[2].name | limitTo: 30}}{{audienceDataForPreview[2].name.length > 30 ? '...' : ''}}</span>
            <span class="targetListItemMore" ng-if="audienceDataForPreview.length > 3">+{{audienceDataForPreview.length - 3}} more</span>
        </div>
        <span  ng-if="$parent.isPlatformSelected" class="onSelectBtn btn btn-default active" ng-click="selectAudTarget()"></span>
        <input ng-if="!audienceDataForPreview || audienceDataForPreview.length ==0" type="button" name="platform" value="Create" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectAudTarget()">
    </div>
    <!--END : Audience Targeting Card-->
    <!--START : Geo Targeting Card-->
    <div class="col-md-6 cardSelectHolder" ng-if="!isPlatformSelected || (isPlatformSelected && isGeoTargetEnabled)" ng-class="{true: 'active'}[selectedTargeting['geography']]">
        <span ng-if="geoTargetingPreviewObj" class="icon-trash" ng-style="(geoTargetingPreviewObj.include.count >0 || geoTargetingPreviewObj.exclude.count >0)?{'display':'block'}:{'display':'none'}" ng-click="deletetargets('GEO', $event)"></span>
        <div class="icon-location"></div>
        <p>Geography <span>({{locale.id === 'en-gb' ? 'UK' : 'US'}} Only)</span></p>
        <div class="cardTxtWrap" ng-if="!geoTargetingPreviewObj.include && !geoTargetingPreviewObj.exclude ">
            <span data-ng-bind="textConstants.TARGETAUDLOC"></span>
            <p style="margin: 0px;"><span>All {{locale.id === 'en-gb' ? 'UK' : 'US'}} (default)</span></p>
        </div>
        <div class="cardTxtWrap targetDataSaved" ng-if="geoTargetingPreviewObj.include || geoTargetingPreviewObj.exclude ">

            <div class="targetDataSavedTop" ng-if="geoTargetingPreviewObj.include.count>0">
                <div class="icon-target"></div>
                <span data-ng-bind="textConstants.INCLUDED"></span>
                <div class="badge">
                    {{geoTargetingPreviewObj.include.count}}
                </div>
            </div>
            <span class="targetListItem">
                {{geoTargetingPreviewObj.include.label}}
            </span>

            <div class="targetDataSavedTop" style="padding-top: 20px;" ng-if="geoTargetingPreviewObj.exclude.count >0">
                <div class="icon-exclude"></div>
                <span data-ng-bind="textConstants.EXCLUDED"></span>
                <div class="badge">{{geoTargetingPreviewObj.exclude.count}}</div>
            </div>
            <span class="targetListItem" ng-if="geoTargetingPreviewObj.exclude.count">
                {{geoTargetingPreviewObj.exclude.label}}
            </span>

        </div>
        <span ng-if="$parent.isPlatformSelected" class="onSelectBtn btn btn-default active" ng-click="selectGeoTarget()"></span>
        <input ng-if="!geoTargetingPreviewObj.include && !geoTargetingPreviewObj.exclude " type="button" name="platform" value="Create" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectGeoTarget()">
    </div>
    <!--END : Geo Targeting Card-->

    <!--START : Daypart Targeting Card-->
    <div class="col-md-6 cardSelectHolder" ng-if="(!isPlatformSelected || (isPlatformSelected && isDaypartTargetEnabled))" ng-class="{true: 'active'}[selectedTargeting['daily']]">
        <span ng-if="selectedDayParts['data'].length  > 0"  class="icon-trash" ng-style="(selectedDayParts['data'].length >0)?{'display':'block'}:{'display':'none'}" ng-click="deletetargets('DAYPART', $event)"></span>
        <div class="icon-activity"></div>
        <p data-ng-bind="textConstants.DAYPART"></p>
        <div class="cardTxtWrap" ng-if="!selectedDayParts['data'] || selectedDayParts['data'].length  == 0">
            <span data-ng-bind="textConstants.SELECTADREST"></span>
            <p style="margin: 0px;"><span data-ng-bind="textConstants.ALLDAYSTIMES"></span></p>
        </div>
        <div class="cardTxtWrap targetDataSaved" ng-if="selectedDayParts['data'] && selectedDayParts['data'].length  > 0">
            <div class="targetDataSavedTop">
                <div class="icon-target"></div>
                <span data-ng-bind="textConstants.INCLUDED"></span>
                <div class="badge" data-ng-bind="dayPartTotal"></div>
            </div>
            <span class="targetListItem" ng-if="selectedDayParts['selected'] != 'Custom schedule'">{{selectedDayParts['selected']}}</span>
            <span class="targetListItem" ng-if="selectedDayParts['data'].length >= 1 && selectedDayParts['selected'] == 'Custom schedule'">{{selectedDayParts['data'][0].day}} {{(selectedDayParts['data'][0].startTime)?selectedDayParts['data'][0].startTime:""}} {{(selectedDayParts['data'][0].endTime)?selectedDayParts['data'][0].endTime:""}}</span>
            <span class="targetListItem" ng-if="selectedDayParts['data'].length >= 2 && selectedDayParts['selected'] == 'Custom schedule'" >{{selectedDayParts['data'][1].day}} {{(selectedDayParts['data'][1].startTime)?selectedDayParts['data'][1].startTime:""}} {{(selectedDayParts['data'][1].endTime)?selectedDayParts['data'][1].endTime:""}}</span>
            <span class="targetListItem" ng-if="selectedDayParts['data'].length >= 3 && selectedDayParts['selected'] == 'Custom schedule'">{{selectedDayParts['data'][2].day}} {{(selectedDayParts['data'][2].startTime)?selectedDayParts['data'][2].startTime:""}} {{(selectedDayParts['data'][2].endTime)?selectedDayParts['data'][2].endTime:""}}</span>
            <span class="targetListItemMore" ng-if="selectedDayParts['data'].length > 3 && selectedDayParts['selected'] == 'Custom schedule'">+{{selectedDayParts['data'].length - 3}} more</span>
        </div>
        <span ng-if="$parent.isPlatformSelected" class="onSelectBtn btn btn-default active" ng-click="selectDayTarget()"></span>
        <input ng-if="!selectedDayParts['data'] || selectedDayParts['data'].length  == 0" type="button" name="platform" value="Create" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectDayTarget()">
    </div>
    <!--END : Daypart Targeting Card-->

    <!--START : Video Targeting Card-->
    <div class="col-md-6 cardSelectHolder active" ng-if="adData.adFormat === 'Video'">
        <span class="icon-trash" ng-click="deletetargets('VIDEO', $event)"></span>
        <div class="icon-video"></div>
        <p>Video</p>
        <div class="cardTxtWrap" ng-if="!selectedDayParts['data'] || selectedDayParts['data'].length  == 0">
            <span>Target your video ads to specific players and placements</span>
            <p style="margin: 0px;"><span></span></p>
        </div>
        <span ng-if="$parent.isPlatformSelected" class="onSelectBtn btn btn-default active" ng-click="selectVideoTarget()"></span>
        <input type="button" name="platform" value="Create" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectVideoTarget()">
    </div>
    <!--END : Video Targeting Card-->

    <div class="msgPopupHolder" ng-show="showDeleteConfirmationPopup">
        <div class="msgPopup" style="top:-60px">
            <div>
                <div class="msg pull-left" style="padding-top: 10px;" data-ng-bind="textConstants.AREYOUSURE"></div>
                <div class="clearfix btn-holder" style="margin: 0;">
                    <div class="pull-right common_primary_btn" ng-click="deleteTargetting()" data-ng-bind="textConstants.YES"></div>
                    <div class="pull-right secondary_txt" ng-click="cancelTargettingDelete()" data-ng-bind="textConstants.NO"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=== Slide Targeting ===-->
<div class="col-md-12 targetingSlide" id="audienceTargeting" ng-include="'/views/workflow/partials/targetings/audience_targeting.html'" ng-controller="AudienceTargettingController"></div>
<div class="col-md-12 targetingSlide" id="geographyTargeting" ng-include="'/views/workflow/partials/targetings/geography_targeting.html'" ng-controller="GeoTargettingController"></div>
<div class="col-md-12 targetingSlide" ng-if="adData.platformName !== 'DORADO'" id="dayTargeting" ng-include="'/views/workflow/partials/targetings/day_targeting.html'" ng-controller="daypartController"></div>
<div class="col-md-12 targetingSlide" id="videoTargeting" ng-include="'/views/workflow/partials/targetings/video_targeting.html'" ng-controller="VideoTargettingController"></div>

<!--=== Next Step Panel ===-->
<span class="nextWrapper leftNavLink">
    <a data-toggle="tab"  role="tab" class="btn btn-default" ng-click="triggerInventory()" data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE"></a>
</span>


