<div class="col-md-12 zeroPadding breadcrumbs">
	<h5 ng-click="resetAudienceTargetingVariables();">Targeting</h5>
	<span class="icon-arrow-down"></span>
	<h5 style="cursor: default;">Audience Segments</h5>
	
	<button class="pull-right btn btn-default" type="button" ng-click="saveCampaignWithAudience()" ng-disabled="selectedAudience.length == 0">Save Audience</button>
    <button class="pull-right btn btn-link" type="button" ng-click="resetAudienceTargetingVariables();">Cancel</button>
</div>

<div class="col-md-12 zeroPadding tabbable">
    <ul class="nav nav-tabs">
        <li class=" audience-tabs-segment firstTabAud">
			<a data-toggle="tab" href="#selectAud">
			<span class="ifNotSelected">1</span><span class="icon-check"></span> <p>Select Segments</p></a>
		</li>
        <div class="splitterDash"></div>
        <li class="audience-tabs-audience" ng-if="selectedAudience.length > 0"><a data-toggle="tab" href="#buildAud"><span>2</span> Build Audience</a></li>
		<li class="audience-tabs-audience" ng-if="selectedAudience.length == 0"><a data-toggle="tab" ng-href="#" class="disabled" ng-click="$event.preventDefault();$event.stopPropagation();"><span>2</span> Build Audience</a></li>

	</ul>

    <div class="tab-content">
		<!--TAB 1-->
        <div id="selectAud" class="col-md-12 zeroPadding tab-pane fade in active">
            <div class="segmentStepOne">
                <div class="setOne">
                    <div class="segmentHeader" >
                        <div class="col-md-12 zeroPadding multiDDL">
							<span class="icon-search" ng-click="selectKeyword(keywordText)"></span>
							<label class="col-md-12 greyTxt">Keyword</label>
	                        <input type="text" class="col-md-12 keyword-txt" placeholder="Max 10 keywords. Must be seperated by commas" ng-keyup="showKeywords(keywordText,$event)" ng-model="keywordText"/>
							<label class="keywordWrap" ng-repeat="key in selectedKeywords">{{key}} <span class="icon-close" ng-click="removeKeyword(key);"></span></label>
							<ul ng-if="audienceKeywords.length>0" class="dropdown-menu" role="menu" id="keywordsList" ng-style="dropdownCss">
								<li ng-repeat="keyword in audienceKeywords | filter:keywordText" ng-click="selectKeyword(keyword.keyword)">
									<a >
										<span class="tick"></span>
										<span class="menuItemText ng-binding" >{{keyword.keyword}}</span>
									</a>
								</li>
							</ul>
						</div>

                        <div class="col-md-3" style="padding: 0 10px 0 0;">
                            <label class="col-md-12 greyTxt">Source</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text">{{sourceText}}</span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg" style="width: 230px;">
                                        <li class="searchBar">
                                            <input type="text" class="col-md-12" placeholder="Search" ng-model="sourceSearch"/>
                                            <div class="icon-search"></div>
                                        </li>
                                        <li ng-repeat="source in sourceList| filter: sourceSearch">
                                            <span>
                                                <input type="checkbox" name="checkbox" ng-click="selectSource(source,'category')" ng-checked="source.isChecked">
                                                {{source.name}}
                                            </span>

                                        </li>
                                        <div class="clearfix category_dropdown">
                                            <div class="pull-left btn btn-link" ng-click="clearAllSelectedSource()">
                                                Clear All
                                            </div>
                                            <div class="pull-right btn  btn-default" ng-click="processDone()">
                                                Done
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="padding: 0 10px 0 0;">
                            <label class="col-md-12 greyTxt">Category</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text">{{categoryText}}</span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
					<ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg" style="width: 230px;">
						<li class="searchBar">
							<input type="text" class="col-md-12" placeholder="Search" ng-model="categorySearch"/>
							<div class="icon-search"></div>
						</li>
						<li ng-repeat="category in audienceCategories| filter: categorySearch">
                                            <span>
                                                <input type="checkbox" name="checkbox" ng-click="selectCategories(category,'category')" ng-checked="category.isChecked">
                                                <span class="icon-arrow-down-thick" ng-click="showSubCategory($event)"></span>
                                                {{category.category}} ({{(category.subCategories.length > 0 && category.subCategories[0].subCategory != null)? category.subCategories.length: 0}})
                                            </span>
						<ul ng-if="(category.subCategories.length > 0 && category.subCategories[0].subCategory != null)" style="display:none">
							<li ng-repeat="sub in category.subCategories"><span><input type="checkbox" ng-click="selectCategories(sub,'subcategory',category)" ng-checked="sub.isChecked">{{sub.subCategory}}</span></li>
						</ul>
					</li>
					<div class="clearfix category_dropdown">
                                            <div class="pull-left btn btn-link" ng-click="clearAllSelectedCategory()">
                                                Clear All
                                            </div>
                                            <div class="pull-right btn  btn-default" ng-click="processDone()">
                                                Done

                                            </div>
                                        </div>
				</ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 zeroPadding">
                            <!--<label class="col-md-12 greyTxt">Category</label>-->
                            <input type="text" id="amount" class="col-md-12 greyTxt sliderAmount" readonly>

                            <div class="col-md-12 zeroPadding" id="slider-range"></div>
                        </div>
                    </div>

					<div class="col-md-12 segHeaderTable">
						<div class="columnOne">
							<div class="checkbox">
								<input type="checkbox" ng-click="selectAllAudience()" ng-checked="selectAllChecked">
							</div>
						</div>
						<div class="columnTwo" style="width: 31.333%">
							<span>Segment Name</span>
						</div>
						<div class="columnThree" style="width: 31.333%">
							<span>Source</span>
						</div>
						<div class="columnFour" style="width: 31.333%">
							<span>Category</span>
						</div>
					</div>

					<div class="segBodyWrap">
						<div class="segFixedWrap" lr-infinite-scroll="loadMoreAudience">
							<div class="col-md-12 segBodyTable" ng-repeat="audience in audienceList">
								<div class="columnOne">
									<div class="checkbox">
										<input type="checkbox" ng-click="selectAudience(audience)" ng-checked="audience.isChecked">
									</div>
								</div>
								<div class="columnTwo" style="width: 31.333%">
									<span>{{audience.name}}</span>
								</div>
								<div class="columnThree" style="width: 31.333%">
									<span>{{audience.source}}</span>
								</div>
								<div class="columnFour" style="width: 31.333%; border-right: 0; ">
									<span>{{audience.category}}</span>
								</div>
							</div>
							<div ng-if="audienceList.length == 0" style="color: #ccc;text-align: center;padding-top: 10px;"> No Results Found...</div>
						</div>
					</div>

                </div>

				<div class="setTwo">
					<span class="pull-left">Selected Segments</span>
					<a class="pull-right" ng-click="clearAllSelectedAudience()">Clear All</a>

					<div class="selectedItems">

                        <div class="segWrap" ng-repeat="aud in selectedAudience">
                            <span>{{aud.name}}</span><div style="clear:both"></div>
                            <span>{{aud.category}}</span><div style="clear:both"></div>
                            <span>{{aud.source}} </span><div style="clear:both"></div>
                            <div class="icon-clear" ng-click="selectAudience(aud)"></div>
                        </div>
					</div>
				</div>
        </div>
        </div>
		<!--TAB 1 ENDS HERE-->

		<!--TAB 2-->
        <div id="buildAud" class="col-md-12 zeroPadding tab-pane fade">
            <a class="pull-right btn" style="padding: 2px" ng-click="clearAllSelectedAudience()">Clear All</a>

            <!--Example One-->
            <div class="segmentHolder">

                <div class="segmentRow" ng-repeat="aud in selectedAudience">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown" ng-show="!$first">
                                <button class="btn btn-default dropdown-toggle and-or-txt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">{{andOr}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu and-or-list" aria-labelledby="segConditionOne">
                                    <li ng-click="changeOrAndStatus('Or')"><a>Or</a></li>
                                    <li ng-click="changeOrAndStatus('And')"><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">{{(aud.isIncluded)?'Is':'Is not'}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu is-included-list" aria-labelledby="segConditionOne">
                                    <li ng-click="changeIncludeStatus(aud,true)"><a>Is</a></li>
                                    <li ng-click="changeIncludeStatus(aud,false)"><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<!--<span class="icon-more-options"></span>-->
							<span tooltip="{{aud.name}}{{aud.source}}{{aud.category}}" class="audienceTip">{{aud.name}}</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear" ng-click="selectAudience(aud)"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	.disabled {color:#ccc}
</style>