<div class="col-md-12 zeroPadding breadcrumbs">
	<h5>Targeting</h5>
	<span class="icon-arrow-down"></span>
	<h5>Audience Segments</h5>
	
	<button class="pull-right btn btn-default">Save Audience</button>
    <button class="pull-right btn btn-link" ng-click="resetAudienceTargetingVariables();">Cancel</button>
</div>

<div class="col-md-12 zeroPadding tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#selectAud"><span>1</span> Select Segments</a></li>
        <div class="splitterDash"></div>
        <li><a data-toggle="tab" href="#buildAud"><span>2</span> Build Audience</a></li>
    </ul>

    <div class="tab-content">
		<!--TAB 1-->
        <div id="selectAud" class="col-md-12 zeroPadding tab-pane fade in active">
            <div class="segmentStepOne">
                <div class="setOne">
                    <div class="segmentHeader" style="display: none;">
                        <div class="col-md-12 zeroPadding multiDDL">
							<span class="icon-search"></span>
							<label class="col-md-12 greyTxt">Keyword</label>
	                        <input type="text" class="col-md-12 keyword-txt" placeholder="Max 10 keywords. Must be seperated by commas" ng-keyup="showKeywords(keywordText)" ng-model="keywordText"/>
							<!--<label class="keywordWrap">Republican <span class="icon-close"></span></label>-->
							<!--<label class="keywordWrap">Outdoors <span class="icon-close"></span></label>-->
							<!--<label class="keywordWrap">Fitness <span class="icon-close"></span></label>-->
							<label class="keywordWrap" ng-repeat="key in selectedKeywords">{{key.keyword}} <span class="icon-close" ng-click="removeKeyword(key);"></span></label>
							<ul ng-if="audienceKeywords.length>0" class="dropdown-menu" role="menu" id="keywordsList" ng-style="dropdownCss">

								<li ng-repeat="keyword in audienceKeywords | filter:keywordText" ng-click="selectKeyword(keyword)">
									<a >
										<span class="tick"></span>
										<span class="menuItemText ng-binding" >{{keyword.keyword}}</span>
									</a>
								</li>

							</ul>
						</div>

                        <div class="col-md-3" style="padding: 0 10px 0 0;">
                            <label class="col-md-12 greyTxt">Source</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text">All</span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="sourceSeg">
                                        <li ng-repeat="source in sourceList"><a><input type="checkbox">Source 1</a></li>
                                        <!--<li><a>Source 2</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5" style="padding: 0 10px 0 0;">
                            <label class="col-md-12 greyTxt">Category</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text">All</span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <!--<ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg">-->
										<!--<li class="searchBar">-->
											<!--<input type="text" class="col-md-12" placeholder="Search"/>-->
											<!--<div class="icon-search"></div>-->
										<!--</li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 1 (12)</a></li>-->
                                        <!--<li>-->
											<!--<a><input type="checkbox"><span class="icon-arrow-down-thick active"></span>Category 2 (504)</a>-->
											<!--<ul>-->
												<!--<li><a><input type="checkbox">Manny (20)</a></li>-->
												<!--<li><a><input type="checkbox">Abi (484)</a></li>-->
												<!--<li><a class="emptySeg"><input type="checkbox">Frodo (0)</a></li>-->
											<!--</ul>-->
										<!--</li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 3 (35)</a></li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 4 (54)</a></li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 5 (677)</a></li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 6 (43)</a></li>-->
                                        <!--<li><a><input type="checkbox"><span class="icon-arrow-down-thick"></span>Category 7 (88)</a></li>-->
                                    <!--</ul>-->
									<ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg">
										<li class="searchBar">
											<input type="text" class="col-md-12" placeholder="Search"/>
											<div class="icon-search"></div>
										</li>
										<li ng-repeat="category in audienceCategories"><span><input type="checkbox" name="checkbox" ng-click="selectCategories(category,'category')"><span class="icon-arrow-down-thick" ng-click="showSubCategory()"></span>{{category.category}} ({{(category.subCategories.length > 0 && category.subCategories[0].subCategory != null)? category.subCategories.length: 0}})</span>
											<ul ng-if="(category.subCategories.length > 0 && category.subCategories[0].subCategory != null)" >
												<li ng-repeat="sub in category.subCategories"><span><input type="checkbox" ng-click="selectCategories(sub,'subcategory')" ng-checked="sub.isChecked">{{sub.subCategory}}</span></li>
											</ul>
										</li>

									</ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 zeroPadding">
                            <!--<label class="col-md-12 greyTxt">Category</label>-->
                            <input type="text" id="amount" class="col-md-12 greyTxt sliderAmount" readonly>

                            <div class="col-md-12 zeroPadding" id="slider-range"></div>
                        </div>
                    </div>

					<div class="col-md-12 segHeaderTable" style="margin-top: 0;">
						<div class="columnOne">
							<div class="checkbox">
								<input type="checkbox" id="selectAll">
							</div>
						</div>
						<div class="columnTwo" style="width: 47%;">
							<span>Segment Name</span>
						</div>
						<!--<div class="columnThree">-->
						<!--	<span>Source</span>-->
						<!--</div>-->
						<!--<div class="columnFour">-->
						<!--	<span>Category</span>-->
						<!--</div>-->
						<!--<div class="columnFive">-->
						<!--	<span>Cost</span>-->
						<!--</div>-->
						<div class="columnSix" style="width: 47%;">
							<span>Est. Pool Size</span>
						</div>
					</div>

					<div class="segBodyWrap">
						<div class="segFixedWrap">
							<!--<div class="col-md-12 segBodyTable">-->
							<!--	<div class="columnOne">-->
							<!--		<div class="checkbox">-->
							<!--			<input type="checkbox" id="selectAll">-->
							<!--		</div>-->
							<!--	</div>-->
							<!--	<div class="columnTwo">-->
							<!--		<span>Psycographic : Politcal : Registered : Republican</span>-->
							<!--	</div>-->
							<!--	<div class="columnThree">-->
							<!--		<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />-->
							<!--	</div>-->
							<!--	<div class="columnFour">-->
							<!--		<span>Psycographic : Political</span>-->
							<!--	</div>-->
							<!--	<div class="columnFive">-->
							<!--		<span>$9.99</span>-->
							<!--	</div>-->
							<!--	<div class="columnSix">-->
							<!--		<span>1,999,999</span>-->
							<!--	</div>-->
							<!--</div>-->
	
							<div class="col-md-12 segBodyTable">
								<div class="columnOne">
									<div class="checkbox">
										<input type="checkbox" id="selectAll">
									</div>
								</div>
								<div class="columnTwo" style="width: 47%;">
									<span>Psycographic : Politcal : Registered : Republican</span>
								</div>
								<div class="columnSix" style="width: 47%;">
									<span>1,999,999</span>
								</div>
							</div>
						</div>
					</div>

					<span class="segTotal">6,666 Results</span>
                </div>

				<div class="setTwo">
					<span class="pull-left">Selected Segments</span>
					<a class="pull-right">Clear All</a>

					<div class="selectedItems">
						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>

						<div class="segWrap">
							<span>Psycographic : Politcal : Registered : Republican</span>
							<img src="/assets/images/workflow/dummyLogos/adobe.png" alt="" width="16px" />
							<span>$9.99</span>
							<div class="icon-clear"></div>
						</div>
					</div>
				</div>
        </div>
        </div>
		<!--TAB 1 ENDS HERE-->

		<!--TAB 2-->
        <div id="buildAud" class="col-md-12 zeroPadding tab-pane fade">
            <a class="pull-right btn" style="padding: 2px">Clear All</a>

            <!--Example One-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Two-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Three-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
            </div>

            <span class="col-md-12 text-center">Or</span>

            <!--Example Two-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Two-->
                <div class="segmentRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Three-->
                <div class="segmentRow andRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">And</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
            </div>

            <span class="col-md-12 text-center">Or</span>

            <!--Example Three-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Or</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Two-->
                <div class="segmentRow andRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">And</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>

                <!--Segment Sample Three-->
                <div class="segmentRow andRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">And</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Or</a></li>
                                    <li><a>And</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Is</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                    <li><a>Is</a></li>
                                    <li><a>Is not</a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span class="icon-more-options"></span>
							<span>Psychographic : Sports : Outdoors</span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
            </div>

            <!--Example Four Drag Drop Container-->
            <div class="segmentHolder">
                <!--Drag Drop-->
                <div class="segmentRow segmentDrop">
                    <span class="col-md-12 text-center">Or</span>
                </div>
            </div>
        </div>
    </div>
</div>
