<div class="closeBtnCreative" ng-click="cancelBtn()">
	<img src="/assets/images/workflow/icon_back.svg" class="pull-left" alt="" height="20" style=""/>
	<a>Back</a>
</div>

<div class="col-md-12 zeroPadding">
    <h2 class="col-md-12 zeroPadding marginBottom">Audience Segments</h2>
</div>

<div class="col-md-12 zeroPadding tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#selectAud"><span>1</span> Select Segments</a></li>
        <div class="splitterDash"></div>
        <li><a data-toggle="tab" href="#buildAud"><span>2</span> Build Audience</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="selectAud" class="col-md-12 zeroPadding tab-pane fade in active">
            <h2>Coming Soon</h2>
        </div>
        <div id="buildAud" class="col-md-12 zeroPadding tab-pane fade">
            <a class="pull-right btn" style="padding: 2px">Clear All</a>
            
            <!--Example One-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Two-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Three-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>            
            </div>
            
            <span class="col-md-12 text-center">Or</span>
            
            <!--Example Two-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Two-->
                <div class="segmentRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Three-->
                <div class="segmentRow andRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">And</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>            
            </div>
            
            <span class="col-md-12 text-center">Or</span>
            
            <!--Example Three-->
            <div class="segmentHolder">
                <!--Segment Sample One-->
                <div class="segmentRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Or</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Two-->
                <div class="segmentRow andRow prevAndRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">And</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>
                
                <!--Segment Sample Three-->
                <div class="segmentRow andRow">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">And</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Or</a></li>
                                      <li><a>And</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <span class="text">Is</span>
                                      <span class="icon-arrow-down"></span>
                                 </button>
                                 <ul class="dropdown-menu" aria-labelledby="segConditionOne">
                                      <li><a>Is</a></li>
                                      <li><a>Is not</a></li>
                                 </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="col-md-12"/>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear"></a></div>
                </div>            
            </div>
            
            <!--Example Four Drag Drop Container-->
            <div class="segmentHolder">
                <!--Drag Drop-->
                <div class="segmentRow segmentDrop">
                    <span class="col-md-12 text-center">Or</span>
                </div>         
            </div>
            
            <div class="col-md-12 zeroPadding">
                <button class="pull-right btn btn-default">Save Audience</button>
                <button class="pull-right btn btn-link">Cancel</button>
            </div>
            
        </div>
    </div>
</div>