<div class="dayTargetTop">
	<div class="col-md-12 zeroPadding breadcrumbs" style="margin-bottom: 20px;">
		<div class="pull-left">
			<h5 ng-click="resetDayTargetingVariables();">Targeting</h5>
			<span class="icon-arrow-down"></span>
			<h5 style="cursor: default;">Daypart</h5>
			<span class="pull-left" style="clear: left; font-size: 12px;">By default, Ads will be delivered all day every day when no specific daypart rules applied.</span>
		</div>
		
		<div class="pull-right">
			<button class="pull-right btn btn-default" ng-click="saveDayPart()">Save Daypart</button> <!--ng-disabled="!adData.adName"-->
			<button class="pull-right btn btn-link" ng-click="resetDayTargetingVariables();">Cancel</button>
		</div>
	</div>


        <div class="col-md-12 zeroPadding">
		<div class="col-md-4 zeroPadding">
			<label class="col-sm-12 greyTxt">Day & Time</label>
			<div class="col-md-12 zeroPadding dropdown-workflow">
				<div class="form-group dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="text">{{dayTimeSelected ? dayTimeSelected : timeSelected}}</span>
						<span class="icon-arrow-down"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dayTime" id="dayTimeSelection" data-toggle="dropdown">
						<li class="available" ng-click="Schedule.dayTimeSelected(0)" ng-init="Schedule.dayTimeSelected(0)" ><a value="0" >All days and times</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(1)"><a value="1">Weekday (M-F)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(2)"><a value="2">Weekend (S,S)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(3)"><a value="3">Business hours (M-F, 9:00AM-5:00PM)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(4)"><a value="4">TV Primetime (8:00PM-11:00PM)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(5)"><a value="5">Early Morning (5:00AM-7:00AM)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(6)"><a value="6">Late Night (11:00PM-1:00AM)</a></li>
						<li class="available" ng-click="Schedule.dayTimeSelected(7)"><a value="7">Custom schedule</a></li>
					</ul>
				       <input type="hidden" name="dayTimesel" class="dayTimesel" ng-model="dayTimeSelected" value="dayTimeSelected" ng-Update-Hidden required/>
				</div>
			</div>
		</div>

            <div class="col-md-12 zeroPadding" style="margin-top: 20px;">
                <div class="col-md-6 zeroPadding">
                    <div class="col-md-12 zeroPadding radioBtnToggle">
                        <label class="col-sm-12 greyTxt">Time Zone</label>
                        <div class="form-group btn-group miniToggle">
                            <label class="btn btn-default active timeAdvertiser" style="width: auto;">
                                <span>Advertiser</span>
                                <input type="radio" name="timeZone" checked group="timeZone" value="Advertiser" hidden="hidden" class="btn_rad advertiserClass" id="timeAdvertiser"  ng-click="timeZoneType($event,'Advertiser');">
                            </label>

                            <label class="btn btn-default timeEndUser" style="width: auto;">
                                <span>End User</span>
                                <input type="radio" name="timeZone" group="timeZone" value="End User" hidden="hidden" class="btn_rad endUserClass" id="timeEndUser" ng-click="timeZoneType($event,'End User');">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 zeroPadding">
                    <div class="col-md-12 zeroPadding radioBtnToggle timeZone">
                        <label class="col-sm-12 greyTxt" style="text-align: right; padding-right: 107px !important;">Clock</label>
                        <div class="form-group btn-group miniToggle pull-right">
                            <label class="btn btn-default active 12hr" style="width: auto;">
                                <span>12 hr</span>
                                <input type="radio" name="timeClock" checked group="timeClock" value="12 hr" hidden="hidden" class="btn_rad" id="12hr" ng-click="timeFormat($event,12);">
                            </label>

                            <label class="btn btn-default 24hr" style="width: auto;">
                                <span>24 hr</span>
                                <input type="radio" name="timeClock" group="timeClock" value="24 hr" hidden="hidden" class="btn_rad" id="24hr" ng-click="timeFormat($event,24);">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="dayTargetLower">
	<div class="col-md-12 zeroPadding bottomBorder" style="margin: 20px 0;">
		<span class="greyTxt pull-left">Deliver Ads on specific days and times</span>
	</div>
	
	<div class="col-md-2 zeroPadding pull-left" ng-if="dayTimeSelected === 'Custom schedule'" ng-init="Schedule.customLength = 0">
		<a class="pull-left" style="padding: 0; margin-bottom: 15px;" ng-click="addMoreCustom()">Add Daypart</a>
	</div>
	
	<div class="col-md-2 zeroPadding pull-right" ng-if="customFlag">
		<a class="pull-right" style="padding: 0;" clearall>Clear All</a>
	</div>
	<!--<div class="col-md-2 zeroPadding" ng-if="dayTimeSelected === 'Custom schedule'" ng-init="Schedule.customLength = 0">-->
        <!--<a class="pull-right" style="padding: 0;" ng-click="addMoreCustom()">Add Row</a>-->
	<!--</div>-->
	<!--Sample 1-->

	<!--<div class="col-md-12 zeroPadding dayRow" ng-repeat="dayObj in Schedule.daytimeArr track by $index" ng-if="dayTimeSelected !== 'Custom schedule'">-->
		<!--<div class="col-md-2 zeroPadding dailyRow">-->
			<!--<div class="col-md-12 zeroPadding dropdown-workflow">-->
				<!--<div class="dropdown">-->
					<!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
						<!--<span class="text">{{dayObj.day ? dayObj.day: Sunday}}</span>-->
						<!--<span class="icon-arrow-down"></span>-->
					<!--</button>-->
					<!--<ul class="dropdown-menu" aria-labelledby="dayTime" id="selectDay" data-toggle="dropdown">-->
						<!--<li class="available"><a>Sunday</a></li>-->
						<!--<li class="available"><a>Monday</a></li>-->
						<!--<li class="available"><a>Tuesday</a></li>-->
						<!--<li class="available"><a>Wednesday</a></li>-->
						<!--<li class="available"><a>Thursday</a></li>-->
						<!--<li class="available"><a>Friday</a></li>-->
						<!--<li class="available"><a>Saturday</a></li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-md-2 zeroPadding hourRow">-->
			<!--<div class="col-md-12 zeroPadding dropdown-workflow">-->
				 <!--<div class="dropdown">-->
					  <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
						   <!--<span class="text">{{dayObj.startTime ? dayObj.startTime : 'All Day'}}</span>-->
						   <!--<span class="icon-arrow-down"></span>-->
					  <!--</button>-->
					  <!--<ul class="dropdown-menu" aria-labelledby="dayTime" id="startTime" data-toggle="dropdown">-->
						   <!--<li class="available" ng-click="selectTime(twelve ? time.twelveHrFormat: time.twentyfourHrFormat)" ng-value="{{time.time}}" ng-repeat="time in getTimes"><a>{{twelve ? time.twelveHrFormat: time.twentyfourHrFormat}}</a></li>-->
					  <!--</ul>-->
				 <!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!---->
		<!--<div class="midTo" ng-if="dayObj.endTime.length>0">to</div>-->
		<!--<!--<div class="midTo" ng-if="dayObj.startAmPm.length>0">to</div>-->

		<!--<div class="col-md-2 zeroPadding hourRow" ng-if="dayObj.endTime.length>0">-->
			<!--<div class="col-md-12 zeroPadding dropdown-workflow">-->
				 <!--<div class="dropdown">-->
					  <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
						   <!--<span class="text">{{dayObj.endTime ? dayObj.endTime: '9:00PM'}}</span>-->
						   <!--<span class="icon-arrow-down"></span>-->
					  <!--</button>-->
					  <!--<ul class="dropdown-menu" aria-labelledby="dayTime" id="endTime" data-toggle="dropdown">-->
                          <!--<li class="available" ng-click="selectTime(twelve ? time.twelveHrFormat: time.twentyfourHrFormat)" ng-value="{{time.time}}" ng-repeat="time in getTimes"><a>{{twelve ? time.twelveHrFormat: time.twentyfourHrFormat}}</a></li>-->
					  <!--</ul>-->
				 <!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!---->
		<!--<span class="icon-clear removeDay" clearrow></span>-->
	<!--</div>-->
<!--Custom Day Part-->
    <div>
    <!--<div ng-if="dayTimeSelected == 'Custom schedule' || Schedule.customLength" ng-init="Schedule.dayPart =[]">-->
    <div class="col-md-12 zeroPadding dayRow" ng-repeat="dayObj in Schedule.daytimeArr track by $index" >
        <div class="col-md-2 zeroPadding dailyRow">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-bind="Schedule.dayPart[$index]['day']" aria-haspopup="true" aria-expanded="true">
                        <!--<span class="text">{{dayObj.day ? dayObj.day: Sunday}}</span>-->
                        <!--<span class="text">{{dayObj.day ? dayObj.day: Sunday}}</span>-->
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dayTime" id="selectDay" data-toggle="dropdown">
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Sunday'">Sunday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Monday'">Monday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Tuesday'">Tuesday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Wednesday'">Wednesday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Thursday'">Thursday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Friday'">Friday</a></li>
                        <li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Saturday'">Saturday</a></li>
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Sunday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Sunday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Monday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Monday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Tuesday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Tuesday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Wednesday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Wednesday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Thursday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Thursday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Friday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Friday</a></li>-->
                        <!--<li class="available"><a ng-click="Schedule.dayPart[$index]['day'] = 'Saturday'" ng-init="Schedule.dayPart[$index]['day']= selectedDays[$index]">Saturday</a></li>-->
                    </ul>
                    <input ng-if="dayTimeSelected === 'Custom schedule' && (modeSet!='edit')" type="hidden" name="day" class="" ng-model="Schedule.dayPart[$index]['day']" ng-init="Schedule.dayPart[$index]['day']='Sunday'" value="{{Schedule.dayPart[$index]['day']}}"  field="day" index="{{$index}}" ng-Update-Hidden-Days  />
                    <input type="hidden" name="day" class="" ng-model="Schedule.dayPart[$index]['day']" value="{{Schedule.dayPart[$index]['day']}}"  field="day" index="{{$index}}" ng-Update-Hidden-Days  />

                </div>

            </div>
        </div>

        <div class="col-md-2 zeroPadding hourRow">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" ng-bind="returnTime(Schedule.dayPart[$index]['stTime'])" aria-expanded="true">
                        <!--<span class="text " ng-bind-html="returnTime(Schedule.dayPart[$index]['stTime'])">returnTime(Schedule.dayPart[$index]['stTime'])</span>-->
                        <!--<span class="text">{{dayObj.startTime ? dayObj.startTime : 'All Day'}}</span>-->
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dayTime" id="startTime" data-toggle="dropdown">
                        <li class="available" ng-click="selectStartTime($parent.$index,time.time)" ng-value="time.time" ng-repeat="time in getStartTimes"><a>{{twelve ? time.twelveHrFormat: time.twentyfourHrFormat}}</a></li>
                    </ul>
                    <input ng-if="dayTimeSelected != 'Custom schedule'" type="hidden" name="stTime" class=""  ng-model="Schedule.dayPart[$index]['stTime']" ng-value="{{time.time}}" field="stTime" index="{{$index}}" ng-Update-Hidden-Days/>
                    <input ng-if="dayTimeSelected === 'Custom schedule' && (modeSet!='edit')" type="hidden" name="stTime" class=""  ng-model="Schedule.dayPart[$index]['stTime']" ng-init="Schedule.dayPart[$index]['stTime']='24'" ng-value="{{time.time}}" field="stTime" index="{{$index}}" ng-Update-Hidden-Days/>
                </div>
            </div>
        </div>

        <div class="midTo" ng-if="Schedule.dayPart[$index]['stTime'] < 24">to</div>
        <!--<div class="midTo" ng-if="dayObj.startAmPm.length>0">to</div>-->
        <div class="col-md-2 zeroPadding hourRow" ng-if="Schedule.dayPart[$index]['stTime'] < 24">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                <div class="dropdown">Schedule.dayPart[$index]['edTime']--{{returnTime(Schedule.dayPart[$index]['edTime'])}}
                    <button class="btn btn-default dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" ng-bind="returnTime(Schedule.dayPart[$index]['edTime'])" aria-expanded="true" >
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dayTime" id="endTime" data-toggle="dropdown">
                        <li class="available" ng-click="selectEndTime($parent.$parent.$index,time.time)" ng-repeat="time in getStartTimes|limitTo:1" ng-value="time.time" ng-if="Schedule.dayPart[$parent.$index]['stTime'] == 23"><a>{{twelve ? time.twelveHrFormat: time.twentyfourHrFormat}}</a></li>
                        <li class="available" ng-click="selectEndTime($parent.$parent.$index,time.time)" ng-value="time.time" ng-repeat="time in getStartTimes" ng-if="Schedule.dayPart[$parent.$index]['stTime'] < time.time"><a>{{twelve ? time.twelveHrFormat: time.twentyfourHrFormat}}</a></li>
                    </ul>
                    <input ng-if="dayTimeSelected != 'Custom schedule'" type="hidden" name="edTime" class=""  ng-model="Schedule.dayPart[$index]['edTime']" ng-value="{{time.time}}" field="edTime" index="{{$index}}" ng-Update-Hidden-Days/>
                    <input ng-if="dayTimeSelected == 'Custom schedule'" type="hidden" name="edTime" class=""  ng-model="Schedule.dayPart[$index]['edTime']" ng-init="Schedule.dayPart[$index]['edTime']='23'" ng-value="{{time.time}}" field="edTime" index="{{$index}}" ng-Update-Hidden-Days/>
                </div>
            </div>
        </div>

        <span class="icon-clear removeDay" clearrow index="{{$index}}"></span>
    </div>
</div>
</div>
	