<tr>
  <td>&nbsp;</td>
  <td class="creatives-container-offset">
    <div class="creatives-container">
      <div class="header pure-g">
        <div class="pure-u-1-24">&nbsp;</div>
        <div class="pure-u-1-12">Start Date</div>
        <div class="pure-u-1-12">End Date</div>
        <div class="pure-u-1-6" style="width:12%">Ad Format / Size</div>
        <div class="pure-u-1-2">Inred Image URL</div>
        <div class="pure-u-1-24">HTML</div>
        <div class="pure-u-1-12">Client Ad Id</div>
      </div>
      <hr/>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-12 add-creative-btn">+ Add</div>
      <div class="pure-u-1-12 pull-right done-creative-btn">Done</div>
    </div>
  </td>
</tr>
