
    <div class="each_col platform_name_col icon_text_holder">
        Buying Platform
    </div>
    <div class="each_col second_col delivered_col">
            <span class="icon_text_holder">{{textConstants.TOTAL_COST}}</span>
    </div>
    <div class="each_col third_col delivered_col">
        <span class="icon_text_holder">{{textConstants.TOTAL_MARGIN}}</span>
    </div>
    <div class="each_col forth_col measurable_col" >
        <span>{{textConstants.CTR}}</span>
        <div class="sub_col">
            <span class="icon_text_holder">% CTR</span>
            <span class="icon_text_holder">{{textConstants.CPC}}</span>
            <span class="icon_text_holder">{{textConstants.TOTAL_CLICKS}}</span>
       </div>
    </div>
    <div class="each_col forth_col">
        <span>{{textConstants.VIEWABILITY}}</span>
        <div class="sub_col">
            <span class="icon_text_holder">% Views</span>
            <span class="tooltip_holder icon_text_holder">{{textConstants.CPM}}</span>
            <span class="tooltip_holder icon_text_holder">{{textConstants.TOTAL_VIEW}}</span>
        </div>
    </div>
    <div class="each_col forth_col">
        <span>{{textConstants.CONVERSIONS}}</span>
        <div class="sub_col">
            <span class="icon_text_holder">% Conv.</span>
            <span class="tooltip_holder icon_text_holder">{{textConstants.CPA}}</span>
            <span class="tooltip_holder icon_text_holder">{{textConstants.TOTAL_EVENTS}}</span>
        </div>
    </div>
    <div class="each_col seventhMargin_col">
        <span>{{textConstants.DELIVERY}}</span>
        <div class="sub_col">
            <span class="icon_text_holder">{{textConstants.IMP_WITH_DOT}}</span>
            <span class="tooltip_holder icon_text_holder">{{textConstants.CPM}}</span>
        </div>
    </div>



