<div class="each_col sec_col" >
    <span class="icon_text_holder" ng-class="sortClassFunction('platform_type',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platform_type'; sortReverse = !sortReverse;removeKpiActive();" >{{textConstants.PLATFORM_NAME}}</span>
    <!--<span class="icon_text_holder" ng-class="{ active:sortTypebyPerformance === 'platform',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" data-ng-click="sortColumnFunction('impressions','!sortReverse;removeKpiActive();');" >Platform</span>-->
</div>
<div class="each_col third_col" >
    <span class="icon_text_holder" ng-class="sortClassFunction('-platformType_aggregation.impressions',sortTypebyPerformance,sortReverseForPerfImps)" ng-click="sortTypebyPerformance = '-platformType_aggregation.impressions'; sortTypebyPerformanceSubSort='impressions'; sortReverse = sortReverseForPerfImps; sortReverseForPerfImps = !sortReverseForPerfImps;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'delivery'"></span>{{textConstants.IMP_WITH_DOT}}</span>

</div>

<div class="vid_col" ng-show="adFormats.videoAds == true">
    <div class="each_col third_col">

        <span class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.ad_starts',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.ad_starts';sortTypebyPerformanceSubSort='video_metrics.ad_starts';sortReverse = !sortReverse;removeKpiActive(); ">{{textConstants.VIDEO}} <br> {{textConstants.PLAYS}}</span>

    </div>
    <div class="vid_data_hdr">
        <span>{{textConstants.QUARTILE_DATA}}</span> <br>
        <div class="vid_sub_col">
            <div class="vid_sub_col_hdr" class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.vtc_25',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.vtc_25';sortTypebyPerformanceSubSort='video_metrics.vtc_25'; sortReverse = !sortReverse;removeKpiActive();;">25%</div>
            <div class="vid_sub_col_hdr" class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.vtc_50',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.vtc_50';sortTypebyPerformanceSubSort='video_metrics.vtc_50'; sortReverse = !sortReverse;removeKpiActive();">50%</div>
            <div class="vid_sub_col_hdr" class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.vtc_75',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.vtc_75';sortTypebyPerformanceSubSort='video_metrics.vtc_75'; sortReverse = !sortReverse;removeKpiActive();">75%</div>
            <div class="vid_sub_col_hdr" class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.vtc_100',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.vtc_100';sortTypebyPerformanceSubSort='video_metrics.vtc_100'; sortReverse = !sortReverse;removeKpiActive();">100%</div>
        </div>
    </div>


    <div class="each_col third_col" ng-class="{vid_none_hdr:adFormats.videoAds == false,vid_show:adFormats.videoAds == true}">
        <span class="vid_sub_col_hdr" class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.video_metrics.vtc_rate',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.video_metrics.vtc_rate';sortTypebyPerformanceSubSort='video_metrics.vtc_rate'; sortReverse = !sortReverse;removeKpiActive();"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'vtc'"></span>{{textConstants.VTC}}</span>

    </div>
</div>
<div class="each_col forth_col">
    <span class="icon_text_holder"  ng-class="sortClassFunction('platformType_aggregation.ctr',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'platformType_aggregation.ctr'; sortTypeSubSort ='ctr'; sortReverse = !sortReverse;removeKpiActive();" >
        <span class="default-kpi-header-icon ng-scope icon_text_holder"  tooltip={{textConstants.PRIMARY_KPI}} ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() == 'ctr'"></span>
        {{textConstants.CTR}}
    </span>
</div>
<div class="each_col fifth_col" ng-class="{vid_none_hdr:adFormats.videoAds == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('action_rate',sortTypebyPerformance,sortReverse)" ng-click="sortTypebyPerformance = 'action_rate'; sortReverse = !sortReverse;removeKpiActive();" >{{textConstants.ACTION_RATE}}</span>
</div>
<span  ng-show="adFormats.videoAds == false">
<div class="each_col sixth_col" ng-class="{vid_none_hdr:adFormats.videoAds == false}">

    <span class="icon_text_holder" ng-class="sortClassFunction('-platformType_aggregation.cpa',sortTypebyPerformance,sortReverseForCostscpa)" ng-click="sortTypebyPerformanceSubSort='-cpa';  sortTypebyPerformance = '-platformType_aggregation.cpa'; sortReverse = sortReverseForCostscpa; sortReverseForCostscpa = !sortReverseForCostscpa;removeKpiActive();" >{{textConstants.CPA}}</span>
</div>
<div class="each_col seventh_col" ng-class="{vid_none_hdr:adFormats.videoAds == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('-platformType_aggregation.cpc',sortTypebyPerformance,sortReverseForCostscpc)" ng-click="sortTypebyPerformanceSubSort='-cpc';  sortTypebyPerformance = '-platformType_aggregation.cpc';sortReverse = sortReverseForCostscpc; sortReverseForCostscpc = !sortReverseForCostscpc;removeKpiActive();" >{{textConstants.CPC}}</span>
</div>
<div class="each_col seventh_col" ng-class="{vid_none_hdr:adFormats.videoAds == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('-platformType_aggregation.cpm',sortTypebyPerformance,sortReverseForCostscpm)" ng-click=" sortTypebyPerformanceSubSort='-cpm';  sortTypebyPerformance = '-platformType_aggregation.cpm';sortReverse = sortReverseForCostscpm; sortReverseForCostscpm = !sortReverseForCostscpm;removeKpiActive();" >{{textConstants.CPM}}</span>
</div>
</span>
<div class="each_col seventh_col">
    <div ng-if="adFormats.videoAds"  class="dropdown kpi-dd-holder {{sortTypebyPerformance}}"  >
        <kpi-drop-down type="cpm" changedrpval="yes" ></kpi-drop-down>
    </div>
</div>