<div class="control-group">
  <div class="controls">
    <div class="input-append">
      <input id="search_input" placeholder="Search" type="text" class="search-input">
      <div class="btn-group">
        <button class="btn" id="search_button">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <select id="list" multiple="multiple">
    </select>
  </div>
</div>