<div class="block-site-control">
  <div class="controls">
    <select multiple = "multiple">
    </select>
    <div class="loading-div" id="loading_div" style="display:none;">
      <span class="loading-img"></span>
    </div>
  </div>
</div>