<div class="col-md-6 zeroPadding">
    <span class="col-md-12 zeroPadding adName" tooltip="{{adData.adName}}">{{adData.adName | textEllipsis: 55}}</span>
    <h2 class="col-md-12 zeroPadding marginBottom">Creative</h2>
    <a href="javascript:void(0);">Adding a Creative to your Tag</a>
    <br/>

    <div class="spacingInput"></div>
    <button type="button" class="btn btn-default" ng-disabled="adData.adFormat === undefined" ng-click="showPopup()">Add from Library</button>
    <button type="button" class="btn btn-default" ng-click="showCreateNewWindow()">Create New</button>
</div>

<div class="col-md-12 zeroPadding creativeTableTag">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">Size</th>
                    <th class="col-md-5">Tag</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-2">SSL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="creativeData in creativeData.creativeInfo.creatives">
                    <td>
                        <span class="col-md-3">{{$index+1}}</span>
    
                        <div class="col-md-9">
                            <p class="col-md-12">{{creativeData.size.size}}</p>
                        </div>
                    </td>
                    <td>
                        <span class="col-md-8">{{creativeData.name}}</span>
                        <a class="col-md-8" href="" ng-click="ShowHide(creativeData)">View Tag</a>



                        <!--<div style="width:350px;word-wrap:break-word;height:100px;">-->
                            <!--<div ng-show="IsVisible" class="ng-cloak">-->
                                <!--{{creativeData.tag}}-->
                            <!--</div>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <span class="col-md-12">{{creativeData.creativeType}}</span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" ng-click="removeCreativeTags(creativeData)"></span>
                    </td>
    
                </tr>
            </tbody>
        </table>
        <div ng-show="emptyCreativesFlag" class="emptyCreativesFlag">
            <span>You haven't added any Creative Tags for your Ad yet</span>
        </div>
    </div>
</div>
<!--=== Next Step Panel ===-->
<a href="#inventory" data-toggle="tab" class="nextWrapper">
    <img src="/assets/images/cdesk/arrow_down.png" alt=""/>
</a>

<div class="popContainerHolder" ng-show="IsVisible">
    <div class="popContainer">
        <div class="clearfix">

            <h1 class="pull-left">{{creativeObj.name}}</h1>
            <span class="close unselectable" aria-hidden="true" ng-click="ShowHide();">x</span>
        </div>
        <div class="textarea_edit_holder">
            <textarea  style="width: 100%;" rows="15" name="tag" id="tag" data-ng-model="creativeObj.tag" ng-readonly="true" required>{{creativeObj.tag}}</textarea>
        </div>
    </div>
</div>


