<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-6 zeroPadding">
        <h2 class="col-md-12 zeroPadding marginBottom">Set Budget & Delivery</h2>
        <a class="col-md-12 zeroPadding helpLink" href="javascript:void(0);">Learn more about Ad Settings</a>
    </div>
</div>
<div class="col-md-12 zeroPadding">
    <div class="col-md-12 adHeader">When would you like your Ad to run?</div>
    <div class="span4 col-md-12 input-daterange input-group date pull-left" id="datepicker">
        <div class="col-md-12 dateWrapper form-group zeroPadding">
            <div class="dateContainer">
                <label class="col-sm-12 control-label greyTxt miniLabels">{{ textConstants.START_DATE }}</label>
                <input type="text" id="startDateInput"  custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'top auto',  autoclose: true, todayHighlight: true}" placeholder="MM/DD/YYYY" class="form-control"  readonly name="startTime" ng-model="adData.startTime"  ng-disabled="checkForPastDate(workflowData['campaignData'].startTime, workflowData['campaignData'].endTime)" ng-change="handleStartFlightDate(adData)"/>
            </div>
            <div class="dateContainer" style="padding-left: 10px;">
                <label class="col-sm-12 control-label greyTxt miniLabels">{{ textConstants.END_DATE }}</label>
                <input type="text" id="endDateInput" custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'top auto',  autoclose: true, todayHighlight: true}" placeholder="MM/DD/YYYY" class="form-control" readonly disabled="disabled" ng-model="adData.endTime" name="endTime" required ng-change="handleEndFlightDate(adData)"/>
            </div>
            <div ng-show="checkForPastDate(workflowData['campaignData'].startTime, workflowData['campaignData'].endTime)" class="col-md-4 customErrorLabel" style="margin-left: 23px;margin-top: 38px !important;">Campaign flight date has passed</div>
        </div>
        <span class="col-md-12 input-group-addon">
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
            <div class="calenderIcon">
                <span class="icon-calendar"></span>
            </div>
        </span>
    </div>
</div>

<div class="row zeroPadding budgetWrap radioBtnToggle">
    <div class="col-md-12 adHeader">How do you want to set up the Budget for your Ad?</div>
    <div class="col-md-12 zeroPadding unitCost symbolAbs">
        <label class="col-sm-12 control-label greyTxt miniLabels">Unit Cost</label>
        <div class="form-group col-md-2 zeroPadding" style="margin-right: -5px;">
            <div class="col-md-12 zeroPadding dropdown-workflow">
                 <div class="dropdown">
                      <button style="width:130px;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                           <span class="text">CPM</span>
                           <span class="icon-arrow-down"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="unitcostType" ng-model="adData.unitType"  id="unitcostType" data-toggle="dropdown">
                           <li ng-repeat="unitType in workflowData.unitTypes track by unitType.id" class="available">
                            <a ng-click="dropBoxItemSelected(unitType, 'unitType')">{{unitType.name}}</a>
                           </li>
                      </ul>
                     <input type="hidden" name="unitType" ng-model="adData.unitType.name" ng-update-hidden/>
                 </div>
            </div>
        </div>
        <div class="form-group col-md-3 zeroPadding">
            <span>{{locale.NUMBER_FORMATS.CURRENCY_SYM}}</span>
            <input style="width:130px;" type="text" class="form-control" ng-model="adData.unitCost" fraction-numbers="fraction-numbers" name="unitCost" ng-keyup = "adBudgetValidator();">
        </div>
    </div>

    <label class="col-sm-12 control-label greyTxt miniLabels">Budget Calculation</label>
    <div class="btn-group miniToggle">
        <label class="btn btn-default budget_{{adData.budgetTypeLabel | lowercase}} active"><span>{{adData.budgetTypeLabel}}</span>
            <input type="radio" name="budgetType" value="{{adData.budgetTypeLabel}}" checked ng-model="adData.budgetType" class="btn_rad budget_type" hidden="hidden" ng-click="toggleBtn($event); ">
        </label>
        <label class="btn btn-default budget_cost"><span>Cost</span>
            <input type="radio" name="budgetType" value="Cost"  hidden="hidden" ng-model="adData.budgetType" class="btn_rad budget_type" ng-click="toggleBtn($event);">
        </label>
         <span style="position:absolute; top:10px; padding-left:17px; float:left;">{{adData.budgetType === 'Cost' ? '$' : '#'}}</span>
        <input style="width:130px; text-indent:8px;" type="text" name="budgetAmount" whole-number-only="whole-number-only" class="form-control" ng-model="adData.budgetAmount" id="budgetAmount" placeholder="Enter Value" ng-keyup = "adBudgetValidator();">
        <label ng-if="budgetErrorObj.mediaCostValidator" class="col-sm-12 control-label  customErrorLabel">{{textConstants.WF_MEDIA_COST_LESS_THAN_CAMPAIGN_BUDGET}}</label>
        <label ng-if="budgetErrorObj.availableRevenueValidator" class="col-sm-12 control-label  customErrorLabel">{{textConstants.WF_MEDIA_COST_LESS_THAN_MINIMUM_BUDEGT_FOR_AD}}</label>
        <label ng-if="budgetErrorObj.availableMaximumAdRevenueValidator" class="col-sm-12 control-label  customErrorLabel">{{textConstants.BUDGET_LESS_THAN_AVAILABLE_BUDGET}} {{adMaximumRevenue}}.</label>
    </div>
</div>

<div class="row zeroPadding unitCostTwo radioBtnToggle">
    <div class="col-md-2 zeroPadding">
        <label class="col-sm-12 control-label greyTxt miniLabels">Frequency Cap</label>
        <div class="btn-group miniToggle" ng-init="adData.setCap=false">
            <label class="btn btn-default cap_yes" style="width: auto;"><span>Yes</span>
                <input type="radio" name="setCap" value ="true"  hidden="hidden" class="btn_rad " ng-click="toggleBtn($event); adData.setCap = true; mode == 'create'  && frequencySelected('Daily')">
            </label>
            <label class="btn btn-default active cap_no" style="width: auto;"><span>No</span>
                <input type="radio" name="setCap" checked  value ="false"  hidden="hidden" class="btn_rad " ng-click="toggleBtn($event); adData.setCap = false;">
            </label>
        </div>
    </div>
    <!--<div class="col-md-4 zeroPadding">
        <label class="col-sm-12 control-label greyTxt miniLabels">Type of Cap</label>
        <div class="btn-group miniToggle">
            <label class="btn btn-default active"><span>Impressions</span>
                <input type="radio" name="setUpCap" group="budgetGroup" value="Yes" hidden="hidden" class="btn_rad">
            </label>

            <label class="btn btn-default"><span>Cost</span>
                <input type="radio" name="setUpCap" group="budgetGroup" value="No" hidden="hidden" class="btn_rad">
            </label>
        </div>
    </div>
    <div class="col-md-2 zeroPadding">
        <label class="col-sm-12 control-label greyTxt miniLabels">Cap by User</label>
        <div class="btn-group miniToggle">
            <label class="btn btn-default active" style="width: auto;"><span>Yes</span>
                <input type="radio" name="setUpCap" group="budgetGroup" value="Yes" hidden="hidden" class="btn_rad">
            </label>

            <label class="btn btn-default" style="width: auto;"><span>No</span>
                <input type="radio" name="setUpCap" group="budgetGroup" value="No" hidden="hidden" class="btn_rad">
            </label>
        </div>
    </div>-->
    <div class="col-md-4 zeroPadding symbolAbs"  ng-show="adData.setCap">
        <label class="col-sm-12 control-label greyTxt miniLabels">Impressions per user</label>
        <div class="form-group col-md-7 zeroPadding">
            <span>#</span>
            <input type="text" name="quantity" class="form-control" whole-number-only="whole-number-only" ng-model="adData.quantity" ng-disabled="!adData.setCap">
        </div>

         <!--<div class="form-group col-md-5">-->
            <!--<select name='frequencyType' class="form-control" name='frequencyType' ng-model="capsPeriod" ng-disabled="!adData.setCap">-->
                <!--<option value="DAILY">Day</option>-->
                <!--<option value="LIFETIME">Lifetime</option>-->
            <!--</select>-->
          <!--</div>-->

        <div class="form-group col-md-5" style="margin-left: -5px;">
           <div class="col-md-12 zeroPadding dropdown-workflow">
               <div class="dropdown">
                   <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         <span class="text">{{selectedFreq ? selectedFreq :'Daily'}}</span>
                         <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="frequencyType" id="frequencyType" name='frequencyType' ng-disabled="!adData.setCap" data-toggle="dropdown">
                          <li><a data-value="Daily" ng-click="frequencySelected('Daily')">Daily</a></li>
                         <li><a data-value="Lifetime" ng-click="frequencySelected('Lifetime')">Lifetime</a></li>
                    </ul>
                   <input type="hidden" name="frequencyType" value="{{selectedFreq}}" ng-model="capsPeriod" ng-update-hidden/>
               </div>
           </div>
        </div>
        <!--<div class="form-group col-md-5" style="padding-right: 0;">-->
        <!--    <div class="col-md-12 zeroPadding dropdown-workflow">-->
        <!--        <div class="dropdown">-->
        <!--             <button class="btn btn-default dropdown-toggle" type="button" id="frequencyType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
        <!--                  <span class="text">Day</span>-->
        <!--                  <span class="icon-arrow-down"></span>-->
        <!--             </button>-->
        <!--             <ul class="dropdown-menu" aria-labelledby="frequencyType" id="frequencyType" name='frequencyType' ng-disabled="!adData.setCap">-->
        <!--                  <li><a data-value="DAILY">Day</a></li>-->
        <!--                  <li><a data-value="LIFETIME">Lifetime</a></li>-->
        <!--             </ul>-->
        <!--        </div>-->
        <!--   </div>    -->
        <!--</div>-->

    </div>
</div>
<div class="row zeroPadding unitCostTwo radioBtnToggle">
    <div class="col-md-12 zeroPadding">
        <div class="col-md-12 adHeader">How should your Ad deliver?</div>
        <label class="col-sm-12 control-label greyTxt miniLabels">Pacing</label>
        <div class="btn-group miniToggle">
            <label class="btn btn-default active spend_evenly" style="width: auto;"><span>Pace Evenly</span>
                <input type="radio" name="pacingType" checked group="budgetGroup" value="EVENLY" hidden="hidden" class="btn_rad" id="evenly" ng-click="toggleBtn($event);">
            </label>

            <label class="btn btn-default spend_asap" style="width: auto;"><span>Spend as fast as possible</span>
                <input type="radio" name="pacingType" group="budgetGroup" value="ASAP" hidden="hidden" class="btn_rad" id="asap" ng-click="toggleBtn($event);">
            </label>
        </div>
    </div>
</div>

<!--=== Next Step Panel ===-->
<span class="nextWrapper leftNavLink">
    <a href data-toggle="tab" role="tab" class="btn btn-default" ng-click="triggerPlatformTab()">{{textConstants.WF_AD_SAVE_CONTINUE}}</a>
</span>
