<div class="col-md-6" style="padding: 0 30px;">
    <h2 class="col-md-12 zeroPadding marginBottom">Select Buying Platform</h2>
    <span>Full Integrations</span>
    <div class="greyTxt" style="padding: 1px 0 0 0 !important;">Select a Buying Platform</div>
</div>

<div class="buyingPlatformHolder">
    <div class="col-md-12" style="padding: 0 30px;">
        <div class="col-md-6 platformHolder" ng-repeat="platform in workflowData.platforms" ng-click="selectPlatform($event, platform)">
            <span ng-if="selectedPlatform[platform.id]" class="icon-inline-edit"></span>
            <img ng-src="{{platform.iconUrl}}"/>
            <p>{{platform.displayName}}</p>
            <span ng-bind-html="platform.summary"></span>
            <span ng-if="selectedPlatform[platform.id]" class="btn btn-default active" ng-click="selectPlatform($event, platform)">Selected</span>
            <input ng-if="!selectedPlatform[platform.id]" type="button" name="platform" value="Select" ng-disabled="!platform.active ?true:false" class="btn btn-default {{!platform.active || (mode == 'edit' && isAdsPushed) ? 'disabled' : ''}}" ng-click="selectPlatform($event, platform)"> 
            <input type="hidden" name="platformId" value="{{adData.platformId }}">
        </div>
        <div class="col-md-6 platformHolder">
            <span>More Self Service options coming soon</span>
            <a href="">Can't find what you are looking for?</a>
        </div>
    </div>
    <div class="offeringsWrap">
        <div class="col-md-12" style="padding: 30px;">
            <span>Tracking Integrations</span> <br />
            <span class="greyTxt">More Platforms Available</span>
        </div>
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="trackingIntegration1 in workflowData.tracking_integrations track by $index" ng-class="{'active': $index==1}">

                        <div class="offeringWrap"  ng-repeat="trackingIntegration in trackingIntegration1 track by $index">
                            <div class="col-md-12 zeroPadding text-center" style="height: 50px;">
                                <img ng-src="{{trackingIntegration.iconUrl}}">
                            </div>
                            <div class="col-md-12 zeroPadding text-center">
                                <span class="title">{{trackingIntegration.displayName}}</span>
                                <span class="descrip">{{trackingIntegration.summary}}</span>
                            </div>
                            <div class="col-md-12 select-btn">
                                <span ng-if="selectedPlatform[trackingIntegration.id]" class="btn btn-default active" ng-click="selectTrackingIntegrations(trackingIntegration)">Selected</span>
                                <input ng-if="!selectedPlatform[trackingIntegration.id]" type="button" value="Select" ng-disabled="!trackingIntegration.active  ?true:false" class="btn btn-default" value="{{trackingIntegration.id}}" ng-click="selectTrackingIntegrations(trackingIntegration)">
                                <!--<input ng-if="!selectedPlatform[trackingIntegration.id]" ng-disabled="!editTrackerAd" type="button" value="Select" class="btn btn-default" value="{{trackingIntegration.id}}" ng-click="selectTrackingIntegrations(trackingIntegration)">-->
                            </div>
                            <div class="popUpCue">
                                <span class="col-md-12 zeroPadding">
                                    You can setup a tracking URL for {{trackingIntegration.displayName}}. You will be taken directly to the Creative section.
                                </span>
                                <a href="#creative" data-toggle="tab" class="leftNavLink creative-tab-link pull-right btn btn-primary">Continue</a>
                                <a class="pull-right btn btn-link">Cancel</a>
                            </div>
                        </div>
                        <input type="hidden" name="platformId" value="{{adData.platformId}}">
                        <div class="sliderSpacing"></div>
                    </div>

                    <!--<div class="item">-->
                        <!--<div class="offeringWrap">-->
                            <!--<div class="col-md-3 zeroPadding">-->
                                <!--<img src="/assets/images/workflow/platform_icons/Adaptv-logo.png" alt="Adap.tv" width="50">-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                                <!--<span class="title">Adap.tv</span>-->
                                <!--<span class="descrip">All-in-one customer support application</span>-->
                            <!--</div>-->
                            <!--<div class="col-md-12 select-btn">-->
                                <!--<input type="button" value="Select" class="btn btn-default" >-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="sliderSpacing"></div>-->
                    <!--</div>-->
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                    <span class="leftCtrl"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                    <span class="rightCtrl"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- buying platform holder ends -->
<!--=== Next Step Panel ===-->
<a ng-if="!TrackingIntegrationsSelected" href="#targetting" data-toggle="tab" class="nextWrapper leftNavLink targetting-tab-link">
    <span class="btn btn-default">Save & Continue</span>
</a>
<a ng-if="TrackingIntegrationsSelected" href="#creative" data-toggle="tab" class="nextWrapper leftNavLink">
    <span class="btn btn-default">Save & Continue</span>
</a>
<!-- Modal Start -->
<div class="common-popup-container" ng-show="changePlatformPopup">
    <div class="popup">
        <div class="popup-header-body">
            <div class="clearfix">
                <h1 class="pull-left">Change Platform?</h1>
                <span class="close unselectable" aria-hidden="true" ng-click="cancelChangePlatform()" >x</span>
            </div>
            <div class="popup-content">
                {{changePlatformMessage}}
            </div>
        </div>
        <div class="clearfix popup-footer" >
            <button type="button" ng-click="confirmChange()" class="common_primary_btn pull-right">Okay</button>
            <button type="button" ng-click="cancelChangePlatform()"class="secondary_txt pull-right">Cancel</button>
        </div>
    </div>
</div>
