<div class="col-md-6" style="padding: 0 30px;">
    <span class="col-md-12 zeroPadding adName" tooltip="{{adData.adName}}">{{adData.adName | textEllipsis: 55}}</span>
    <h2 class="col-md-12 zeroPadding marginBottom">Buying Platform</h2>
    <span>Self Service</span>
    <div class="nav_filters_heading">Select a Buying Platform</div>
</div>

<div class="buyingPlatformHolder">
    <div class="col-md-12" style="padding: 0 30px;">
        <div class="col-md-6 platformHolder" ng-repeat="platform in workflowData.platforms">
            <img ng-src="/assets/images/cdesk/{{getPlatformIconName(platform.name)}}.png"/>
            <span>{{platform.name}}</span>
            
            <input type="radio" name="platform" value="{{platform.name}}" class="btn_rad" ng-model="adData.platform" ng-click="adData.platformId = platform.id">
        </div>
    </div>
    <input type="hidden" name="platformId" value="{{adData.platformId }}">

    <div class="col-md-12" style="padding: 0 30px;">
        <div class="moreComingSoon">
            <span>More Self Service options coming soon</span>
            <!--<a href="">Can't find what you are looking for?</a>-->
        </div>
    </div>
    
    
    <div class="col-md-12" style="padding: 0 30px;">
        <span>Full Service</span>
        <div class="nav_filters_heading">Please contact your Collective account representative if you would like to place ads through any of the following platforms.</div>
    </div>
    
    <div class="offeringsWrap">
        <h2>Collective Desk</h2>
        
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!--<ol class="carousel-indicators">-->
              <!--  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
              <!--  <li data-target="#myCarousel" data-slide-to="1"></li>-->
              <!--  <li data-target="#myCarousel" data-slide-to="2"></li>-->
              <!--  <li data-target="#myCarousel" data-slide-to="3"></li>-->
              <!--</ol>-->
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/placemedia.png" alt="Place Media" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Place Media</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/xad-logo-mobile.png" alt="xAd" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">xAd</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/Telemetry_Company_Logo.jpg" alt="Telemetry" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Telemetry</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing" style="width: 100%;"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/TwitterLogo.png" alt="Twitter" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Twitter</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/adtheorent.png" alt="Ad Theorent" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Ad Theorent</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/grfxLogoDstillery.png" alt="Dstillery" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Dstillery</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/Adaptv-logo.png" alt="Adap.tv" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Adap.tv</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/youtube.png" alt="youtube" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">YouTube</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/br-logo_0.png" alt="BrightRoll" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">BrightRoll</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing" style="width: 100%;"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/doubleclick-google-logo-wide-white.svg" alt="DoubleClick" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">DoubleClick</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/Facebook-Exchange-Logo.png" alt="FB Exchnage" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">FB Exchnage</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                    
                    <div class="sliderSpacing"></div>
                    
                    <div class="offeringWrap">
                        <div class="col-md-3 zeroPadding">
                            <img src="/assets/images/workflow/platform_icons/yahoo.png" alt="Yahoo" width="50">
                        </div>
                        <div class="col-md-9">
                            <span class="title">Yahoo</span>
                            <span class="descrip">All-in-one customer support application</span>
                        </div>
                    </div>
                </div>
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
    </div>
</div>
<!-- buying platform holder ends -->

<!-- Collective media screen Holder -->
<div class="platformWrap collectMediaScreenHolder">
    <div class="col-md-12 platformHeading">
        <div class="col-md-8 zeroPadding">
            <a href="javascript:void(0);" class="editPlatform"> Buying
                Platform</a> > {{ textConstants.WF_COLLECTIVE_MEDIA }}<br/>
            <img src="/assets/images/cdesk/logo_C.png" alt="" class="pull-left"/>
        </div>
        <div class="col-md-4 zeroPadding text-right">
            <a href="javascript:void(0);">Learn more about defining your
                strategy</a>
        </div>
    </div>
    <div class="col-md-12">
        <span class="">{{ textConstants.WF_DELIVERY_PACING }}</span>
        <a href="javascript:void(0);">{{
            textConstants.WF_HEADER_DELIVERY_FREQUENCY }}</a>
    </div>

    <div class="col-md-12">
        <div class="col-md-2 zeroPadding">{{ textConstants.WF_PRIORITY}}
        </div>
        <div class="form-group col-md-4">
            <select id="unitcost" class="form-control">
                <option ng-repeat="unitcost in unitcosts">{{unitcost}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <select id="unitcost" class="form-control">
                <option ng-repeat="unitcost in unitcosts">{{unitcost}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2 zeroPadding">{{
            textConstants.WF_DELIVER_IMPRESSIONS }}
        </div>
        <div class="form-group col-md-4">
            <select id="unitcost" class="form-control">
                <option ng-repeat="unitcost in unitcosts">{{unitcost}}
                </option>
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-2 zeroPadding">{{
            textConstants.WF_DELIVER_FREQUENCY }}
        </div>
        <div class="form-group col-md-1">
            <input type="checkbox" value="set">
        </div>
        <div class="form-group col-md-5 zeroPadding">
            {{ textConstants.WF_SET_FREQUENCY_CAP }}
        </div>
    </div>

    <div class="col-md-12 showImpressionCap">
        <div class="col-md-4 zeroPadding">
            <input type="text">
        </div>
        <div class="form-group col-md-3 zeroPadding">{{
            textConstants.WF_IMPRESSION_PER }}
        </div>
        <div class="form-group1 col-md-4">
            <select id="unitcost" class="form-control">
                <option ng-repeat="unitcost in unitcosts">{{unitcost}}
                </option>
            </select>
        </div>
    </div>
</div>
<!-- Collective media screen holder Ends -->

<!-- Collective Bidder Holder -->
<div class="platformWrap collectBidderScreenHolder">
    <div class="col-md-12 platformHeading zeroPadding">
        <div class="col-md-8 zeroPadding">
            <a href="javascript:void(0);" class="editPlatform"> Buying
                Platform</a> > Bidding Strategy<br/>

            <img src="/assets/images/cdesk/logo_C_bidder.png"
                 class="pull-left"/>
            <span class="col-md-6">Collective Bidder</span>

        </div>
        <div class="col-md-4 zeroPadding text-right">
            <a href="javascript:void(0);">Learn more about defining your
                strategy</a>
        </div>
    </div>


    <div class="col-md-12 zeroPadding">
        <div class="col-md-2 zeroPadding">Ad Type</div>
        <div class="form-group col-md-6 zeroPadding">
            <select class="form-control">
                <option>Click Optimized</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <a href="javascript:void(0);"
           class="showPreset col-md-4 btn btn-link">Show Preset</a>
    </div>

    <div class="col-md-12 presetGreyBox">
        <div class="form-group col-md-2">
            <label for="minBid">Min. Bid</label>
            <input type="text" class="form-control" id="minBid"
                   value="0.01">
        </div>
        <div class="form-group col-md-2">
            <label for="maxCost">Max Cost</label>
            <input type="text" class="form-control" id="maxCost" value="10">
        </div>
        <br/>

        <div class="form-group col-md-12 zeroPadding">
            <div class="col-md-5 zeroPadding">
                <label class="col-md-12" for="blackPeriod">Blackout
                    Period</label>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="blackPeriod"
                           value="1">
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control">
                        <option>Days</option>
                        <option>Weeks</option>
                        <option>Months</option>
                        <option>Years</option>
                    </select>
                </div>
                                                            <span class="glyphicon glyphicon-info-sign pull-left"
                                                                  aria-hidden="true"></span>
            </div>

            <div class="col-md-5 zeroPadding">
                <label class="col-md-12" for="rampPeriod">Ramp
                    Duration</label>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="rampPeriod"
                           value="0">
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control">
                        <option>Days</option>
                        <option>Weeks</option>
                        <option>Months</option>
                        <option>Years</option>
                    </select>
                </div>
                                                            <span class="glyphicon glyphicon-info-sign pull-left"
                                                                  aria-hidden="true"></span>
            </div>
            <div class="col-md-12">
                <a href="javascript:void(0);" class="pull-right text-right">Reset</a>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 zeroPadding">
        <div class="col-md-5 zeroPadding">
            <label class="col-md-4">Performance Objective</label>
            <span class="col-md-8">Clicks</span>
        </div>

        <div class="col-md-5 zeroPadding">
            <label class="col-md-12" for="marginGoal">Margin Goal</label>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="marginGoal"
                       value="0">
            </div>
            <span class="pull-left">%</span>
        </div>
    </div>
</div>
<!-- Collective Bidder Holder Ends -->

<!-- App Nexus Holder -->
<div class="platformWrap collectNexusScreenHolder">
    <div class="col-md-12 platformHeading">
        <div class="col-md-8 zeroPadding">
            <a href="javascript:void(0);" class="editPlatform"> Buying
                Platform</a> > App Nexus <br/>
            <img src="/assets/images/cdesk/logo_C_appnexus.png" alt=""
                 class="pull-left"/>
        </div>
        <div class="col-md-4 zeroPadding text-right">
            <a href="javascript:void(0);">Learn more about defining your
                strategy</a>
        </div>
    </div>

</div>
<!-- App Nexus Holder Ends -->

<!--=== Next Step Panel ===-->
<a href="#targetting" data-toggle="tab" class="nextWrapper leftNavLink">
    <img src="/assets/images/cdesk/arrow_down.png" alt=""/>
</a>