<div class="col-md-12 zeroPadding campSettingOverView">
    <div class="campBodyWrap">
        <div class="col-md-4 zeroPadding campTitleWrap">
            <!-- Abi this will show either active or inactive state only
            thing you have to do is add either class for color
            "inActiveLabel" or "activeLabel" -->
            <span class="label activeLabel">
            <!--<span class="label inActiveLabel">-->
                <!--{{workflowData.campaignData.status}}-->
            </span>
    
            <h4 tooltip="{{workflowData.campaignData.name}}">
                {{workflowData.campaignData.name | textEllipsis: 60}}
            </h4>
            <span class="campaign-ad-name-edit blue-edit-icon" title="Edit"></span>
        </div>
        <div class="col-md-1" style="padding-left: 40px; border-left: 1px solid #ddd;">
            <label>Goal</label>
            <div class="glyphicon glyphicon-{{workflowData.campaignData.goal.toLowerCase() ==='brand' ? 'record' : 'signal'}}" aria-hidden="true" style="width: 27px; text-align: center;"></div>
            <!--<span> {{(workflowData.campaignData.goal.toLowerCase() || 'Performance') | toCamelCase}}</span>-->
        </div>
        <div class="col-md-1 borderZero">
            <label>Total Budget</label>
            <span>{{(workflowData.campaignData.bookedRevenue || 0) | currency:undefined:0}}</span>
        </div>
        <div class="col-md-2 borderZero">
            <label>Flight Dates</label>
            <span ng-if="workflowData.campaignData.startTime">
                {{utc(workflowData.campaignData.startTime) | date : 'MMM dd, yyyy'}} - {{utc(workflowData.campaignData.endTime) | date : 'MMM dd, yyyy'}}
                <span ng-if="workflowData.campaignData.numOfDays">({{workflowData.campaignData.numOfDays}} Days)</span>
            </span>
        </div>
        <div class="col-md-2">
            <label>Pricing Model</label>
            <span style="opacity: .3;">Cost Per Viewable Impression</span>
        </div>
        <div class="col-md-2 borderZero">
            <div class="col-md-3 zeroPadding" style="display: none;">
                <label class="col-md-12 zeroPadding text-center" style="color: #DEDEDE;">Contacts</label>
                <span class="col-md-12 zeroPadding text-center" style="color: #DEDEDE;">0</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <label class="col-md-12 zeroPadding text-center">Ad Groups</label>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.adGroupCount}}</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <label class="col-md-12 zeroPadding text-center">Ads</label>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.adsCount}}</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <label class="col-md-12 zeroPadding text-center">Creatives</label>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.creativeCount}}</span>
            </div>
        </div>
    </div>
</div>