<div class="col-md-12 zeroPadding campSettingOverView">
    <div class="campBodyWrap">
        <div class="col-md-4 zeroPadding campTitleWrap">
            <span class="statuslabel {{workflowData.campaignData.status|lowercase}}_bulb"></span>
            <h4 tooltip="{{workflowData.campaignData.name}}">
                {{workflowData.campaignData.name | textEllipsis: 60}}
            </h4>
        </div>
        <div class="col-md-1" style="padding-left: 40px; border-left: 1px solid #ddd;">
            <span class="greyTxt" style="padding-bottom: 2px;">Objectives</span>
            <div class="icon-{{workflowData.campaignData.goal.toLowerCase() ==='brand' ? 'brand' : 'performance'}}" style="width: 27px; text-align: center;"></div>
            <div class="icon-brand"></div>
        </div>
        <div class="col-md-1 borderZero">
            <span class="greyTxt">Delivery Budget</span>
            <span>{{(workflowData.campaignData.deliveryBudget || 0) | currency:undefined:0}}</span>
        </div>
        <div class="col-md-2 borderZero">
            <span class="greyTxt">Flight Dates</span>
            <span ng-if="workflowData.campaignData.startTime">
                {{convertEST(workflowData.campaignData.startTime, 'DD MMM YYYY')}} - {{convertEST(workflowData.campaignData.endTime, 'DD MMM YYYY')}}
                <span ng-if="workflowData.campaignData.numOfDays">({{workflowData.campaignData.numOfDays}} Days)</span>
            </span>
        </div>
        <div class="col-md-2 borderZero">
            <div class="col-md-3 zeroPadding" style="display: none;">
                <span class="col-md-12 zeroPadding text-center" style="color: #DEDEDE;">Contacts</span>
                <span class="col-md-12 zeroPadding text-center" style="color: #DEDEDE;">0</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <span class="col-md-12 zeroPadding greyTxt" style="text-align: center;">Ad Groups</span>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.adGroupCount}}</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <span class="col-md-12 zeroPadding greyTxt" style="text-align: center;">Ads</span>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.adsCount}}</span>
            </div>
            <div class="col-md-4 zeroPadding borderZero">
                <span class="col-md-12 zeroPadding greyTxt" style="text-align: center;">Creatives</span>
                <span class="col-md-12 zeroPadding text-center">{{workflowData.campaignData.creativeCount}}</span>
            </div>
        </div>
    </div>
</div>