<div class="newInventoryFilters" >
    <div id="inventoryFilters" >
        <!-- Header Starts -->
        <div class="col-md-2 zeroPadding hideRightPanel"></div>
        <div class="col-md-10 containerWrap">
            <h2 class="col-md-12 zeroPadding marginBottom" data-ng-bind="textConstants.SETFILTERS"></h2>
            <a href="javascript:void(0);"
               class="helpLink col-md-12 zeroPadding"
               data-ng-bind="textConstants.HOWMANINVENFILTERS">
            </a>

            <div class="col-md-12 zeroPadding radioBtnToggle">
                <div class="btn-group miniToggle">
                    <label class="btn btn-default active spend_evenly" style="width: auto;">
                        <span>Whitelist</span>
                        <input type="radio" name="inventoryList" checked group="budgetGroup" value="WHITELIST"
                               hidden="hidden" class="btn_rad" id="whitelist" ng-click="toggleBtn($event);">
                    </label>
                    <label class="btn btn-default spend_asap" style="width: auto;">
                        <span>Blacklist</span>
                        <input type="radio" name="inventoryList" group="budgetGroup" value="BLACKLIST"
                               hidden="hidden" class="btn_rad" id="blacklist" ng-click="toggleBtn($event);">
                    </label>
                </div>
            </div>

            <div class="col-md-12 zeroPadding clearfix nav_filters" style="display: none;">
                <creative-drop-down ng-if="workflowData.campaignData"></creative-drop-down>
            </div>

            <div class="col-md-9 zeroPadding inventory_upload_btn" style="margin: 20px 0 0;">
                <button class="pull-left btn btn-default"
                        style="margin: 0 0 20px 0;"
                        ng-click="showInventoryModal()"
                        ng-show="workflowData.inventoryData.length > 0 ?  true : false"
                        data-ng-bind="textConstants.INVENTORY_SELECT_FROM_EXISTING">
                </button>
                <span class="greyTxt pull-left"
                      style="margin: 0 15px;"
                      ng-show="workflowData.inventoryData.length > 0 ?  true : false">
                    or
                </span>
                <!-- TODO: Temp, put CSS in stylesheet -->
                <span class="no-domain-list-found greyTxt"
                      ng-bind="textConstants.NO_DOMAIN_LIST_FOUND"
                      style="padding: 0 0 10px !important; display: block;"
                      ng-show="workflowData.inventoryData.length === 0 ?  true : false">
                </span>
                <button class="pull-left btn btn-default" ngf-select="selectFiles($files, 'INVENTORY_CREATE')"
                        ngf-accept="'.csv,.txt'" ngf-multiple="false" ngf-allow-dir="false"
                        data-ng-bind="textConstants.INVENTORY_UPLOAD_NEW">
                </button>
                <span class="grey_txt" data-ng-bind="textConstants.CSVTXTFILE"></span>
            </div>
        </div>
        <!-- Header Ends -->
        <!-- Body Starts -->
        <div class="col-md-2 zeroPadding hideRightPanel"></div>
        <div class="col-md-10" ng-repeat="inventory in workflowData.selectedLists">
            <div class="filterList" ng-if="workflowData.selectedLists.length > 0">
                <div class="filterHead" >
                    <span class="pull-left" style="width: auto;" ng-bind="inventory.name"></span>
                    <a class="icon-trash pull-right" style="margin: 10px 0 0 50px;"></a>
                    <button class="btn btn-default pull-right"
                            ng-disabled="workflowData.inventoryData.length === 0 || adData.inventory ?  false : true"
                            ngf-select="selectFiles($files, 'INVENTORY_UPDATE')"
                            ngf-accept="'.csv,.txt'"
                            ngf-multiple="false"
                            ngf-allow-dir="false"
                            data-ng-bind="textConstants.INVENTORY_REPLACE_CURRENT_LIST">
                    </button>
                    <div class="pull-left clearLeft sort-icon-holder active list_val_col"
                         ng-click="sort();"
                         style="display:inline-block;
                         margin-top: 5px;">
                        <span class="pull-left" data-ng-bind="textConstants.DOMAIN"></span>
                        <span class="pull-left common-sort-icon ascending"></span>
                    </div>
                </div>
                <div class="filterBody">
                    <span ng-repeat="domain in adData.inventory.domainList | orderBy : $index:sortDomain "
                          data-ng-bind="domain">
                    </span>
                </div>
            </div>
        </div>
        <!-- Body Ends -->
    </div>
</div>

<!-- Modal Upload List Start -->
<div class="popInventoryLib" ng-show="showDomainListPopup">
    <form id="inventoryNewForm" name="inventoryNewForm" novalidate>
        <div class="inventoryLib">
            <div class="headerLib">
                <span class="icon-close closePopBtn" aria-hidden="true" ng-click="closeDomainListPop()"></span>
                <h1 data-ng-bind="textConstants.UPLOADLIST"></h1>
                <span data-ng-bind="textConstants.FILENAME"></span>
            </div>
            <div class="popBody uploadList">
                <div class="popList">
                    <span ng-repeat="file in files" data-ng-bind="file.name"></span>
                </div>

                <div class="col-md-12 zeroPadding">
                    <div class="col-md-12 zeroPadding">
                        <label class="col-sm-12 control-label greyTxt miniLabels"
                               data-ng-bind="textConstants.LISTNAME">
                        </label>
                        <div class="form-group col-sm-12 zeroPadding" show-errors='{showSuccess: true}'>
                            <input type="text"
                                   name="listName"
                                   id="listName"
                                   class="form-control"
                                   remove-special-character="remove-special-character"
                                   ng-model="adData.listName"
                                   placeholder="Enter List Name"
                                   ng-disabled="!inventoryCreate  ?  true : false"
                                   autofocus
                                   required>
                            <label class="col-sm-12 control-label errorLabel"
                                   data-ng-bind="textConstants.PLEASEENTERLIST">
                            </label>
                        </div>
                    </div>
                    <div class="categoryDDL">
                        <label class="col-sm-12 control-label greyTxt miniLabels"
                               data-ng-bind="textConstants.CATEGORY">
                        </label>
                        <div class="form-group col-md-12 zeroPadding">
                            <select class="form-control" id="inventoryCat" disabled>
                                <option value="" data-ng-bind="textConstants.DOMAINLIST" disabled></option>
                            </select>
                        </div>
                    </div>
                    <div class="radioBtnToggle">
                        <label class="col-sm-12 control-label greyTxt miniLabels"
                               data-ng-bind="textConstants.TYPE">
                        </label>
                        <div class="btn-group miniToggle">
                            <label class="btn btn-default {{adData.inventory.domainAction === 'INCLUDE' ? 'active' : ''}}">
                                <span data-ng-bind="textConstants.WHITELIST"></span>
                                <input type="radio"
                                       name="inventoryType"
                                       value="INCLUDE"
                                       ng-disabled="!inventoryCreate  ?  true : false"
                                       ng-model="adData.inventory.domainAction"
                                       ng-checked="adData.inventory.domainAction === 'INCLUDE' ? true : false"
                                       class="btn_rad"
                                       hidden="hidden"
                                       ng-click="toggleBtn($event);">
                            </label>
                            <label class="btn btn-default {{adData.inventory.domainAction === 'EXCLUDE' ? 'active' : ''}}">
                                <span data-ng-bind="textConstants.BLACKLIST"></span>
                                <input type="radio"
                                       name="inventoryType"
                                       value="EXCLUDE"
                                       ng-disabled="!inventoryCreate ?  true : false"
                                       ng-model="adData.inventory.domainAction"
                                       ng-checked="adData.inventory.domainAction === 'EXCLUDE' ? true : false"
                                       hidden="hidden"
                                       class="btn_rad"
                                       ng-click="toggleBtn($event);">
                            </label>
                        </div>
                        <div class="grey_txt note"
                             style="margin-top: 4px;"
                             ng-if="!inventoryCreate"
                             data-ng-bind="textConstants.LISTYPEMOD">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 popFooter">
                <button type="button"
                        class="btn btn-primary pull-right"
                        ng-disabled="!adData.listName.length || (files && files.length === 0)"
                        ng-click="uploadDomain()"
                        data-ng-bind="textConstants.IMPORT">
                </button>
                <button type="button"
                        class="btn btn-link pull-right"
                        ng-click="closeDomainListPop()"
                        data-ng-bind="textConstants.CANCEL">
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Modal End -->

<!-- Modal Select Existing List Start -->
<div class="popInventoryLib" ng-show="showExistingListPopup">
    <form id="inventoryExistingForm" name="inventoryExistingForm" novalidate>
        <div class="inventoryLib">
            <div class="headerLib">
                <span class="icon-close closePopBtn" aria-hidden="true" ng-click="hideExistingListPopup()"></span>
                <h1 ng-bind="'Select from Existing ' +
                                adData.inventory.domainAction === 'INCLUDE' ? 'Whitelist' : 'Blacklist'">
                </h1>
            </div>
            <div class="popBody">
                <div class="col-md-6">
                    <h4>Available</h4>
                    <div class="listKeyupInput">
                        <input type="text" class="form-control" name="creativeSearch" placeholder="Search domain lists">
                        <span class="icon-search"></span>
                    </div>
                    <ul class="col-md-12 zeroPadding">
                        <!--Dummy Data Start-->
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <li class="selected">
                            <input type="checkbox">
                            <span>Whitelist</span>
                            <span class="titleList">Acme Global Whitelist</span>
                        </li>
                        <!--Dummy Data End-->
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Selected</h4>
                    <!--Dummy Data Start-->
                    <div class="selected">
                        <span>Whitelist</span>
                        <span class="titleList">Acme Global Whitelist</span>
                        <span class="icon-close" aria-hidden="true"></span>
                    </div>
                    <div class="selected">
                        <span>Whitelist</span>
                        <span class="titleList">Acme Global Whitelist</span>
                        <span class="icon-close" aria-hidden="true"></span>
                    </div>
                    <div class="selected">
                        <span>Whitelist</span>
                        <span class="titleList">Acme Global Whitelist</span>
                        <span class="icon-close" aria-hidden="true"></span>
                    </div>
                    <div class="selected">
                        <span>Whitelist</span>
                        <span class="titleList">Acme Global Whitelist</span>
                        <span class="icon-close" aria-hidden="true"></span>
                    </div>
                    <!--Dummy Data End-->
                </div>
            </div>
            <div class="col-md-12 popFooter">
                <button type="button" class="btn btn-primary pull-right" ng-click="uploadDomain()">Save</button>
                <button type="button" class="btn btn-link pull-right" ng-click="hideExistingListPopup()"
                        data-ng-bind="textConstants.CANCEL"></button>
            </div>
        </div>
    </form>
</div>
<!-- Modal End -->

<!--=== Next Step Panel ===-->
<span class="nextWrapper leftNavLink creative-tab-link" ng-hide="showDomainListPopup">
    <a class="btn btn-default"
       href
       data-toggle="tab"
       ng-click="trigerCreativeTag()"
       data-ng-bind="textConstants.WF_AD_SAVE_CONTINUE">
    </a>
</span>
