<div class="col-md-7 zeroPadding">
    <span class="col-md-12 zeroPadding adName" tooltip="{{adData.adName}}">{{adData.adName | textEllipsis: 55}}</span>
    <h2 class="col-md-12 zeroPadding marginBottom">Select Your Target Audience <a>or Choose a saved preset</a></h2>
    <a href="javascript:void(0);">Which target audience should I choose for my ad?</a>
</div>
<div class="col-md-12 zeroPadding">
    <a href="" class="addTargetBtn"><img ng-src="/assets/images/workflow/icon_add.svg" alt="" height="16" style="margin: -3px 3px 0 0;"/> Add Targeting</a>
</div>

<!--=== Targeting Type ===-->
<div class="col-md-12 zeroPadding">
    <div class="dropdown ddlSetTarget">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{geoTargetName ? geoTargetName : 'Select Target'}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <!--Abi to disable something in the DDL just add (class="disabled") to the li elements-->
            <li ng-repeat="geoTarget in geoTargetArr">
                <a href="#" ng-click="selectGeoTarget(geoTarget.name)">{{geoTarget.name}}</a>
            </li>
        </ul>
    </div>
</div>

<!--=== Targeting Form ===-->
<div class="col-md-12 zeroPadding targettingFormWrap" ng-if="geoTargetName">
    <div class="col-md-7 zeroPadding tabbable" style="padding-right: 10px !important;">
        <h2>{{geoTargetName}} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>(US only)</span></h2>
        <div class="tooltipWrap zipCodeTooltip">
            <span>Including zip / postal codes is going to limit your geographic targeting significantly.</span>
            <a href="" class="btn btn-default pull-right" role="button">Continue</a>
            <a href="" class="btn btn-link pull-right" role="button">Cancel</a>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#regioncity" data-toggle="tab">REGION & CITY</a></li>
          <li><a href="#dma" data-toggle="tab">DMA</a></li>
          <li><a href="#zip" data-toggle="tab">ZIP / POSTAL CODE</a></li>
        </ul>
      
        <div class="tab-content">
            <!---- start region and city Container ---------->

            <div id="regioncity" class="tab-pane active">
                <!--Search Input-->
                <div class="col-md-12 searchInput radioBtnToggle">
                    <div class="input-group">
                      <input type="text" class="form-control disabled" placeholder="Search for regions or cities">
                      <span class="input-group-btn">
                        <button class="btn btn-default disabled" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                    </div>
                    
                    <div class="col-md-12 zeroPadding">
                        
                        
                        <div class="col-md-4 zeroPadding switchWrap">
                            <span id="switchLabel1"><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include</span>
                            <span id="switchLabel2"><img ng-src="/assets/images/workflow/icon_exclude.svg" alt="" height="15"/> Exclude</span>
                            
                            <div class="btn-group btn-ani-toggle pull-right" ng-click="switchInclude()">
                                <button class="btn btn-xs btn-success active"></button>
                                <div class="togBtnBg"></div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-12 zeroPadding tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#region" data-toggle="tab">Region</a></li>
                        <li><a href="#city" data-toggle="tab">City</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!----- start region block ------------------->
                    <div id="region" class="tab-pane active">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-1"></th>
                                    <th class="col-md-5"></th>
                                    <th class="col-md-6"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="region in regionsList">
                                    <td><input name="regionchkbox" id="{{region.id}}" type="checkbox" value="" /></td>
                                    <td>{{region.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!----- end region block ------------------->
    
                    <!----- start city block ------------------->
                    <div id="city" class="tab-pane">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-5"></th>
                                <th class="col-md-6"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="city in cityList">
                                <td><input name="regionchkbox" id="{{city.id}}" type="checkbox" value="" /></td>
                                <td>{{city.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!----- end city block ------------------->
                </div>
            </div>
            <!---- end region and city block ---------->

            <!---- start DMA container -------->
            <div id="dma" class="tab-pane">
                <!--Search Input-->
                <div class="col-md-12 searchInput radioBtnToggle">
                    <div class="input-group">
                      <input type="text" class="form-control disabled" placeholder="Search for regions or cities">
                      <span class="input-group-btn">
                        <button class="btn btn-default disabled" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </span>
                    </div>
                    
                    <div class="col-md-12 zeroPadding">
                        
                        
                        <div class="col-md-4 zeroPadding switchWrap">
                            <span id="switchLabel1"><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include</span>
                            <span id="switchLabel2"><img ng-src="/assets/images/workflow/icon_exclude.svg" alt="" height="15"/> Exclude</span>
                            
                            <div class="btn-group btn-ani-toggle pull-right" ng-click="switchInclude()">
                                <button class="btn btn-xs btn-success active"></button>
                                <div class="togBtnBg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-5"></th>
                            <th class="col-md-6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dma in dmasList">
                            <td><input id="{{dma.id}}" type="checkbox" value="" /></td>
                            <td>{{dma.dmaName}}</td>
                            <td>{{dma.region}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!----- end DMA container ----------->

            <!---- start Zip Container ---------->
            <div id="zip" class="tab-pane">
                <textarea class="form-control" rows="3"></textarea>
                <div class="col-md-12 zeroPadding">
                    <a href="" class="btn btn-default pull-right" role="button">
                        <img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include
                    </a>
                </div>
            </div>
            <!---- end Zip Container ---------->


        </div>
    </div>
    <div class="col-md-5 zeroPadding selectedTables">
        <div class="col-md-12">
            <h2>Selected</h2>
        </div>
        <span class="emptyTableLabel">Not Set</span>
        <div class="col-md-12">
            <div class="selectedTablesWrap">
                <div class="tooltipWrap removeAllTooltip">
                    <span>Are you sure?</span>
                    <a class="btn">NO</a>
                    <a class="btn">YES</a>
                </div>
                <table class="table regionTable">
                    <thead>
                        <tr>
                            <th class="col-md-8">Regions & Cities</th>
                            <th class="col-md-4"><a>Remove All</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Colorado (State)</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> New York (State)</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Albany (City)</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h5>AND</h5>
            
            <div class="selectedTablesWrap">
                <table class="table zipTable">
                    <thead>
                        <tr>
                            <th class="col-md-8">Zip / Postal Codes</th>
                            <th class="col-md-4"><a>Remove All</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10001</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10012</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10038</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 70301-70546</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h5>AND</h5>
            
            <div class="selectedTablesWrap">
                <table class="table dmaTable">
                    <thead>
                        <tr>
                            <th class="col-md-8">DMAs</th>
                            <th class="col-md-4"><a>Remove All</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Albany, Georgia</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                        <tr>
                            <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Austin, Texas</td>
                            <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 zeroPadding">
        <a href="" class="btn btn-default pull-right" role="button">Save Geography</a>
        <a href="" class="btn btn-link pull-right" role="button">Cancel</a>
    </div>
</div>

<!--=== Selected Targeting ===-->
<div class="col-md-12 targettingSelected" style="display:none;">
    <div class="col-md-12 tsHeader">
        <h2>Geography <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>(US only)</span></h2>
        <a href="javascript:void(0);"><img ng-src="/assets/images/workflow/icon_trash.svg" alt="" height="15"/></a>
        <a href="javascript:void(0);"><img ng-src="/assets/images/workflow/icon_pencil.svg" alt="" height="15"/></a>
        <div class="col-md-6 zeroPadding" style="clear: left;">
            <span><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include</span>
        </div>
        <div class="col-md-6 zeroPadding">
            <span><img ng-src="/assets/images/workflow/icon_exclude.svg" alt="" height="15"/> Exclude</span>
        </div>
    </div>

    <div class="col-md-12 tsBody">
        <div class="col-md-6 zeroPadding">
            <span>Regions & Cities</span>
            <span>California (State)</span>
            <span>Colorado (State)</span>
            <span>Florida (State)</span>
            <a href="javascript:void(0);">+ 4 more</a>
        </div>
        <div class="col-md-6 zeroPadding">
            <span>Regions & Cities</span>
            <span>Aguaga, California (City)</span>
            <span>Alamo, California (City)</span>
            <span>Palm Springs, California (City)</span>
            <a href="javascript:void(0);">+ 3 more</a>
        </div>
    </div>    
</div>

<!--=== Next Step Panel ===-->
<a href="#creative" data-toggle="tab" class="nextWrapper leftNavLink">
    <img src="/assets/images/cdesk/arrow_down.png" alt=""/>
</a>
