<div class="col-md-7 zeroPadding">
    <h2 class="col-md-12 zeroPadding marginBottom">Set Targeting</h2>
    <a href="javascript:void(0);" class="helpLink" style="margin-top: 10px; display: inline-block;">Which target audience should I choose for my ad?</a>
</div>
<!-- <div class="col-md-12 zeroPadding">
    <a href="" class="addTargetBtn"><img ng-src="/assets/images/workflow/icon_add.svg" alt="" height="16" style="margin: -3px 3px 0 0;"/> Add Targeting</a>
</div> -->

<!--=== Targeting Type ===-->
<div class="col-md-12 zeroPadding dropdown-workflow">
    <div class="col-md-3 zeroPadding">
        <div class="dropdown ddlSetTarget msgPopupHolder">
            <div class="msgPopup" ng-show="!$parent.isPlatformSelected">
                <div class="msg">
                    To enable Targeting for this ad, you must first set a Buying Platform. Select one now?
                </div>
                <div class="btn-holder">
                    <a href="#buying" data-toggle="tab" class="pull-right common_primary_btn leftNavLink">Select Platform</a>
                </div>
            </div>
            <!-- <button class="btn btn-default dropdown-toggle" type="button" ng-disabled="!$parent.isPlatformSelected" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="pull-left">{{textConstants.WF_ADD_TARGETING_LABEL}}</span>
                <span class="icon-arrow-down"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="geoTarget in geoTargetArr" ng-class = "{'disabled' : !geoTarget.enable,  'active' : adData.geoTargetName === geoTarget.name}" ng-click="selectGeoTarget(geoTarget.name)">
                    <a>{{geoTarget.name}} <span ng-if="adData.geoTargetName === geoTarget.name"> (Added)</span></a>
                </li>
            </ul> -->
        </div>
    </div>
</div>
<div class="col-md-12 zeroPadding">
    <div class="col-md-6 cardSelectHolder" ng-class="{true: 'active'}[selectedTargeting['audience']]">
        <span ng-if="mode=='edit'" class="icon-inline-edit"></span>
        <div class="icon-audience"></div>
        <p>Audience Segments</p>
        <span>Reach the right audience by selecting focus segments</span>
        <span ng-if="selectedTargeting['audience']" class="btn btn-default active" ng-click="selectAudTarget()">Selected</span>
        <input ng-if="!selectedTargeting['audience']" type="button" name="platform" value="Select" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectAudTarget()">
    </div>

    <div class="col-md-6 cardSelectHolder" ng-class="{true: 'active'}[selectedTargeting['geography']]">
        <span ng-if="mode=='edit'"  class="icon-inline-edit"></span>
        <div class="icon-location"></div>
        <p>Geography</p>
        <span>Target your audience by location</span>
        <span ng-if="selectedTargeting['geography']" class="btn btn-default active" ng-click="mode == 'edit' ? updateGeoTargets() : selectGeoTarget()">Selected</span>
        <input ng-if="!selectedTargeting['geography']" type="button" name="platform" value="Select" ng-disabled="!$parent.isPlatformSelected" class="btn btn-default" ng-click="selectGeoTarget()">
    </div>

    <div class="col-md-6 cardSelectHolder">
        <span ng-if="mode=='edit'"  class="icon-inline-edit"></span>
        <div class="icon-activity"></div>
        <p>Daypart</p>
        <span>Set the Days of Week & Time of Days for Ad delivery</span>
        <!--<span ng-if="selectedPlatform[platform.name]" class="btn btn-default active" ng-click="selectPlatform($event, platform)">Selected</span>-->
        <input type="button" name="platform" value="Select" class="btn btn-default" disabled="disabled">
    </div>
</div>





<!--=== Audience Targeting ===-->
<div class="col-md-12 targetingSlide" id="audienceTargeting" ng-include="'/assets/html/workflow/partials/targetings/audience_targeting.html'" ng-controller="AudienceTargettingController"></div>

<div class="col-md-12 targetingSlide" id="geographyTargeting" ng-include="'/assets/html/workflow/partials/targetings/geography_targeting.html'"></div>




<!--=== Next Step Panel ===-->
<a href="#inventoryView" data-toggle="tab" class="nextWrapper leftNavLink">
    <img src="/assets/images/cdesk/arrow_down.png" alt=""/>
</a>

<div class="msgPopupHolder" id="confirmBox" ng-show="showConfirmBox">
    <div class="msgPopup">
        <div>
            <div class="msg pull-left" style="padding-top: 10px;">
                Are you sure?
            </div>
            <div class="clearfix btn-holder" style="margin: 0;">
                <div class="pull-right common_primary_btn" ng-click="removeSelectedList(boxType, boxsubType);">Yes</div>
                <div class="pull-right secondary_txt"  ng-click="hideConfirmBox()">No</div>
            </div>
        </div>
    </div>
</div>
