<div class="col-md-7 zeroPadding">
    <span class="col-md-12 zeroPadding adName" tooltip="{{adData.adName}}">{{adData.adName | textEllipsis: 55}}</span>
    <h2 class="col-md-12 zeroPadding marginBottom">Select Your Target Audience <a>or Choose a saved preset</a></h2>
    <a href="javascript:void(0);">Which target audience should I choose for my ad?</a>
</div>
<div class="col-md-12 zeroPadding">
    <a href="" class="addTargetBtn"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Targeting</a>
</div>

<!--=== Targeting Type ===-->
<div class="col-md-12 zeroPadding">
    <div class="dropdown ddlSetTarget">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Target
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Geography</a></li>
            <li><a href="#">Behavior</a></li>
            <li><a href="#">Demographics</a></li>
            <li><a href="#">Interests</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Context</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
</div>

<!--=== Targeting Form ===-->
<div class="col-md-12 zeroPadding targettingFormWrap">
    <div class="col-md-7 zeroPadding tabbable">
        <h2>Geography <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>(US only)</span></h2>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#region" data-toggle="tab">REGION & CITY</a></li>
          <li><a href="#dma" data-toggle="tab">DMA</a></li>
          <li><a href="#zip" data-toggle="tab">ZIP / POSTAL CODE</a></li>
        </ul>
      
        <!--Search Input-->
        <div class="col-md-12 searchInput radioBtnToggle">
            <div class="input-group">
              <input type="text" class="form-control disabled" placeholder="Search for regions or cities">
              <span class="input-group-btn">
                <button class="btn btn-default disabled" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            
            <div class="col-md-12 zeroPadding">
                <div class="btn-group miniToggle pull-left">
                    <label class="btn btn-default active"><span>Region</span>
                        <input type="radio" name="geoType" value="Region" class="btn_rad" hidden="hidden">
                    </label>
                    <label class="btn btn-default"><span>City</span>
                        <input type="radio" name="geoType" value="City" class="btn_rad" hidden="hidden">
                    </label>
                </div>
                
                <div class="col-md-4 zeroPadding switchWrap">
                    <span id="switchLabel1"><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include</span>
                    <span id="switchLabel2"><img ng-src="/assets/images/workflow/icon_exclude.svg" alt="" height="15"/> Exclude</span>
                    
                    <div class="btn-group btn-ani-toggle pull-right" ng-click="switchInclude()">
                        <button class="btn btn-xs btn-success active"></button>
                        <div class="togBtnBg"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 zeroPadding">
                <div class="col-md-1"></div>
                <span class="geoTypeResult">Region</span>
            </div>
        </div>
      
        <div class="tab-content">
            <div id="region" class="tab-pane active">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-5"></th>
                            <th class="col-md-6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>New York</td>
                            <td>Albany</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="dma" class="tab-pane">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-5"></th>
                            <th class="col-md-6"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="" /></td>
                            <td>Massachussetts</td>
                            <td>Boston</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="zip" class="tab-pane">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        
        <div class="col-md-12 zeroPadding">
            <a href="" class="btn btn-default pull-right" role="button">Save Geography</a>
            <a href="" class="btn btn-link pull-right" role="button">Cancel</a>
        </div>
    </div>
    <div class="col-md-5 zeroPadding selectedTables">
        <div class="col-md-12">
            <h2>Selected</h2>
        </div>
        <div class="col-md-12">
            <table class="table regionTable">
                <thead>
                    <tr>
                        <th class="col-md-8">Regions & Cities</th>
                        <th class="col-md-4"><a>Remove All</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Colorado (State)</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> New York (State)</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Albany (City)</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                </tbody>
            </table>
            
            <h5>AND</h5>
            
            <table class="table zipTable">
                <thead>
                    <tr>
                        <th class="col-md-8">Zip / Postal Codes</th>
                        <th class="col-md-4"><a>Remove All</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10001</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10012</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 10038</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> 70301-70546</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                </tbody>
            </table>
            
            <h5>AND</h5>
            
            <table class="table dmaTable">
                <thead>
                    <tr>
                        <th class="col-md-8">DMAs</th>
                        <th class="col-md-4"><a>Remove All</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Albany, Georgia</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                    <tr>
                        <td><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Austin, Texas</td>
                        <td><img ng-src="/assets/images/workflow/icon_small_remove.svg" alt="" height="9" class="removeItem"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--=== Selected Targeting ===-->
<div class="col-md-12 targettingSelected">
    <div class="col-md-12 tsHeader">
        <h2>Geography <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>(US only)</span></h2>
        <a href="javascript:void(0);"><img ng-src="/assets/images/workflow/icon_trash.svg" alt="" height="15"/></a>
        <a href="javascript:void(0);"><img ng-src="/assets/images/workflow/icon_pencil.svg" alt="" height="15"/></a>
        <div class="col-md-6 zeroPadding" style="clear: left;">
            <span><img ng-src="/assets/images/workflow/icon_target.svg" alt="" height="15"/> Include</span>
        </div>
        <div class="col-md-6 zeroPadding">
            <span><img ng-src="/assets/images/workflow/icon_exclude.svg" alt="" height="15"/> Exclude</span>
        </div>
    </div>

    <div class="col-md-12 tsBody">
        <div class="col-md-6 zeroPadding">
            <span>Regions & Cities</span>
            <span>California (State)</span>
            <span>Colorado (State)</span>
            <span>Florida (State)</span>
            <a href="javascript:void(0);">+ 4 more</a>
        </div>
        <div class="col-md-6 zeroPadding">
            <span>Regions & Cities</span>
            <span>Aguaga, California (City)</span>
            <span>Alamo, California (City)</span>
            <span>Palm Springs, California (City)</span>
            <a href="javascript:void(0);">+ 3 more</a>
        </div>
    </div>    
</div>

<!--=== Next Step Panel ===-->
<a href="#creative" data-toggle="tab" class="nextWrapper leftNavLink">
    <img src="/assets/images/cdesk/arrow_down.png" alt=""/>
</a>
