<div class="pure-g">
  <div class="pure-u-1-2">
    <h2 class="heading">
      <i class="follow-icon"></i> Followers
    </h2>
  </div>
  <div class="pure-u-1-2 text-right">
    <button id="btnUnfollowTask" class="rui-btn">
      <i class="logout-icon"></i> Unfollow
    </button>
  </div>
</div>
<ul class="followers-list"></ul>