%h1 new report

%table#reports_layout_table
  %tr
    %td.order-repoprt-leftcol
      #draggable.draggable
        .select-date-range
          %span#report_date{:name => "report_date", :class=>"report-date"}
            %i.icon-calendar.icon-large
            %span
            %b.caret

        .dimensions-accordion
          .dimensions-header
            .dime-label
              Add Dimesnsions
            %span.arrow-down
          .dimensions-body
            %ul.addFilter
              %li{:"data-name" => "advertiser", :"data-col" => "group_by"} Advertiser
              %li{:"data-name" => "order", :"data-col" => "group_by"} Order
              %li{:"data-name" => "ad", :"data-col" => "group_by"} Ad

        .dimensions-accordion
          .dimensions-header 
            .dime-label
              Add Columns
            %span.arrow-down
          .dimensions-body
            %ul.addColumns
              %li.hide{:"data-name" => "impressions", :"data-col" => "groupFixed"} Impressions
              %li.hide{:"data-name" => "clicks", :"data-col" => "groupFixed"} Clicks
              %li.hide{:"data-name" => "ctr", :"data-col" => "groupFixed"} CTR %
              %li{:"data-name" => "pccr", :"data-col" => "optional"} PCCR %
              %li{:"data-name" => "actions", :"data-col" => "optional"} Total Actions
              %li{:"data-name" => "gross_rev", :"data-col" => "optional"} Gross Rev
              %li{:"data-name" => "gross_ecpm", :"data-col" => "optional"} Gross eCPM

        / .dimensions-accordion
        /   .dimensions-header 
        /     .dime-label
        /       Standard Metrics 
        /     %span.arrow-down
        /   .dimensions-body
        /     %ul
        /       %li Standard Metrics 

        / .dimensions-accordion
        /   .dimensions-header 
        /     .dime-label
        /       Video Metrics
        /     %span.arrow-down
        /   .dimensions-body
        /     %ul
        /       %li Video Metrics

        / .dimensions-accordion
        /   .dimensions-header 
        /     .dime-label
        /       Engagement Metrics
        /     %span.arrow-down
        /   .dimensions-body
        /     %ul
        /       %li Engagement Metrics


        .dimensions-accordion
          .dimensions-header
            .dime-label
              Run/Schedule Report
            %span.arrow-down
          .dimensions-body
            .dimensions-inner
              %button.btn.btn-mini{:type => "button"} Go!
              %button.btn.btn-mini{:type => "button"} Stop
              %button.btn.btn-mini{:type => "button"} Schedule

        .dimensions-accordion
          .dimensions-header
            .dime-label
              Export/Share options
            %span.arrow-down
          .dimensions-body
            .dimensions-inner
              %button#export_button.btn.btn-mini.btn-primary{:type => "button"} Export CSV
              %button.btn.btn-mini.btn-primary{:type => "button"} Email
      
      #optional_btns        

    %td.order-repoprt-rightcol
      #selected_dimensions.selected-dimensions
        #group_by_btns        

      #droppable.droppable
        .droppable-inner
          %table{:id => "orders_report_table", :class => "table table-striped table-bordered"}
            %thead
            %tbody
          #simplePagination.pagination.pull-right
          .clearfix
          
        .placeholder
          Please drop here dimensions
        .ajax-loader
          = image_tag "loading.gif"

%script{:type => "text/template", :id=>"orders_reports_headers_temp"}
  :plain
    <tr>
      <% if(advertiser_name != null )  {%>
        <th class="l_width">Advertiser Name</th>
      <% } %>
      <% if(order_name != null )  {%>
        <th class="l_width">Order Name</th>
      <% } %>
      <% if(ad_name != null )  {%>
        <th class="l_width">Ad Name</th>
      <% } %>
      <% if(impressions != null )  {%>
      <th class="s_width">
        Imps
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="impressions"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(clicks != null )  {%>
      <th class="s_width">
        Clicks
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="clicks"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(ctr != null )  {%>
      <th class="s_width">
        CTR(%)
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="ctr"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(pccr != null )  {%>
        <th class="s_width">          
            PCCR(%)
            <a href="#" class="column-close-btn" data-col="optional" data-name="pccr"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(actions != null )  {%>
        <th class="s_width">
            Actions
            <a href="#" class="column-close-btn" data-col="optional" data-name="actions"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(gross_rev != null )  {%>
        <th class="s_width">
            Gross rev
            <a href="#" class="column-close-btn" data-col="optional" data-name="gross_rev"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <th class="s_width">
            Gross ecpm
            <a href="#" class="column-close-btn" data-col="optional" data-name="gross_ecpm"><i class="remove-filter-dimension icon-white icon-remove-circle"></i></a>
        </th>
      <% } %>
      
    </tr>

%script{:type => "text/template", :id=>"orders_reports_body_temp"}
  :plain           
    <tr>
      <% if(advertiser_name != null )  {%>
        <td class="l_width"><%= advertiser_name %></td>
      <% } %>
      <% if(order_name != null )  {%>
        <td class="l_width"><%= order_name %></td>
      <% } %>
      <% if(ad_name != null )  {%>
        <td class="l_width"><%= ad_name %></td>
      <% } %>
      <% if(impressions != null )  {%>
      <td class="s_width"><%= impressions %></td>
      <% } %>
      <% if(clicks != null )  {%>
      <td class="s_width"><%= clicks %></td>
      <% } %>
      <% if(ctr != null )  {%>
      <td class="s_width"><%= ctr %></td>
      <% } %>
      <% if(pccr != null )  {%>
        <td class="s_width"><%= pccr %></td>
      <% } %>
      <% if(actions != null )  {%>
        <td class="s_width"><%= actions %></td>
      <% } %>
      <% if(gross_rev != null )  {%>
        <td class="s_width"><%= gross_rev %></td>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <td class="s_width"><%= gross_ecpm %></td>
      <% } %>      
    </tr>


:javascript
  $(document).ready(function() {
    var reports = ReachUI.Reports.List();
    reports.init("#header", "Report list page");
    reports.renderText();

    var reportsDimnsions = ReachUI.Reports.Dimensions();
    reportsDimnsions.init();            

  });
