%h1 new report

%table#reportsLayoutTable
  %tr
    %td.orderRepLeftCol
      #draggable.draggable
        .selectDateRange
          %span#report_date{:name => "report_date", :class=>"reportDate"}
            %i.icon-calendar.icon-large
            %span
            %b.caret

        .dropdownAccordion.addFilterAccordion
          .dropdownAccHeader.addFilterHeader 
            .dimLabel
              Add Filter
            .dropDownArrow
              %span.arrow-down
          .dropdownAccBody
            %ul.addFilter

        .dropdownAccordion.selectedFilterAcc
          .dropdownAccHeader.selectedFilterAccHeader 
            .dimLabel
              Search or Select
            .dropDownArrow
              %span.arrow-down
          .dropdownAccBody
            .selectedFilterListDiv
              %ul.selectedFilterList
        
        .dropdownAccordion
          .dropdownAccHeader.addFilterHeader 
            .dimLabel
              Add Columns
            .dropDownArrow
              %span.arrow-down
          .dropdownAccBody
            %ul
              %li Dimensions
              %li Standard Metrics
              %li Video Metrics
              %li Engagement Metrics

        .dimensionsAccordion
          .dimensionsHeader
            .dimLabel
              Run/Schedule Report
            %span.arrow-down
          .dimensionsBody
            .dimensionsInner
              %button.btn.btn-mini{:type => "button"} Go!
              %button.btn.btn-mini{:type => "button"} Stop
              %button.btn.btn-mini{:type => "button"} Schedule

        .dimensionsAccordion
          .dimensionsHeader
            .dimLabel
              Export/Share options
            %span.arrow-down
          .dimensionsBody
            .dimensionsInner
              %button.btn.btn-mini.btn-primary{:type => "button"} Excel
              %button.btn.btn-mini.btn-primary{:type => "button"} Email
      %br
      %br      
      #selectedDimensions.selectedDimensions
        .filterContentHeader
          %h2 Filters
        .filterContentBody
          %ul.filters_list

    %td.orderRepRightCol    
      #droppable.droppable
        .droppableInner
          %table{:id => "ordersReportTable", :class => "table table-striped table-bordered"}
            %thead
            %tbody
          .placeholder
            Please drop here dimensions
          .ajax_loader
            = image_tag "loading.gif"


%script{:type => "text/template", :id=>"orders_reports_headers_temp"}
  :plain
    <tr>
      <th class="l_width">Advertiser Name</th>
      <th class="s_width">Imps</th>
      <th class="s_width">Clicks</th>
    </tr>

%script{:type => "text/template", :id=>"orders_reports_body_temp"}
  :plain        
    <tr>
      <td class="l_width"><%= advertiser_name %></td>
      <td class="s_width"><%= impressions %></td>
      <td class="s_width"><%= clicks %></td>
    </tr>


:javascript
  $(document).ready(function() {
    var reports = ReachUI.Reports.List();
    reports.init("#header", "Report list page");
    reports.renderText();

    var reportsDimnsions = ReachUI.Reports.Dimensions();
    reportsDimnsions.init();            

  });
