%h1 new report

%table#reports_layout_table
  %tr
    %td.order-repoprt-leftcol
      #draggable.draggable
        .select-date-range
          %span#report_date{:name => "report_date", :class=>"report-date"}
            %i.icon-calendar.icon-large
            %span
            %b.caret

        .dimensions-accordion
          .dimensions-header
            .dime-label
              Add Dimesnsions
            %span.arrow-down
          .dimensions-body
            %ul.add-filter
              %li{:"data-name" => "advertiser", :"data-col" => "groupBy"} Advertiser
              %li{:"data-name" => "order", :"data-col" => "groupBy"} Order
              %li{:"data-name" => "ad", :"data-col" => "groupBy"} Ad
            %ul.add-columns
              %li.hide{:"data-name" => "impressions", :"data-col" => "groupFixed"} Impressions
              %li.hide{:"data-name" => "clicks", :"data-col" => "groupFixed"} Clicks
              %li.hide{:"data-name" => "ctr", :"data-col" => "groupFixed"} CTR %
              %li.show{:"data-name" => "pccr", :"data-col" => "optional"} PCCR %
              %li.show{:"data-name" => "actions", :"data-col" => "optional"} Total Actions
              %li.show{:"data-name" => "gross_rev", :"data-col" => "optional"} Gross Rev
              %li.show{:"data-name" => "gross_ecpm", :"data-col" => "optional"} Gross eCPM

        .dimensions-accordion
          .dimensions-header 
            .dime-label
              Add Standard Metrics 
            %span.arrow-down
          .dimensions-body
            %ul
              %li Standard Metrics 

        .dimensions-accordion
          .dimensions-header 
            .dime-label
              Add Video Metrics
            %span.arrow-down
          .dimensions-body
            %ul
              %li Video Metrics

        .dimensions-accordion
          .dimensions-header 
            .dime-label
              Add Engagement Metrics
            %span.arrow-down
          .dimensions-body
            %ul
              %li Engagement Metrics


        .dimensions-accordion
          .dimensions-header
            .dime-label
              Run/Schedule Report
            %span.arrow-down
          .dimensions-body
            .dimensions-inner
              %button.btn.btn-mini{:type => "button"} Go!
              %button.btn.btn-mini{:type => "button"} Stop
              %button.btn.btn-mini{:type => "button"} Schedule

        .dimensions-accordion
          .dimensions-header
            .dime-label
              Export/Share options
            %span.arrow-down
          .dimensions-body
            .dimensions-inner
              %a.export-button.btn.btn-mini.btn-primary{:"data-format" => "xls"} Excel
              %a.export-button.btn.btn-mini.btn-primary{:"data-format" => "csv"} CSV
              %a.btn.btn-mini.btn-primary{:type => "button"} Email
      
      #optional_btns        

    %td.order-repoprt-rightcol
      #selected_dimensions.selected-dimensions
        #group_by_btns        

      #droppable.droppable
        .droppable-inner
          %table{:id => "orders_report_table", :class => "table table-striped table-bordered"}
            %thead
            %tbody
          #simplePagination.pagination.pull-right
          .clearfix
          
        .placeholder
          Please drop here dimensions
        .ajax-loader
          = image_tag "loading.gif"

%script{:type => "text/template", :id=>"orders_reports_headers_temp"}
  :plain
    / <% $("#orders_report_table th["+sortParam+"]").addClass(sortDirection); %>
    <tr>
      <% if( advertiser_name != null )  {%>
        <th class="l_width" data-name="advertiser_name">
          Advertiser Name
          <% if( sortDirection == null || sortParam != "advertiser_name")  {%>
            <i class="table-filter-icon">&uarr;&darr;</i> 
          <% } else if(sortParam == "advertiser_name") { %>  
          <% if( sortDirection )  {%>
            <i class="table-filter-icon">&darr;</i> 
          <% } else { %>
            <i class="table-filter-icon">&uarr;</i> 
          <% } } %>         
        </th>
      <% } %>
      <% if( order_name != null )  {%>
        <th class="l_width" data-name="order_name">
          Order Name
          <% if( sortDirection == null || sortParam != "order_name")  {%>
            <i class="table-filter-icon">&uarr;&darr;</i> 
          <% } else if(sortParam == "order_name") { %>  
          <% if( sortDirection )  {%>
            <i class="table-filter-icon">&darr;</i> 
          <% } else { %>
            <i class="table-filter-icon">&uarr;</i> 
          <% } } %>
        </th>
      <% } %>
      <% if(ad_name != null )  {%>
        <th class="l_width" data-name="ad_name">
          Ad Name
          <% if( sortDirection == null || sortParam != "ad_name")  {%>
            <i class="table-filter-icon">&uarr;&darr;</i> 
          <% } else if(sortParam == "ad_name") { %>  
          <% if( sortDirection )  {%>
            <i class="table-filter-icon">&darr;</i> 
          <% } else { %>
            <i class="table-filter-icon">&uarr;</i> 
          <% } } %>
        </th>
      <% } %>
      <% if(impressions != null )  {%>
      <th class="s_width" data-name="impressions">
        Imps
        <% if( sortDirection == null || sortParam != "impressions")  {%>
          <i class="table-filter-icon">&uarr;&darr;</i> 
        <% } else if(sortParam == "impressions") { %>  
        <% if( sortDirection )  {%>
          <i class="table-filter-icon">&darr;</i> 
        <% } else { %>
          <i class="table-filter-icon">&uarr;</i> 
        <% } } %>
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="impressions"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(clicks != null )  {%>
      <th class="s_width" data-name="clicks">
        Clicks
        <% if( sortDirection == null || sortParam != "clicks")  {%>
          <i class="table-filter-icon">&uarr;&darr;</i> 
        <% } else if(sortParam == "clicks") { %>  
        <% if( sortDirection )  {%>
          <i class="table-filter-icon">&darr;</i> 
        <% } else { %>
          <i class="table-filter-icon">&uarr;</i> 
        <% } } %>
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="clicks"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(ctr != null )  {%>
      <th class="s_width" data-name="ctr">
        CTR(%)
        <% if( sortDirection == null || sortParam != "ctr")  {%>
          <i class="table-filter-icon">&uarr;&darr;</i> 
        <% } else if(sortParam == "ctr") { %>  
        <% if( sortDirection )  {%>
          <i class="table-filter-icon">&darr;</i> 
        <% } else { %>
          <i class="table-filter-icon">&uarr;</i> 
        <% } } %>
        <a href="#" class="column-close-btn" data-col="groupFixed" data-name="ctr"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
      </th>
      <% } %>
      <% if(pccr != null )  {%>
        <th class="s_width" data-name="pccr">           
            PCCR(%)
            <% if( sortDirection == null || sortParam != "pccr")  {%>
              <i class="table-filter-icon">&uarr;&darr;</i> 
            <% } else if(sortParam == "pccr") { %>  
            <% if( sortDirection )  {%>
              <i class="table-filter-icon">&darr;</i> 
            <% } else { %>
              <i class="table-filter-icon">&uarr;</i> 
            <% } } %>
            <a href="#" class="column-close-btn" data-col="optional" data-name="pccr"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(actions != null )  {%>
        <th class="s_width" data-name="actions">
            Actions
            <% if( sortDirection == null || sortParam != "actions")  {%>
              <i class="table-filter-icon">&uarr;&darr;</i> 
            <% } else if(sortParam == "actions") { %>  
            <% if( sortDirection )  {%>
              <i class="table-filter-icon">&darr;</i> 
            <% } else { %>
              <i class="table-filter-icon">&uarr;</i> 
            <% } } %>
            <a href="#" class="column-close-btn" data-col="optional" data-name="actions"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(gross_rev != null )  {%>
        <th class="s_width" data-name="gross_rev">
            Gross rev
            <% if( sortDirection == null || sortParam != "gross_rev")  {%>
              <i class="table-filter-icon">&uarr;&darr;</i> 
            <% } else if(sortParam == "gross_rev") { %>  
            <% if( sortDirection )  {%>
              <i class="table-filter-icon">&darr;</i> 
            <% } else { %>
              <i class="table-filter-icon">&uarr;</i> 
            <% } } %>
            <a href="#" class="column-close-btn" data-col="optional" data-name="gross_rev"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <th class="s_width" data-name="gross_ecpm">
            Gross ecpm
            <% if( sortDirection == null || sortParam != "gross_ecpm")  {%>
              <i class="table-filter-icon">&uarr;&darr;</i> 
            <% } else if(sortParam == "gross_ecpm") { %>  
            <% if( sortDirection )  {%>
              <i class="table-filter-icon">&darr;</i> 
            <% } else { %>
              <i class="table-filter-icon">&uarr;</i> 
            <% } } %>
            <a href="#" class="column-close-btn" data-col="optional" data-name="gross_ecpm"><i class="remove-filter-dimension icon-white icon-remove"></i></a>
        </th>
      <% } %>
      
    </tr>

%script{:type => "text/template", :id=>"orders_reports_body_temp"}
  :plain           
    <tr>
      <% if(advertiser_name != null )  {%>
        <td class="l_width"><%= advertiser_name %></td>
      <% } %>
      <% if(order_name != null )  {%>
        <td class="l_width"><%= order_name %></td>
      <% } %>
      <% if(ad_name != null )  {%>
        <td class="l_width"><%= ad_name %></td>
      <% } %>
      <% if(impressions != null )  {%>
      <td class="s_width"><%= impressions %></td>
      <% } %>
      <% if(clicks != null )  {%>
      <td class="s_width"><%= clicks %></td>
      <% } %>
      <% if(ctr != null )  {%>
      <td class="s_width"><%= ctr %></td>
      <% } %>
      <% if(pccr != null )  {%>
        <td class="s_width"><%= pccr %></td>
      <% } %>
      <% if(actions != null )  {%>
        <td class="s_width"><%= actions %></td>
      <% } %>
      <% if(gross_rev != null )  {%>
        <td class="s_width"><%= gross_rev %></td>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <td class="s_width"><%= gross_ecpm %></td>
      <% } %>      
    </tr>


:javascript
  $(document).ready(function() {
    var reports = ReachUI.Reports.List();
    reports.init("#header", "Report list page");
    reports.renderText();

    var reportsDimnsions = ReachUI.Reports.Dimensions();
    reportsDimnsions.init();            

  });
