%h1 new report

%table#reportsLayoutTable
  %tr
    %td.orderRepLeftCol
      #draggable.draggable
        .selectDateRange
          %span#report_date{:name => "report_date", :class=>"reportDate"}
            %i.icon-calendar.icon-large
            %span
            %b.caret

        .dimensionsAccordion
          .dimensionsHeader
            .dimLabel
              Add Dimesnsions
            %span.arrow-down
          .dimensionsBody
            %ul.addFilter
              %li{:"data-name" => "advertiser", :"data-col" => "group_by"} Advertiser
              %li{:"data-name" => "order", :"data-col" => "group_by"} Order
              %li{:"data-name" => "ad", :"data-col" => "group_by"} Ad

        .dimensionsAccordion
          .dimensionsHeader 
            .dimLabel
              Add Columns
            %span.arrow-down
          .dimensionsBody
            %ul.addColumns
              %li{:"data-name" => "pccr", :"data-col" => "optional"} 
                PCCR %                             
              %li{:"data-name" => "actions", :"data-col" => "optional"} Total Actions
              %li{:"data-name" => "gross_rev", :"data-col" => "optional"} Gross Rev
              %li{:"data-name" => "gross_ecpm", :"data-col" => "optional"} Gross eCPM

        / .dimensionsAccordion
        /   .dimensionsHeader 
        /     .dimLabel
        /       Standard Metrics 
        /     %span.arrow-down
        /   .dimensionsBody
        /     %ul
        /       %li Standard Metrics 

        / .dimensionsAccordion
        /   .dimensionsHeader 
        /     .dimLabel
        /       Video Metrics
        /     %span.arrow-down
        /   .dimensionsBody
        /     %ul
        /       %li Video Metrics

        / .dimensionsAccordion
        /   .dimensionsHeader 
        /     .dimLabel
        /       Engagement Metrics
        /     %span.arrow-down
        /   .dimensionsBody
        /     %ul
        /       %li Engagement Metrics


        .dimensionsAccordion
          .dimensionsHeader
            .dimLabel
              Run/Schedule Report
            %span.arrow-down
          .dimensionsBody
            .dimensionsInner
              %button.btn.btn-mini{:type => "button"} Go!
              %button.btn.btn-mini{:type => "button"} Stop
              %button.btn.btn-mini{:type => "button"} Schedule

        .dimensionsAccordion
          .dimensionsHeader
            .dimLabel
              Export/Share options
            %span.arrow-down
          .dimensionsBody
            .dimensionsInner
              %button#export_button.btn.btn-mini.btn-primary{:type => "button"} Export CSV
              %button.btn.btn-mini.btn-primary{:type => "button"} Email
      
      #optionalBtns        

    %td.orderRepRightCol
      #selectedDimensions.selectedDimensions
        #groupByBtns
        

      #droppable.droppable
        .droppableInner
          %table{:id => "ordersReportTable", :class => "table table-striped table-bordered"}
            %thead
            %tbody
          .placeholder
            Please drop here dimensions
          .ajax_loader
            = image_tag "loading.gif"

        #simplePagination.pagination.fr


%script{:type => "text/template", :id=>"orders_reports_headers_temp"}
  :plain
    <tr>
      <% if(advertiser_name != null )  {%>
        <th class="l_width">Advertiser Name</th>
      <% } %>
      <% if(order_name != null )  {%>
        <th class="l_width">Order Name</th>
      <% } %>
      <% if(ad_name != null )  {%>
        <th class="l_width">Ad Name</th>
      <% } %>
      <th class="s_width">Imps</th>
      <th class="s_width">Clicks</th>
      <th class="s_width">CTR(%)</th>
      <% if(pccr != null )  {%>
        <th class="s_width">
          <div class="header-closebtn-wrapper">
            PCCR(%)
            <a href="#" class="colCloseBtn" data-col="optional" data-name="pccr"><i class="remove_filter_dimension icon-white icon-remove-circle"></i></a>
          </div>
        </th>
      <% } %>
      <% if(actions != null )  {%>
        <th class="s_width">
          <div class="header-closebtn-wrapper">
            Actions
            <a href="#" class="colCloseBtn" data-col="optional" data-name="actions"><i class="remove_filter_dimension icon-white icon-remove-circle"></i></a>
          </div>
        </th>
      <% } %>
      <% if(gross_rev != null )  {%>
        <th class="s_width">
          <div class="header-closebtn-wrapper">
            Gross rev
            <a href="#" class="colCloseBtn" data-col="optional" data-name="gross_rev"><i class="remove_filter_dimension icon-white icon-remove-circle"></i></a>
          </div>
        </th>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <th class="s_width">
          <div class="header-closebtn-wrapper">
            Gross ecpm
            <a href="#" class="colCloseBtn" data-col="optional" data-name="gross_ecpm"><i class="remove_filter_dimension icon-white icon-remove-circle"></i></a>
          </div>
        </th>
      <% } %>
      
    </tr>

%script{:type => "text/template", :id=>"orders_reports_body_temp"}
  :plain           
    <tr>
      <% if(advertiser_name != null )  {%>
        <td class="l_width"><%= advertiser_name %></td>
      <% } %>
      <% if(order_name != null )  {%>
        <td class="l_width"><%= order_name %></td>
      <% } %>
      <% if(ad_name != null )  {%>
        <td class="l_width"><%= ad_name %></td>
      <% } %>
      <td class="s_width"><%= impressions %></td>
      <td class="s_width"><%= clicks %></td>
      <td class="s_width"><%= ctr %></td>
      <% if(pccr != null )  {%>
        <td class="s_width"><%= pccr %></td>
      <% } %>
      <% if(actions != null )  {%>
        <td class="s_width"><%= actions %></td>
      <% } %>
      <% if(gross_rev != null )  {%>
        <td class="s_width"><%= gross_rev %></td>
      <% } %>
      <% if(gross_ecpm != null )  {%>
        <td class="s_width"><%= gross_ecpm %></td>
      <% } %>      
    </tr>


:javascript
  $(document).ready(function() {
    var reports = ReachUI.Reports.List();
    reports.init("#header", "Report list page");
    reports.renderText();

    var reportsDimnsions = ReachUI.Reports.Dimensions();
    reportsDimnsions.init();            

  });
