<admin-header></admin-header>
<div class="popup-holder accounts-popup">
    <div class="modal-header">
        <span class="btn btn-primary pull-right" ng-click="saveBrands()">Save</span>
        <span class="btn btn-link pull-right" data-dismiss="modal" ng-click="close()">Cancel</span>

        <h2 class="modal-title" id="myModalLabel">{{(mode === 'create'?'Add':'Edit')}} Brand</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-12 greyTxt">Brand Name:</label>
            <select class="form-control" name="selectedBrandId" ng-model="selectedBrandId">
                <option selected disabled data-ng-bind="'Select Brand'"></option>
                <option value="{{brand.id}}" ng-repeat="brand in brandsData"
                        ng-selected="{{brand.id == selectedBrandId}}"
                        data-ng-bind="brand.name"></option>
            </select>
        </div>
    </div>
</div>