<div class="miniTabLinks sub" style="margin-bottom: 30px; width: 100%;">
    <a class="btn btn-link subBasics active" data-ng-click="basicForm()">Basic</a>
    <a class="btn btn-link subPixels" data-ng-click="showPixels()">Pixels</a>
</div>

<div class="popup-holder accounts-popup">
    <!--Header-->
    <div class="modal-header">
        <span class="btn btn-primary pull-right" ng-click="saveAdvertisers()" data-ng-bind="isEditMode ? 'Update' : 'Save'">Save</span>
        <span class="btn btn-link pull-right" data-dismiss="modal" ng-click="close()">Cancel</span>
        
        <h2 class="modal-title" id="myModalLabel">{{(mode === 'create'?'Add':'Edit')}} Advertiser</h2>
    </div>
    
    <!--Body-->
    <div class="modal-body">
        <!--Basic Form-->
        <div class="col-md-12 zeroPadding basicForm">
            <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                <label class="col-sm-12 greyTxt">Advertiser:</label>
                <select class="form-control" name="selectedAdvertiserId" ng-model="selectedAdvertiserId" ng-disabled="isEditMode">
                    <option selected disabled data-ng-bind="'Select Advertiser'"></option>
                    <option value="{{advertiser.id}}" ng-repeat="advertiser in advertisersData" ng-selected="{{advertiser.id == selectedAdvertiserId}}" data-ng-bind="advertiser.name"></option>
                </select>
            </div>
            
            <div class="form-group col-md-4" style="padding: 0 15px;">
                <label class="col-sm-12 greyTxt">Impression Look Back:</label>
                <input type="text" class="form-control" ng-model="advertiserData.lookbackImpressions" ng-keyup="(advertiserData.lookbackImpressions>30)?advertiserData.lookbackImpressions=30:''">
            </div>
            
            <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                <label class="col-sm-12 greyTxt">Click:</label>
                <input type="text" class="form-control" ng-model="advertiserData.lookbackClicks" ng-keyup="(advertiserData.lookbackClicks>30)?advertiserData.lookbackClicks=30:''">
            </div>
            
            <div class="adChoices">
                <div class="col-md-12 zeroPadding"><h1 class="pull-left">Ad Choices</h1></div>
                <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                    <label class="col-sm-12 greyTxt">Enable Ad Choices:</label>
                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-1"></label>
                </div>
                
                <div class="form-group col-md-4" style="padding: 0 15px;">
                    <label class="col-sm-12 greyTxt">Ad Choices Code Block:</label>
                    <input type="text" class="form-control" maxlength="50">
                </div>
            </div>
            
            <div class="billingMethods">
                <div class="col-md-12 zeroPadding"><h1 class="pull-left">Billing Methods</h1></div>
                <!--Row 1-->
                <div class="col-md-12 zeroPadding">
                    <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                        <label class="col-sm-12 greyTxt">Methods:</label>
                        
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Billed For</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a ng-click="show_respective_method('techFees')">Tech Fees</a>
                                    </li>
                                    <li class="available">
                                        <a ng-click="show_respective_method('serviceFees')">Service Fees</a>
                                    </li>
                                    <li class="available">
                                        <a ng-click="show_respective_method('cogsPlus')">COGS+</a>
                                    </li>
                                    <li class="available">
                                        <a ng-click="show_respective_method('arbitrage')">Arbitrage</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!--Tech Fees-->
                    <div class="col-md-8 zeroPadding methodFees techFees" style="display: none;">
                        <div class="form-group col-md-4" style="padding: 0 15px;">
                            <label class="col-sm-12 greyTxt">Rate Type:</label>
                            <input type="text" class="form-control disabled" maxlength="80" value="CPM">
                        </div>
                        
                        <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                    </div>
                    
                    <!--Service Fees-->
                    <div class="col-md-8 zeroPadding methodFees serviceFees" style="display: none;">
                        <div class="form-group col-md-4" style="padding: 0 15px;">
                            <label class="col-sm-12 greyTxt">Rate Type:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                        
                        <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                    </div>
                    
                    <!--COGS+ Fees-->
                    <div class="col-md-8 zeroPadding methodFees cogsPlus" style="display: none;">
                        <div class="form-group col-md-4" style="padding: 0 15px;">
                            <label class="col-sm-12 greyTxt">Rate Type:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                        
                        <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                    </div>
                    
                    <!--Arbitrage-->
                    <div class="col-md-8 zeroPadding disabled methodFees arbitrage" style="display: none;">
                        <div class="form-group col-md-4" style="padding: 0 15px;">
                            <label class="col-sm-12 greyTxt">Rate Type:</label>
                            <input type="text" class="form-control disabled" maxlength="80">
                        </div>
                        
                        <div class="form-group col-md-4 disabled" style="padding: 0 0 0 15px;">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control disabled" maxlength="80">
                        </div>
                    </div>
                </div>
                
                <!--Row 2-->
                <!--<div class="col-md-12 zeroPadding">-->
                <!--    <a class="btn btn-link pull-left" style="padding: 15px 0;">-->
                <!--        <span class="icon-plus" style="color: #0978C9; float: left; font-size: 12px; height: 12px; width: 12px; margin-right: 5px;"></span>-->
                <!--        <span>Add Billing Method</span>-->
                <!--    </a>-->
                <!--</div>-->
            </div>
            
            <!--IAB Category-->
            <div class="col-md-12 IABForm">
                <div class="col-md-12 zeroPadding"><h1 class="pull-left">IAB Categories</h1></div>
                <!--Row 1-->
                <div class="col-md-12 zeroPadding">
                    <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                        <label class="col-sm-12 greyTxt">Category:</label>
                        
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Arts & Entertainment</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a>Arts & Entertainment</a>
                                    </li>
                                    <li class="available">
                                        <a>Automotive</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-4" style="padding: 0 15px;">
                        <label class="col-sm-12 greyTxt">Sub Category:</label>
                        
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">Books & Literature</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a>Books & Literature</a>
                                    </li>
                                    <li class="available">
                                        <a>Celebrity Fan/Gossip</a>
                                    </li>
                                    <li class="available">
                                        <a>Fine Art</a>
                                    </li>
                                    <li class="available">
                                        <a>Humor</a>
                                    </li>
                                    <li class="available">
                                        <a>Movies</a>
                                    </li>
                                    <li class="available">
                                        <a>Music</a>
                                    </li>
                                    <li class="available">
                                        <a>Television</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Pixel Form-->
        <div id="pixelsCnt" ng-if="advertiserData.pixels.length">
            <div class="col-md-12 zeroPadding">
                <h1 class="pull-left zeroMargin">Pixels</h1>
                
                <div class="btn-group create pull-right" role="group" aria-label="...">
                    <a role="button" class="btn btn-default"><span class="icon-download"></span><span>Download Pixels</span></a>
                    <a role="button" class="btn btn-default" data-ng-click="addPixel()"><span class="icon-plus"></span><span>Add Pixels</span></a>
                </div>
            </div>
            
            <!--Create Pixel Form-->
            <div class="pixelCreate">
                <div data-ng-repeat="pixel in advertiserData.pixels" class="pixelLayer">
                    <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                        <label class="col-sm-12 greyTxt">Pixel Name:</label>
                        <input type="text" class="form-control" maxlength="50" ng-model="advertiserData.pixels[$index].name">
                    </div>
                    <div class="form-group col-md-4" style="padding: 0 15px;">
                        <label class="col-sm-12 greyTxt">Pixel Type:</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown" style="margin: 0;">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" ng-bind="advertiserData.pixels[$index].pixelTypeName ? advertiserData.pixels[$index].pixelTypeName : 'Select Pixel Type'"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="unitcostType" ng-model="adData.unitType"  id="unitcostType" data-toggle="dropdown">
                                    <li><a ng-click="advertiserData.pixels[$index].pixelType='PAGE_VIEW';
                                                     advertiserData.pixels[$index].pixelTypeName='Action - Page View'" ng-bind="'Action - Page View'"></a></li>
                                    <li><a ng-click="advertiserData.pixels[$index].pixelTypeName='Audience Creation Pixel';
                                                     advertiserData.pixels[$index].pixelType='AUDIENCE_CREATION'" ng-bind="'Audience Creation Pixel'"></a></li>
                                    <li><a ng-click="advertiserData.pixels[$index].pixelTypeName='Retargeting Pixel';
                                                     advertiserData.pixels[$index].pixelType='RETARGETING'" ng-bind="'Retargeting Pixel'"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                        <label class="col-sm-12 greyTxt" style="display: block;">Pixel Expiration Date:</label>
                        <div class="col-md-12 input-daterange input-group date pull-left">
                            <div class="col-md-12 dateWrapper ">
                                <input type="text" id="pixelExpDate_{{$index}}" class="input-sm form-control timeframe"
                                    ng-model="advertiserData.pixels[$index].expiryDate" required>
                                <i class="icon-calendar glyphicon pull-right" style="position: absolute; z-index: 10; top: 10px; right: 10px;"></i>
                                <label ng-if="!advertiserData.pixels[$index].expiryDate" style="display:block"
                                    class="errorLabel" ng-bind="textConstants.SELECT_DATE_LABEL"></label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-12" style="padding: 0;">
                        <label class="col-sm-12 greyTxt">Description</label>
                        <input type="textarea" class="form-control" ng-model="advertiserData.pixels[$index].description">
                    </div>
                    
                    <a class="pull-right btn btn-default" style="margin-bottom: 15px;">Save Pixel</a>
                    
                    <a class="pull-right btn btn-link" data-dismiss="modal" ng-if="!isEditMode"
                       ng-click="removePixel($index)" aria-label="Close">Cancel</a>
                </div>
            </div>
            
            <!--Pixel List Table-->
            <div class="pixelTable">
                <div class="table-responsive user-list animated" id="table_responsive">
                    <div class="vistoTable" id="visto_table">
                        <div class="thead thin">
                            <div class="tr">
                                <div class="col-md-4 th">Pixel Name</div>
                                <div class="col-md-4 th">Pixel Type</div>
                                <div class="col-md-3 th">Pixel Expiration Date</div>
                                <div class="col-md-1 th text-center">Edit</div>
                            </div>
                        </div>
                        
                        <div class="tbody thin">
                            <!--Table Sample-->
                            <div class="tr">
                                <div class="td col-md-4">
                                    <a>Pixel Name</a>
                                </div>
                                
                                <div class="td col-md-4">
                                    <span>Pixel Type</span>
                                </div>
                                
                                <div class="td col-md-3">
                                    <span>Pixel Exp. Date</span>
                                </div>
                                
                                <div class="td col-md-1 text-center" style="padding-left: 0;">
                                    <a class="icon-inline-edit" style="color: #0978C9;"></a>
                                </div>
                            </div>
                            
                            <div class="tr">
                                <div class="td col-md-4">
                                    <a>Pixel Name</a>
                                </div>
                                
                                <div class="td col-md-4">
                                    <span>Pixel Type</span>
                                </div>
                                
                                <div class="td col-md-3">
                                    <span>Pixel Exp. Date</span>
                                </div>
                                
                                <div class="td col-md-1 text-center" style="padding-left: 0;">
                                    <a class="icon-inline-edit" style="color: #0978C9;"></a>
                                </div>
                            </div>
                            
                            <div class="tr">
                                <div class="td col-md-4">
                                    <a>Pixel Name</a>
                                </div>
                                
                                <div class="td col-md-4">
                                    <span>Pixel Type</span>
                                </div>
                                
                                <div class="td col-md-3">
                                    <span>Pixel Exp. Date</span>
                                </div>
                                
                                <div class="td col-md-1 text-center" style="padding-left: 0;">
                                    <a class="icon-inline-edit" style="color: #0978C9;"></a>
                                </div>
                            </div>
                            <div class="common-load-more" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <ul ng-if="allAdvertiser.length>0" class="dropdown-menu" role="menu" id="advertiserList" ng-if="mode == 'create'" ng-style="dropdownCss">
            <li ng-repeat="advertiser in allAdvertiser | filter:advertiserName" data-ng-click="selectAdvertiser(advertiser)">
                <a>
                    <span class="tick"></span>
                    <span class="menuItemText ng-binding" >{{advertiser.name}}</span>
                </a>
            </li>
        </ul>
        
        <input type="hidden"  ng-model="selectedAdvertiserId" >
    </div><!-- end of modal_body -->
</div> <!-- end of popup-holder -->
