<admin-header class="col-md-12 zeroPadding" style="margin: -30px 0 0 0;"></admin-header>
<div class="popup-holder accounts-popup">
    <div class="modal-header col-md-12 zeroPadding">
        <h2 class="modal-title pull-left zeroPadding" style="margin: 30px 0;" id="myModalLabel" data-ng-bind="(mode === 'create' ? 'Add' : 'Edit') + ' Brand'"></h2>
        <div class="pull-right" style="margin: 30px 0;">
            <span class="btn btn-primary pull-right" data-ng-click="saveBrands()">Save</span>
            <span class="btn btn-link pull-right" data-dismiss="modal" data-ng-click="close()">Cancel</span>
        </div>
    </div>
    <div class="modal-body col-md-12 zeroPadding">
        <!--div class="form-group col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt">Brand Name:</label>
            <select class="form-control" name="selectedBrandId" data-ng-model="selectedBrandId" id="selectBrandId">
                <option selected disabled data-ng-bind="'Select Brand'"></option>
                <option value="{{brand.id}}"
                        data-ng-repeat="brand in brandsData"
                        data-ng-selected="{{brand.id == selectedBrandId}}"
                        data-ng-bind="brand.name">
                </option>
            </select>
        </div-->
        <!-- -->
        <div class="form-group col-md-4 zeroPadding">
            <label class="col-sm-12 greyTxt">Brand Name:</label>
            <div class="brand_name_selected"
                 id="sub_account_name_selected"
                 data-ng-click="showSubAccountDropDown()"
                 title="{{brandName}}"
                 data-ng-bind="(brandName ? brandName : '')">
            </div>
            <span class="icon-arrow-solid-down"></span>
        </div>
        <div class="clearfix">
            <div class="brandsDropdownSearch dropdown-workflow" data-ng-class="brandsData.length > 0 ? '' : 'loadedDropdownData'">
                <ul class="dropdown-menu"
                    data-ng-click="fetchAllBrands(client.id, '', 10, brandsPageNo)"
                    role="menu" id="subAccountDropDownList" style="display: block !important;">
                    <div id="subAccountDropdownDiv">
                        <input class="dropdown-toggle"
                               id="subAccountDropdown"
                               data-ng-keyup="disableShowAll();"
                               data-ng-model="brandName"
                               placeHolder="{{(brandName ? brandName : 'Select Brand')}}">
                        <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
                    </div>
                    <div  class="subAccountList_ul">
                        <li data-ng-repeat="brand in brandsData"
                            data-ng-class="{active: brand.id === brandidTODO}"
                            title="{{brand.name}}">
                            <a data-ng-click="selectSubAccount(subAccount, 'clicked')">
                                <span class="tick"></span>
                                <span class="menuItemText" data-ng-bind="brand.name"></span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!-- -->
        <!--advertiser-drop-down></advertiser-drop-down-->
    </div>
</div>

<script>
    $('#selectBrandId').scroll(function(e) {
        console.log('select box scrolled, e = ', e);
    });

    $('#subAccountDropDownList').click(function (e) {
        console.log('list clicked!!!! e = ', e);
    });
    $('#subAccountDropDownList').scroll(function () {
        console.log('scrolling...');
    });
</script>