<div class="popup-holder accounts-popup" style="margin-top: -30px;">
    <div id="campaignCreate">
        <div class="firstWrapper">
            <div class="masterContainer">
                <!-- Header Starts -->
                <div class="clearfix left_column_nav campaign-create-left-nav" style="border-width: 0;">
                    <div class="campaign_name_holder">
                        <h1 class="campaign_name">Account Setup</h1>
                        <ul class="stepCompLabel nav nav-tabs" id="mediaTab">
                            <li class="active eachStepCompLabel">
                                <a class="leftNavLink selected" data-target="#aboutaccount" data-toggle="tab">1. About this Account</a>
                            </li>
                            <li class="clearfix eachStepCompLabel">
                                <a class="leftNavLink selected" data-target="#billingtab" data-toggle="tab">2. Billing</a>
                            </li>
                            <li class="clearfix eachStepCompLabel">
                                <a class="leftNavLink selected" data-target="#advtab" data-toggle="tab">3. Advertiser Defaults</a>
                            </li>

                            <li class="clearfix eachStepCompLabel">
                                <a class="leftNavLink selected disabled" data-target="#pixeltab"  data-toggle="tab">4. Pixels</a>
                            </li>
                             <li class="clearfix eachStepCompLabel disabled" disabled="disabled">
                                <a class="leftNavLink selected disabled" data-target="#assoctab" disabled="disabled" data-toggle="tab">5. Associations</a>
                            </li>
                            <li class="clearfix eachStepCompLabel disabled" disabled="disabled">
                                <a class="leftNavLink selected disabled" data-target="#contacttab" disabled="disabled" data-toggle="tab">6. Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Form Settings Start -->
                <div class="settingWrap">
                    <div class="modal-header">
                        <span class="common-loading-btn pull-right ng-hide" ng-show="saveAccounts"></span>
                        <span class="btn btn-primary pull-right" ng-hide="saveAccounts" data-ng-click="saveClients()">Save</span>
                        <span class="btn btn-link pull-right" data-dismiss="modal" data-ng-click="close()">Cancel</span>
                        <h2 class="modal-title" id="myModalLabel" data-ng-bind="showUserModeText()"></h2>
                    </div>
                    <div class="tab-content">
                        <!--About this Account-->
                        <div class="isCollapsed tab-pane fade in active" id="aboutaccount">
                            <div ng-include="'/views/workflow/partials/billing/aboutaccount.html'"></div>
                        </div>

                        <!--Billing-->
                        <div class="tab-pane fade" id="billingtab">
                            <div ng-include="'/views/workflow/partials/billing/billingtab.html'"></div>
                        </div>

                        <!--Advertiser Defaults-->
                        <div class="tab-pane fade" id="advtab">
                            <div ng-include="'/views/workflow/partials/billing/advtab.html'"></div>
                        </div>

                        <div class="tab-pane fade" id="pixeltab">
                            <div ng-include="'/views/workflow/partials/billing/pixeltab.html'"></div>
                        </div>

                       <!--
                        <div class="tab-pane fade" id="assoctab">
                            <div ng-include="'/views/workflow/partials/billing/assoctab.html'"></div>
                        </div>

                        <div class="tab-pane fade" id="contacttab">
                            <div ng-include="'/views/workflow/partials/billing/contacttab.html'"></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
