<div class="miniTabLinks sub" style="margin-bottom: 30px; width: 100%;">
    <a class="btn btn-link subBasics active" data-ng-click="basicForm()">Basic</a>
    <a class="btn btn-link subPixels" data-ng-click="showPixelTab()">Pixels</a>
</div>

<div class="popup-holder accounts-popup">
    <!--Header-->
    <div class="modal-header">
        <span class="btn btn-primary pull-right"
              data-ng-click="saveAdvertisers()"
              data-ng-bind="isEditMode ? 'Update' : 'Create'">
            Save
        </span>
        <span class="btn btn-link pull-right" data-dismiss="modal" data-ng-click="close()">Cancel</span>
        <h2 class="modal-title" id="myModalLabel" data-ng-bind="showUserModeText()"></h2>
        <div data-ng-bind="'Client ( ' + clientObj.name + ' )'"></div>
    </div>

    <!--Body-->
    <div class="modal-body">
        <!--Basic Form-->
        <div class="col-md-12 zeroPadding basicForm">
            <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                <label class="col-sm-12 greyTxt">Advertiser:</label>
                <div class="col-md-12 zeroPadding dropdown-workflow">
                    <div class="dropdown">
                        <button id="advertiser"
                                class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true">
                            <span class="text"
                                  data-ng-bind="selectedAdvertiser ? selectedAdvertiser : 'Select Advertiser'">
                            </span>
                            <span class="icon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu" data-toggle="dropdown">
                            <li class="available"
                                value="{{advertiser.id}}"
                                data-ng-repeat="advertiser in advertisersData"
                                data-ng-click="selectAdvertiser(advertiser)">
                                <a data-ng-bind="advertiser.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4" style="padding: 0 15px;">
                <label class="col-sm-12 greyTxt">Impression Look Back:</label>
                <input type="text"
                       class="form-control"
                       data-ng-model="advertiserData.lookbackImpressions"
                       placeholder="Add value"
                       data-ng-keyup="(advertiserData.lookbackImpressions > 30) ? advertiserData.lookbackImpressions = 30 : ''">
            </div>
            <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                <label class="col-sm-12 greyTxt">Click Look Back:</label>
                <input type="text"
                       class="form-control"
                       data-ng-model="advertiserData.lookbackClicks"
                       placeholder="Add value"
                       data-ng-keyup="(advertiserData.lookbackClicks > 30) ? advertiserData.lookbackClicks = 30 : ''">
            </div>
            <div class="adChoices">
                <div class="col-md-12 zeroPadding"><h1 class="pull-left">Ad Choices</h1></div>
                <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                    <label class="col-sm-12 greyTxt">Enable Ad Choices:</label>
                    <input id="advEnableAdChoices"
                           class="cmn-toggle cmn-toggle-round"
                           type="checkbox"
                           data-ng-model="advertiserAddOrEditData.enableAdChoice">
                    <label for="advEnableAdChoices"></label>
                </div>
                <div class="form-group col-md-4" style="padding: 0 15px;" data-ng-show="advertiserAddOrEditData.enableAdChoice">
                    <label class="col-sm-12 greyTxt">Ad Choices Code Block:</label>
                    <textarea data-ng-model="advertiserAddOrEditData.adChoiceCode"></textarea>
                </div>
            </div>

            <!--IAB Category-->
            <div class="col-md-12 IABForm">
                <div class="col-md-12 zeroPadding">
                    <h1 class="pull-left">IAB Categories</h1>
                </div>
                <div class="col-md-12 zeroPadding">
                    <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                        <label class="col-sm-12 greyTxt">Category:</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="advertiserAddOrEditData.selectedIABCategory"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available"
                                        data-ng-repeat="type in advertiserAddOrEditData.IABCategoryList">
                                        <a data-ng-bind="type.name" data-ng-click="selectIABCategory(type)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding: 0 15px;">
                        <label class="col-sm-12 greyTxt">Sub Category:</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="advertiserAddOrEditData.selectedIABSubCategory"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available" data-ng-repeat="type in advertiserAddOrEditData.IABSubCategoryList">
                                        <a data-ng-bind="type.name" data-ng-click="selectIABSubCategory(type)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Billing & Invoices-->
            <div class="billingMethods" data-ng-show="clientObj.isLeafNode">
                <div class="col-md-12 zeroPadding"><h1 class="pull-left">Billing & Invoices</h1></div>
                <div class="col-md-12 zeroPadding">
                    <!--Billed-->
                    <div class="form-group col-md-4" style="padding: 0 15px 0 0;">
                        <label class="col-sm-12 greyTxt">Billed For:</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="selectedBillType">Arbitrage</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a data-ng-click="show_respective_method('Tech Fees')">Tech Fees</a>
                                    </li>
                                    <li class="available">
                                        <a data-ng-click="show_respective_method('Service Fees')">Service Fees</a>
                                    </li>
                                    <li class="available">
                                        <a data-ng-click="show_respective_method('Cost')">Cost</a>
                                    </li>
                                    <li class="available">
                                        <a data-ng-click="show_respective_method('None')">None</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Tech Fees-->
                    <div class="col-md-8 zeroPadding methodFees techFees"
                         data-ng-show="selectedBillType=='Tech Fees'"
                         style="padding-left: 15px;">
                        <label class="col-sm-12 greyTxt">Rate Type:</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle form-group col-md-4 disabled"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true"
                                    disabled>
                                <span class="text">CPM</span>
                            </button>
                        </div>
                        <div class="form-group col-md-4" style="margin-top: -36px;">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80">
                        </div>
                        <div class="form-group col-md-4" style="padding: 0 15px 0 0; margin-top: -36px;">
                            <label class="col-sm-12 greyTxt">Invoice On Demand:</label>
                            <input id="invoiceDemand" class="cmn-toggle cmn-toggle-round" type="checkbox">
                            <label for="invoiceDemand"></label>
                        </div>
                    </div>
                    <!--Service Fee-->
                    <div class="col-md-8 zeroPadding methodFees techFees"
                         data-ng-show="selectedBillType=='Service Fees'"
                         style="padding-left: 15px;">
                        <label class="col-sm-12 greyTxt">Rate Type:</label>
                        <div class="dropdown-workflow col-md-4 zeroPadding">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle form-group"
                                        style="padding: 7px;"
                                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" data-ng-bind="selectedRateType"></span>
                                    <span class="icon-arrow-down" style="margin-left:172px"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a data-ng-click="selectedRateType='COGS'">COGS</a>
                                    </li>
                                    <li class="available">
                                        <a data-ng-click="selectedRateType='CPM'">CPM</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="margin-top: -36px">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80" placeholder="Add some value">
                        </div>
                        <div class="form-group col-md-4" style="padding: 0 15px 0 0; margin-top: -36px;">
                            <label class="col-sm-12 greyTxt">Invoice On Demand:</label>
                            <input id="invoiceDemand2" class="cmn-toggle cmn-toggle-round" type="checkbox">
                            <label for="invoiceDemand2"></label>
                        </div>
                    </div>

                    <!--Cost-->
                    <div class="col-md-8 zeroPadding methodFees techFees"
                         data-ng-show="selectedBillType=='Cost'"
                         style="padding-left: 15px;">
                        <label class="col-sm-12 greyTxt">Rate Type:</label>
                        <div class="dropdown-workflow col-md-4 zeroPadding">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle form-group col-md-4"
                                        style="padding: 7px;"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="selectedRateType"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" data-toggle="dropdown">
                                    <li class="available">
                                        <a data-ng-click="selectedRateType='COGS'">COGS</a>
                                    </li>
                                    <li class="available">
                                        <a data-ng-click="selectedRateType='Arbitrage'">Arbitrage</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="margin-top: -36px" data-ng-show="selectedRateType === 'COGS'">
                            <label class="col-sm-12 greyTxt">Value:</label>
                            <input type="text" class="form-control" maxlength="80" placeholder="Add some value">
                        </div>
                        <div class="form-group col-md-4" style="padding: 0 15px 0 0; margin: -36px 0 0 15px;">
                            <label class="col-sm-12 greyTxt">Invoice On Demand:</label>
                            <input id="invoiceDemand3" class="cmn-toggle cmn-toggle-round" type="checkbox">
                            <label for="invoiceDemand3"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Pixel Form-->
        <div id="pixelsCnt" data-ng-if="activeEditAdvertiserTab === 'pixel'">
            <div class="col-md-12 zeroPadding" style="margin-top: 15px;">
                <h1 class="pull-left zeroMargin">Pixels</h1>
                <div class="btn-group create pull-right" role="group" aria-label="...">
                    <!--Search Input-->
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default pull-right" style="display: none">
                            <span class="icon-filter" style="margin: -1px 0 0;"></span>
                        </button>
                        <div class="searchInput pull-right">
                            <a class="btn btn-default searchInputBtn" data-ng-click="searchShowInput($event)">
                                <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                            </a>
                            <a class="btn btn-default searchInputBtnInline" data-ng-click="campaignSearchFunc()">
                                <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                            </a>
                            <div class="input-group searchInputForm" >
                                <input type="text"
                                       class="form-control"
                                       name="usersSearch"
                                       placeholder="Search Pixels...">
                                <div class="btn btn-default searchClearInputBtn" data-ng-click="searchHideInput()">
                                    <span class="icon-clear zeroMargin" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a role="button"
                       class="btn btn-default pull-right"
                       data-ng-click="downLoadPixel();"
                       data-ng-disabled="advertiserData.disableDownLoadPixel"
                       style="border-right: 0;">
                        <span class="icon-download"></span>
                        <span>Download Selected Pixels</span>
                    </a>
                    <a role="button"
                       class="btn btn-default pull-right"
                       data-ng-click="addPixel();">
                        <span class="icon-plus"></span>
                        <span>Add Pixels</span>
                    </a>
                    <span class="pull-right"
                          data-ng-bind="advertiserData.pixels.length + ' Pixels'"
                          style="font-size: 12px; margin: 9px 10px 0 0;">
                    </span>
                </div>
            </div>
            <div class="form-group col-md-12" style="padding: 0 0 0 0" >
                <label class="col-sm-12 greyTxt">Pixel Code</label>
                <input type="textarea" class="form-control"
                       ng-model="pixelFormData.pixelCode"
                       data-ng-disabled="pixelIndex!=null && advertiserData.pixels[pixelIndex].isFeedData == true"
                       data-ng-trim="true">
            </div>

            <div class="form-group col-md-2 clearLeft" style="padding: 0 15px 0 0;">
                <label class="col-sm-12 greyTxt">Impression Look Back:</label>
                <input type="text" class="form-control" placeholder="Add value" value="14" ng-model="pixelFormData.impLookbackWindow"
                        data-ng-keyup="pixelFormData.impLookbackWindow>30?pixelFormData.impLookbackWindow=30:(pixelFormData.impLookbackWindow<0)?pixelFormData.impLookbackWindow=14:''">
            </div>

            <div class="form-group col-md-2" style="padding: 0 15px;">
                <label class="col-sm-12 greyTxt">Click Look Back:</label>
                <input type="text" class="form-control" placeholder="Add value" value="14" ng-model="pixelFormData.clickLookbackWindow"
                        data-ng-keyup="pixelFormData.clickLookbackWindow>30?pixelFormData.clickLookbackWindow=30:(pixelFormData.clickLookbackWindow<0)?pixelFormData.clickLookbackWindow=14:''">
            </div>

            <div class="form-group col-md-8" style="padding: 0 0 0 15px;">
                <label class="col-sm-12 greyTxt">Description</label>
                <input type="textarea" class="form-control" ng-model="pixelFormData.description">
            </div>

            <a class="pull-right btn btn-default" style="margin-bottom: 15px;" data-ng-click="savePixel()"
                    data-ng-bind="pixelIndex!=null ? 'Update Pixel' : 'Save Pixel'">Save Pixel</a>

            <a class="pull-right btn btn-link" ng-click="cancelPixel();" aria-label="Close">Cancel</a>

            <a class="pull-right btn btn-default" data-dismiss="modal" ng-if="pixelIndex!=null && advertiserData.pixels[pixelIndex].isFeedData != true"
               ng-click="removePixel();" aria-label="Close">Remove Pixel</a>
        </div>
    </div>
    <!--Pixel List Table-->
    <div class="pixelTable">
        <div class="table-responsive user-list animated" id="table_responsive">
            <div class="vistoTable" id="visto_table">
                <div class="thead thin">
                    <div class="tr">
                        <div class="col-md-3 th">Pixel Name</div>
                        <div class="col-md-3 th">Pixel Type</div>
                        <div class="col-md-2 th">Impression Look</div>
                        <div class="col-md-1 th">Click Look</div>
                        <div class="col-md-2 th">Pixel Expiration Date</div>
                        <div class="col-md-1 th text-center">
                            <span class="col-md-12 zeroPadding text-center" style="cursor: pointer;" ng-click="selectAllPixels();" tooltip="Select to Download">Select All</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding: 0 15px;">
                        <label class="col-sm-12 greyTxt">Pixel Type:</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown" style="margin: 0;">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="pixelFormData.pixelTypeName"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu"
                                    aria-labelledby="unitcostType"
                                    data-ng-model="adData.unitType"
                                    id="unitcostType"
                                    data-toggle="dropdown">
                                    <li>
                                        <a data-ng-click="pixelFormData.pixelType = 'PAGE_VIEW';
                                                          pixelFormData.pixelTypeName = 'Action - Page View'"
                                           data-ng-bind="'Action - Page View'">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-ng-click="pixelFormData.pixelTypeName = 'Audience Creation Pixel';
                                                          pixelFormData.pixelType = 'AUDIENCE_CREATION'"
                                           data-ng-bind="'Audience Creation Pixel'">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-ng-click="pixelFormData.pixelTypeName = 'Retargeting Pixel';
                                                          pixelFormData.pixelType = 'RETARGETING'"
                                           data-ng-bind="'Retargeting Pixel'">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding: 0 0 0 15px;">
                        <label class="col-sm-12 greyTxt" style="display: block;">Pixel Expiration Date:</label>
                        <div class="col-md-12 input-daterange input-group date pull-left">
                            <div class="col-md-12 dateWrapper ">
                                <input type="text" id="pixelExpDate"
                                       class="input-sm form-control timeframe"
                                       custom-date-picker="{
                                           format: 'yyyy/mm/dd',
                                           orientation: 'auto',
                                           autoclose: true,
                                           todayHighlight: true,
                                           forceParse: false
                                       }"
                                       data-ng-model="pixelFormData.expiryDate"
                                       required>
                                <i class="icon-calendar glyphicon pull-right"
                                   style="position: absolute; z-index: 10; top: 10px; right: 10px;">
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 clearLeft" style="padding: 0 15px 0;">
                        <label class="col-sm-12 greyTxt">Impression Look Back:</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Add value"
                               value="14"
                               data-ng-model="pixelFormData.impLookbackWindow"
                               data-ng-keyup="pixelFormData.impLookbackWindow > 30 ? pixelFormData.impLookbackWindow = 30 :
                                             (pixelFormData.impLookbackWindow < 0) ? pixelFormData.impLookbackWindow = 14 : ''">
                    </div>
                    <div class="form-group col-md-2" style="padding: 0 15px;">
                        <label class="col-sm-12 greyTxt">Click Look Back:</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Add value"
                               value="14"
                               data-ng-model="pixelFormData.clickLookbackWindow"
                               data-ng-keyup="pixelFormData.clickLookbackWindow > 30 ? pixelFormData.clickLookbackWindow = 30 :
                                             (pixelFormData.clickLookbackWindow < 0) ? pixelFormData.clickLookbackWindow = 14 : ''">
                    </div>
                    <div class="form-group col-md-8" style="padding: 0 0 0 15px;">
                        <label class="col-sm-12 greyTxt">Description</label>
                        <!-- TODO: Should there be a <textarea> element below??? -->
                        <input type="textarea" class="form-control" data-ng-model="pixelFormData.description">
                    </div>
                    <a class="pull-right btn btn-default"
                       style="margin-bottom: 15px;"
                       data-ng-click="savePixel()"
                       data-ng-bind="pixelIndex !== null ? 'Update Pixel' : 'Save Pixel'">
                        Save Pixel
                    </a>
                    <a class="pull-right btn btn-link" data-ng-click="cancelPixel();" aria-label="Close">Cancel</a>
                    <a class="pull-right btn btn-default"
                       data-dismiss="modal"
                       data-ng-if="pixelIndex !== null && advertiserData.pixels[pixelIndex].isFeedData !== true"
                       data-ng-click="removePixel();"
                       aria-label="Close">
                        Remove Pixel
                    </a>
                </div>
            </div>

            <!--Pixel List Table-->
            <div class="pixelTable">
                <div class="table-responsive user-list animated" id="table_responsive">
                    <div class="vistoTable" id="visto_table">
                        <div class="thead thin">
                            <div class="tr">
                                <div class="col-md-3 th">Pixel Name</div>
                                <div class="col-md-3 th">Pixel Type</div>
                                <div class="col-md-2 th">Impression Look</div>
                                <div class="col-md-1 th">Click Look</div>
                                <div class="col-md-2 th">Pixel Expiration Date</div>
                                <div class="col-md-1 th text-center">
                                    <span class="col-md-12 zeroPadding text-center"
                                          style="cursor: pointer;"
                                          data-ng-click="selectAllPixels();">
                                        Select All
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tbody thin">
                            <!--Table Sample-->
                            <div class="tr" data-ng-repeat="pixel in advertiserData.pixels">
                                <div class="td col-md-3">
                                    <a data-ng-bind="pixel.name" data-ng-click="editPixel($index, pixel);"></a>
                                </div>
                                <div class="td col-md-3">
                                    <span data-ng-bind="pixel.pixelType"></span>
                                </div>
                                <div class="td col-md-2">
                                    <span data-ng-bind="pixel.impLook">14</span>
                                </div>
                                <div class="td col-md-1">
                                    <span data-ng-bind="pixel.clickLook">14</span>
                                </div>
                                <div class="td col-md-2">
                                    <span data-ng-bind="pixel.expiryDate"></span>
                                </div>
                                <div class="td col-md-1 text-center" style="padding-left: 0;">
                                    <input type="checkbox" class="pixelSelect" data-ng-model="isSelected"
                                           data-ng-click="selectPixel(pixel.id, isSelected)" style="float: none;"/>
                                </div>
                            </div>
                            <div class="common-load-more" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO: There are 2 ng-if's in the <ul> below, which one is the correct one??? -->
        <ul data-ng-if="allAdvertiser.length > 0"
            class="dropdown-menu"
            role="menu"
            id="advertiserList"
            data-ng-if="mode === 'create'"
            data-ng-style="dropdownCss">
            <li data-ng-repeat="advertiser in allAdvertiser | filter:advertiserName"
                data-ng-click="selectAdvertiser(advertiser)">
                <a>
                    <span class="tick"></span>
                    <span class="menuItemText ng-binding" data-ng-bind="advertiser.name"></span>
                </a>
            </li>
        </ul>

        <input type="hidden"  data-ng-model="selectedAdvertiserId">
    </div>
    <!-- end of modal_body -->
</div>
<!-- end of popup-holder -->
