<div id="client_{{clientId}}_sub"
     class="subClient col-md-12"
     style="padding: 15px 0px 0px 40px;"
     data-ng-if="clientsDetails[clientId] !== undefined && clientsDetails[clientId].subclients.length">
    <div class="clearfix each-account-details"
         data-ng-repeat="client in clientsDetails[clientId].subclients"
         id="client_{{client.id}}">
        <div class="pull-left particular-account-box"
             data-ng-class="[(clientsDetails[client.id].advertisers ===  0) ? 'no-data-open' : '',
                            (clientsDetails[client.id].advertisers.length) > 0 ? 'data-loaded' : '']">
            <div class="clearfix">
                <span class="pull-left icon-arrow-solid-down"
                      data-ng-if="client.isLeafNode || client.hasChildren"
                      data-ng-click="getSubClientList($event, client);">
                </span>
                <div class="pull-left account-name" data-ng-click="AddOrEditAccountModal('edit', client)">
                    <span class="pull-left" data-ng-bind="client.name"></span>
                    <span class="pull-left icon-usd"
                          tooltip="{{feesTooltip(client)}}"
                          tooltip-placement="right"
                          style="margin: 1px 0 0 5px;">
                    </span>
                    <span class="pull-left"
                          style="text-transform: capitalize;"
                          data-ng-bind="client.clientType | lowercase">
                    </span>
                </div>
                <div class="pull-right btn btn-default"
                     data-ng-if="!client.isLeafNode"
                     data-ng-click="AddOrEditAccountModal('create', client.id)"
                     style="margin-left: 15px;">
                    Create Sub Account
                </div>
                <span class="pull-right btn btn-default"
                      style="padding: 9px 15px 8px 15px;"
                      data-ng-if="!client.hasChildren"
                      data-ng-click="AddOrEditAdvertiserModal({}, 'create', client)">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Add Advertiser
                </span>
            </div>
            <div class="clearfix advertiser-list"
                 data-ng-if="clientsDetails[client.id].advertisers.length >  0"
                 id="client_{{client.id}}_adv">
                <div class="clearfix each-advertiser"
                     data-ng-repeat="adv in clientsDetails[client.id].advertisers"
                     data-ng-if="clientsDetails[client.id].advertisers.length >  0">
                    <div class="clearfix particular-account-box"
                         data-ng-class="[(clientsDetails[client.id].brands[adv.id].length ===  0) ? 'no-data-open' : '',
                                        (clientsDetails[client.id].brands[adv.id].length) > 0 ? 'brand-data-loaded' : '']">
                        <div class="clearfix advertiser-name">
                            <span class="pull-left adv-name"
                                  data-ng-click="AddOrEditAdvertiserModal(adv, 'edit', client)">
                                <span class="label_heading">Advertiser: </span>
                                {{adv.name}}
                            </span>
                            <span class="pull-left adding-section"
                                  data-ng-click="AddOrEditBrandModal(adv, 'create', client,brand)">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                Add Brand
                            </span>
                            <span class="pull-left adding-section"
                                  data-ng-click="show_advertisers_resp_brands($event, client.id, adv.id);">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                View Brands
                            </span>
                        </div>
                        <div class="advertiser-resp-brands-list"
                             style="margin-left:40px;"
                             id="client_{{client.id}}_adv_{{adv.id}}">
                            <div class="clearfix each-brand-name"
                                 data-ng-repeat="brand in clientsDetails[client.id].brands[adv.id]"
                                 data-ng-if="clientsDetails[client.id].brands[adv.id].length > 0">
                                <span class="pull-left brand-name">
                                    <span class="label_heading">Brand: </span>
                                    {{brand.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-if="clientsDetails[clientId].advertisersLoader" class="common-load-more"></div>
            </div>
        </div>
        <ng-include data-ng-init="clientId=client.id"
                    src="'/views/workflow/partials/admin_accounts_subclientList.html'"
                    data-ng-if="clientsDetails[client.id] !== undefined && clientsDetails[client.id].subclients.length"
                    class="ng-scope">
        </ng-include>
    </div>
</div>
