<!--clientId &ndash;&gt; {{$parent.id}}<br>-->
<!--subClientListData  &ndash;&gt; {{subClientListData}}-->
<div id="client_{{clientId}}_sub" style="margin: 20px 0px 20px 40px;" ng-if="clientsDetails[clientId] != undefined && clientsDetails[clientId].subclients.length">
    <div class="clearfix each-account-details" ng-repeat="client in clientsDetails[clientId].subclients" id="client_{{client.id}}">
        <div class="pull-left particular-account-box" ng-class="[(clientsDetails[client.id].advertisers ==  0)?'no-data-open':'',(clientsDetails[client.id].advertisers.length) > 0?'data-loaded':'']">
            <div class="clearfix " >
                <span class="pull-left account-name" ng-click="getSubClientList($event,client);">{{client.name}}</span>
                <span class="pull-left edit"  ng-click="AddOrEditAccountModal('edit',client)"></span>
                <span class="pull-right adding-section"  ng-if="client.isLeafNode" ng-click="AddOrEditAdvertiserModal({},'create',client)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Advertiser</span>
                <div class="pull-right common_primary_btn" ng-if="!client.isLeafNode" ng-click="AddOrEditAccountModal('create',client.id)">Create Account</div>
            </div>

            <div class="clearfix advertiser-list" ng-if="clientsDetails[client.id].advertisers.length >  0" id="client_{{client.id}}_adv">
                <div class="clearfix each-advertiser" ng-repeat="adv in clientsDetails[client.id].advertisers" ng-if="clientsDetails[client.id].advertisers.length >  0">
                    <div class="clearfix particular-account-box" ng-class="[(clientsDetails[client.id]['brands'][adv.id].length ==  0)?'no-data-open':'',(clientsDetails[client.id]['brands'][adv.id].length) > 0?'brand-data-loaded':'']">
                        <div class="clearfix advertiser-name" >
                            <span class="pull-left adv-name" ng-click="show_advertisers_resp_brands($event,client.id,adv.id);"  ><span class="label_heading">Advertiser: </span>{{adv.name}}</span>
                            <span class="pull-left edit" ng-click="AddOrEditAdvertiserModal(adv,'edit',client)"></span>
                            <span class="pull-left adding-section" ng-click="AddOrEditBrandModal(adv,'create',client,brand)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Brand</span>
                        </div>
                        <!-- <div class="advertiser-resp-brands-list"> -->
                        <!--<div class="clearfix each-brand-name"  ng-repeat="brand in adv.brand" ng-if="adv.brand.length > 0">-->
                        <!--<span class="pull-left brand-name"><span class="label_heading">Brand: </span>{{brand.name}}</span>-->
                        <!--<span class="pull-left edit" ng-click="AddOrEditBrandModal(adv,'edit',client,brand)"></span>-->
                        <!--<span class="pull-left adding-section" ng-click="AddOrEditBrandModal(adv,'create',client,brand)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Brand</span>-->
                        <!--</div>-->

                        <div class="advertiser-resp-brands-list" style="margin-left:40px;" id="client_{{client.id}}_adv_{{adv.id}}">
                            <div class="clearfix each-brand-name"  ng-repeat="brand in clientsDetails[client.id]['brands'][adv.id]" ng-if="clientsDetails[client.id]['brands'][adv.id].length > 0">
                                <span class="pull-left brand-name"><span class="label_heading">Brand: </span>{{brand.name}}</span>
                                <span class="pull-left edit" ng-click="AddOrEditBrandModal(adv,'edit',client,brand)"></span>
                            </div>

                            <!--<div ng-if="adv.brand == undefined" class="common-load-more"></div>-->
                            <!--<div class="clearfix each-brand-name" ng-if="adv.brand.length == 0">-->
                            <!--<span class="pull-left brand-name">No Brand Available</span>-->
                            <!--</div>-->

                            <!--<span class="pull-left adding-section" ng-click="AddOrEditBrandModal(adv,'create',client,brand)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Brand</span>-->
                        </div>
                    </div>

                    <!-- </div> -->

                </div>
                <div ng-if="clientsDetails[clientId].advertisersLoader" class="common-load-more"></div>
                <!--<div class="each-advertiser" ng-if="client.advertisement.length ==  0">-->
                    <!--<div class="clearfix advertiser-name" >-->
                        <!--<span class="pull-left" >No Advertisers Available</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <ng-include ng-init="clientId=client.id" src="'/views/workflow/partials/admin_accounts_subclientList.html'"
                    ng-if="clientsDetails[client.id] != undefined && clientsDetails[client.id].subclients.length"
                    class="ng-scope"></ng-include>
    </div>

</div>
</div>
