<div class="clearfix popup-holder clone-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                ng-click="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel" ng-bind="textConstants.MEDIAPLANCLONE"></h2>
    </div>
    <div class="col-md-12  modal-body">
        <div class="col-md-12 data_row zeroPadding">
            <label ng-bind="textConstants.NEWMEDIAPLANNAME"></label><br>
            <div class="inputLoader cloneMediaPlanNameInput"  >
                <input  type="text" ng-model="cloneMediaPlanName" remove-special-character="remove-special-character" ng-keyup="isMediaPlanNameExist($event)"  placeHolder="Enter New Media Plan Name" autocomplete="off">
                <div class="common-loading-area" ng-show="checkUniqueNameNotFound && cloneMediaPlanName"></div>
            </div>
            <span class="greyTxt customErrorLabel" ng-if="cloneMediaPlanExists" data-ng-bind="cloneMediaPlanName + ' '+ textConstants.CLONEMEDIAPLANNAMEERR"></span>
            <div class="col-md-12 zeroPadding duplicateOptionChkbox">

                <label>
                    <input type="checkbox"  ng-checked ='true' onclick="return false;" onkeydown="return false;" ng-model="cloneLineItems">
                    <span data-ng-bind="textConstants.DUPLICATELINEITEMS"></span>
                </label><br>

                <label>
                    <input type="checkbox" ng-model="cloneAdGroups" ng-click="showDuplicateAdGroupSection($event);">
                    <span data-ng-bind="textConstants.DUPLICATEADGROUPS"></span>
                </label>

            </div>
            <div class="col-md-12 zeroPadding duplicateAdGroupSection">
                <div class="col-md-12 zeroPadding">
                    <label>
                        <input type="radio" name="chooseFlightDate" value="automaticFlightDates" ng-click="chooseFlightDate('automatic');" checked>
                        <span data-ng-bind="textConstants.AUTOMATICADJUSTFLIGHTDATES"></span>
                    </label>
                    <div class="clearfix newMediaPlanFlightDate">
                        <span class="pull-left"  data-ng-bind="textConstants.NEWMEDIAPLANSTARTDATE"></span>
                        <div class="input-daterange input-group otherBgDateRange date pull-left" id="datepicker">
                            <div class="col-md-12 dateWrapper zeroPadding">
                                <div class="dateContainer">
                                    <div class="dateInputHolder" >
                                        <input type="text" custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'bottom',  autoclose: true, todayHighlight: true}" placeholder="MM/DD/YYYY" class="form-control"  readonly name="startTime" ng-model="newMediaPlanDate" ng-change="newMediaPlanDateChange()" />
                                        <div class="icon-calendar-holder">
                                            <span class="icon-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 zeroPadding">
                    <label>
                        <input type="radio" name="chooseFlightDate" value="originalFlightDates" ng-click="chooseFlightDate('original');">
                        <span  data-ng-bind="textConstants.KEEPORIGINALFLIGHTDATES"></span>

                    </label>
                </div>
                <div class="disabled_div" >
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix popup-btns-holder col-md-12 ">
       
        <button class="btn btn-primary pull-right" ng-show="!showCloneLoader" ng-disabled="(checkUniqueNameNotFound || !cloneMediaPlanName || cloneMediaPlanExists || newMediaPlanStartDate )" ng-click="campaignCloneAction();" ng-bind="textConstants.CLONE" ></button>
        <span class="pull-right common-loading-btn"  ng-show="showCloneLoader"></span>
            <button class="secondary_txt" data-dismiss="modal" ng-click="close()" ng-bind="textConstants.CANCEL">
                Cancel
            </button>

    </div>
</div> <!-- end of popup-holder -->
