<div class="platform-custom">
    <div class="col-md-12 zeroPadding breadcrumbs">
        <div class="switchPlatform">
            <a class="btn btn-default pull-right" ng-click="saveCustomeFieldForPlatform('clickedFromCustom')">Save Settings</a>
            <a class="btn btn-link pull-right" ng-click="switchPlatform()">Back to Platforms</a>
        </div>
        <h5 ng-click="switchPlatform()" style="font-size: 16px; font-family: 'Avenir'; cursor: pointer;">Buying Platform</h5>
        <span class="icon-arrow-down"></span>
        <img ng-if="adData.platform" ng-src="/images/workflow/platform_icons/{{getPlatformIconName(adData.platform)}}.png"/>
    </div>
    <!--Collective Bidder Form-->
    <form name="customPlatformForm" id="customPlatformForm">
        <div class="col-md-12 zeroPadding platWrap {{getPlatformIconName(adData.platform)}}"></div>
    </form>
</div>
