<div>
	<form id="createIndependantAdsGrp" name="createIndependantAdsGrp"  novalidate>
        <div class="adGroupCreateForm">
        	<div>
            	<h1 class="col-md-4 zeroPadding" data-ng-bind="textConstants.SETADGRP"></h1>
                <button type="submit"
                        class="btn btn-primary pull-right"
                        id="groupIndividual"
                        ng-disabled="createIndependantAdsGrp.$invalid"
                        ng-click="saveIndependantAdsGroup('edit', createIndependantAdsGrp)" data-ng-bind="textConstants.SAVE" ng-show="!loadingBtn">
                </button>
	             <span type="button" class="pull-right cancel-grey-btn" ng-bind="textConstants.CANCEL" ng-click="cancelEditAdGroup()"></span>
                <input type = "hidden" name="adgroupId" ng-model="adgroupId" ng-update-hidden/>
	        </div>
            <!--Setup Name / Label Ad Group-->
            <div class="col-md-12 zeroPadding">
                <label for="nameIndividualAdGroup" class="col-sm-12 control-label labelQuestTxt" data-ng-bind="textConstants.NAMEADGROUP"></label>
                <!--Column 1-->
                <div class="col-md-6" style="padding: 0 10px 0 0;">
                    <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.ADGROUPNAME"></label>
                    <div class="form-group col-sm-12 zeroPadding" show-errors>
                        <input type="text"
                               class="form-control"
                               id="nameIndividualAdGroup"
                               remove-special-character='remove-special-character'
                               name="adIGroupName"
                               ng-model="adIGroupName"
                               maxlength="250"
                               placeholder="Enter Ad Group Name in this field up to 250 Characters"
                               required/>
                        <label ng-if="createIndependantAdsGrp.adIGroupName.$error.required"
                               class="col-sm-12 control-label greyTxt errorLabel" data-ng-bind="textConstants.ENTERADGRP"></label>
                    </div>
                </div>

                <!--Column 2-->
                <div class="col-md-6" style="padding: 0 0 0 10px;">
                    <label class="col-sm-12 control-label greyTxt miniLabels">{{textConstants.LABEL}}</label>
                    <tags-input class="form-group col-sm-12 zeroPadding"
                                ng-model="editAgGroupLabels">
                    </tags-input>
                </div>
            </div>

            <div class="col-md-12 zeroPadding">
                <label for="budgetIndividualAdGroup" class="col-sm-12 control-label labelQuestTxt">What's the maximum
                you can spend for your Ad Group?</label>
                <label class="col-sm-12 control-label greyTxt miniLabels">Budget</label>
                <div class="form-group col-md-3" style="padding: 0 10px 0 0;" show-errors>
                    <span class="currencyFly">$</span>
                    <input type="number"
                           class="form-control text-right"
                           id="budgetIndividualAdGroup"
                           name="adIGroupBudget"
                           ng-model="adIGroupBudget"
                           min-value = "{{adGroupMinBudget}}"
                           max-value ="{{adGroupMaxBudget}}"
                           required ng-blur="validateAdGroupSpend($event)"/>

                    <label ng-if="createIndependantAdsGrp.adIGroupBudget.$error.required" class="col-sm-12 control-label greyTxt errorLabel" data-ng-bind="textConstants.ADGROUPBUDGETMSG"></label>
                    <label ng-if="!isMinimumAdGroupBudget" class="col-sm-12 control-label greyTxt customErrorLabel" data-ng-bind="textConstants.ADGROUPMINIMUMBUDGETMSG"></label>
                    <label ng-if="!isMaximumAdGroupBudget" class="col-sm-12 control-label greyTxt customErrorLabel" data-ng-bind="textConstants.ADGROUPMAXIMUMBUDGETMSG"></label>
                </div>

                <div class="col-md-3" style="padding: 0 0 0 10px;">
                    <!--Widget Goes Here-->
                </div>
            </div>

            <!--Date Setup For Ad Group-->
            <div class="col-md-10 zeroPadding">
                <label for="dateIndividualAdGroup"
                       class="col-sm-12 control-label labelQuestTxt" data-ng-bind="textConstants.LIKEADSRUN"></label>
                <div class="span4 col-md-12 input-daterange input-group date pull-left"
                     id="datepickerIndividual">
                    <div class="col-md-12 dateWrapper zeroPadding">
                        <div class="dateContainer">
                            <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.START_DATE">
                            </label>
                            <input type="text"
                                   custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'top auto',  autoclose: true, todayHighlight: true}"
                                   id="individualAdsStartDateInput"
                                   placeholder="MM/DD/YYYY"
                                   class="form-control"
                                   readonly
                                   name="lowestStartTime"
                                   ng-model="startTime"
                                   required/>
                        </div>
                        <div class="dateContainer form-group" style="padding-left: 10px;" show-errors>
                            <label class="col-sm-12 control-label greyTxt miniLabels" data-ng-bind="textConstants.END_DATE"></label>
                            <input type="text" custom-date-picker="{format: 'mm/dd/yyyy', orientation: 'top auto',  autoclose: true, todayHighlight: true}" id="individualAdsEndDateInput" placeholder="MM/DD/YYYY" class="form-control" readonly  name="highestEndTime" ng-model="highestEndTime"  required/>
                            <label ng-if="createIndependantAdsGrp.highestEndTime.$error.required"  class="col-sm-12 control-label greyTxt errorLabel" data-ng-bind="textConstants.SELENDDATE"></label>
                        </div>

                    </div>
                <span class="col-md-12 input-group-addon">
                    <div class="calenderIcon">
                        <span class="icon-calendar"></span>
                    </div>
                    <div class="calenderIcon">
                        <span class="icon-calendar"></span>
                    </div>
                </span>
                </div>
            </div>

            <div id="independantMessage" data-ng-bind="independantGroupMessage"></div>
        </div>
    </form>
 </div>
