<div class="action-bar">
  <button class="btn create">
    Create Lineitem
  </button>
</div>

<table id="lineitem_table" class="lineitem_table table">
  <thead>
    <tr>
      <th class="status"></th>
      <th>Name</th>
      <th class="start_date">Start</th>
      <th class="end_date">End</th>
      <th class="volume">Impressions</th>
      <th class="rate">CPM</th>
      <th class="media-cost">Media Cost</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

