<button class="btn create">
  Create
</button>

<table id="lineitem_table" class="table">
  <thead>
    <tr>
      <th>Lineitem</th>
      <th>Status</th>
      <th>Start</th>
      <th>End</th>
      <th>Volume</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

