<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Lineitem name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="active">Active</label>
    <div class="controls">
      <input type="checkbox" id="active">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="start_date">Start date</label>
    <div class="controls">
      <input type="text" id="start_date" placeholder="Start date">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="end_date">End date</label>
    <div class="controls">
      <input type="text" id="end_date" placeholder="End date">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="volume">Volume Imps</label>
    <div class="controls">
      <input type="text" id="volume" placeholder="Volume">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="rate">Rate</label>
    <div class="controls">
      <input type="text" id="rate" placeholder="Rate">
    </div>

    <button type="submit" class="btn save">Create</button>
  </div>
</form>
