%table.admin-block-logs-table
  %thead
    %tr
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Job Start date
          .pure-u
            #job_start_date.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Advertiser
          .pure-u
            #advertiser_name.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Site Name
          .pure-u
            #incorrect_sites.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Blocktool Status
          .pure-u
            #incorrect_sites.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              DFP Status
          .pure-u
            #incorrect_sites.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Ad
          .pure-u
            #ad_name.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Ad ID
          .pure-u
            #ad_id.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Order
          .pure-u
            #order_name.actions-container
              %i.icon-sort
      %th
        .pure-g.header-container
          .pure-u.title-container
            .title
              Order ID
          .pure-u
            #order_id.actions-container
              %i.icon-sort
  %tbody{:id => "block_violations"}
    =render "block_violations_table",:block_violations => @block_violations

