<div class="clearfix title_row_separator breakdown_div">
    <div class="pull-left custom_report_filter custom_report_breakdown">
        <div class="common_dropdown">
            <div class="dropdown" >
                <span class="dropdown_ul_text" data-toggle="dropdown">
        <span class="dd_txt" data-template_id = "{{showDefaultDimension.template_id}}" id="{{showDefaultDimension.key}}">Choose Dimension</span>
        <span class="arrow_img"></span>
        </span>
                <ul class="dropdown-menu">
                    <li ng-click="select_dropdown_option($event)">Choose Dimension</li>
                    <li ng-repeat="dimension in customeDimensionData[0].dimensions"  id="{{dimension.key}}" ng-click="select_dropdown_option($event)">{{dimension.value}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-left filter_input_txtbox" style="display:none;" >
        <input type="text" name="filter" class ="reportFilter" data-reportType = "Secondary" autofocus placeholder="Contains keywords ..." />
    </div>
    <div class="pull-left delete_row" ng-click="delete_level($event);"></div>
</div>
