<div class="col-md-12 zeroPadding add-filters" data-ng-repeat="item in permissions">
    <div class="form-group col-md-3 accounts-multi-dimension">
        <label >Accounts:</label>
        <div class="zeroPadding dropdown-workflow" data-ng-init="$index+1">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                    <span class="text" data-ng-bind="selectedClient.counter.name"></span>
                    <span class="icon-arrow-solid-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="accountType">
                    <li data-ng-repeat="client in userModalData.Clients">
                        <a data-ng-click="selectedClientHandler(client)" data-ng-bind="client.name"></a>
                        <ul data-ng-if="client.children.length>0">
                            <li data-ng-repeat="clientChild in client.children">
                                <a data-ng-click="selectedClientHandler(clientChild)"
                                   data-ng-bind="clientChild.name">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden"
                       name="accountType"
                       class="accountType"
                       value="{{selectedClient.counter.id}}"
                       data-ng-update-hidden
                       required>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <label> Advertiser Name:</label>
        <select class="form-control" name="advertiserName">
            <option value="{{advertiser.id}}"
                    data-ng-repeat="advertiser in userModalData.Advertisers"
                    data-ng-bind="advertiser.name">
            </option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label >Brand Name:</label>
        <select name="brandName" class="form-control" >
            <option value="{{brand.id}}"
                    data-ng-repeat="brand in userModalData.Brands"
                    data-ng-bind="brand.name">
            </option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label >Permission:</label>
        <select name="permission" class="form-control" >
            <option>Admin</option>
            <option>Write</option>
            <option>Read</option>
        </select>
    </div>
    <div class="delete_row" data-ng-click="delete_filter($event)"></div>
</div>
