<div class=" clearfix popup-holder">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal"
                ng-click="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="col-md-12 zeroPadding">
            <div class="pull-left accountTitleTag" style="margin-bottom:20px;">
            <span class="tagTitle">Account</span>
            <span>VISTO QA</span>
            <span class="slash-divider" style="padding-left:5px;">/</span>
           </div>
            <div class="pull-left" style="padding-left:5px;">
                <span class="tagTitle">Advertiser</span>
                <span>QAUS NYC</span>
                <span class="slash-divider">/</span>
            </div>

            <div class="pull-left" style="padding-left:5px;">
                <span class="tagTitle">Invoice ID</span>
                <span class="ng-binding">1059</span>
            </div>
        </div>
    </div>

    <div class="modal-body col-md-12">
        <h2 class="modal-title" id="myModalLabel">Credits</h2>
        <div class="col-md-12 zeroPadding" style="margin-bottom:20px;">

            <div class="col-md-8 zeroPadding">
                <div class="pull-left">
                    <span class="greyTxt">Media Plan</span> <br>
                    <span>Beta bafd icere itest ifasfsa</span>
                </div>

            </div>
            <div class="col-md-1 zeroPadding"></div>
            <div class="col-md-3 zeroPadding">
                <div class="pull-left">
                    <span class="greyTxt">Invoice Month</span> <br>
                    <span>April 2016</span>
                </div>
            </div>
        </div>

       <div class="col-md-12 zeroPadding creditsCnt" style="margin-bottom:20px;max-height:317px;overflow:auto;">
           <div data-ng-repeat="credit in addCreditData.credits track by credit.id" style="width: 100%;height: 65px;">
               <button type="button" class="close" data-dismiss="modal" ng-click="removeCredit($index)" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
               <div class="col-md-8 zeroPadding">
                   <span class="greyTxt">Notes</span> <br>
                <span><input type="text" style="margin:0"
                             class="form-control"
                             name="adName"
                             placeholder="Provide description of the credit"
                             remove-special-character="remove-special-character"
                             ng-model="addCreditData.credits[$index].name"
                             maxlength="250"
                             ng-keyup="creditInputKeyUp()"
                             autofocus="" /></span>
               </div>
               <div class="col-md-1 zeroPadding"></div>
               <div class="col-md-3 zeroPadding" style="margin: -1px 0 0 30px;">
                   <span class="greyTxt">Amount</span> <br>
                   <span class="currencySymWLabel" style="margin-top: -12px;" data-ng-bind="constants.currencySymbol"></span>
                   <input style="text-indent: 9px;margin:0;padding: 10px 12px 7px 12px;" type="text" class="form-control"
                          ng-model="addCreditData.credits[$index].amount" fraction-numbers="fraction-numbers" name="amount" />
               </div>
           </div>
    </div>
    <div class="col-md-12 zeroPadding">
        <a data-toggle="tab" role="tab" class="btn btn-default ng-binding" ng-click="addCredit()">Add Another Credit</a>
    </div>
    </div>

    <div class="clearfix col-md-12 popup-btns-holder">
           <div ng-if="errSaveCredit" data-ng-bind="errSaveCreditMsg" class="errorText"></div>
           <button class="btn btn-primary pull-right" ng-show="!adArchiveLoader" type="button" ng-click="saveCredit()"
            >Save Credit</button>
            <div ng-show ="adArchiveLoader" class="pull-right common-loading-btn" ></div>
        <button class="secondary_txt" type="button" data-dismiss="modal" ng-click="close()" >Cancel</button>
    </div>
</div> <!-- end of popup-holder -->