<div ng-show="(barData.data.length > 0 && total > 0)">
	<div class="platform_number" ng-if="barData.showLabel" ng-style="disableLabel">
		<span> {{ textConstants.TOP_THREE }}</span>
	</div>
	<div  class="clearfix"   ng-class="{common_bar_data:barData.showLabel == true}">
		<div class="clearfix each_section_graph format_section_graph dataScreenIconsText">
			<div ng-repeat="d in barData.data track by $index" class="clearfix each_bar_section_holder">
				<div class="pull-left barIcon {{d.className}}"></div>
				<div class="pull-left imgContainer" ng-if="d.icon_url"><img ng-src="{{d.icon_url}}" height='15'/></div>
				<div class="pull-left graphValues" ng-switch on="page">
					<span class="graphValues_title">{{d.type}}{{separator}}</span>
					<span ng-switch-when="dashboard" class="graphValues_number" >{{d.value > 0 ? (d.value | dashboardKpiFormatter : kpiType) : ''}}</span>
					<span ng-switch-default class="graphValues_number" >{{d.value > 0 ? (d.value | kpiFormatter : kpiType) : ''}}</span>
				</div>
			</div>
		</div>
		<div class="barChartWidget" ></div>
	</div>
</div>
<div ng-if="(!total || barData.data.length == 0 )" class="no-data-available" ng-bind-html="getMessageForDataNotAvailable('', barData.graphName)"></div>
