<div class="eachCol icon_text_holder text-left platform_logo">
    {{textConstants.PLATFORM_NAME}}
</div>

<div class="col-md-11 zeroPadding">
    <div class="col-md-1 zeroPadding"
         data-ng-class="sortClassFunction('impressions')"
         data-ng-click="clickToSort('impressions')">
        <span class="default-kpi-header-icon"
              tooltip="Primary KPI"
              data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'impressions'">
        </span>
        <span data-ng-bind="textConstants.IMP_WITH_DOT"></span>
    </div>
    <div class="col-md-1 zeroPadding">
        <div class="dropdown kpi-dd-holder">
            <kpi-drop-down type="selectedFilters.kpi_type.toLowerCase()" changedrpval="yes"> </kpi-drop-down>
        </div>
    </div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('inventory_cost')"
         data-ng-click="clickToSort('inventory_cost')"
         data-ng-bind="textConstants.INVENTORY">
    </div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('data_cost')"
         data-ng-click="clickToSort('data_cost')"
         data-ng-bind="textConstants.DATA"></div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('serving_cost')"
         data-ng-click="clickToSort('serving_cost')"
         data-ng-bind="textConstants.DATA">{{textConstants.AD_SERVING}}</div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('verification_cost')"
         data-ng-click="clickToSort('verification_cost')"
         data-ng-bind="textConstants.DATA">{{textConstants.AD_VERIFICATION}}</div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('creative_cost')"
         data-ng-click="clickToSort('creative_cost')"
         data-ng-bind="textConstants.DATA">{{textConstants.CREATIVE}}</div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('research_cost')"
         data-ng-click="clickToSort('research_cost')"
         data-ng-bind="textConstants.DATA">{{textConstants.RESEARCH}}</div>
    <div class="col-md-2 zeroPadding" style="margin-top: -12px;">
        <span class="col-md-12 zeroPadding text-center" style="border-bottom: 1px solid #000; margin: 0 0 5px 0;">Platform Fees</span>
        <div class="col-md-12 zeroPadding">
            <span class="icon_text_holder col-md-4 zeroPadding"
                  data-ng-class="sortClassFunction('tech_fees')"
                  data-ng-click="clickToSort('tech_fees')"
                  data-ng-bind="textConstants.TECH_FEES"></span>
            <span class="icon_text_holder col-md-4 zeroPadding text-center"
                  data-ng-class="sortClassFunction('service_fees')"
                  data-ng-click="clickToSort('service_fees')"
                  data-ng-bind="textConstants.SERVICE"></span>
            <span class="icon_text_holder col-md-4 zeroPadding pull-right text-right"
                  data-ng-class="sortClassFunction('tech_service_fees_total')"
                  data-ng-click="clickToSort('tech_service_fees_total')"
                  data-ng-bind="textConstants.TOTAL"></span>
        </div>
    </div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('spend')"
         data-ng-click="clickToSort('spend')"
         data-ng-bind="textConstants.TOTAL_SPEND"></div>
    <div class="col-md-1 zeroPadding text-center"
         data-ng-class="sortClassFunction('margin')"
         data-ng-click="clickToSort('margin')"
         data-ng-bind="textConstants.MARGIN_PERCENTAGE"></div>
    <!-- ngIf: more_options -->
</div>


