<div class="clearfix nav_filters">
    <div class="pull-left dropdown each_filter2 advertisers_filter each_filter brands_filter " ng-show="isLeafNode == false">
        <sub-account-drop-down></sub-account-drop-down>
    </div>

    <div class="pull-left dropdown each_filter2 advertisers_filter each_filter brands_filter "
         ng-controller="AdvertiserController">
        <advertiser-drop-down></advertiser-drop-down>
    </div>

    <div class="pull-left dropdown each_filter brands_filter {{brandData.cssClass}}" ng-controller="BrandsController">
        <brands-drop-down></brands-drop-down>

    </div>
</div>
