<div class="each_col sec_col">
    <span class="icon_text_holder">{{textConstants.FORMAT}}</span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'impressions'"></span>{{textConstants.IMP_WITH_DOT}}</span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'clicks'"></span>{{textConstants.CLICKS}}</span>
</div>
<div class="vid_col" data-ng-show="adFormats.videoAds == true">
<div class="each_col third_col">
            <span class="icon_text_holder"> {{textConstants.VIDEO}} <br> {{textConstants.PLAYS}}</span>
</div>
<div class="vid_data_hdr">
       <span>{{textConstants.QUARTILE_DATA}}</span> <br>
       <div class="vid_sub_col">
         <div class="vid_sub_col_hdr"><span class="icon_text_holder">25%</span></div>
         <div class="vid_sub_col_hdr"><span class="icon_text_holder">50%</span></div>
         <div class="vid_sub_col_hdr"><span class="icon_text_holder">75%</span></div>
         <div class="vid_sub_col_hdr"><span class="icon_text_holder">100%</span></div>
       </div>
</div>
<div class="each_col third_col">
        <span class="icon_text_holder">
            <span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'vtc'"></span>{{textConstants.VTC}}
        </span>
</div>
</div>
<div class="each_col forth_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip={{textConstants.PRIMARY_KPI}} data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>{{textConstants.CTR}}</span>
</div>
<div class="each_col fifth_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip={{textConstants.PRIMARY_KPI}} data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'action rate'"></span>{{textConstants.ACTION_RATE}}</span>
</div>
<span  data-ng-show="adFormats.videoAds  == false">
<div class="each_col sixth_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>{{textConstants.CPA}}</span>
</div>
<div class="each_col seventh_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>{{textConstants.CPC}}</span>
</div>
<div class="each_col seventh_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>{{textConstants.CPM}}</span>
</div>
<div class="each_col seventh_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'pc_cpa'"></span>{{textConstants.PC_CPA}}</span>
</div>
<div class="each_col seventh_col" >
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'spend'"></span>{{textConstants.SPEND}}</span>
</div>
</span>
<div class="each_col seventh_col" >
    <div data-ng-if="adFormats.videoAds"  class="dropdown kpi-dd-holder " >
        <kpi-drop-down type="cpm" changedrpval="yes" ></kpi-drop-down>
    </div>
</div>
