<div class="clearfix reports_sub_menu_dd_holder">
    <div class="pull-left" data-ng-if="buildReport">
        <a  data-ng-click="NavigateToTab('/customreport', $event , 'customReports')"
           class="clearfix new_report_generate_btn">
            <span class="icon-report-builder-1 pull-left"></span>
            <span class="pull-left" data-ng-bind="textConstants.BUILD_REPORT" style="margin-top: 3px;"></span>
        </a>
    </div>
    <div class="reports_sub_menu_dd canned_container">
        <div class="header_tab_dd_subheading"
             data-ng-bind="textConstants.MEDIA_PLAN_REPORTS"
             data-ng-if="showMediaPlanReportHeading">
        </div>
        <div data-ng-repeat="tab in filters.tabs track by $index"
             class="header_tab_dropdown"
             data-ng-class="{'active_tab': tab.href === filters.activeTab}"
             id="{{tab.href}}">
            <a data-ng-click="NavigateToTab('/' + tab.href, $event , 'reportsSubPage')"
               id="performance_tab_{{tab.href}}"
               style="text-transform: capitalize;"
               reportTitle="{{tab.title}}"
               data-ng-bind="tab.title">
            </a>
        </div>
    </div>
    <div class="reports_sub_menu_dd custom_container">
        <div class="header_tab_dd_subheading"
             data-ng-if="showCustomReportHeading"
             data-ng-bind="textConstants.CUSTOM_REPORTS">
        </div>
        <div data-ng-repeat="tab in customFilters.tabs track by $index"
             class="clearfix header_tab_dropdown"
             data-ng-class="{'active_tab': tab.href === customFilters.activeTab}">
            <a
               class="pull-left reports_list_link"
               data-ng-click="NavigateToTab('/' + tab.href, $event, 'scheduleReports')"
               data-ng-bind="tab.title">
            </a>
            <div class="icon-upload"
                 data-ng-click="NavigateToTab('/reports/upload', $event)"
                 data-ng-show="tab.title==textConstants.COLLECTIVE_INSIGHTS">
            </div>
        </div>
    </div>
</div>

