<div class="each_col sec_col">
    <span class="icon_text_holder"
          data-ng-class="sortClassFunction('dimension', sortTypeScreens, sortReverse)"
          data-ng-click="sortTypeScreens = 'dimension';
            sortReverse = !sortReverse;
            removeKpiActive();
            specialSort('dimension');"
          data-ng-bind="textConstants.SCREEN">
    </span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder"
          data-ng-class="sortClassFunction('-impressions', sortTypeScreens, !sortReverse)"
          data-ng-click="sortTypeScreens = '-impressions';
            sortReverse = !sortReverse;
            removeKpiActive();
            specialSort('-impressions');">
        <span class="default-kpi-header-icon"
              tooltip="Primary KPI"
              data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'impressions'">
        </span>
        {{textConstants.IMP_WITH_DOT}}
    </span>
</div>
<div class="vid_col" data-ng-show="adFormats.videoAds === true">
    <div class="each_col third_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('video_played', sortTypeScreens, sortReverse)"
              data-ng-click="sortTypeScreens = 'video_played';
                sortReverse = !sortReverse;
                removeKpiActive();
                specialSort('video_played');"
              ng-bind-html="textConstants.VIDEO + ' <br> ' + textConstants.PLAYS">
        </span>
    </div>
    <div class="vid_data_hdr">
        <span data-ng-bind="textConstants.QUARTILE_DATA"></span>
        <br>
        <div class="vid_sub_col">
            <div class="vid_sub_col_hdr">
                <span class="icon_text_holder"
                      data-ng-class="sortClassFunction('vtc_25', sortTypeScreens, sortReverse)"
                      data-ng-click="sortTypeScreens = 'vtc_25';
                        sortReverse = !sortReverse;
                        removeKpiActive();
                        specialSort('vtc_25');">
                    25%
                </span>
            </div>
            <div class="vid_sub_col_hdr">
                <span class="icon_text_holder"
                      data-ng-class="sortClassFunction('vtc_50', sortTypeScreens, sortReverse)"
                      data-ng-click="sortTypeScreens = 'vtc_50';
                        sortReverse = !sortReverse;
                        removeKpiActive();
                        specialSort('vtc_50');">
                    50%
                </span>
            </div>
            <div class="vid_sub_col_hdr">
                <span class="icon_text_holder"
                      data-ng-class="sortClassFunction('vtc_75', sortTypeScreens, sortReverse)"
                      data-ng-click="sortTypeScreens = 'vtc_75';
                        sortReverse = !sortReverse;
                        removeKpiActive();
                        specialSort('vtc_75');">
                    75%
                </span>
            </div>
            <div class="vid_sub_col_hdr">
                <span class="icon_text_holder"
                      data-ng-class="sortClassFunction('vtc_100', sortTypeScreens, sortReverse)"
                      data-ng-click="sortTypeScreens = 'vtc_100';
                        sortReverse = !sortReverse;
                        removeKpiActive();
                        specialSort('vtc_100');">
                    100%
                </span>
            </div>
        </div>
    </div>
    <div class="each_col third_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('vtc_100', sortTypeScreens, sortReverse)"
              data-ng-click="sortTypeScreens = 'vtc_100';
                sortReverse = !sortReverse;
                removeKpiActive();
                specialSort('vtc_100');">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'vtc'">
            </span>
            {{textConstants.VTC}}
        </span>
    </div>
</div>
<div class="each_col forth_col">
    <span class="icon_text_holder"
          data-ng-class="sortClassFunction('ctr', sortTypeScreens, sortReverse)"
          data-ng-click="sortTypeScreens = 'ctr';
            sortReverse = !sortReverse;removeKpiActive();
            specialSort('ctr');">
        <span class="default-kpi-header-icon"
              tooltip="Primary KPI"
              data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'ctr'">
        </span>
        {{textConstants.CTR}}
    </span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder"
          data-ng-class="sortClassFunction('action_rate', sortTypeScreens, sortReverse)"
          data-ng-click="sortTypeScreens = 'action_rate';
            sortReverse = !sortReverse;
            removeKpiActive();
            specialSort('action_rate');">
        <span class="default-kpi-header-icon"
              tooltip="Primary KPI"
              data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'action_rate'">
        </span>
        {{textConstants.ACTION_RATE}}
    </span>
</div>
<div data-ng-show="adFormats.videoAds === false">
    <div class="each_col sixth_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-cpa', sortTypeScreens, sortReverseForCostscpa)"
              data-ng-click="sortTypeScreens = '-cpa';
                sortReverse = sortReverseForCostscpa;
                sortReverseForCostscpa = !sortReverseForCostscpa;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpa'">
            </span>
            {{textConstants.CPA}}
        </span>
    </div>
    <div class="each_col seventh_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-cpc', sortTypeScreens, sortReverseForCostscpc)"
              data-ng-click="sortTypeScreens = '-cpc';
                sortReverse = sortReverseForCostscpc;
                sortReverseForCostscpc = !sortReverseForCostscpc;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpc'">
            </span>
            {{textConstants.CPC}}
        </span>
    </div>
    <div class="each_col eight_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-cpm', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-cpm';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'cpm'">
            </span>
            {{textConstants.CPM}}
        </span>
    </div>
    <div class="each_col ninth_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-pc_cpa', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-pc_cpa';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'pc_cpa'">
            </span>
            <span data-ng-bind="textConstants.PC_CPA"></span>
        </span>
    </div>
    <div class="each_col tenth_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-spend', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-spend';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'spend'">
            </span>
            <span data-ng-bind="textConstants.SPEND"></span>
        </span>
    </div>
    <div class="each_col eleventh_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-suspicious_impressions_perc', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-suspicious_impressions_perc';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'suspicious_impressions_perc'">
            </span>
            <span data-ng-bind="textConstants.SUSPICIOUS_ACTIVITY"></span>
        </span>
    </div>
    <div class="each_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-viewable_impressions', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-viewable_impressions';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'viewable_impressions'">
            </span>
            <span data-ng-bind="textConstants.VIEWABLE_IMPRESSION"></span>
        </span>
    </div>
    <div class="each_col">
        <span class="icon_text_holder"
              data-ng-class="sortClassFunction('-viewable_impressions_perc', sortTypeScreens, sortReverseForCostscpm)"
              data-ng-click="sortTypeScreens = '-viewable_impressions_perc';
                sortReverse = sortReverseForCostscpm;
                sortReverseForCostscpm = !sortReverseForCostscpm;
                removeKpiActive();">
            <span class="default-kpi-header-icon"
                  tooltip="Primary KPI"
                  data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() === 'viewable_impressions_perc'">
            </span>
            <span data-ng-bind="textConstants.VIEWABLE_RATE"></span>
        </span>
    </div>
</div>
<div class="each_col seventh_col">
    <div data-ng-if="adFormats.videoAds" class="dropdown kpi-dd-holder">
        <kpi-drop-down type="cpm" changedrpval="yes"></kpi-drop-down>
    </div>
</div>
