<popup-msg ng-show="flashMessage" ng-controller="popUpMsgCtr"
           ng-init="init('flashMessage','WF_USER_CREATION_FAIL')"></popup-msg>
<shrujan></shrujan>
<div class="col-md-12 zeroPadding">
    <div class="col-md-12 zeroPadding">
        <h1 class="pull-left">{{isEdit?'Edit':'Add'}} User</h1>
    </div>
    <div class="col-md-12 zeroPadding">
        <form id="userCreateEditForm" name="userCreateEditForm" class="col-md-12 zeroPadding">
            <div class="col-md-12 zeroPadding">
                <div class="form-group col-md-3" show-errors style="padding-left: 0;">
                    <label><span class="icon-user"></span> User Login:</label>
                    <input name="userLogin" type="email" class="form-control" ng-disabled="isEdit" ng-model="userConsoleFormDetails.email" required >
                    <label ng-if="userCreateEditForm.userLogin.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter user login.</label>
                    <label ng-if="userCreateEditForm.userLogin.$error.email" class="col-sm-12  greyTxt errorLabel">Invalid email address.</label>
                </div>
                <div class="form-group col-md-3" show-errors>
                    <label >First Name:</label>
                    <input name="firstName" type="text" ng-model="userConsoleFormDetails.firstName" class="form-control"  required>
                    <label ng-if="userCreateEditForm.firstName.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter First Name.</label>
                </div>
                <div class="form-group col-md-3" show-errors>
                    <label >Last Name:</label>
                    <input name="lastName" type="text" ng-model="userConsoleFormDetails.lastName" class="form-control"  required>
                    <label ng-if="userCreateEditForm.lastName.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter Last Name.</label>
                </div>
                <div class="form-group col-md-2" show-errors>
                    <label >Password:</label>
                    <input name="password" type="password" ng-model="userConsoleFormDetails.password" class="form-control" ng-disabled="userConsoleFormDetails.isEditPassword" required>
                    <label ng-if="userCreateEditForm.password.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter password.</label>
                </div>
                <div class="form-group col-md-1" style="padding-right: 0;" >
                    <label class="pull-right">Super User</label>
                    <div class="pull-right">
                        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" data-ng-click="superUserToggleClicked($event)">
                        <label for="cmn-toggle-1"></label>
                    </div>
                </div>
                <!--<div class="col-md-12 zeroPadding">-->
                    <!--<a class="btn btn-link pull-right addRowMedia">-->
                        <!--<span class="icon-trash" style="margin-right: 5px;"></span>-->
                        <!--<span>Remove User</span>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="form-group col-md-12 zeroPadding">-->
                    <!--<label >Collective Internal:</label>-->
                    <!--<div class="clearfix">-->
                        <!--<div class="pull-left radio">-->
                          <!--<label><input type="radio" name="optradio"  value="true" checked="checked">Yes</label>-->
                        <!--</div>-->
                        <!--<div class="pull-left radio">-->
                          <!--<label><input type="radio" name="optradio"  value="false">No</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group col-md-12 zeroPadding">-->
                    <!--<label >Application Access:</label>-->
                    <!--<div class="clearfix">-->
                        <!--<div class="pull-left radio">-->
                          <!--<label><input type="radio" name="optcheck"  value="REPORTING"  checked="checked">Reporting</label>-->
                        <!--</div>-->
                        <!--<div class="pull-left radio">-->
                          <!--<label><input type="radio" name="optcheck"  value="WORKFLOW">Workflow</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>


        <div class="form-group col-md-12 zeroPadding" ng-if="!isCurr_SuperUser">
		    <!--<label >Add Access:</label>-->
            <!--<div class="col-md-12 zeroPadding add-filters">-->
                <!--<div class="form-group col-md-3">-->
                        <!--<label >Accounts:</label>-->
                    <!--<div class="zeroPadding dropdown-workflow">-->
                        <!--<div class="dropdown">-->
                            <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                                <!--&lt;!&ndash;<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>&ndash;&gt;-->
                                <!--<span class="text">{{selectedClient}}</span>-->
                                <!--<span class="icon-arrow-down"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="accountType">-->
                                <!--<li ng-repeat="client in userModalData.Clients"><a ng-click="selectedClientHandler(client)">{{client.text}}</a>-->
                                    <!--<ul ng-if="client.hasOwnProperty(newobj)">-->
                                        <!--<li ng-repeat="clientChild in client"><a ng-click="selectedClientHandler(clientChild)">{{clientChild.text}} </a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                        <!--</div>-->
                    <!--</div>-->
            		    <!--&lt;!&ndash;<div class="dropdown-workflow">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
                              <!--&lt;!&ndash;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="text">Accounts</span>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="icon-arrow-down"></span>&ndash;&gt;-->
                              <!--&lt;!&ndash;</button>&ndash;&gt;-->
                              <!--&lt;!&ndash;<ul class="dropdown-menu" id="clientId">&ndash;&gt;-->
                               <!--&lt;!&ndash;<li ng-repeat="client in clientsData.treejson"><a>{{client.text}}</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ul ng-if="client.length>3">&ndash;&gt;-->
                                  <!--&lt;!&ndash;<li ng-repeat="childClient in client"><a>{{childClient.text}}</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                               <!--&lt;!&ndash;</li>&lt;!&ndash; dropBoxItemSelected &ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                              <!--&lt;!&ndash;<input type="hidden" name="accounts" ng-model="accounts" ng-update-hidden required/>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label> Advertiser Name:</label>-->
                    <!--&lt;!&ndash;<select class="form-control" name="advertiserName" ng-model="selectedAdvertiser">&ndash;&gt;-->
                    <!--<select class="form-control" name="advertiserName">-->
                        <!--<option value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers">{{advertiser.name}}</option>-->
                        <!--&lt;!&ndash;<option value=value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers" ng-selected="{{advertiser.id == selectedAdvertiser}}" >{{advertiser.name}}</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label >Brand Name:</label>-->
                    <!--<select name="brandName" class="form-control" >-->
                      <!--<option value="{{brand.id}}" ng-repeat="brand in userModalData.Brands">{{brand.name}}</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label >Permission:</label>-->
                    <!--<select name="permission" class="form-control" >-->
                      <!--<option>Admin</option>-->
                      <!--<option>Write</option>-->
                      <!--<option>Read</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!---->
            <!--</div>-->
            
            <!--THIS IS TEST ELEMENTS STARTS HERE-->
            <!--<div class="col-md-12 zeroPadding">-->
                <!--<div class="col-md-2 zeroPadding">-->
                    <!--<label class="col-md-12 zeroPadding">Accounts:</label>-->
                    <!--<ul class="accountDDL">-->
                        <!--<li data-dropdown-text="Item 1"></li>-->
                        <!--<li data-dropdown-text="Item 2"></li>-->
                        <!--<li data-dropdown-text="Item 3">-->
                            <!--<ul>-->
                                <!--<li data-dropdown-text="Item 1"></li>-->
                                <!--<li data-dropdown-text="Item 2"></li>-->
                                <!--<li data-dropdown-text="Item 3"></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li data-dropdown-text="Item 4"></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!---->
                <!--<div class="col-md-8" style="padding: 0 30px;">-->
                    <!--<label>Per Page Permission:</label>-->
                    <!--<select data-placeholder="Page Permission" class="chosen-select" multiple tabindex="4">-->
                        <!--<option value=""></option>-->
                        <!--<option value="All">All</option>-->
                        <!--<option value="Media Plans">Media Plans</option>-->
                        <!--<option value="Reports">Reports</option>-->
                        <!--<option value="Creative">Creative</option>-->
                        <!--<option value="New Creative">New Creative</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!---->
                <!--<div class="col-md-2 zeroPadding">-->
                    <!--<label class="col-md-12 zeroPadding">Account Admin:</label>-->
                    <!--<div class="pull-left">-->
                        <!--<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">-->
                        <!--<label for="cmn-toggle-1"></label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--THIS IS TEST ELEMENTS ENDS HERE-->
            
            <div class="col-md-12 add-filters" ng-repeat="(permissionIndex,item) in permissions track by $index" data-row-index="{{$index}}"> <!--$index--{{$index}}-->
                <div class="col-md-12 zeroPadding">
                    <h1 class="pull-left">Account Access</h1>
                </div>
                
                <!--<div class="form-group col-md-12 accounts-multi-dimension" id="id_{{$index}}" style="padding-left: 0;">&lt;!&ndash;id_$index---id_{{$index}}&ndash;&gt;-->
                    <!--<label>Accounts:</label>-->
                    <!--<div class="zeroPadding dropdown-workflow">-->
                        <!--<div class="dropdown">-->
                            <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                                <!--&lt;!&ndash;<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>&ndash;&gt;-->
                                <!--<span class="text" >{{clientName[$index] ? clientName[$index] :'Select Client'}}</span>-->
                                <!--<span class="icon-arrow-down"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="accountType">-->
                                <!--<li ng-repeat="client in userModalData.Clients"><a ng-click="selectedClientHandler(client, permissionIndex)">{{client.name}}</a>-->
                                    <!--<ul ng-if="client.children.length>0">-->
                                        <!--<li ng-repeat="clientChild in client.children"><a ng-click="selectedClientHandler(clientChild, permissionIndex, client.id)">{{clientChild.name}} </a>-->
                                            <!--<ul ng-if="clientChild.children.length>0">-->
                                            <!--<li ng-repeat="clientSecondChild in clientChild.children"><a ng-click="selectedClientHandler(clientSecondChild, permissionIndex, client.id, clientChild.id)">{{clientSecondChild.name}} </a>-->
                                            <!--</li>-->
                                            <!--</ul>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<input type="hidden" name="accountType" class="accountType" ng-model="User.data[$index].clientId"  value="{{selectedClient.counter.id}}" ng-Update-Hidden required/>-->
                            <!--&lt;!&ndash;<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<select class="form-control" name="accountType">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="{{client.id}}" ng-repeat="client in userModalData.Clients">{{client.name}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                <!--</div>-->
                <!---->
                <div class="col-md-2 zeroPadding">
                    <label class="col-md-12 zeroPadding">Accounts:</label>
                    <ul class="accountDDL">
                        <li data-dropdown-text="Item 1"></li>
                        <li data-dropdown-text="Item 2"></li>
                        <li data-dropdown-text="Item 3">
                            <ul>
                                <li data-dropdown-text="Item 1"></li>
                                <li data-dropdown-text="Item 2"></li>
                                <li data-dropdown-text="Item 3"></li>
                            </ul>
                        </li>
                        <li data-dropdown-text="Item 4"></li>
                    </ul>
                </div>
                
                <div class="col-md-8" style="padding: 0 30px;">
                    <label>Per Page Permission:</label>
                    <!--<select placeholder="Page Permission" class="chosen-select" multiple tabindex="4">-->
                        <!--<option value=""></option>-->
                        <!--<option value="All">All</option>-->
                        <!--<option value="Media Plans">Media Plans</option>-->
                        <!--<option value="Reports">Reports</option>-->
                        <!--<option value="Creative">Creative</option>-->
                        <!--<option value="New Creative">New Creative</option>-->
                    <!--</select>-->
                    <div class="dropdown" style="z-index: 99999">
                        <button style="width:600px;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="text" ng-bind="pagePermissionValue[$index].desc ? pagePermissionValue[$index].desc : 'All'"></span>
                            <span class="icon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu" data-toggle="dropdown">
                            <li ng-repeat="page in userPages">
                                <a ng-click="select_page_option(page.description , page.code, $parent.$index)" ng-bind="page.description"></a>
                            </li>
                        </ul>
                        <input type="hidden" name="unitType" ng-model="adData.unitType.name" ng-update-hidden />
                    </div>
                </div>
                
                <div class="col-md-2 zeroPadding">
                    <label class="col-md-12 zeroPadding">Account Admin:</label>
                    <div class="pull-left">
                        <input id="admin-toggle-{{$index}}" class="cmn-toggle cmn-toggle-round" type="checkbox" data-ng-click="adminUserToggleClicked($index, $event)" data-off="aa" data-on="aa">
                        <label for="admin-toggle-{{$index}}"></label>
                    </div>
                </div>
                <div class="col-md-12" style="background: rgba(0, 0, 0, 0.08); padding: 15px 30px; margin: 15px 0;" ng-repeat="i in item.addPermission" id="addPermission_{{$parent.$index}}_{{$index}}">
                    <div class="form-group col-md-4" style="padding-left: 0;">
                        <label> Advertiser Name:</label>
                        <!--<select class="form-control" name="advertiserName" ng-model="selectedAdvertiser">-->
                        <!--<select class="form-control" name="advertiserName" ng-init="User.data[$index].advertisers=0" ng-model="User.data[$index].advertisers">-->
                            <!--<option value="{{advertiser.id}}" ng-repeat="advertiser in userModalData[permissionIndex].Advertisers" ng-selected="{{advertiser.id == 31}}" ng-click="selectAdvertiser()">{{advertiser.name}}</option>-->
                            <!--<!--<option value=value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers" ng-selected="{{advertiser.id == selectedAdvertiser}}" >{{advertiser.name}}</option>-->-->
                        <!--</select>-->

                        <div class="zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <!--<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>-->
                                    <span class="text" >{{permissions[$parent.$index].addPermission[$index]["advertiserName"]}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="accountType">
                                    <li ng-repeat="advertiser in dropdownList[$parent.$index].advertisers"><a ng-click="selectAdvertiser(advertiser,$parent.$parent.$index, $parent.$index)">{{advertiser.name}}</a>
                                    </li>
                                </ul>
                                <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label >Brand Name:</label>
                        <!--<select name="brandName" class="form-control" ng-init="User.data[$index].brand=0" ng-model="User.data[$index].brand">-->
                            <!--<option value="{{brand.id}}" ng-repeat="brand in userModalData.Brands" ng-selected="{{brand.id == 21}}">{{brand.name}}</option>-->
                        <!--</select>-->
                        <div class="zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <!--<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>-->
                                    <span class="text" >{{permissions[$parent.$index].addPermission[$index]["brandName"]}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="accountType">
                                    <li ng-repeat="brand in dropdownList[$parent.$index][$index].brands"><a ng-click="selectBrand(brand,$parent.$parent.$index, $parent.$index)">{{brand.name}}</a>
                                    </li>
                                </ul>
                                <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding-right: 25px;">
                        <label>Permission:</label>
                        <button class="btn btn-default dropdown-toggle" style="width:300px" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <!--<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>-->
                            <span class="text" >{{permissions[$parent.$index].addPermission[$index]["permissionName"]}}</span>
                            <span class="icon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="accountType">
                            <li ng-repeat="list in dropdownList[$index].permission"><a ng-click="selectPermission(list,$parent.$parent.$index, $parent.$index)">{{list.name}}</a>
                            </li>
                        </ul>
                        <!--<select name="accessLevel" class="form-control" ng-init="User.data[permissionIndex].accessLevel = User.data[permissionIndex].accessLevel || 'ADMIN'" ng-change="setPermissionAccess(permissionIndex,User.data[permissionIndex].accessLevel)" ng-model="User.data[permissionIndex].accessLevel">-->
                            <!--<option value="{{perm.value}}" ng-repeat="perm in dropdownList[$parent.$index][$index].permission" ng-selected="User.data[permissionIndex].accessLevel == perm.value?true:false" >{{perm.name}}</option>-->
                            <!--&lt;!&ndash;<option value="ADMIN">Admin</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="WRITE">Write</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="READ">Read</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>

                    <div class="delete_row" ng-click="deletePermission($parent.$index, $index, $event)"></div>
                </div>
                
                <div class="col-md-12 zeroPadding">
                    <a class="btn btn-link pull-left addRowMedia" id="addPermissionText_{{$index}}" ng-click="addPermission($index, $event)">
                        <span class="icon-plus"></span>
                        <span>Add Permission</span>
                    </a>
                    
                    <a class="btn btn-link pull-right addRowMedia" ng-click="deleteAccount($index, $event)">
                        <span class="icon-trash" style="margin-right: 5px;"></span>
                        <span>Remove Account Access</span>
                    </a>
                </div>
                <!--<div class="form-group col-md-3" style="padding-left: 0; clear: left;">-->
                <!--    <label >Role:</label>-->
                <!--    <select id="role" class="form-control" ng-init="userConsoleFormDetails.roleTemplateId = textConstants.super_admin; isSuperAdmin = true" ng-model="userConsoleFormDetails.roleTemplateId" ng-change="selectedRole(userConsoleFormDetails.roleTemplateId)">-->
                <!--        <option value="{{textConstants.super_admin}}"  ng-selected="userConsoleFormDetails.roleTemplateId == textConstants.super_admin">Super Admin</option>-->
                <!--        <option value="{{textConstants.account_admin}}" >Account Admin</option>-->
                <!--        <option value="{{textConstants.advertiser_admin}}" >Advertiser Admin</option>-->
                <!--        <option value="{{textConstants.generic_user}}" >Generic User </option>-->
                <!--    </select>-->
                <!--</div>-->
            </div>

            <div class="clearfix" id="filter-container"></div>
            
            <div class="add_filter_link">
                <!--<span addfilterusers ng-click="incrementCounter()">Add Permissions</span>-->
                <!--<span ng-click="incrementCounter()">Add Account</span>-->
                <a class="btn btn-link pull-left addRowMedia">
                    <span class="icon-plus"></span>
                    <span ng-click="incrementCounter()">Add Account Access</span>
                </a>
            </div>
        </div>


        </form>
    </div><!-- end of modal_body -->
    
    <div class="col-md-12 zeroPadding">
        <span class="common_primary_btn pull-right" ng-click="saveUserForm()">Save</span>
        <span class="secondary_txt pull-right" data-dismiss="modal" ng-click="closeForm()">Cancel</span>
    </div>
</div> <!-- end of popup-holder -->
<script type="text/javascript">
    //Pills
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
	
    //DDL Tier Parent, Child
    
    $('.accountDDL').dropdown({
        toggleText: 'Select Account'
    });
</script>