#details.content

:javascript
  $(document).ready(function() {
    var controller = new ReachUI.ReachClients.ReachClientController();
      controller.initializeForEditReachClient('#{@reach_client.id}');
  });