#layout {
  padding-left: 350px;
  position: relative;
}

.sidebar {
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: 83px;
  width: 350px;
  margin-left: -350px;
  border-right: 1px solid #DDDDDD;
  .content {
    padding: 20px;
  }
}

.main {
  width: 100%;
}
