<div class="col-md-12 adGroup" ng-click="ToggleAdGroups(this,adGroupsData.adGroup.id,$index+1, $event)" ng-repeat="adGroupsData in workflowData.campaignGetAdGroupsData">
    <div class="adTitle" >
        <a class="collapseIcon" role="button" id="{{$index+1}}" href="">
            <span class="icon-plus" ></span>
        </a>

        <div class="col-md-5 zeroPadding">
            <h4 class="pull-left adGroupTxt adGroupTxtName" title="{{adGroupsData.adGroup.name}}" data-ng-bind="adGroupsData.adGroup.name"></h4>
            <span class="pull-left adGroupTxt">
                <span class="icon-calendar"></span>
                <span class="pull-left">
                    {{utcToLocalTime(adGroupsData.adGroup.startTime, 'ddd DD MMM YYYY')}} - {{utcToLocalTime(adGroupsData.adGroup.endTime,'ddd DD MMM YYYY')}} ({{numOfDays(adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)}} Days)
                </span>
            </span>
        </div>

        <div class="col-md-6 zeroPadding pull-right">
            <span class="adGroupTxtSecondary">Ready <p class="{{ !adGroupsData.READY ? 'active' : '' }}">{{(adGroupsData.READY || 0)}}</p></span>
            <span class="adGroupTxtSecondary">Scheduled <p class="{{ !adGroupsData.SCHEDULED ? 'active' : '' }}">{{(adGroupsData.SCHEDULED || 0)}}</p></span>
            <span class="adGroupTxtSecondary">In Flight <p class="{{ !adGroupsData.IN_FLIGHT ? 'active' : '' }}">{{(adGroupsData.IN_FLIGHT || 0)}}</p></span>
            <span class="adGroupTxtSecondary">Total Ads <p class="{{ !adGroupsData.noOfAds ? 'active' : '' }}">{{adGroupsData.noOfAds || 0}}</p></span>
        </div>
    </div>

    <div id="collapseAdGroup" ng-show="showHideToggle">
        <!--=== Create BTN Ad ===-->
        <div class="col-md-3 adModule adCreateBtn" ng-click="createAdforAdGroup(adGroupsData.adGroup.id,adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)">
            <div class="col-md-12">
                <a href="#"
                   class="col-md-12 text-center addMaster">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

                    <h2>Create Ad</h2>
                </a>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 150px;" ng-if="!workflowData.getADsForGroupData[$index+1]">
            <div class="common-loading-area"></div>
        </div>
        <div ng-if="workflowData.getADsForGroupData[$index+1]">
            <!--=== Single Ad Ready ===-->
            <div class="col-md-3 adModule" ng-repeat="adsData in workflowData.getADsForGroupData[$index+1] track by adsData.id" ng-click="adsData.state=='DEPLOYING' ? '': goEdit(adsData)">
                <div class="col-md-12 adTitle">
                    <div class="clearfix">
                        <img ng-src="{{adsData.platform.iconUrl}}"
                            height="16"
                            class="pull-left adIconWidget"
                            ng-show="adsData.platform"
                            title="{{adsData.platform.displayName | uppercase}}"/>
                        <span class="pull-left greyTxt adDisplay"
                            ng-show="!(adsData.platform)"
                            data-ng-bind="textConstants.PLATNOTSET">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                            ng-show="(!adsData.isTracking) && (adsData.state === 'READY' || adsData.state === 'INCOMPLETE')"
                            data-ng-bind="textConstants.NOTPUSHEDPAR">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                              title="ID: {{adsData.sourceId}}"
                              ng-show="(adsData.sourceId && (adsData.pushStatus!='FAILED' && adsData.pushStatus!='IN_PROGRESS' && adsData.pushStatus!='UNPUSHED'))"
                              data-ng-bind="'ID:'+adsData.sourceId | formatUrl:8">
                        </span>
                    </div>
                    <div style="margin-top:3px;">
                        <span class="greyTxt adDisplay" title="{{adsData.platform.displayName}}" ng-bind="adsData.platform.displayName | formatUrl:12"></span>
                    </div>
                    <!--<span class="pull-left">ID: {{adsData.id}}</span>-->
                </div>
                <div class="col-md-12" style="padding: 0px 20px 20px 20px;">
                    <div class="col-md-12 zeroPadding cardTopLayer">
                        <h4 class="col-md-10 adCamp">
                            <div style="word-wrap: break-word;" tooltip="{{adsData.name}}">{{adsData.name | textEllipsis: 57}}</div>
                        </h4>
                        <span ng-if="adsData.adFormat" class="glyphicon glyphicon-{{getAdFormatIconName(adsData.adFormat)}} pull-right" aria-hidden="true"></span>
                        <span class="pull-left adTxtGray dateAd" ng-if="adsData.startTime && adsData.endTime">{{utcToLocalTime(adsData.startTime, 'DD MMM YYYY')}} - {{utcToLocalTime(adsData.endTime,'DD MMM YYYY')}}</span>
                        <span class="pull-left adTxtGray dateAd" ng-show="!(adsData.startTime)" data-ng-bind="textConstants.FLTNOTSET"></span>
                    </div>

                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding cardMidLayer">
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding">{{adsData.label ? (adsData.label | toPascalCase) : textConstants.WF_IMPS}}</span>
                            <span class="col-md-12 text-center zeroPadding">{{adsData.calculatedValue ? (adsData.calculatedValue | nrFormat) : textConstants.WF_NOT_SET}}</span>
                        </div>
                         <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding">{{adsData.rateType ? adsData.rateType : textConstants.CPM}}</span>
                            <span class="col-md-12 text-center zeroPadding">{{adsData.rateValue ? (adsData.rateValue | currency:undefined) : textConstants.WF_NOT_SET}}</span>
                        </div>
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding" data-ng-bind="textConstants.BUDGET"></span>
                            <span class="col-md-12 text-center zeroPadding">{{adsData.cost ? (adsData.cost | currency:undefined) : textConstants.WF_NOT_SET}}</span>
                        </div>
                    </div>

                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding" style="margin-bottom: 10px;">
                        <span class="col-md-12 text-left adTxtGray zeroPadding">Creatives ({{adsData.creatives.length || 0}})</span>
                        <p style="margin: 0; text-transform: lowercase;" >
                            <span ng-bind-html="appendSizes(adsData.creatives)" ></span>
                        </p>
                    </div>
                    <div class="col-md-12 zeroPadding">
                        <span class="col-md-12 text-left adTxtGray zeroPadding" data-ng-bind="textConstants.TARGETING"></span>
                        <span data-ng-bind="displaySelectedTargets(adsData)"></span>
                    </div>
                </div>
                <span class="pull-right adStatus {{adsData.state.toLowerCase().replace(' ','')}}">
                    {{adsData.state}}
                <span ng-if="adsData.pushStatus=='FAILED'" class="pull-right icon-warning" aria-hidden="true" tooltip="{{adsData.pushFeedback}}"></span>
                <span class="pull-right icon-tracking" ng-if="adsData.isTracking"></span>
                </span>
            </div>
        </div>
    </div>
</div>
