<div class="col-md-12 adGroup" ng-repeat="adGroupsData in workflowData.campaignGetAdGroupsData">
    <div class="adTitle" >
        <div class="col-md-12 zeroPadding adgroupDiv" >
            <a class="collapseIcon"
               role="button"
               id="{{$index}}"
               href=""
               ng-click="ToggleAdGroups(this, adGroupsData.adGroup.id, $index, $event)">
                <span class="icon-plus"></span>
            </a>

            <h4 class="pull-left adGroupTxt adGroupTxtName"
                title="{{adGroupsData.adGroup.name}}"
                data-ng-bind-html="adGroupsData.adGroup.nameHtml"></h4>

            <div class="pillsWrap" >
                <span class="labelPills" ng-if="adGroupsData.labels.length > 0"></span>
                <span class="labelPills{{addHighlightClass(label, '</mark>') ? ' search-highlight' : ''}}"
                      ng-repeat="label in adGroupsData.labels track by $index"
                      ng-bind-html="label">
                </span>
            </div>

            <div class="zeroPadding dropdown-workflow pull-right hideCollapse" style="position: absolute; right: 0;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        <span class="icon-more-options"></span>
                    </button>
                    <ul class="dropdown-menu" id="moreOptionsAdsGroup" style="right: 0; left: initial;" >
                        <li edit-ad-group-section ad-group-data="{{adGroupsData}}" ad-group-index="{{$index}}">
                            <a class="available" data-ng-bind="textConstants.EDIT"></a>
                        </li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_PAUSE"></a></li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_RESUME"></a></li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_ARCHIVE"></a></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 zeroPadding clearLeft" style="width: 38%;">
                <span class="col-md-12 zeroPadding greyTxt hideCollapse" style="padding-left: 35px !important;">
                    Group Budget
                </span>

                <!--This Only Shows If its "Group Budget" instead of Total Budget-->
                <!--<div class="pull-left showCollapse" style="padding-left: 35px; margin-top: 6px;">-->
                <!--    <span>Group Budget</span>-->
                <!--    <span>$250</span>-->
                <!--    <span>($85 Unallocated)</span>-->
                <!--</div>-->

                <div class="pull-left showCollapse" style="padding-left: 35px; margin-top: 6px;">
                    <span>Group Budget</span>
                    <span>{{calculateBudget(adGroupsData.adGroup) | currency:undefined:2}}</span>
                </div>

                <div class="pull-left hideCollapse" style="padding-left: 35px;">
                    <span style="font-size: 24px; line-height: 100%;">
                        {{ calculateBudget(adGroupsData.adGroup) | currency:undefined:2}}
                    </span>
                </div>

                <!--<div class="pull-left hideCollapse" style="margin:6px 0 0 30px;">
                    <span>Spend</span>
                    <span>{{(adGroupsData.adGroup.bookedSpend) ? (adGroupsData.adGroup.bookedSpend |
                    currency:undefined:2) :(0| currency:undefined:2)}}</span>
                </div>-->

                <div class="pull-left" style="margin: 6px 0 0 20px;">
                    <span>Unallocated</span>
                    <span>{{calculateSpendBudget(adGroupsData.adGroup)| currency:undefined:2}}</span>
                </div>
            </div>

            <div class="pull-left adGroupTxt">
                <span class="pull-left clearBoth greyTxt hideCollapse">Flight Dates</span>
                <span class="clearLeft pull-left icon-calendar" style="margin: 6px 6px 0 0;"></span>
                <span class="pull-left" style="margin-top: 6px;">
                    {{utcToLocalTime(adGroupsData.adGroup.startTime, 'ddd DD MMM YYYY')}} -
                    {{utcToLocalTime(adGroupsData.adGroup.endTime,'ddd DD MMM YYYY')}}
                    ({{numOfDays(adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)}} Days)
                </span>
            </div>

            <div class="col-md-4 zeroPadding pull-right">
                <span class="adGroupTxtSecondary showCollapse" style="padding-right: 30px; margin-top: 6px;">
                    Ready <p class="{{ !adGroupsData.READY ? 'active' : ''}}">{{(adGroupsData.READY || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary showCollapse" style="margin-top: 6px;">
                    Scheduled <p class="{{ !adGroupsData.SCHEDULED ? 'active' : ''}}">
                    {{(adGroupsData.SCHEDULED || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary showCollapse" style="margin-top: 6px;">
                    In Flight <p class="{{ !adGroupsData.IN_FLIGHT ? 'active' : ''}}">
                    {{(adGroupsData.IN_FLIGHT || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary showCollapse" style="margin-top: 6px;">
                    Total Ads <p class="{{ !adGroupsData.noOfAds ? 'active' : ''}}">{{adGroupsData.noOfAds || 0}}</p>
                </span>
                <span class="adGroupTxtSecondary hideCollapse pull-right"
                      style="padding: 0 30px 0 25px; margin-top: 38px;">
                    Ready <p class="{{ !adGroupsData.READY ? 'active' : '' }}">{{(adGroupsData.READY || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary hideCollapse pull-right"
                      style="padding-left: 25px; margin-top: 38px;">
                    Scheduled <p class="{{ !adGroupsData.SCHEDULED ? 'active' : '' }}">
                    {{(adGroupsData.SCHEDULED || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary hideCollapse pull-right" style="padding-left: 0px; margin-top: 38px;">
                    In Flight <p class="{{ !adGroupsData.IN_FLIGHT ? 'active' : '' }}">
                    {{(adGroupsData.IN_FLIGHT || 0)}}</p>
                </span>
                <span class="adGroupTxtSecondary hideCollapse pull-right zeroPadding" style="width: 60px;">
                    <span class="col-md-12 zeroPadding greyTxt hideCollapse">Total Ads</span>
                    <p class="zeroPadding pull-left {{ !adGroupsData.noOfAds ? 'active' : '' }}"
                       style="color: #21252B; font-size: 24px; line-height: 100%;">
                        {{adGroupsData.noOfAds || 0}}
                    </p>
                </span>
            </div>
        </div>
        <div class="clearfix editAdgroupDiv" ></div>
    </div>

    <div id="collapseAdGroup" ng-if="showHideToggle" class="singleCardWrap">
        <div class="overlay" style="display:none"></div>
        <!--=== Create BTN Ad ===-->
        <div class="col-md-3 adModule adCreateBtn"
             ng-click="createAdforAdGroup(adGroupsData, calculateSpendBudget(adGroupsData.adGroup))">
            <div class="col-md-12">
                <a href="#"
                   class="col-md-12 text-center addMaster">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    <h2>Create Ad</h2>
                </a>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 150px;" ng-show="!workflowData.getADsForGroupData[$index]">
            <div class="common-loading-area"></div>
        </div>
        <div ng-if="workflowData.getADsForGroupData[$index] && workflowData.getADsForGroupData[$index].length > 0">
            <!--=== Single Ad Ready ===-->
            <div class="col-md-3 adModule"
                 ng-repeat="adsData in workflowData.getADsForGroupData[$index] track by adsData.id"
                 ng-click="adsData.state=='DEPLOYING' ? '' :
                    goEdit(adsData, calculateSpendBudget(adGroupsData.adGroup), adGroupsData)">
                <div class="col-md-12 adTitle">
                    <div class="clearfix">
                        <img ng-src="{{adsData.platform.iconUrl}}"
                            height="16"
                            class="pull-left adIconWidget"
                            ng-show="adsData.platform"
                            title="{{adsData.platform.displayName | uppercase}}"/>
                        <span class="pull-left greyTxt adDisplay"
                            ng-show="!(adsData.platform)"
                            data-ng-bind="textConstants.PLATNOTSET">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                            ng-show="(!adsData.isTracking) && (adsData.state === 'READY' ||
                                adsData.state === 'INCOMPLETE')"
                            data-ng-bind="textConstants.NOTPUSHEDPAR">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                              title="ID: {{adsData.sourceId}}"
                              ng-show="(adsData.sourceId && (adsData.pushStatus !== 'FAILED' &&
                                adsData.pushStatus !== 'IN_PROGRESS' && adsData.pushStatus !== 'UNPUSHED'))"
                              data-ng-bind="'ID:' + adsData.sourceId | formatUrl:8">
                        </span>
                    </div>
                    <div style="margin-top:3px;">
                        <span class="greyTxt adDisplay"
                              title="{{adsData.platform.displayName}}"
                              ng-bind="adsData.platform.displayName | formatUrl:12">
                        </span>
                    </div>
                    <!--<span class="pull-left">ID: {{adsData.id}}</span>-->
                </div>
                <div class="col-md-12" style="padding: 0 20px 20px;">
                    <div class="col-md-12 zeroPadding cardTopLayer">
                        <h4 class="col-md-10 adCamp">
                            <div style="word-wrap: break-word;"
                                 ng-bind-html="adsData.nameHtml | textEllipsis: 57"
                                 tooltip="{{adsData.name}}"></div>
                        </h4>
                        <span ng-if="adsData.adFormat"
                              class="glyphicon glyphicon-{{getAdFormatIconName(adsData.adFormat)}} pull-right"
                              aria-hidden="true">
                        </span>
                        <span class="pull-left adTxtGray dateAd" ng-if="adsData.startTime && adsData.endTime">
                            {{utcToLocalTime(adsData.startTime, 'DD MMM YYYY')}} -
                            {{utcToLocalTime(adsData.endTime,'DD MMM YYYY')}}
                        </span>
                        <span class="pull-left adTxtGray dateAd"
                              ng-show="!(adsData.startTime)"
                              data-ng-bind="textConstants.FLTNOTSET">
                        </span>
                    </div>

                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding cardMidLayer">
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding">
                                {{adsData.label ? (adsData.label | toPascalCase) : textConstants.WF_IMPS}}
                            </span>
                            <span class="col-md-12 text-center zeroPadding">
                                {{adsData.calculatedValue ? (adsData.calculatedValue | nrFormat) :
                                textConstants.WF_NOT_SET}}
                            </span>
                        </div>
                         <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding">
                                {{adsData.rateType ? adsData.rateType : textConstants.CPM}}
                            </span>
                            <span class="col-md-12 text-center zeroPadding">
                                {{adsData.rateValue ? (adsData.rateValue | currency:undefined) :
                                textConstants.WF_NOT_SET}}
                            </span>
                        </div>
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding"
                                  data-ng-bind="textConstants.BUDGET">
                            </span>
                            <span class="col-md-12 text-center zeroPadding">
                                {{adsData.totalBudget ? (adsData.totalBudget | currency:undefined) : textConstants.WF_NOT_SET}}
                            </span>
                        </div>
                    </div>

                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding" style="margin-bottom: 10px;">
                        <span class="col-md-12 text-left adTxtGray zeroPadding">
                            Creatives ({{adsData.creatives.length || 0}})
                        </span>
                        <p style="margin: 0; text-transform: lowercase;">
                            <span ng-bind-html="appendSizes(adsData.creatives)"></span>
                        </p>
                    </div>
                    <div class="col-md-12 zeroPadding">
                        <span class="col-md-12 text-left adTxtGray zeroPadding"
                              data-ng-bind="textConstants.TARGETING">
                        </span>
                        <span data-ng-bind="displaySelectedTargets(adsData)"></span>
                    </div>
                </div>
                <span class="pull-right adStatus {{adsData.state.toLowerCase().replace(' ', '')}}">
                    {{adsData.state}}
                    <span ng-if="adsData.pushStatus=='FAILED'"
                          class="pull-right icon-warning"
                          aria-hidden="true"
                          tooltip="{{adsData.pushFeedback}}">
                    </span>
                <span class="pull-right icon-tracking" ng-if="adsData.isTracking"></span>
                </span>
            </div>
        </div>
    </div>
</div>
