<div class="common-loading-area" data-ng-show="!workflowData.campaignGetAdGroupsData"></div>
<div class="col-md-12 adGroup" data-ng-repeat="adGroupsData in workflowData.campaignGetAdGroupsData">
    <div class="adTitle" >
        <div class="col-md-12 zeroPadding adgroupDiv" >
            <a class="collapseIcon"
               role="button"
               id="{{$index}}"
               href=""
               data-ng-click="ToggleAdGroups(this, adGroupsData.adGroup.id, $index, $event)">
                <span class="icon-plus"></span>
            </a>

            <h4 class="pull-left adGroupTxt adGroupTxtName"
                title="{{adGroupsData.adGroup.name}}"
                data-ng-bind-html="adGroupsData.adGroup.nameHtml"></h4>

            <div class="pull-right labelsmargin" style="display:block;">
                <span class="adGroupTxtSecondary " style="padding-right: 30px;">
                    <span class="pull-left greyTxt">Ready</span>
                    <p class="pull-left{{!adGroupsData.READY ? ' active' : ''}}"
                       data-ng-bind="(adGroupsData.READY || 0)">
                    </p>
                    <span class="commonStatusIcon ready_bulb"></span>
                </span>
                <span class="adGroupTxtSecondary" >
                    <span class="pull-left greyTxt">Scheduled</span>
                    <p class="pull-left {{ !adGroupsData.SCHEDULED ? 'active' : ''}}"
                       data-ng-bind="(adGroupsData.SCHEDULED || 0)">
                    </p>
                    <span class="commonStatusIcon scheduled_bulb"></span>
                </span>
                <span class="adGroupTxtSecondary" >
                    <span class="pull-left greyTxt">In Flight</span>
                    <p class="pull-left{{!adGroupsData.IN_FLIGHT ? ' active' : ''}}"
                       data-ng-bind="(adGroupsData.IN_FLIGHT || 0)">
                    </p>
                    <span class="commonStatusIcon in_flight_bulb"></span>
                </span>
                <span class="adGroupTxtSecondary" >
                    <span class="pull-left greyTxt">Total Ads</span>
                    <p class="{{ !adGroupsData.noOfAds ? 'active' : ''}}"
                       data-ng-bind="(adGroupsData.noOfAds || 0)">
                    </p>
                </span>
            </div>
            <div class="pillsWrap" >
                <span class="labelPills" data-ng-if="adGroupsData.labels.length > 0"></span>
                <span class="labelPills{{addHighlightClass(label, '</mark>') ? ' search-highlight' : ''}}"
                      data-ng-repeat="label in adGroupsData.labels track by $index"
                      data-ng-bind-html="label">
                </span>
            </div>
            <div class="zeroPadding dropdown-workflow pull-right hideCollapse" style="position: absolute; right: 0;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        <span class="icon-more-options"></span>
                    </button>
                    <ul class="dropdown-menu" id="moreOptionsAdsGroup" style="right: 0; left: initial;" >
                        <li data-edit-ad-group-section
                            data-ad-group-data="{{adGroupsData}}"
                            data-ad-group-index="{{$index}}">
                            <a class="available" data-ng-bind="textConstants.EDIT"></a>
                        </li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_PAUSE"></a></li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_RESUME"></a></li>
                        <li class="disabled"><a class="available" data-ng-bind="textConstants.WF_ARCHIVE"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 zeroPadding">
                <div class="col-md-4 zeroPadding clearLeft" style="width: 38%;">
                    <span class="col-md-12 zeroPadding greyTxt hideCollapse" style="padding-left: 35px !important;">
                        Group Budget / Unallocated
                    </span>

                    <!--This Only Shows If its "Group Budget" instead of Total Budget-->
                    <!--<div class="pull-left showCollapse" style="padding-left: 35px; margin-top: 6px;">-->
                    <!--    <span>Group Budget</span>-->
                    <!--    <span>$250</span>-->
                    <!--    <span>($85 Unallocated)</span>-->
                    <!--</div>-->

                    <div class="pull-left showCollapse" style="padding-left: 35px; margin-top: 6px;">
                        <span class="greyTxt">Group Budget</span>
                        <span data-ng-bind="calculateBudget(adGroupsData.adGroup) | currency:undefined: 2"></span>
                    </div>

                    <div class="pull-left hideCollapse" style="padding-left: 35px;">
                        <span data-ng-bind="(calculateBudget(adGroupsData.adGroup) | currency:undefined: 2) + ' / ' +
                                            (calculateSpendBudget(adGroupsData.adGroup)| currency:undefined: 2)">
                        </span>
                    </div>

                    <!--<div class="pull-left hideCollapse" style="margin:6px 0 0 30px;">
                        <span>Spend</span>
                        <span>{{(adGroupsData.adGroup.bookedSpend) ? (adGroupsData.adGroup.bookedSpend |
                        currency:undefined:2) :(0| currency:undefined:2)}}</span>
                    </div>-->

                    <div class="pull-left showCollapse" style="margin: 6px 0 0 10px;">
                        / <span class="greyTxt" style="margin-left:5px;">Unallocated</span>
                        <span data-ng-bind="calculateSpendBudget(adGroupsData.adGroup) | currency:undefined: 2"></span>
                    </div>
                </div>

                <div class="pull-left adGroupTxt flightDatesTxt">
                    <span class="pull-left clearBoth greyTxt hideCollapse">Flight Dates</span>
                    <span class="clearLeft pull-left icon-calendar"></span>
                    <span class="pull-left iconDates">
                        {{utcToLocalTime(adGroupsData.adGroup.startTime, 'ddd DD MMM YYYY')}} -
                        {{utcToLocalTime(adGroupsData.adGroup.endTime, 'ddd DD MMM YYYY')}}
                        ({{numOfDays(adGroupsData.adGroup.startTime,adGroupsData.adGroup.endTime)}} Days)
                    </span>
                </div>
                <div class="col-md-4 zeroPadding pull-right">
                    <span class="col-md-12 zeroPadding greyTxt hideCollapse" style="padding-left: 35px !important;">
                        Line Item
                    </span>
                    <div class="pull-left showCollapse" style="padding-left: 35px; margin-top: 6px;">
                        <span class="greyTxt">Line Item</span>
                        <span data-ng-bind="adGroupsData.adGroup.lineitemName"></span>
                    </div>
                    <div class="pull-left hideCollapse" style="padding-left: 35px;">
                        <span data-ng-bind="adGroupsData.adGroup.lineitemName">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix editAdgroupDiv"></div>
    </div>
    <div id="collapseAdGroup" data-ng-if="showHideToggle" class="singleCardWrap">
        <div class="overlay" style="display:none"></div>
        <!--=== Create BTN Ad ===-->
        <div class="col-md-3 adModule adCreateBtn"
             data-ng-click="createAdforAdGroup(adGroupsData, calculateSpendBudget(adGroupsData.adGroup))">
            <div class="col-md-12">
                <a href="#"
                   class="col-md-12 text-center addMaster">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    <h2>Create Ad</h2>
                </a>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 150px;" data-ng-show="!workflowData.getADsForGroupData[$index]">
            <div class="common-loading-area"></div>
        </div>
        <div data-ng-if="workflowData.getADsForGroupData[$index] && workflowData.getADsForGroupData[$index].length > 0">
            <!--=== Single Ad Ready ===-->
            <div class="col-md-3 adModule"
                 data-ng-repeat="adsData in workflowData.getADsForGroupData[$index] track by adsData.id"
                 data-ng-click="adsData.state=='DEPLOYING' ? '' :
                    goEdit(adsData, calculateSpendBudget(adGroupsData.adGroup), adGroupsData)">
                <div class="col-md-12 adTitle">
                    <div class="clearfix">
                        <img data-ng-src="{{adsData.platform.iconUrl}}"
                            height="16"
                            class="pull-left adIconWidget"
                            data-ng-show="adsData.platform"
                            title="{{adsData.platform.displayName | uppercase}}"/>
                        <span class="pull-left greyTxt adDisplay"
                            data-ng-show="!(adsData.platform)"
                            data-ng-bind="textConstants.PLATNOTSET">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                            data-ng-show="(!adsData.isTracking) && (adsData.state === 'READY' ||
                                adsData.state === 'INCOMPLETE')"
                            data-ng-bind="textConstants.NOTPUSHEDPAR">
                        </span>
                        <span class="pull-right greyTxt adDisplay"
                              title="ID: {{adsData.sourceId}}"
                              data-ng-show="(adsData.sourceId && (adsData.pushStatus !== 'FAILED' &&
                                adsData.pushStatus !== 'IN_PROGRESS' && adsData.pushStatus !== 'UNPUSHED'))"
                              data-ng-bind="'ID:' + adsData.sourceId | formatUrl:8">
                        </span>
                    </div>
                    <div style="margin-top:3px;">
                        <span class="greyTxt adDisplay"
                              title="{{adsData.platform.displayName}}"
                              data-ng-bind="adsData.platform.displayName | formatUrl: 12">
                        </span>
                    </div>

                    <!--<span class="pull-left">ID: {{adsData.id}}</span>-->

                </div>
                <div class="col-md-12" style="padding: 0 20px 20px;">
                    <div class="col-md-12 zeroPadding cardTopLayer">
                        <h4 class="col-md-10 adCamp">
                            <div style="word-wrap: break-word;"
                                 data-ng-bind-html="adsData.nameHtml | textEllipsis: 57"
                                 tooltip="{{adsData.name}}">
                            </div>
                        </h4>
                        <span data-ng-if="adsData.adFormat"
                              class="glyphicon glyphicon-{{getAdFormatIconName(adsData.adFormat)}} pull-right"
                              aria-hidden="true">
                        </span>
                        <span class="pull-left adTxtGray dateAd"
                              data-ng-if="adsData.startTime && adsData.endTime"
                              data-ng-bind="(utcToLocalTime(adsData.startTime, 'DD MMM YYYY')) + ' - ' +
                              (utcToLocalTime(adsData.endTime,'DD MMM YYYY'))">
                        </span>
                        <span class="pull-left adTxtGray dateAd"
                              data-ng-show="!(adsData.startTime)"
                              data-ng-bind="textConstants.FLTNOTSET">
                        </span>
                    </div>
                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding cardMidLayer">
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding"
                                  data-ng-bind="adsData.label ? (adsData.label | toPascalCase) : textConstants.WF_IMPS">
                            </span>
                            <span class="col-md-12 text-center zeroPadding"
                                  data-ng-bind="adsData.calculatedValue ? (adsData.calculatedValue | nrFormat) :
                                                textConstants.WF_NOT_SET">
                            </span>
                        </div>
                         <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding"
                                  data-ng-bind="adsData.rateType ? adsData.rateType : textConstants.CPM">
                            </span>
                            <span class="col-md-12 text-center zeroPadding"
                                  data-ng-bind="adsData.rateValue ? (adsData.rateValue | currency:undefined) :
                                                textConstants.WF_NOT_SET">
                            </span>
                        </div>
                        <div class="col-md-4 zeroPadding text-center">
                            <span class="col-md-12 text-center adTxtGray zeroPadding"
                                  data-ng-bind="textConstants.BUDGET">
                            </span>
                            <span class="col-md-12 text-center zeroPadding"
                                  data-ng-bind="adsData.totalBudget ?
                                               (adsData.totalBudget | currency:undefined) :
                                               textConstants.WF_NOT_SET">
                            </span>
                        </div>
                    </div>
                    <div class="spacer">
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-12 zeroPadding" style="margin-bottom: 10px;">
                        <span class="col-md-12 text-left adTxtGray zeroPadding"
                              data-ng-bind="'Creatives (' + (adsData.creatives.length || 0) + ')'">
                        </span>
                        <p style="margin: 0; text-transform: lowercase;">
                            <span data-ng-bind-html="appendSizes(adsData.creatives)"></span>
                        </p>
                    </div>
                    <div class="col-md-12 zeroPadding">
                        <span class="col-md-12 text-left adTxtGray zeroPadding"
                              data-ng-bind="textConstants.TARGETING">
                        </span>
                        <span data-ng-bind="displaySelectedTargets(adsData)"></span>
                    </div>
                </div>
                <span class="pull-right adStatus {{adsData.state.toLowerCase().replace(' ', '')}}">
                    {{adsData.state}}
                    <span data-ng-if="adsData.pushStatus=='FAILED'"
                          class="pull-right icon-warning"
                          aria-hidden="true"
                          tooltip="{{adsData.pushFeedback}}">
                    </span>
                <span class="pull-right icon-tracking" data-ng-if="adsData.isTracking"></span>
                </span>
            </div>
        </div>
    </div>
</div>
