<script type="text/javascript">
  // Mock our /range_breakdown call
  $.mockjax({
    url: '/range_breakdown_options',
    responseText: {daily:"Daily",weekly:"Weekly"}
  });
</script>
<h2 class="heading bordered">
  <button class="rui-btn pull-right" id="hideOrderMetricsBtn">
    <span class="action-hide"><i class="minimize-icon"></i> <span>Hide</span></span>
    <span class="action-show"><i class="maximize-icon"></i> <span>Show</span></span>
  </button>
  <i class="activity_log-icon"></i>
  Performance
</h2>
<div id="order-metrics-container">
</div>