#layout.pure-g-r
  .pure-u.sidebar
    .content
      .form-search
        .input-append
          %input.search-query{:type => "text"}/
          %button.btn{:type => "submit"} Search
      .result
        Search results here

  .pure-u.main
    .content
      Order details and ads here

