.layout.pure-g
  .pure-u.sidebar
    .content
      .form-search
        .input-append
          %input.search-query{:type => "text"}/
          %button#search_button.btn{:type => "button"} Search
        .hint
          Advertiser name, Order name, Id, Source Id

      .order-new
        Click to create new order

      .order-search-result

  .pure-u.main
    .content


:javascript
  $(document).ready(function() {
    ReachUI.Buying.SearchOrders.initialize();
  });
