#order_layout.pure-g
  #order_list.pure-u
    .content
      .form-search
        .input-append
          %input.search-query{:type => "text"}/
          %button#search_button.btn{:type => "button"} Search
        .hint
          Advertiser name, Order name, Id, Source Id

      .order-new
        Click to create new order

      .order-search-result

  #details.pure-u
    .content

:javascript
  $(document).ready(function() {
    ReachUI.Buying.SearchOrders.initialize();
  });
