<div class="modal-body search-advertisers-modal">
  <legend>Advertisers</legend>

  <div class="model-bg">
    <ul class="nav nav-tabs" id="advertisersTab">
      <li class="active"><a href="#searchAdvertiser">Search Advertisers</a></li>
      <li><a href="#pasteAdvertiser">Paste Advertisers</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="searchAdvertiser">
        <div id="advertiserSearchView" class="advertiser-search-view"></div>
      </div>
      <div class="tab-pane" id="pasteAdvertiser">
        <div id="advertiserPasteView" class="advertiser-paste-view"></div>
      </div>
    </div>
  </div>
</div>