<table class="admin-commit-table">
  <thead>
    <th>
      Site
    </th>
    <th>
      Advertiser
    </th>
    <th>
      Username
    </th>
    <th style="display:none">
      Updated At
    </th>
    <th>
      Created At
    </th>
  </thead>
  <tbody>
  </tbody>
</table>