<div class="modal-body block-sites-modal">

  <form class="form-horizontal" onsubmit="return false">
    <legend>Advertiser Groups</legend>

    <fieldset>
      <div class="control-group search-control">
        <div class="controls">
          <div class="input-append">
            <input id="search_input" placeholder="Advertiser Groups" type="text">
            <div class="btn-group">
              <button class="btn" id="search_button">Search</button>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group select-control">
        <div class="controls">
          <select id="advertiserGroupList" multiple="multiple">
          </select>
          <div id="loading_div" class="loading-div">
            <span class="loading-img"></span>
          </div>
        </div>
      </div>

    </fieldset>
  </form>

</div>

<div class="modal-footer">
  <button type= "button" id="btnBlock" class="btn btn-primary">Add</button>
  <button id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>