<div class="control-group block-site-control">
  <label class="control-label" for="selectmultiple">Blocked Advertiser Groups</label>

  <div class="control-group">
    <div class="controls">
      <button id="btnAdd" class="btn">Add</button>
      <button id="btnRemove" class="btn">Remove</button>
    </div>
  </div>

  <div class="controls">
    <select id="blockedAdvertiserGroupList" multiple="multiple">
    </select>
    <p class="help-block"><small>* Changes not pushed to DFP.</small></p>
  </div>
</div>