
<i id="expand_indicator" class="<%= expand_indicator%> expand-icon pull-left"/>
<label id="advertiser_group_name" title="<%= advertiser_group_name %>">
  <%= pending_block_indicator %> <%= advertiser_group_name%>
</label>
<ul id="advertiserList" class="" style="display: none;"></ul>