<div class="control-group block-site-control">
  <label class="control-label" for="selectmultiple">Blocked Advertiser Blocks</label>
  <div class="controls">
    <select id="selectmultiple" name="selectmultiple" multiple="multiple">
    </select>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button id="btnAdd" class="btn">Add</button>
    <button id="btnRemove" class="btn">Remove</button>
  </div>
</div>