<div class="control-group block-site-control">
  <label class="control-label" for="selectmultiple">Blocked Advertiser Groups</label>
  <div class="controls">
    <select id="blockedAdvertiserGroupList" multiple="multiple">
    </select>
    <p class="help-block"><small>* Changes not pushed on XFP.</small></p>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button id="btnAdd" class="btn">Add</button>
    <button id="btnRemove" class="btn">Remove</button>
  </div>
</div>