<div class="control-group block-site-control">
  <label class="control-label" for="selectmultiple" id="lblTabName">Blacklisted Advertisers</label>

  <div class="control-group">
    <div class="controls">
      <button id="btnAdd" class="btn">Add</button>
      <button id="btnRemove" class="btn">Remove</button>
      <button id="btnRecommit" class="btn btn-recommit">Recommit</button>
    </div>
  </div>

  <div class="controls">
    <ul id="blockedAdvertiserList" class="admin-tree-list"></ul>
    <div class="loading-div" id="loading_div" style="display:none;">
      <span class="loading-img"></span>
    </div>
    <p class="block-site-help-block"><small>(+) Added to the list (not pushed to DFP).</small></p>
    <p class="block-site-help-block"><small>(*) In progress (cannot be removed).</small></p>
    <p class="block-site-help-block"><small>(-) Removed from the list (not pushed to DFP).</small></p>
  </div>
</div>

