<div class="commit-overview-content">
  <legend><span>Commit Summary</span></legend>

  <div class="modal-body block-commit-modal">

    <h2><b>Blocks</b></h2>
    <h3>The following Advertisers will be blacklisted:</h3>
    <div id="blacklistedAdvertisersOverviewView" class ="blacklisted-advertisers" />
    <h3>The following Advertiser Groups will be blacklisted:</h3>
    <div id="blacklistedAdvertiserGroupsOverviewView" class ="blacklisted-advertisers-group" />

    <h2><b>Unblocks</b></h2>
    <h3>The following Advertisers will be whitelisted:</h3>
    <div id="whitelistedAdvertisersOverviewView" class ="whitelisted-advertisers" />
    <h3>The following Advertiser Groups will be whitelisted:</h3>
    <div id="whitelistedAdvertiserGroupsOverviewView" class ="whitelisted-advertisers-group" />

  </div>

  <div class="modal-footer">
    <button type= "button" id="btnCommit" class="btn btn-primary">Commit</button>
    <button id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>