<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="control-group block-site-control">
      <div class="controls">
        <textarea id="textAreaAdvertiser"></textarea>
      </div>
      <label id="advertisers_error" class="help-inline form-error" />
    </div>

  </fieldset>
</form>

<div class="modal-footer">
  <button type="button" id="btnBlock" class="btn btn-primary">Block</button>
  <button type="button" id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>