<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="control-group paste-advt-control">
      <div class="controls">
        <div class="paste_advertisers">
          <label>Matching</label>
          <textarea id="textAreaAdvertiser"></textarea>
        </div>
        <div class="validate_advertisers">
          <label>Not Matching</label>
          <textarea id="advertisers_error" wrap="hard"></textarea>
        </div>

      </div>

    </div>

  </fieldset>
</form>

<div class="modal-footer">
  <button type="button" id="btnValidate" class="btn">Validate</button>
  <button type="button" id="btnBlock" class="btn btn-primary" disabled="disabled">Block</button>
  <button type="button" id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>