<ul id="sitesTab" class="nav nav-tabs black-white-list-tab">
  <li class="active"><a id="blacklistedSitesView" href="#blacklistedSites">Blacklisted Sites</a></li>
  <li><a id="whitelistedSitesView" href="#whitelistedSites">Whitelisted Sites</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="blacklistedSites">
    <div id="blacklistedSitesSearchView"></div>
  </div>
  <div class="tab-pane" id="whitelistedSites">
    <div id="whitelistedSitesSearchView"></div>
  </div>
</div>