<div class="attachment-comment">
  <div class="pure-u-3-5">
    <a href="#/path-to-file-downloadable-file" onclick="alert('Show download dialog');" class="task-attachment">
      <i class="attachment-type archive-icon"></i> Creatives.zip
    </a>
  </div>
  <div class="pure-u-1-6 date">
    <%= moment(created_at).format("MM/DD/YYYY hh:mm") %>
  </div>
</div>
<div class="system-comment">
  <div class="pure-u-3-5">
    <%= system_comment %>
  </div>
</div>
