<div class="system-comment">
    <div class="pure-u-3-5">
        <%= note %>
        <!--<p class="activity-log-subrow">
            <span class="task-type">Creative</span>
            <span class="task-assignee">Peter Parker</span>
            <span class="task-due-date">08/05/2014</span>
            <a href="#/path-to-file-downloadable-file" onclick="alert('Show download dialog');" class="task-attachment">
                <i class="attachment-type archive-icon"></i> Creatives.zip
            </a>
        </p>-->
    </div>
    <div class="pure-u-1-6 date">
        <%= moment(created_at).format("MM/DD/YYYY") %>
    </div>
</div>
