<div class="activity-comment">
    <div class="pure-u-1-5 username">
        <%= created_by %>
    </div>
    <div class="pure-u-3-5 system-comment">
        <%= note %>
    </div>
    <div class="pure-u-1-6 date">
        <%= created_at %>
    </div>
</div>