<popup-msg data-ng-show="flashMessage"
           data-ng-controller="popUpMsgCtr"
           data-ng-init="init('flashMessage', 'WF_CAMPAIGN_ARCHIVE_FAILURE')">
</popup-msg>
<admin-header></admin-header>
<div class="col-md-12 zeroPadding accounts-page" style="margin-bottom: 30px;">
    <!--Header-->
    <div class="col-md-12 zeroPadding heading" style="margin: 30px 0 15px 0;">
        <h1 class="pull-left" style="margin: 0 0 30px 0;">Accounts</h1>

        <!--Create Account Btn-->
        <div class="pull-right btn-group create" role="group" aria-label="..." data-ng-if="isSuperAdmin">
            <a class="btn btn-default" data-ng-click="AddOrEditAccountModal('create')" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                <span class="icon-plus"></span>
                <span>Create</span>
            </a>
        </div>
    </div>

    <!--Body-->
    <div class="col-md-12 each-account-details" data-ng-repeat="client in clientsDetails[0]" id="client_{{client.id}}">
        <div class="pull-left particular-account-box"
             data-ng-class="[(clientsDetails[client.id].advertisers.length ===  0) ? 'no-data-open' : '',
                            (clientsDetails[client.id].advertisers.length) > 0 ? 'data-loaded' : '']">
            <div class="clearfix">
                <span class="pull-left icon-arrow-down-thick"
                      data-ng-if="client.isLeafNode || client.hasChildren"
                      data-ng-click="getSubClientList($event, client);">
                </span>
                <div class="pull-left account-name" data-ng-click="AddOrEditAccountModal('edit', client)">
                    <span class="pull-left" data-ng-bind="client.name"></span>
                    <style>
                        .tooltip-inner {
                            white-space:pre;
                            max-width: none;
                        }
                    </style>
                    <span class="pull-left icon-usd" data-html="true"
                          tooltip="{{feesTooltip(client)}}"
                          tooltip-placement="right"
                          style="margin: 1px 0 0 5px;">
                    </span>
                    <span class="pull-left"
                          style="text-transform: capitalize;"
                          data-ng-bind="client.clientType | lowercase">
                    </span>
                </div>
                <div class="pull-right btn btn-default"
                     data-ng-if="!client.isLeafNode"
                     data-ng-click="AddOrEditAccountModal('create', client.id)"
                     style="margin-left: 15px;">
                    Create Sub Account
                </div>
                <span class="pull-right btn btn-default"
                      style="padding: 9px 15px 8px 15px;"
                      data-ng-if="!client.hasChildren"
                      data-ng-click="AddOrEditAdvertiserModal({}, 'create', client)">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Add Advertiser
                </span>
            </div>
            <div class="advertiser-list"
                 data-ng-if="clientsDetails[client.id].advertisers.length >  0"
                 id="client_{{client.id}}_adv">
                <div class="each-advertiser"
                     data-ng-repeat="adv in clientsDetails[client.id].advertisers"
                     data-ng-if="clientsDetails[client.id].advertisers.length >  0"
                     data-ng-class="[(clientsDetails[client.id].brands[adv.id].length ===  0) ? 'no-data-open' : '',
                                    (clientsDetails[client.id].brands[adv.id].length) > 0 ? 'brand-data-loaded' : '']">
                    <div class="clearfix advertiser-name">
                        <span class="pull-left adv-name"
                              data-ng-click="AddOrEditAdvertiserModal(adv, 'edit', client)">
                            <span class="label_heading">Advertiser: </span>
                            {{adv.name}}
                        </span>
                        <span class="pull-left adding-section"
                              data-ng-click="AddOrEditBrandModal(adv, 'create', client, brand)">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Add Brand
                        </span>
                        <span class="pull-left adding-section"
                              data-ng-click="show_advertisers_resp_brands($event, client.id, adv.id);">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            View Brands
                        </span>
                    </div>
                    <div class="advertiser-resp-brands-list"
                         style="margin-left:40px;"
                         id="client_{{client.id}}_adv_{{adv.id}}">
                        <div class="clearfix each-brand-name"
                             data-ng-repeat="brand in clientsDetails[client.id].brands[adv.id]"
                             data-ng-if="clientsDetails[client.id].brands[adv.id].length > 0">
                            <span class="pull-left brand-name">
                                <span class="label_heading">Brand: </span>
                                {{brand.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div data-ng-if="clientsDetails[client.id].advertiserLoader" class="common-load-more"></div>
            </div>
            <ng-include data-ng-init="clientId=client.id"
                        src="'/views/workflow/partials/admin_accounts_subclientList.html'"
                        class="ng-scope">
            </ng-include>
        </div>
    </div>
    <div data-ng-if="loadTopClientList" style="margin-top:188px;" class="common-load-more"></div>
</div>
