<popup-msg ng-show="flashMessage" ng-controller="popUpMsgCtr"
           ng-init="init('flashMessage','WF_USER_CREATION_FAIL')"></popup-msg>
<admin-header></admin-header>
<div class="users-creation-page" >
    <!--Header-->
    <div class="col-md-12 zeroPadding" style="margin-top: 45px; padding-left: 0px;">
        <div class="col-md-4 zeroPadding"> <h1 class="zeroMargin">Advertiser</h1></div>
        <div class="col-md-4 zeroPadding"><span class="pull-right" style="font-size: 12px; margin: 9px 10px 0 0;"><span data-ng-bind="advertisersTotal"></span> Advertisers</span></div>
        <div class="btn-group pull-right col-md-4 zeroPadding">
            <button type="button" class="btn btn-default pull-right" style="display: none">
                <span class="icon-filter" style="margin: -1px 0 0;"></span>
            </button>

            <div class="searchInput pull-right">
                <a class="btn btn-default searchInputBtnInline" ng-click="campaignSearchFunc()">
                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                </a>
                <div class="input-group searchInputForm" >
                    <input type="text"
                           class="form-control"
                           name="usersSearch"
                           ng-model="usersSearch"
                           ng-keyup="searchFunc($event)"
                           search-box
                           placeholder="Search Advertisers...">
                    <div class="btn btn-default searchClearInputBtn" ng-click="searchHideInput()">
                        <span class="icon-clear" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 zeroPadding heading">
        <div class="col-md-4 zeroPadding">
            <label class="col-sm-4 greyTxt">Advertiser Name</label>
            <input type="text"
                   class="pull-left clearLeft"
                   placeholder="Add Name"
                   id="advertiserNameInp"
                   ng-model="advertiserName"
                   data-ng-blur="leaveFocusAddAdvertiser()"
                   ng-keyup="mode == 'create' ? showDropdown() : ''" style="width:400px; border-top-right-radius: 0px; border-bottom-right-radius: 0;" ng-class="{'edit-input':isEditAdvertiser}">
        </div>
        <div class="col-md-6" style="padding: 0 15px;">
            <div class="col-md-6 dropdown-workflow accountCode">
                <label class="greyTxt">Advertiser Code:</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle setSelectedAdvertiserCode"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                        <span class="text" data-ng-bind="setSelectedAdvertiserCode ? setSelectedAdvertiserCode : 'Select Code'"></span>
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" data-toggle="dropdown">
                        <li class="available" data-ng-repeat="code in codeList" data-ng-click="selectAdvertiserCode($event,code)">
                            <a data-ng-bind="code"></a>
                        </li>
                        <li class="available" data-ng-click="selectAdvertiserCode($event,'Others')">
                            <a data-ng-bind="'Others'"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 customAdvertiserCode" style="padding: 0 5px;" data-ng-show="setSelectedAdvertiserCode == 'Others'">
                <label class="greyTxt">Enter Code:</label>
                <input type="text"
                       class="form-control"
                       placeholder="Add Code"
                       data-ng-model="customAdvertiserCode"
                       data-ng-blur="leaveFocusCustomAdvertiserCode()"
                       data-toggle="dropdown">
                <div>
                    <span class="errorText codeExist" ng-if="advertiserCodeExist" data-ng-bind="textConstants.ADVERTISER_CODE_EXIST"></span>
                </div>
            </div>
        </div>
        <div class="btn-group create col-md-2 zeroPadding" role="group" aria-label="..." style="margin-top: 30px;">
            <div></div>
            <a class="btn btn-default pull-right" ng-click="createAdvertiser()" style="border-radius:0;">
                <span class="icon-plus"></span>
                <span data-ng-bind="isEditAdvertiser ? 'Update' : 'Create'"></span>
            </a>
            <!--<admin-header></admin-header>-->
        </div>

            <span class="delete_row" ng-show="isEditAdvertiser" data-ng-click="clearEdit()"
                  style="position: absolute;top: 32px;left: 367px;"></span>
    </div>
    <!--User List-->
    <div class="table-responsive user-list animated" id="table_responsive" style="margin-bottom: 30px;">
        <div class="vistoTable" id="visto_table">
            <div class="thead thin">
                <div class="tr">
                    <div class="col-md-5 th">Advertisers Name</div>
                    <div class="col-md-1 th">Id</div>
                    <div class="col-md-1 th">Code</div>
                    <div class="col-md-3 th">Clients Associated</div>
                    <div class="col-md-2 th" >Created At</div>
                </div>
            </div>

            <div class="tbody thin" style="height:350px;overflow-y:scroll;">
                <div class="tr" ng-repeat="advertiser in advertisersData" data-ng-click="editAdvertiser(advertiser)">
                    <div class="td col-md-5" >
                        <div class="col-md-10 zeroPadding" data-ng-bind="advertiser.name" ></div>
                        <div class="pull-right col-md-2 edit" style="margin-right:10px ;"></div>
                    </div>

                    <div class="td col-md-1">
                        <div data-ng-bind="advertiser.id"></div>
                    </div>

                    <div class="td col-md-1">
                        <div data-ng-bind="advertiser.code"></div>
                    </div>

                    <div class="td col-md-3">
                        <div data-ng-bind="advertiser.clients"></div>
                    </div>

                    <div class="td col-md-2">
                        <div data-ng-bind="advertiser.createdAt | date : 'EEE, MMM d yyyy'"></div>
                    </div>
                </div>
                <div ng-if="loadAdvertiserList" class="common-load-more">
                </div>
            </div>
        </div>


        <div id="maskWindow" style="width: 100%;height: 100%;background: rgba(255, 255, 253, 0.57);position: absolute;left: 0px;top: 0px;display:none">
            <span class="common-load-more" style="position: absolute;z-index: 999999;top: 50%;left: 50%;transform: translateY(-50%);transform: translate(-50%,-50%);"></span>
        </div>
    </div>
