<div class="popCreativeLib" ng-init ="abc()" ng-show="isAddCreativePopup" ng-controller="CreativeController">
<div id="creative">
    <popup-msg ng-show="createAlertMessage" ng-controller="popUpMsgCtr"
               ng-init="init('createAlertMessage','WF_CAMPAIGN_ARCHIVE_FAILURE')"></popup-msg>
    <!-- Header Starts -->
    <div class="page_header_container">
        <div class="col-md-10 containerWrap">
	    <div class="closeBtnCreative" ng-click="cancelBtn()">
		<img src="/images/workflow/icon_back.svg" class="pull-left" alt="" height="20" style=""/>
		<p class="">Back</p>
	    </div>
	    <div class="col-md-12 zeroPadding">
		<!--<span class="breadcrumbFlow">Creative Tag Library</span>-->
		<!--<img src="/assets/images/workflow/arrowBreadcrumbs.png" class="pull-left" alt="" width="10" style="margin: 5px 18px;"/>-->
		<h2 class="pull-left" style="margin: 0;">Add Creative</h2>
	    </div>
        </div>
    </div>
    <!-- Header Ends -->
    <!--=== List Starts ===-->
    <div class="creativeList">
        <div class="col-md-12 containerWrap">
            <div class="col-md-6 zeroPadding clearfix nav_filters">
                <creative-drop-down></creative-drop-down>
            </div>

            <form role="form" name="formCreativeCreate" id="formCreativeCreate" novalidate>
				<div class="col-md-6 zeroPadding pull-right saveCreativeBtn">
                    <div ng-show="addedSuccessfully" ng-model="addedSuccessfully" class="text-right">{{Message}}</div>
					<button type="submit" class="btn btn-primary pull-right" ng-disabled="disableCancelSave" id="saveCreative" > Save Creative</button>
                    <a class="btn btn-link pull-right" role="button" ng-disabled="disableCancelSave" ng-click="cancelBtn()"> Cancel</a>
                </div>
                <!--<div class="col-md-12 zeroPadding clearfix nav_filters">-->
                <!--<creative-drop-down></creative-drop-down>-->
                <!--</div>-->

                    <div class="form-group col-md-8" show-errors>
                        <label for="name" class="greyTxt">Creative Name</label>
                        <input type="text" class="form-control ng-pristine ng-valid" remove-special-character ='remove-special-character' id="name" name="name" ng-model="name" placeholder="Max 250 characters. No symbols or punctuation" required>
                        <label ng-if="formCreativeCreate.name.$error.required"  class="col-sm-12 control-label greyTxt errorLabel">{{textConstants.WF_MANDATORY_CREATIVE_NAME}}</label>
                    </div>
                    <div class="col-md-12 zeroPadding clearfix nav_filters" style="display:none;">
                        <creative-drop-down></creative-drop-down>
                    </div>
                    <div class="col-sm-12 zeroPadding">
                        <div class="form-group col-sm-3"  style="padding-left: 0;" show-errors>
                            <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels">{{ textConstants.ADVERTISERS }}</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="adPage">
                                        <span class="text">{{advertiserName ? advertiserName : 'Select Advertiser' }}</span>
                                        <!--<span class="text" ng-if="mode == 'edit'">{{mode == 'edit' ? editCampaignData.advertiserName : 'Select Advertiser' }}</span>-->
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="advertiserDDL" ng-if="mode !== 'edit'">
                                        <li ng-repeat="advertiser in advertisers track by advertiser.id" class="available"><a ng-click="selectHandler('advertiser', advertiser)">{{advertiser.name}}</a></li>
                                    </ul>
                                </div>
                                <input class="form-control" type="hidden" name="advertiserId" ng-model="creative.advertiserId" ng-update-hidden required/>
                            </div>
                            <label ng-if="formCreativeCreate.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel">Please select the Advertiser.</label>
                        </div>
                        <div class="form-group col-sm-3" style="margin-left: 30px;">
                            <label for="brandDDL" class="col-sm-12  greyTxt miniLabels">{{ textConstants.BRAND }}</label>
                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text">{{brandName ? brandName : 'Select Brand' }}</span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="brandDDL"  id="brandDDL">
                                        <li ng-repeat="brand in brands track by brand.id" class="available"><a ng-click="selectHandler('brand', brand)">{{brand.name}}</a></li>
                                    </ul>
                                    <input type="hidden" name="brandId" ng-model="creative.brandId" ng-update-hidden />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3" show-errors>
                        <label for="sel1" class="greyTxt">Ad Server</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeAdServer" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" ng-bind="selectedAdServer ? selectedAdServer.name: 'Select Ad Server'"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="sel1" id="sel1">
                                    <li class="available" ng-repeat="adServer in creativeAdServers track by adServer.id">
                                        <a ng-click="adServerSelected(adServer)">{{adServer.name}}</a>
                                    </li>
                                </ul>
                                <input class="form-control" ng-model="selectedAdServer.id" type="hidden" name="creativeAdServer" ng-update-hidden required/>
                            </div>
                        </div>
                        <label ng-if="formCreativeCreate.creativeAdServer.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;">Please select the Ad Server size.</label>
                    </div>

                    <!--Ad format Type-->
                    <div class="col-md-12 zeroPadding adFormatChkBox" style="margin-top: 20px;">
                        <div class="col-md-12 greyTxt" data-ng-bind="textConstants.WF_AD_FORMAT"></div>
                        <div class="goalBtnWithPopup">
                            <div class="btn-group goalBtnGroup zeroPadding"
                                 ng-class="{lastBtnGroup: $last, firstBtnGroup: $first}"
                                 ng-repeat="adformat in creativeSizeData.adFormats track by adformat.id">
                                <label class="btn btn-primary {{adformat.active ? 'active' : '' }} {{(adformat.disabled) ? 'disabled' : '' }}"
                                       aria-disabled="{{(adformat.disabled) ? true : false }}">
                                    <input type="radio" value="{{adformat.name}}"class="btn_rad" ng-click="adFormatSelection(adformat.name, $event)" ng-checked="adformat.active">
                                    <div class="hideRadioBtn" style="margin-top: -18px;">
                                        <div class="icon-{{getAdFormatIconName(adformat.name)}}"></div>
                                        <span data-ng-bind="adformat.name"></span>
                                    </div>

                                </label>
                            </div>
                            <input  type="hidden" name="creativeFormat" ng-model="creativeFormat"  ng-update-hidden  required/>
                        </div>
                    </div>

                    <!---->
                    <div class="form-group col-md-3">
                        <label for="sel1" class="greyTxt">Creative Template</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeTemplate" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" ng-bind="CreativeTemplate ? CreativeTemplate.name:'Select Template'"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="sel1" id="sel1">
                                    <li style="padding-left:15px;" class="available" ng-repeat="template in creativeTemplates track by template.id">
                                        <a ng-click="onTemplateSelected(template)">{{template.name}}</a>
                                    </li>
                                </ul>
                                <input name="creativeTemplate" ng-model="adData.creativeTemplate" type="hidden"  ng-update-hidden/>
                            </div>
                        </div>
                        <!--<label ng-if="formCreativeCreate.creativeTemplate.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;">Please select the Ad Server size.</label>-->
                    </div>
                    <!--Static template Ui Elements-->
                    <div ng-hide="$parent.TrackingIntegrationsSelected" class="form-group col-md-12" show-errors>
                        <label for="tag" class="col-md-12 zeroPadding greyTxt">Secure Tag (SSL compatible)</label>
                        <textarea class="form-control col-md-12 ng-pristine ng-valid" rows="15" name="tag" id="tag" placeholder="Copy and paste the tag from your ad server" ng-model="tag" required></textarea>
                        <label ng-if="formCreativeCreate.tag.$error.required" class="col-sm-12 control-label greyTxt errorLabel">{{textConstants.SSL_ERROR_MESSAGE}}</label>
                        <label ng-show="WrongTag" class="col-sm-12 control-label customErrorLabel">{{IncorrectTagMessage}}</label>
                    </div>

                    <div class="form-group col-md-5 radioBtnToggle" style="padding-top: 20px">
                        <div class="label-txt">SSL Compatible</div>
                        <div class="schedule-on-off-btn">
                            <input type="checkbox" checked data-toggle="toggle" id="toggle" data-on=" true" data-off="false" disabled="true">
                            <input type="hidden"  name="sslEnable" value="true" >
                        </div>
                    </div>
                    <div class="form-group col-md-3" show-errors="" style="clear: left;">
                        <label for="sel1" class="greyTxt">Size</label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeSize" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">{{adData.creativeSize ? adData.creativeSize.size :  'Select Size'}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-search" aria-labelledby="sel1" id="sel1">
                                    <li class="searchBar">
                                        <div class="input-group col-md-12 zeroPadding">
                                            <input type="text" class="form-control col-md-12" id="listBoxSize" ng-model="newData.creativeSize" placeholder="Search"/>
                                            <div class="icon-search"></div>
                                        </div>
                                    </li>
                                    <span ng-if="!newData.creativeSize" class="greyTxt" style="margin-left:15px; margin-top:10px;">POPULAR SIZES</span>
                                    <li>
                                        <ul><li class="available" ng-repeat="creativePopSizes in creativePopularSizes | filter:newData.creativeSize track by creativePopSizes.id"><a ng-click="dropBoxItemSelected(creativePopSizes, 'creativeSize')">{{creativePopSizes.size}}</a></li></ul>
                                    </li>
                                    <span class="greyTxt" style="margin-left:15px">AVAILABLE SIZES</span>
                                    <li style="padding-left:15px;" class="available" ng-repeat="creativeSize in creativeSizeData.creativeSize | filter:newData.creativeSize track by creativeSize.id">
                                        <a ng-click="dropBoxItemSelected(creativeSize, 'creativeSize')">{{creativeSize.size | lowercase}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input  class="form-control" ng-model="adData.creativeSize.id" type="hidden" name="creativeSize" ng-update-hidden required/>
                        <label ng-if="formCreativeCreate.creativeSize.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;">Please select the creative size.</label>
                    </div>


                    <!--Template from Json to be appended on this DIV-->

                    <div class="creativeTemplate"></div>

                </form>
            </div>
        </div>
        <!--=== List Ends ===-->
    </div>

    <div class="about_popup popup-holder" style="display:none;">
        <div class="modal-header">
            <!-- <span class="close unselectable" data-dismiss="modal" aria-hidden="true">×</span> -->
            <h2 class="modal-title">Duplicate Tag</h2>
        </div>
        <div class="modal-body">
            <div class="data_row">
                This tag already exists in your Creative Tag Library. Save as a new Creative anyway?
            </div>
        </div><!-- end of modal_body -->
        <div class="clearfix popup-btns-holder">
            <span class="common_primary_btn"  ng-click="saveDuplicate()">Save</span>
            <span class="secondary_txt"  ng-click="cancelDuplicate()">Cancel</span>
        </div>
    </div> <!-- end of popup-holder -->


</div>
