
<popup-msg ng-show="partialSaveAlertMessage" ng-controller="popUpMsgCtr"
           ng-init="init('partialSaveAlertMessage','WF_CAMPAIGN_ARCHIVE_FAILURE')"></popup-msg>

<div class="popCreativeLib" ng-show="isAddCreativePopup" ng-controller="CreativeController">
<!--<div class="popCreativeLib" ng-init ="abc()" ng-show="isAddCreativePopup" ng-controller="CreativeController">-->
<div id="creative">
    <!--<popup-msg ng-show="createAlertMessage" ng-controller="popUpMsgCtr"-->
               <!--ng-init="init('createAlertMessage','WF_CAMPAIGN_ARCHIVE_FAILURE')"></popup-msg>-->
    <!-- Header Starts -->
    <div class="page_header_container">
        <div class="col-md-10 containerWrap">
            <div class="closeBtnCreative" ng-click="cancelBtn()">
            <img src="/images/workflow/icon_back.svg" class="pull-left" alt="" height="20" style=""/>
            <p class="">Back</p>
            </div>
            <div class="col-md-12 zeroPadding">
            <!--<span class="breadcrumbFlow">Creative Tag Library</span>-->
            <!--<img src="/assets/images/workflow/arrowBreadcrumbs.png" class="pull-left" alt="" width="10" style="margin: 5px 18px;"/>-->
            <h2 class="pull-left" style="margin: 0;" data-ng-bind="textConstants.CREATIVE_SETUP"></h2>
            </div>
        </div>
    </div>
    <!-- Header Ends -->
    <!--=== List Starts ===-->
    <div class="creativeList">
        <div class="col-md-12 containerWrap">
            <!--<div class="col-md-6 zeroPadding clearfix nav_filters" >-->
            <!--    <creative-drop-down></creative-drop-down>-->
            <!--</div>-->

            <form role="form" name="formCreativeCreate" id="formCreativeCreate" novalidate ng-submit="submitForm(formCreativeCreate)">
				<div class="col-md-6 zeroPadding pull-right saveCreativeBtn">
                    <!--<div class="col-md-12" style="margin-top: 10px;" ng-show="savingCreative = true">-->
                        <span class="common-loading-btn pull-right" ng-show="savingCreative" style="width:118px"></span>
                    <!--</div>-->
					<button type="submit" class="btn btn-primary pull-right" ng-disabled="savingCreative" id="saveCreative" ng-hide="savingCreative" data-ng-bind="textConstants.SAVE_CREATIVE"></button>
                    <a class="btn btn-link pull-right" role="button" ng-disabled="disableCancelSave" ng-click="cancelBtn()" data-ng-bind="textConstants.CANCEL"></a>
                </div>
                <!--<div class="col-md-12 zeroPadding clearfix nav_filters">-->
                <!--<creative-drop-down></creative-drop-down>-->
                <!--</div>-->

                    <div class="form-group col-md-8" show-errors>
                        <label for="name" class="greyTxt" style="margin-top: 0;">Creative Name</label>
                        <input type="text" class="form-control ng-pristine ng-valid" remove-special-character ='remove-special-character' id="name" name="name" ng-model="name" placeholder="Enter up to 250 characters, no punctuation or special characters." required>
                        <label ng-if="formCreativeCreate.name.$error.required"  class="col-sm-12 control-label greyTxt errorLabel" data-ng-bind="textConstants.WF_MANDATORY_CREATIVE_NAME"></label>
                    </div>
                    <div class="col-md-12 zeroPadding clearfix nav_filters" style="display:none;">
                        <!--<creative-drop-down></creative-drop-down>-->
                    </div>
                    <span class="col-md-12 labelQuestTxt" style="margin-top: 30px !important;" data-ng-bind="textConstants.CREATIVE_FOR"></span>
                    <div class="col-sm-8 zeroPadding">
                        <!-- SubAccount start -->
                        <div class="col-md-12 zeroPadding">
                            <div class="form-group col-sm-6" style="padding-left: 0;" show-errors ng-if="showSubAccount">
                                <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels" style="margin: 0;" data-ng-bind="textConstants.SUB_ACCOUNT"></label><!-- {{ textConstants.SUB_ACCOUNT }} -->
                                <div class="col-md-12 zeroPadding dropdown-workflow">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="adPage || creativeMode=='edit'">
                                            <span class="text">{{subAccountName ? subAccountName : 'Select SubAccount' }}</span>
                                            <span class="icon-arrow-down"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="advertiserDDL">
                                            <li ng-repeat="subaccount in subAccounts track by subaccount.id" class="available"><a ng-click="selectHandler('subAccount', subaccount)">{{subaccount.displayName}}</a></li>
                                        </ul>
                                        <input class="form-control" type="hidden" name="subAccountId" ng-model="creative.clientId" ng-update-hidden required/>
                                    </div>
                                </div>
                                <label ng-if="formCreativeCreate.subAccountId.$error.required" class="col-sm-12 greyTxt errorLabel" data-ng-bind="textConstants.CREATIVE_ERR_SUBACCOUNT"></label>
                            </div>
                        </div>
                        <!-- SubAccount End -->
                        <div class="col-md-12 zeroPadding">
                            <div class="form-group col-sm-6"  style="padding-right: 0;" show-errors >
                                <label for="advertiserDDL" class="col-sm-12  greyTxt miniLabels" style="margin: 0;" data-ng-bind="textConstants.ADVERTISERS"></label>
                                <div class="col-md-12 zeroPadding dropdown-workflow">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="adPage || (pushedCount>0) || (associatedAdCount>0)">
                                            <span class="text">{{advertiserName ? advertiserName : 'Select Advertiser' }}</span>
                                            <!--<span class="text" ng-if="mode == 'edit'">{{mode == 'edit' ? editCampaignData.advertiserName : 'Select Advertiser' }}</span>-->
                                            <span class="icon-arrow-down"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="advertiserDDL"  id="advertiserDDL">
                                            <li ng-repeat="advertiser in advertisers track by advertiser.id" class="available"><a ng-click="selectHandler('advertiser', advertiser)" data-ng-bind="advertiser.name"></a></li>
                                        </ul>
                                    </div>
                                    <input class="form-control" type="hidden" name="advertiserId" ng-model="creative.advertiserId" ng-update-hidden required/>
                                </div>
                                <label ng-if="formCreativeCreate.advertiserId.$error.required" class="col-sm-12 greyTxt errorLabel" data-ng-bind="textConstants.CREATIVE_ERR_ADVERTISER"></label>
                            </div>
                            <div class="form-group col-sm-6" style="padding-left: 15px;">
                                <label for="brandDDL" class="col-sm-12  greyTxt miniLabels" style="margin: 0;" data-ng-bind="textConstants.BRAND"></label>
                                <div class="col-md-12 zeroPadding dropdown-workflow">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text">{{brandName ? brandName : 'Select Brand' }}</span>
                                            <span class="icon-arrow-down"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="brandDDL"  id="brandDDL">
                                            <li ng-repeat="brand in brands track by brand.id" class="available"><a ng-click="selectHandler('brand', brand)" data-ng-bind="brand.name"></a></li>
                                        </ul>
                                        <input type="hidden" name="brandId" ng-model="creative.brandId" ng-update-hidden />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="col-md-12 labelQuestTxt" style="margin-top: 30px !important;" data-ng-bind="textConstants.CREATIVE_USING"></span>
                    <div class="form-group col-md-4" show-errors style="clear: left;">
                        <label for="sel1" class="greyTxt" style="margin-top: 0;" data-ng-bind="textConstants.CREATIVE_AD_SERVER"></label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeAdServer" type="button"  data-toggle="dropdown" ng-bind="selectedAdServer.name ? selectedAdServer.name: 'Select Ad Server'" aria-haspopup="true" aria-expanded="true" ng-disabled="(pushedCount>0) || (associatedAdCount>0)" title={{selectedAdServer.name}}>
                                    <!--<span class="text">{{selectedAdServer.name ? selectedAdServer.name: 'Select Ad Server'}}</span>-->
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="sel1" id="adserverDDL">
                                    <li class="available" ng-repeat="adServer in creativeAdServers track by adServer.id" data-toggle="dropdown" title={{adServer.name}}>
                                        <a ng-click="adServerSelected(adServer)">{{adServer.name}}</a>
                                    </li>
                                </ul>
                                <input class="form-control" ng-model="selectedAdServer.id" type="hidden" name="creativeAdServer" ng-update-hidden required/>
                            </div>
                        </div>
                        <label ng-if="formCreativeCreate.creativeAdServer.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;" data-ng-bind="textConstants.CREATIVE_ERR_AD_SERVER_SIZE"></label>
                    </div>

                    <!--Ad format Type-->
                    <div class="form-group col-md-12 zeroPadding adFormatChkBox" style="margin-top: 20px;" show-errors>
                        <div class="col-md-12 greyTxt" data-ng-bind="textConstants.WF_CHANNEL"></div>
                        <div class="goalBtnWithPopup">
                            <div class="btn-group goalBtnGroup zeroPadding"
                                 ng-class="{lastBtnGroup: $last, firstBtnGroup: $first}"
                                 ng-repeat="adformat in creativeSizeData.adFormats track by adformat.id">
                                <label class="btn btn-primary {{adformat.active ? 'active' : '' }} {{(adformat.disabled) ? 'disabled' : '' }}"
                                       aria-disabled="{{(adformat.disabled) ? true : false }}">
                                    <input type="radio" value="{{adformat.name}}"class="btn_rad" ng-click="adFormatSelection(adformat.name)" ng-checked="adformat.active">
                                    <div class="hideRadioBtn" style="margin-top: -18px;">
                                        <div class="icon-{{getAdFormatIconName(adformat.name)}}"></div>
                                        <span data-ng-bind="adformat.name"></span>
                                    </div>

                                </label>
                            </div>
                            <input class="form-control" type="hidden" name="creativeFormat" ng-model="creativeFormat"  ng-update-hidden  required/>
                        </div>
                        <label ng-if="formCreativeCreate.creativeFormat.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;" data-ng-bind="textConstants.CREATIVE_ERR_AD_FORMAT"></label>

                    </div>

                    <!---->
                    <div class="form-group col-md-6">
                        <label for="sel1" class="greyTxt" data-ng-bind="textConstants.CREATIVE_TEMPLATE"></label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeTemplate" type="button"  data-toggle="dropdown" aria-haspopup="true" ng-bind="CreativeTemplate ? CreativeTemplate.name:'Select Template'" ng-disabled="pushedCount>0" aria-expanded="true" title={{CreativeTemplate.name}}>
                                    <!--<span class="text">{{CreativeTemplate ? CreativeTemplate.name:'Select Template'}}</span>-->
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="sel1" id="templateDDL">
                                    <li class="available" ng-repeat="template in creativeTemplates track by template.id"  data-toggle="dropdown" title={{template.name}}>
                                        <a ng-click="onTemplateSelected(template)">{{template.name}}</a>
                                    </li>
                                </ul>
                                <input name="creativeTemplate" ng-model="adData.creativeTemplate" type="hidden"  ng-update-hidden/>
                            </div>
                        </div>
                        <!--<label ng-if="formCreativeCreate.creativeTemplate.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;">Please select the Ad Server size.</label>-->
                    </div>
                    <!--Static template Ui Elements-->
                    <div class="form-group col-md-8" style="clear: left;" show-errors>
                        <label for="tag" class="col-md-12 zeroPadding greyTxt" data-ng-bind="textConstants.CREATIVE_SECURE_TAG"></label>
                        <textarea class="form-control col-md-12 ng-pristine ng-valid" rows="15" name="tag" id="tag" placeholder="Copy and paste the tag from your ad server" ng-model="tag" required></textarea>
                        <label ng-if="formCreativeCreate.tag.$error.required" class="col-sm-12 control-label greyTxt errorLabel" data-ng-bind="textConstants.SSL_ERROR_MESSAGE"></label>
                        <label ng-show="IncorrectTag" class="col-sm-12 control-label customErrorLabel">{{IncorrectTagMessage}}</label>
                    </div>
                    <!--<div ng-if="TrackingIntegrationsSelected" ng-hide="TrackingIntegrationsSelected" class="form-group col-md-8" style="clear: left;">-->
                        <!--<textarea class="form-control col-md-12 ng-pristine ng-valid" rows="15" name="tag" id="tag" ng-value="'%%TRACKER%%'"></textarea>-->
                    <!--</div>-->

                    <div class="form-group col-md-4 radioBtnToggle" style="padding-top: 20px; clear: left;">
                        <div class="schedule-on-off-btn pull-left">
                            <input type="checkbox" checked data-toggle="toggle" id="toggle" data-on=" true" data-off="false" disabled="true">
                            <input type="hidden"  name="sslEnable" value="true" >
                        </div>
                        <div class="label-txt pull-left" style="margin: 1px 0 0 10px;" data-ng-bind="textConstants.CREATIVE_SSL_COMPATIBLE"></div>
                    </div>
                    <div class="form-group col-md-4" show-errors style="clear: left;">
                        <label for="sel1" class="greyTxt" data-ng-bind="textConstants.CREATIVE_SIZE"></label>
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" id="creativeSize" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">{{adData.creativeSize ? adData.creativeSize.size :  'Select Size'}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-search" aria-labelledby="sel1" id="sizeDDL">
                                    <li class="searchBar">
                                        <div class="input-group col-md-12 zeroPadding">
                                            <input type="text" class="col-md-12" id="listBoxSize" ng-model="newData.creativeSize" placeholder="Search"/>
                                            <div class="icon-search"></div>
                                        </div>
                                    </li>
                                    <span ng-if="!newData.creativeSize" class="greyTxt" style="margin-left:15px; margin-top:10px;">POPULAR SIZES</span>
                                    <li>
                                        <ul><li class="available" ng-repeat="creativePopSizes in creativePopularSizes | filter:newData.creativeSize track by creativePopSizes.id"><a ng-click="dropBoxItemSelected(creativePopSizes, 'creativeSize')">{{creativePopSizes.size}}</a></li></ul>
                                    </li>
                                    <span class="greyTxt" style="margin-left:15px">AVAILABLE SIZES</span>
                                    <li style="padding-left:15px;" class="available" ng-repeat="creativeSize in creativeSizeData.creativeSize | filter:newData.creativeSize track by creativeSize.id">
                                        <a ng-click="dropBoxItemSelected(creativeSize, 'creativeSize')">{{creativeSize.size | lowercase}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input  class="form-control" ng-model="adData.creativeSize.id" type="hidden" name="creativeSize" ng-update-hidden required/>
                        <label ng-if="formCreativeCreate.creativeSize.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;" data-ng-bind="textConstants.CREATIVE_ERR_SIZE"></label>
                    </div>

                <div class="form-group col-md-12 zeroPadding adFormatChkBox" show-errors style="margin-top: 20px;" >
                    <div class="col-md-12 greyTxt" data-ng-bind="textConstants.CREATIVE_TYPE"></div>
                    <div class="goalBtnWithPopup creativeType">
                        <div class="btn-group goalBtnGroup zeroPadding" ng-class="{lastBtnGroup: $last, firstBtnGroup: $first}" ng-repeat="creativeTag in creativeSizeData.tagTypes track by creativeTag.id" >
                            <label class="btn btn-primary {{creativeTag.active ? 'active' : '' }} {{(creativeTag.disabled) ? 'disabled' : '' }}"
                                   aria-disabled="{{(creativeTag.disabled) ? true : false }}">
                                <input type="radio" value="{{creativeTag.name}}" class="btn_rad" ng-click="creativeTagSelected($event,creativeTag.name)" ng-checked="creativeTag.active">
                                <div class="hideRadioBtn" style="margin-top: -18px;">
                                    <span data-ng-bind="creativeTag.name" style="margin:0px ;"></span>
                                </div>
                            </label>
                        </div>
                        <input class="form-control" type="hidden" name="creativeType" ng-model="creativeType"  ng-update-hidden  required/>
                        <label ng-if="formCreativeCreate.creativeType.$error.required" class="col-sm-12 control-label greyTxt errorLabel" style="margin: 0;" data-ng-bind="textConstants.CREATIVE_ERR_TAG_TYPE"></label>

                    </div>

                </div>

                <!--Template from Json to be appended on this DIV-->

                    <div class="creativeTemplate"></div>

                </form>
            </div>
        </div>
        <!--=== List Ends ===-->
    </div>

    <div class="about_popup popup-holder" style="display:none;">
        <div class="modal-header">
            <!-- <span class="close unselectable" data-dismiss="modal" aria-hidden="true">×</span> -->
            <h2 class="modal-title">Duplicate Tag</h2>
        </div>
        <div class="modal-body">
            <div class="data_row">
                This tag already exists in your Creative Tag Library. Save as a new Creative anyway?
            </div>
        </div><!-- end of modal_body -->
        <div class="clearfix popup-btns-holder">
            <span class="common_primary_btn"  ng-click="saveDuplicate()" data-ng-bind="textConstants.SAVE"></span>
            <span class="secondary_txt"  ng-click="cancelDuplicate()" data-ng-bind="textConstants.CANCEL"></span>
        </div>
    </div> <!-- end of popup-holder -->


</div>
