<div class="creative_filter_dropdowns">
    <div class="each_filter brands_filter">
        <div class="greyTxt">{{constants.SUB_ACCOUNT}}</div>
        <div class="dropdown">
            <div class="dropdown_name_selected" data-model="subAcc_name_selected" id="client_name_selected" data-toggle="dropdown" title="{{filterData.subAccSelectedName}}">
                <p>{{filterData.subAccSelectedName?  filterData.subAccSelectedName : 'Loading..'}}</p><span class="icon-arrow-down"></span>
            </div>
            <ul class="dropdown-menu" role="menu" id="clientsList">
                <div class="clientsList_ul" id="clientsList_ul">
                    <li ng-repeat="subaccount in filterData.subAccountList track by subaccount.id" title="{{subaccount.displayName}}">
                        <a data-ng-click="selectClient(subaccount)"><span class="menuItemText">{{subaccount.displayName}}</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="each_filter brands_filter">
        <div class="greyTxt">Advertiser</div>
        <div class="dropdown">
            <div class="dropdown_name_selected" id="advertiser_name_selected" data-toggle="dropdown" title="{{filterData.advertiserSelectedName}}">
                <p>{{filterData.advertiserSelectedName ?  filterData.advertiserSelectedName : 'Loading...'}}</p>
                <!--<img src="/images/cdesk/common_down_arrow.png" alt="" width="12" class="common_down_arrow"/>-->
                <span class="icon-arrow-down"></span>
            </div>

            <ul class="dropdown-menu" role="menu" id="advertisersList">
                <div class="advertisersList_ul" id="advertisersList_ul">
                    <li ng-repeat="advertiser in filterData.advertiserList track by advertiser.id" title="{{advertiser.name}}">
                        <a data-ng-click="selectAdvertisers(advertiser)">
                            <span class="menuItemText">{{advertiser.name}}</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
