<div class="popup-holder  view_summary_page">
    <div class="col-md-12 modal-header">
        <span class="icon-close closePopBtn" aria-hidden="true" ></span>
        <div class="pull-left"><img ng-src="/images/workflow/platform_icons/logo_C_appnexus.png" src="/images/workflow/platform_icons/logo_C_appnexus.png" height="30px"></div>
        <div class="pull-right">
            <div class="pull-left icon-download"></div>
            <div class="pull-left marginLeft" >Download</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-md-12 zeroPadding ">
                <div class="col-md-12 zeroPadding summaryHeadline" >
                    <div class="pull-left campaign_status_icon in_flight_bulb"></div>
                    <div class="pull-left">
                        Appnexus NE-SW Griffin Group mixed media and display 
                    </div>
                    
                    <div class="pull-right marginLeft">
                        <span class="pull-left glyphicon glyphicon-ok-sign"></span>
                        <span class="pull-left">Automated Billing</span>
                    </div>
                    <div class="pull-right ">
                        <span class="pull-left glyphicon glyphicon-ok-sign"></span>
                        <span class="pull-left">SOR</span>
                    </div>
                </div>
                <div class="col-md-12 zeroPadding summaryValues" >
                    <div class="pull-left">
                        <div class="greyTxt" data-ng-bind="textConstants.OWNER"></div>
                        <div>
                            <span class="pull-left icon-user marginRight"></span>
                            <span class="pull-left">The Griffin group</span>
                        </div>
                    </div>
                    <div class="pull-left marginLeft">
                        <div class="greyTxt" data-ng-bind="textConstants.CURRENCY"></div>
                        <div>
                            $USD
                        </div>
                    </div>
                    <div class="pull-left marginLeft">
                        <div class="greyTxt" data-ng-bind="textConstants.CONTRACT_DATES"></div>
                        <div>
                            <span class="pull-left icon-calendar" ></span>
                            <span class="pull-left">
                                 01 Aug  2016 -  31 Aug 2016
                            </span>
                        </div>
                    </div>
                    <div class="pull-left marginLeft">
                        <div class="greyTxt" data-ng-bind="textConstants.SEAT_ID_CONNECTIONS"></div>
                        <div>
                            <span class="pull-left icon-user marginRight"></span>
                            <span class="pull-left ">AN-12345-67-abcd | 3 Connections</span>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-md-12 zeroPadding">
                <div class="col-md-4">
                    <div class="col-md-12 summarySection">
                        <div class="summarySectionHeading">Offerings</div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                            <div class="pull-right col-md-1 zeroPadding">CPM</div>
                            <div class="pull-right col-md-2 zeroPadding">$1.50</div>
                        </div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                            <div class="pull-right col-md-1 zeroPadding">CPM</div>
                            <div class="pull-right col-md-2 zeroPadding">$1.50</div>
                        </div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                            <div class="pull-right col-md-1 zeroPadding">CPM</div>
                            <div class="pull-right col-md-2 zeroPadding">$1.50</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 summarySection">
                        <div class="summarySectionHeading">Options</div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                        </div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                        </div>
                        <div class="col-md-12 zeroPadding summarySectionRow">
                            <div class="pull-left col-md-1 zeroPadding"><div class="glyphicon glyphicon-ok-sign"></div></div>
                            <div class="pull-left col-md-8 zeroPadding">Audience Segment Targeting</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 summarySection">
                        <div class="summarySectionHeading">Permissions</div>
                        <div class="col-md-12 tree-structure">
                            <div>Tegna Corp</div>
                            <div>
                                <div>
                                    <span class="icon-user"></span>
                                    <span>Midwest</span>
                                </div>
                                <div class="marginLeft">
                                    WCBS (1)
                                    <div class="marginLeft">
                                        Griffin Group(3)
                                        <div class="marginLeft">
                                            <div>
                                                The Coca-Cola Companies (4)
                                            </div>
                                            <div>
                                                <span class="icon-user"></span>Coke
                                            </div>
                                            <div>
                                                <span class="icon-user"></span>Sprite
                                            </div>
                                            <div>
                                                <span class="icon-user"></span>Teavana
                                            </div>
                                        </div>
                                        <div><span class="icon-user"></span>Frankly Furniture</div>
                                        <div><span class="icon-user"></span>Great Northern</div>
                                    </div>
                                    
                                </div>
                                <div>
                                    <span class="icon-user"></span>
                                    <span>Northeast (All)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end of modal_body -->
    
</div> <!-- end of popup-holder -->