#order_layout.pure-g
  #order_list.pure-u
    .content
      .form-search
        .input-append
          %input.search-query{:type => "text"}/
          %button#search_button.btn{:type => "button"} Search
        .hint
          Advertiser name, Order name, Id, Source Id

      .order-new
        Click to create new order

      .order-search-result

  #details.pure-u
    .content

.shortcut-help
  #shortcut_help_modal.modal.hide.fade{ tabindex: "-1", role: "dialog"}
    .modal-header
      %h3 Shortcuts
    .modal-body
      %table
        %tbody
          %tr
            %td.right-align
              %span.key C
              %span.key O
            %td
              Create Order
          %tr
            %td.right-align
              %span.key E
              %span.key O
            %td
              Edit Order
          %tr
            %td.right-align
              %span.key C
              %span.key L
            %td
              Create Lineitem
          %tr
            %td.right-align
              %span.key S
            %td
              Search Orders

:javascript
  $(document).ready(function() {
    $(window).resize(resizeContent);
    $(resizeContent);

    ReachUI.SetupGlobalErrorHandler();

    var controller = new ReachUI.Orders.OrderController();
    ReachUI.Orders.router = new ReachUI.Orders.Router({controller: controller});

    Backbone.history.start({
      pushState: true,
      root: "/orders"
    });
  });

  function resizeContent() {
    var width = $(window).width() - 350;
    var height = $(window).height() - 84;
    $("#details").width(width).height(height);
    $("order_list").height(height);
  }
