.new_order_header
  %p.heading
    Minors Garden Center on Audience Network & RR (6.28-9.29.13) - 7767942
  
  %p.adv_name TWCBusiness

  .imported_file_name
    .name
      Imported File
      %span AMP Network IO-TWC Minors Gar...
    .timestamp
      11:15 AM 05/12/2013

  .field.account_manager_container
    %span Account Manager
    %span Alexandra Piechota
  .field.trafficker_container
    %span Trafficker
    %span Senthil Pandian

  .clearfix

  .general_info_container
    .column
      .field.network
        %span Network
        %span AMP Network CORE
      .field.advertiser_name
        %span Advertiser Name
        %span Minor Gargen Center
      .field.order_name
        %span Order Name
        %span Minors Garden Center on Audience Network & RR (6.28-9.29.13) - 802137
      .field.client_order_id
        %span Client Order ID
        %span 7767942
      .field.start_date
        %span Start Date
        %span 06/28/2013
      .field.end_date
        %span End Date
        %span 09/29/2013
      .field.total_media_cost
        %span Total Media Cost
        %span $0

    .column
      .field.salesperson
        %span Salesperson
        %span Eric Burns
      .field.salesperson_phone
        %span Phone
        %span 919-604-4451
      .field.salesperson_email
        %span Email
        %span eric@collective.com
      .field.media_contact
        %span Media Contact
        %span Mary Ball
      .field.media_company
        %span Company
        %span Time Warner Cable
      .field.media_company_address
        %span Company Address
        %span +Add
      .field.media_company_phone
        %span Phone
        %span 704-973-7508
      .field.media_company_email
        %span Email
        %span digital.services@twcable.com

    .column
      .field.account_contact
        %span Account Contact
        %span Alexandra Piechota
      .field.account_contact_phone
        %span Phone
        %span 646-786-6701
      .field.account_contact_email
        %span Email
        %span ampnetwork@collective.com
      .field.billing_contact
        %span Billing Contact
        %span Bryan Snyder
      .field.billing_company
        %span Company
        %span Time Warner Cable
      .field.billing_company_address
        %span Company Address
        %span +Add
      .field.billing_company_phone
        %span Phone
        %span (704) 973-7346
      .field.billing_company_email
        %span Email
        %span digital.services@twcable.com
  .toggle_general_info_button  
    ^ Hide General Information ^
