#order_layout.pure-g
  #details.pure-u
    .content

:javascript
  $(document).ready(function() {
    ReachUI.SetupGlobalErrorHandler();

    if (#{@agency_user}) {
      var controller = new ReachUI.Orders.OrderRestrictedController();
      ReachUI.Orders.router = new ReachUI.Orders.RestrictedRouter({controller: controller});
    } else {
      var controller = new ReachUI.Orders.OrderController();
      ReachUI.Orders.router = new ReachUI.Orders.Router({controller: controller});
    }
    Backbone.history.start({
      pushState: true,
      root: "/orders"
    });
  });
