<div class="activities-list"></div>
<div class="load-more">
  <label id="loadMoreBtn">Load More...</label>
 <!-- <label id="loadLessBtn" style="display:none">Load Less...</label>
  <label id="loadNormalBtn" style="display:none">Back to normal view...</label>-->
</div>
