<div style="max-height:100%;overflow-y:auto;"  class="activities-list"></div>
<!--<div id="task_form" class="task_form_region field" style="display: none">
    <div class="pure-u-1-5">
    </div>
    <select id="task-types-selector" class="task-select">
        <option>Task Type</option>
        <option>Creative</option>
        <option>Pixel Request</option>
        <option>Optimization Request</option>
    </select>
    <select id="task-assignee-selector" class="task-select">
        <option>Adele Berkley</option>
        <option>AdOps East</option>
        <option>Adoris Sprinkler</option>
    </select>
    <input type="text" class="span2" value="" id="due-date"/>
    <button type="submit" id="saveTask" class="btn btn-small btn-primary editable-submit"><i class="icon-ok icon-white"></i></button>
</div> -->
<div class="load-more">
    <label id="loadMoreBtn">Load More...</label>
    <label id="loadLessBtn" style="display:none">Load Less...</label>
    <label id="loadNormalBtn" style="display:none">Back to normal view...</label>
</div>
