<div class="pure-g">
  <div class="header-title pure-u-1-2">
    <p class="heading"><i class="activity_log-icon"></i> Activity Log</p>
  </div>
  <div class="header-controls pure-u-1-2">
    <div class="pure-u-1-2 text-right">
      <button class="rui-btn activity_log_comment" title="Filter by comments" id="btnFilterComments"></button>
      <button class="rui-btn activity_log_inactive_attach" title="Filter by attachments"
              id="btnFilterAttachments"></button>
      <button class="rui-btn activity_log_inactive_alert" title="Filter Alerts" id="btnFilterAlerts"></button>
      <button class="rui-btn activity_log_active_task_checked" title="Filter by tasks" id="btnFilterTasks"></button>
      <button class="rui-btn user" title="Filter by assignee" id="btnFilterUser"></button>
      <button class="rui-btn clock" title="Filter by due date" id="btnFilterDueDates"></button>
      <button class="rui-btn" title="Show full log" id="btnFullLog">Full Log</button>
    </div>
  </div>
</div>
<div class="activity-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name %>
  </div>
  <div class="activities pure-u-3-5">
    <textarea id="activity_input" placeholder="Note" rows="1" cols="26"></textarea>
  </div>
  <div class="action-controls pure-u-1-6">
    <button id="btnSaveAttachment"
            class="rui-btn activity_log_inactive_attach"
            title="Add Attachment"
            type="file"
            name="activity_attachment"
            data-url="/activity_attachment.json"></button>
    <button id="btnShowTaskForm" class="rui-btn activity_log_active_task_checked" title="Add Task"></button>
    <button id="btnSaveAlert" class="rui-btn activity_log_inactive_alert" title="Add Alert"></button>
    <button id="btnSaveComment" class="rui-btn activity_log_comment" title="Add Comment"></button>
  </div>
  <div id="task_form" class="task-form-region" style="display: none">
    <form class="form-inline" name="task_form">
      <div class="pure-g">
        <div class="pure-u-1 controls-container">
          <div class="task-type-icon"></div>
          <select id="task-types-selector" class="task-select">
            <option value="">Task Type...</option>
            <option value="creative">Creative</option>
            <option value="pixel_request">Pixel Request</option>
            <option value="optimization_request">Optimization Request</option>
          </select>
          <div class="user-icon"></div>
          <select id="task-assignee-selector" class="task-select"></select>
          <div class="clock-icon"></div>
          <input type="text" class="span2" value="<%= moment().format("MM-DD-YYYY") %>" id="due-date" placeholder="Due Date">
          <button type="submit" id="saveTask" class="btn btn-small btn-primary editable-submit">
            <i class="icon-ok icon-white"></i>
          </button>
          <!-- Additional sub-form -->
          <div id="pixel-request-subform" style="display: none;">
            <div class="pure-g">
              <div class="pure-u-1">
                <label class="main">Pixel Type</label>
                <label class="radio">
                  <input type="radio" name="pixel_type_switch" value="conversion"> Conversion
                </label>
                <label class="radio">
                  <input type="radio" name="pixel_type_switch" value="retargeting"> Retargeting
                </label>
              </div>
            </div>
            <div class="pure-g">
              <div class="pure-u-1">
                <input type="text" name="advertiser" placeholder="Advertiser" class="input-medium">&nbsp;
                <input type="text" name="campaign" placeholder="Campaign" class="input-medium">&nbsp;
                <input type="text" name="pixel_location" placeholder="Pixel Location" class="input-medium">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
