.main-container{
  padding-left:90px;

  .admin-left{
    width:90px;
    margin-left:-90px;

    .v-nav {
      background-color: #f5f5f5;

      ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: 1px solid #eee;

          a {
            display: block;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
            color: #333;

            &:hover {
              background-color: #F55856;
              color: #fff;
            }
          }
        }
      }

      .active > a, .active > a:hover, .active > a:focus {
        background-color: #2EA5DC;
        color: #FFFFFF;
      }

      .active {
        position: relative;
        background: #2EA5DC;
      }

      .active:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .active:after {
        border-color: rgba(46, 165, 220, 0);
        border-left-color: #2EA5DC;
        border-width: 7px;
        top: 50%;
        margin-top: -7px;
      }

    }

  }

  .admin-right{
    width:100%;

    .admin-content {

      padding: 20px;

      .top-headers{
        margin-bottom:15px;

          .create-button{
            margin-right:20px;
          }
      }

      .form-horizontal{
        margin:0;

        legend{
          font-size:16px;
          line-height:30px;
          margin-bottom:10px;
        }
      }

      .actions-buttons{
        margin-left:20px;
      }

    }

  }

}

.admin-reach-table {
  width: 100%;

  tbody > tr:hover {
    background-color: #f8f8f8;
  }

  th {
    background: none repeat scroll 0 0 #F7F7F7;
    border-left: 1px solid #ededed;
    color: #4094C3;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
    border-radius: 0;
    border-top: 1px solid #ededed;

    &:last-child {
      border-right: 1px solid #ededed;
    }

    .header-container {
      padding-left: 20px;
    }

    .title-container {
      width: 100%;
      margin-left: -20px;

      .title {
        padding: 7px;
      }
    }

    .actions-container {
      text-align: right;
      width: 18px;
      border-left: 1px solid #f1f1f1;
      color: #B3B3B3;

      i {
        padding: 9px 3px 8px;
        display: inline-block;

        &:hover {
          background-color: #e8e8e8;
        }
      }
    }
  }

  td {
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;

    &:last-child {
      border-right: 1px solid #ededed;
    }
  }

  tr:last-child > td {
    border-bottom: 1px solid #ededed;
  }

  .group-name{
    width:40%;
  }

}

#audience_groups_details{

  .group-name {
    .control-label {
      width:auto;
    }

    .controls {
      margin-left: 100px;
    }
  }

  .select-keyvals{
    font-size:12px;
    width:317px;
    height:300px;
    background:#fff;
    border:1px solid #ccc;
    margin-right:20px;
    overflow-y: scroll;
    overflow-x: hidden;

    ul{
      margin:0;
      list-style-type: none;
    }

    ul li{
      padding:2px;
      border-bottom: 1px solid #f2f2f2;
      background: #fff;
    }

    ul li:hover{
      color:#fff;
      background:#008DD1;
    }
  }

  .select-textbox{
    textarea{
      font-size:12px;
      width:300px;
      height:290px;
      float:left;
    }

    .key-values-error{
      width:300px;
      float:left;
    }
  }

  .search-keyvals{
    input{
      width:245px;
    }
    .add-on{
      cursor: pointer;
    }
  }

  .audience-views{
    padding-left:20px;
  }

  #search_results_view, #selected_segments_view{
    display:inline-block;
    margin-right:15px;
  }
}

