# Reach
upstream REACH {
  server 0.0.0.0:8080;
}

# Reach
server {
  listen 80;
  server_name demo-cdesk.collective.com;
  rewrite ^(.*) https://$host$1 redirect;

  root /home/amp/reachui/current/public;
  access_log /home/amp/reachui/current/log/nginx.access.log;
}

server {
  listen 104.131.251.80:443 default ssl;
  server_name stg-reach.collective.com;

  ssl on;
  ssl_certificate         /etc/ssl/nginx/collective.com.crt;
  ssl_certificate_key     /etc/ssl/nginx/collective.com.key;

  root /home/amp/reachui/current/public;
  access_log /home/amp/reachui/current/log/nginx.access.log;
  error_log /home/amp/reachui/current/log/nginx.error.log;

  error_page 500 502 503 504 /500.html;
  client_max_body_size 50M;

  # First rewrite rule for handling maintenance page.
  # Hmm.. would be nice to check the request
  # and return either xml or html response
  if (-f $document_root/system/maintenance.html) {
    rewrite ^(.*)$ /system/maintenance.html last;
    break;
  }

  location / {
    index index.html index.htm

    # Forward information about the client and host
    # Otherwise our Rails app wouldn't have access to it
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_max_temp_file_size 0;
    proxy_read_timeout 1800;

    # serve gziped static assets
    location ~ ^/(assets)/  {
      root /home/amp/reachui/current/public;
      gzip_static on; # to serve pre-gzipped version
      expires max;
      add_header Cache-Control public;
    }

    if (-f $request_filename) {
      break;
    }

    # Directly serve cached pages
    if (-f $request_filename.html) {
      rewrite (.*) $1.html break;
    }

    # Otherwise let Mongrel handle the request
    if (!-f $request_filename) {
      proxy_pass http://REACH;
      break;
    }
  }
}
