<div id="detailedPage" class="container" data-ng-init="campaigns.fetchCampaigns()">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>{{campaigns.marketerName}}</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="search-cum-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-controller="BrandsController">
                        <input class="dropdown-toggle inactive" ng-model="selectedBrand.name" id="brandsDropdown" placeholder="ALL BRANDS"/>
                        <span class="sort-image-inactive"></span>
                        <ul class="dropdown-menu" role="menu" id="brandsList">
                            <li ng-repeat="brand in brands" ng-hide="isExcludedByBrandFilter"
                                ng-controller="BrandsListController" class="{{brand.className}}">
                                <a data-ng-click="selectBrand(brand)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{brand.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-two">
                        <a class="dropdown-toggle active" data-toggle="dropdown" id="cdbMenu">
                            <span id="durationMenuText" ng-bind="campaigns.displayTimePeriod"></span>
                            <span class="sort-image-inactive"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cdbDropdown">
                            <li ng-repeat="timeData in campaigns.timePeriodList" class={{timeData.className}}>
                                <a data-ng-click="campaigns.filterByTimePeriod(timeData)">
                                    <span class="tick"></span>
                                    <span class="menuItemText">{{timeData.display}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" durationholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->
                </ul>
            </div>
        </div>
        <div class="col-md-6 campaign-count">
            Total {{campaigns.totalCount}} campaigns
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="campaign-title-head">
                <ul class="clearfix top-margin">
                    <li class="col-md-6 pull-right">
                      <span class="time-period-hint" ng-bind="campaigns.displayTimePeriod"></span>
                    </li>
                </ul>
                <ul>
                    <li class="col-md-1">
                      <span>STATUS</span>
                    </li>
                    <li class="col-md-5">
                        <ul>
                          <li ng-repeat="sortField in campaigns.sortFieldList">
                            <a data-ng-click="campaigns.sortCampaigns(sortField.key)">
                              <span class="{{sortField.className}}">{{sortField.display}}&nbsp;<span class="{{campaigns.sortIcon(sortField.key)}}"></span> </span>
                            </a>
                          </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                      <span>METRICS</span>
                    </li>
                    <li class="col-md-3">
                      <span>KPI</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0">
    <div class="row-fluid" data-ng-repeat="campaign in campaigns.campaignList">

        <div class="col-md-12">

            <div class="campaign">
                <div class="col-md-1">
                    <div><span class={{campaign.status}}></span></div>
                    <div><span class="marg-10"> {{campaign.status | toCamelCase}}  </span></div>
                    <div class="edit-stats-icons">
                        <div>
                          <a ng-href="/campaigns/{{campaign.orderId}}">
                            <span class="icons-bckground" id="icon-campaign-edit"></span>
                          </a>
                        </div>
                        <div>
                          <span class="icons-bckground" id="icon-campaign-report"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <span class="campaign-name"> {{campaign.campaignTitle}} </span>
                    <div class="brand"> 
                        <span class="bold">{{campaign.brandName }}</span>
                        <span class="brand-type"><!-- Note: vertical will be placed here Refer [CD-324] --></span>
                    </div>
                    <div class="duration"> <!--<img src="../img/images/icn_flight_date.png" alt="Flight-icon" />-->
                        <span class="date">
                        {{campaign.startDate | date :'d' }}
                        {{campaign.startDate | date :' MMM' }}
                        {{campaign.startDate | date :' y' }}
                         -
                        {{campaign.endDate | date :'d' }}
                        {{campaign.endDate | date :' MMM' }}
                        {{campaign.endDate | date :' y' }}
                        </span>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div>
                            <div class="strategies">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="bold">{{campaign.lineitemsCount}} </span> <span class="strat-text"> Strategies </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 marg-10">
                    <div class="row-fluid">
                        <div class="col-md-5 marg-10">
                            Delivered Impr.
                        </div>
                        <div class="col-md-7">
                            <span class="blue">103,240</span><span class="suffix"><span class="seperator"> / </span>{{campaign.totalImpressions | number}}</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-5">
                                        Spend
                        </div>
                        <div class="col-md-7">
                            <span class="green">$103,240</span><span class="suffix"><span class="seperator"> / </span>${{campaign.totalMediaCost | number}}</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding: 0;">
                            <div class="highcharts">
                           <!--  <highchart config="chartConfig" chartTitle="" style="width:219px; height: 150px; margin: 0 auto; "></highchart> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row-fluid">
                        <div class="col-md-7 kpi-text-container">Cumulative KPI:
                            <span class="bold">{{campaign.kpiType ? campaign.kpiType : 'NA'}}</span>
                        </div>
                        <div class="col-md-5 kpi-values">
                            <span class="kpi-goal"></span>
                            <span class="bold">{{campaign.kpiValue | kpiFormatter:campaign.kpiType}}</span>
                            <div>
                                <span class="avg-text">Avg.</span>
                                <span class="bold">{{campaign.kpiAvgValue | kpiFormatter:campaign.kpiType}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding: 0;">
                            <div class="highcharts" ng-if="!campaign.chart || !campaign.kpiType">
                                <!--temporaty place holder-->
                                    <span class="no-chart">Data Not Available</span>
                                <!--temporaty place holder ends-->
                            </div>
                            <div class="highcharts" ng-if="campaign.chart && campaign.kpiType">
                                 <highchart id="highcharts" config="campaign.chart" chartTitle=""></highchart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
</div>

<script type="text/javascript">
//    $('.collapse').collapse();
    $(document).ready(function() {
        $( "#cdbMenu" ).click(function() {
            $( "#cdbDropdown" ).toggle();
         });
        $("#brandsDropdown").click(function() {
            $("#brandsList").toggle();
        });
        $( document ).click(function() {
            if($("#cdbDropdown").is(':visible')) {
                $("#cdbDropdown").hide();
            }
            if(!$("#brandsDropdown").is(':focus')) {
                $("#brandsList").hide();
            }
        });
    });
</script>
