<div id="detailedPage" class="container" data-ng-init="campaigns.fetchCampaigns()">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>{{campaigns.marketerName}}</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="search-cum-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle  active" data-toggle="dropdown" href="#">
                            ALL BRANDS <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active"><a href="#"><span class="tick"></span>ALL BRANDS</a></li>
                            <li><a href="#"><span class="tick"></span>Maruti</a></li>
                            <li><a href="#"><span class="tick"></span>Suzuki</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-two">
                        <a class="dropdown-toggle active" data-toggle="dropdown" id="cdbMenu">
                            <span id="durationMenuText">LAST 7 DAYS</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cdbDropdown">
                            <li class="active"  >
                                <a data-ng-click="campaigns.fetchAllCampaigns('last_week')">
                                    <span class="tick"></span>
                                    <span class="menuItemText">Last 7 days</span>
                                </a>
                            </li>
                            <li>
                                <a data-ng-click="campaigns.fetchAllCampaigns('last_month')">
                                    <span class="tick"></span>
                                    <span class="menuItemText">Last 30 days</span>
                                </a>
                            </li>
                            <li>
                                <a data-ng-click="campaigns.fetchAllCampaigns('life_time')">
                                    <span class="tick"></span>
                                    <span class="menuItemText">Life time</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" durationholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="campaign-title-head">
                <ul>
                    <li class="col-md-1">
                        <span>STATUS</span>
                    </li>
                    <li class="col-md-5">
                        <ul>
                            <li>
                                <a data-ng-click="campaigns.sortCampaigns('order_name')">
                                    <span class="{{campaigns.sortParam == 'order_name' ? 'active' : ''}}">CAMPAIGN </span>
                                </a>
                            </li>
                            <li>
                                <a data-ng-click="campaigns.sortCampaigns('advertiser')">
                                    <span class="{{campaigns.sortParam == 'advertiser' ? 'active' : ''}}">BRAND</span>
                                </a>
                            </li>
                            <li>
                                <a data-ng-click="campaigns.sortCampaigns('start_date')">
                                    <span class="{{campaigns.sortParam == undefined || campaigns.sortParam == 'start_date' ? 'active' : ''}}">FLIGHT DATES</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <span> PACING </span>
                    </li>
                    <li class="col-md-3">
                        <span> KPI </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div infinite-scroll="campaigns.fetchCampaigns()" infinite-scroll-disabled='campaigns.busy' infinite-scroll-distance="0">
    <div class="row-fluid" data-ng-repeat="campaign in campaigns.campaignList">

        <div class="col-md-12">

            <div class="campaign">
                <div class="col-md-1">
                    <div><span class={{campaign.status}}></span></div>
                    <div><span class="marg-10"> {{campaign.status}}  </span></div>
                    <div class="edit-stats-icons">
                        <div>
                          <a ng-href="/campaigns/{{campaign.orderId}}">
                            <span class="icons-bckground" id="icon-campaign-edit"></span>
                          </a>
                        </div>
                        <div>
                          <span class="icons-bckground" id="icon-campaign-report"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <span class="campaign-name"> {{campaign.campaignTitle}} </span>
                    <div class="brand"> 
                        <span class="bold">{{campaign.brandName }}</span>
                        <span class="brand-type"><!-- Note: vertical will be placed here Refer [CD-324] --></span>
                    </div>
                    <div class="duration"> <!--<img src="../img/images/icn_flight_date.png" alt="Flight-icon" />-->
                        <span class="date">
                        {{campaign.startDate | date :'d' }}
                        {{campaign.startDate | date :' MMM' }}
                        {{campaign.startDate | date :' y' }}
                         -
                        {{campaign.endDate | date :'d' }}
                        {{campaign.endDate | date :' MMM' }}
                        {{campaign.endDate | date :' y' }}
                        </span>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div>
                            <div class="strategies">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="bold">{{campaign.lineitemsCount}} </span> <span class="strat-text"> Strategies </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 marg-10">
                    <div class="row-fluid">
                        <div class="col-md-5 marg-10">
                            Delivered Impr.
                        </div>
                        <div class="col-md-7">
                            <span class="blue">103,240</span><span class="suffix"><span class="seperator"> / </span>{{campaign.totalImpressions | number}}</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-5">
                                        Spend
                        </div>
                        <div class="col-md-7">
                            <span class="green">$103,240</span><span class="suffix"><span class="seperator"> / </span>${{campaign.totalMediaCost | number}}</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding: 0;">
                            <div class="highcharts">
                           <!--  <highchart config="chartConfig" chartTitle="" style="width:219px; height: 150px; margin: 0 auto; "></highchart> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row-fluid">
                        <div class="col-md-7 kpi-text-container">Cumulative KPI:
                            <span class="bold">{{campaign.kpiType ? campaign.kpiType : 'NA'}}</span>
                        </div>
                        <div class="col-md-5 kpi-values">
                            <span class="kpi-goal"></span>
                            <span class="bold">{{campaign.kpiValue ? '$' + campaign.kpiValue : 'NA'}}</span>
                            <div>
                                <span style="font-size: 10pt;">Avg.</span>
                                <span class="bold">{{campaign.kpiValue ? '$' + campaign.avgKpiValue : 'NA'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12" style="padding: 0;">
                            <div class="highcharts">
                                 <highchart config="campaign.chart" chartTitle="" style="width:219px; height: 150px;"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div ng-show='campaigns.busy'>Loading data...</div>
</div>

<script type="text/javascript">
//    $('.collapse').collapse();
    $(document).ready(function() {
        $( "#cdbMenu" ).click(function() {
            $( "#cdbDropdown" ).toggle();
         });
        $( ".menuItemText" ).click(function() {
            $("#cdbDropdown").toggle();
            $("#durationMenuText").text(angular.uppercase($(this).text()));
            $('#cdbDropdown').find('li.active').removeClass('active');
            $(this).parent().parent().addClass('active');
        });
        $( document ).click(function() {
            if($("#cdbDropdown").is(':visible')) {
                $("#cdbDropdown").hide();
            }
        });
    });
</script>
