<div class="nav_filters_heading" data-ng-bind="textConstants.ADVERTISER"></div>
<div class="col-md-12 zeroPadding">
    <div class="brand_name_selected"
         id="advertiser_name_selected"
         data-ng-click="showAdvertisersDropDown()"
         title="{{selectedAdvertiser.name}}"
         data-ng-bind="(selectedAdvertiser.name ?
            selectedAdvertiser.name : 'All Advertisers')">
    </div>
    <span class="icon-arrow-solid-down"></span>
</div>
<div class="clearfix">
    <div class="brandsDropdownSearch dropdown-workflow"
         data-ng-class="advertisers.length > 0 ? '' : 'loadedDropdownData'">
        <ul class="dropdown-menu" role="menu" id="advertisersDropDownList">
            <div id="brandsDropdownDiv">
                <input class="dropdown-toggle inactive"
                       id="advertisersDropdown"
                       data-ng-keyup="disableShowAll();"
                       data-ng-model="selectedAdvertiser.name"
                       placeHolder="{{(selectedAdvertiser.name ?
                        selectedAdvertiser.name : 'Select Advertiser')}}">
                <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
            </div>
            <div  class="advertisersList_ul">
                <!--removed track by as on dashboard its giving dupes error-->
                <li data-ng-repeat="advertiser in advertisers | filter : selectedAdvertiser.name"
                    data-ng-hide="isExcludedByAdvertiserFilter"
                    data-ng-class="{'active': advertiser.id === selectedAdvertiser.id}"
                    title="{{advertiser.name}}">
                    <a data-ng-click="selectAdvertiser(advertiser, 'clicked')">
                        <span class="tick"></span>
                        <span class="menuItemText" data-ng-bind="advertiser.advertiserDisplayName || advertiser.name"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>
