<div class="nav_filters_heading">{{textConstants.ADVERTISER}}</div>
<div class="brand_name_selected" id="advertiser_name_selected" ng-click="showAdvertisersDropDown()" title="{{advertiserData.selectedAdvertiser.name}}"  ng-bind="(advertiserData.selectedAdvertiser.name ? advertiserData.selectedAdvertiser.name : 'All Advertisers')"></div>
<div class="clearfix">
    <div class="brandsDropdownSearch dropdown-workflow">
        <ul class="dropdown-menu" role="menu" id="advertisersDropDownList">
            <div id="brandsDropdownDiv">
                <input class="dropdown-toggle inactive"  id="advertisersDropdown"  ng-keyup="disableShowAll();" ng-model="selectedAdvertiser.name"/>
                <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
            </div>
            <div  class="advertisersList_ul">
                <!--removed track by as on dashboard its giving dupes error-->
                <li ng-repeat="advertiser in advertisers  | filter : selectedAdvertiser.name" ng-hide="isExcludedByAdvertiserFilter" ng-class="{'active' : advertiser.id === advertiserData.selectedAdvertiser.id}" title="{{advertiser.name}}" >
                    <a data-ng-click="selectAdvertiser(advertiser, 'clicked')">
                        <span class="tick"></span>
                        <span class="menuItemText" ng-bind-html="highlightSearch(advertiser.name, selectedAdvertiser.name)" ng-bind="advertiser.name"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>
