<div class="nav_filters_heading">Brand</div>
<div class="brand_name_selected" id="brand_name_selected" ng-class="{no_pointer: advertiser &&  advertiser.id == -1}" ng-click="(advertiser &&  advertiser.id !== -1)   ? brandsDropdownClicked() : ''" title="{{brandData.selectedBrand.name}}" ng-bind="(brandData.selectedBrand.name ? brandData.selectedBrand.name : 'All Brands')" ></div>
<div class="clearfix">
  <div class="brandsDropdownSearch dropdown-workflow">
    <ul class="dropdown-menu" role="menu" id="brandsList">
      <div id="brandsDropdownDiv">
        <input class="dropdown-toggle inactive"  id="brandsDropdown"   ng-keyup="disableShowAll();" ng-model="selectedBrand.name"/>
        <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
      </div>
      <div class="brandsList_ul" id="brandsList_ul">
          <li ng-repeat="brand in brands | filter : selectedBrand.name track by brand.id" ng-hide="isExcludedByBrandFilter" ng-class="{'active' : brand.id === brandData.selectedBrand.id}">
          <a data-ng-click="selectBrand(brand, '', 'clicked')">
            <span class="tick"></span>
            <span class="menuItemText" ng-bind-html="highlightSearch(brand.name, selectedBrand.name)" ng-bind="brand.name"></span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>

