<div class="nav_filters_heading">Brand</div>
<div class="col-md-12 zeroPadding" ng-class="{no_pointer: advertiser_id &&  advertiser_id == -1}">
    <div class="brand_name_selected" id="brand_name_selected" ng-click="(advertiser_id &&  advertise_id !== -1)   ? brandsDropdownClicked() : ''"
         title="{{selectedBrand.brandName}}" ng-bind="(selectedBrand.brandName ? selectedBrand.brandName : 'All Brands')" ></div>
    <span class="icon-arrow-solid-down"></span>
</div>

<div class="clearfix">
    <div class="brandsDropdownSearch dropdown-workflow" ng-class="brands.length > 0 ? '' : 'loadedDropdownData' ">
        <ul class="dropdown-menu" role="menu" id="brandsList">
            <div id="brandsDropdownDiv">
                <input class="dropdown-toggle inactive"  id="brandsDropdown"   ng-keyup="disableShowAll();" ng-model="searchInput"/>
                <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
            </div>
            <div class="brandsList_ul" id="brandsList_ul">
                <li ng-repeat="brand in brands | filter : searchInput track by brand.brandId" ng-hide="isExcludedByBrandFilter"
                    ng-class="{'active' : brand.brandId === selectedBrand.brandId}">
                    <a data-ng-click="selectBrand(brand, '', 'clicked')">
                        <span class="tick"></span>
                        <span class="menuItemText" ng-bind="brand.brandName"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>

