<div class="clearfix dropdown_type1_holder pull-left active ">
    <div class="report_heading_dropdown_txt nav_filters_heading" data-ng-bind="headerText"></div>
    <div class="posRelative">
        <div class="campaign_name_selected"
             title="{{selectedObj.name}}"
             campaignid="{{selectedObj.id || selectedObj.campaign_id}}"
             id="campaign_name_selected"
             data-ng-model="selectedObj.name"
             data-ng-bind="selectedObj.name">
        </div>
        <span class="icon-arrow-solid-down"></span>
    </div>
    <div class="clearfix dropdown dropdown-workflow dropdown_type1">
        <div class="dropdown_ul_text" data-toggle="dropdown">
            <!--Campaign data: {{campaignData.campaigns}}-->
            <ul class="nav navbar-nav">
                <li class="dropdown {{loading_icon_mediaplan}}">
                    <ul class="dropdown-menu campaigns_list dropdown-menu-with-search" role="menu" id="campaigns_list">
                        <div class="col-md-12 zeroPadding search-inside-dropdown" id="campaignsDropdownDiv">
                            <input class="dropdown-toggle inactive dd_txt campaignDropdown"
                                   id="campaignDropdown"
                                   data-ng-keyup="search(fileIndex, $event)"
                                   placeHolder="Search Media Plans...">
                            <span class="sort-image-inactive" id="#campaignsDropdownDiv"></span>
                            <span class="campaign_name_length" data-ng-bind="selectedObj.name"></span>
                        </div>
                        <div class="col-md-12 zeroPadding dropdown_list_scroll">
                            <li data-ng-repeat="campaign in campaignData.campaigns track by $index"
                                class="campaigns_list_li {{campaign.name === selectedObj.name ? 'active' : ''}}"
                                value="{{(campaign.campaign_id == undefined)? campaign.id : campaign.campaign_id}}"
                                title="{{campaign.name}}">
                                <a data-ng-click="selectCampaign(campaign)">
                                    <span class="tick"></span>
                                    <span class="menuItemText" data-ng-bind-html="highlightSearch(campaign.name, selectedObj.name)" data-ng-bind="campaign.name"></span>
                                </a>
                            </li>
                            <li class="common-loading-area" data-ng-show="campaignData.campaigns.length && fetching"></li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
