<popup-msg ng-show="alertMessage"
           ng-controller="popUpMsgCtr"
           ng-init="init('alertMessage', 'WF_CAMPAIGN_ARCHIVE_FAILURE')">
</popup-msg>

<div id="detailedPage" class="dashboard_outer_container yo" ng-controller="CampaignListController">
 <!-- header-->
    <div class="clearfix page_header_container campaign_list_header">
        <div class="pull-left campaign_name_holder">
            <span class="campaign_name" data-ng-bind="textConstants.CAMPAIGNS"></span>
        </div>
        
        <div class="pull-right common-loading-btn" style="display:none;"></div>
     </div>
    <div class="dropdown_filters_holder">
        <filters-header></filters-header>
    </div>

    <!-- header ends-->
    <div class="col-md-12 zeroPadding">
        <!--<span ng-bind-html="campaigns.appliedQuickFilterText == 'Ontrack'?'On Track':campaigns.appliedQuickFilterText"></span>-->
        
        <!--Create Media Plan Btn-->
        <a href="/mediaplan/create" ng-show="isWorkFlowUser" ng-if="showCreateMediaPlan" class="pull-left btn btn-primary" data-ng-bind="textConstants.CREATE_CAMPAIGN"></a>
        
        <!--Quick Filters-->
        <div campaign-list-filter-directive campaigns="campaigns" class="pull-right"></div>
        
        <!--Search Input-->
        <div class="btn-group pull-right" style="display: none;">
            <button type="button" class="btn btn-default pull-right" style="display: none"><span class="icon-filter" style="margin: -1px 0 0 0;"></span></button>
            <div class="searchInput pull-right" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                <a class="btn btn-default searchInputBtn" ng-click="searchShowInput()">
                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0 0;"></span>
                </a>
                <div class="input-group searchInputForm" >
                    <input type="text" class="form-control" name="creativeSearch" ng-model="creativeSearch" ng-keyup="creativeSearchFunc()" placeholder="Search Creative By Name and Size..">
                    <div class="btn btn-default" ng-click="searchHideInput()">
                        <span class="icon-clear" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <span class="pull-right" style="font-size: 12px; margin: 10px 10px 0 0;">{{campaigns.dashboard.quickFilterSelectedCount}} Media Plans in list</span>
    </div>

    <div class="fixed_line"></div>
    <div class="col-md-12 zeroPadding fixed_container">
        <!--dashboard (status bar) partial view-->
       <!--<div campaign-dashboard campaigns="campaigns"></div>-->

        <!--dashboard (status bar) partial view ends-->
        <div class="cost_col_header_tabs_holder" style="margin-top: 15px;">
            <div class="clearfix cost_tabs_margin" style="display: none;">
                <div class="clearfix cost_tabs_holder">
                    <div class="each_tab" id="performance_tab" ng-click="campaigns.getData('performance_tab')">
                        <div class="each_tab_text" data-ng-bind="textConstants.PERFORMANCE"></div>
                    </div>
                    <div class="each_tab cost_tab" id="cost_tab" ng-show="isAgencyCostModelTransparent && showCostTab">
                        <div class="each_tab_text" ng-click="campaigns.getData('cost_tab')" data-ng-bind="textConstants.COST_BREAKDOWN"></div>
                    </div>
                </div>

            </div>

            <!--cost filter -->
            <div campaign-cost-sort class="clearfix filter_header_block cost_col_container campaign_cost_header_holder hideMobile"  campaigns="campaigns" style="display:none" id="cost_filter_header"></div>
            <!--cost  filter ends-->

            <!--filter (campaign sort filter) partial view-->
            <div campaign-list-sort campaigns="campaigns" id="performance_filter_header" class="filter_header_block col-md-12 zeroPadding hideMobile"></div>
            <!--filter (campaign sort filter) partial view ends-->

        </div>
    </div>
    <div class="col-md-12 zeroPadding scrollable_container">
        <!-- COST DIV -->
        <div class="each_section_block total_campaign_cost_holder" id="cost_block" style="display:none" >
            <div class="all_campaigns_container">
                <div  class="no-campaign-available"
                      ng-if="(campaigns.dashboard.filterTotal == 0 )" data-ng-bind="textConstants.NO_RELEVANT_CAMPAIGNS"></div>
                <div class="each_campaign_cost_container"
                     data-ng-repeat="campaign in campaigns.costBreakdownList |
                     orderBy:campaignListSortFunction:sortReverse track by campaign.orderId">
                    <!-- campaign cost card -->
                    <div ng-if="(campaigns.dashboard.filterTotal > 0 )"
                      campaign-cost-card campaign="campaign" campaigns="campaigns" class="col-md-12 zeroPadding"></div>
                     <!-- campaign cost card ends-->
                </div>
            </div>
            <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
        </div>
        <!-- END OF COST DIV -->

        <!-- PERFORMANCE DIV -->
        <div class="each_section_block total_campaign_list_holder"  id="performance_block" >
            <div class="all_campaigns_container">
                <div  class="no-campaign-available"
                      ng-if="(campaigns.dashboard.filterTotal == 0 )" data-ng-bind="textConstants.NO_RELEVANT_CAMPAIGNS"></div>
                <div class="row-fluid each_campaign_holder" data-ng-repeat="campaign in campaigns.campaignList">
                    <!-- campaign strategy card -->
                    <div ng-if="(campaigns.dashboard.filterTotal > 0 )"
                         campaign-card campaign="campaign" campaigns="campaigns" class="col-md-12 zeroPadding"></div>
                    <!-- campaign strategy card ends-->
                </div>
            </div>
            <div ng-show='campaigns.busy' class="load-more">&nbsp;</div>
        </div>
        <!-- END OF PERFORMANCE DIV -->
    </div><!--end of scrollable container-->
    <div class="load-more" id="load_more" style="display:none">&nbsp;</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".each_tab").click( function() {
            var tab_id = $(this).attr("id").split("_tab") ;
            $(".cost_tabs_margin").find(".active").removeClass("active") ;
            $(this).addClass("active") ;
            $(".each_section_block , .filter_header_block , .cost_margin ").hide() ;
            $( "#" + tab_id[0] + "_block , #" + tab_id[0] + "_filter_header , ." + tab_id[0] + "_margin"  ).show() ;
        }) ;
        $(".dropdown_ul li").click( function() {
            $(this).closest(".dropdown").find(".dd_txt").text($(this).text()) ;
        }) ;
    });
</script>
