<popup-msg data-ng-show="alertMessage"
           data-ng-controller="popUpMsgCtr"
           data-ng-init="init('alertMessage', 'WF_CAMPAIGN_ARCHIVE_FAILURE')">
</popup-msg>

<div id="detailedPage" class="dashboard_outer_container yo" data-ng-controller="CampaignListController">
    <!-- header-->
    <div class="clearfix page_header_container campaign_list_header">
        <div class="pull-left campaign_name_holder">
            <h1 class="pull-left" data-ng-bind="textConstants.CAMPAIGNS"></h1>
        </div>
        <div class="pull-right common-loading-btn" style="display:none;"></div>
     </div>
    <div class="dropdown_filters_holder">
        <filters-header></filters-header>
    </div>
    <!-- header ends-->

    <div class="col-md-12 zeroPadding" style="margin-top: 15px;">
        <!--Create Media Plan Btn-->
        <div class="pull-left btn-group create" role="group" aria-label="...">
            <a class="btn btn-default" ng-click="navigateToMediaPlanCreatePage()"  ng-if="showCreateMediaPlan">
                <span class="icon-plus"></span>
                <span data-ng-bind="textConstants.CREATE"></span>
            </a>
        </div>

        <!--Quick Filters-->
        <div campaign-list-filter-directive campaigns="campaigns" class="pull-right"></div>

        <!--Search Input-->
        <div class="btn-group pull-right" style="margin-right: 10px;">
            <div class="searchInput pull-right">
                <a class="btn btn-default searchInputBtnInline"
                   data-ng-click="campaignSearchFunc()"
                   style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                </a>
                <div class="input-group searchInputForm" >
                    <input type="text"
                           class="form-control"
                           name="campaignsSearch"
                           search-box
                           data-ng-model="campaigns.searchTerm"
                           data-ng-keyup="campaignSearchFunc($event)"
                           placeholder="Search Media Plans...">
                    <div class="btn btn-default searchClearInputBtn" data-ng-click="searchHideInput($event)">
                        <span class="icon-clear" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <!--  campaigns.appliedQuickFilterText -->
        <span class="pull-right"
              data-ng-bind="campaigns.searchTerm ? campaigns.dashboard.quickFilterSelectedCount + ' out of ' +
                campaigns.dashboard.filterTotal + ' Media Plans' :
                campaigns.dashboard.quickFilterSelectedCount + ' Media Plans'"
              style="font-size: 12px; margin: 10px 10px 0 0;">
        </span>
    </div>

    <div class="fixed_line"></div>
    <div class="col-md-12 zeroPadding fixed_container">
        <div class="cost_col_header_tabs_holder" style="margin-top: 15px;">
            <div class="clearfix cost_tabs_margin" style="display: none;">
                <div class="clearfix cost_tabs_holder">
                    <div class="each_tab" id="performance_tab" data-ng-click="campaigns.getData('performance_tab')">
                        <div class="each_tab_text" data-ng-bind="textConstants.PERFORMANCE"></div>
                    </div>
                    <div class="each_tab cost_tab" id="cost_tab" data-ng-show="isAgencyCostModelTransparent && showCostTab">
                        <div class="each_tab_text"
                             data-ng-click="campaigns.getData('cost_tab')"
                             data-ng-bind="textConstants.COST_BREAKDOWN">
                        </div>
                    </div>
                </div>
            </div>

            <!--cost filter -->
            <div campaign-cost-sort
                 class="clearfix filter_header_block cost_col_container campaign_cost_header_holder hideMobile"
                 campaigns="campaigns"
                 style="display:none"
                 id="cost_filter_header">
            </div>
            <!--cost  filter ends-->

            <!--filter (campaign sort filter) partial view-->
            <div campaign-list-sort
                 campaigns="campaigns"
                 id="performance_filter_header"
                 class="filter_header_block col-md-12 zeroPadding hideMobile">
            </div>
            <!--filter (campaign sort filter) partial view ends-->
        </div>
    </div>

    <div class="col-md-12 zeroPadding scrollable_container">
        <!-- PERFORMANCE DIV -->
        <div class="each_section_block total_campaign_list_holder" id="performance_block">
            <div class="all_campaigns_container">
                <div  class="no-campaign-available"
                      data-ng-if="campaigns.noData"
                      data-ng-bind="textConstants.NO_RELEVANT_CAMPAIGNS">
                </div>
                <div data-ng-show="campaigns.busy" class="load-more">&nbsp;</div>
                <div class="clearfix row-fluid each_campaign_holder"
                     data-ng-repeat="campaign in campaigns.campaignList">
                    <!-- campaign strategy card -->
                    <div data-ng-if="(campaigns.dashboard.filterTotal > 0)"
                         campaign-card
                         campaign="campaign"
                         campaigns="campaigns"
                         class="col-md-12 zeroPadding">
                    </div>
                    <!-- campaign strategy card ends-->
                </div>
            </div>
        </div>
        <!-- END OF PERFORMANCE DIV -->
    </div>
    <!--end of scrollable container-->

    <div class="col-md-12 load-more" id="load_more" data-ng-show="campaigns.loadMoreCampaigns">&nbsp;</div>
    <campaign-drop-down selected-obj=selectedCampaign style="visibility: hidden"></campaign-drop-down>
</div>

<script>
    $(document).ready(function () {
        $('.each_tab').click(function () {
            var tab_id = $(this).attr('id').split('_tab');

            $('.cost_tabs_margin').find('.active').removeClass('active');
            $(this).addClass('active') ;
            $('.each_section_block , .filter_header_block , .cost_margin ').hide();
            $( '#' + tab_id[0] + '_block, #' + tab_id[0] + '_filter_header, .' + tab_id[0] + '_margin').show();
        });

        $('.dropdown_ul li').click(function () {
            $(this).closest('.dropdown').find('.dd_txt').text($(this).text());
        });
    });
</script>
