<div id="tactics-accordion-{{strategy.id}}" class="clearfix tactics_container col-md-12 zeroPadding" style="display:none">
    <div id="loading_icon_{{strategy.id}}" style="display:none" class="load-more">&nbsp;</div>
    <div ng-repeat="tactic in strategy.strategyTactics track by tactic.id" class="clearfix tactics_linkage_lines each_tactic_holder">
        <!--<div class="tactics_linkage_lines_bar"></div>-->
        <div class="each_tactic_container">

            <div class="clearfix each_campaign_list_container">
                <div class="clearfix">
                    <div class="each_campaign_section" style="padding-right: 0;">
                        <div class="campaign_status_icon {{tactic.status.toLowerCase()}}_bulb" tooltip-placement="left" tooltip="{{tactic.status.toLowerCase() == 'in_flight'?'In Flight':tactic.status.toLowerCase() | toCamelCase}}"></div>
                    </div>
                    <div class="each_campaign_section zeroPadding">
                        <div class="main_heading">
                             <truncate-text-with-hover txt="{{tactic.name}}"
                                                       txt-html="{{tactic.name}}"
                                                       txtlength="75">
                             </truncate-text-with-hover>
                        </div>

                    </div>
                    <div class="each_campaign_section zeroPadding">
                        <div class="clearfix tactic_accordion_details">
                            <div ng-if="(tactic.audience_targeting!='null' && tactic.audience_targeting!='' && tactic.audience_targeting.length > 0  )">
                               <!--TODO - remove the commented one  after the fix -->
                                <!--<span class="audience-icon"></span> -->
                                <!-- <span>{{(tactic.audience_targeting? (tactic.audience_targeting | truncateString : 78) : '[...]')}}</span> -->
                                <targeting-icon-with-hover class-name="audience-icon" txt="{{tactic.audience_targeting}}" ></targeting-icon-with-hover>
                            </div>
                            <div ng-if="(tactic.geo_targeting!='null' && tactic.geo_targeting!='' && tactic.geo_targeting.length > 0  )">
                                <!--<span class="globe-icon"></span>-->
                                <!-- <span>{{(tactic.geo_targeting? (tactic.geo_targeting | truncateString : 78) : '[...]')}}</span> -->
                                <targeting-icon-with-hover class-name="globe-icon" txt="{{tactic.geo_targeting}}" ></targeting-icon-with-hover>
                            </div>
                            <div ng-if="(tactic.zip_targeting!='null' && tactic.zip_targeting!=''&& tactic.zip_targeting.length > 0  )">
                                <!--<span class="location-icon"></span>-->
                                <!-- <span>{{(tactic.zip_targeting? (tactic.zip_targeting | truncateString : 65) : '[...]')}}</span> -->
                                 <targeting-icon-with-hover class-name="location-icon" txt="{{tactic.zip_targeting}}" ></targeting-icon-with-hover>
                            </div>
                            <div class="duration"  ng-if="(tactic.ad_size!='null' && tactic.ad_size!='' && tactic.ad_size.length > 0  )">
                                <!--<span class="device-icon {{tactic.media_type_icon}}"></span>-->
                                <!-- <span>{{(tactic.ad_size ? (tactic.ad_size | truncateString : 50) :'[...]')}}</span> -->
                                <targeting-icon-with-hover class-name="device-icon {{tactic.media_type_icon}}" txt="{{tactic.ad_size.join()}}" ></targeting-icon-with-hover>
                            </div>
                            <div class="tracking"  ng-if="tactic.is_tracking">
                                <span class="icon-tracking" ></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column 1-->
                <div class="col-md-4 each_campaign_section campaign_list_details">
                    <div class="days_left_holder">
                        <div class="total_days_holder">

                            <div class="clearfix days_end_points">
                                <span class="start_end">{{tactic.startDate | date :'d MMM y' }}</span>
                                <span class="finish_end">{{tactic.endDate | date :'d MMM y' }}</span>
                            </div>
                            <div ng-init="duration_t = tactic.durationLeft()"></div>
                            <div class="days_over" ng-style="{'width':tactic.durationCompletion() +'%'};">
                              <span ng-if="duration_t == 'Yet to start'"  class="days_over_text start_text">{{textConstants.YET_TO_START}}</span>
                              <span ng-if="duration_t == 'Ended'" class="days_over_text ended_text" >{{textConstants.ENDED}}</span>
                              <span ng-if="duration_t > 0"   class="days_over_text">{{duration_t}} {{textConstants.DAYS_LEFT}}</span>
                            </div>
                            <div ng-if="duration_t == 'Started today'" class="days_not_over_text start_text">{{textConstants.STARTED_TODAY}}</div>
                            <div ng-if="duration_t == 'Ending today'" class="days_not_over_text ended_text" >{{textConstants.ENDING_TODAY}}</div>

                        </div>
                    </div>
                    <div  class="clearfix channel_details">
                        <img ng-show="tactic.platform_icon"  ng-src="{{tactic.platform_icon}}" class="pull-left" >
                        <span class="pull-left">{{tactic.platform_name}}</span>
                    </div>
                </div>

                <!--Column 2-->
                <div class="col-md-4 each_campaign_section metric_campaign_section">
                    <div class="clearfix metric_graph_header">
                        <span class="metric_title">{{textConstants.SPEND}}</span>
                        <span class="metric_val">{{tactic.grossRev | currency:undefined:2}}</span>
                    </div>
                    <div class="metric_graph {{getSpendClassForTactic(tactic)}}">
                        <div class="full_metric_graph">
                              <div class="selected_graph {{(getSpendWidthForTactic(tactic) >= 100) ? 'completely_filled' : ''}} " ng-style="{'width':getSpendWidthForTactic(tactic) +'%'};"> <!-- put completely_filled when 100% -->
                              </div>
                              <div class="graph_start_point {{(getSpendTickWidthForTactic(tactic) <= 0) ? 'start_beginning' : ''}} {{(getSpendTickWidthForTactic(tactic) >= 88) ? 'start_end_point' : ''}}" ng-style="{'left':getSpendTickWidthForTactic(tactic) +'%'};"><!-- put start_beginning when at start -->

                                  <div class="end_point_val">
                                      <span class="icon_KPI"> {{tactic.expectedMediaCost | nrFormatWithCurrency }}</span>
                                      <div class="end_point_line"></div>
                                  </div>
                              </div>
                              <div class="graph_end_point completed_end_point budget_graph_val"><!-- put completed_end_point when at end -->
                                  <div class="end_point_val">
                                      <div class="end_point_line"></div>
                                      <span>{{textConstants.BUDGET}}: {{tactic.totalMediaCost | currency:undefined:2}}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    <div class="clearfix metric_graph_details">
                        <div class="each_metric_graph_details" ng-if="tactic.chart != false">
                            <span class="detail_val" ng-bind="tactic.totalImpressions | nrFormat"></span>
                            <span>{{textConstants.IMP_WITH_DOT}}</span>
                        </div>
                        <div class="each_metric_graph_details metric_graph_details_ctr"  ng-if="tactic.ctr > 0">
                            <span class="detail_val">{{tactic.ctr | roundThisOff : 2}}%</span>
                            <span>{{textConstants.CTR}}</span>
                        </div>
                        <!--   <div class="each_metric_graph_details metric_graph_details_action" ng-if="!tactic.adFormats.videoAds || tactic.vtc_rate < 0">  -->
                        <div class="each_metric_graph_details metric_graph_details_action" ng-if="tactic.vtc_rate < 0">
                            <span class="detail_val">{{tactic.actionRate | number : 2}}%</span>
                            <span>{{textConstants.ACTION_RATE}}</span>
                        </div>
<!-- <div class="each_metric_graph_details  metric_graph_details_vtc" ng-if="tactic.adFormats.videoAds && tactic.vtc_rate >= 0"> -->
                        <div class="each_metric_graph_details  metric_graph_details_vtc" ng-if="tactic.vtc_rate >= 0">
                            <div class="quartile_details_VTC_btn" ng-mouseover="VTCpopup($event,1)" ng-mouseout="VTCpopup($event,0)">
                                <span class="detail_val">{{tactic.vtc_rate | number : 2}}%</span>
                                <span>{{textConstants.VTC}}</span>
                            </div>
                            <div class="quartile_details_VTC">
                                <div class="quartile_details_title">{{textConstants.QUARTILE_DETAILS}}</div>
                                <div class="quartile_details_graph" width='328' height='158' quartiles-graph chart-data="{{tactic.vtcData}}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column 3-->
                <div class="col-md-4 each_campaign_section campaign_section_KPI">
                    <div class="graph_details_KPI">
                        <div class="clearfix details_KPI_row1">
                            <span class="details_KPI_title">{{campaign.kpiType !='null' ?  campaign.kpiType : 'NA' | displayToCamelCase}}</span>
                            <span class="pull-right details_KPI_row2" ng-if="campaign.kpiValue || tactic.targetKPIImpressions">
                                <span ng-if="tactic.chart !==false">{{campaign.kpiType.toLowerCase()=="impressions"?( tactic.targetKPIImpressions | nrFormat ): (campaign.kpiValue | kpiFormatter:campaign.kpiType)}}</span>
                                <span class="icon_KPI" ng-if="tactic.chart !==false"></span>
                            </span>
                            <span class="pull-right cumulative_val" ng-if="tactic.chart !==false">
                                {{textConstants.CUMULATIVE_VALUE}} <span>{{(campaign.kpiType.toLowerCase()=='impressions')?(tactic.totalImpressions| kpiFormatter:campaign.kpiType:1):(tactic.map[campaign.kpiType.toLowerCase()] | kpiFormatter:campaign.kpiType:1)}}</span>
                            </span>
                        </div>


                    </div>
                     <div class="graph_KPI_outer_holder">
                          <span ng-switch="tactic.chart">
                            <span ng-switch-when="true" class="no-chart load-more">&nbsp;</span>
                            <span ng-switch-when="false" class="no-chart" ng-bind-html="getMessageForDataNotAvailable(tactic)"></span>
                            <span ng-switch-default>
                                <div ng-if="(tactic.chart && campaign.kpiType)" class="graph_KPI_holder" >
                                    <div class="campaign_details_graph" width='355' height='111' campaign-chart chart-data="{{tactic.lineChart}}" chart-location="tactics" chart-tag="{{tactic.id}}"></div>
                                    <!-- <highchart class="graph_KPI_holder" config="tactic.chart" chartTitle=""></highchart> -->
                                </div>
                                <div ng-if="!(tactic.chart && campaign.kpiType)" class="graph_KPI_holder" ng-bind-html="getMessageForDataNotAvailable(tactic)">
                                </div>

                            </span>
                          </span>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <span ng-if='strategy.strategyTacticsLoadMore.length' class="load-more-strategies load-more-tactics"><a ng-click="loadMoreTactics(strategy.id, campaign.orderId)"> Load More Ads</a></span>
</div>
