<div class="popup-holder">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                data-ng-click="close()"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel" data-ng-bind="textConstants.CHANGE_PASSWORD"></h2>
    </div>
    <div class="modal-body">
        <div class="clearfix data_row">
            <div class="form-group col-md-12 zeroPadding" >
                <label class="col-sm-12 greyTxt" data-ng-bind="textConstants.PASSWORD"></label>
                <input type="password"
                       class="form-control"
                       data-ng-model="password"
                       placeholder="{{textConstants.PASSWORD}}" >
            </div>
            <div class="form-group col-md-12 zeroPadding" >
                <label class="col-sm-12 greyTxt" data-ng-bind="textConstants.CONFIRM_PASSWORD"></label>
                <input type="password"
                       class="form-control"
                       data-ng-model="confirm_password"
                       placeholder="{{textConstants.CONFIRM_PASSWORD}}"
                       ng-blur="checkPassword();">
            </div>
            <div>
                
                <label class="txtError" ng-if="!passwordValidation" data-ng-bind="passwordValidationErrorTxt">
                </label>
            </div>
            
        </div>

    </div>
    <!-- end of modal_body -->

    <div class="clearfix popup-btns-holder">
        <span class="common_primary_btn" data-ng-click="update_password();" style="width:auto;" data-ng-bind="textConstants.UPDATE_PASSWORD"></span>
        <span class="secondary_txt" data-dismiss="modal" data-ng-click="close()" data-ng-bind="textConstants.MP_CANCEL" ></span>
    </div>
 </div>
<!-- end of popup-holder -->