<!-- Message on top , if that is an error message add "red_msg" class to "top_message_box" container -->
<popup-msg data-ng-show="flashMessage"
           data-ng-controller="popUpMsgCtr"
           data-ng-init="init('flashMessage')">
</popup-msg>
<!-- End of Message on top , if that is an error message add "red_msg" class to "top_message_box" container -->

<div class="report_generator_and_response reports_list_page">
	<div class="report_builder_container">
	    <div class="container">
	    	<div class="clearfix title1" >
	    		<h3 class="pull-left">{{textConstants.COLLECTIVE_INSIGHTS}}</h3>
				<a ng-click="goToUploadReports()" class="pull-right btn btn-default" style="margin-top: 30px;">
                    <span class="icon-upload pull-left"></span>
                    <span class="pull-left" style="margin: 2px 0 0 10px;"
                          data-ng-bind="textConstants.UPLOAD_REPORT">
                    </span>
                </a>
	    	</div>
	    </div>
	</div>
    <filters-header reports="true" strategy=false all-campaign=true></filters-header>
  	<div>
        <div class="custom_report_response_page">
            <div class="clearfix table_header">
                <span class="each-col update-time-col icon_text_holder sort-icon-holder"
                      data-ng-class="{'active': sort.column === 'updatedAt'}"
                      data-ng-click="sortReport('updatedAt')">
                    Updated
                    <span class="common-sort-icon descending"
                          data-ng-class="(sort.descending ? 'ascending' : 'descending')">
                    </span>
                </span>
                <span class="each-col report-type-col sort-icon-holder"
                      data-ng-class="{'active': sort.column === 'reportType'}"
                      data-ng-click="sortReport('reportType')">
                    Report Type
                    <span class="common-sort-icon"
                          data-ng-class="(sort.descending ? 'ascending' : 'descending')">
                    </span>
                </span>
                <span class="each-col campaign-col sort-icon-holder"
                      data-ng-class="{'active': sort.column === 'campaignId'}"
                      data-ng-click="sortReport('campaignId')">
                    Media Plan
                    <span class="common-sort-icon"
                          data-ng-class="(sort.descending ? 'ascending' : 'descending')">
                    </span>
                </span>
                <span class="each-col author-col sort-icon-holder"
                      data-ng-class="{'active': sort.column === 'createdBy'}"
                      data-ng-click="sortReport('createdBy')">
                    Author
                    <span class="common-sort-icon"
                          data-ng-class="(sort.descending ? 'ascending' : 'descending')">
                    </span>
                </span>
            </div>
            <div class="upload_file_holder" data-ng-repeat="rlist in reportList track by $index">
                <div class="clearfix about_file_row">
                    <span class="each-col update-time-col" data-ng-bind="rlist.updatedAt | reportDateFilter"></span>
                    <span class="each-col report-type-col" data-ng-bind="rlist.reportType"></span>
                    <span class="each-col campaign-col " data-ng-bind="rlist.campaignName"></span>
                    <span class="each-col author-col" data-ng-bind="rlist.createdBy"></span>
                    <span class="each-col options-button-col" >
                        <a data-ng-click="downloadCollectiveReport(rlist.id)"
                           href="javascript:void(0);"
                           title="{{ rlist.fileName }}"
                           class="btn-icon download-icon">
                        </a>
                        <a data-ng-click="editReportModal($index)"
                           title="Edit"
                           class="btn-icon edit-icon"
                           href="javascript:void(0);">
                        </a>
                        <a data-ng-click="deleteReportModal($index,rlist.id)"
                           href="javascript:void(0);"
                           class="btn-icon delete-icon"
                           title="Delete">
                        </a>
                    </span>
                </div>
                <span class="description_row">{{rlist.notes}} </span>
              </div>

              <!--  no data or loading -->
              <div data-ng-class="{'no_data': nodata}" data-ng-bind="nodata"></div>
              <div data-ng-class="{'loading-icon': screenBusy}"></div>
        </div>
    </div>
</div>
