<div class="popup-holder">
    <div class="modal-header">
        <span class="icon-close closePopBtn" aria-hidden="true" data-ng-click="close()"></span>
        <h2 class="modal-title" id="myModalLabel">{{headerMsg}}</h2>
    </div>
    <div class="modal-body">
        <div class="data_row">
            <span data-ng-bind-html="mainMsg"></span>
        </div>
    </div>
    <!-- end of modal_body -->

    <div class="clearfix popup-btns-holder">
        <div class="external_chkbox pull-left"></div>
        <span class="common_primary_btn" data-ng-click="execute();close()">{{buttonName}}</span>
        <span class="secondary_txt" data-dismiss="modal" data-ng-click="close()">Cancel</span>
    </div>
</div>
<!-- end of popup-holder -->
