<div class="campaign-list-container">
    <div id="detailedPage" class="container"></div>
    <div class="total_reports_page">
        <div class="reports_header_section"></div>
        <div class="common_reports_container">
            <div class="clearfix page_top_header">
                <h1 class="pull-left col-md-6 page_name">Cost Report</h1>
                <div class="pull-right col-md-6 download_report">
                    <download-report></download-report>
                </div>
            </div>
            <div class="clearfix">
                <filters-header reports="true" strategies="true"></filters-header>
            </div>
            <div class="common-load-icon_viewability"
                 data-ng-show="strategyLoading && selectedCampaign.id !== -1">
            </div>
            <div class="cost_container smallScreenScrollContainer"
                 data-ng-hide="strategyLoading && selectedCampaign.id !== -1">
                <div class="no_data_found"
                     data-ng-if="!strategyFound"
                     style="width: 1200px;"
                     data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                </div>
                <div class="reports_main_page_holder smallScreenScrollDiv"
                     data-ng-show="strategyFound"
                     style="overflow-y: auto;">
                    <div class="reports_cost_header_holder smallScreenScrollContent">
                        <!--cost filter -->
                        <div class="clearfix cost_header_holder">
                            <div class="eachCol">
                                <span class="pull-left default-kpi-header-icon"
                                      tooltip="Primary KPI"
                                      data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() ===
                                        'impressions'">
                                </span>
                                 <div class="pull-left sortingHolder" 
                                 data-ng-class="sortClassFunction('impressions')"
                                 data-ng-click="clickToSort('impressions')">
                                    <div class="pull-left sortingTxt">Imps.</div>
                                    <div class="pull-left sortingIcon"></div>
                                </div>
                            </div>
                            <div class="eachCol">
                                <div class="dropdown kpi-dd-holder  col-md-12 zeroPadding" id="kpi_dropdown">
                                    <kpi-drop-down type="selectedFilters.kpi_type.toLowerCase()" changedrpval="yes"></kpi-drop-down>
                                </div>
                            </div>
                            <div class="eachCol " >
                                 <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('inventory_cost')"
                                 data-ng-click="clickToSort('inventory_cost')" >
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.INVENTORY"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                            </div>
                            <div class="eachCol">
                                 <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('data_cost')"
                                 data-ng-click="clickToSort('data_cost')">
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.DATA"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                            </div>
                            <div class="eachCol" >
                                <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('serving_cost')"
                                 data-ng-click="clickToSort('serving_cost')">
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.AD_SERVING"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                            </div>
                            <div class="eachCol">
                                 <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('verification_cost')"
                                 data-ng-click="clickToSort('verification_cost')">
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.AD_VERIFICATION"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                            </div>
                            <div class="eachCol">
                                 <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('creative_cost')"
                                 data-ng-click="clickToSort('creative_cost')">
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.CREATIVE"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                             </div>
                            <div class="eachCol">
                                 <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('research_cost')"
                                 data-ng-click="clickToSort('research_cost')">
                                     <div class="pull-left sortingTxt" data-ng-bind="textConstants.RESEARCH"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                             </div>
                            <div class="eachCol eachColHavingSubCells">
                                <span class="col-md-12 zeroPadding text-center"
                                      style="border-bottom: 1px solid #000; margin: 0 0 5px;">
                                    Platform Fees
                                </span>
                                <div class="col-md-12 zeroPadding">
                                    <span class="icon_text_holder subCells">
                                        <div class="pull-left sortingHolder" data-ng-class="sortClassFunction('tech_fees')"
                                          data-ng-click="clickToSort('tech_fees')">
                                          <div class="pull-left sortingTxt" data-ng-bind="textConstants.TECH_FEES"></div>
                                          <div class="pull-left sortingIcon"></div>
                                      </div>
                                    </span>
                                    <span class="icon_text_holder subCells text-right">
                                        <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('service_fees')"
                                          data-ng-click="clickToSort('service_fees')">
                                          <div class="pull-left sortingTxt" data-ng-bind="'Service'"></div>
                                          <div class="pull-left sortingIcon"></div>
                                      </div>
                                    </span>
                                    <span class="icon_text_holder subCells text-right">
                                        <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('tech_service_fees_total')"
                                          data-ng-click="clickToSort('tech_service_fees_total')">
                                          <div class="pull-left sortingTxt" data-ng-bind="'Total'"></div>
                                          <div class="pull-left sortingIcon"></div>
                                      </div>
                                    </span>
                                </div>
                            </div>
                            <div class="eachCol" >
                                <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('gross_rev')"
                                 data-ng-click="clickToSort('gross_rev')">
                                 <div class="pull-left sortingTxt"  data-ng-bind="textConstants.TOTAL_SPEND"></div>
                                 <div class="pull-left sortingIcon"></div>
                             </div>
                            </div>
                            <div class="eachCol" >
                                <div class="pull-right sortingHolder" data-ng-class="sortClassFunction('margin')"
                                 data-ng-click="clickToSort('margin')">
                                     <div class="pull-left sortingTxt" data-ng-bind="'Margin %'"></div>
                                     <div class="pull-left sortingIcon"></div>
                                 </div>
                             </div>
                        </div>
                        <!--cost  filter ends-->

                        <div class="cost_transparency_container">
                            <div class="each_cost_row_holder strategy_total_row">
                                <div class="each_cost_row media_plan_totals" data-ng-bind="strategyHeading" ng-if="strategyHeading"></div>
                            </div>
                        </div>

                        <div class="cost_transparency_container">
                            <div class="each_cost_row_holder strategy_total_row">
                                <div class="each_cost_row">
                                    <div class="no_data_found_cost_strategy"
                                         data-ng-if="dataNotFound"
                                         data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                                    </div>
                                    <div class="clearfix cost_col_container cost_cols_holder"
                                         data-ng-repeat="strategy in strategyCostData track by $index"
                                         data-ng-if="!dataNotFound">
                                        <div class="eachCol
                                                {{strategy.kpi_type.toUpperCase === 'IMPRESSIONS' ? 'bold' : ''}}"
                                             data-ng-bind="strategy.impressions != null ? (strategy.impressions |
                                                nrFormat : 0) : '-'">
                                        </div>
                                        <div class="eachCol textRight
                                                {{strategy.kpi_type === selectedFilters.kpi_type.toUpperCase() ?
                                                'bold' : ''}}"
                                             tooltip="{{selectedFilters.kpi_type.toLowerCase() === 'action_rate'?(strategy[selectedFilters.kpi_type.toLowerCase()] | actionRateToolTip ):null}}"
                                             data-ng-bind="(strategy[(selectedFilters.kpi_type.toLowerCase() === 'vtc')
                                                ? 'vtc_100': selectedFilters.kpi_type.toLowerCase()] | appendDollar :
                                                selectedFilters.kpi_type.toLowerCase())">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.inventory_cost != null ?
                                                (strategy.inventory_cost |currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.data_cost != null ?
                                                (strategy.data_cost | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.serving_cost != null ?
                                                (strategy.serving_cost | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.verification_cost != null ?
                                                (strategy.verification_cost | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.creative_cost != null ?
                                                (strategy.creative_cost | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.research_cost != null ?
                                                (strategy.research_cost | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachColHavingSubCells">
                                            <span class="subCells text-left"
                                                  data-ng-bind="strategy.tech_fees !== null ?
                                                    (strategy.tech_fees | currency : undefined : 0) : '-'">
                                            </span>
                                            <span class="subCells text-right"
                                                  data-ng-bind="strategy.service_fees !== null ?
                                                    (strategy.service_fees | currency : undefined : 0) : '-'">
                                            </span>
                                            <span class="subCells text-right "
                                                  data-ng-bind="strategy.tech_service_fees_total !== null ?
                                                    (strategy.tech_service_fees_total |
                                                    currency : undefined : 0) : '-'">
                                            </span>
                                        </div>
                                        <div class="eachCol text-right  bold"
                                             data-ng-bind="strategy.gross_rev !== null ?
                                                (strategy.gross_rev | currency : undefined : 0) : '-'">
                                        </div>
                                        <div class="eachCol text-right "
                                             data-ng-bind="strategy.margin !== null ?
                                                (strategy.margin | number : 0)  :  '-'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_startegy_cost">
                                    <div class="common-load-icon" data-ng-show="tacticCostBusy">&nbsp;</div>

                                    <!--{{filter.sortByColumn}}-->
                                    <div class="each_cost_row_holder"
                                         data-ng-repeat="tactic in tacticsCostData |
                                            orderBy : sortType : sortReverse track by $index">
                                        <div class="each_cost_row">
                                            <div class="each_cost_heading" data-ng-bind="tactic.name"></div>
                                            <div class="clearfix cost_col_container cost_cols_holder">

                                                <div class="eachCol {{tactic.kpi_type === 'IMPRESSIONS' ?
                                                        'bold' : ''}}"
                                                     data-ng-bind="tactic.impressions != null ?
                                                        (tactic.impressions | nrFormat : 0) : '-'">
                                                </div>
                                                <div class="eachCol textRight {{tactic.kpi_type ===
                                                        selectedFilters.kpi_type.toUpperCase() ? 'bold' : ''}}"
                                                     data-ng-bind="(tactic[(selectedFilters.kpi_type.toLowerCase() ===
                                                        'vtc') ? 'vtc_100': selectedFilters.kpi_type.toLowerCase()] |
                                                        appendDollar : selectedFilters.kpi_type.toLowerCase())">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.inventory_cost != null ?
                                                        (tactic.inventory_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.data_cost != null ?
                                                        (tactic.data_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.serving_cost != null ?
                                                        (tactic.serving_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.verification_cost != null ?
                                                        (tactic.verification_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.creative_cost != null ?
                                                        (tactic.creative_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.research_cost != null ?
                                                        (tactic.research_cost | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachColHavingSubCells">
                                                    <span class="pull-left subCells text-left"
                                                          data-ng-bind="tactic.tech_fees !== null ?
                                                            (tactic.tech_fees | currency : undefined : 0) : '-'">
                                                    </span>
                                                    <span class="pull-left subCells text-right"
                                                          data-ng-bind="tactic.service_fees !== null ?
                                                            (tactic.service_fees | currency : undefined : 0) : '-'">
                                                    </span>
                                                    <span class="pull-left subCells text-right "
                                                          data-ng-bind="tactic.tech_service_fees_total !== null ?
                                                            (tactic.tech_service_fees_total |
                                                            currency : undefined : 0) : '-'">
                                                    </span>
                                                </div>
                                                <div class="eachCol bold text-right "
                                                     data-ng-bind="tactic.gross_rev !== null ?
                                                        (tactic.gross_rev | currency : undefined : 0) : '-'">
                                                </div>
                                                <div class="eachCol text-right "
                                                     data-ng-bind="tactic.margin !== null ?
                                                        (tactic.margin | number : 0) : '-'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="viewLabelTxt" data-ng-bind="textConstants.VIEWLABLETXT_COST"></span> -->
                </div>
            </div>
        </div>
    </div>
</div>
