<div class="report_generator_and_response reports_upload_page">

	    <div class="container">
	    	<div class="row">
	    		<div class="title1" >
					<h3>Upload files</h3>
				</div>
	    	</div>
	    </div>


	<div class="file_upload_container  {{(reportsUploadList.length) ? 'some_file_uploaded' : ''}}"> <!-- add some_file_uploaded to reduce the height whenever one file is uploaded -->
			 <!-- ng-show="!progress || !reportsUploadList.length" -->
			<div  ng-show="!progress || !reportsUploadList.length" ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles" ngf-multiple="true" ngf-allow-dir="false"  class="drop-box" ngf-drag-over-class="dragover" ngf-accept="'.pdf,.xls,.ppt,.pptx,.xlsx'" ngf-max-size='10000000'>
	    <!-- ngf-accept="'.pdf,.xls'"
	   ngf-max-size='1000000000000' -->
	            <div class="file_upload_icon" >
	            </div>
      			<span class="img_table_txt">
      				Simple drag and drop files to add or  <a id="fileupload" href="javascript:void(0);" >Browse</a>
      			</span>
            	<span class="img_type_format">(ppt, pptx, pdf, xls, xlsx)</span>
			</div>




	<!-- accept="image/*,application/pdf" -->
	  <!-- <div ngf-drop ngf-select ng-model="files" class="drop-box"
	      ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.pdf,.xls'"
	       ngf-max-size='10000000'>Drop pdfs or images here or click to upload</div> -->
	  		<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>



			<div class="progress-box" ng-show="progress && (100 *(loaded/total) < 100) " >
				<span class="progress_percentage">{{ 100 *(loaded/total) | number: 0 }}%</span>
				<div class="progress_bar">
					<div class="progress_area" style="width: {{100 *(loaded/total)}}%"></div>
				</div>
				<span class="progress-upload-info" ng-bind="'Uploading ' + (loaded < total ? loaded+1 : loaded) + ' of ' + total"></span>
			</div>

	</div>

    <div class="custom_report_upload_page">


      <!-- <div ng-show="total>0">
        Uploaded {{loaded}} of {{total}}<br>
        Progress: {{ 100 *(loaded/total) }} %
      </div> -->

      <!-- Accepted Files:
      <ul>
        <li ng-repeat="f in files" style="font:smaller">
          Filename:{{f.name}} -- Size:{{f.size}} bytes </li>
      </ul> -->


			<!-- <ol>
				<li ng-repeat="file in reportsUploadList">{{file.name}} {{file.size}} :::: {{file.status}}</li>
			</ol> -->


        <div class="custom_report_response_page " ng-show="reportsUploadList.length">
            <filter-directive ng-if="!isLeafNode" from="customReportUpload"></filter-directive>
			        	<div class="upload_files_container {{(showStatus()) ? 'some_status' : ''}} "> <!-- add some_status when some status is there -->
			              <div class="table_header clearfix" >
							<span class="each-col status-col">Status</span>
			                <span class="each-col file-name-col">File Name</span>
							<span class="each-col file-size-col">Size</span>
			                <span class="each-col report-type-col">Report Type</span>
			                <span class="each-col campaign-col">Media Plan</span>
			              </div>

			              <div ng-repeat="(index, file) in reportsUploadList" class="upload_file_holder {{( file.status == 'uploading' || deleteProgress) ? 'disabled_list' : ''}}"  ><!-- disabled_list when the list is disabled -->
							<fieldset ng-disabled="(file.status == 'uploading' || file.status == 'success')">
								<div class="clearfix about_file_row">
									<span ng-click="retryUpload(index)"  style="cursor:pointer" class="each-col status-col redo-status" ng-show="file.status=='error'"><span>Retry</span></span> <!-- ng-show="file.status=='error'" -->
									<span class="each-col status-col ready-status" ng-show="file.status=='success'">Success</span> <!--ng-show="file.status"-->
									<span class="each-col file-name-col">{{file.name}}</span>
									<span class="each-col file-size-col">{{file.size/1000000 | number:2}} MB</span>
									<span class="each-col report-type-col disabled_dropdown_holder">
										<div class="disabled_dropdown" ng-show="(file.status == 'uploading' || file.status == 'success')"></div>
										<!-- <select data-ng-options="o.name for o in reportTypeList" ng-model="file.reportType" class="pull-left" ng-click="$event=$event;" ng-change="show_report_name_txtbox($event);"></select> -->
										<div class="dropdown">
								                <span data-toggle="dropdown" class="dropdown_txt reportTypeDropdownTxt" ng-click="toggle_dropdown($event);" id="reportTypeDropdownTxt">PCAR</span>
								                <ul class="dropdown-menu" id="reportTypeDropdown" class="reportTypeDropdown">
								                    <li ng-repeat="filetype in reportTypeList" ng-click="show_report_name_txtbox($event); file.reportType =''+filetype.name">{{filetype.name}}</li>
								                </ul>
								         </div>
										<input type="text" id="reportName" style="display:none;" ng-model="file.reportName" placeholder="Report Name" class="pull-left report-type-name">
									</span>
					               <!--  <span class=""></span> -->
		<!-- TODO: get campaignId and need many instances -->
									<div class="each-col campaign-col disabled_dropdown_holder">
											<div class="disabled_dropdown" ng-show="(file.status == 'uploading' || file.status == 'success')"></div>
										<div class="clearfix nav_filters">
											<div class="pull-left dropdown breadcrumb_nav_campaign">
												<campaign-drop-down selected-obj=selectedCampaign file-index="index" all-campaign="false" multi-campaign="yes"> </campaign-drop-down>
											</div>
										</div>
									</div>

									<span  ng-click="localDeletetModal(index)" ng-show="file.status!='success'" style="cursor:pointer" class="each-col delete-col" title="Delete"></span>
									<span  ng-click="serverDeleteModal(index,file.data.id)" ng-show="file.status=='success'" style="cursor:pointer" class="each-col delete-col" title="Delete from Server"></span>

				        		</div>
								<div class="clearfix description_row" >
									<span class="title">Description</span>
									<input type="text" ng-model="file.notes" placeholder="Description" maxlength="160">
								</div>
							</fieldset>
						</div>
					</div>
			              <!--  no data or loading -->
										<!-- ng-show="reportsUploadList.length" -->
			            <div class="btn_holder" >
										<!-- ng-show="!progress" -->
						  <span ng-click="(progress || disabledUpload) || upload()"  ng-show="!completed" class="common_primary_btn" ng-class="{'loading-icon': progress}" style="{{(progress || disabledUpload) ? 'opacity:0.3;cursor:default;' :''}}">Upload</span>

							<a href="/reports/list"  ng-show="!completed" class="secondary_txt">Cancel</a>

							<a ng-show="completed" ng-click="goToReportList()" class="common_primary_btn">Done</a>
							<!-- href="/reports/list"  -->
						</div>
			          </div>








<!--dont style this - - logging area for test--> <!--to be removed after development -->
      <!-- <div style="margin-top:10px;display:none;">
				Rejected Error log:
				<ul style="display: block;
			    padding: 9.5px;
			    margin: 0 0 10px;
			    font-size: 13px;
			    line-height: 1.42857143;
			    word-break: break-all;
			    word-wrap: break-word;
			    color: #333;
			    background-color: #f5f5f5;
			    border: 1px solid #ccc;
			    border-radius: 4px;">
					<li ng-repeat="r in rejFiles">
						<span style="color:red">{{(r.$error=="maxSize"?'File size exceeds 10MB':'Unsupported file format')}}
					</span>

					</li>
				</ul>

				<span>Upload Log:</span>
      			<pre>{{log}}</pre>
			</div> -->


    </div> <!-- end of custom_report_response_page -->
</div>

<!-- Message on top , if that is an error message add "red_msg" class to "top_message_box" container -->
<div class="top_message_box {{(!successMsg && !deleteSuccessMsg)?'red_msg':''}}" ng-show="rejFiles.length || successMsg || errorMsg || deleteSuccessMsg || deleteErrorMsg || errorMsgCustomRptName">
	<span class="msg_box">
		<span class="msg_icon">x</span>
		<span class="msg_txt">
				<span ng-show="successMsg"><span class="bold-font">Success. </span> You have sucessfully uploaded {{uploadedCount}} file(s)</span>
				<span ng-show="errorMsg"><span class="bold-font">Error. </span> Error in uploading {{errorCount}} file(s)</span>
			    <span ng-show="errorMsgCustomRptName"><span class="bold-font">Error. </span> Custom Report Name is required</span>
				<span ng-show="deleteSuccessMsg"><span class="bold-font">Success. </span> File successfully deleted</span>
				<span ng-show="deleteErrorMsg"><span class="bold-font">Error. </span> Error in deleting file</span>
				<span ng-show="!errorMsg && !successMsg && !deleteSuccessMsg && !deleteErrorMsg && !errorMsgCustomRptName"><span class="bold-font">Error. </span> Cannot upload files bigger than 10MB / Unsupported file format</span>

			<!-- {{(!successMsg)? 'Cannot upload files bigger than 10MB / Unsupported file format' : 'You have sucessfully uploaded '+ uploadedCount +' files '}} -->
			<div ng-show="!successMsg && !errorMsg && rejFiles.length" ng-repeat="r in rejFiles">
				- {{r.name}} ( {{r.size/1000000 | number:2}} MB. )
			</div>
		</span>
		<span class="close_msg_box_holder">
			<span class="close_msg_box" ng-click="closeMessage()">x</span> <!--ng-click="close_msg_box($event);"-->
		</span>
	</span>
</div>
<!-- End of Message on top , if that is an error message add "red_msg" class to "top_message_box" container -->
