<div class="main_navigation_holder" data-ng-controller="HeaderController">
    <div class="main_nav clearfix">
         <!--Hamburger Icon Mobile-->
        <div class="icon-hamburger" data-ng-click="mobileMenuShow();"></div>

        <!--Logo-->
        <a data-ng-if="showDashboard" href="/dashboard" class="main_logo" id="logo" style="cursor:pointer;">
            <img data-ng-src="/images/visto_logos/Visto_Logo_hi-res.svg" alt="VISTO" height="32"/>
        </a>

        <a data-ng-if="!showDashboard" class="main_logo" id="logo2" style="cursor:pointer;">
            <img data-ng-src="/images/visto_logos/Visto_Logo_hi-res.svg" alt="" height="32"/>
        </a>

        <!--Mobile Menu-->
        <div class="mobileNavWrap">
            <div class="mobileNav">
                <a href="javascript:void(0);"
                   data-ng-click="navigateToTab('', $event, 'mediaplanList')"
                   data-ng-mouseover="hideNavigationDropdown($event);"
                   data-ng-bind="textConstants.MEDIA_PLAN">
                </a>
                <a href="javascript:void(0);"
                   reporttitle="reportOverview"
                   data-ng-click="navigateToTab('', $event, 'reportOverview')"
                   data-ng-bind="textConstants.REPORTS">
                </a>
                <a href="javascript:void(0);"
                   data-ng-click="navigateToTab('', $event, 'creativelist')"
                   data-ng-bind="textConstants.CREATIVES">
                </a>
            </div>
            <div class="mobileHideFunc" data-ng-click="mobileMenuHide();"></div>
        </div>

        <!--Full Nav Links-->
        <div class="pull-left main_navigation clearfix">
            <!-- Media Plans -->
            <div class="pull-left each_nav_link" id="campaigns_nav_link" data-ng-if="showMediaPlanTab">
                <a data-ng-click="navigateToTab('', $event, 'mediaplanList', false)"
                   data-ng-mouseover="hideNavigationDropdown($event);"
                   data-ng-bind="textConstants.MEDIA_PLAN">
                </a>
                <div class="arrowSelect"></div>
            </div>

            <!-- Reports -->
            <div class="pull-left each_nav_link" id="reports_nav_link" data-ng-if="showReportTab">
                <a reporttitle="reportOverview"
                   data-ng-click="navigateToTab('/overview', $event, 'reportsSubPage', false, 7)"
                   data-ng-mouseover="showHideNavigationDropdown($event, 'reports', 'hover');"
                   data-ng-bind="textConstants.REPORTS">
                </a>
                <div class="arrowSelect" style="bottom: -1px;"></div>
            </div>

            <!-- Creatives -->
            <div class="pull-left each_nav_link" id="creative_nav_link" data-ng-if="showCreativeList">
                <a data-ng-click="navigateToTab('', $event, 'creativelist', false)"
                   data-ng-mouseover="hideNavigationDropdown($event);"
                   data-ng-bind="textConstants.CREATIVES">
                </a>
                <div class="arrowSelect" style="bottom: -14px;"></div>
            </div>

            <!--Admin DD-->
            <div class="pull-left each_nav_link" id="admin_nav_link" data-ng-if="isSuperAdmin">
                <a reporttitle="adminOverview"
                   data-ng-click="navigateToTab('', $event, 'adminOverview', false)"
                   data-ng-mouseover="hideNavigationDropdown($event);"
                   data-ng-bind="textConstants.ADMIN">
                </a>
                <div class="arrowSelect"></div>
            </div>

            <!-- Billing (Invoice Reports) -->
            <div class="pull-left each_nav_link" id="invoiceTool_nav_link" data-ng-if="invoiceTool">
                <a data-ng-click="navigateToTab('', $event, 'invoiceTool', false)"
                   data-ng-mouseover="hideNavigationDropdown($event);"
                   data-ng-bind="textConstants.INVOICE_TOOL">
                </a>
                <div class="arrowSelect"></div>
            </div>
        </div>
        <div class="pull-right profile-photo-tab unselectable"
             id="user_nav_link"
             data-ng-mouseover="showHideNavigationDropdown($event,'user');">
            <span class="user-photo pull-right">
                <span class="icon-avatar-round"></span>
            </span>
            <span class="pull-right account-name-nav" data-ng-bind="defaultAccountsName"></span>
        </div>

        <!--TODO: temporarily disabled help completely -->
        <!--<div class="pull-right help-link-tab" data-ng-mouseover="showHideNavigationDropdown($event,'help');">-->
            <!--<a class="pull-right">-->
                <!--<span class="icon-help"></span>-->
            <!--</a>-->
            <!--<div class="main_nav_dropdown" id="help-menu1" data-ng-mouseleave="hideNavigationDropdown($event)" data-ng-mouseover="hoverHelp()">-->
                <!--<div class="clearfix nav-menu">-->
                    <!--<div class="pull-right profile-data">-->
                        <!--<div class="col-md-12 zeroPadding">-->
                            <!--<span class="pull-left dropMenuHeaderTxt">HELP</span>-->
                            <!--<a class="col-md-12 zeroPadding clearLeft" ng-click="openHelp()" target="_blank" style="cursor: pointer;">-->
                                <!--<div class="icon-download pull-left">-->
                                    <!--&#32;&#32;Download User Manual (PDF)-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="main_nav_dropdown" id="reports-menu" data-ng-mouseleave="hideNavigationDropdown($event)">
            <div class="nav-menu reports_header_tabs_holder clearfix">
                <report-tabs></report-tabs>
            </div>
        </div>
        <div class="main_nav_dropdown" id="admin-menu" data-ng-mouseleave="hideNavigationDropdown($event)">
            <div class="nav-menu reports_header_tabs_holder clearfix">
                <div class="clearfix reports_sub_menu_dd_holder">
                    <a class="adminLinks" href="/admin/accounts">Accounts</a>
                    <a class="adminLinks" href="/admin/advertisers">Advertisers</a>
                    <a class="adminLinks" href="/admin/brands">Brands</a>
                    <a class="adminLinks" href="/admin/users">Users</a>
                </div>
            </div>
        </div>
        <div class="main_nav_dropdown" id="help-menu" data-ng-mouseleave="hideNavigationDropdown($event)" data-ng-mouseover="hoverHelp()">
            <div class="clearfix nav-menu">
                <div class="pull-right profile-data">
                    <div class="col-md-12 zeroPadding">
                        <div class="dropdown pull-left user-photo-details">
                            <span class="clearfix dropdown_ul_text" data-toggle="dropdown">
                                <span class="username pull-left">Help</span>
                                <a class="pull-left clearLeft" data-ng-click="openHelp()" target="_blank">View User Manual (pdf)</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_nav_dropdown" id="user-menu" data-ng-mouseleave="hideNavigationDropdown($event)">
            <div class="clearfix nav-menu">
                <div class="pull-right profile-data" id="profileAccountData">
                    <div class="col-md-12 zeroPadding">
                        <div class="dropdown pull-left user-photo-details">
                            <span class="clearfix dropdown_ul_text" data-toggle="dropdown" style="cursor: default;">
                                <span class="username pull-left dropMenuHeaderTxt" data-ng-bind="user_name"></span>
                                <div class="col-md-12 zeroPadding signOutBtn" style="margin: 15px 0;">
                                    <span class="pull-left icon-signout" data-ng-click="logout()" style="cursor: pointer;"></span>
                                    <span class="pull-left" data-ng-click="logout()" style="cursor: pointer; margin-left: 10px;">Sign Out</span>
                                </div>
                            </span>
                            <div class="col-md-12 zeroPadding" style="border-top: 1px solid #e1edf9;">
                                <span class="pull-left dropMenuHeaderTxt" style="margin: 15px 0;">ACCOUNTS</span>
                            </div>
                            <ul class="dropdown-menu">
                                <div class="accountsList-dropdown-li">
                                    <li data-ng-repeat="eachaccount in accountsData" id="{{eachaccount.id}}"
                                        data-ng-click="setAccountName($event,eachaccount.id,eachaccount.name,eachaccount.isLeafNode);"
                                        data-ng-class="{'selected-li':defaultAccountsName == eachaccount.name}">
                                        <span data-ng-bind="eachaccount.name"></span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popContainerHolder" data-ng-show="showFiles" >
            <div class="popContainer popup-holder" style="width: 700px;">
                <div class="modal-content">
                    <div class="clearfix modal-header">
                        <span class="icon-close close unselectable" aria-hidden="true" data-ng-click="showFiles = false"></span>
                    </div>
                    <div class="modal-body">
                        <object data="{{content}}" type="application/pdf" style="width: 100%; height: 600px;"></object>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".main_navigation_holder .main_nav_dropdown .dropdown-menu").css('max-height', $(window).height() / 4 * 3 - 130 + 'px');
</script>
