<div class="main_navigation_holder" ng-controller="HeaderController">
    <div class="main_nav clearfix">
         <!--Hamburger Icon Mobile-->
        <div class="icon-hamburger" ng-click="mobileMenuShow();"></div>

        <!--Logo-->
        <a href="/dashboard" class="main_logo" id="logo" style="cursor:pointer;">
            <img ng-src="/images/visto_logos/Visto_Logo_hi-res.svg" alt="" height="32"/>
        </a>

        <!--Mobile Menu-->
        <div class="mobileNavWrap">
            <div class="mobileNav">
                <a href="/mediaplans" ng-mouseover="hide_navigation_dropdown($event);" ng-bind="textConstants.MEDIA_PLAN"></a>
                <a href="javascript:void(0);" reporttitle="reportOverview" ng-click="NavigateToTab('', $event ,'reportOverview')" ng-bind="textConstants.REPORTS"></a>
                <a href="javascript:void(0);" ng-click="NavigateToTab('', $event ,'creativelist')" ng-bind="textConstants.CREATIVES"></a>
            </div>
            <div class="mobileHideFunc" ng-click="mobileMenuHide();"></div>
        </div>

        <!--Full Nav Links-->
        <div class="pull-left main_navigation clearfix">
            <!--<div class="pull-left each_nav_link" id="dashboard_nav_link">
                <a href="/dashboard" ng-bind="textConstants.DASHBOARD"></a>
                <div class="arrowSelect"></div>
            </div>-->
            <div class="pull-left each_nav_link" id="campaigns_nav_link" ng-if="showMediaPlanTab">
                <a href="javascript:void(0);" ng-mouseover="hide_navigation_dropdown($event);"
                   ng-click="NavigateToTab('', $event ,'mediaplanList')" ng-bind="textConstants.MEDIA_PLAN"></a>
                <div class="arrowSelect"></div>
            </div>
            <div class="pull-left each_nav_link" id="reports_nav_link" ng-if="showReportTab">
                <a href="javascript:void(0);" reporttitle="reportOverview"
                   ng-click="NavigateToTab('', $event ,'reportOverview')"
                   ng-mouseover="show_hide_nav_dropdown($event,'reports','hover');" ng-bind="textConstants.REPORTS"></a>

                <div class="arrowSelect" style="bottom: -1px;"></div>
            </div>
            <div class="pull-left each_nav_link" id="creative_nav_link" ng-if="fparams[0]['creative_list']">
                <a href="javascript:void(0);"
                   ng-click="NavigateToTab('', $event ,'creativelist')" ng-bind="textConstants.CREATIVES"></a>
                <div class="arrowSelect" style="bottom: -14px;"></div>
            </div>
            <!--Admin DD-->
            <div class="pull-left each_nav_link" id="admin_nav_link" ng-if="isSuperAdmin">
                <a href="javascript:void(0);" reporttitle="adminOverview"
                   ng-click="NavigateToTab('', $event ,'adminOverview')"
                   ng-mouseover="show_hide_nav_dropdown($event,'admin','hover');">Admin</a>

                <div class="arrowSelect"></div>
            </div>
        </div>
        <div class="pull-right profile-photo-tab unselectable" id="user_nav_link"
             ng-mouseover="show_hide_nav_dropdown($event,'user');">
            <span class="user-photo"><span class="icon-user"></span></span>
        </div>
        <div class="pull-right account-name-nav" ng-mouseover="show_hide_nav_dropdown($event,'user');" ng-bind="defaultAccountsName"></div>
        <!--<div class="pull-right help-link-tab">
            <a href="/help"><span class="icon-help"></span></a>
        </div>-->

        <div class="main_nav_dropdown" id="reports-menu" ng-mouseleave="hide_navigation_dropdown($event)">
            <div class="nav-menu reports_header_tabs_holder clearfix">
                <report-tabs></report-tabs>
            </div>
        </div>
        
        <div class="main_nav_dropdown" id="admin-menu" ng-mouseleave="hide_navigation_dropdown($event)">
            <div class="nav-menu reports_header_tabs_holder clearfix">
                <div class="clearfix reports_sub_menu_dd_holder">
                    <a class="adminLinks" href="/admin/accounts">Accounts</a>
                    <a class="adminLinks" href="/admin/advertisers">Advertisers</a>
                    <a class="adminLinks" href="/admin/brands">Brands</a>
                    <a class="adminLinks" href="/admin/users">Users</a>
                </div>
            </div>
        </div>
        
        <div class="main_nav_dropdown" id="user-menu" ng-mouseleave="hide_navigation_dropdown($event)">
            <div class="clearfix nav-menu">
                <div class="pull-right profile-data" id="profileAccountData">
                    <div class="col-md-12" style="padding: 0 25px;">
                        <div class="dropdown pull-left user-photo-details">
                            <span class="clearfix dropdown_ul_text" data-toggle="dropdown">
                                <span class="pull-left user-photo">
                                    <span class="icon-user"></span>
                                </span>
                                <span class="username" ng-bind="user_name"></span>
                                <span class="pull-left dd_txt" ng-bind="defaultAccountsName"></span>
                                <span ng-show="multipleClient" class="pull-right icon-arrow-down-thick"></span>
                            </span>

                            <ul class="dropdown-menu">
                                <div class="accountsList-dropdown-li">
                                    <li ng-repeat="eachaccount in accountsData" id="{{eachaccount.id}}"
                                        ng-click="set_account_name($event,eachaccount.id,eachaccount.name,eachaccount.isLeafNode);"
                                        ng-class="{'selected-li':defaultAccountsName == eachaccount.name}">
                                        <span ng-bind="eachaccount.name"></span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div ng-click="logout()" class="col-md-12 zeroPadding logout-option-link">
                        <a class="logout_link" ng-bind="textConstants.LOGOUT"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".main_navigation_holder .main_nav_dropdown .dropdown-menu").css('max-height', $(window).height() / 4 * 3 - 130 + 'px');
</script>
