<div class="reports_main_page_holder">
    <div class="common_reports_container" >
         <div class="clearfix page_top_header">
            <div class="pull-left col-md-6 page_name">
                Inventory Report
            </div>
            <div class="pull-right col-md-6 download_report">
                <download-report></download-report>
            </div>
        </div>

        <div class="clearfix">
            <filters-header reports="true" strategies="true"></filters-header>
        </div>

        <div class="common-load-icon_viewability"  ng-show="strategyLoading"></div>
        <div class="smallSreenScrollContainer">
            <div class="inventory_container smallSreenScrollDiv" ng-hide="strategyLoading">

                <div class="inventory_charts_details_holder smallSreenScrollContent">
                    <div class="clearfix chart_inventory_header">
                        <div class="pull-left clearfix inventory_tabs" id="category_change">
                            <span class="inventory_tab_active"><a href="javascript:void(0);" _key="categories" id="inventory_category_tab">{{textConstants.CATEGORIES}}</a></span>
                            <span><a href="javascript:void(0);" _key="domains" id="inventory_domains_tab">{{textConstants.DOMAINS}}</a></span>
                        </div>
                        <div class="chart_details_cols_row inventory_chart_details_list clearfix">

                            <div class="pull-right cpa_dropdown cpa_col">
                                <div class="dropdown">
                                    <kpi-drop-down> </kpi-drop-down>
                                </div>
                            </div>
                            <div class="pull-right imps_del_col">
                                <span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'delivery'"></span>
                                {{textConstants.IMP_WITH_DOT}}
                            </div>
                        </div>
                    </div>
                  <!--strategyBusy :  {{strategyBusy}}-->
                  <span class="no-chart load-more" ng-if="strategyBusy">&nbsp;</span>
                    <div ng-if="strategyFound && !strategyBusy" class="inventory_strategy_chart clearfix">

                        <div class="pull-left inventory_chart">
                              <span >
                                    <span ng-if="(loadingFlag == true)" class="no-chart load-more">&nbsp;</span>
                                    <span ng-if="(loadingFlag == false && !inventoryChart)" class="no-chart" ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></span>
                                    <span >
                                        <div class="highcharts" ng-if="inventoryChart">
                                            <highchart config="inventoryChart" chartTitle=""></highchart>
                                        </div>
                                        <div class="highcharts" ng-if="(loadingFlag == false && !inventoryChart) ">
                                            <span class="no-chart" ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"><!-- (PARTIAL CHART)--></span>
                                        </div>
                                    </span>
                                </span>
                        </div>
                        <div ng-if="inventoryChart" class="pull-right inventory_chart_details_list_holder">
                            <div class="inventory_chart_details_list"
                                 data-ng-repeat="stable in strategyTableData | orderBy:'-impressions' track by $index">
                                <div class="chart_details_cols_row inventory_each_chart_details clearfix">
                                    <span class="row_index">{{$index + 1}}</span>
                                    <span class="url_val" title="{{stable.dimension}}"
                                          ng-if="(selected_filters_tab !== 'domains') "> {{ stable.dimension | formatUrl:20 }}</span>

                                    <span class="url_val" title="{{stable.dimension}}"
                                          ng-if="(selected_filters_tab == 'domains' )">
                                        <a href="http://{{ stable.dimension}}" target='_blank' id="inventory_url_val">{{ stable.dimension | formatUrl :15 }}</a>
                                     </span>
                                    <span class="cpa_col cpa_data pull-right">{{(stable[(selected_filters.kpi_type.toLowerCase() === 'vtc')?'vtc_100':selected_filters.kpi_type.toLowerCase()] | appendDollor : selected_filters.kpi_type.toLowerCase())}}

                                    </span>
                                    <span class="imps_del_data imps_del_col pull-right">{{((stable.impressions >0)|| (stable.impressions == 0))? (stable.impressions | nrFormat) : '-'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inventory_strategy_chart no_data_found" ng-if="!strategyFound  && !strategyBusy "  ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                    </div>
                </div>
                <div ng-if="strategyFound" class="each_chart_accordion_holder"
                     ng-repeat="tactic in tacticList[tacticList.show] track by $index" ng-if="tactic.data">

                    <div  id="tactic_{{$index}}" class="chart_accordion_heading" ng-click="clickTactic($index)">
                        {{tactic.name}}
                    </div>

                    <div class="inventory_strategy_chart clearfix {{($index==0) ? 'open': 'closed'}} "
                         id="tactic_{{$index}}_body">
                        <div class="pull-left inventory_chart">
                                <span ng-if="!tactic.graphRender" class="no-chart-data">{{textConstants.INSUFFICIENT_DATA_POINTS_TO_RENDER_GRAPH}}</span>
                                <span ng-switch="tactic.chart">
                                  <span ng-switch-when="true" class="no-chart-data">{{textConstants.INSUFFICIENT_DATA_POINTS_TO_RENDER_GRAPH}}</span>
                                    <span ng-switch-when="false" ng-show="tactic.graphRender" class="no-chart"  ng-bind-html="getMessageForDataNotAvailable('inventory')"></span>
                                    <span ng-switch-default>
                                        <div class="highcharts" ng-if="tactic.graphRender && tactic.chart">
                                            <highchart config="tactic.chart" chartTitle=""></highchart>
                                        </div>
                                        <div class="highcharts" ng-if="!tactic.chart">
                                            <span class="no-chart"  ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"><!-- (PARTIAL CHART)--></span>
                                        </div>
                                    </span>
                                </span>

                        </div>
                        <div class="pull-right inventory_chart_details_list_holder">
                            <div class="inventory_chart_details_list">
                                <div class="chart_details_cols_row inventory_each_chart_details clearfix"
                                     ng-repeat="tableData in tactic.data | orderBy:'-impressions' track by $index">

                                    <span class="row_index">{{$index + 1}}</span>
                                    <span class="url_val" title="{{tableData.dimension}}"
                                          ng-if="(selected_filters_tab !== 'domains') "> {{ tableData.dimension | formatUrl:20 }}</span>
                                    <span class="url_val" title="{{tableData.dimension}}"
                                          ng-if="(selected_filters_tab == 'domains' )">
                                        <a href="http://{{ tableData.dimension}}" target='_blank' id="inventory_domain" > {{ tableData.dimension | formatUrl:15}}</a>
                                     </span>
                                    <span class="cpa_col cpa_data pull-right">{{(tableData[(selected_filters.kpi_type.toLowerCase() === 'vtc')?'vtc_100':selected_filters.kpi_type.toLowerCase()] | appendDollor : selected_filters.kpi_type.toLowerCase())}}</span>
                                    <span class="imps_del_data imps_del_col pull-right">{{((tableData.impressions >0)|| (tableData.impressions == 0))? (tableData.impressions | nrFormat) : '-'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- | orderBy:'-impressions' -->
