<div class="reports_main_page_holder">
    <div class="common_reports_container" >
         <div class="clearfix page_top_header">
            <h1 class="pull-left col-md-6 page_name">Inventory Report</h1>
            <div class="pull-right col-md-2 zeroPadding">
                <download-report></download-report>
            </div>
        </div>
        <div class="clearfix">
            <filters-header reports="true" strategies="true"></filters-header>
        </div>
        <div class="common-load-icon_viewability" data-ng-show="strategyLoading"></div>
        <div class="smallScreenScrollContainer">
            <div class="inventory_container smallScreenScrollDiv" data-ng-hide="strategyLoading">
                <div class="inventory_charts_details_holder smallScreenScrollContent">
                    <div class="clearfix chart_inventory_header">
                        <div class="pull-left clearfix inventory_tabs" id="category_change">
                            <span class="inventory_tab_active">
                                <a href="javascript:void(0);"
                                   _key="categories"
                                   id="inventory_category_tab"
                                   data-ng-bind="textConstants.CATEGORIES">
                                </a>
                            </span>
                            <span>
                                <a href="javascript:void(0);"
                                   _key="domains"
                                   id="inventory_domains_tab"
                                   data-ng-bind="textConstants.DOMAINS">
                                </a>
                            </span>
                        </div>
                        <div class="chart_details_cols_row inventory_chart_details_list clearfix">
                            <div class="pull-right cpa_dropdown cpa_col dropdown-workflow">
                                <div class="dropdown">
                                    <kpi-drop-down></kpi-drop-down>
                                </div>
                            </div>
                            <div class="pull-right imps_del_col">
                                <span class="pull-right" data-ng-bind="textConstants.IMP_WITH_DOT"></span>
                                <span class="pull-right default-kpi-header-icon"
                                      tooltip="Primary KPI"
                                      data-ng-if="selectedFilters.campaign_default_kpi_type.toLowerCase() ===
                                        'impressions'">
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--strategyBusy :  {{strategyBusy}}-->
                    <span class="no-chart load-more" data-ng-if="strategyBusy">&nbsp;</span>
                    <div data-ng-if="strategyFound && !strategyBusy" class="inventory_strategy_chart clearfix">
                        <div class="pull-left inventory_chart">
                            <span >
                                <span data-ng-if="(loadingFlag === true)" class="no-chart load-more">&nbsp;</span>
                                <span data-ng-if="(loadingFlag === false && !inventoryChart)"
                                      class="no-chart"
                                      data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                                </span>
                                <span >
                                    <div class="highcharts" data-ng-if="inventoryChart">
                                        <highchart config="inventoryChart" chartTitle=""></highchart>
                                    </div>

                                    <!-- (PARTIAL CHART)-->
                                    <div class="highcharts" data-ng-if="(loadingFlag === false && !inventoryChart)">
                                        <span class="no-chart"
                                              data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                                        </span>
                                    </div>
                                </span>
                            </span>
                        </div>
                        <div data-ng-if="inventoryChart"
                             class="pull-right inventory_chart_details_list_holder">
                            <!--<div class="inventory_chart_details_list" style="padding-bottom:20px;">
                                <span class="row_index"></span>
                                <span class="url_val" data-ng-if="(selectedFilters_tab !== 'domains')">Categories</span>
                                <span class="url_val" data-ng-if="(selectedFilters_tab == 'domains')">Domains</span>
                                <span class="cpa_col cpa_data pull-right">Imps</span>
                                <span class="imps_del_data imps_del_col pull-right">CPMs</span>
                            </div> -->
                            <div class="col-md-1 zeroPadding inventory_num_holder">
                                <span class="col-md-12 zeroPadding inventory_num">1.</span>
                                <span class="col-md-12 zeroPadding inventory_num">2.</span>
                                <span class="col-md-12 zeroPadding inventory_num">3.</span>
                                <span class="col-md-12 zeroPadding inventory_num">4.</span>
                                <span class="col-md-12 zeroPadding inventory_num">5.</span>
                            </div>
                            <div class="inventory_chart_details_list col-md-11 zeroPadding {{stable.sepratorCls_inventory}}"
                                 data-ng-repeat="stable in strategyTableData | orderBy:'-impressions' track by $index">
                                <div class="chart_details_cols_row inventory_each_chart_details clearfix">
                                    <!--<span class="row_index" data-ng-bind="$index + 1"></span>-->
                                    <span class="url_val" title="{{stable.dimension}}"
                                          data-ng-if="(selectedFilters_tab !== 'domains')"
                                          data-ng-bind="stable.dimension | formatUrl : 20">
                                    </span>
                                    <span class="url_val" title="{{stable.dimension}}"
                                          data-ng-if="(selectedFilters_tab === 'domains')">
                                          <a href="http://{{ stable.dimension}}"
                                             target="_blank"
                                             id="inventory_url_val" ng-if="stable.dimension !== 'Media Plan Totals'"
                                             data-ng-bind="stable.dimension | formatUrl : 15">
                                          </a>
                                        <span data-ng-bind="stable.dimension"
                                             ng-if="stable.dimension == 'Media Plan Totals'">
                                        </span>
                                     </span>
                                    <span class="cpa_col cpa_data pull-right {{stable.kpi_type === selectedFilters.kpi_type.toUpperCase() ? 'bold' : ''}}"
                                          data-ng-bind="(stable[(selectedFilters.kpi_type.toLowerCase() === 'vtc') ?
                                            'vtc_100' : selectedFilters.kpi_type.toLowerCase()] | appendDollar : selectedFilters.kpi_type.toLowerCase())">
                                    </span>
                                    <span class="imps_del_data imps_del_col pull-right {{stable.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
                                          data-ng-bind="((stable.impressions > 0) || (stable.impressions === 0)) ? (stable.impressions | number : 0) : '-'">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inventory_strategy_chart no_data_found"
                         data-ng-if="!strategyFound && !strategyBusy"
                         data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                    </div>
                </div>
                <div data-ng-if="strategyFound"
                     class="each_chart_accordion_holder {{tactic.sepratorCls_inventory}}"
                     data-ng-repeat="tactic in tacticList[tacticList.show] track by $index"
                     data-ng-if="tactic.data" >
                    <div id="tactic_{{$index}}"
                         class="chart_accordion_heading"
                         data-ng-click="clickTactic($index)"
                         data-ng-bind="tactic.name">
                    </div>
                    <div class="inventory_strategy_chart clearfix {{($index==0) ? 'open': 'closed'}}"
                         id="tactic_{{$index}}_body">
                        <div class="pull-left inventory_chart">
                            <span data-ng-if="!tactic.graphRender"
                                  class="no-chart-data"
                                  data-ng-bind="textConstants.INSUFFICIENT_DATA_POINTS_TO_RENDER_GRAPH">
                            </span>
                            <span data-ng-switch="tactic.chart">
                                <span data-ng-switch-when="true"
                                      class="no-chart-data"
                                      data-ng-bind="textConstants.INSUFFICIENT_DATA_POINTS_TO_RENDER_GRAPH">
                                </span>
                                <span data-ng-switch-when="false"
                                      data-ng-show="tactic.graphRender"
                                      class="no-chart"
                                      data-ng-bind-html="getMessageForDataNotAvailable('inventory')">
                                </span>
                                <span data-ng-switch-default>
                                    <div class="highcharts" data-ng-if="tactic.graphRender && tactic.chart">
                                        <highchart config="tactic.chart" chartTitle=""></highchart>
                                    </div>

                                    <!-- (PARTIAL CHART)-->
                                    <div class="highcharts" data-ng-if="!tactic.chart">
                                        <span class="no-chart" data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></span>
                                    </div>
                                </span>
                            </span>
                        </div>
                        <div class="pull-right inventory_chart_details_list_holder">
                            <div class="inventory_chart_details_list">
                                <div class="chart_details_cols_row inventory_each_chart_details clearfix"
                                     data-ng-repeat="tableData in tactic.data | orderBy : '-impressions' track by $index" ng-class="(tableData.dimension == 'Ad Totals' )?'sepratorCls_inventory paddingBottom':''">
                                    <!--<span class="row_index" data-ng-bind="$index + 1"></span>-->
                                    <span class="url_val" title="{{tableData.dimension}}"
                                          data-ng-if="(selectedFilters_tab !== 'domains')"
                                          data-ng-bind="tableData.dimension | formatUrl : 20">
                                    </span>

                                    <span class="url_val" title="{{tableData.dimension}}" data-ng-if="(selectedFilters_tab === 'domains')">
                                        <a href="http://{{ tableData.dimension}}"
                                           target='_blank' id="inventory_domain"
                                           data-ng-bind="tableData.dimension | formatUrl : 15">
                                        </a>
                                    </span>
                                    <span class="cpa_col cpa_data pull-right {{tableData.kpi_type === selectedFilters.kpi_type.toUpperCase() ? 'bold' : ''}}"
                                          data-ng-bind="(tableData[(selectedFilters.kpi_type.toLowerCase() === 'vtc') ?
                                            'vtc_100' : selectedFilters.kpi_type.toLowerCase()] |
                                            appendDollar : selectedFilters.kpi_type.toLowerCase())">
                                    </span>
                                    <span class="imps_del_data imps_del_col pull-right {{tableData.kpi_type === 'IMPRESSIONS' ? 'bold' : ''}}"
                                          data-ng-bind="((tableData.impressions > 0)|| (tableData.impressions === 0)) ?
                                            (tableData.impressions | number:0) : '-'">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- | orderBy:'-impressions' -->
