<span class="dropdown_ul_text col-md-12 zeroPadding common_kpi_dropdown" data-toggle="dropdown" value="'{{kpiData.selectedKpi}}'"  style="margin-top: 3px;">
    <span class="icon-arrow-solid-down pull-right marginLeftFive"></span>
    <span data-ng-if="whichCaller.changedrpval === 'yes'" class="pull-right dd_txt">
        <span data-ng-if="kpiData.selectedKpi === 'vtc' || kpiData.selectedKpi === 'ctr' || kpiData.selectedKpi === 'action_rate'"
              data-ng-init="changeClickedSelectedKpiAlt('cpm')"
              class="dd_txt_span pull-right"
              style="line-height: 100%;"
              data-ng-bind="textConstants.CPM"
              title="{{textConstants.CPM}}">
        </span>

        <span class="dd_txt_span pull-right"
              style="line-height: 100%;"
              data-ng-bind="getDisplayKpiName()"
              title="{{getDisplayKpiName()}}">
        </span>
        <span data-ng-if="kpiData.selectedKpi === 'impressions'"
              data-ng-init="changeClickedSelectedKpiAlt('cpm')"
              class="pull-right dd_txt_span"
              style="line-height: 100%;"
              data-ng-bind="kpiData.selectedKpiDisplayName"
              title="{{kpiData.selectedKpiDisplayName}}">
        </span>
        <span data-ng-class="{vid_none_hdr_hide:whichCaller.changedrpval === 'yes'}"
              class="default-kpi-header-icon pull-right"
              tooltip="Primary KPI"
              data-ng-if="kpiData.selectedKpi.trim().toLowerCase() === campaign_default_kpi_type.trim()">
        </span>
    </span>
    <span data-ng-if="(whichCaller.changedrpval && whichCaller.changedrpval !== 'yes')" class="pull-right dd_txt" data-ng-init="changeClickedSelectedKpiAlt(campaign_default_kpi_type)">
        <span data-ng-if="kpiData.selectedKpi !== 'impressions'"
              class="pull-right dd_txt_span"
              style="line-height: 100%;"
              data-ng-bind="kpiData.selectedKpiDisplayName"
              title="{{kpiData.selectedKpiDisplayName}}">
        </span>
        <span data-ng-if="kpiData.selectedKpi === 'impressions'"
              data-ng-init="changeClickedSelectedKpiAlt('ctr')"
              class="pull-right dd_txt_span"
              style="line-height: 100%;"
              data-ng-bind="kpiData.selectedKpiDisplayName"
              title="{{kpiData.selectedKpiDisplayName}}">
        </span>
        <span data-ng-class="{vid_none_hdr_hide:whichCaller.changedrpval === 'yes'}"
              class="default-kpi-header-icon pull-right"
              tooltip="Primary KPI"
              data-ng-if="kpiData.selectedKpi.trim().toLowerCase() === campaign_default_kpi_type.trim()">
        </span>
    </span>
</span>
<div class="dropdown_ul dropdown-menu kpi_indicator_ul" data-ng-class="{kpi_indicator_ul2: whichCaller.changedrpval === 'yes'}">
    <ul class="drop_list">
        <div data-ng-if="whichCaller.changedrpval === 'yes'">
            <li data-ng-repeat="kpi in kpiData.newkpiDropDownAlt track by $index" value="{{kpi.kpi}}">
                <span class="default-kpi-dropdown-icon dropdown_for_expand"
                      data-ng-class="{ kpiIndicator : (kpi.kpi === campaign_default_kpi_type)} "
                      value="{{kpi.kpi}}">
                </span>
                {{kpi.displayName}}
            </li>
        </div>
        <div data-ng-if="whichCaller.changedrpval !== 'yes'">
            <li data-ng-repeat="kpi in kpiData.kpiDropDown track by $index" value="{{kpi.kpi}}">
                <span class="default-kpi-dropdown-icon"
                      data-ng-class="{ kpiIndicator : (kpi.kpi === campaign_default_kpi_type)} "
                      value="{{kpi.kpi}}">
                </span>
                {{kpi.displayName}}
            </li>
        </div>
    </ul>
    <div  data-ng-if="whichCaller.changedrpval === 'yes'" class="direction_arrows">
        <div data-ng-repeat="kpidir in kpiData.newkpiDropDownAlt track by $index">
            <div data-ng-click="myData.doClick($event, kpidir)" class="kpi_arrow_sort point_up" value="{{kpidir.kpi}}">&nbsp;</div>
        </div>
    </div>
</div>
