<div class="dropdown">
    <button class="btn" data-ng-click="toggleSelect()" data-ng-disabled="disabled" data-ng-class="{'error': !valid()}" id="myid_{{datashow}}">
        <span class="pull-left" data-ng-if="acceptmultiple === 1" data-ng-bind="header ? header : defaultoption"></span>
        <span class="pull-left" data-ng-if="acceptmultiple !== 1" data-ng-bind="header ? header : defaultoption"></span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu" id="{{datashow}}">
        <div data-ng-if= "(datashow === 2)">
            <li data-ng-show="multipleoption">
                <button class="btn-link btn-small selectAllBtn" data-ng-show="datashow"  data-ng-click="toggleSelectAll(selectedAll)">
                    <i data-ng-class="{'icon-ok': !selectedAll, 'icon-empty': selectedAll}"></i>
                    {{textConstants.SELECT_ALL_SMALL_A}}
                </button>
            </li>
        </div>
        <div data-ng-if= "(datashow === 3)">
            <li data-ng-show="true">
                <button class="btn-link btn-small selectAllBtn" data-ng-show="datashow"  data-ng-click="toggleSelectAll(selectedAll)">
                    <i data-ng-class="{'icon-ok': !selectedAll, 'icon-empty': selectedAll}"></i>
                    {{textConstants.SELECT_ALL_SMALL_A}}
                </button>
            </li>
        </div>
        <li data-ng-repeat="i in items track by $index" data-attr="{{datashow}}">
            <span data-ng-if="acceptmultiple === 1">
                <a data-ng-click="select(i); focus()" style="text-decoration: none; color:#000">
                    <i data-ng-class="{'icon-ok': i.checked, 'icon-empty': !i.checked}"></i>
                    {{i.label}}
                </a>
            </span>
            <span data-ng-if="acceptmultiple !== 1">
                <a data-ng-click="select(i); focus()" style="text-decoration: none; color:#000">
                    <i data-ng-class="{'icon-ok2': i.checked, 'icon-single': !i.checked}"></i>
                    {{i.label}}
                </a>
            </span>
        </li>
    </ul>
</div>
