<div class="reports_main_page_holder">
    <div class="common_reports_container">
         <div class="clearfix page_top_header">
            <h1 class="pull-left col-md-6 page_name">Performance Report</h1>
            <div class="pull-right col-md-2 zeroPadding">
                <download-report></download-report>
            </div>
        </div>
        <div class="clearfix">
            <filters-header reports="true" strategies="true"></filters-header>
        </div>
        <div class="common-load-icon_viewability" data-ng-show="strategyLoading && selectedCampaign.id != -1"></div>
        <div class="smallScreenScrollContainer">
            <div class="performance_container smallScreenScrollDiv"
                 data-ng-hide="strategyLoading && selectedCampaign.id != -1">
                <div class="no_data_found" data-ng-if="!strategyFound"
                     data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></div>
                <div class="reports_tabs_content_container smallScreenScrollContent" data-ng-show="strategyFound">
                    <!-- -------START :  Performance Tabs ------------------------ -->
                    <div class="clearfix">
                        <div class="clearfix reports_tabs_holder">
                            <div class="each_tab cost_tab {{activeScreenClass}}" id="byscreens">
                                <div class="each_tab_text" data-ng-bind="textConstants.SCREENS"></div>
                            </div>
                            <div class="each_tab cost_tab {{activeFormatClass}}" id="byformats">
                                <div class="each_tab_text" data-ng-bind="textConstants.FORMATS"></div>
                            </div>
                            <div class="each_tab cost_tab {{activeAdSizeClass}}" id="byadsizes">
                                <div class="each_tab_text" data-ng-bind="textConstants.AD_SIZES"></div>
                            </div>
                            <div class="each_tab cost_tab " id="bycreatives">
                                <div class="each_tab_text" data-ng-bind="textConstants.CREATIVES"></div>
                            </div>
                            <div class="each_tab " id="bydaysofweek">
                                <div class="each_tab_text" data-ng-bind="textConstants.DAYS_OF_WEEK"></div>
                            </div>
                            <div class="each_tab " id="bydiscrepancy" data-ng-show="showDiscrepancyTab">
                                <div class="each_tab_text" data-ng-bind="textConstants.DISCREPANCY"></div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Performance Tabs ------------------------ -->

                    <!-- -------START :  Screen Block ----------------------------- -->
                    <div data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block'"
                         class="overflowAuto"
                         id="reports_byscreens_block"
                         style="{{defaultDisplayScreen}}">
                        <div class="no_data_found"
                             data-ng-if="dataNotFoundForScreen"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                        </div>
                        <div class="reports_details_outer_container overflowAuto" data-ng-show="!dataNotFoundForScreen">
                            <div class="clearfix reports_performance_header" data-ng-hide="screenBusy">
                                <screen-header></screen-header>
                            </div>
                            <div class="strategy_total_container ">
                                <div class="strategy_total_container_header clearfix">
                                    <!-- <div class="each_col first_col" data-ng-hide="screenBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="pull-left icon-target viewLabelTxt"></span>
                                        <span class="viewLabelTxt" data-ng-bind="viewLabelTxt"></span>
                                    </div> -->
                                    <div class="row_list_holder row_list_pad clearfix">
                                        <div class="common-load-icon" data-ng-show="screenBusy"></div>
                                        <div class="clearfix each_row_list {{screenData.sepratorCls}}"
                                             data-ng-show="!screenBusy"
                                             data-ng-repeat="screenData in strategyPerfDataByScreen |
                                                orderBy : sortTypeScreens : sortReverse track by $index"
                                             data-ng-include="'screenTpl'"></div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!screenBusy">
                                    <div class="each_strategy_holder clearfix "
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypeScreens : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true" >
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="each_col col-md-12 zeroPadding first_col" data-ng-bind="tactic.name"></div>
                                            <div class="col-md-12 zeroPadding row_list_holder">
                                                <div class="clearfix each_row_list {{screenData.sepratorCls}}"
                                                     data-ng-repeat="screenData in tactic.perf_metrics |
                                                        orderBy : sortTypeScreens : sortReverse track by $index"
                                                     data-ng-include="'screenTpl'" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Screen Block ----------------------------- -->

                    <!-- -------START :  Days of week Block ----------------------------- -->
                    <div data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block'"
                         id="reports_bydaysofweek_block"
                         style="display: none;">
                        <div class="no_data_found"
                             data-ng-if="dataNotFoundForDOW"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                        </div>
                        <div class="reports_details_outer_container overflowAuto" data-ng-show="!dataNotFoundForDOW">
                            <div class="clearfix reports_performance_header" data-ng-hide="dowBusy">
                                <daysofweek-header></daysofweek-header>
                            </div>
                            <div class="strategy_total_container ">
                                <div class="strategy_total_container_header clearfix">
                                    <!-- <div class="each_col first_col" data-ng-hide="dowBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="pull-left icon-target viewLabelTxt"></span>
                                        <span class="viewLabelTxt" data-ng-bind="viewLabelTxt"></span>
                                    </div> -->
                                    <div class="row_list_holder row_list_pad clearfix">
                                        <div class="common-load-icon" data-ng-show="dowBusy"></div>
                                        <div class="clearfix each_row_list {{daysOfWeekData.sepratorCls}}"
                                             data-ng-show="!dowBusy"
                                             data-ng-repeat="daysOfWeekData in strategyPerfDataByDOW |
                                                orderBy : sortTypebydaysofweek : sortReverse track by $index"
                                             data-ng-include="'daysOfWeekTpl'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!dowBusy">
                                    <div class="each_strategy_holder clearfix"
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypebydaysofweek : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true">
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="col-md-12 zeroPadding  each_col first_col" data-ng-bind="tactic.name"></div>
                                            <div class="col-md-12 zeroPadding  row_list_holder">
                                                <div class="clearfix each_row_list {{daysOfWeekData.sepratorCls}}"
                                                     data-ng-repeat="daysOfWeekData in tactic.perf_metrics |
                                                        orderBy : sortTypebydaysofweek : sortReverse
                                                        track by $index"
                                                     data-ng-include="'daysOfWeekTpl'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Days of week Block ----------------------------- -->

                    <!-- -------START :  Discrepancy Block ----------------------------- -->
                    <div class="col-md-12 zeroPadding"
                         data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block'"
                         id="reports_bydiscrepancy_block"
                         style="display: none">
                        <div class="no_data_found"
                             data-ng-if="dataNotFoundForDiscrepancy"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                        </div>
                        <div class="reports_details_outer_container overflowAuto" data-ng-if="!dataNotFoundForDiscrepancy">
                            <!--Header-->
                            <div class="clearfix reports_performance_header"
                                 data-ng-hide="discrepancyBusy">
                                <discrepancy-header></discrepancy-header>
                            </div>

                            <!--Discrepancy Container-->
                            <div class="col-md-12 zeroPadding strategy_total_container">
                                <div class="strategy_total_container_header clearfix">
                                    <div class="each_col first_col" data-ng-hide="discrepancyBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="viewLabelTxt" style="margin: 4px 0 0 15px;" ng-if="lastSyncedOn">
                                            *Data last available for all vendors at {{lastSyncedOn}}
                                        </span>
                                    </div>
                                    <div class="row_list_holder clearfix">
                                        <div class="common-load-icon" data-ng-show="discrepancyBusy"></div>
                                        <div class="col-md-12 zeroPadding"
                                             data-ng-show="!discrepancyBusy"
                                             data-ng-repeat="vendor in strategyPerfDataByDiscrepancy  |
                                                orderBy : sortTypediscrepancy track by $index"
                                             data-ng-include="'discrepancyTpl'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!discrepancyBusy">
                                    <div class="each_strategy_holder clearfix"
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypediscrepancy : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true">
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="each_col col-md-12 zeroPadding first_col" data-ng-bind="tactic.name"></div>
                                            <div class="row_list_holder col-md-12 zeroPadding">
                                                <div class="clearfix each_row_list {{vendor.sepratorCls}}"
                                                     data-ng-repeat="vendor in tactic.perf_metrics |
                                                        orderBy : sortTypediscrepancy : sortReverse track by $index"
                                                     data-ng-include="'discrepancyTpl'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Discrepancy Block ----------------------------- -->

                    <!-- -------START :  Format Block ----------------------------- -->
                    <div data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block'"
                         id="reports_byformats_block"
                         style="{{defaultDisplayFormat}}">
                        <div class="no_data_found"
                             data-ng-if="dataNotFoundForFormat"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                        </div>
                        <div class="reports_details_outer_container overflowAuto" data-ng-show="!dataNotFoundForFormat">
                            <div class="clearfix reports_performance_header" data-ng-hide="formatBusy">
                                <format-header></format-header>
                            </div>
                            <div class="strategy_total_container ">
                                <div class="strategy_total_container_header clearfix">
                                   <!-- <div class="each_col first_col" data-ng-hide="formatBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="pull-left icon-target viewLabelTxt"></span>
                                        <span class="viewLabelTxt" data-ng-bind="viewLabelTxt"></span>
                                    </div> -->
                                    <div class="row_list_holder row_list_pad clearfix">
                                        <div class="common-load-icon" data-ng-show="formatBusy"></div>
                                        <div class="clearfix each_row_list {{formatData.sepratorCls}}"
                                             data-ng-show="!formatBusy"
                                             data-ng-repeat="formatData in strategyPerfDataByFormat |
                                                orderBy : sortTypebyformats : sortReverse track by $index"
                                             data-ng-include="'formatTpl'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!formatBusy">
                                    <div class="each_strategy_holder clearfix"
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypebyformats : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true">
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="each_col zeroPadding col-md-12 first_col" data-ng-bind="tactic.name"></div>
                                            <div class="col-md-12 zeroPadding row_list_holder">
                                                <div class="clearfix each_row_list {{formatData.sepratorCls}}"
                                                     data-ng-repeat="formatData in tactic.perf_metrics |
                                                        orderBy : sortTypebyformats : sortReverseFormatTab
                                                        track by $index"
                                                     data-ng-include="'formatTpl'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Format Block ----------------------------- -->

                    <!-- -------START :  Creative Block ----------------------------- -->
                    <div id="reports_bycreatives_block"
                         data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block' "
                         style="display: none;">
                        <div class="no_data_found"
                             data-ng-if="dataNotFoundForCreatives"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)">
                        </div>
                        <div class="reports_details_outer_container overflowAuto"
                             data-ng-show="!dataNotFoundForCreatives"
                             data-ng-class="{strategy_video_disabled: adFormats.videoAds === false}">
                            <div class="clearfix reports_performance_header" data-ng-hide="creativeBusy">
                                <creatives-header></creatives-header>
                            </div>
                            <div class="strategy_total_container ">
                                <div class="strategy_total_container_header clearfix">
                                    <!--<div class="each_col first_col" data-ng-hide="creativeBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="pull-left icon-target viewLabelTxt"></span>
                                        <span class="viewLabelTxt" data-ng-bind="viewLabelTxt"></span>
                                    </div> -->
                                    <div class="row_list_holder row_list_pad clearfix">
                                        <div class="common-load-icon" data-ng-show="creativeBusy"></div>
                                        <div class="clearfix each_row_list {{creativesData.sepratorCls}}"
                                             data-ng-show="!creativeBusy"
                                             data-ng-repeat="creativesData in strategyPerfDataByCreatives |
                                                orderBy : sortTypeByCreatives : sortReverse
                                                track by $index"
                                             data-ng-include="'CreativesTpl'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!creativeBusy">

                                    <div class="each_strategy_holder clearfix"
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypeByCreatives : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true">
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="each_col first_col col-md-12 zeroPadding"
                                                 style="width: 100%"
                                                 data-ng-bind="tactic.name">
                                            </div>
                                            <div class="row_list_holder col-md-12 zeroPadding">
                                                <div class="clearfix each_row_list {{creativesData.sepratorCls}}"
                                                     data-ng-repeat="creativesData in tactic.perf_metrics |
                                                        orderBy : sortTypeByCreatives : sortReverseCreativesTab
                                                        track by $index"
                                                     data-ng-include="'CreativesTpl'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Creative Block ----------------------------- -->

                    <!-- -------START :  Ad sizes Block ----------------------------- -->
                    <div  id="reports_byadsizes_block"
                          data-ng-class="adFormats.videoAds ? 'reports_block quar_data' : 'reports_block' "
                          style="{{defaultDisplayAdSize}}">
                        <div class="no_data_found" data-ng-if="dataNotFoundForAdsizes"
                             data-ng-bind-html="getMessageForDataNotAvailable(selectedCampaign)"></div>
                        <div class="reports_details_outer_container overflowAuto" data-ng-show="!dataNotFoundForAdsizes">
                            <div class="clearfix reports_performance_header" data-ng-hide="adSizesBusy">
                                <adsizes-header></adsizes-header>
                            </div>
                            <div class="strategy_total_container ">
                                <div class="strategy_total_container_header clearfix">
                                    <!-- <div class="each_col first_col" data-ng-hide="adSizeBusy">
                                        <span class="strategyHeading" data-ng-bind="strategyHeading"></span>
                                        <span class="pull-left icon-target viewLabelTxt"></span>
                                        <span class="viewLabelTxt" data-ng-bind="viewLabelTxt"></span>
                                    </div> -->

                                    <div class="row_list_holder row_list_pad clearfix">
                                        <div class="common-load-icon" data-ng-show="adSizesBusy"></div>
                                        <div class="clearfix each_row_list {{adSizesData.sepratorCls}}"
                                             data-ng-show="!adSizesBusy"
                                             data-ng-repeat="adSizesData in strategyPerfDataByAdsizes |
                                                orderBy : sortTypeByAdSizes : sortReverse track by $index"
                                             data-ng-include="'AdSizesTpl'">
                                        </div>
                                    </div>
                                </div>
                                <div class="all_strategies_holder" data-ng-show="!adSizesBusy">
                                    <div class="each_strategy_holder clearfix"
                                         data-ng-repeat="tactic in groupThem |
                                            orderBy : sortTypeByAdSizes : sortReverse track by $index"
                                         data-ng-if="showPerfMetrix === true">
                                        <div class="linkage_bar"></div>
                                        <div class="each_strategy clearfix">
                                            <div class="each_col first_col col-md-12 zeroPadding"
                                                 style="width: 100%"
                                                 data-ng-bind="tactic.name">
                                            </div>
                                            <div class="row_list_holder col-md-12 zeroPadding">
                                                <div ng-if="adSizesData.sepratorCls == 'sepratorLineCls'" class="clearfix each_row_list {{adSizesData.sepratorCls}}"
                                                     data-ng-repeat="adSizesData in tactic.perf_metrics |
                                                        orderBy : sortTypeByAdSizes : sortReverseAdSizes
                                                        track by $index"
                                                     data-ng-include="'AdSizesTpl'">
                                                </div>
                                                <div ng-if="adSizesData.sepratorCls!='sepratorLineCls'" class="clearfix each_row_list"
                                                     data-ng-repeat="adSizesData in tactic.perf_metrics |
                                                        orderBy : sortTypeByAdSizes : sortReverseAdSizes
                                                        track by $index"
                                                     data-ng-include="'AdSizesTpl'">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------END :  Ad Sizes Block ----------------------------- -->
                </div>
            </div>
        </div>
        <kpi-drop-down selected-obj=selectedFilters style="visibility: hidden"> </kpi-drop-down>
    </div>
</div>

<script type="text/ng-template" id="screenTpl">
    <div class="each_col sec_col" data-ng-bind="screenData.dimension"></div>
    <div class="each_col third_col {{screenData.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
         data-ng-bind="((screenData.impressions > 0) || (screenData.impressions === 0)) ?
            (screenData.impressions | number : 0) : '-'">
    </div>
    <div class="each_col third_col"
         data-ng-bind="((screenData.clicks > 0) || (screenData.clicks === 0)) ?
            (screenData.clicks | number : 0) : '-'">
    </div>
    <div class="vid_col" data-ng-show="adFormats.videoAds === true">
        <div class="each_col third_col"
             data-ng-bind="((screenData.video_played > 0) || (screenData.video_played === 0)) ?
                (screenData.video_played | number : 0) : '-'">
        </div>
        <div class="vid_data_hdr">
            <div>
                <div class="vid_quartile_data"
                     data-ng-bind="((screenData.vtc_25 > 0) || (screenData.vtc_25 === 0)) ?
                        (screenData.vtc_25 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((screenData.vtc_50 > 0) || (screenData.vtc_50 === 0)) ?
                        (screenData.vtc_50 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((screenData.vtc_75 > 0) || (screenData.vtc_75 === 0)) ?
                        (screenData.vtc_75 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((screenData.vtc_100 > 0) || (screenData.vtc_100 === 0)) ?
                        (screenData.vtc_100 | nrFormat : 2) : '-'">
                </div>
            </div>
        </div>
        <div class="each_col third_col {{screenData.kpi_type === 'VTC' ? 'bold' : ''}}">
            <span data-ng-bind="((screenData.vtc_100 > 0) || (screenData.vtc_100 === 0)) ?
                ((screenData.vtc_100 | number : 2) + '%') : '-'">
            </span>
        </div>
    </div>
    <div class="each_col forth_col {{screenData.kpi_type === 'str' ? 'bold' : ''}}"
         data-ng-bind="((screenData.ctr > 0) || (screenData.ctr === 0)) ? ((screenData.ctr | number : 3) + '%') : '-'">
    </div>
    <!-- For screen widget we should show action rate as NA  -->
    <div class="each_col fifth_col {{screenData.kpi_type.toLowerCase() === 'action rate' ? 'bold' : ''}}"
         data-ng-bind="'NA'">
    </div>
    <span  data-ng-if="!adFormats.videoAds">
        <div class="each_col sixth_col {{screenData.kpi_type === 'cpa' ? 'bold' : ''}}"
             data-ng-bind="((screenData.cpa > 0) || (screenData.cpa === 0)) ?
                (screenData.cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col seventh_col {{screenData.kpi_type === 'cpc' ? 'bold' : ''}}"
             data-ng-bind="((screenData.cpc > 0) || (screenData.cpc === 0)) ?
                (screenData.cpc | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{screenData.kpi_type === 'cpm' ? 'bold' : ''}}"
             data-ng-bind="((screenData.cpm > 0) || (screenData.cpm === 0)) ?
                (screenData.cpm | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{screenData.kpi_type === 'pc_cpa' ? 'bold' : ''}}"
             data-ng-bind="((screenData.pc_cpa > 0) || (screenData.pc_cpa === 0)) ?
                (screenData.pc_cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{screenData.kpi_type === 'spend' ? 'bold' : ''}}"
             data-ng-bind="((screenData.spend > 0) || (screenData.spend === 0)) ?
                (screenData.spend | currency : undefined : 2) : '-'">
        </div>
       <!-- <div class="each_col eight_col {{screenData.kpi_type === 'suspicious_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((screenData.suspicious_impressions_perc > 0) || (screenData.suspicious_impressions_perc === 0)) ?
                ((screenData.suspicious_impressions_perc | number : 2) + '%') : '-'">
        </div>
        <div class="each_col eight_col {{screenData.kpi_type === 'viewable_impressions' ? 'bold' : ''}}"
             data-ng-bind="((screenData.viewable_impressions > 0) || (screenData.viewable_impressions === 0)) ?
                (screenData.viewable_impressions | number : 0) : '-'">
        </div>
        <div class="each_col eight_col {{screenData.kpi_type === 'viewable_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((screenData.viewable_impressions_perc > 0) || (screenData.viewable_impressions_perc === 0)) ?
                ((screenData.viewable_impressions_perc | number : 2) + '%') : '-'">
        </div> -->
    </span>
    <div data-ng-if="adFormats.videoAds"
         class="each_col eight_col"
         ng-class="checkForBoldClass(screenData)"
         data-ng-class="{vid_none: adFormats.videoAds === false}">

        <span data-ng-bind="screenData[selectedFilters.kpi_type] | suffixPrefixCannedReport : selectedFilters.kpi_type"></span>
    </div>
</script>

<script type="text/ng-template" id="daysOfWeekTpl">
    <div class="each_col sec_col" data-ng-bind="daysOfWeekData.dimension"></div>
    <div class="each_col third_col {{daysOfWeekData.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
         data-ng-bind="((daysOfWeekData.impressions > 0) || (daysOfWeekData.impressions === 0)) ?
            (daysOfWeekData.impressions | number : 0) : '-'">
    </div>
    <div class="each_col third_col"
         data-ng-bind="((daysOfWeekData.clicks > 0) || (daysOfWeekData.clicks === 0)) ?
        (daysOfWeekData.clicks | number : 0) : '-'">
    </div>
    <div class="vid_col" data-ng-show="adFormats.videoAds === true">
        <div class="each_col third_col"
             data-ng-bind="((daysOfWeekData.video_played > 0) || (daysOfWeekData.video_played === 0)) ?
                (daysOfWeekData.video_played | number : 0) : '-'">
        </div>
        <div class="vid_data_hdr">
            <div>
                <div class="vid_quartile_data"
                     data-ng-bind="((daysOfWeekData.vtc_25 > 0) || (daysOfWeekData.vtc_25 === 0)) ?
                        (daysOfWeekData.vtc_25 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((daysOfWeekData.vtc_50 > 0) || (daysOfWeekData.vtc_50 === 0)) ?
                        (daysOfWeekData.vtc_50 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((daysOfWeekData.vtc_75 > 0) || (daysOfWeekData.vtc_75 === 0)) ?
                        (daysOfWeekData.vtc_75 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((daysOfWeekData.vtc_100 > 0) || (daysOfWeekData.vtc_100 === 0)) ?
                        (daysOfWeekData.vtc_100 | nrFormat : 2) : '-'">
                </div>
            </div>
        </div>
        <div class="each_col third_col {{daysOfWeekData.kpi_type === 'VTC' ? 'bold' : ''}}">
            <span data-ng-bind="((daysOfWeekData.vtc_100 > 0) || (daysOfWeekData.vtc_100 === 0)) ?
                ((daysOfWeekData.vtc_100 | number : 2) + '%') : '-'">
            </span>
        </div>
    </div>
    <div class="each_col forth_col {{daysOfWeekData.kpi_type === 'ctr' ? 'bold' : ''}}"
         data-ng-bind="((daysOfWeekData.ctr > 0) || (daysOfWeekData.ctr === 0)) ?
            ((daysOfWeekData.ctr | number : 3) + '%') : '-'">
    </div>
    <div class="each_col fifth_col {{daysOfWeekData.kpi_type.toLowerCase() === 'action rate' ? 'bold' : ''}}" tooltip="{{(daysOfWeekData.action_rate | actionRateToolTip )}}"
         data-ng-bind="((daysOfWeekData.action_rate > 0) || (daysOfWeekData.action_rate === 0)) ?
            ((daysOfWeekData.action_rate | number : 3) + '%') : '-'">
    </div>
    <span  data-ng-if="!adFormats.videoAds">
        <div class="each_col sixth_col {{daysOfWeekData.kpi_type === 'cpa' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.cpa > 0) || (daysOfWeekData.cpa === 0)) ?
                (daysOfWeekData.cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col seventh_col {{daysOfWeekData.kpi_type === 'cpc' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.cpc > 0) || (daysOfWeekData.cpc === 0)) ?
                (daysOfWeekData.cpc | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'cpm' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.cpm > 0) || (daysOfWeekData.cpm === 0)) ?
                (daysOfWeekData.cpm | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'pc_cpa' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.pc_cpa > 0) || (daysOfWeekData.pc_cpa === 0)) ?
                (daysOfWeekData.pc_cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'spend' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.spend > 0) || (daysOfWeekData.spend === 0)) ?
                (daysOfWeekData.spend | currency : undefined : 2) : '-'">
        </div>
       <!-- <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'suspicious_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.suspicious_impressions_perc > 0) || (daysOfWeekData.suspicious_impressions_perc === 0)) ?
                ((daysOfWeekData.suspicious_impressions_perc | number : 2) + '%') : '-'">
        </div>
        <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'viewable_impressions' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.viewable_impressions > 0) || (daysOfWeekData.viewable_impressions === 0)) ?
                (daysOfWeekData.viewable_impressions | number : 0) : '-'">
        </div>
        <div class="each_col eight_col {{daysOfWeekData.kpi_type === 'viewable_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((daysOfWeekData.viewable_impressions_perc > 0) || (daysOfWeekData.viewable_impressions_perc === 0)) ?
                ((daysOfWeekData.viewable_impressions_perc | number : 2) + '%') : '-'">
        </div> -->
    </span>
    <div data-ng-if="adFormats.videoAds"
         class="each_col eight_col"
         data-ng-class="{vid_none: adFormats.videoAds === false}">
        <span data-ng-bind="daysOfWeekData[selectedFilters.kpi_type] | suffixPrefixCannedReport : selectedFilters.kpi_type"></span>
    </div>
</script>

<script type="text/ng-template" id="formatTpl">
    <div class="each_col sec_col" data-ng-bind="formatData.dimension | toPascalCase"></div>
    <div class="each_col third_col {{formatData.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
         data-ng-bind="((formatData.impressions > 0) || (formatData.impressions === 0)) ?
            (formatData.impressions | number : 0) : '-'">
    </div>
    <div class="each_col third_col"
         data-ng-bind="((formatData.clicks > 0) || (formatData.clicks === 0)) ?
        (formatData.clicks | number : 0) : '-'">
    </div>
    <div class="vid_col" data-ng-show="adFormats.videoAds === true">
        <div class="each_col third_col"
             data-ng-bind="((formatData.video_played > 0) || (formatData.video_played === 0)) ?
                (formatData.video_played | number : 0) : '-'">
        </div>
        <div class="vid_data_hdr">
            <div>
                <div class="vid_quartile_data"
                     data-ng-bind="((formatData.vtc_25 > 0) || (formatData.vtc_25 === 0)) ?
                        (formatData.vtc_25 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((formatData.vtc_50 > 0) || (formatData.vtc_50 === 0)) ?
                        (formatData.vtc_50 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((formatData.vtc_75 > 0) || (formatData.vtc_75 === 0)) ?
                        (formatData.vtc_75 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((formatData.vtc_100 > 0) || (formatData.vtc_100 === 0)) ?
                        (formatData.vtc_100 | nrFormat : 2) : '-'">
                </div>
            </div>
        </div>
        <div class="each_col third_col {{formatData.kpi_type === 'VTC' ? 'bold' : ''}}">
            <span data-ng-bind="((formatData.vtc_100 > 0) || (formatData.vtc_100 === 0)) ?
                ((formatData.vtc_100 | number : 2) + '%') : '-'">
            </span>
        </div>
    </div>
    <div class="each_col forth_col {{formatData.kpi_type === 'ctr' ? 'bold' : ''}}"
         data-ng-bind="((formatData.ctr > 0) || (formatData.ctr === 0)) ? ((formatData.ctr | number : 3) + '%') : '-'">
    </div>
    <div class="each_col fifth_col {{formatData.kpi_type.toLowerCase() === 'action rate' ? 'bold' : ''}}" tooltip="{{(formatData.action_rate | actionRateToolTip )}}"
         data-ng-bind="((formatData.action_rate > 0) || (formatData.action_rate === 0)) ?
            ((formatData.action_rate | number : 3) + '%') : '-'">
    </div>
    <span  data-ng-if="!adFormats.videoAds">
        <div class="each_col sixth_col {{formatData.kpi_type === 'cpa' ? 'bold' : ''}}"
             data-ng-bind="((formatData.cpa > 0) || (formatData.cpa === 0)) ?
                (formatData.cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col seventh_col {{formatData.kpi_type === 'cpc' ? 'bold' : ''}}"
             data-ng-bind="((formatData.cpc > 0) || (formatData.cpc === 0)) ?
                (formatData.cpc | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{formatData.kpi_type === 'cpm' ? 'bold' : ''}}">
            {{((formatData.cpm > 0) || (formatData.cpm === 0)) ? (formatData.cpm | currency : undefined : 2) : '-'}}
        </div>
        <div class="each_col eight_col {{formatData.kpi_type === 'pc_cpa' ? 'bold' : ''}}">
            {{((formatData.pc_cpa > 0) || (formatData.pc_cpa === 0)) ? (formatData.pc_cpa | currency : undefined : 2) : '-'}}
        </div>
        <div class="each_col eight_col {{formactionRateToolTipatData.kpi_type === 'spend' ? 'bold' : ''}}">
            {{((formatData.spend > 0) || (formatData.spend === 0)) ? (formatData.spend | currency : undefined : 2) : '-'}}
        </div>
        <!-- <div class="each_col eight_col {{formatData.kpi_type === 'suspicious_impressions_perc' ? 'bold' : ''}}">
            {{((formatData.suspicious_impressions_perc > 0) || (formatData.suspicious_impressions_perc === 0)) ? ((formatData.suspicious_impressions_perc | number : 2) + '%') : '-'}}
        </div>
        <div class="each_col eight_col {{formatData.kpi_type === 'viewable_impressions' ? 'bold' : ''}}">
            {{((formatData.viewable_impressions > 0) || (formatData.viewable_impressions === 0)) ? (formatData.viewable_impressions | number : 0) : '-'}}
        </div>
        <div class="each_col eight_col {{formatData.kpi_type === 'viewable_impressions_perc' ? 'bold' : ''}}">
            {{((formatData.viewable_impressions_perc > 0) || (formatData.viewable_impressions_perc === 0)) ? ((formatData.viewable_impressions_perc | number : 2) + '%') : '-'}}
        </div> -->
    </span>
    <div data-ng-if="adFormats.videoAds"
         class="each_col eight_col"
         data-ng-class="{vid_none: adFormats.videoAds === false}">
        <span data-ng-bind="formatData[selectedFilters.kpi_type] | suffixPrefixCannedReport : selectedFilters.kpi_type"></span>
    </div>
</script>

<script type="text/ng-template" id="CreativesTpl">
    <div class="each_col sec_col"
         title="{{creativesData.dimension}}"
         data-ng-bind="creativesData.dimension | formatUrl : 12">
    </div>
    <div class="each_col third_col imps-col {{creativesData.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
         data-ng-bind="((creativesData.impressions > 0) || (creativesData.impressions === 0)) ?
            (creativesData.impressions | number : 0) : '-'">
    </div>
    <div class="each_col third_col"
         data-ng-bind="((creativesData.clicks > 0) || (creativesData.clicks === 0)) ?
        (creativesData.clicks | number : 0) : '-'">
    </div>
    <span class="vid_col creativesTpl_vid_col"  data-ng-if="adFormats.videoAds">
        <div class="each_col third_col"
             data-ng-bind="((creativesData.video_played > 0) || (creativesData.video_played === 0)) ?
                (creativesData.video_played | number : 0) : '-'">
        </div>
        <div class="vid_data_hdr">
            <div>
                <div class="vid_quartile_data"
                     data-ng-bind="((creativesData.vtc_25 > 0) || (creativesData.vtc_25 === 0)) ?
                        (creativesData.vtc_25 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((creativesData.vtc_50 > 0) || (creativesData.vtc_50 === 0)) ?
                        (creativesData.vtc_50 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((creativesData.vtc_75 > 0) || (creativesData.vtc_75 === 0)) ?
                        (creativesData.vtc_75 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((creativesData.vtc_100 > 0) || (creativesData.vtc_100 === 0)) ?
                        (creativesData.vtc_100 | nrFormat : 2) : '-'">
                </div>
            </div>
        </div>
        <div class="each_col third_col {{creativesData.kpi_type === 'vtc_rate' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.vtc_100 > 0) || (creativesData.vtc_100 === 0)) ?
                ((creativesData.vtc_100 | number : 2) + '%') : '-'">
        </div>
    </span>
    <div class="each_col forth_col {{creativesData.kpi_type === 'ctr' ? 'bold' : ''}}"
         data-ng-bind="((creativesData.ctr > 0) || (creativesData.ctr === 0)) ?
            ((creativesData.ctr | number : 3) + '%')  :  '-'">
    </div>
    <div class="each_col fifth_col {{creativesData.kpi_type.toLowerCase() === 'action rate' ? 'bold'  :  ''}}" tooltip="{{(creativesData.action_rate | actionRateToolTip )}}"
         data-ng-bind="((creativesData.action_rate > 0) || (creativesData.action_rate === 0)) ?
            ((creativesData.action_rate | number : 3) + '%') : '-'">
    </div>
    <span  data-ng-if="!adFormats.videoAds">
        <div class="each_col sixth_col {{creativesData.kpi_type === 'cpa' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.cpa > 0) || (creativesData.cpa === 0)) ?
                (creativesData.cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col seventh_col {{creativesData.kpi_type === 'cpc' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.cpc > 0) || (creativesData.cpc === 0)) ?
                (creativesData.cpc | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{creativesData.kpi_type === 'cpm' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.cpm > 0) || (creativesData.cpm === 0)) ?
                (creativesData.cpm | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{creativesData.kpi_type === 'pc_cpa' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.pc_cpa > 0) || (creativesData.pc_cpa === 0)) ?
                (creativesData.pc_cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{creativesData.kpi_type === 'spend' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.spend > 0) || (creativesData.spend === 0)) ?
                (creativesData.spend | currency : undefined : 2) : '-'">
        </div>
        <!-- <div class="each_col eight_col {{creativesData.kpi_type === 'suspicious_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.suspicious_impressions_perc > 0) || (creativesData.suspicious_impressions_perc === 0)) ?
                ((creativesData.suspicious_impressions_perc | number : 2) + '%') : '-'">
        </div>
        <div class="each_col eight_col {{creativesData.kpi_type === 'viewable_impressions' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.viewable_impressions > 0) || (creativesData.viewable_impressions === 0)) ?
                (creativesData.viewable_impressions | number : 0) : '-'">
        </div>
        <div class="each_col eight_col {{creativesData.kpi_type === 'viewable_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((creativesData.viewable_impressions_perc > 0) || (creativesData.viewable_impressions_perc === 0)) ?
                ((creativesData.viewable_impressions_perc | number : 2) + '%') : '-'">
        </div> -->
    </span>
    <div data-ng-if="adFormats.videoAds"
         class="each_col eight_col"
         data-ng-class="{vid_none: adFormats.videoAds === false}">
        <span data-ng-bind="creativesData[selectedFilters.kpi_type] | suffixPrefixCannedReport : selectedFilters.kpi_type"></span>
    </div>
</script>

<script type="text/ng-template" id="AdSizesTpl">
    <div class="each_col sec_col" data-ng-bind="adSizesData.dimension | formatUrl : 15"></div>
    <div class="each_col third_col {{adSizesData.kpi_type.toUpperCase() === 'IMPRESSIONS' ? 'bold' : ''}}"
         data-ng-bind="((adSizesData.impressions > 0) || (adSizesData.impressions === 0)) ?
            (adSizesData.impressions | number : 0) : '-'">
    </div>
    <div class="each_col third_col"
         data-ng-bind="((adSizesData.clicks > 0) || (adSizesData.clicks === 0)) ?
        (adSizesData.clicks | number : 0) : '-'">
    </div>
    <span class="vid_col" data-ng-if="adFormats.videoAds">
        <div class="each_col third_col"
             data-ng-bind="((adSizesData.video_played > 0) || (adSizesData.video_played === 0)) ?
                (adSizesData.video_played | number : 0) : '-'">
        </div>
        <div class="vid_data_hdr">
            <div>
                <div class="vid_quartile_data"
                     data-ng-bind="((adSizesData.vtc_25 > 0) || (adSizesData.vtc_25 === 0)) ?
                        (adSizesData.vtc_25 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((adSizesData.vtc_50 > 0) || (adSizesData.vtc_50 === 0)) ?
                        (adSizesData.vtc_50 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((adSizesData.vtc_75 > 0) || (adSizesData.vtc_75 === 0)) ?
                        (adSizesData.vtc_75 | nrFormat : 2) : '-'">
                </div>
                <div class="vid_quartile_data"
                     data-ng-bind="((adSizesData.vtc_100 > 0) || (adSizesData.vtc_100 === 0)) ?
                        (adSizesData.vtc_100 | nrFormat : 2) : '-'">
                </div>
            </div>
        </div>
        <div class="each_col third_col {{adSizesData.kpi_type === 'VTC' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.vtc_100 > 0) || (adSizesData.vtc_100 === 0)) ?
                ((adSizesData.vtc_100 | number : 2) + '%') : '-'">
        </div>
    </span>
    <div class="each_col forth_col {{adSizesData.kpi_type === 'ctr' ? 'bold' : ''}}"
         data-ng-bind="((adSizesData.ctr > 0) || (adSizesData.ctr === 0)) ?
            ((adSizesData.ctr | number : 3) + '%') : '-'">
    </div>
    <div class="each_col fifth_col {{adSizesData.kpi_type.toLowerCase() === 'action rate' ? 'bold' : ''}}" tooltip="{{(adSizesData.action_rate | actionRateToolTip )}}"
         data-ng-bind="((adSizesData.action_rate > 0) || (adSizesData.action_rate === 0)) ?
            ((adSizesData.action_rate | number : 3) + '%') : '-'">
    </div>
    <span  data-ng-if="!adFormats.videoAds">
        <div class="each_col sixth_col {{adSizesData.kpi_type === 'cpa' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.cpa > 0) || (adSizesData.cpa === 0)) ?
                (adSizesData.cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col seventh_col {{adSizesData.kpi_type === 'cpc' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.cpc > 0) || (adSizesData.cpc === 0)) ?
                (adSizesData.cpc | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{adSizesData.kpi_type.toLowerCase() === 'cpm' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.cpm > 0) || (adSizesData.cpm === 0)) ?
                (adSizesData.cpm | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{adSizesData.kpi_type === 'pc_cpa' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.pc_cpa > 0) || (adSizesData.pc_cpa === 0)) ?
                (adSizesData.pc_cpa | currency : undefined : 2) : '-'">
        </div>
        <div class="each_col eight_col {{adSizesData.kpi_type === 'spend' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.spend > 0) || (adSizesData.spend === 0)) ?
                (adSizesData.spend | currency : undefined : 2) : '-'">
        </div>
       <!-- <div class="each_col eight_col {{adSizesData.kpi_type === 'suspicious_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.suspicious_impressions_perc > 0) || (adSizesData.suspicious_impressions_perc === 0)) ?
                ((adSizesData.suspicious_impressions_perc | number : 2) + '%') : '-'">
        </div>
        <div class="each_col eight_col {{adSizesData.kpi_type === 'viewable_impressions' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.viewable_impressions > 0) || (adSizesData.viewable_impressions === 0)) ?
                (adSizesData.viewable_impressions | number : 0) : '-'">
        </div>
        <div class="each_col eight_col {{adSizesData.kpi_type === 'viewable_impressions_perc' ? 'bold' : ''}}"
             data-ng-bind="((adSizesData.viewable_impressions_perc > 0) || (adSizesData.viewable_impressions_perc === 0)) ?
                ((adSizesData.viewable_impressions_perc | number : 2) + '%') : '-'">
        </div> -->
    </span>
    <div data-ng-if="adFormats.videoAds"
         class="each_col eight_col"
         data-ng-class="{vid_none: adFormats.videoAds === false}">
        <span data-ng-bind="adSizesData[selectedFilters.kpi_type] | suffixPrefixCannedReport : selectedFilters.kpi_type"></span>
    </div>
</script>

<!--Discrepancy Table Columns Starts-->
<script type="text/ng-template" id="discrepancyTpl">
    <!--Row 1-->
    <div class="col-md-12 discrepancyTplRow"
         data-row-index="{{$index}}"
         data-ng-class="{open: vendor.nodes.length > 1}">
        <div class="col-md-12 zeroPadding">
            <strong class="pull-left discrepancyName"
                    data-ng-class="{rowHasSubRow: vendor.nodes.length > 1}"
                    data-ng-click="discrepancy_click_first_level($index, $event)">
                <span class="pull-left icon-arrow-solid-down" data-ng-if="vendor.nodes.length > 1"></span>
                <span class="pull-left platform_logo_img" data-ng-if="vendor.nodes.length === 1">
                    <img data-ng-src="{{performanceIconUrl(vendor.nodes[0].name)}}"
                         err-src="/images/platform_favicons/platform_logo.png"
                         style="max-width: 10px;">
                </span>
                <span data-ng-bind="vendor.nodes.length > 1 ? vendor.category : vendor.nodes[0].name"
                      class="wordWrap" style="margin-left: 2px">
                </span>
            </strong>
            <strong class="col-md-2 text-left wordWrap">{{vendor.nodes.length == 1 ? vendor.category : ''}}</strong>

            <!--Column 2-->
            <strong class="col-md-2 zeroPadding text-left"
                    data-ng-bind="vendor.imps >= 0 ? (vendor.imps | number : 0) : '-'">
            </strong>

            <!--Column 3-->
            <strong class="col-md-2"
                    data-ng-bind="getDiscrepancyImpsGap(vendor.imps, vendor.ad_id) | number : 0">
            </strong>
            <strong class="col-md-2 zeroPadding text-right"
                    data-ng-bind="getRateOfDiscrepancy(vendor.imps, vendor.ad_id)">
            </strong>
        </div>

        <div class="col-md-12 zeroPadding discrepancySecLevel"
             id="discrepancy_2nd_level_{{$index}}"
             data-ng-if="vendor.nodes.length > 1">
            <div class="col-md-12 zeroPadding discrepancySecLevelRow"
                 data-ng-repeat="node in vendor.nodes | orderBy : -impressions">
                 <span class="discrepancySecLevelNameHolder" >
                    <span class="pull-left platform_logo_img">
                        <img data-ng-src="{{performanceIconUrl(node.name)}}"
                             err-src="/images/platform_favicons/platform_logo.png"
                             style="max-width: 10px;">
                    </span>
                    <span data-ng-bind="node.name" class="pull-left discrepancySecLevelName"></span>
                </span>
                <span class="pull-left col-md-2 text-left discrepancySecLevelCategory" data-ng-bind="vendor.category"></span>
                <div class="col-md-2 zeroPadding text-left" 
                     data-ng-bind="node.imps >= 0 ? (node.imps | number : 0) : '-'" >
                </div>
            </div>
        </div>
    </div>
</script>
<!--Discrepancy Table Columns Ends-->
