<div class="reports_login_outer_container">
    <div class="reports_login_box_holder">
        <div class="reports_login_box">
            <div class="collective_logo_holder"><a class="collective_logo" href="javascript:void(0);" data-toggle="modal" data-target=".myModal"></a></div>
            <div class="clearfix collective_ad_form_holder">
                <div class="pull-right collective_ads" >
                    <iframe src="https://a.collective-media.net/adi/mk.collective/ron_collective_marketingpurposes;unit=ron_collective_marketingpurposes;env=ifr;sz=720x300;ord=[timestamp]?" width="720" height="300" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">
                        <script type="text/javascript" src="https://a.collective-media.net/adj/mk.collective/ron_collective_marketingpurposes;unit=ron_collective_marketingpurposes;env=ifr;sz=720x300;abr=!ie;ord=[timestamp]?"></script>
                    </iframe>
                    <script type="text/javascript">var bap_skip_next = "r=0;";</script>
                </div>
                <div class="browser_error" ng-show="showMessage" ng-init="checkoutBrowserInfo()">
                    <span  ng-bind="browserMessage"  class="browser_error_txt" ></span>
                </div>
                <div class="pull-left collective_login">
                    <form name="form" ng-submit="login()">

                        <div class="login_box_form_holder">
                            <div class="validation_error_msg" ng-if="(showLoginError() == true)" >
                                <!-- style="display:block;"  when error is there -->
                                {{(loginErrorMsg) ? loginErrorMsg : "The Username/Password is incorrect" }}
                            </div>
                            <div class="login_txtbox username_login_txtbox {{(showLoginError()) ? 'validation_error' : ''}}">
                                <!-- validation_error -->
                                <input class="login_txt_input" ng-model="username" placeHolder="Username"
                                       ng-disabled="disabledFormFields">
                            </div>
                            <div class="login_txtbox pass_login_txtbox {{ (showLoginError()) ? 'validation_error' : ''}}">
                                <!-- validation_error -->
                                <input type="password" class="login_txt_input" ng-model="password" placeHolder="Password"
                                       ng-disabled="disabledFormFields">
                            </div>
                            <div class="signin_options_holder clearfix">
                                <!-- <div class="pull-left keep_signed_in external_chkbox clearfix" >
                                      <div class="squaredFour">
                                        <input type="checkbox" id="remember_me_squaredFour" class="squaredFourChkbox" checked="">
                                        <label for="remember_me_squaredFour"></label>
                                      </div>
                                      <span class="squaredFourTxt">Keep me Signed In</span>
                                </div> -->
                                <div class="pull-right forgot_pass_holder">
                                    <a href="javascript:void(0);" >{{textConstants.FORGOT_PASSWORD}}</a>
                                    <span class="forgot_pass_tooltip">{{textConstants.FORGOT_PASSWORD_CONTACT_ACCOUNT_MANAGER}} </span>
                                </div>

                            </div>
                            <input ng-disabled="form.$invalid || dataLoading || disabledFormFields" type="submit"
                                   class="login_btn {{getLoadingClass()}} {{getSigninClass()}}" value="Sign In"><!-- loading -->
                            <!--  <div class="email_anchor">
                              <a href="javascript:void(0);" >Email Collective</a>
                             </div> -->
                        </div>
                    </form>
                </div>
            </div>

            <div class="login_copyright_holder">
                <span class="login_copyright_span" ng-bind-html="copyRights"></span>
                <span class="login_copyright_span copyright_dot_separator"><span class="dot_separator">.</span></span>
        <span class="login_copyright_span">
            <a href="http://www.collective.com/about.html" target="_blank" >{{textConstants.ABOUT_US}}</a>
        </span>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready( function() {
        reports_login_position() ;
    });

    $( window ).resize(function() {
        reports_login_position() ;
    });

    function reports_login_position() {
        var win_height = $(window).height() ;
        var min_height = $(".collective_ad_form_holder").height() + $(".collective_ad_form_holder").offset().top + 100 ;
        $( ".reports_login_box_holder" ).css( "height" , win_height );
        if( win_height <= min_height ) {
            $(".login_copyright_holder").css("position","static") ;
        } else {
            $(".login_copyright_holder").css("position","absolute") ;
        }
    }
</script>
