<popup-msg ng-show="flashMessage" ng-controller="popUpMsgCtr"
           ng-init="init('flashMessage','reportEditFailed')"></popup-msg>
<div class="reports-invoice-list">
    <div class="col-md-12 zeroPadding">
        <h1 style="margin-top: 30px; margin-bottom:25px;" data-ng-bind="textConstants.INVOICE_REPORT"></h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="pull-left">
                <filters-header></filters-header>
            </div>
        </div>

        <!--Search-->
        <div class="col-md-8">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default pull-right" style="display: none">
                    <span class="icon-filter" style="margin: -1px 0 0;"></span>
                </button>
                <div class="searchInput pull-right">
                    <a class="btn btn-default searchInputBtnInline" ng-click="invoiceReportsSearchFunc()">
                        <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                    </a>
                    <div class="input-group searchInputForm" >
                        <input type="text"
                               class="form-control"
                               name="invoiceReportsSearch"
                               ng-keyup="invoiceReportsSearchFunc($event)"
                               ng-model="invoiceReports.searchTerm"
                               placeholder="Search Invoice Reports...">
                        <div class="btn btn-default searchClearInputBtn" ng-click="searchHideInput()">
                            <span class="icon-clear" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Date filter -->
    <div class="col-md-12 zeroPadding" style="margin-top:20px; margin-bottom:20px; margin-left:-60px;">
        <div class="col-md-4">
            <div class="pull-left">
                <div class="col-md-12">
                    <div class="each_section_custom_report" style="min-width: 384px;">
                        <div>
                            <div class="clearfix title_row_separator customDatesTimeframe">
                                <div class="pull-left col-md-12">
                                    <div class="col-md-12 input-daterange input-group date pull-left">
                                        <div class="col-md-12 dateWrapper">
                                            <div class="col-md-6">
                                                <input type="text"
                                                       id="startDateInput"
                                                       class="input-sm form-control timeframe"
                                                       ng-model="invoiceReports.startDate"
                                                       required>
                                                <i class="icon-calendar glyphicon pull-right"></i>
                                                <!-- <label ng-if="!invoiceReports.startDate"
                                                style="display:block" class="errorLabel"
                                                 ng-bind="textConstants.SELECT_DATE_LABEL"></label> -->
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text"
                                                       id="endDateInput"
                                                       class="input-sm form-control timeframe"
                                                       ng-model="invoiceReports.endDate"
                                                       required>
                                                <i class="icon-calendar glyphicon pull-right"></i>
                                                <!-- <label ng-if="!invoiceReports.endDate"
                                                    style="display:block" class="errorLabel"
                                                    ng-bind="textConstants.SELECT_DATE_LABEL"></label> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-default pull-left" type="button" ng-click="goClick()"> Go </button>
        </div>
    </div>

    <!--Table-->
    <div class="col-md-12 report_list_table zeroPadding centerAlign" style="margin: 20px 0 30px;">
        <div class="table-responsive" id="table_responsive">
            <div class="vistoTable">
                <!--Table Head-->
                <div class="thead">
                    <div class="tr">
                        <div class="col-md-5 th" data-ng-bind="textConstants.INVOICE_REPORT_MEDIA_PLAN"></div>
                        <div class="col-md-2 th" data-ng-bind="textConstants.INVOICE_REPORT_DATE"></div>
                        <div class="col-md-1 th" data-ng-bind="textConstants.INVOICE_REPORT_SPEND"></div>
                        <div class="col-md-1 th" data-ng-bind="textConstants.INVOICE_REPORT_CREDITS"></div>
                        <div class="col-md-1 th" data-ng-bind="textConstants.INVOICE_REPORT_BILLABLE"></div>
                        <div class="col-md-2 th" data-ng-bind="textConstants.INVOICE_REPORT_ACCOUNT"></div>
                    </div>
                </div>

                <div class="tbody invoice-tbody">
                    <div class="tr oneDimensionRow" data-ng-show="!noDataFound">
                        <div ng-if="!creativeListLoading" ng-repeat="mediaPlan in mediaPlanList" class="parentWrap" ng-include="'invoiceTpl'"
                             data-row-index="{{$index}}">
                        </div>

                    </div>
                    <span ng-if="noDataFound" class="no-data-common ng-binding ng-scope" style="margin: 100px auto 110px;">
                        <span class="data_not_found">Data not available</span>
                    </span>
                    <div ng-if="fetching" class="zeroPadding col-md-12">
                        <div class="common-load-more" style="margin-top:20px; "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="invoiceTpl">
    <div class="rowHover parentWrap">
        <!--Invoice Name-->
        <div class="col-md-5 td tableTd media-plan-name-wrapper" style="min-height: 80px">
            <span class="icon-arrow-down-thick" ng-click="toggleInvocieLists(mediaPlan, $index, $event)"></span>
            <div class="col-md-9 media-plan-name" data-ng-bind="mediaPlan.campaignName"></div>
            <div class="col-md-2 more-options">
                <div class="dropdown-workflow">
                    <div class="dropdown hideOption">
                        <div class="option-horizontal">
                            <a class="pull-left" tooltip="Download all Invoice Reports" ng-click="invoiceReports.download($event, mediaPlan)">
                                <span class="icon-download zeroPadding pull-left"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 td tableTd invoice-date" data-ng-bind="mediaPlan.invoiceDate" style="min-height: 80px;"></div>
        <div class="col-md-1 td text-right tableTd" ng-bind="constants.currencySymbol + (mediaPlan.spend |number:0)" style="min-height: 80px;"></div>
        <div class="col-md-1 td text-right tableTd" ng-bind="constants.currencySymbol + (mediaPlan.credits | number:0)" style="min-height: 80px;"></div>
        <div class="col-md-1 td text-right tableTd" ng-bind="constants.currencySymbol + (mediaPlan.spend - mediaPlan.credits |number:0)" style="min-height: 80px;"></div>
        <div class="col-md-2 td tableTd" data-ng-bind="mediaPlan.account+'/'+mediaPlan.advertiser" style="min-height: 80px"></div>
        <!-- <div class="col-md-2 td" ng-bind="mediaPlan.account +'/'+ mediaPlan.advertiser"></div> -->
    </div>
    <div style="display:none;" class="secondDimensionList">
        <div class="tr childRow adsList" style="border: solid 1px #ccc;">
            <div class="col-md-12">
                <div class="pillsWrap">
                            <span class="labelPills{{addHighlightClass(label, '</mark>') ?
                                         ' search-highlight' : ''}}"
                                  ng-repeat="label in mediaPlan.labels track by $index"
                                  ng-bind-html="label">
                            </span>
                </div>
            </div>
        </div>
        <div class="rowHover1 parentWrap" ng-repeat="invoice in mediaPlan.invoices track by $index">
            <div class="tr childRow adsList">
                <div class="col-md-5 td">
                    <div class="col-md-9 media-plan-name" ng-bind="invoice.invoiceDate + ' Invoice Report'"></div>
                    <div class="col-md-3 more-options">
                        <div class="dropdown-workflow">
                            <div class="dropdown hideOption1">
                            <span data-toggle="dropdown">
                                <div class="option-horizontal">
                                    <span></span><span></span><span></span>
                                </div>
                            </span>
                                <ul class="dropdown-menu">
                                    <li data-ng-click="showAddCreditPopup(invoice)">
                                        <a data-ng-bind="textConstants.INVOICE_REPORT_ADD_CREDIT"></a>
                                    </li>
                                    <li>
                                        <a style="cursor: not-allowed; color: #939eaf;"
                                           disabled ng-bind-html="textConstants.INVOICE_VIEW_REPORT"></a>
                                    </li>
                                    <li class="headerDownload" ng-click="">
                                        <span class="icon-download zeroPadding pull-left"></span>
                                        <a class="pull-left"
                                           ng-click="invoiceReports.download($event, invoice)">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 td" ng-bind="invoice.invoiceDate"></div>
                <div class="col-md-1 td text-right" ng-bind="constants.currencySymbol + (invoice.spend | number:0)"></div>
                <div class="col-md-1 td text-right" ng-bind="constants.currencySymbol + (invoice.credits | number:0)"></div>
                <div class="col-md-1 td text-right" ng-bind="constants.currencySymbol +'  '+ (invoice.spend - invoice.credits | number:0)"></div>
                <div class="col-md-2 td"></div>
            </div>

        </div><!-- rowHover invoice.credits | number:3 -->

        <div class="col-md-12" ng-bind-html="textConstants.INVOICE_VIEW_REPORT_ALL" ng-show="loadMoreInvoice_{{$index}}" data-ng-click="loadMoreInvoice($index)"
             style="text-align: center; padding-top:7px; height:36px; border: 1px solid rgba(191, 201, 215, 0.5);"></div>
    </div>

</script>
