<div class="clearfix">
    <div  class="report_heading_dropdown_txt nav_filters_heading" data-ng-bind="textConstants.LINE_ITEM"></div>
    <div class="dropdown dropdown_type2">
        <div class="dropdown_ul_text" data-toggle="dropdown">
            <div class="col-md-12 zeroPadding">
                <span id="strategy_dropdown"
                      class="dd_txt" title="{{selectedObj.name}}"
                      data-ng-bind="(selectedObj.name | formatUrl : 26)">
                </span>
                <span class="icon-arrow-solid-down"></span>
            </div>
        </div>
        <ul id="strategies_list" class="dropdown_ul dropdown-menu">
            <li ng-repeat="strategy in strategyData.strategies track by $index"
                class="{{(strategy.name | formatUrl:26 ) == selectedObj.name?'active':''}}"
                value="{{strategy.id}}"
                title="{{strategy.name}}"
                data-ng-click="selectStrategy(strategy)"
                ng-bind="(strategy.name | formatUrl:26)"></li>
            </li>
        </ul>
    </div>
</div>
