<div class="nav_filters_heading" data-ng-bind="constants.SUB_ACCOUNT"></div>
<div class="col-md-12 zeroPadding">
    <div class="brand_name_selected"
         id="sub_account_name_selected"
         data-ng-click="showSubAccountDropDown()"
         title="{{subAccountData.selectedSubAccount.name}}"
         data-ng-bind="(subAccountData.selectedSubAccount.name ? subAccountData.selectedSubAccount.name : '')">
    </div>
    <span class="icon-arrow-solid-down"></span>
</div>
<div class="clearfix">
    <div class="brandsDropdownSearch dropdown-workflow" data-ng-class="subAccountData.subAccounts.length > 0 ? '' : 'loadedDropdownData'">
        <ul class="dropdown-menu dropdown-menu-with-search" role="menu" id="subAccountDropDownList">
            <div class="search-inside-dropdown" id="subAccountDropdownDiv">
                <input class="dropdown-toggle "
                       id="subAccountDropdown"
                       data-ng-keyup="disableShowAll();"
                       data-ng-model="selectedSubAccount.name"
                       placeHolder="Search Sub-Accounts...">
                <span class="sort-image-inactive brands_dd_filter_arrow" id="#brandsDropDownImg"></span>
            </div>
            <div  class="subAccountList_ul">
                <li data-ng-repeat="subAccount in subAccountData.subAccounts | filter : selectedSubAccount.name"
                    data-ng-class="{active: subAccount.id === subAccountData.selectedSubAccount.id}"
                    title="{{subAccount.displayName}}">
                    <a data-ng-click="selectSubAccount(subAccount, 'clicked')">
                        <span class="tick"></span>
                        <span class="menuItemText" data-ng-bind="subAccount.displayName"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>

