<div id ="client_details"> </div>
<div id ="client_contacts"> </div>
<div id ="collective_contacts"> </div>

<fieldset>
  <div class="actions">
    <button class="btn btn-primary" id="save"> Save </button>
    <a class="btn" href="/admin/reach_clients"> Close </a>
  </div>
</fieldset>

<div id="modal"></div>