<div id ="client_details"> </div>
<div id ="client_contacts"> </div>
<div id ="collective_contacts"> </div>

<div class="control-group">
  <div class="controls">
    <button class="btn" id="save"> Save </button>
    <a class="btn" href="/admin/reach_clients"> Close </a>
  </div>
</div>

<div id="modal"></div>