<legend>Client Details</legend>

<fieldset>
  <div class="control-group">
    <label for="name" class="control-label">Name</label>
    <div class="controls">
      <input type="text" required="" value="<%= reachClient.name%>" placeholder="Name" id="name">
      <label class="help-inline form-error" id="name_error"></label>
    </div>
  </div>

  <div class="control-group">
    <label for="abbreviation" class="control-label">Abbreviation</label>
    <div class="controls">
      <input type="text" required="" value="<%= reachClient.abbr%>" placeholder="Abbreviation" id="abbreviation">
      <label class="help-inline form-error" id="abbr_error"></label>
    </div>
  </div>
</fieldset>