<div class="modal-body">

  <form class="form-horizontal">
    <legend>New Media Contact</legend>

    <fieldset>
      <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
          <input type="text" id="name" placeholder="Name" value="<%= mediaContact.name %>" required>
          <label class="help-inline form-error" id="name_error"></label>
        </div>
      </div>

      <div class="control-group">
        <label for="phone" class="control-label">Phone</label>
        <div class="controls">
          <input type="text" id="phone" placeholder="Phone" value="<%= mediaContact.phone %>" required>
          <label class="help-inline form-error" id="phone_error"></label>
        </div>
      </div>

      <div class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
          <input type="text" id="email" placeholder="Email" value="<%= mediaContact.email %>" required>
          <label class="help-inline form-error" id="email_error"></label>
        </div>
      </div>

      <div class="control-group">
        <label for="address" class="control-label">Address</label>
        <div class="controls">
          <textarea rows="4" cols="50" required="" placeholder="Address" id="address" ><%= mediaContact.address %></textarea>
          <label class="help-inline form-error" id="address_error"></label>
        </div>
      </div>

    </fieldset>
  </form>

</div>

<div class="modal-footer">
  <button type= "button" id="save_media_contact" class="btn btn-primary">Save</button>
  <button id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>