<div>
  <label for="name" >Name</label>
  <div>
    <input type="text" required="" value="<%= reachClient.name%>" placeholder="Name" id="name">
    <label id="name_error"></label>
  </div>
</div>

<div>
  <label for="abbreviation" >Abbreviation</label>
  <div>
    <input type="text" required="" value="<%= reachClient.abbr%>" placeholder="Abbreviation" id="abbreviation">
    <label id="abbreviation_error"></label>
  </div>
</div>

<div>
  <label for="address" >Address</label>
  <div>
    <textarea rows="4" cols="50" required="" placeholder="Address" id="address" ><%= reachClient.address%></textarea>
    <label id="address_error"></label>
  </div>
</div>