<div id ="client_details"> </div>
<div id ="client_contacts"> </div>
<div id ="collective_contacts"> </div>

<button class="btn" id="save"> Save </button>
<a class="btn" href="/admin/reach_clients"> Close </a>
<div id="modal"></div>