<div>
  <label for="sales_person" >Sales Person</label>
  <div>
    <select id="sales_person">
    </select>
  </div>
</div>

<div>
  <label for="account_manager" >Account Manager</label>
  <div>
    <select id="account_manager">
    </select>
  </div>
</div>

<div>
  <label for="trafficker" >Trafficker</label>
  <div>
    <select id="trafficker">
    </select>
  </div>
</div>