<div class="control-group default-block-control">
  <label class="control-label">Blocked Site List</label>

  <div class="control-group">
    <div class="controls">
      <button id="btnRemove" class="btn">Remove</button>
    </div>
  </div>

  <div class="controls">
    <select id="blockedSiteList" multiple="multiple">
    </select>
  </div>
</div>
