<div class="control-group search-sites-control">
  <label>Sites</label>
  <div class="controls">
    <div class="input-append">
      <input id="search_input" class="input-medium" placeholder="Sites" type="text">
      <div class="btn-group">
        <button class="btn" id="search_button">Search</button>
      </div>
    </div>
  </div>
</div>



<div class="control-group default-block-control">
  <div class="controls">
    <select id="sitesList" multiple="multiple">
    </select>
    <div id="loading_div" class="loading-div">
      <span class="loading-img"></span>
    </div>
  </div>
</div>

<button class="btn add-btn" id="addSiteBlock" type="button">
  <i class="icon-arrow-right"></i>
</button>