<div class="action-bar">
  <button class="btn create">
    Create Tag
  </button>
</div>

<table id="campaign_table" class="table">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="nielsen_id">Nielsen Id</th>
      <th class="cpp">CPP</th>
      <th class="trp_goal">TRP Goal</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

