<td class="name"><%= name %></td>
<td class="nielsen_id"><%= source_id %></td>
<td class="cpp"><%= accounting.formatMoney(value) %></td>
<td class="trp_goal"><%= accounting.formatNumber(trp_goal) %></td>
