<form class="form-horizontal nielsen-campaign-form">
  <fieldset>
    <div class="details-region"></div>

    <div class="dmas">
      <div class="control-group">
        <label class="control-label" for="dma">DMA</label>
        <div class="controls dma-region">
        </div>
      </div>
    </div>

    <div class="ads-region"></div>
  </fieldset>

  <fieldset>
    <div class="actions">
      <button type="submit" class="btn btn-primary save-campaign">&nbsp;Save&nbsp;</button>
    </div>
  </fieldset>
</form>
