<table>
  <thead>
    <tr>
      <th><%= name %></th>
      <th>
        <span class="cpp">
          CPP <input type="text" id="cpp" value="<%= cpp %>" class="cpp">
        </span>
        <span class="trp">
          TRP <input type="text" id="trp" value="<%= trp %>" class="trp">
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
