.dropdown-toggle,
.dropdown-toggle-search {
  border-radius: 1px;
  text-align: left;
  background: #fff;
}
.dropdown-toggle .caret,
.dropdown-toggle-search .caret {
  float: right !important;
  margin-top: 5px;
}
.dropdown-workflow .btn {
  padding: 10px 15px 10px 15px;
  box-shadow: none !important;
  text-align: left;
  line-height: 16px;
  font-size: 14px;
  height: 36px;
  width: 100%;
  overflow: hidden;
}
.dropdown-workflow .btn:focus,
.dropdown-workflow .btn:active:focus,
.dropdown-workflow .btn.active:focus {
  outline: 0 none;
  background-color: #DCE6F1 !important;
}
.dropdown-workflow .btn:focus span.icon-arrow-down,
.dropdown-workflow .btn:active:focus span.icon-arrow-down,
.dropdown-workflow .btn.active:focus span.icon-arrow-down,
.dropdown-workflow .btn:focus .icon-search,
.dropdown-workflow .btn:active:focus .icon-search,
.dropdown-workflow .btn.active:focus .icon-search {
  background: none;
}
.dropdown-workflow .btn-default {
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir, sans-serif;
  border-radius: 2px;
  border: 1px solid #BFC9D7 !important;
  position: relative;
}
.dropdown-workflow .btn-default:not(.label-btn):hover {
  background-color: #E1EDF9 !important;
  border: 1px solid #BFC9D7 !important;
}
.dropdown-workflow .btn-default:not(.label-btn):hover span.icon-arrow-down,
.dropdown-workflow .btn-default:not(.label-btn):hover .icon-search {
  background: none;
}
.dropdown-workflow .btn-default:not(.label-btn):active {
  background-color: #DCE6F1 !important;
  border: 1px solid #BFC9D7 !important;
  box-shadow: none;
}
.dropdown-workflow .btn-default:not(.label-btn):active span.icon-arrow-down,
.dropdown-workflow .btn-default:not(.label-btn):active .icon-search {
  background: none;
}
.dropdown-workflow .btn-default .text {
  float: left;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-workflow span.icon-arrow-down,
.dropdown-workflow .icon-search {
  font-size: 10px;
  color: #000;
  height: 34px;
  width: 10px;
  line-height: 16px;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 12px 22px;
  display: inline-block;
  right: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 65%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 54%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}
.dropdown-workflow .dropdown-menu > li > a,
.dropdown-workflow .dropdown-menu-search > li > a {
  color: #21252b;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  line-height: 100%;
  padding: 9px 15px;
}
.dropdown-workflow .disabled a {
  color: #21252b;
  opacity: .4;
}
.dropdown-workflow .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}
.dropdown-workflow .dropdown-menu,
.dropdown-workflow .dropdown-menu-search {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  width: auto;
  min-width: 100%;
  max-width: 340px;
  max-height: 280px;
  overflow: auto;
}
.dropdown-workflow .dropdown-menu li,
.dropdown-workflow .dropdown-menu-search li {
  float: left;
  width: 100%;
}
.dropdown-workflow .dropdown-menu li span,
.dropdown-workflow .dropdown-menu-search li span {
  float: left;
  width: 100%;
  padding: 5px 10px 1px;
}
.dropdown-workflow .dropdown-menu li span input[type="checkbox"],
.dropdown-workflow .dropdown-menu-search li span input[type="checkbox"] {
  margin: 4px 10px 0 0;
}
.dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick,
.dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick {
  font-size: 9px;
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 5px 10px 5px 3px;
  color: #363d49;
  float: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick.active,
.dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.dropdown-workflow .dropdown-menu li ul,
.dropdown-workflow .dropdown-menu-search li ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0 0 5px;
}
.dropdown-workflow .dropdown-menu li ul li,
.dropdown-workflow .dropdown-menu-search li ul li {
  float: left;
  width: 100%;
}
.dropdown-workflow .dropdown-menu li ul li a,
.dropdown-workflow .dropdown-menu-search li ul li a {
  color: #21252b;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding: 3px 15px;
  float: left;
}
.dropdown-workflow .dropdown-menu li ul li a:hover,
.dropdown-workflow .dropdown-menu-search li ul li a:hover {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown-menu li ul li span input,
.dropdown-workflow .dropdown-menu-search li ul li span input {
  margin-right: 8px;
}
.dropdown-workflow .dropdown-menu .headerDDL,
.dropdown-workflow .dropdown-menu-search .headerDDL {
  border-top: 1px solid #ccd2da;
  margin: 0;
}
.dropdown-workflow .dropdown-menu .headerDDL:first-child,
.dropdown-workflow .dropdown-menu-search .headerDDL:first-child {
  border-width: 0;
}
.dropdown-workflow .dropdown-menu .headerDDL [class^="icon-"],
.dropdown-workflow .dropdown-menu-search .headerDDL [class^="icon-"],
.dropdown-workflow .dropdown-menu .headerDDL [class*=" icon-"],
.dropdown-workflow .dropdown-menu-search .headerDDL [class*=" icon-"] {
  float: left;
  width: auto;
  padding: 0;
  margin: 12px 0 0 10px;
}
.dropdown-workflow .dropdown-menu .headerDDL .greyTxt,
.dropdown-workflow .dropdown-menu-search .headerDDL .greyTxt {
  float: left;
  width: auto;
  padding: 12px 0 0 15px!important;
}
.dropdown-workflow .dropdown-menu .active a,
.dropdown-workflow .dropdown-menu-search .active a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown-menu {
  z-index: 9999999;
}
.dropdown-workflow .dropdown-menu.pull-top.pull-left {
  top: initial !important;
  bottom: 105%;
}
.dropdown-workflow .dropdown-menu-search {
  overflow: auto;
}
.dropdown-workflow .dropdown-menu > li > a:hover,
.dropdown-workflow .dropdown-menu > li > a:focus,
.dropdown-workflow .dropdown-menu > li > .active > a,
.dropdown-workflow .dropdown-menu-search > li > a:hover,
.dropdown-workflow .dropdown-menu-search > li > a:focus,
.dropdown-workflow .dropdown-menu-search > li > .active > a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-workflow .dropdown {
  display: inline-block;
  width: 100%;
  z-index: initial;
}
.dropdown-workflow .searchBar {
  position: relative;
  margin-bottom: 15px;
  margin-top: -5px;
}
.dropdown-workflow .searchBar .icon-search {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: #939eae;
}
.dropdown-workflow .category_dropdown {
  padding: 5px 5px 0 0;
  border-top: solid 1px #bfc9d7;
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}
.dropdown-workflow .category_dropdown .btn {
  width: auto;
}
.dropdown-workflow .dropdown-toggle:active,
.dropdown-workflow .dropdown-toggle:focus {
  background: #DCE6F1 !important;
}
.open .dropdown-toggle.btn-default {
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir, sans-serif;
  border-radius: 2px;
  border: 1px solid #BFC9D7 !important;
  position: relative;
}
.dropdown-multi .icon-arrow-down,
.dropdown-multi .icon-arrow-right {
  background: transparent !important;
  cursor: pointer;
}
.dropdown-multi .childTier {
  background: #fff;
  float: left;
  width: 100%;
  position: absolute;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  width: auto;
  min-width: 100%;
  max-width: 340px;
  max-height: 280px;
  overflow: auto;
  margin-top: 3px;
  margin-left: 0;
  border: 1px solid #ccd2da;
  border-radius: 1px;
}
.dropdown-multi .childTier .tierHeader {
  position: relative;
  height: 35px;
  cursor: pointer;
  border-bottom: 1px solid #ccd2da;
  margin-bottom: 10px;
}
.dropdown-multi .childTier .tierHeader .icon-arrow-down {
  position: absolute;
  left: 15px;
  top: 12px;
  transform: rotate(90deg);
  width: 10px;
  height: 10px;
  font-size: 10px;
  z-index: 999;
}
.dropdown-multi .childTier .tierHeader span {
  position: relative;
  text-align: center;
  width: 100%;
  float: left;
  padding: 6px 0;
}
.dropdown-multi .childTier .tierHeader:hover {
  background-color: #E1EDF9;
}
.dropdown-multi .childTier .dropdown-menu-child {
  list-style: none;
  padding: 0;
  float: left;
  width: 100%;
}
.dropdown-multi .childTier .dropdown-menu-child li {
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
}
.dropdown-multi .childTier .dropdown-menu-child li a {
  float: left;
  width: 100%;
  padding: 3px 15px;
  color: #21252b;
}
.dropdown-multi .childTier .dropdown-menu-child li .icon-arrow-down {
  width: 10px !important;
  height: 10px !important;
  font-size: 10px;
  right: 15px !important;
  padding: 0;
  display: inline-block;
}
.dropdown-multi .childTier .dropdown-menu-child li:hover a {
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-menu,
.dropdown-menu-search {
  /*width: auto;
    min-width: 100%;
    max-width: 340px;
    max-height: 255px;
    margin-top: 3px;
    margin-left: 0;
    border: 1px solid #ccd2da;
    border-radius: 1px;*/
  /*reverted this as it is breaking calendar*/
  width: 280px;
  margin-top: 3px;
  margin-left: 0;
  border: 1px solid #ccd2da;
  border-radius: 1px;
}
.dropdown-search {
  padding-top: 0;
}
.dropdown-search input[type="text"] {
  border-radius: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.dropdown-search li a {
  padding: 5px 10px;
}
.dropdown-search li a input[type="checkbox"] {
  margin: 0;
}
.dropdown-search li a .icon-arrow-down-thick {
  font-size: 10px;
  color: #000;
  height: 10px;
  width: 10px;
  text-align: center;
  margin: 0 6px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dropdown-search li a .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.dropdown-search li ul {
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
.dropdown-search li ul li {
  float: left;
  width: 100%;
  padding: 0 0 0 26px;
}
.dropdown-search li ul li:hover {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.dropdown-search li ul li a {
  width: 100%;
  padding: 5px 0;
  color: #21252b;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
.dropdown-search li ul li a input[type="checkbox"] {
  margin: 0 6px 0 0;
}
.datepicker-dropdown {
  width: auto;
}
.dropdown-search-btn .searchBar {
  margin-bottom: 0;
}
.dropdown-search-btn .ddList {
  list-style: none;
  float: left;
  padding: 10px 0;
  max-height: 100px;
  overflow: auto;
}
.dropdown-search-btn .category_dropdown {
  margin-top: 0;
}
