.table thead {
  border: 1px solid #d2dee7;
  border-bottom: 2px solid #d2dee7;
}
.table thead tr th {
  border-width: 0;
  font-weight: normal;
}
.table tbody tr:nth-child(odd) td {
  background: #fff;
}
.table tbody tr td {
  background: #F5FAFD;
  padding: 20px;
}
.table-responsive {
  float: left;
  width: 100%;
}
.table-responsive .vistoTable {
  margin: 0;
  float: left;
  width: 100%;
  box-shadow: none;
}
.table-responsive .vistoTable .thead {
  float: left;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #939eae;
}
.table-responsive .vistoTable .thead .tr {
  float: left;
  width: 100%;
  background-color: #fff;
  border: 1px solid #bfc9d7;
}
.table-responsive .vistoTable .thead .tr .th {
  padding: 20px 15px 0;
  vertical-align: top;
  min-height: 60px;
  font-family: "Avenir-bold";
  color: #57606d;
}
.table-responsive .vistoTable .thead .tr .th span,
.table-responsive .vistoTable .thead .tr .th a {
  width: 100%;
  text-align: center;
  font-family: "Avenir-bold";
  color: #57606d;
}
.table-responsive .vistoTable .thead .tr .th input[type="checkbox"] {
  float: left;
}
.table-responsive .vistoTable .thead .tr .th .icon-arrow-down-thick {
  float: left;
  font-size: 10px;
  width: 10px;
  height: 10px;
  color: #000;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  margin: 5px 7px 28px 7px;
  cursor: pointer;
}
.table-responsive .vistoTable .thead .tr .th .icon-arrow-down-open {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.table-responsive .vistoTable .thead .tr .th:first-child {
  padding-left: 11px;
}
.table-responsive .vistoTable .thead .childRow {
  background: transparent;
  border-width: 0;
  display: none;
}
.table-responsive .vistoTable .thead .childRow .td {
  background-color: #f7f7f7;
  padding: 10px 15px;
  font-family: "Avenir-bold";
  color: #57606d;
}
.table-responsive .vistoTable .thead .childRow .td input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}
.table-responsive .vistoTable .thead .childRow .td:first-child {
  box-shadow: none;
  border-left: 1px solid rgba(191, 201, 215, 0.5);
  padding: 10px 10px 10px 48px;
}
.table-responsive .vistoTable .thead .childRow .td:last-child {
  border-right: 1px solid rgba(191, 201, 215, 0.5);
}
.table-responsive .vistoTable .thead.sticky {
  position: fixed;
  top: 0;
  width: 1200px;
  z-index: 999;
  padding: 0;
  left: initial;
}
.table-responsive .vistoTable .fixedParent {
  position: fixed;
  top: 104px;
  width: 1200px !important;
  z-index: 999;
}
.table-responsive .vistoTable .tbody {
  float: left;
  width: 100%;
  padding: 0;
}
.table-responsive .vistoTable .tbody .tr {
  float: left;
  width: 100%;
}
.table-responsive .vistoTable .tbody .tr .td {
  background: #fff;
  border-right: 1px solid rgba(191, 201, 215, 0.5);
  border-bottom: 1px solid rgba(191, 201, 215, 0.5);
  padding: 10px 15px 0;
  min-height: 65px;
}
.table-responsive .vistoTable .tbody .tr .td span,
.table-responsive .vistoTable .tbody .tr .td a {
  width: 100%;
  text-align: center;
}
.table-responsive .vistoTable .tbody .tr .td input[type="checkbox"] {
  float: left;
}
.table-responsive .vistoTable .tbody .tr .td a:hover {
  cursor: pointer;
}
.table-responsive .vistoTable .tbody .tr .td .icon-arrow-down-thick {
  float: left;
  font-size: 10px;
  width: 10px;
  height: 10px;
  color: #000;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  margin: 5px 7px 15px 7px;
  cursor: pointer;
}
.table-responsive .vistoTable .tbody .tr .td .icon-arrow-down-open {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.table-responsive .vistoTable .tbody .tr .td:first-child {
  border-left: 1px solid rgba(191, 201, 215, 0.5);
  padding-left: 10px;
}
.table-responsive .vistoTable .tbody .tr .td:first-child a {
  color: #21252b;
}
.table-responsive .vistoTable .tbody .tr .td:first-child a:hover {
  color: #0978C9;
}
.table-responsive .vistoTable .tbody .tr .td:first-child .incompleteCreative {
  float: left;
  padding: 0 0 5px 36px;
  width: 100%;
}
.table-responsive .vistoTable .tbody .tr .td:first-child .incompleteCreative .icon-statusdraft {
  float: left;
  font-size: 12px;
  width: 12px;
  height: 12px;
  margin: 1px 0 0 0;
  color: #999;
}
.table-responsive .vistoTable .tbody .tr .td:first-child .incompleteCreative span {
  float: left;
  text-align: left;
  padding: 0 0 0 8px;
  width: auto;
  font-size: 12px;
  color: rgba(153, 153, 153, 0.72);
}
.table-responsive .vistoTable .tbody .tr .td:first-child .icon-error {
  float: left;
  margin: 1px 10px 0 0;
  width: 12px;
  height: 12px;
  color: #f24444;
}
.table-responsive .vistoTable .tbody .tr .td:first-child .icon-warning {
  float: left;
  margin: 1px 10px 0 0;
  width: 12px;
  height: 12px;
  color: #f5c023;
}
.table-responsive .vistoTable .tbody .tr .parentWrap:hover .td {
  background: #E1EDF9;
}
.table-responsive .vistoTable .tbody .childRow .td {
  background-color: #f7f7f7 !important;
  min-height: 36px;
  padding: 7px 15px;
}
.table-responsive .vistoTable .tbody .childRow .td input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}
.table-responsive .vistoTable .tbody .childRow .td img {
  max-height: 40px;
  max-width: 70px;
}
.table-responsive .vistoTable .tbody .childRow .td .icon-warning {
  color: #f5c023;
}
.table-responsive .vistoTable .tbody .childRow .td .icon-warning.error {
  color: #f24444;
}
.table-responsive .vistoTable .tbody .childRow .td:first-child {
  padding: 0;
  box-shadow: none;
  padding: 7px 10px 7px 48px;
}
.table-responsive .vistoTable .tbody .parentWrap {
  float: left;
  width: 100%;
}
.table-responsive .vistoTable .thead.thin .tr .th {
  min-height: 50px;
  padding: 15px 15px 0;
}
.table-responsive .vistoTable .thead.thin .tr .th input[type="checkbox"] {
  margin-right: 5px;
}
.table-responsive .vistoTable .tbody.thin .tr .td {
  min-height: 34px;
  padding: 8px 0 0 15px;
}
.table-responsive .vistoTable .tbody.thin .tr .td input[type="checkbox"] {
  margin-right: 5px;
}
.table-responsive .yellowTable {
  background: #FEFBF0;
}
.table-responsive .yellowTable .thead .tr {
  border-left: 0;
  border-right: 0;
  background: #FEFBF0;
}
.table-responsive .yellowTable .thead .tr .th {
  min-height: 34px !important;
  padding: 7px 15px 0 !important;
}
.table-responsive .yellowTable .tbody {
  border-bottom: 1px solid rgba(191, 201, 215, 0.5);
  padding-bottom: 30px;
}
.table-responsive .yellowTable .tbody .tr .td {
  border-width: 0;
  background: #FEFBF0;
}
.table-responsive .yellowTable .tbody .tr .td:first-child {
  border-width: 0;
}
.table-responsive .arrowLookDown {
  -ms-transform: rotate(0deg) !important;
  /* IE 9 */
  -webkit-transform: rotate(0deg) !important;
  /* Chrome, Safari, Opera */
  transform: rotate(0deg) !important;
}
.table-responsive .shadowLeft {
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.table-responsive .shadowRight {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.17);
}
