// New Dashboard
.dashboard_2 {
  .row {
    margin: 30px 0 0 0;
    [class^="col-md-"], [class*=" col-md-"] {
      padding: 0 15px;
      .widgetWrap {
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width: 100%;
        float: left;
        min-height: 352px;
        .chartHeader {
          float: left;
          width: 100%;
          padding: 10px;
          h5 {
            margin-top: 0;
          }
          .widgetCountBig {
            float: left;
            clear: left;
            color: #57606d;
            font-family: "Avenir";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
          }
          .icon-arrow-down-thick {
            float: left;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            color: #F24444;
            width: 30px;
            height: 30px;
            margin: 0 15px 0 30px;
          }
          .widgetCountQuote {
            float: left;
            color: #F24444;
            font-family: "Avenir";
            font-size: 30px;
            line-height: 36px;
          }
          .icon-arrow-down-thick.positive {
            color: #4CC94A;
            /* Safari */
            -webkit-transform: rotate(-180deg);
            /* Firefox */
            -moz-transform: rotate(-180deg);
            /* IE */
            -ms-transform: rotate(-180deg);
            /* Opera */
            -o-transform: rotate(-180deg);
            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
          }
          .widgetCountQuote.positive {
            color: #4CC94A;
          }
        }
        .chartBody {
          float: left;
          width: 100%;
          padding: 10px;
          border-top: 1px solid #bfc9d7;
        }
      }
      .miniChart {
        min-height: 80px;
      }
    }
    [class^="col-md-"]:first-child, [class*=" col-md-"]:first-child {
      padding-left: 0;
    }
    [class^="col-md-"]:last-child, [class*=" col-md-"]:last-child {
      padding-right: 0;
    }
  }
}