// Reponsive Code

//WideScreen View
@media (min-width: 1600px) {
  .bodyWrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
}

//Desktop Version
@media (max-width: 1260px) {
  .bodyWrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    .row {
    }
  }
}

//Tablet Version
@media (max-width: 1024px) {
  .bodyWrap {
    width: 100%;
    padding: 0 30px;
    .row {
      margin: 0;
      float: left;
      width: 100%;
      [class^="col-md-"], [class*=" col-md-"] {
        margin: 30px 0 0 0;
      }
      [class^="col-md-"]:nth-child(3), [class*=" col-md-"]:nth-child(3) {
        padding: 0 15px 0 0;
      }
      .col-md-4 {
        width: 50%;
      }
      .col-md-8 {
        width: 100%;
      }
    }
  }
}

//Mobile Version
@media (max-width: 768px) {
  .bodyWrap {
    width: 100%;
    padding: 0 30px;
    .row {
      [class^="col-md-"], [class*=" col-md-"] {
        margin: 30px 0 0 0;
        padding: 0;
        float: left;
        width: 100%;
      }
    }
  }
}