Please follow the proper format for expressions:
<ul>
  <li>
    Enter in values with a repeated key= (ex.key=val1, key=val2) or comma separated values after a key (ex.key=val1,val2)
  <li>
    Use "and" to require multiple criteria to be true (ex.key=val1 and key=val2)
  </li>
  <li>
    Use "=!" to denote any exclusions (ex.key=!games)
  </li>
  <li>
    Use "or" to require at least one of the criteria to be true(ex.key=val1 or contx=!games)
  </li>
</ul>