Please follow the proper format for expressions:
<ul>
  <li>
    Enter in values with a repeated key= (ex.key=val1, key=val2) or comma separated values after a key (ex.key=val1,val2)
  <li>
    Use "and" to require multiple criteria to be true (ex.key=val1 and key=val2)
  </li>
  <li>
    Use "!=" to denote any exclusions (ex.key!=games)
  </li>
  <li>
    Use "or" to require at least one of the criteria to be true(ex.key=val1 or contx!=games)
  </li>
<!--  <li>
    Examples
    <ul>
      <li>
        btg=ac.1,ac.11,ac.2
      </li>
      <li>
        btg=ac.1 and btg=ac.2
      </li>
      <li>
        btg=ac.1,ac.11 and contx!=auto
      </li>
      <li>
        btg=an.ln,btg=ex.ahs,btg=dx.cn and contx=games,contx=movies
      </li>
      <li>
        btg=an.ln,ex.ahs,dx.cn and contx=games,movies
      </li>
      <li>
        btg=an.ln,ex.ahs,dx.cn and contx!=games,movies
      </li>
      <li>
        btg=an.ln,ex.ahs,dx.cn and contx!=games,contx!=movies
      </li>
      <li>
        btg=an.ln,ex.ahs,dx.cn,contx!=games,contx!=movies
      </li>
      <li>
        btg=an.ln,ex.ahs,dx.cn or contx=games,movies
      </li>
      <li>
        btg=an.ln,ex.ahs and btg!=dx.cn or contx=games,movies
      </li>
    </ul>
  </li> -->
</ul>