<h4>Targeting</h4>

<div class="account-contact-icon" title="Key Value Targeting"></div>

<div class="age-targeting">
  <p>
    <% var kv  = []; for (var i = 0; i < selected_key_values.length; i++) { kv.push(selected_key_values[i]['title']); } %>
    <%= kv.join(', ') %>
  </p>
</div>

<div class="dma-targeting-icon" title="DMAs"></div>

<div class="dma-targeting">
  <p>
    <% if(selected_dmas.length > 0) { %>
    <b>DMAs:</b>
    <% } %>
    <% var dmas = []; for (var i = 0; i < selected_dmas.length; i++) { dmas.push(selected_dmas[i].title); } %>
    <%= dmas.join(', ') %>
  </p>
</div>

<div class="zip-codes-targeting">
  
  <% if(selected_zip_codes.length > 0) { %>
    <div class="zip-codes-icon" title="Zip codes"></div>
    <p>
    <% var zips = [], errors_in_zips = false; for (var i = 0; i < selected_zip_codes.length; i++) {
      if(selected_zip_codes[i].match(/^\s*$/) == null) {
        var is_current_zip_code_valid = selected_zip_codes[i].match(/^\s*(\d{5})\s*$/);
        if(!is_current_zip_code_valid) {
          errors_in_zips = true;
        }
      }
      var html_for_zip = '<span ' + (is_current_zip_code_valid ? '' : 'class="invalid-zip"') + '>' + selected_zip_codes[i] + '</span>';
      zips.push( html_for_zip );
    } %>

    <b>Zip Codes:</b><%= zips.join(', ') %>

    <% if(errors_in_zips) { %>
    <div style="clear:both"></div>
    <div class="errors-container">Underlined zip codes are not valid. Please edit them.</div>
    <% } %>
    </p>
  <% } %>
</div>
