<h4>Targeting</h4>

<img src="/assets/account_contact_icon.png" title="Key Value Targeting" alt="Key Value Targeting">

<div class="age-targeting">
  <p>
    <% var kv  = []; for (var i = 0; i < selected_key_values.length; i++) { kv.push(selected_key_values[i]); } %>
    <%= kv.join(', ') %>
  </p>
</div>

<img src="/assets/dma_targeting_icon.png" title="DMAs" alt="DMAs">

<div class="dma-targeting">
  <p>
    <% if(selected_dmas.length > 0) { %>
    <b>DMAs:</b>
    <% } %>
    <% var dmas = []; for (var i = 0; i < selected_dmas.length; i++) { dmas.push(selected_dmas[i].title); } %>
    <%= dmas.join(', ') %>
  </p>
</div>

<div class="zip-codes-targeting">
  <p>
  <% if(selected_zip_codes.length > 0) { %>
    <img src="/assets/zip_codes_icon.png" title="Zip codes" alt="Zip Codes">

    <% var zips = [], errors_in_zips = false; for (var i = 0; i < selected_zip_codes.length; i++) {
      var is_current_zip_code_valid = selected_zip_codes[i].match(/^\s*(\d{5})\s*$/);
      if(!is_current_zip_code_valid) {
        errors_in_zips = true;
      }
      var html_for_zip = '<span ' + (is_current_zip_code_valid ? '' : 'class="invalid-zip"') + '>' + selected_zip_codes[i] + '</span>';
      zips.push( html_for_zip );
    } %>

    <b>Zip Codes:</b><%= zips.join(', ') %>

    <% if(errors_in_zips) { %>
    <div style="clear:both"></div>
    <div class="errors-container">Highlighted zip codes are not valid. Please edit them.</div>
    <% } %>
  <% } %>
  </p>
</div>
