<div class="activities-container">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="activities-region"></div>
    </div>
    <div class="pure-u-1-2">
      <div class="tasks-region"></div>
      <div id="followersRegion">
        <!-- TODO: Remove this block once it is implemented through Marionette -->
        <div class="pure-g">
          <div class="pure-u-1-2">
            <h2 class="heading">
              <i class="follow-icon"></i> Followers
            </h2>
          </div>
          <div class="pure-u-1-2 text-right">
            <button id="btnUnfollowTask" class="rui-btn">
              <i class="logout-icon"></i> Unfollow
            </button>
          </div>
        </div>
        <div class="followers-list-container">
          <ul class="followers-list">
            <!-- TODO: Remove LI elements once implemented through Marionette -->
            <li>Alex Piechota</li>
            <li>Sam Brown</li>
          </ul>
          <button class="rui-btn no-highlight" id="btnAddFollower">
            <i class="plus-icon"></i> Add Follower
          </button>
        </div>
      </div>
    </div>
  </div>
</div>