<div class="load-more">
  <label id="loadMoreTaskCommentsBtn">Load More...</label>
  <label id="loadLessTaskCommentsBtn" style="display: none;">Load Less...</label>
  <label id="loadDefaultTaskCommentsBtn" style="display: none;">Back to default view...</label>
</div>
<div class="task-comments-container"></div>