<div class="task-details-table">
    <div class="task-detail-container"></div>

    <!-- Task comments container -->
    <div class="task-comments-container"></div>
    <div class="task-comment-input-control pure-g"></div>
</div>