<div class="task-comments-container"></div>
<div class="load-more">
  <label id="loadMoreTaskCommentsBtn">Load More...</label>
  <label id="loadLessTaskCommentsBtn" style="display: none;">Load Less...</label>
  <label id="loadDefaultTaskCommentsBtn" style="display: none;">Back to default view...</label>
</div>
<div class="task-comment-input-control pure-g">
  <div class="username pure-u-1-5">
    <%= window.current_user_name%>
  </div>
  <div class="pure-u-1-2">
    <div class="task-comment-input"></div>
    <textarea id="task_comment_input" placeholder="Note" rows="2" cols="26"></textarea>
  </div>
  <div class="task-comment-controls pure-u-1-4">
    <button class="rui-btn activity_log_inactive_attach"
                title="Add Attachment"
                id="btnSaveTaskAttachment"
                type="file"
                name="task_comment_attachment"
                data-url="/activity_attachment.json"></button>
    <button id="btnSaveTaskComment" class="rui-btn activity-log-comment" title="Add Comment"></button>
  </div>
</div>