<section class="task-list"></section>
<div class="load-more">
  <label id="loadMoreTasksBtn">Load More (2)...</label>
  <label id="loadLessTasksBtn" style="display: none;">Load Less...</label>
  <label id="loadDefaultTasksBtn" style="display: none;">Back to default view...</label>
</div>