<div class="pure-g">
  <div class="pure-u-1">
    <!--
      <button id="btnExportTasksToCalendar" class="rui-btn semi-transparent float-right">
        <i class="calendar-icon"></i> Export to Calendar
      </button>
    -->
    <h2 class="heading">
      <i class="task_done-icon"></i> Tasks
    </h2>
  </div>
</div>
<div class="tasks-list"></div>
<div class="load-more">
  <label id="loadMoreBtn">Load More...</label>
</div>
<div id="tasksRegionOverlay"></div>
