<div class="task-details-table">
    <div class="task-detail-container"></div>

    <!-- Task comments container -->
    <div class="task-comments-container"></div>
    <div class="pure-g" align="center">
        <div class="pure-u-1-5">
            <label id="loadMoreCommentsBtn">Load More...</label>
        </div>
    </div>
    <div class="task-comment-input-control pure-g"></div>
</div>