.empty {
  margin-top: 20px;
  color: #ddd;
  text-align: center;
  font-size: 20px;
}

.tasks-region{
  .heading {
    font-size: 20px;
    color: #005C97;
    font-family: 'Armata',sans-serif;

    &:before {
      content: url(asset-path('activity_log_active_task_checked.png'));
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }
  }

  .task-selected {
    padding: 5px;
    border: 1px dashed #989898;
    margin-bottom: 5px;
  }

  .task-comment {
    background: url(asset-path('activity_log_active_comment_icon.png')) 0px 0px no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
  }

  .task-type {
    content: url(asset-path('activity_log_active_task_checked.png'));
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
  }

  .task-time {
    color:#989898;
  }

  .task-container {
    margin-top: 5px;
  }
}

.activities-region {
  margin:20px auto;
  width:90%;
  font-size:13px;
  color:black;
  font-weight:normal;
  font-size:normal;

  .activities-header {
    float: left;
    width: 95%;
    padding: 5px;
    //border: 1px dashed #08C;
    margin-bottom: 5px;

    .heading {
      font-size: 20px;
      color: #005C97;
      font-family: 'Armata', sans-serif;
    }

    .note-container {
      clear: both;
      width: 100%;
      float: left;
      margin-top: 5px;
    }

    .save-comment {
      background-color: #ffffff;
      float: left;
      padding: 2px;
      &:hover{
        background-color: lighten($text_color, 10%);
        cursor: pointer;
      }
    }

    .save-alert-btn-top {
      background: url(asset-path('activity_log_inactive_alert_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .save-comment-btn-top {
      background: url(asset-path('activity_log_active_comment_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .save-attachment-btn-top {
      background: url(asset-path('activity_log_inactive_attach_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .save-task-btn-top {
      background: url(asset-path('activity_log_active_task_checked.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .save-duration-btn-top {
      background: url(asset-path('task_duration.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .save-user-btn-top {
      background: url(asset-path('user_active_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
    }

    .activity-input-control{

      .username{

      }

      .activities{
        width:60%
      }

      .action-controls{

      }

      textarea {
        border:none;
        font-size:12px;
        line-height:14px;
        padding:0 2px;
        box-shadow:none;
        border-bottom: 1px solid #005C97;
        border-left: 1px solid #005C97;
        border-right: 1px solid #005C97;
        border-radius:0;
        resize: false;
        min-width:100%;
      }

      .save-comment {
        background-color: #ffffff;
        float: left;
        padding: 2px;
        //margin-left:2px;
        &:hover{
          background-color: lighten($text_color, 10%);
          cursor: pointer;
        }
      }

      .save-attachment-btn {
        background: url(asset-path('activity_log_inactive_attach_icon.png')) 0px 0px no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .save-alert-btn {
        background: url(asset-path('activity_log_inactive_alert_icon.png')) 0px 0px no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .save-task-btn {
        background: url(asset-path('activity_log_active_task_checked.png')) 0px 0px no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .save-comment-btn {
        background: url(asset-path('activity_log_active_comment_icon.png')) 0px 0px no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .save-comment-btn.spinner {
        background: url(asset-path('select2-spinner.gif')) $text_color 0px 0px no-repeat
      }

      .task-select{
        width: 120px;
      }
    }

  }

  .activities-content {

    .activities-list {
      width: 100%;

      .load-more{
        text-align: center;
      }

      .task_form_region{
        height:40px;
      }
      .activity-user-comment{
        font-size : 14px;

        .activity-user_comment {
          &:before {
            content: url(asset-path('activity_log_active_comment_icon.png'));
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 10px;
          }
        }

        .activity-alert {
          &:before {
            content: url(asset-path('activity_log_inactive_alert_icon.png'));
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 10px;
          }
        }
        .activity-task_comment {
          &:before {
            content: url(asset-path('activity_log_active_task_checked.png'));
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 10px;
          }
        }
      }
      .activity-system-comment{
        font-size : 14px;
        color:#666
      }
    }


  }

  .task-details-table {
    .task-selected {
      padding: 5px;
      border: 1px dashed #989898;
      margin-bottom: 5px;
    }

    .task-time, .follow-task, .close-task {
      color:#989898;
    }

    select {
      width: 150px;
    }

    .follow-task {
      &:before {
        content: url(asset-path('follow_task.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-name {
      &:before {
        content: url(asset-path('task_open.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .assigned-to {
      &:before {
        content: url(asset-path('task_assigned_to.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .close-task {
      &:before {
        content: url(asset-path('close_task.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-duration {
      &:before {
        content: url(asset-path('task_duration.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-created-by {
      &:before {
        content: url(asset-path('task_created_by.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-attachment {
      &:before {
        content: url(asset-path('task_attachment.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-comment {
      &:before {
        content: url(asset-path('activity_log_active_comment_icon.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;
      }
    }

    .task-detail-view-close {
      content: url(asset-path('task_detail_view_close.png'));
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    .task-comment-container {
      margin-top: 5px;
    }
  }

  .task-comment-input-control{

    margin-top: 10px;

    textarea {
      border:none;
      font-size:12px;
      line-height:12px;
      padding:0 2px;
      box-shadow:none;
      border-bottom: 1px solid #005C97;
      border-left: 1px solid #005C97;
      border-right: 1px solid #005C97;
      border-radius:0;
      min-width:85%;
    }

    .task-comment-input {
      &:before {
        content: url(asset-path('activity_log_active_comment_icon.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
      }
    }

    .save-comment {
      background-color: #ffffff;
      float: left;
      padding: 2px;
      margin-left:8px;
      &:hover{
        background-color: lighten($text_color, 10%);
        cursor: pointer;
      }
    }

    .save-task-attachment-btn {
      background: url(asset-path('activity_log_inactive_attach_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
    }

    .save-task-comment-btn {
      background: url(asset-path('activity_log_active_comment_icon.png')) 0px 0px no-repeat;
      width: 16px;
      height: 16px;
    }

    .save-task-comment-btn.spinner {
      background: url(asset-path('select2-spinner.gif')) $text_color 0px 0px no-repeat
    }
  }
}