// === GENERAL STYLES [BEGIN] ===

.empty {
  margin-top: 20px;
  color: #ddd;
  text-align: center;
  font-size: 20px;
}

.heading {
  font-size: 20px;
  line-height: 20px;
  color: $rui-heading-text-color;
  font-family: 'Armata', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

textarea {
  border: none;
  font-size: 12px;
  line-height: 14px;
  padding: 0 2px;
  box-shadow: none;
  border-bottom: 1px solid $rui-input-border-color;
  border-left: 1px solid $rui-input-border-color;
  border-right: 1px solid $rui-input-border-color;
  border-radius: 0;
  resize: vertical;
  min-width: 98%;
}

// This is general class for both Activities log and Task Comment List
.load-more {
  text-align: center;
  margin-top: 10px;
}

.rui-btn,
.rui-btn:hover {
  &.spinner {
    background: url(asset-path('select2-spinner.gif')) transparent 0px 0px no-repeat;
  }
}

.header-controls {
  text-align: right;

  .rui-btn:not(.active) {
    @include opaque_button;
  }
}

.semi-transparent {
  @include opaque_button;
}

button.rui-btn {
  &#btnRemoveAttachment {
    //    display: none; // TODO: This should be enabled once implemented JS logic for show/hide the button
    margin-left: 5px;
    font-size: 11px;
    .remove-btn {
      opacity: 0;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }


    &:hover {
      background-color: #fff;
      &#btnRemoveAttachment {
        .remove-btn {
          @include transition(opacity 1s);
          opacity: 1;
        }
      }
    }
  }
}

// === GENERAL STYLES [BEGIN] ===


// === ACTIVITIES SECTION [BEGIN] ===

.activities-container {
  margin: 20px 70px 20px 40px;
  font-size: 13px;
  color: #000;
  font-weight: normal;
}

.activities-region {
  .activities-content {
    .activities-list {
      height: auto;
      max-height: 200px;
      overflow-y: auto;

      .username {
        padding-right: 10px;
        text-align: right;
        color: $rui-heading-text-color;
      }

      .system-comment {
        font-size: 12px;
        color: $rui-gray-color;
      }

      .activity-log-subrow {
        font-size: 10px;
        color: $rui-gray-color;
        .task-attachment {
          display: block;
        }
        span {
          display: inline-block;
          margin-right: 10px;
        }
      }

      .date {
        text-align: right;
        font-size: 11px;
        color: $rui-gray-color;
      }
    }
  }
}

.activity-input-control {
  margin-top: 20px;

  .username {
    text-align: right;
  }
}

.activity-comment-input-container {
  margin-left: 10px;
  margin-right: 130px;
}

textarea#activity_input {
  resize: vertical;
}

.action-controls {
  float: right;
  box-sizing: border-box;
  width: 120px;
  min-width: 120px;

  .attachment-uploader {
    margin: 5px;
    text-align: right;
    position: relative;

    a {
      margin-right: 5px;
    }
  }

  .attachment-file-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

}

#btnSaveComment,
#btnSaveTaskComment {
  background-color: $btn-primary-bg;
  &:hover {
    background-color: $btn-bg-hover;
  }
}

#task_form {
  .controls-container {
    div[class *= "-icon"]{
      vertical-align: middle;
      margin-left: 10px;
    }

    select {
      width: 120px;
    }

    #due-date {
      width: 90px;
      border: none;
    }
  }

  label.main {
    color: $label-text;
    vertical-align: top;
    margin-right: 5px;
  }
}

#pixel-request-subform {
  margin-top: 10px;

  label {
    // custom margin for radio button wrapper
    &.radio {
      margin-right: 10px;
    }
  }
}

// === ACTIVITIES SECTION [END] ===


// === TASKS SECTION [BEGIN] ===

.tasks-region {
  margin-left: 30px;
  .task-container {
    margin-top: 5px;
    // we have to compensate padding introduced by selected task
    &.task-selected {
      margin: 0 -5px;
    }
  }
}

.task-selected {
  padding: 5px;
  border: 1px dashed $rui-gray-color;
  margin-bottom: 5px;
}

.task-comment {
  position: relative;
  .icon-wrapper {
    position: relative;
  }
  .task-badge {
    @include border-radius(50%);
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: -5px;
    right: -5px;
    background-color: #fff;
    color: $text_color;
    padding: 2px 0 1px;
    text-align: center;
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 10px;
  }
}

.task-row {
  cursor: pointer;
  .task-name {
    padding-left: 5px;
  }
}

.task-time {
  text-align: right;
  font-size: 11px;
  color: $rui-gray-color;
}

.task-details-table {
  // TODO: This container should be positioned relatively to the clicked row
  position: relative;
  width: 100%;
  box-sizing: border-box;
//  width: 48%;
//  left: -48%;
//  top: -20px;

  background-color: #fff;

  // Separate rows made of pure-g (grid) elements
  .pure-g:first-of-type {
    margin: 10px auto;
  }

  // this will add dashed border around
  @extend .task-selected;

  .follow-task,
  .close-task {
    color: $rui-gray-color;
  }

  select {
    width: 120px;
  }

  .task-detail-view-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .task-comment-container {
    margin-top: 5px;
  }
}

.task-comment-input-control {
  margin-top: 10px;
  textarea {
    min-width: 98%;
  }
}

// === TASKS SECTIONS [END] ===

// === FOLLOWERS REGION [BEGIN] ===
#followersRegion {
  margin: 40px 0 0 30px;
}

.followers-list-container {
  margin-top: 10px;
}

ul.followers-list {
  margin: 2px 0 0;
  padding: 0;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
  li {
    display: inline-block;
    &:not(:last-child) {
      &:after {
        display: inline-block;
        content: ", ";
      }
    }
  }
}
// === FOLLOWERS REGION [END] ===