.empty {
  margin-top: 20px;
  color: #ddd;
  text-align: center;
  font-size: 20px;
}

.heading {
  font-size: 20px;
  line-height: 20px;
  color: $rui-heading-text-color;
  font-family: 'Armata', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

textarea {
  border: none;
  font-size: 12px;
  line-height: 14px;
  padding: 0 2px;
  box-shadow: none;
  border-bottom: 1px solid $rui-input-border-color;
  border-left: 1px solid $rui-input-border-color;
  border-right: 1px solid $rui-input-border-color;
  border-radius: 0;
  resize: vertical;
  min-width: 100%;
}

.activities-container {
  margin: 20px auto;
}

// Activities Region styling
.activities-region {
  margin: 0 auto;
  width: 90%;
  font-size: 13px;
  color: #000;
  font-weight: normal;

  .activities-header {
    .note-container {
      margin-top: 5px;
    }

    .activity-input-control {

      .activities {
        width: 60%
      }
    }

  }

  .activities-content {

    .load-more {
      text-align: center;
    }

    .activities-list {
      font-size: 14px;
      .activity-system-comment {
        color: #666
      }
    }
  }

  .task-details-table {
    .task-selected {
      padding: 5px;
      border: 1px dashed $rui-gray-color;
      margin-bottom: 5px;
    }

    .follow-task, .close-task {
      color: $rui-gray-color;
    }

    select {
      width: 120px;
    }

    // TODO: Get rid of this - replace with <div "*-icon"> elements
    .follow-task {
      &:before {
        content: url(asset-path('follow_task.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-name {
      &:before {
        content: url(asset-path('task_open.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .assigned-to {
      &:before {
        content: url(asset-path('task_assigned_to.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .close-task {
      &:before {
        content: url(asset-path('close_task.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-duration {
      &:before {
        content: url(asset-path('task_duration.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-created-by {
      &:before {
        content: url(asset-path('task_created_by.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-attachment {
      &:before {
        content: url(asset-path('task_attachment.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
      }
    }

    .task-comment {
      &:before {
        content: url(asset-path('activity_log_active_comment_icon.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;
      }
    }

    .task-detail-view-close {
      content: url(asset-path('task_detail_view_close.png'));
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    .task-comment-container {
      margin-top: 5px;
    }
  }

  .task-comment-input-control {

    margin-top: 10px;

    textarea {
      min-width: 85%;
    }

    .task-comment-input {
      &:before {
        content: url(asset-path('activity_log_active_comment_icon.png'));
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
      }
    }
  }
}
// [ END ] ------------------------------


// Tasks Region styling
.tasks-region {

  .task-selected {
    padding: 5px;
    border: 1px dashed $rui-gray-color;
    margin-bottom: 5px;
  }

  .task-comment {
    background: url(asset-path('activity_log_active_comment_icon.png')) 0px 0px no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
  }

  .task-type {
    content: url(asset-path('activity_log_active_task_checked.png'));
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
  }

  .task-container {
    margin-top: 5px;
  }
}
// [ END ] ------------------------------


//--------------------------------
// UI Styles by RoDush [BEGIN]
//--------------------------------

.activities-list {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}

.activity-system-comment,
.activity-user-comment {
  div:first-child {
    padding-right: 10px;
    text-align: right;
  }
  .date {
    text-align: right;
    font-size: 11px;
    color: $rui-gray-color;
  }
}

.activities-table {
  margin-top: 30px;
}

.activity-input-control {
  margin-top: 20px;

  .username {
    padding-right: 10px;
    text-align: right;
  }

  #activity_input {
    resize: vertical;
  }

  .action-controls {
    text-align: right;
  }
}

#task_form {
  .controls-container {
    margin-left: 175px;
    div[class *= "-icon"]{
      vertical-align: middle;
      margin-left: 10px;
    }

    select {
      width: 120px;
    }

    #due-date {
      border: none;
    }
  }

  label.main {
    color: $label-text;
    vertical-align: top;
    margin-right: 5px;
  }
}

#pixel-request-subform {
  margin-top: 10px;

  label {
    // custom margin for radio button wrapper
    &.radio {
      margin-right: 10px;
    }
  }
}

// === TASKS SECTIONS [BEGIN] ===
.task-comment {
  position: relative;

  .task-badge {
    @include border-radius(50%);
    box-sizing: border-box;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #fff;
    color: $text_color;
    padding: 2px 0;
    text-align: center;
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 10px;
  }
}

.task-time {
  text-align: right;
  font-size: 11px;
  color: $rui-gray-color;
}

.task-details-table {
  position: relative;
}

.rui-btn,
.rui-btn:hover {
  &.spinner {
    background: url(asset-path('select2-spinner.gif')) transparent 0px 0px no-repeat;
  }
}
// === TASKS SECTIONS [END] ===

.header-controls {
  text-align: right;
}