/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require grids-min
 *= require jquery-ui-1.10.3.custom.min
 *= require daterangepicker
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "twitter/bootstrap-no-sprites";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);
@import "variables.css.scss";
@import "bootstrap_override.css.scss";
@import "orders.css.scss";
@import "lineitem.css.scss";

body {
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.daterangepicker td.in-range {
  background: none repeat scroll 0 0 #A7E3FF;
}

.user-info {
  text-align: right;
  font-size: .90em;
  border-right: 1px solid #e8e8e8;
  padding-right: 10px;
}

.breadcrumbs {
  padding: 10px;
  background-color: #E3F6FC;
  border-bottom: 1px solid #C8DEE6;
}

.light-text {
  color: #ddd;
}

.center {
  text-align: center;
}

.form-error {
  color: #B94A48
}

.right-align {
  text-align: right;
}

.shortcut-help {
  td {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 15px;
  }

  .key {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    text-align: center;
  }
}

.top-floating-error {
  position: absolute;
  top: 43px;
  //right: 0;
  z-index: 999999;

  .alert, .alert-error {
    background-color: #DA0808;
    border-color: #DA0808;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 4px #61C5E6;
    color: #FFFFFF;
    text-shadow: 0 0 0 #DA0808;
  }
}
