/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require grids-min
 *= require tables-min
 *= require jquery-ui-1.10.3.custom.min
 *= require dragtable-default
 *= require daterangepicker
 *= require datepicker
 *= require chosen.min
 *= require bootstrap-editable
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-select.min
 *= require typeahead
 *= require selectize.bootstrap2
 *= require_self
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "twitter/bootstrap-no-sprites";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css);
@import "compass/css3/hyphenation";
@import "semantic-dropdown.css.scss";
@import "variables.css.scss";
@import "_mixins.css.scss";
@import "bootstrap_override.css.scss";
@import "orders.css.scss";
@import "lineitem.css.scss";
@import "nielsen_ocr.css.scss";
@import "reports/report.css.scss";
@import "admin/admin.css.scss";
@import "io_import.css.scss";
@import "activities_tasks.css.scss";
@import "team.css.scss";
@import "metrics.css.scss";

html, body, form, fieldset, table, tr, td, input, button, select, textarea, optgroup, option {
  font-family: 'Armata', Arial, sans-serif;
}

body {
  // Default font-size for the whole application
  font-size: $default_font_size;
  input, button, label, textarea {
    font-size: $default_font_size !important;
  }
  .pure-g:not(".heading") {
    [class^=pure-u-] {
      font-size: $default_font_size;
    }
  }
}

.daterangepicker td.in-range {
  background: none repeat scroll 0 0 #A7E3FF;
}

.user-info {
  text-align: right;
  font-size: .90em;
  border-right: 1px solid #e8e8e8;
  padding-right: 10px;
}

.breadcrumbs {
  padding: 10px;
  background-color: #E3F6FC;
  border-bottom: 1px solid #C8DEE6;
}

.light-text {
  color: #ddd;
}

.center {
  text-align: center;
}

.form-error {
  color: #B94A48
}

.right-align {
  text-align: right;
}

.shortcut-help {
  td {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 15px;
  }

  .key {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    text-align: center;
  }
}

.top-floating-error {
  position: absolute;
  top: 43px;
  //right: 0;
  z-index: 999999;

  .alert, .alert-error {
    background-color: #DA0808;
    border-color: #DA0808;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 4px #61C5E6;
    color: #FFFFFF;
    text-shadow: 0 0 0 #DA0808;
  }
}

.table-container {
  min-width: 1024px;
  padding: 10px;

  .table {
    border: 1px solid #eee;
    thead {
      background-color: #f9f9f9;
    }
  }

  .table > tbody tr {
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  .table > tbody tr.selected {
    background-color: $selected-row-bg-color;
    color: $selected-row-fg-color;

    &:hover {
      background-color: $selected-row-bg-color;
    }
  }

  .table th, .table td {
    border: 1px solid #EEEEEE;
  }
}

.login-form {
  @include bordered-section;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 470px;
}


@each $icon in $icon_names {
  .#{$icon}-icon {
    @include sized-sprite($images, $icon);
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }
}

@each $btn in $btn_names {
  .#{$btn} {
    @include sized-sprite($images, $btn);
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
  }
}

button.rui-btn {
  vertical-align: middle;
  margin: 0;
  border: 0 none;
  background-color: transparent;
  padding: 2px 5px 3px;
  box-sizing: border-box;

  // reset margins of icons put inside button
  [class*="-icon"] {
    margin: 0;
  }
}

.text-right {
  text-align: right;
}

label.secondary {
  color: $rui-gray-color;
  padding-right: 10px;
}

.rui-btn-blue {
  background-color: $btn-primary-bg !important;
  color: #fff !important;
}

.rui-btn-green {
  background-color: $btn-success-bg !important;
  color: #fff !important;
}
