#campaignCreate{
  float: left;
  width: 100%;
  .firstWrapper {
    float: left;
    width: 100%;
    background: #fff;
    position: relative;
    .masterContainer{
      width: 1200px;
      margin: 0 auto;
      position: relative;
      padding: 0 30px;
      .spacingInput {
        height: 10px;
      }
      .page_header_container {
        margin: 30px 0 0 0;
        width: 23%;
        float: left;
        .campaign_name {
          color: #565656;
          font-family: "Avenir-bold";
          font-size: 17px;
          display: inline-block;
          float: left;
          margin-bottom: 5px;
        }
        .stepCompLabel {
          p {
            margin: 15px 0 0 0;
            float: left;
          }
          .statusLabel {
            float: left;
            width: 100%;
            clear: left;
            margin: 3px 0;
            .errorTxt {
              color: #e83b05;
            }
            .glyphicon {
              width: 16px;
              text-align: left;
              padding: 0;
            }
            .col-md-5 {
              font-size: 11px;
              color: #939ead;
              padding-right: 5px ;
            }
            .col-md-12 {
              padding-left: 16px;
              text-align: left;
            }
          }
          .statusLabel.ng-scope span:last-child,
          .statusLabel.disabled span {
            color: #939ead;
            padding-left: 3px;
          }
          li {
            width: 100%;
            margin-bottom: 2px;
            margin-top: 20px;
            float: left;
            a {
              font-size: 14px;
              width: 100%;
              float: left;  
              color: #bbbbbb;
              text-decoration: none;
              padding: 4px ;
              border-width: 0;
            }
          }
          li:first-child {
            margin-top: 0;
          }
          span {
            font-size: 12px;
            //float: left;
          }
          span:first-child {
            clear: left;
            text-align: right;
          }
          .active {
            font-family: "Avenir-bold";
            color: #565656;
            a {
              color: #000;
            }
            span {
              font-family: "Avenir";
            }
          }
          .glyphicon {
            padding: 0 5px 0 0;
            text-align: center;
            width: 20px;
          }
        }
      }
      .create_btn_holder {
        padding: 4px 10px 0 50px;
        .submit_btn {
          border: solid 1px #359eea;
          background: #359eea;
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
          width: 130px;
          padding: 10px 0;
          border-radius: 5px;
          display: block;
          line-height: 12px;
          text-align: center;
          text-decoration: none;
          float: left;
        }
        #sortDDL {
          width: 10%;
        }
        .viewOne, .viewTwo {
          border: 1px solid #1467A3;
          background: #fff;
          border-radius: 5px;
          padding: 6px 5px;
        }
        .viewTwo {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .viewOne {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
          margin-left: 15px;
        }
      }
      .settingWrap{
        border-left: 1px dashed #DBDBDB;
        padding: 30px 30px 30px 25px;
        width: 77%;
        float: left;
        .isCollapsed {
          .miniLabels {
            padding: 5px 0px !important;
          }
        }
      }
      .collapseHeader {
        float: left;
        width: 100%;
        padding: 0 0 0 5px;
        color: #0F66E4;
        font-size: 17px;
        button {
          margin: 5px 0;
          float: left;
          padding: 0px 5px;
        }
        span {
          margin: 0 0 8px 0;
          float: left;
          line-height: 100%;
          color: #000;
        }
        a {
          float: left;
          clear: left;
        }
        b {
          font-family: "Avenir-bold";
        }
      }
      .isCollapsed, .isAdCollapsed {
        float: left;
        width: 100%;
        background: #fff;
        padding: 0;
        .paddingRightNone {
          padding: 0px !important;
        }
        .greyTxt {
          color: rgb(179, 179, 179) !important;
          padding: 7px 0 0 2px !important;
          text-align: left;
          font-weight: lighter;
          font-size: 13px;
        }
        .labelQuestTxt {
          color: #000;
          font-size: 15px;
          text-align: left;
          margin-top: 20px;
          padding: 0;
        }
        .currency {
          position: absolute;
          z-index: 10;
          top: 36px;
          left: 15px;
        }
        .goalBtn {
          width: 125px;
          text-align: left;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        .accountBtn {
          width: 135px;
          text-align: left;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        #inputBudget {
          text-indent: 16px;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
        .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
        .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
        .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
        .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
        .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
        .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
          padding: 0 5px;
        }
        .form-group {
          margin: 0;
        }
        .startTime {
          color: #838383;
          width: 100%;
          text-align: left;
          padding-top: 6px;
          display: block;
        }
        .startTime:last-child {
          padding-top: 19px
        }
        .date {
          .dateWrapper {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            padding: 0;
            input {
              background: transparent;
              border-radius: 3px !important;
              text-align: left;
              text-indent: 2px;
              font-size: 12px;
            }
            #endDateInput {
              background: rgba(0, 0, 0, 0.07);
            }
          }
          .input-group-addon {
            margin: 12px 0 0 0;
            background-color: transparent;
            border-width: 0;
            width: 100%;
            padding: 0;
            .glyphicon:last-child {
              margin: 20px 9px 0 0;
            }
            .calenderIcon {
              float: left;
              border-left: 1px solid #c3c3c3;
              margin: 17px 0 0 105px;
              img {
                float: left;
                margin: 10px 9px;
              }
            }
          }
        }
      }
      .campAdHeader {
        width: 100%;
        margin-top: 10px !important;
        .accountTitleTag {
          float: left;
          font-size: 12px;
          img {
            margin: -3px 10px 0 10px;
          }
        }
        h1 {
          font-weight: bold;
          font-family: 'Arial';
          font-size: 16px;
          margin: 0 10px;
        }
        .campTitleWrap {
          padding: 8px 0 1px;
          .glyphicon {
            color: #ABABAB;
          }
        }
        .campIdTime {
          font-size: 11px;
          padding: 3px 0 15px 0;
          color: #a5a5a5;
          float: left;
          clear: left;
        }
        .campSettingOverView {
          border-bottom: 1px dotted #B9B9B9;
          div[class^='col-md'],div[class*=' col-md']{
              padding: 0 5px;
              border-right: 1px dotted #B9B9B9;
              height: 50px;
          }
          label {
            font-size: 11px;
            color: #888;
            float: left;
            width: 100%;
            padding: 0;
          }
          span {
            font-size: 11px;
            font-family: 'Arial';
          }
          .btn-group {
            margin-left: 5px;
          }
        }
        .emptyValueTxt {
          color: #f47e2a;
        }
        .widgetModule {
          padding: 0;
          margin-top: 10px;
          .campWidgets {
            float: right;
            position: relative;
            margin: 0 0 0 15px;
            span {
                  position: absolute;
                  top: -7px;
                  right: -8px;
                  z-index: 10;
                  color: #0978c9;
                  font-size: 9px;
                  background: #fff;
                  border: 2px solid #0978c9;
                  padding: 0px 3px;
                  font-family: "Arial";
                  font-weight: bold;
                  line-height: 10px;
              }
            img {
              float: left;
            }
          }
        }
      }
      .adWrap{
        background: #fff;
        width: 100%;
        float: left;
        margin-bottom: 85px;
        .collapseHeader {
          float: left;
          width: 100%;
          padding: 13px;
          color: #007ac9;
          font-family: "Avenir-bold";
          font-size: 17px;
          display: inline-block;
          border-radius: 5px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          button {
            margin: 5px 0;
            float: left;
            padding: 0px 5px;
            background: #fff;
          }
          span {
            margin: 8px 15px;
            float: left;
            line-height: 100%;
            small {
              font-weight: 100;
              color: #717171;
              font-family: 'Arial';
            }
          }
        }
        .adContainer {
          padding: 0;
          .adGroup {
            margin-bottom: 10px;
            width: 100% !important;
            min-height: 38px !important;
          }
          .adCreateBtn {
            border: 2px dashed #dbdbdb !important;
            cursor: pointer;
            .text-center{
              margin-top: 140px;
            }
            .glyphicon {
              width: 100%;
              text-align: center;
              padding: 0 !important;
            }
            h1 {
              margin-top: 0 !important;
            }
          }
          .adModule {
            padding: 0;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            width: 24.25%;
            margin-right: 1%;
            margin-bottom: 1%;
            min-height: 371px;
            background: #fff;
            position: relative;
            .col-md-12 {
              padding: 10px;
            }
            .adTitle {
              width: 100%;
              padding: 20px 20px 15px 20px;
              .adStatus {
                text-align: center;
                background: #6B6B6B;
                color: #fff;
                width: 50px;
                border-radius: 3px;
                font-size: 12px;
                padding: 2px 0 1px 0;
                margin-top: 3px;
              }
              .adIconWidget {
                float: left;
                padding-right: 10px;
              }
            }
            .adTxtGray {
              font-size: 12px;
              color: #747474;
              line-height: 22px;
              font-weight: bold;
              padding-left: 10px;
            }
            .dateAd {
              color: #000;
              font-size: 14px;
              padding-bottom: 15px;
            }
            h1{
              font-size: 14px;
              font-weight: bold;
              font-family: 'Arial';
              line-height: 18px;
              padding: 0 10px;
              margin: 0 0 15px 0;
              text-decoration: none;
              height: 54px;
            }
            h2 {
              font-size: 12pt;
              margin: 3px 0 7px 0;
              color: #428bca;
              font-weight: bold;
            }
            .adStatus {
              background: #6B6B6B; //#5cb85c
              width: 100%;
              text-align: left;
              color: #fff;
              text-indent: 20px;
              padding: 3px 0;
              font-size: 12px;
              position: absolute;
              left: 0;
              bottom: 0;
            }
            .trim-info{
                max-width: 200px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 15px;
                position: relative;
                }
            .labelPush {
              background: #5cb85c;
            }
            .labelDraft {
              background: #BDBDBD;
            }
            .labelNew {
              background: #2D58E0;
            }
            .spacer {
              width: 100%;
              padding: 0 0 15px 0;
              float: left;
              .col-md-12 {
                padding: 0;
                border-bottom: 1px solid #ddd;
              }
            }
            .glyphicon {
              font-size: 32px;
              color: #B1B1B1;
              padding-right: 10px;
            }
          }
          .adModule:first-child {
            background: rgba(255, 255, 255, 0.48);
          }
          .adModule:nth-child(4n) {
            margin-right: 0;
          }
          .adReady {
            .adTitle {
              background: #E4F9E4;
            }
          }
        }
        .addMaster {
          cursor: pointer;
          span {
            color: #D2D2D2;
            font-size: 55px;
          }
          h1 {
            width: 100%;
            text-align: center;
            font-weight: lighter !important;
            color: #A9A9A9 !important;
            margin-top: 10px !important;
          }
        }
      }
      .popMess {
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        background: #fff;
        border: 2px solid #000;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.38);
        -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.38);
        box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.38);
        span {
          float: left;
          width: 100%;
          padding: 10px 0;
          color: #000;
          font-size: 14px;
          text-align: center;
        }
      }
      .succesfulPopMess {
        //display: none;
        border: 2px solid #2CB31C;
      }
      .errorPopMess {
        display: none;
        border: 2px solid #e83b05;
      }
      .screenChkSelection {
        .btn_border {
          border-radius: 2px;
          background: #fff;
          border-color: #dee6eb;
          width: 150px;
          height: 80px;
          padding: 0px;
          label {
            float: left;
            margin: 25px 0 0 10px;
            img {
              float: left;
              margin: 0 10px;
            }
          }
        }
      }
    }
    .maxWidthAdj {
      width: 100%;
      float: left;
      padding: 0px;
      .campAdHeader {
        width: 1200px;
        margin: 10px auto 0 !important;
        float: none;
        .campSettingOverView {
          border-width: 0px;
        }
      }
      .adWrap {
        background: #eef5fc;
        margin: 0px;
        border-top: 2px solid #ccd2da;
        .adContainer {
          padding: 30px;
          width: 1200px;
          float: none;
          margin: 0 auto;
          display: table;
        }
      }
    }
    .campaignSave {
      width: 100%;
      float: left;
      background-color: #fff;
      padding: 13px 0;
      position: fixed;
      z-index: 10;
      bottom: 0;
      left: 0;
      border-top: 3px solid #DDD;
      .form-group {
        width: 1040px;
        margin: 0 auto;
      }
    }
    // Campaign Create Ad POP Ends Here
  }
  // Campaign Create Ad POP Starts Here
  .campaignAdCreate{
    float: left;
    width: 77%;
    border-left: 1px dotted #b9b9b9;
    .adMainWrapper {
      width: 100%;
      min-height: 500px;
      padding:30px 30px 0 30px;
      float: left;
      .headerSteps {
        padding: 0 0 15px 0;
      }
      .spacingInput {
        height: 10px;
      }
      .subHeaderSteps {
        padding-top: 10px !important;
        display: none;
        .col-md-3 {
          padding-left: 0;
          padding-right: 0;
          span{
            color: #9B9B9B;
            span {
              color: #000;
            }
            strong {
              color: #000;
              margin-left: 5px;
            }
          }
        }
        .col-md-1 {
          padding: 2px 0;
          text-align: right;
        }
        .editStepOne {
          display: inline-block;
        }
      }
      .hdr_ad {
        padding: 8px 0px;
        text-align: center;
      }
      .adHeader {
        padding:0px;
        font-family:"Avenir-roman";
        font-size:16px;
      }
      .adSubHeader{
        color:#b3b3b3;
        padding:2px 0px 5px 0px;
      }
      .hdr_paused{
        padding-top:8px;
        padding-right:10px;
        border:1px none #FF6600;
      }
      .create_ad {
        float:left;
        color:#333;
        font-family:"Avenir-bold";
        font-size:20px;
      }
      .addClose {
        cursor: pointer;
      }
      .btn_border{
        border: 1px solid #DDDDDD;
        background-color:#FFF;
        border-radius: 4px;
        padding:10px 0px 10px 10px;
        margin-right:1%;
        width:24.001%;
        label {
          float: left;
          margin-bottom: 0;
        }
        input {
          float: left;
          margin-top: 5px;
        }
        .glyphicon {
          font-size: 22px;
          float: left;
          padding: 0 7px 0 8px;
        }
        .btnLabel {
          float: left;
          padding: 3px 0;
        }
      }
      .img_space {padding-right:5px; padding-left:5px;}
      .nextPanel {
        margin: 20px 0;
        position: relative;
      }
      .placementRadio {
        padding-left: 198px;
        label {
          float: left;
          font-weight: bold;
          font-family: 'Arial';
          padding-right: 15px;
        }
        input {
          // float: left;
        }
        span {
          //  float: left;
          padding: 2px 30px 0 5px;
        }
      }
      // Step 1
      .adStepOne {
        .adNameBox {
          .btn-toggle {
            margin: 6px 0 20px;
          }
        }
      }

      .bgColor{background-color:#FFFFFF;}


      .adSave {
        background-color:#fff;
        border-top:3px solid #F2F2F2;
        float:right !important;
        padding: 14px 0;
        margin-top:20px;
        width:100%;

      }

      // Tabs navigation start
      //.tab-content { padding:6px;}
      .tabs-left, .tabs-right {
        border-bottom: none;
      }
      .tabs-left {
        border-right: 1px solid #ddd;
      }
      .tabs-right {
        border-left: 1px solid #ddd;
      }
      .tabs-left>li, .tabs-right>li {
        float: none;
        margin-bottom: 2px;
      }
      .tabs-left>li {
        margin-right: -1px;
      }
      .tabs-right>li {
        margin-left: -1px;
      }
      .tabs-left>li.active>a,
      .tabs-left>li.active>a:hover,
      .tabs-left>li.active>a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;

      }

      .tabs-right>li.active>a,
      .tabs-right>li.active>a:hover,
      .tabs-right>li.active>a:focus {
        border-bottom: 1px solid #ddd;
        border-left-color: transparent;
      }
      .tabs-left>li>a {
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        display:block;
        color: #000;
      }
      .tabs-right>li>a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
      }
      .sideways {
        margin-top:50px;
        border: none;
        position: relative;
      }
      .sideways>li {
        height: 20px;
        width: 120px;
        margin-bottom: 100px;
      }
      .sideways>li>a {
        border-bottom: 1px solid #ddd;
        border-right-color: transparent;
        text-align: center;
        border-radius: 4px 4px 0px 0px;
      }
      .sideways>li.active>a,
      .sideways>li.active>a:hover,
      .sideways>li.active>a:focus {
        border-bottom-color: transparent;
        border-right-color: #ddd;
        border-left-color: #ddd;
      }
      .sideways.tabs-left {
        left: -50px;
      }
      .sideways.tabs-right {
        right: -50px;
      }
      .sideways.tabs-right>li {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      .sideways.tabs-left>li {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
      // Tabs navigation ends

      .platformHolder {
        border-radius: 4px;
        border:1px solid #DDD;
        padding:18px;
        min-height:151px;
        text-align: center;
        margin: 15px 30px 0 0 ;
        span {
          height: 40px;
          display: inline-block;
        }
        img {
          padding: 10px 0;
        }
      }
      .platformHeading {
        border-bottom:1px solid #DDD;
        padding:10px;

      }
      .showImpressionCap {
        background-color: #DDDDDD;
        padding:10px;

      }
      .adDisableRadio {
        position: relative;
        .adDisableRadioWrap {
          width: 100%;
          height: 100%;
          background: rgba(221, 221, 221, 0.68);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
        }
      }
    }
  }
  .table {
    span, a, p {
      padding: 0px;
    }
    p {
      margin-bottom: 3px;
    }
    .squareCreativeOne {
      width: 24px;
      height: 25px;
      float: left;
      border: 1px dashed #adadad;
    }
    .squareCreativeTwo {
      width: 17px;
      height: 50px;
      float: left;
      border: 1px dashed #adadad;
    }
    .squareCreativeThree {
      width: 60px;
      height: 17px;
      float: left;
      border: 1px dashed #adadad;
    }
    tbody {
      tr {
        margin: 10px 0 20px;
      }
    }
  }
  .popCreativeLib {
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.50);
    .creativeLib {
      position: relative;
      width: 800px;
      min-height: 250px;
      max-height: 450px;
      left: 50%;
      top: 80px;
      margin-left: -400px;
      background: white;
      border-radius: 5px;
      display: inline-block;
      -webkit-box-shadow: 1px 0px 11px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 0px 11px 0px rgba(0,0,0,0.75);
      box-shadow: 1px 0px 11px 0px rgba(0,0,0,0.75);
      .table {
        margin-bottom: 0;
        overflow: scroll;
      }
      .table>thead>tr>th {
        border-width: 0;
      }
      .table>tbody>tr:first-child td {
        border-width: 0;
      }
      .col-md-7 {
        background-color: #F3F3F3;
        overflow: scroll;
        height: 300px;
        h2 {
          font-size: 16px;
          float: left;
        }
        h3 {
          float: left;
          width: 100%;
          font-size: 14px;
          font-weight: bold;
          color: #9A9A9A;
          margin: 20px 0 0 0;
        }
        #custom-search-input{
          padding: 3px;
          border: solid 1px #E4E4E4;
          border-radius: 6px;
          background-color: #fff;
          float: left;
          //width: 285px;
          margin: 7px 0 0 0;
        }
        #custom-search-input input{
          border: 0;
          box-shadow: none;
          font-size: 14px;
          padding: 7px;
          height: initial;
        }
        #custom-search-input button{
          margin: 2px 0 0 0;
          background: none;
          box-shadow: none;
          border: 0;
          color: #666666;
          padding: 0 8px 0 10px;
          border-left: solid 1px #ccc;
        }
        #custom-search-input button:hover{
          border: 0;
          box-shadow: none;
          border-left: solid 1px #ccc;
        }
        #custom-search-input .glyphicon-search{
          font-size: 14px;
        }
      }
      .col-md-5 {
        overflow: scroll;
        height: 300px;
        h2 {
          font-size: 16px;
          float: left;
          width: 100%;
        }
      }
      .closePopBtn {
        position: absolute;
        top: -15px;
        right: -15px;
        z-index: 10;
        cursor: pointer;
        color: #fff;
      }
      .headerLib {
        padding: 20px;
        float: left;
        width: 100%;
        background: #E4E4E4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .btn-default {
          float: right;
          margin: 0;
        }
        h1 {
          float: left;
          color: #000;
          width: auto;
          font-size: 16px;
          margin-top: 0;
        }
        a {
          float: left;
          clear: left;
        }
      }
    }
  }
  .newCreativeSlide {
    .hideRightPanel {
      display: none !important;
    }
    .popCreativeLib {
      background: #fff;
      left: 100%;
      width: 877px;
      top: 128px;
    }
    .closeBtnCreative {
      float: left;
      display: inline-block !important;
      cursor: pointer;
      clear: both;
      p {
        float: left;
      }
      span {
        margin: 0px 10px;
        float: left;
      }
    }
  }
  // Campaign Create Ad POP Ends Here
}
.adCreateMaster {
  .campTitleWrap {
    h1 {
      line-height: 18px !important;
      font-size: 14px !important;
      padding: 4px 0 0 0;
      float: left;
      width: 91%;
    }
    .label {
      font-size: 9px !important;
      float: left;
      margin: 13px 3% 0 0;
      width: 6%;
      text-align: center;
      padding: 4px 0;
    }
    .label-warning {
      padding: 4px 4px 4px 5px;
      overflow: hidden;
      letter-spacing: 5px;
      text-align: center;
      margin-top: 6px ;
    }
  }
  .page_header_container {
    margin-top: 30px !important;
    .campaign_name_holder {
      padding-left: 5px;
    }
    .nav-tabs {
      border-width: 0px;
      width: 100% ;
      li.active {
        background-image: url("../../assets/images/workflow/blueSelector.png");
        background-position: top right;
        background-repeat: no-repeat;
        a {
          background: transparent;
          color: #0978c9 !important;
          font-size: 16px !important;
        }
      }
    }
    .col-md-5 {
      width: 30%;
    }
    .col-md-7 {
      width: 70%;
    }
  }
  .platformWrap {
    display: none;
    .presetGreyBox {
      background: #ddd;
      padding: 10px 0 0 0;
      margin-bottom: 10px;
      display: none;
    }
  }
  .tab-content .tab-pane {    
    position: relative;
    float: left;
    min-height: 530px;
    width: 100%;
    .miniLabels {
      padding: 5px 0px !important;
    }
    #datepicker {
      input {
        font-size: 12px;
        text-indent: 2px;
        width: 150px;
      }
      .input-group-addon {
        margin: 12px 0 0 0;
        background-color: transparent;
        border-width: 0;
        width: 100%;
        padding: 0;
        .glyphicon:last-child {
          margin: 20px 9px 0 0;
        }
        .calenderIcon {
          float: left;
          border-left: 1px solid #c3c3c3;
          margin: 17px 0 0 105px;
          img {
            float: left;
            margin: 10px 9px;
          }
        }
      }
    }
    h2 {
      color: #21252b;
      font-size: 18px;
      margin: 0;
      font-family:"Avenir-bold";
    }
    .nextWrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff;
      border-top: 1px solid #D0D0D0;
      height: 30px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      img {
        width: 35px;
        margin-top: -12px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+37,ffffff+100&amp;1+22,0+100 */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 22%, rgba(255,255,255,0.81) 37%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,0.81)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 22%,rgba(255,255,255,0.81) 37%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 22%,rgba(255,255,255,0.81) 37%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 22%,rgba(255,255,255,0.81) 37%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 22%,rgba(255,255,255,0.81) 37%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
      }
    }
    #datepicker {
      height: 54px;
      .dateWrapper {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        input {
          border-radius: 3px;
          background: transparent;
        }
      }
      .input-group-addon {
        background: none;
        border-width: 0;
        width: 100%;
        padding: 0;
        .glyphicon {
          margin: 36px 0 0 0;
        }
      }
      .greyTxt {
        color: #b3b3b3 !important;
        padding: 7px 0 0 2px !important;
        text-align: left;
        font-weight: lighter;
        font-size: 13px;
        margin-bottom: 0;
      }
      #endDateInput {
        background: rgba(0,0,0,0.07);
      }
    }
    .symbolAbs {
      .col-md-3 {
        position: relative;
        span {
          position: absolute;
          top: 8px;
          left: 8px;
        }
        input {
          text-indent: 10px;
        }
      }
      .col-md-7 {
        position: relative;
        span {
          position: absolute;
          top: 8px;
          left: 8px;
        }
        input {
          text-indent: 10px;
        }
      }
    }
  }
  .form-group {
    margin-bottom: 0px;
  }
  .spacingInput {
    height: 30px !important;
  }
}
#datepicker {
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
    background: #fff;
  }
}
.campaignAdCreatePage {
  position: relative;
  .common-btns {
    position: absolute;
    top: 0px ;
    right: 0px ;
    z-index: 1 ;
    width: 40% ;
  }
  .paddingTop {
    padding-top: 5px ;
  }
  .tab-content {
    .cancel-btn {
      margin: 8px 10px;
      display: inline-block;
      text-decoration : none ;
      &:hover {
        text-decoration : none ;
      }
    }
    .btn-primary {
      margin:  0 10px 0 0 ;
    }
  }
  .marginBottom {
    margin-bottom: 8px !important ;
  }
  input , select {
    margin : 5px 0 0 0 ;
  }
  .tab-pane {
    .row {
      margin : 0 0 30px; 
    }
    .btn_border {
      margin-bottom: 0px ;
    }
    input[type="text"] {
      border: 1px solid #dbe8ef !important;
      border-radius: 0px !important;
    }
    //Radio BTN Toggle
    .radioBtnToggle {
      .btn-group {
        margin-top: 5px;
        input[type="text"] {
          width: 150px;
          margin: 0px 15px;
          float: left;
          border: 1px solid #dbe8ef !important;
          border-radius: 0px !important;
        }
        .btn-default {
          border: 1px solid #dbe8ef !important;
          border-radius: 0px !important;
          width: 120px;
        }
        .btn-default.active, .btn-default:hover {
          border: 1px solid #dbe8ef;
          background-color: #dbe8ef;
        }
      }
    }
    .greyTxt {
      color: #b3b3b3 !important;
      padding: 7px 0 0 2px !important;
      text-align: left;
      font-weight: lighter;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
}
.glyphicon {
    font-family: 'Glyphicons Halflings' !important ;
}