/* font- face declarations */
@font-face {
  font-family: "TradeGothicLTStd-BdCn20";
  src: url("TradeGothicLTStd-BdCn20.eot");
  src: url("TradeGothicLTStd-BdCn20.eot?#iefix") format("embedded-opentype"), url("o") format("woff"), url("TradeGothicLTStd-BdCn20.ttf") format("truetype"), url("TradeGothicLTStd-BdCn20.svg#TradeGothicLTStd-BdCn20") format("svg");
}

@font-face {
  font-family: "Trade-Gothic-LT-Bold-Condensed-N-2";
  src: url("Trade-Gothic-LT-Bold-Condensed-No--20.eot");
  src: url("Trade-Gothic-LT-Bold-Condensed-No--20.eot?#iefix") format("embedded-opentype"), url("Trade-Gothic-LT-Bold-Condensed-No--20.woff") format("woff"), url("Trade-Gothic-LT-Bold-Condensed-No--20.ttf") format("truetype"), url("Trade-Gothic-LT-Bold-Condensed-No--20.svg#Trade-Gothic-LT-Bold-Condensed-No--20") format("svg");
}

@font-face {
  font-family: "trade-gothic-no-2-bold";
  src: url("trade-gothic-no-2-bold.eot");
  src: url("trade-gothic-no-2-bold.eot?#iefix") format("embedded-opentype"), url("trade-gothic-no-2-bold.woff") format("woff"), url("trade-gothic-no-2-bold.ttf") format("truetype"), url("trade-gothic-no-2-bold.svg#trade-gothic-no-2-bold") format("svg");
}

@font-face {
  font-family: "TradeGothicLTStd";
  src: url("TradeGothicLTStd.eot");
  src: url("TradeGothicLTStd.eot?#iefix") format("embedded-opentype"), url("TradeGothicLTStd.woff") format("woff"), url("TradeGothicLTStd.ttf") format("truetype"), url("TradeGothicLTStd.svg#TradeGothicLTStd") format("svg");
}

/* base variables */
$primaryFont: "TradeGothicLTStd-BdCn20";
$secondaryFont: "Trade-Gothic-LT-Bold-Condensed-N-2";
$tertiaryFont: "TradeGothicLTStd";
$quaternaryFont: "trade-gothic-no-2-bold";

$textColorWhite: #fff;
$textColorBlue: #6fd0f4;
$textGreyColor: #bebebe;
$textGreenColor: #a9d479;
$textDarkGreyColor: #999;
$textHelloColor: #a6c7e6;
$textHeadingColor: #177ac6;

$borderColor: #81bee5;

/* mixins */
@mixin FontColor($textColor, $fontSize, $fontFamily) {
  color: $textColor;
  font-size: $fontSize;
}

@mixin BackgroundLinearGradient($startColor, $endColor) {
  background: $startColor;
  background: linear-gradient($startColor, $endColor);
  background: -moz-linear-gradient($startColor, $endColor);
  background: -webkit-gradient(linear, center top, center bottom, from($startColor), to($endColor));
}

/* generic style */
body {
  height: auto;
  background: #f8f8f8;
  background-repeat: repeat;
}

.btn:focus, input:focus, textarea:focus, select:focus, input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  outline: none;
}

a {
  &:hover, &:focus {
    outline: none;
  }
}

button, i, input[type="submit"] {
  outline: none;
}

/* classes defined */
.bold {
  font-weight: bold;
}

.blue {
  @include FontColor($textColorBlue, 12pt, $secondaryFont);
}

.green {
  @include FontColor($textGreenColor, 12pt, $secondaryFont);
}

.seperator {
  font-size: 12pt;
}

.kpi-text-container {
  text-align: left;
  @include FontColor($textGreyColor, 11pt, $primaryFont);
}

.kpi-num {
  font-family: $secondaryFont;
}

.cpa-color {
  color: $textDarkGreyColor;
  text-transform: uppercase;
}

.lowerCase {
  text-transform: lowercase;
}

.top-margin {
  margin-top: -10px;
}

.marg-10 {
  margin-top: 5px;
  display: inline-block;
}

/* status classes */
.delivering {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_delivering.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.paused {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_paused.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.pushed {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_paused.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.complete {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_complete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.draft {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_draft.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* strategies status */
#collapseOne .Delivering {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_delivering_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#collapseOne .pushed {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_paused_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#collapseOne .complete {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_complete_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#collapseOne .draft {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("status_draft_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* ajax-spinner-loader */
.loading-spinner-holder {
  background: url("ajax-loading.gif") no-repeat scroll 48% 45% rgba(0, 0, 0, 0);
  height: 100%;
  text-align: center;
  width: 100%;
  font-size: xx-large;
  z-index: 98999;
}

#ajaxloader {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 99999999;
  border: 8px solid $textColorWhite;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #eeeeee;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}


/* header style */
#detailedPageNavbar.navbar {
  height: 80px;
  border-radius: 0;
  margin-bottom: 16px;
  @include BackgroundLinearGradient(#007ac9, #1c89cf);
  .container {
    width: 1115px;
    margin: 0 auto;
  }
  #logo {
    display: block;
    margin-left: 30px;
  }
  .navbar-collapse {
    &.collapse .nav.navbar-nav {
      margin-top: 8px;
      margin-left: 0;
      li {
        a {
          padding: 20px 30px;
          text-transform: uppercase;
          @include FontColor($textHelloColor, 14pt, $primaryFont);
        }
        &.active a {
          color: $textColorWhite;
          box-shadow: none;
          background: transparent;
          transition: all 0.3s ease 0s;
          &:hover {
            color: $textColorWhite;
            box-shadow: none;
            background: transparent;
            transition: all 0.3s ease 0s;
          }
        }
        a {
          &:hover, &:focus {
            color: $textColorWhite;
            box-shadow: none;
            background: transparent;
            transition: all 0.3s ease 0s;
          }
        }
      }
      &.navbar-right {
        margin-top: 25px;
        li {
          a {
            padding: 5px 35px 5px 15px;
            font-size: 11pt;
            border-right: 1px solid $borderColor;
          }
          .hello {
            padding: 5px 0;
            display: inline-block;
            @include FontColor($textHelloColor, 11pt, $tertiaryFont);
          }
          .user-name {
            padding: 5px 35px 5px 0;
            border-right: 1px solid $borderColor;
            @include FontColor($textColorWhite, 11pt, $primaryFont);
          }
          &:last-child a {
            border-right: none;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

/* detailed page style */

#detailedPage.container {
  width: 1115px;
  margin: 0 auto;
  .row-fluid .col-md-12 {
    h1 {
      margin-bottom: 15px;
      @include FontColor($textHeadingColor, 20pt, $primaryFont);
    }
    .search-cum-navbar {
      height: 40px;
      padding: 5px 20px;
      border-radius: 5px;
      background: #f9b537;
      margin-bottom: 15px;
      ul {
        width: 100%;
        li {
          border-right: 1px solid #e0a331;
          .dropdown-menu {
            padding: 0;
            width: 200px;
            border: none;
            margin-top: 5px;
            margin-left: -20px;
            border-radius: 5px;
            li {
              border-right: none;
              a {
                padding: 12px 15px 5px;
                @include FontColor($textDarkGreyColor, 11pt, $secondaryFont);
              }
              &:first-child a {
                margin: 15px 15px 0;
                padding: 0 15px 10px 0;
                border-bottom: 1px solid $textGreyColor;
              }
              a span.tick {
                width: 20px;
                height: 20px;
                display: inline-block;
              }
              &.active a span.tick {
                background: url("ok.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
              }
              &:hover a span.tick {
                background: url("ok.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
              }
            }
          }
        }
        .dwopdown-two {
          padding-left: 20px;
        }
        li a {
          padding: 5px 15px;
          background: transparent;
          @include FontColor(#c68f2a, 11pt, $secondaryFont);
          &:hover, &:focus {
            padding: 5px 15px;
            background: transparent;
            @include FontColor(#c68f2a, 11pt, $secondaryFont);
          }
          .caret {
            color: #ae7e26;
            margin-left: 10px;
            margin-bottom: 3px;
          }
          &.active {
            color: $textColorWhite;
            text-shadow: 0px -1px 1px #bbbbbb;
            &:hover, &:focus {
              color: $textColorWhite;
              text-shadow: 0px -1px 1px #bbbbbb;
            }
            .caret {
              color: $textColorWhite;
              box-shadow: 0px -1px 0px $textDarkGreyColor;
            }
          }
        }
      }
    }
    .campaign-title-head {
      margin-bottom: 20px;
      ul {
        padding: 0 20px 0 30px;
        overflow: hidden;
        li {
          padding-left: 15px;
          list-style: none;
          &:first-child {
            padding-left: 0;
          }
          span {
            width: 96%;
            font-weight: bold;
            margin-right: 15px;
            padding-bottom: 5px;
            display: inline-block;
            text-transform: uppercase;
            border-bottom: 1px solid $textGreyColor;
            @include FontColor($textDarkGreyColor, 12px, $tertiaryFont);
            &.active {
              color: $textHeadingColor;
            }
          }
          &:nth-child(2) {
            ul {
              padding: 0;
              width: 95%;
              border-bottom: 1px solid $textGreyColor;
              li {
                display: inline-block;
                border-bottom: none;
                padding-left: 5px;
                &:first-child {
                  padding-left: 0;
                }
              }
            }
            > ul li span {
              border-bottom: none;
            }
          }
        }
      }
    }
    .campaign {
      min-height: 220px;
      overflow: hidden;
      background: $textColorWhite;
      position: relative;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 17px 30px 15px;
      box-shadow: 0 1px 1px #aaaaaa;
      .col-md-1 {
        padding: 0;
        text-align: center;
      }
      div {
        @include FontColor($textDarkGreyColor, 10pt, $tertiaryFont);
        &.edit-stats-icons {
          margin-top: 60px;
          .icons-bckground {
            border-radius: 20px;
            @include BackgroundLinearGradient(#f9b537, #ebab34);
          }
          > div:nth-child(2) {
            margin-top: 20px;
          }
        }
      }
      .col-md-5 {
        .campaign-name {
          display: block;
          min-height: 60px;
          font-weight: bold;
          margin-bottom: 13px;
          @include FontColor(#f9b537, 16pt, $primaryFont);
        }
        .brand {
          margin-bottom: 22px;
          @include FontColor($textDarkGreyColor, 10pt, $tertiaryFont);
          .brand-type {
            color: $textGreyColor;
          }
        }
        .duration {
          margin-bottom: 25px;
          .date {
            color: $textDarkGreyColor;
          }
        }
        #accordion .strategies {
          width: 100px;
          padding: 5px;
          text-align: center;
          border-radius: 15px;
          background: #e9e6e0;
          border-top: 1px solid #cccccc;
          a:hover {
            text-decoration: none;
          }
          .strat-text {
            font-weight: bold;
            color: $textGreyColor;
          }
        }
      }
      .col-md-3 .row-fluid {
        .col-md-5 {
          padding: 0;
          font-size: 9pt;
        }
        .col-md-7 {
          padding: 0;
          text-align: right;
          .suffix {
            font-size: 9pt;
          }
        }
        .kpi-text-container {
          text-align: left;
          @include FontColor($textGreyColor, 11pt, $primaryFont);
        }
        .kpi-values {
          text-align: right;
          @include FontColor($textDarkGreyColor, 12pt, $tertiaryFont);
          div span {
            text-align: right;
            @include FontColor($textDarkGreyColor, 12pt, $tertiaryFont);
          }
          .kpi-num {
            font-family: $secondaryFont;
          }
        }
      }
    }
    &.inner-accordion-wrapper {
      margin-top: -20px;
      margin-bottom: 20px;
    }
    .inner-accordion {
      margin-top: -2px;
      background: url("accordion-line.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
      &.first {
        margin-top: 0;
      }
      .panel-collapse.collapse.in {
        width: 990px;
        margin-top: 20px;
        min-height: 280px;
        border-radius: 5px;
        background: #e9e6e0;
        @include FontColor($textDarkGreyColor, 10pt, $tertiaryFont);
        .panel-body.row-fluid {
          padding-right: 0;
          .col-md-12 {
            padding-right: 0;
            > {
              .col-md-1 {
                padding: 0;
                text-align: center;
              }
              .col-md-4 .campaign-name {
                font-family: $primaryFont;
                @include FontColor(#f9b537, 13pt, $primaryFont);
              }
            }
          }
        }
      }
      &:last-child {
        background: url("accordion-line-end.png") no-repeat scroll -1px 1px rgba(0, 0, 0, 0);
      }
      .panel-collapse.collapse.in .panel-body.row-fluid .col-md-12 > {
        .col-md-4 .inner-accordion-details {
          margin-top: 20px;
          > div {
            margin-top: 20px;
            img {
              margin-right: 10px;
              vertical-align: top;
            }
          }
        }
        .col-md-7 {
          width: 540px;
          padding: 15px;
          height: 220px;
          margin-top: 24px;
          background: $textColorWhite;
          border-radius: 5px;
          .col-md-6 {
            padding: 0;
            .row-fluid {
              .col-md-5, .col-md-7 {
                padding: 0;
              }
            }
            &:first-child {
              padding-right: 10px;
            }
            &:last-child {
              padding-left: 10px;
            }
            .row-fluid {
              .col-md-5 {
                font-size: 9pt;
              }
              .col-md-7 {
                text-align: right;
                &.kpi-text-container {
                  text-align: left;
                }
              }
              .col-md-5 .kpi-num {
                font-size: 12pt;
              }
            }
          }
        }
      }
    }
  }
  .load-more {
    margin: 20px;
    text-align: center;
    text-indent: -99999;
    background: url("loading.gif") no-repeat scroll 48% 45% rgba(0, 0, 0, 0);
  }
}
