#creative {
  margin: 0 auto;
  width: 1200px;
  .each_filter{
    float: left;
    width: 206px;
    margin: 20px 30px 0 0;
  }
  .page_header_container {
    width: 100%;
    margin-top: 30px;
    float: left;
    .closeBtnCreative {
      display: none;
    }
    img {
      margin: 2px 25px 0 0px;
    }
    span {
      font-size: 18px;
    }
    span:last-child {
      font-weight: bold;
    }
    .glyphicon {
      margin-left: 20px;
    }
  }
  .containerWrap {
    padding: 0 0 0 35px;
    span {
      float: left;
      a {
        text-decoration: none;
      }
    }
    img {
      margin: 5px;
      float: right;
    }
    .nav_filters {
      .dropdown {
        border: 1px solid #d4d4d4;
        padding: 5px 10px;
        .dropdown-menu {
          max-width: 220px;
          border-radius: 0;
          border-top: 0;
          min-width: 206px;
          margin-top: 0;
          margin-left: -1px;
          box-shadow: none;
        }
        .dropdown_name_selected {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
    .accountTitleTag {
      float: left;
      font-size: 12px;
    }
  }
  .creativeList {
    width: 100%;
    margin-top: 20px;
    float: left;
    .containerWrap {
      padding: 0 0 0 35px;
      margin-bottom: 20px;
      .form-group {
        clear: left;
        padding: 0;
        position: relative;
        label {
          color: #000;
          font-size: 15px;
          text-align: left;
          margin-top: 20px;
          font-weight: bold;
        }
        .previewBtn {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
          cursor: pointer;
        }
      }
    }
  }
  .emptyCreativesFlag {
    td {
      border-width: 0;
    }
  }
  .hiddenBlockerDDL {
    display: none;
  }
}

// Creative List Starts
#creativeList {
  width: 100%;
  float: left;
  h2 {
    font-size: 16px;
  }
  .spacingInput {
    float: left;
    width: 100%;
    height: 10px;
  }
  .mainWrap {
    margin: 10px auto 0;
    width: 1200px;
    padding: 0 30px;
    position: relative;
    .table {
      span, a, p {
        padding: 0px;
      }
      p {
        margin-bottom: 3px;
      }
      .squareCreativeOne {
        width: 24px;
        height: 25px;
        float: left;
        border: 1px dashed #adadad;
      }
      .squareCreativeTwo {
        width: 17px;
        height: 50px;
        float: left;
        border: 1px dashed #adadad;
      }
      .squareCreativeThree {
        width: 60px;
        height: 17px;
        float: left;
        border: 1px dashed #adadad;
      }
      tbody {
        tr {
          margin: 10px 0 20px;
        }
      }
    }
    .bottomPagination {
      position: fixed;
      bottom: 10px;
      left: 50%;
      width: 1200px;
      margin-left: -600px;
      .pagination {
        margin: 0;
      }  
    }
    .script_tag {
      width:180px;
      word-wrap:break-word;
      display:none;
      pre {
        width: 250px ;
        max-height: 60px ;
        overflow: auto;
      }
    }
    .btn_list_filters {
      margin-bottom: 20px;
    }
  }
  .each_filter{
    float: left;
    width: 175px;
    margin: 0 20px 0 0;
    .creativeDDL{
    position: relative;
    margin-bottom: 0;
      select {
        border-width: 0;
        box-shadow: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 6px 12px 6px 0;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 15px;
        background-color: transparent;
        //background: url("/assets/images/cdesk/common_down_arrow.png") no-repeat right 10px;
      }
      img {
        float: right;
        margin: 26px 0 0 0;
      }
    }
  }
}
.duplicate_tag {
  .about_popup {
    width: 500px ;
  }
}