#creative {
  margin: 0 auto;
  width: 1200px;
}
#creative .each_filter {
  float: left;
  width: 206px;
  margin: 20px 30px 0 0;
}
#creative .page_header_container {
  width: 100%;
  margin-top: 30px;
  float: left;
}
#creative .page_header_container .closeBtnCreative {
  display: none;
}
#creative .page_header_container img {
  margin: 2px 25px 0 0px;
}
#creative .page_header_container span {
  font-size: 18px;
}
#creative .page_header_container span:last-child {
  font-weight: bold;
}
#creative .page_header_container .glyphicon {
  margin-left: 20px;
}
#creative .containerWrap {
  padding: 0 0 0 35px;
}
#creative .containerWrap span a {
  text-decoration: none;
}
#creative .containerWrap img {
  margin: 5px;
  float: right;
}
#creative .containerWrap .nav_filters .dropdown {
  border: 1px solid #d4d4d4;
  padding: 5px 10px;
}
#creative .containerWrap .nav_filters .dropdown .dropdown_name_selected {
  margin-right: 0;
  padding-right: 0;
}
#creative .containerWrap .accountTitleTag {
  float: left;
  font-size: 12px;
}
#creative .creativeList {
  width: 100%;
  margin-top: 20px;
  float: left;
}
#creative .creativeList .containerWrap {
  padding: 0 0 0 35px;
  margin-bottom: 20px;
}
#creative .creativeList .containerWrap .form-group {
  clear: left;
  padding: 0;
  position: relative;
}
#creative .creativeList .containerWrap .form-group label {
  margin-top: 20px;
}
#creative .creativeList .containerWrap .form-group .errorLabel {
  margin: 0;
}
#creative .creativeList .containerWrap .form-group .previewBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}
#creative .emptyCreativesFlag td {
  border-width: 0;
}
#creative .hiddenBlockerDDL {
  display: none;
}
.newCreativeSlide .creativeList .creative_filter_dropdowns {
  opacity: .3;
}
#creativeList {
  width: 100%;
  float: left;
}
#creativeList .external_chkbox {
  margin: 0 ;
}
#creativeList h2 {
  font-size: 16px;
}
#creativeList .spacingInput {
  float: left;
  width: 100%;
  height: 10px;
}
#creativeList .mainWrap {
  margin: 10px auto 0;
  position: relative;
}
#creativeList .mainWrap .table span,
#creativeList .mainWrap .table a,
#creativeList .mainWrap .table p {
  padding: 0px;
}
#creativeList .mainWrap .table p {
  margin-bottom: 3px;
}
#creativeList .mainWrap .table .squareCreativeOne {
  width: 24px;
  height: 25px;
  float: left;
  border: 1px dashed #adadad;
}
#creativeList .mainWrap .table .squareCreativeTwo {
  width: 17px;
  height: 50px;
  float: left;
  border: 1px dashed #adadad;
}
#creativeList .mainWrap .table .squareCreativeThree {
  width: 60px;
  height: 17px;
  float: left;
  border: 1px dashed #adadad;
}
#creativeList .mainWrap .table thead tr th {
  vertical-align: top;
  padding-top: 18px;
  padding-bottom: 18px;
}
#creativeList .mainWrap .table tbody tr {
  color: #57606d ;
  margin: 10px 0 20px;
}
#creativeList .mainWrap .emptyCreativeList {
  width: 100%;
  background: #f5f9fd;
  float: left;
}
#creativeList .mainWrap .emptyCreativeList span {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #939eb6;
}
#creativeList .mainWrap .bottomPagination {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
}
#creativeList .mainWrap .bottomPagination .pagination {
  margin: 0;
}
#creativeList .mainWrap .script_tag {
  width: 180px;
  word-wrap: break-word;
  display: none;
}
#creativeList .mainWrap .script_tag pre {
  width: 250px ;
  max-height: 60px ;
  overflow: auto;
}
#creativeList .mainWrap .btn_list_filters {
  margin-bottom: 20px;
}
#creativeList .each_filter {
  float: left;
  width: 175px;
  margin: 15px 20px 20px 0;
}
#creativeList .each_filter .creativeDDL {
  position: relative;
  margin-bottom: 0;
}
#creativeList .each_filter .creativeDDL select {
  border-width: 0;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 6px 12px 6px 0;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 15px;
  background-color: transparent;
}
#creativeList .each_filter .creativeDDL img {
  float: right;
  margin: 26px 0 0 0;
}
.duplicate_tag .about_popup {
  width: 500px ;
}
#inventoryFilters {
  margin: 0 auto;
  width: 1200px;
}
#inventoryFilters .col-md-10 {
  padding: 0 0 0 35px;
}
#inventoryFilters .nav_filters {
  margin-bottom: 15px ;
}
#inventoryFilters .each_filter {
  float: left;
  width: 206px;
  margin: 0px 10px 0 0;
}
#inventoryFilters .each_filter .nav_filters_heading {
  font-size: 14px ;
}
#inventoryFilters .each_filter .select {
  margin-top: 0px ;
}
#inventoryFilters .containerWrap a {
  text-decoration: none;
  float: left;
  clear: left;
}
#inventoryFilters .containerWrap img {
  margin: 5px;
  float: right;
}
#inventoryFilters .containerWrap .nav_filters .dropdown {
  border: 1px solid #d4d4d4;
  padding: 5px 10px;
}
#inventoryFilters .containerWrap .nav_filters .dropdown .dropdown_name_selected {
  margin-right: 0;
  padding-right: 0;
}
#inventoryFilters .containerWrap .nav_filters .accountTitleTag {
  float: left;
  font-size: 12px;
}
#inventoryFilters .containerWrap .nav_filters button {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
#inventoryFilters .filterList {
  border: 1px solid #dde6eb;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
#inventoryFilters .filterList .filterHead {
  float: left;
  width: 100%;
  border-bottom: 3px solid #dde6eb;
  padding: 20px 20px 10px 20px;
}
#inventoryFilters .filterList .filterHead h1 {
  float: left;
  width: 100%;
  color: #21252b;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 10px 0;
}
#inventoryFilters .filterList .filterHead > span {
  font-size: 14px;
  width: 100%;
  float: left;
}
#inventoryFilters .filterList .filterBody {
  float: left;
  width: 100%;
  padding: 10px 20px;
}
#inventoryFilters .filterList .filterBody span {
  color: #21212b;
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
}
#inventoryFilters .filterList .filterBody a {
  float: left;
  clear: left;
  font-size: 14px;
  margin-top: 30px;
}
#inventoryFilters .inventory_upload_btn {
  margin-bottom: 30px ;
}
#inventoryFilters .inventory_upload_btn button {
  margin: 0 15px 10px 0;
  float: left;
}
#inventoryFilters .inventory_upload_btn .grey_txt[disabled="disabled"],
#inventoryFilters .inventory_upload_btn button[disabled="disabled"] {
  display: none;
}
#inventoryFilters .inventory_upload_btn .grey_txt {
  font-size: 14px ;
  margin: 10px 0 0 0;
  float: left;
}
#inventoryFilters .inventory_upload_btn .note {
  font-size: 12px ;
  margin: 0;
}
.popInventoryLib {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.popInventoryLib .inventoryLib {
  position: relative;
  width: 800px;
  min-height: 250px;
  left: 50%;
  top: 55px;
  margin-left: -400px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  -webkit-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
.popInventoryLib .inventoryLib .closePopBtn {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
}
.popInventoryLib .inventoryLib .close {
  position: absolute;
  top: 2px;
  right: 12px;
}
.popInventoryLib .inventoryLib .headerLib {
  padding: 30px 30px 17px 30px;
  float: left;
  width: 100%;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #dde6eb;
}
.popInventoryLib .inventoryLib .headerLib .btn-default {
  float: right;
  margin: 0;
}
.popInventoryLib .inventoryLib .headerLib h1 {
  float: left;
  color: #000;
  width: auto;
  margin-top: 0;
}
.popInventoryLib .inventoryLib .headerLib span {
  float: left;
  clear: left;
  color: #21252b;
}
.popInventoryLib .inventoryLib .popBody {
  float: left;
  width: 100%;
  padding: 17px 30px 30px 30px;
}
.popInventoryLib .inventoryLib .popBody .popList {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.popInventoryLib .inventoryLib .popBody .popList span {
  float: left;
  width: 100%;
  line-height: 30px;
}
.popInventoryLib .inventoryLib .popBody .categoryDDL {
  float: left;
  width: 30%;
  margin-top: 20px;
}
.popInventoryLib .inventoryLib .popBody .radioBtnToggle {
  float: left;
  width: 40%;
  margin-left: 20px;
  margin-top: 20px;
}
.popInventoryLib .inventoryLib .popBody .radioBtnToggle .miniToggle {
  margin: 0;
}
.popInventoryLib .inventoryLib .popFooter {
  padding: 20px 30px;
  background: #F5F9FD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.creative_filter_dropdowns .dropdown-menu {
  border-top: solid 1px #ccc ;
}
