.main_dashboard {
	width: 1115px ;
	margin: 20px  auto ;
	font-family: "Avenir" ;
	font-size: 12px ;
	.row {
		margin: 0 0 20px 0 ;
	}
	.dropdown {
		cursor: default;
		.dropdown_ul {
			text-align: left;
			min-width: 72px;
			left: -20px;
		}
		.arrow_img {
          background: url(asset-path("cdesk/blue_dropdown.png")) no-repeat center center ;
          height: 10px;
          width: 10px;
          display: inline-block;
          margin-left: 2px;
        }
        ul {
        	padding: 0px ;
	        li {
	        	padding: 2px 0 ;
	        	&:hover {
		        	background: #f1f1f1 ;
		        }
	        }
	    }
	}

	.status_filter {
		color: #333 ;
		font-size: 14px ;
		font-weight: bold ;
		.status_filter_dd {
			font-weight: normal ;
			margin-left: 15px ;
			li {
				text-align: left;
				padding: 2px 10px;
			}
			
		}
	}

	.dashboard_main_heading {
		span {
			display: block;
			float: left;
			font-size: 24px;
			font-weight: bold;
		}
		span.bubble_heading {
			color: white;
			background: #108AE2;
			padding: 4px 20px;
			border-radius: 15px;
			margin-left: 20px;
			font-size: 14px;
			font-weight: normal;
		}
	}
	.calendar_holder {
		border: solid 1px #ccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 0 0 40px;
		span {
			padding: 2px 10px;
			border-left: solid 1px #cccccc;
			display: inline-block;
			text-align: center;
			float: left;
			cursor: default;
			&:first-child {
				border-left : solid 0px #ccc ;
			}
		}
	}
	.calendar_holder_period {
		border: solid 1px #ccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 0 0 40px;
		span {
			padding: 2px 10px;
			border-left: solid 1px #cccccc;
			display: inline-block;
			text-align: center;
			float: left;
			cursor: default;
			&:first-child {
				border-left : solid 0px #ccc ;
			}
		}
	}
	.dashboard_section {
		min-height: 350px ;
		box-shadow: 0px 0px 1px #ccc ;
	}
	.dashboard_geo_graph_holder {
		min-height: 545px;
	}
	#dashboard_metric_dd {
		margin-left: 10px ;
	}
	.dashboard_perf_graph {
		min-height: 175px ;
		margin: 20px 0 ;
	}
	.dashboard_heading {
		
		font-size: 14px ;
		padding: 10px 20px ;
		.show_link {
			color: #333 ;
			font-weight: bold;
			margin: 0px 0 0 30px;
		}
		
	}
	.dashboard_heading_bold {
		font-weight: bold;
		color: #333 ;
	}
	.calendar_heading {
		span {
			font-size: 12px ;
			color: #999 ;
			text-transform: none;
			font-weight: normal;
		}

	}
	.dashboard_graph_legends {
		padding: 20px ;
		color: #999 ;
		.legend_details {
			white-space: nowrap;
			margin: 5px 20px 0 0;
			display: inline-block;
			.graph_legend {
				height: 8px ;
				width: 8px ;
				border-radius: 8px ;
				-moz-border-radius : 8px ;
				-webkit-border-radius : 8px ;
				background: green ;
				display: inline-block;
				
			}
		}
		.underperf_legend {
			.graph_legend {
				background: #fc0 ;
			}
		}
		.legend_type1 {
			.graph_legend {
				background: rgb(165, 165, 240) ;
			}
		}
		.legend_type2 {
			.graph_legend {
				background: rgb(86, 121, 176);
			}
		}
		.legend_type3 {
			.graph_legend {
				background: rgb(163, 186, 223); ;
			}
		}
		.legend_type4 {
			.graph_legend {
				background: rgb(142, 183, 249) ;
			}
		}
		.legend_type5 {
			.graph_legend {
				background: blue ;
			}
		}
	}
}
.common_loading_icon {
  text-align: center;
  height: 20px;
  width: 40px;
  background: url(asset-path("loading.gif")) no-repeat scroll 48% 45% rgba(0, 0, 0, 0);
  margin: 60px auto 0 ;
  display: block;
}
#backToBrands {
  cursor: pointer;
  font-weight: normal;
  text-transform: none;
}