@charset "UTF-8";

/* visto-con */
@font-face {
  font-family: "visto-con";
  src:url("fonts/1441822003.eot");
  src:url("fonts/1441822003.eot?#iefix") format("embedded-opentype"),
    url("fonts/1441822003.woff") format("woff"),
    url("fonts/1441822003.ttf") format("truetype"),
    url("fonts/1441822003.svg#1441822003") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "visto-con" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "visto-con" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "a";
}
.icon-archive:before {
  content: "b";
}
.icon-attach:before {
  content: "c";
}
.icon-brand:before {
  content: "e";
}
.icon-calendar:before {
  content: "f";
}
.icon-complete:before {
  content: "g";
}
.icon-copy:before {
  content: "h";
}
.icon-description:before {
  content: "i";
}
.icon-desktop:before {
  content: "j";
}
.icon-download:before {
  content: "k";
}
.icon-edit:before {
  content: "l";
}
.icon-error:before {
  content: "m";
}
.icon-filter:before {
  content: "n";
}
.icon-goal:before {
  content: "o";
}
.icon-image:before {
  content: "q";
}
.icon-impression:before {
  content: "r";
}
.icon-info:before {
  content: "s";
}
.icon-location:before {
  content: "t";
}
.icon-message:before {
  content: "v";
}
.icon-mobile:before {
  content: "w";
}
.icon-number:before {
  content: "x";
}
.icon-on-track:before {
  content: "y";
}
.icon-pacing:before {
  content: "z";
}
.icon-paused:before {
  content: "A";
}
.icon-performance:before {
  content: "B";
}
.icon-platforms:before {
  content: "C";
}
.icon-ready:before {
  content: "D";
}
.icon-report-builder:before {
  content: "E";
}
.icon-rich-media:before {
  content: "F";
}
.icon-search:before {
  content: "G";
}
.icon-settings:before {
  content: "H";
}
.icon-social:before {
  content: "I";
}
.icon-success:before {
  content: "J";
}
.icon-tablet:before {
  content: "K";
}
.icon-tag:before {
  content: "L";
}
.icon-target:before {
  content: "M";
}
.icon-task:before {
  content: "N";
}
.icon-trash:before {
  content: "O";
}
.icon-underperforming:before {
  content: "P";
}
.icon-upload:before {
  content: "R";
}
.icon-video:before {
  content: "T";
}
.icon-warning:before {
  content: "U";
}
.icon-unlock:before {
  content: "Q";
}
.icon-audience:before {
  content: "d";
}
.icon-help-header:before {
  content: "p";
}
.icon-alert-header:before {
  content: "S";
}
.icon-user-header:before {
  content: "V";
}
.icon-locked:before {
  content: "u";
}
.icon-close:before {
  content: "W";
}
.icon-exclude:before {
  content: "X";
}
.icon-card-view:before {
  content: "Y";
}
.icon-clear:before {
  content: "Z";
}
.icon-list-view:before {
  content: "0";
}
.icon-arrow-down:before {
  content: "1";
}
