$lineitem_status_default_color: gray;
$lineitem_status_delivering_color: green;
$lineitem_status_ready_color: #fd9828;
$lineitem_status_draft_color: black;
$lineitem_status_completed_color: #CCCCCC;
$lineitem_status_canceled_color: red;
$lineitem_status_paused_color: red;
$lineitem_status_paused_inventory_released_color: red;

.table-container {
  .table {
    .name {
    }

    .status {
      max-width: 20px;
      width:20px;
    }

    .start_date {
      width: 100px;
      text-align: center;
    }

    .end_date {
      width: 100px;
      text-align: center;
    }

    .volume {
      width: 100px;
      text-align: right;
    }

    .rate {
      width: 100px;
      text-align: right;
    }

    .media-cost {
      width: 100px;
      text-align: right;
    }

    .active {
      color: $active-color;
    }

    .inactive {
      color: $inactive-color;
    }
  }
}

.flight-input {
  line-height: 18px;
  padding: 6px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  background-color: #fff;

  .caret {
    margin-left: 2px;
    margin-top: 8px;
  }
}

.volume-input {
  width: 96px;
  text-align: right;
}

.rate-input {
  width: 69px;
  text-align: right;
}

.ad-size-list {
  min-width: 528px;
  max-width: 1036px;

  .ad-size {
    float: left;
    padding: 5px;
    width: 102px;
    cursor: pointer;
    margin: 0 10px 5px 0;
    border-radius: 5px;

    &:hover {
      background-color: #ccc;
    }

    input {
      margin-top: -1px;
    }
  }

  .selected {
    background-color: #ccc;
  }
}

form fieldset {
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;

  .actions {
    padding: 0 10px;
  }
}

.lineitem-details {
  padding: 5px 10px;
}

.lineitem-sizes {
  word-wrap: break-word;
}

.li-row {
  .dropdown-menu > li > a {
    padding: 3px 20px 3px 5px;
    span {
      line-height: 20px;
    }
  }
}

.lineitem-status {
  position:relative;
  top:-20px;
  text-align:center;
  color:white;
}

.lineitem-status-delivering {
  background-color: $lineitem_status_delivering_color;
}

.lineitem-status-ready{
  background-color: $lineitem_status_ready_color;
}

.lineitem-status-draft{
  background-color: $lineitem_status_draft_color;
}

.lineitem-status-completed{
  background-color: $lineitem_status_completed_color;
}

.lineitem-status-canceled{
  background-color: $lineitem_status_canceled_color;
}

.lineitem-status-paused{
  background-color: $lineitem_status_paused_color;
}

.lineitem-status-paused-inventory-released{
  background-color: $lineitem_status_paused_inventory_released_color;
}

.empty-lineitem-notes {
  color: #005C97;
  font-style: italic;
  text-decoration: none;
}
