#ocr_layout {
  padding-left: 350px;
  left: 0;

  #order_list {
    bottom: 0;
    left: 350px;
    margin-left: -350px;
    overflow-y: auto;
    position: fixed;
    top: 84px;
    width: 350px;
    z-index: 1000;
    border-right: 1px solid #ddd;

    .content {

    }
  }

  #details {
    width: 100%;
    overflow: auto;

    .content {

    }
  }
}

.ocr-campaign-detail {
  padding: 10px;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}

.nielsen-campaign-table {
  .selected {
    background-color: #2ea5dc;
  }
}
