@mixin form_selects() {
  min-width: 120px;
  width: 80%;
  max-width: 150px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  @include form_selects;
}

.bootstrap-select {
  > .btn {
    padding-right: 5px;
  }

  &.btn-group {
    &:not(.input-group-btn),
    [class*="span"] {
      margin-bottom: 0;
    }
  }
}

// selectize plugin customization
.selectize-control {
  display: inline-block;
  @include form_selects;
  max-width: 200px;

  .selectize-dropdown,
  .selectize-input,
  .selectize-input input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .selectize-input {
    padding: 4px 10px;
    vertical-align: middle;

    input {
      height: 16px;
    }
  }

  &.single {
    // adjust caret right position
    .selectize-input:after {
      right: 8px;
    }
  }
}
