// This file based on top of `activities_tasks` styles

h2.team-name {
  display: inline-block;
  color: $rui-heading-text-color;
}

#teamSwitcher {
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
  color: $text_color;
  font-size: 13px;
}

#taskListFilter {
  list-style-type: none;
  font-size: 20px;
  float: left;
  margin: 10px 20px;
  padding: 0;
  width: 98%;

  li {
    display: inline-block;
    cursor: pointer;
    color: $rui-heading-text-color;
    margin-right: 20px;

    a, a:visited {
      color: $rui-heading-text-color;
    }

    a:hover {
      color: $rui-text-hover-color;
    }

    &.active {
      a {
        color: $rui-text-hover-color;
        cursor: default;
      }
    }
  }
}

.team-task-list-container {
  .date {
    text-align: left;
  }

  .no-order {
    font-size: 0.9em;
    color: $rui-gray-color;
  }

  select {
    width: auto;
    margin: 2px;
  }
}

// Customization of pure-table styles
.rui-pure-table {
  width: 100%;
  thead {
    tr {
      th {
        background-color: #fff;
        color: $rui-th-color;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr:hover {
      background-color: $light-background;
    }
  }

  &.pure-table {
    border-color: transparent;
    td {
      font-family: Arial, sans-serif;
      padding: 0.1em 0.5em;

      .requester {
        font-size: 13px;
        font-family: Armata, Arial, sans-serif;
      }
    }
  }

  &.pure-table-horizontal {
    th, td {
      border-color: transparent;
    }
  }
}

.team-task-form-container {
  width: 50%;
  box-sizing: border-box;

  // override global styles here
  input, select, textarea {
    margin-bottom: 0;
  }

  .main-controls-container {
    margin: 10px 0;
    padding: 15px;
    background-color: $light-background;
  }
}

textarea {
  background-color: transparent;
  height: 20px;
}

tbody.team-task-list-grid {
  tr:last-child:hover {
    background-color: transparent;
  }
}

tbody.team-members-task-list-grid {
  tr.team-member-name {
    &:hover {
      background-color: transparent;
    }
    td {
      padding: 1em 1em;
    }
  }
}

.task-resolved-row {
  @include opacity(50);
}

.toggle-resolved-tasks-btn {
  &:not(.active) {
    span.action-text-inactive {
      display: inline;
    }
    span.action-text-active {
      display: none;
    }
  }
  &.active {
    span.action-text-inactive {
      display: none;
    }
    span.action-text-active {
      display: inline;
    }
  }
}