$border-color: #f5f5f5;
$secondary-text-color: #888;
$active-color: #29C827;
$inactive-color: #DA0808;
$hover-color: #B5E8FF; //#EDFAFF;
$selected-row-bg-color: #2ea5dc;
$selected-row-fg-color: #fff;

$images: sprite_map("icons/*.png");
$icon_names:
  activity_log,
  account-contact,
  billing-contact,
  companion,
  contact-unknown,
  custom-kv,
  display,
  dma-targeting,
  facebook,
  media-contact,
  mobile,
  pencil,
  push-failed,
  salesperson,
  task_created_by,
  task_open,
  video,
  user,
  zip-codes;
$btn_names:
  activity_log_active_task_checked,
  activity_log_comment,
  activity_log_inactive_alert,
  activity_log_inactive_attach,
  clock,
  clone-btn,
  cross,
  delete-btn,
  li-command-btn,
  remove-btn,
  task_attachment,
  task_detail_view_close,
  user,
  upload-creatives-btn,
  x-btn;