$border-color: #f5f5f5;
$secondary-text-color: #888;
$active-color: #29C827;
$inactive-color: #DA0808;
$hover-color: #B5E8FF; //#EDFAFF;
$selected-row-bg-color: #2ea5dc;
$selected-row-fg-color: #fff;

$images: sprite_map("icons/*.png");
$icon_names: account-contact, billing-contact, companion, contact-unknown, custom-kv, display, dma-targeting, facebook, media-contact, mobile, pencil, push-failed, salesperson, video, zip-codes;
$btn_names: clone-btn, delete-btn, li-command-btn, remove-btn;
