// Visto 2.0 Tables

.table-responsive {
  float: left;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  table {
    margin: 0;
    float: left;
    width: 100%;
    background-color: white;
    box-shadow: none;
    thead {
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      tr {
        th {
          padding: 15px;
          vertical-align: top;
        }
      }
    }
    tbody {
      tr {
        td {
          background: #fff;
          border-right: rgba(191, 201, 215, 0.5);
          padding: 15px;
        }
        td:first-child {
          border-left: 0px;
          a {
            color: #21252b;
          }
        }
        td:last-child {
          border-right: 0px;
        }
      }
    }
  }
}