/*.btn-group {
  .btn {
    height: 36px;
    span {
      float: left;
      margin: 1px 0 0 0;
    }
    [class^="icon-"], [class*=" icon-"] {
      float: left;
      height: 14px;
      width: 14px;
      padding: 0;
      margin: -1px 10px 0 0;
      color: #363d49;
    }
    .dropdown {
      .dropdown-toggle {
        border-width: 0px !important;
        height: 34px;
        [class^="icon-"], [class*=" icon-"] {
          margin: 0;
        }
      }   
    }
    .dropdown:hover {
      box-shadow: none;
      border-width: 0;
    }
  }
}*/
