.workflow {
  /*don’t remove with out informing abhimanyu*/
  /* .squared Check Box */
  /* end .squared Check Box */
  /*! jQuery UI - v1.11.4 - 2015-11-05 For Slider
  * http://jqueryui.com
  * Includes: core.css, slider.css, theme.css
  * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
  * Copyright jQuery Foundation and other contributors; Licensed MIT */
  /* Layout helpers
  ----------------------------------*/
  /* Interaction Cues
  ----------------------------------*/
  /* Icons
  ----------------------------------*/
  /* states and images */
  /* Misc visuals
  ----------------------------------*/
  /* Overlays */
  /* support: IE8 - See #6727 */
  /* Component containers
  ----------------------------------*/
  /* Interaction states
  ----------------------------------*/
  /* Interaction Cues
  ----------------------------------*/
  /* Misc visuals
  ----------------------------------*/
  /* Corner radius */
  /* Overlays */
}
.workflow .zeroPadding {
  padding: 0px !important;
}
.workflow .zeroMargin {
  margin: 0px !important;
}
.workflow .borderZero {
  border-width: 0px !important;
}
.workflow .disabledTxt {
  color: #BBBBBB !important;
}
.workflow .clearLeft {
  clear: left;
}
.workflow .clearBoth {
  clear: both;
}
.workflow .bottomBorder {
  border-bottom: 1px solid #bfc9d7;
}
.workflow ::-webkit-scrollbar {
  display: none;
}
.workflow h1 {
  color: #21252b;
  font-size: 24px;
  font-family: "Avenir";
}
.workflow h2 {
  color: #21252b;
  font-size: 20px;
  font-family: "Avenir";
}
.workflow h3 {
  color: #21252b;
  font-size: 18px;
  font-family: "Avenir";
}
.workflow h4 {
  color: #21252b;
  font-size: 16px;
  font-family: "Avenir-bold";
}
.workflow h5 {
  color: #21252b;
  font-size: 14px;
  font-family: "Avenir-bold";
}
.workflow a {
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}
.workflow a:hover {
  text-decoration: none;
}
.workflow .breadcrumbFlow {
  color: #333;
  text-decoration: none;
}
.workflow .breadcrumbs {
  margin: 0 0 30px 0;
}
.workflow .breadcrumbs h5 {
  float: left;
  font-size: 16px;
  font-family: 'Avenir';
  cursor: pointer;
}
.workflow .breadcrumbs h5:first-child:hover {
  color: #0978C9;
}
.workflow .breadcrumbs .icon-arrow-down {
  float: left;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  margin: 11px 10px 0px 10px;
}
.workflow .labelQuestTxt {
  color: #21252b;
  font-size: 16px;
  font-weight: normal;
  text-align: left !important;
  margin: 20px 0 0 0 !important;
  padding: 0 !important;
}
.workflow .greyTxt {
  color: #939eae !important;
  padding: 10px 0 5px 0 !important;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.workflow .helpLink {
  opacity: .3;
  text-decoration: none !important;
}
.workflow [class^="icon-"],
.workflow [class*=" icon-"] {
  height: 16px;
  width: 16px;
  font-size: 16px;
  display: inline-block;
  fill: currentColor;
  color: #57606D;
}
.workflow .form-group {
  padding-right: 10px;
}
.workflow input[type='text'],
.workflow input[type='number'] {
  border: 1px solid #BFC9D7;
  border-radius: 2px !important;
  line-height: normal;
  padding: 10px 12px 7px 12px;
  height: auto;
  box-shadow: none;
}
.workflow input[type='text']:focus,
.workflow input[type='number']:focus {
  border: 1px solid #0978c9;
  box-shadow: none;
}
.workflow textarea {
  resize: none;
  border: 1px solid #dbe8ef;
  border-radius: 0 !important;
}
.workflow select {
  border-radius: 1px;
  border: 1px solid #ccd2da;
}
.workflow .dropdown-toggle,
.workflow .dropdown-toggle-search {
  border-radius: 1px;
  text-align: left;
  background: #fff;
}
.workflow .dropdown-toggle .caret,
.workflow .dropdown-toggle-search .caret {
  float: right !important;
  margin-top: 5px;
}
.workflow .dropdown-workflow .btn {
  padding: 10px 15px 10px 15px;
  box-shadow: none !important;
  text-align: left;
  line-height: 16px;
  font-size: 14px;
  height: 36px;
  width: 100%;
  overflow: hidden;
}
.workflow .dropdown-workflow .btn:focus,
.workflow .dropdown-workflow .btn:active:focus,
.workflow .dropdown-workflow .btn.active:focus {
  outline: 0 none;
  background-color: #DCE6F1 !important;
}
.workflow .dropdown-workflow .btn-default {
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir;
  border-radius: 2px;
  border: 1px solid #BFC9D7 !important;
  position: relative;
}
.workflow .dropdown-workflow .btn-default .text {
  float: left;
}
.workflow .dropdown-workflow .btn-default:hover {
  background-color: #E1EDF9 !important;
  border: 1px solid #BFC9D7 !important;
}
.workflow .dropdown-workflow .btn-default:active {
  background-color: #DCEDF1 !important;
  border: 1px solid #BFC9D7 !important;
  box-shadow: none;
}
.workflow .dropdown-workflow .icon-arrow-down,
.workflow .dropdown-workflow .icon-search {
  font-size: 10px;
  color: #000;
  height: 4px;
  width: 2px;
  line-height: 16px;
  position: absolute;
  z-index: 10;
  top: 11px;
  right: 20px;
}
.workflow .dropdown-workflow .dropdown-menu > li > a,
.workflow .dropdown-workflow .dropdown-menu-search > li > a {
  color: #21252b;
  font-family: Avenir;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.workflow .dropdown-workflow .disabled a {
  color: #21252b;
  opacity: .4;
}
.workflow .dropdown-workflow .dropdown-menu,
.workflow .dropdown-workflow .dropdown-menu-search {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) !important;
  width: auto;
  min-width: 100%;
  max-width: 340px;
  max-height: 255px;
  overflow: auto;
}
.workflow .dropdown-workflow .dropdown-menu li,
.workflow .dropdown-workflow .dropdown-menu-search li {
  float: left;
  width: 100%;
}
.workflow .dropdown-workflow .dropdown-menu li span,
.workflow .dropdown-workflow .dropdown-menu-search li span {
  float: left;
  width: 100%;
  padding: 8px 10px;
}
.workflow .dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick,
.workflow .dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick {
  font-size: 9px;
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 5px 10px 5px 3px;
  color: #363d49;
  float: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.workflow .dropdown-workflow .dropdown-menu li span .icon-arrow-down-thick.active,
.workflow .dropdown-workflow .dropdown-menu-search li span .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.workflow .dropdown-workflow .dropdown-menu li ul li span input,
.workflow .dropdown-workflow .dropdown-menu-search li ul li span input {
  margin-right: 8px;
}
.workflow .dropdown-workflow .dropdown-menu .active a,
.workflow .dropdown-workflow .dropdown-menu-search .active a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.workflow .dropdown-workflow .dropdown-menu-search {
  overflow: scroll;
}
.workflow .dropdown-workflow .dropdown-menu > li > a:hover,
.workflow .dropdown-workflow .dropdown-menu > li > a:focus,
.workflow .dropdown-workflow .dropdown-menu > li > .active > a,
.workflow .dropdown-workflow .dropdown-menu-search > li > a:hover,
.workflow .dropdown-workflow .dropdown-menu-search > li > a:focus,
.workflow .dropdown-workflow .dropdown-menu-search > li > .active > a {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.workflow .dropdown-workflow .dropdown {
  display: inline-block;
  width: 100%;
}
.workflow .dropdown-workflow .searchBar {
  position: relative;
}
.workflow .dropdown-workflow .searchBar .icon-search {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: #939eae;
}
.workflow .dropdown-workflow .category_dropdown {
  padding: 5px 5px 0 0;
  border-top: solid 1px #bfc9d7;
  float: left;
  width: 100%;
}
.workflow .dropdown-workflow .category_dropdown .btn {
  width: auto;
}
.workflow .dropdown-menu,
.workflow .dropdown-menu-search {
  width: 280px;
  margin-top: 3px;
  margin-left: 0;
  border: 1px solid #ccd2da;
  border-radius: 1px;
}
.workflow .dropdown-search {
  padding-top: 0;
}
.workflow .dropdown-search input[type="text"] {
  border-radius: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.workflow .dropdown-search li a {
  padding: 5px 10px;
}
.workflow .dropdown-search li a input[type="checkbox"] {
  margin: 0px;
}
.workflow .dropdown-search li a .icon-arrow-down-thick {
  font-size: 10px;
  color: #000;
  height: 10px;
  width: 10px;
  text-align: center;
  margin: 0 6px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.workflow .dropdown-search li a .icon-arrow-down-thick.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.workflow .dropdown-search li ul {
  padding: 0 0 0 0;
  list-style: none;
  float: left;
  width: 100%;
}
.workflow .dropdown-search li ul li {
  float: left;
  width: 100%;
  padding: 0 0 0 26px;
}
.workflow .dropdown-search li ul li a {
  width: 100%;
  padding: 5px 0;
  color: #21252b;
  font-family: Avenir;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
.workflow .dropdown-search li ul li a input[type="checkbox"] {
  margin: 0 6px 0 0;
}
.workflow .dropdown-search li ul li:hover {
  color: #21252b;
  text-decoration: none;
  background-color: #E1EDF9;
}
.workflow .datepicker-dropdown {
  width: auto;
}
.workflow .date {
  padding: 0;
}
.workflow .date .dateWrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0;
}
.workflow .date .dateWrapper .dateContainer {
  float: left;
  width: 150px;
}
.workflow .date .dateWrapper .dateContainer label {
  text-align: left;
}
.workflow .date .dateWrapper .dateContainer input {
  font-size: 12px;
  text-indent: 2px;
  width: 150px;
  background: transparent;
}
.workflow .date .dateWrapper .dateContainer #endDateInput,
.workflow .date .dateWrapper .dateContainer #individualAdsEndDateInput {
  background: rgba(0, 0, 0, 0.07);
}
.workflow .date .dateWrapper .dateContainer:last-child {
  padding-left: 10px;
}
.workflow .date .input-group-addon {
  background: transparent;
  border-width: 0;
  width: 100%;
  padding: 0;
  cursor: pointer;
  margin: 12px 0 0 0;
}
.workflow .date .input-group-addon .calenderIcon {
  float: left;
  border-left: 1px solid #dbe8ef;
  margin: 21px 10px 0 111px;
}
.workflow .date .input-group-addon .calenderIcon .icon-calendar {
  margin: 8px 11px;
  float: left;
}
.workflow .form-control {
  border-radius: 1px !important;
  border: 1px solid #ccd2da;
  -webkit-appearance: none;
}
.workflow .successMessage {
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
}
.workflow .errorLabel {
  color: #F24444 !important;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-family: 'Avenir';
  display: none;
}
.workflow .customFieldErrorMsg {
  color: #F24444 ;
  padding: 2px 0 0 0;
  font-size: 12px;
  float: left;
  line-height: 16px;
}
.workflow .has-error .errorLabel {
  display: block;
}
.workflow .firstWrapper .has-error .form-control {
  border-color: #f24444 !important ;
  box-shadow: 0px 0px 0px transparent !important ;
}
.workflow .has-error .form-control:focus {
  box-shadow: 0px 0px 0px transparent !important ;
}
.workflow .customErrorLabel {
  color: #E83B05 !important;
  padding: 2px 0 0 4px !important;
  margin-top: 0 !important;
  margin-left: 0;
  font-size: 13px;
  font-weight: lighter;
  display: block;
}
.workflow .bodyWrap {
  width: 1200px;
  margin: 0 auto ;
}
.workflow .preloader {
  position: absolute;
  top: 48%;
  left: 50%;
  z-index: 100;
  width: 31px;
  height: 31px;
  margin-left: -15px;
}
.workflow .firstWrapper select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('/assets/images/cdesk/common-down-arrow-space.png') no-repeat right 10px;
  border: 1px solid #dbe8ef !important;
}
.workflow .firstWrapper .nav_filters {
  width: 100%;
  margin: 20px 0;
}
.workflow .btn,
.workflow select {
  border-radius: 2px;
  text-decoration: none;
  font-family: "Avenir";
  line-height: 100%;
  padding: 10px 15px;
  /*commented manny's changes here as it was reflecting all other places*/
  /*padding: 10px 15px 10px 15px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    width: auto;*/
}
.workflow .btn:hover,
.workflow .btn:focus,
.workflow .btn:active {
  text-decoration: none;
}
.workflow .btn-primary {
  background: #0978C9;
}
.workflow .btn-primary:hover {
  background: #0564A9;
}
.workflow .btn-primary:active {
  background: #004D86;
}
.workflow .btn-default {
  color: #57606d;
  font-size: 14px;
  border: 1px solid #dde6eb;
}
.workflow .btn-default:hover {
  background: #e1edf9;
}
.workflow .btn-default:active {
  background: #dce6f1;
}
.workflow .radioBtnToggle .miniToggle label {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ccd2da;
}
.workflow .radioBtnToggle .miniToggle label span {
  width: 100%;
  text-align: center;
}
.workflow .radioBtnToggle .miniToggle input[type="text"] {
  margin: 0px 15px;
  float: left;
}
.workflow .radioBtnToggle .miniToggle .btn-default {
  border-radius: 2px !important;
  box-shadow: none;
}
.workflow .radioBtnToggle .miniToggle .btn-default span {
  color: #363D49;
}
.workflow .radioBtnToggle .miniToggle .btn-default:hover {
  background-color: #E1EDF9;
  color: #363D49;
  border: 1px solid #BFC9D7;
}
.workflow .radioBtnToggle .miniToggle .btn-default:hover span {
  color: #363D49;
}
.workflow .radioBtnToggle .miniToggle .btn-default.active,
.workflow .radioBtnToggle .miniToggle .btn-default.active:hover {
  background-color: #0978C9;
  border: 1px solid #0978C9;
  color: #ffffff;
  box-shadow: none;
}
.workflow .radioBtnToggle .miniToggle .btn-default.active span,
.workflow .radioBtnToggle .miniToggle .btn-default.active:hover span {
  color: #fff;
}
.workflow .radioBtnToggle .miniToggle .btn-default:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.workflow .radioBtnToggle .miniToggle .btn-default:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.workflow .goalBtnGroup .btn-primary {
  border-radius: 0px;
  width: auto;
  height: 36px;
  float: left;
  margin: 0 !important;
  border-width: 0;
  color: #363D49;
  background-color: #ffffff;
  font-family: Avenir;
  border: 1px solid #BFC9D7;
  border-left: 0;
  position: relative;
  padding: 10px 15px;
}
.workflow .goalBtnGroup .btn-primary span {
  float: left;
  color: #21252b;
  font-size: 14px;
  margin: 2px 0 0 10px;
}
.workflow .goalBtnGroup .btn-primary input {
  opacity: 0;
}
.workflow .goalBtnGroup .btn-primary:hover {
  background-color: #E1EDF9;
  color: #363D49;
}
.workflow .goalBtnGroup .btn-primary.active {
  background-color: #0978C9;
  border: 1px solid #0978C9 !important;
  color: #ffffff;
  box-shadow: none;
}
.workflow .goalBtnGroup .btn-primary.active span {
  color: #fff;
}
.workflow .goalBtnGroup .btn-primary.active .hideRadioBtn:hover {
  background-color: #0978C9 !important;
  color: #363D49 !important;
}
.workflow .goalBtnGroup label {
  position: relative;
  height: 60px;
  margin-top: 10px;
}
.workflow .goalBtnGroup label .hideRadioBtn {
  top: 0;
  left: 0;
  width: auto ;
  height: 100%;
  margin-top: -15px;
  margin-bottom: 0;
}
.workflow .goalBtnGroup label .hideRadioBtn img,
.workflow .goalBtnGroup label .hideRadioBtn [class^="icon-"],
.workflow .goalBtnGroup label .hideRadioBtn [class*=" icon-"] {
  float: left;
}
.workflow .goalBtnGroup label .hideRadioBtn:hover {
  background-color: #E1EDF9;
}
.workflow .goalBtnGroup label.active .hideRadioBtn:hover {
  background-color: #E1EDF9;
  color: #363D49;
}
.workflow .goalBtnGroup label.active .hideRadioBtn {
  background-color: #0978C9;
  color: #ffffff;
  box-shadow: none;
}
.workflow .goalBtnGroup label.active .hideRadioBtn [class^="icon-"],
.workflow .goalBtnGroup label.active .hideRadioBtn [class*=" icon-"] {
  color: #fff;
}
.workflow .firstBtnGroup .btn-primary {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border: 1px solid #BFC9D7;
}
.workflow .firstCreateBtnGroup {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border: 1px solid #BFC9D7 !important;
}
.workflow .lastBtnGroup .btn-primary {
  border: 1px solid #BFC9D7;
  border-left: 0;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.workflow .lastCreateBtnGroup {
  border: 1px solid #BFC9D7 !important;
  border-left: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.workflow .btn-ani-toggle {
  position: relative;
  cursor: pointer;
}
.workflow .btn-ani-toggle .togBtnBg {
  background: #0978c9;
  border-radius: 40px;
  width: 45px;
  height: 17px;
  float: left;
  margin-top: 4px;
}
.workflow .btn-ani-toggle .btn {
  height: 25px;
  width: 25px;
  border-radius: 25px !important;
  position: absolute;
  left: -2px;
  top: 0;
  background: #fff;
  border: 1px solid #ccd2da;
  margin: 0 !important;
  padding: 0;
}
.workflow .btn-ani-toggle .btn.active {
  left: 22px;
}
.workflow .calenderIcon {
  border-left: 1px solid #dbe8ef !important;
}
.workflow .left_column_nav {
  padding: 30px 0 0 0;
  width: 23%;
  float: left;
  height: 100%;
}
.workflow .left_column_nav .campaign_name {
  font-family: "Avenir";
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.workflow .left_column_nav .stepCompLabel {
  border-width: 0;
}
.workflow .left_column_nav .stepCompLabel p {
  margin: 15px 0 0 0;
  float: left;
}
.workflow .left_column_nav .stepCompLabel .titleLabel {
  font-size: 14px;
  color: #939ead;
  cursor: default;
}
.workflow .left_column_nav .stepCompLabel .statusLabel {
  float: left;
  width: 100%;
  clear: left;
  margin: 8px 0 0 0;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .errorTxt {
  color: #e83b05;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .glyphicon {
  width: 16px;
  text-align: left;
  padding: 0;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .col-md-5 {
  font-size: 11px;
  color: #939ead;
  padding-right: 5px ;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .col-md-12 {
  padding-left: 16px;
  text-align: left;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .col-md-12 .statusIcon {
  margin: -1px 5px 0 0;
  float: left;
}
.workflow .left_column_nav .stepCompLabel .statusLabel .col-md-12 .txtLabel {
  margin: 8px 0 0 0;
  float: left;
  clear: left;
}
.workflow .left_column_nav .stepCompLabel .statusLabel:first-child {
  margin: 0;
}
.workflow .left_column_nav .stepCompLabel .statusLabel.ng-scope span:last-child,
.workflow .left_column_nav .stepCompLabel .statusLabel.disabled span {
  color: #939ead;
  padding-left: 3px;
}
.workflow .left_column_nav .stepCompLabel .statusLabel.disabled span.creative_tab_sizes {
  padding-left: 0px ;
}
.workflow .left_column_nav .stepCompLabel li {
  width: 100%;
  margin-bottom: 2px;
  margin-top: 20px;
  float: left;
}
.workflow .left_column_nav .stepCompLabel li a {
  font-size: 14px;
  width: 100%;
  float: left;
  color: #939ead;
  text-decoration: none;
  padding: 4px ;
  border-width: 0;
}
.workflow .left_column_nav .stepCompLabel li a:hover {
  background: transparent;
  text-decoration: none;
}
.workflow .left_column_nav .stepCompLabel li:first-child {
  margin-top: 0;
}
.workflow .left_column_nav .stepCompLabel span {
  font-size: 12px;
  float: left;
}
.workflow .left_column_nav .stepCompLabel span:first-child {
  clear: left;
  text-align: right;
}
.workflow .left_column_nav .stepCompLabel .active {
  background-image: url("../../assets/images/workflow/blueSelector.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.workflow .left_column_nav .stepCompLabel .active a {
  font-family: "Avenir-bold";
  color: #0978c9;
  border-radius: 0;
  background: transparent;
}
.workflow .left_column_nav .stepCompLabel .active span {
  font-family: "Avenir";
}
.workflow .left_column_nav .stepCompLabel .glyphicon {
  padding: 0 5px 0 0;
  text-align: center;
  width: 20px;
}
.workflow .left_column_nav .nav-tabs > li.active > a,
.workflow .left_column_nav .nav-tabs > li.active > a:hover,
.workflow .left_column_nav .nav-tabs > li.active > a:focus {
  border-width: 0px;
  color: #0978c9;
  background: transparent;
}
.workflow .left_column_nav .creative_tab_sizes {
  word-wrap: break-word;
  word-break: break-word;
  text-align: left !important;
}
.workflow .campaign-create-left-nav .campaign_name {
  float: none;
}
.workflow .campaign-create-left-nav .active .titleLabel {
  font-family: "Avenir-bold";
  color: #0978c9 ;
}
.workflow .campaign-create-left-nav .eachStepCompLabel {
  margin-bottom: 20px ;
}
.workflow .campaign-create-left-nav .eachStepCompLabel p {
  margin: 0 ;
  float: none;
}
.workflow .table thead {
  border: 1px solid #d2dee7;
  border-bottom: 2px solid #d2dee7;
}
.workflow .table thead tr th {
  border-width: 0;
  font-weight: normal;
}
.workflow .table tbody tr td {
  background: #F5FAFD;
  padding: 20px;
}
.workflow .table tbody tr:nth-child(odd) td {
  background: #fff;
}
.workflow .searchInput .input-group {
  width: 100%;
}
.workflow .searchInput .input-group input[type="text"] {
  margin: 0;
}
.workflow .searchInput .input-group span {
  position: absolute;
  z-index: 10;
  top: 1px;
  right: 1px;
}
.workflow .searchInput .input-group span button {
  float: right;
  margin: 0 !important;
  border-width: 0;
  cursor: pointer;
}
.workflow .searchInput .input-group span button .glyphicon {
  position: inherit;
}
.workflow .tooltipWrap {
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
}
.workflow .tooltipWrap span {
  color: #21252b;
  font-size: 14px;
  float: left;
}
.workflow .tooltipWrap .btn {
  border: 1px solid #0978c9;
  border-radius: 2px;
  text-align: center;
  width: 62px;
  height: 32px;
  background: #fff;
  float: left;
}
.workflow .tooltipWrap .btn:last-child {
  background: #0978c9;
  color: #fff;
  margin-left: 5px;
}
.workflow .tooltipWrap:after,
.workflow .tooltipWrap:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.workflow .tooltipWrap:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.workflow .tooltipWrap:before {
  border-color: rgba(230, 230, 230, 0);
  border-top-color: #E6E6E6;
  border-width: 11px;
  margin-left: -11px;
}
.workflow .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.workflow .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  float: left;
}
.workflow input.cmn-toggle-round + label {
  padding: 2px;
  width: 72px;
  height: 36px;
  background-color: #BFC9D7;
  border-radius: 2px;
}
.workflow input.cmn-toggle-round + label:before,
.workflow input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.workflow input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #fdfdfd;
  border-radius: 2px;
}
.workflow input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #DCE6F1;
  border-radius: 2px;
  transition: margin 0.4s;
  height: 32px;
  margin: 1px 0 0 1px;
}
.workflow input.cmn-toggle-round:checked + label:before {
  background-color: #0978C9;
  background-image: url("../../assets/images/workflow/checkMark.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 11px;
}
.workflow input.cmn-toggle-round:checked + label:after {
  margin-left: 49px;
}
.workflow .squaredChk {
  width: 20px;
  position: relative;
  margin: 20px auto;
}
.workflow .squaredChk label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.workflow .squaredChk label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.workflow .squaredChk label:hover::after {
  opacity: 0.5;
}
.workflow .squaredChk input[type=checkbox] {
  visibility: hidden;
}
.workflow .squaredChk input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.workflow .atlwdg-trigger {
  border-radius: 0 !important;
  background: #007ac9 !important;
  font-family: "Avenir" !important;
}
.workflow .icon-close {
  font-size: 8px;
  width: 8px;
  height: 8px;
  float: left;
  margin: 6px;
  cursor: pointer;
}
.workflow .cardSelectHolder {
  border-radius: 1px;
  border: 1px solid #bfc9d7;
  padding: 30px 20px;
  min-height: 280px;
  width: 32%;
  margin-right: 2%;
  margin-top: 2%;
  float: left;
  position: relative;
}
.workflow .cardSelectHolder span {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 50px;
}
.workflow .cardSelectHolder p {
  color: #21252b;
  font-family: "Avenir-black";
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  float: left;
}
.workflow .cardSelectHolder p span {
  font-family: "Avenir";
  color: #939eae;
  width: auto;
  float: none;
}
.workflow .cardSelectHolder img {
  margin: 30px auto 10px;
  display: table;
  max-height: 30px;
}
.workflow .cardSelectHolder .btn {
  float: left;
  position: relative;
  left: 50%;
  margin-left: -32px;
  margin-top: 20px;
  cursor: pointer;
}
.workflow .cardSelectHolder .btn.active {
  background: #E1EDF9;
  box-shadow: none;
  width: auto;
  margin-left: -43px;
  min-height: auto;
}
.workflow .cardSelectHolder a {
  color: #2c9aec;
  font-size: 12px;
  float: left;
  width: 100%;
  text-align: center;
}
.workflow .cardSelectHolder [class^="icon-"],
.workflow .cardSelectHolder [class*=" icon-"] {
  float: left;
  width: 100%;
  text-align: center;
  height: 32px;
  font-size: 32px;
  color: #363d49;
  min-height: initial;
}
.workflow .cardSelectHolder .icon-inline-edit {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  color: #363d49;
  font-size: 12.5px;
  width: 12.5px;
  height: 12.5px;
  display: none;
}
.workflow .cardSelectHolder .targetDataSaved {
  float: left;
  width: 100%;
  text-align: center;
}
.workflow .cardSelectHolder .targetDataSaved .targetDataSavedTop {
  display: table;
  margin: 0 auto;
}
.workflow .cardSelectHolder .targetDataSaved .icon-target,
.workflow .cardSelectHolder .targetDataSaved .icon-exclude {
  font-size: 16px;
  width: 16px;
  height: 16px;
  float: left;
}
.workflow .cardSelectHolder .targetDataSaved span {
  width: auto;
  min-height: initial;
  padding: 0 5px;
}
.workflow .cardSelectHolder .targetDataSaved .badge {
  color: #21252b;
  font-weight: normal;
  background: #fff;
  border: 1px solid #bfc9d7;
  float: left;
}
.workflow .cardSelectHolder .targetDataSaved .targetListItem {
  text-align: center;
  width: 100%;
  color: #939eae;
  font-size: 14px;
  float: left;
}
.workflow .cardSelectHolder .targetDataSaved .targetListItemMore {
  text-align: center;
  width: 100%;
  color: #0978c9;
  font-size: 14px;
  float: left;
}
.workflow .cardSelectHolder .onSelectBtn {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  cursor: pointer;
  margin: 0 !important;
  background: transparent !important;
  border-width: 0;
}
.workflow .cardSelectHolder:nth-child(3n+3) {
  margin-right: 0;
}
.workflow .cardSelectHolder:hover {
  border: 1px solid #0978c9;
}
.workflow .cardSelectHolder.active .icon-inline-edit {
  display: initial;
  color: #363d49;
}
.workflow .cardSelectHolder.active:hover .icon-inline-edit {
  display: initial;
  color: #0978c9;
}
.workflow .ui-helper-hidden {
  display: none;
}
.workflow .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.workflow .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.workflow .ui-helper-clearfix:before,
.workflow .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.workflow .ui-helper-clearfix:after {
  clear: both;
}
.workflow .ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
.workflow .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.workflow .ui-front {
  z-index: 100;
}
.workflow .ui-state-disabled {
  cursor: default !important;
}
.workflow .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.workflow .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.workflow .ui-slider {
  position: relative;
  text-align: left;
}
.workflow .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.workflow .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.workflow .ui-slider.ui-state-disabled .ui-slider-handle,
.workflow .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.workflow .ui-slider-horizontal {
  height: .8em;
}
.workflow .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
.workflow .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.workflow .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.workflow .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.workflow .ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.workflow .ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.workflow .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.workflow .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.workflow .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.workflow .ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.workflow .ui-widget .ui-widget {
  font-size: 1em;
}
.workflow .ui-widget input,
.workflow .ui-widget select,
.workflow .ui-widget textarea,
.workflow .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}
.workflow .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.workflow .ui-widget-content a {
  color: #222222;
}
.workflow .ui-widget-header {
  border: 1px solid #aaaaaa;
  color: #222222;
  font-weight: bold;
}
.workflow .ui-widget-header a {
  color: #222222;
}
.workflow .ui-state-default,
.workflow .ui-widget-content .ui-state-default,
.workflow .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  font-weight: normal;
  color: #555555;
}
.workflow .ui-state-default a,
.workflow .ui-state-default a:link,
.workflow .ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}
.workflow .ui-state-hover,
.workflow .ui-widget-content .ui-state-hover,
.workflow .ui-widget-header .ui-state-hover,
.workflow .ui-state-focus,
.workflow .ui-widget-content .ui-state-focus,
.workflow .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  font-weight: normal;
  color: #212121;
}
.workflow .ui-state-hover a,
.workflow .ui-state-hover a:hover,
.workflow .ui-state-hover a:link,
.workflow .ui-state-hover a:visited,
.workflow .ui-state-focus a,
.workflow .ui-state-focus a:hover,
.workflow .ui-state-focus a:link,
.workflow .ui-state-focus a:visited {
  color: #212121;
  text-decoration: none;
}
.workflow .ui-state-active,
.workflow .ui-widget-content .ui-state-active,
.workflow .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  font-weight: normal;
  color: #212121;
}
.workflow .ui-state-active a,
.workflow .ui-state-active a:link,
.workflow .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}
.workflow .ui-state-highlight,
.workflow .ui-widget-content .ui-state-highlight,
.workflow .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  color: #363636;
}
.workflow .ui-state-highlight a,
.workflow .ui-widget-content .ui-state-highlight a,
.workflow .ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.workflow .ui-state-error,
.workflow .ui-widget-content .ui-state-error,
.workflow .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  color: #cd0a0a;
}
.workflow .ui-state-error a,
.workflow .ui-widget-content .ui-state-error a,
.workflow .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.workflow .ui-state-error-text,
.workflow .ui-widget-content .ui-state-error-text,
.workflow .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.workflow .ui-priority-primary,
.workflow .ui-widget-content .ui-priority-primary,
.workflow .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.workflow .ui-priority-secondary,
.workflow .ui-widget-content .ui-priority-secondary,
.workflow .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: alpha(opacity=70);
  /* support: IE8 */
  font-weight: normal;
}
.workflow .ui-state-disabled,
.workflow .ui-widget-content .ui-state-disabled,
.workflow .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: alpha(opacity=35);
  /* support: IE8 */
  background-image: none;
}
.workflow .ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
  /* support: IE8 - See #6059 */
}
.workflow .ui-corner-all,
.workflow .ui-corner-top,
.workflow .ui-corner-left,
.workflow .ui-corner-tl {
  border-top-left-radius: 4px;
}
.workflow .ui-corner-all,
.workflow .ui-corner-top,
.workflow .ui-corner-right,
.workflow .ui-corner-tr {
  border-top-right-radius: 4px;
}
.workflow .ui-corner-all,
.workflow .ui-corner-bottom,
.workflow .ui-corner-left,
.workflow .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.workflow .ui-corner-all,
.workflow .ui-corner-bottom,
.workflow .ui-corner-right,
.workflow .ui-corner-br {
  border-bottom-right-radius: 4px;
}
.workflow .ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: alpha(opacity=30);
  /* support: IE8 */
}
.workflow .ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa;
  opacity: .3;
  filter: alpha(opacity=30);
  /* support: IE8 */
  border-radius: 8px;
}
