<div class="col-md-12 zeroPadding add-filters" ng-repeat="item in permissions">
        <!--<div class="form-group col-md-3">-->
                <!--<label >Accounts:</label>-->
    		        <!--<div class="dropdown-workflow">-->
                  <!--<div class="dropdown">-->
                      <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >-->
                         <!--<span class="text">Accounts</span>-->
                         <!--<span class="icon-arrow-down"></span>-->
                      <!--</button>-->
                      <!--<ul class="dropdown-menu" >-->
                       <!--<li >-->
                        <!--<a>Accounts</a>-->
                        <!--<ul>-->
                          <!--<li><a>Accounts 2nd level</a></li>-->
                          <!--<li><a>Accounts 2nd level</a></li>-->
                          <!--<li><a>Accounts 2nd level</a></li>-->
                          <!--<li><a>Accounts 2nd level</a></li>-->
                        <!--</ul>-->
                       <!--</li>&lt;!&ndash; dropBoxItemSelected &ndash;&gt;-->
                       <!--<li ><a>Accounts</a></li>-->
                       <!--<li ><a>Accounts</a></li>-->
                       <!--<li ><a>Accounts</a></li>-->
                      <!--</ul>-->
                  <!--</div>-->

                <!--</div>-->
        <!--</div>-->
        <div class="form-group col-md-3 accounts-multi-dimension">
            <label >Accounts:</label>
            <div class="zeroPadding dropdown-workflow" ng-init="$index+1">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <!--<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>-->
                        <span class="text">{{selectedClient.counter.name}}</span>
                        <span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="accountType">
                        <li ng-repeat="client in userModalData.Clients"><a ng-click="selectedClientHandler(client)">{{client.name}}</a>
                            <ul ng-if="client.children.length>0">
                                <li ng-repeat="clientChild in client.children"><a ng-click="selectedClientHandler(clientChild)">{{clientChild.name}} </a>
                                    <!--<ul ng-if="client.children.length>0">-->
                                        <!--<li ng-repeat="clientChild in client.children"><a ng-click="selectedClientHandler(clientChild)">{{clientChild.name}} </a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                </li>
                            </ul>
                        </li>
                    </ul><input type="hidden" name="accountType" class="accountType" value="{{selectedClient.counter.id}}" ng-update-hidden required/>
                    <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                </div>
            </div>
            <!--<select class="form-control" name="accountType">-->
                <!--<option value="{{client.id}}" ng-repeat="client in userModalData.Clients">{{client.name}}</option>-->
            <!--</select>-->
        </div>
        <div class="form-group col-md-3">
            <label> Advertiser Name:</label>
            <!--<select class="form-control" name="advertiserName" ng-model="selectedAdvertiser">-->
            <select class="form-control" name="advertiserName">
                <option value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers">{{advertiser.name}}</option>
                <!--<option value=value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers" ng-selected="{{advertiser.id == selectedAdvertiser}}" >{{advertiser.name}}</option>-->
            </select>
        </div>
        <div class="form-group col-md-3">
            <label >Brand Name:</label>
            <select name="brandName" class="form-control" >
                <option value="{{brand.id}}" ng-repeat="brand in userModalData.Brands">{{brand.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label >Permission:</label>
            <select name="permission" class="form-control" >
              <option>Admin</option>
              <option>Write</option>
              <option>Read</option>
            </select>
        </div>
        <div class="delete_row" ng-click="delete_filter($event)">

        </div>
        
    </div>