<div class="each_col sec_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('dimension',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'dimension'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'Creatives'"></span>{{textConstants.AD_SIZE}}</span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-impressions',sortTypebyadsizes,!sortReverseAddSizes)" ng-click="sortTypebyadsizes = '-impressions'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'delivery'"></span>{{textConstants.IMP_WITH_DOT}}</span>
</div>


<span  ng-show="adFormats.videoAds  == true">
    <div class="each_col third_col">
        <span class="icon_text_holder" ng-class="sortClassFunction('video_played',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'video_played'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'video_played'"></span>{{textConstants.VIDEO_PLAYS}}</span>
    </div>
<div class="vid_data_hdr">
    <span>{{textConstants.QUARTILE_DATA}}</span> <br>
    <div class="vid_sub_col">
        <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('vtc_25',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'vtc_25'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" >25%</span></div>
        <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('vtc_50',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'vtc_50'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" >50%</span></div>
        <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('vtc_75',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'vtc_75'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" >75%</span></div>
        <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('vtc_100',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'vtc_100'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" >100%</span></div>
    </div>
</div>
    <div class="each_col third_col">
        <span class="icon_text_holder" ng-class="sortClassFunction('vtc_100',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'vtc_100'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'vtc'"></span>{{textConstants.VTC}}</span>
    </div>
</span>

<div class="each_col forth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('ctr',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'ctr'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>{{textConstants.CTR}}</span>
</div>

<div class="each_col forth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('action_rate',sortTypebyadsizes,sortReverseAddSizes)" ng-click="sortTypebyadsizes = 'action_rate'; sortReverseAddSizes = !sortReverseAddSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'action_rate'"></span>{{textConstants.ACTION_RATE}}</span>
</div>



<span  ng-show="adFormats.videoAds  == false">

    <div class="each_col seventh_col">
        <span class="icon_text_holder" ng-class="sortClassFunction('-cpa',sortTypebyadsizes,sortReverseForCostscpaAdsizes)" ng-click="sortTypebyadsizes = '-cpa'; sortReverseAddSizes = sortReverseForCostscpaAdSizes; sortReverseForCostscpaAdSizes = !sortReverseForCostscpaAdSizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>{{textConstants.CPA}}</span>
    </div>
<div class="each_col sixth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-cpc',sortTypebyadsizes,sortReverseForCostscpcAdsizes)" ng-click="sortTypebyadsizes = '-cpc'; sortReverseAddSizes = sortReverseForCostscpcAdsizes; sortReverseForCostscpcAdsizes = !sortReverseForCostscpcAdsizes;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>{{textConstants.CPC}}</span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-cpm',sortTypebyadsizes,sortReverseForCostscpmAdsizes)" ng-click="sortTypebyadsizes = '-cpm'; sortReverseAddSizes = sortReverseForCostscpmAdsizes; sortReverseForCostscpmAdsizes = !sortReverseForCostscpmAdsizes; removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>{{textConstants.CPM}}</span>
</div>

</span>


<div class="each_col seventh_col" >
    <div ng-if="adFormats.videoAds"  class="dropdown kpi-dd-holder " >
        <kpi-drop-down type="cpm" changedrpval="yes" ></kpi-drop-down>
    </div>
</div>


