<div class="popup-holder accounts-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                ng-click="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">Edit Account</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
		    <label >Label1:</label>
		    <input type="text" class="form-control" >
		  </div>
		  <div class="form-group">
		    <label>Label2:</label>
		    <input type="text" class="form-control" >
		  </div>

        
    </div><!-- end of modal_body -->
    <div class="clearfix popup-btns-holder">
        <span class="common_primary_btn" >Save</span>
        <span class="secondary_txt" data-dismiss="modal" ng-click="close()" >
            Cancel
        </span>
       
    </div>
</div> <!-- end of popup-holder -->