<div class="popCreativeLib" ng-show="showHidePopup">
    <div class="creativeLib">
        <div class="headerLib">
            <span class="glyphicon glyphicon-remove closePopBtn" aria-hidden="true" ng-click="closePop()"></span>
            <h1>Add from Library</h1>
            <a href="">Adding a Creative Tag to Your Ad (guided copy)</a>
        </div>
        <div class="col-md-12 zeroPadding">
            <div class="col-md-7">
                <h2 class="col-md-3 zeroPadding">Available</h2>
                <div id="custom-search-input" class="col-md-9">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search..." ng-model="sizeSearchVal"/>
			    <span class="input-group-btn">
				<button class="btn btn-info btn-lg" type="button" ng-click="searchSize()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
			    </span>
                    </div>
                </div>

                <table class="table" id="selCheck">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--Test 1   | filter : {{sizeSearchVal}}  -->
                    <tr ng-repeat="data in creativesLibraryData.creativesData | filter:sizeSearchVal">
                        <td>
                            <span class="col-md-1 "><input class="checkboxcls" type="checkbox" id="{{data.id}}" value="{{data.id}}_{{data.size.size}}_{{data.name}}"  name="{{data.name}}"  ng-checked="data.checked  ? true : false" ng-click="stateChanged($event, data);"/></span>
                            <div class="col-md-11">
                                <p class="col-md-12">{{data.size.size}}</p>
                            </div>
                        </td>
                        <td>{{data.name}}</td>
                    </tr>
                    <tr ng-show="dataFromCreativeLibraryNotFound">
			<span class="label label-warning">Data Not Found</span>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <h2>Selected</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--Test 3-->
                    <tr ng-repeat="data in selectedArr">
                        <td>
                            <span class="col-md-12">{{data.size.size}}</span>
                        </td>
                        <td>
			    <span class="col-md-11">{{data.name}}</span>
                            <span class="glyphicon glyphicon-remove col-md-1" ng-click="removeCreativeTags(data, 'popup')" ng-model="_tmp1" aria-hidden="true"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12" style="margin-bottom: 15px;">
                <button type="button" class="btn btn-primary pull-right" ng-disabled="dataFromCreativeLibraryNotFound"   ng-click="saveCreativeTags()">Save</button>
                <button type="button" class="btn btn-link pull-right" ng-click="closePop()">Cancel</button>
            </div>

        </div>
    </div>
</div>