<div class="col-md-12 zeroPadding breadcrumbs">
	<h5 data-ng-click="resetAudienceTargetingVariables();" data-ng-bind="textConstants.TARGETING"></h5>
	<span class="icon-arrow-solid-down"></span>
	<h5 style="cursor: default;" data-ng-bind="textConstants.AUDSEGMENTS"></h5>
	<button class="pull-right btn btn-default" type="button" data-ng-click="saveAdWithAudience()" data-ng-bind="textConstants.SAVEAUD"></button>
    <button class="pull-right btn btn-link" type="button" data-ng-click="resetAudienceTargetingVariables();" data-ng-bind="textConstants.CANCEL"></button>
</div>
<div class="col-md-12 zeroPadding tabbable">
    <ul class="nav nav-tabs">
        <li class=" audience-tabs-segment firstTabAud">
			<a data-toggle="tab" data-target="#selectAud">
			<span class="ifNotSelected">1</span>
                <span class="icon-check"></span>
                <p data-ng-bind="textConstants.SELSEGMENTS"></p>
            </a>
		</li>
        <div class="splitterDash"></div>
		<li class="audience-tabs-audience" data-ng-if="selectedAudience.length > 0">
            <a data-toggle="tab" data-target="#buildAud" style="padding-right: 5px;">
                <span>2</span>
                &nbsp;Build Audience
            </a>
            <span style="margin-top: 20px; font-size: 12px; color: #939eae;" class="pull-right" data-ng-bind="textConstants.OPTIONALPAR"></span>
        </li>
		<li class="audience-tabs-audience" data-ng-if="selectedAudience.length === 0">
            <a data-toggle="tab" data-ng-href="#" class="disabled" data-ng-click="$event.preventDefault(); $event.stopPropagation();">
                <span>2</span>
                &nbsp;Build Audience
            </a>
        </li>
	</ul>
    <div class="tab-content">
		<!--TAB 1-->
        <div id="selectAud" class="col-md-12 zeroPadding tab-pane fade in active">
            <div class="segmentStepOne">
                <div class="listToBeSelected">
                    <div class="segmentHeader">
                        <!--Search-->
                        <div class="col-md-4 pull-left providers-dropdown zeroPadding">

                            <div class="col-md-12 zeroPadding dropdown-workflow">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-with-search-btn" type="button"  aria-haspopup="true" aria-expanded="true" ng-click="showHideDropdownWithSearch($event);" >
                                        <span data-ng-bind="providerLabel"></span>
                                        <span class="icon-arrow-solid-down"></span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-with-search multiSelect">
                                        <div  class="search-inside-dropdown">
                                            <input type="text" ng-model="providerSearchText" class="dropdown-toggle " />
                                            <span class="sort-image-inactive brands_dd_filter_arrow" ></span>
                                        </div>

                                        <div ng-if="providerLoader" class="common-loading-area" ></div>

                                        <li class="available" ng-if="!providerLoader && segmentProviders.length >0" ng-repeat="provider in segmentProviders | filter : providerSearchText">
                                            <label>
                                                <input class="pull-left"  ng-click="filterAudienceData(provider)" type="checkbox">
                                                <span class="pull-left">{{provider}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        
                        <div class="btn-group pull-right">
                            <div class="searchInput col-md-12 zeroPadding">
                                <a class="btn btn-default searchInputBtnInline" data-ng-click="selectKeyword(keywordText)">
                                    <span class="icon-search" aria-hidden="true" style="margin: -1px 0 0;"></span>
                                </a>
                                <div class="input-group searchInputForm">
                                    <input type="text"
                                           id="audienceSearchInput"
                                           class="form-control keyword-txt"
                                           search-box
                                           name="keywordText"
                                           placeholder="Search Segments..."
                                           data-ng-value="keywordText"
                                           data-ng-keyup="showKeywords($event, keywordText)"
                                           data-ng-model="keywordText"
                                           autocomplete="off">
                                    <div class="btn btn-default searchClearInputBtn">
                                        <span class="icon-clear" aria-hidden="true" data-ng-click="clearKeywordSearch($event)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Temp Hide?-->
                        <div class="col-md-6 zeroPadding" style="display: none;">
                            <input type="text" id="amount" class="col-md-12 greyTxt sliderAmount" readonly>
                            <div class="col-md-12 zeroPadding" id="slider-range"></div>
                        </div>
                    </div>
					<div class="col-md-12 segHeaderTable" style="margin-top: -15px;">
						<div class="columnOne">
							<div class="checkbox">
								<input type="checkbox" data-ng-click="selectAllAudience($event)" data-ng-checked="selectAllChecked">
							</div>
						</div>
						<div class="columnTwo col-md-4">
							<span data-ng-bind="textConstants.SEGMENTNAME"></span>
						</div>
                        <div class="columnThree col-md-2">
                            <span>Providers</span>
                        </div>
						<div class="columnThree col-md-2">
							<span data-ng-bind="textConstants.CPM"></span>
						</div>
						<div class="columnFour col-md-3">
							<span data-ng-bind="textConstants.ESTREACH"></span>
						</div>
					</div>
					<div class="segBodyWrap">
                        <div class="common-loading-area" data-ng-if="showAudienceLoader"></div>
						<div class="segFixedWrap" id= "audienceTargetingContainer" lr-infinite-scroll="loadMoreAudience" style="margin-bottom: 15px;">
							<div class="col-md-12 segBodyTable" data-ng-repeat="audience in audienceList">
								<div class="columnOne">
									<div class="checkbox">
										<input type="checkbox" data-ng-click="selectAudience(audience)" data-ng-checked="audience.isChecked">
									</div>
								</div>
								<div class="columnTwo audienceTip col-md-4">
									<span data-ng-bind="audience.displayName" title="{{audience.displayName}}" class="toolTipAudienceSegment"></span>
								</div>
                                <div class="columnTwo col-md-2">
                                    <div class="pull-left">$&nbsp;</div>
                                    <div class="pull-left" data-ng-bind="audience.providerCode"></div>
                                </div>
								<div class="columnTwo col-md-2">
									<div class="pull-left">$&nbsp;</div>
									<div class="pull-left" data-ng-bind="(audience.cpmCost).toFixed(2)"></div>
								</div>
								<div class="columnThree col-md-3">
                                    <div class="pull-left" data-ng-bind="(audience.estReach).toLocaleString()"></div>
								</div>
							</div>
							<div data-ng-if="!showAudienceLoader && audienceList.length === 0"
                                 style="color: #ccc; text-align: center; padding-top: 10px;"
                                 data-ng-bind="textConstants.NORESULTSFOUND">
                            </div>
						</div>
					</div>
                </div>
				<div class="selectedAtRight">
					<span class="pull-left" data-ng-bind="textConstants.SELECTED_SEGMENTS">Selected Segments</span>
					<a class="pull-right" data-ng-click="clearAllSelectedAudience()" data-ng-bind="textConstants.CLEARALL"></a>
					<div class="selectedItems">
                        <div class="segWrap" data-ng-repeat="aud in selectedAudience">
                            <span data-ng-bind="aud.displayName"></span>
                            <div style="clear:both"></div>
                            <div class="pull-left">$&nbsp;</div>
                            <div class="pull-left" data-ng-bind="(aud.cpmCost).toFixed(2)"></div>
                            <div style="clear:both"></div>
                            <div class="icon-close" data-ng-click="selectAudience(aud)"></div>
                        </div>
					</div>
				</div>
            </div>
        </div>
		<!--TAB 1 ENDS HERE-->

		<!--TAB 2-->
        <div id="buildAud" class="col-md-12 zeroPadding tab-pane fade">
            <a class="pull-right btn" style="padding: 2px" data-ng-click="clearAllSelectedAudience()" data-ng-bind="textConstants.CLEARALL"></a>

            <!--Example One-->
            <div class="segmentHolder">
                <div class="segmentRow" data-ng-repeat="aud in selectedAudience">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown" data-ng-show="!$first">
                                <button class="btn btn-default dropdown-toggle and-or-txt"
                                        type="button" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    <span class="text" data-ng-bind="andOr"></span>
                                    <span class="icon-arrow-solid-down"></span>
                                </button>
                                <ul class="dropdown-menu and-or-list" aria-labelledby="segConditionOne">
                                    <li data-ng-click="changeOrAndStatus('Or')">
                                        <a data-ng-bind="textConstants.OR"></a>
                                    </li>
                                    <li data-ng-click="changeOrAndStatus('And')">
                                        <a data-ng-bind="textConstants.AND"></a>
                                    </li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" data-ng-bind="aud.isIncluded ? 'Is' : 'Is not'"></span>
                                    <span class="icon-arrow-solid-down"></span>
                                </button>
                                <ul class="dropdown-menu is-included-list" aria-labelledby="segConditionOne">
                                    <li data-ng-click="changeIncludeStatus(aud, true)">
                                        <a data-ng-bind="textConstants.IS"></a>
                                    </li>
                                    <li data-ng-click="changeIncludeStatus(aud,false)">
                                        <a data-ng-bind="textConstants.ISNOT"></a>
                                    </li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<span tooltip="{{aud.name}}{{aud.source}}{{aud.category}}" class="audienceTip" data-ng-bind="aud.name"></span>
						</div>
                    </div>
                    <div class="col-md-1 text-center">
                        <a class="icon-clear" data-ng-click="selectAudience(aud)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
	.disabled {color:#ccc}
</style>

