
<div class="col-md-12 zeroPadding breadcrumbs">
	<h5 ng-click="resetAudienceTargetingVariables();" data-ng-bind="textConstants.TARGETING"></h5>
	<span class="icon-arrow-down"></span>
	<h5 style="cursor: default;" data-ng-bind="textConstants.AUDSEGMENTS"></h5>

	<button class="pull-right btn btn-default" type="button" ng-click="saveAdWithAudience()" ng-disabled="selectedAudience.length == 0" data-ng-bind="textConstants.SAVEAUD"></button>
    <button class="pull-right btn btn-link" type="button" ng-click="resetAudienceTargetingVariables();" data-ng-bind="textConstants.CANCEL"></button>
</div>

<div class="col-md-12 zeroPadding tabbable">
    <ul class="nav nav-tabs">
        <li class=" audience-tabs-segment firstTabAud">
			<a data-toggle="tab" data-target="#selectAud">
			<span class="ifNotSelected">1</span><span class="icon-check"></span> <p data-ng-bind="textConstants.SELSEGMENTS"></p></a>
		</li>
        <div class="splitterDash"></div>
		<li class="audience-tabs-audience" ng-if="selectedAudience.length > 0"><a data-toggle="tab" data-target="#buildAud" style="padding-right: 5px;"><span>2</span> Build Audience</a> <span style="margin-top: 20px; font-size: 12px; color: #939eae;" class="pull-right" data-ng-bind="textConstants.OPTIONALPAR"></span></li>
		<li class="audience-tabs-audience" ng-if="selectedAudience.length == 0"><a data-toggle="tab" ng-href="#" class="disabled" ng-click="$event.preventDefault();$event.stopPropagation();"><span>2</span> Build Audience</a></li>

	</ul>
    <div class="tab-content">
		<!--TAB 1-->
        <div id="selectAud" class="col-md-12 zeroPadding tab-pane fade in active">
            <div class="segmentStepOne">
                <div class="setOne">
                    <div class="segmentHeader" >
                        <div class="col-md-12 zeroPadding multiDDL">
							<span class="icon-search" ng-click="selectKeyword(keywordText)"></span>
							<label class="col-md-12 greyTxt" data-ng-bind="textConstants.KEYWORD"></label>
	                        <input type="text" class="col-md-12 keyword-txt" name ="keywordText" placeholder="Max 10 keywords. Must be separated by commas" ng-keyup="showKeywords(keywordText,$event)" ng-model="keywordText"/>
							<label class="keywordWrap" ng-repeat="key in selectedKeywords">{{key}} <span class="icon-close" ng-click="removeKeyword(key);"></span></label>
							<ul ng-if="audienceKeywords.length>0" class="dropdown-menu" role="menu" id="keywordsList" ng-style="dropdownCss" style="width:585px;">
								<li ng-repeat="keyword in audienceKeywords | filter:keywordText" ng-click="selectKeyword(keyword.keyword)">
									<a >
										<span class="tick"></span>
										<span class="menuItemText ng-binding" data-ng-bind="keyword.keyword"></span>
									</a>
								</li>
							</ul>
						</div>

                        <div class="col-md-3" style="padding: 0 10px 0 0; display: none">
                            <label class="col-md-12 greyTxt" data-ng-bind="textConstants.SOURCE"></label>
                            <div class="col-md-12 zeroPadding dropdown-workflow dropdown-search-btn">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text" data-ng-bind="sourceText"></span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg" style="width: 230px;">
                                        <li class="searchBar">
                                            <input type="text" class="col-md-12" placeholder="Search" ng-model="sourceSearch"/>
                                            <div class="icon-search"></div>
                                        </li>
                                        <ul class="ddList">
                                            <li ng-repeat="source in sourceList| filter: sourceSearch">
                                                <span>
                                                    <input type="checkbox" name="checkbox" ng-click="selectSource(source,'category')" ng-checked="source.isChecked">
                                                    {{source.name}}
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="clearfix category_dropdown">
                                            <div class="pull-left btn btn-link" ng-click="clearAllSelectedSource()" data-ng-bind="textConstants.CLEARALL">
                                            </div>
                                            <div class="pull-right btn  btn-default" ng-click="processDone()" data-ng-bind="textConstants.DONE">
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="padding: 0 10px 0 0;display: none">
                            <label class="col-md-12 greyTxt" data-ng-bind="textConstants.CATEGORY"></label>
                            <div class="col-md-12 zeroPadding dropdown-workflow dropdown-search-btn">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="text" data-ng-bind="categoryText"></span>
                                        <span class="icon-arrow-down"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-search" aria-labelledby="sourceSeg" style="width: 400px;max-width:400px;">
                                        <li class="searchBar">
                                            <input type="text" class="col-md-12" placeholder="Search" ng-model="categorySearch.category"/>
                                            <div class="icon-search"></div>
                                        </li>
                                        <ul class="ddList">
                                            <li ng-repeat="category in audienceCategories | filter: categorySearch ">
                                                <span  tooltip-placement="top" title="{{category.category}}">
                                                    <input type="checkbox" name="checkbox" ng-click="selectCategories(category,'category')" ng-checked="category.isChecked" style="margin-right: 0px;">
                                                    <!--<span class="icon-arrow-down-thick" ng-click="showSubCategory($event)" style="margin-right: 0;cursor:pointer;"></span>-->
                                                    <span style="width: auto;float: none; padding-left: 0;">{{category.category  | limitTo:40}} {{(category.category.length > 40)? '...':'' }}</span>
                                                </span>
                                                <!--<ul ng-if="(category.subCategories.length > 0 && category.subCategories[0].subCategory != null)" style="display:none">-->
                                                    <!--<li ng-repeat="sub in category.subCategories"><span tooltip-placement="top" title="{{sub.subCategory}}"><input type="checkbox" ng-click="selectCategories(sub,'subcategory',category)" ng-checked="sub.isChecked" tooltip="asdf">{{sub.subCategory | limitTo:35}} {{(sub.subCategory.length > 35)? '...':'' }} </span></li>-->
                                                <!--</ul>-->
                                            </li>
                                        </ul>
                                        <div class="clearfix category_dropdown">
                                            <div class="pull-left btn btn-link" ng-click="clearAllSelectedCategory()" data-ng-bind="textConstants.CLEARALL">
                                            </div>
                                            <div class="pull-right btn  btn-default" ng-click="processDone()" data-ng-bind="textConstants.DONE">
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 zeroPadding">
                            <!--<label class="col-md-12 greyTxt">Category</label>-->
                            <input type="text" id="amount" class="col-md-12 greyTxt sliderAmount" readonly>

                            <div class="col-md-12 zeroPadding" id="slider-range"></div>
                        </div>
                    </div>

					<div class="col-md-12 segHeaderTable">
						<div class="columnOne">
							<div class="checkbox">
								<input type="checkbox" ng-click="selectAllAudience($event)" ng-checked="selectAllChecked">
							</div>
						</div>
						<div class="columnTwo" style="width: 41.333%">
							<span data-ng-bind="textConstants.SEGMENTNAME"></span>
						</div>
						<div class="columnThree" style="width: 21.333%">
							<span data-ng-bind="textConstants.SOURCE"></span>
						</div>
						<div class="columnFour" style="width: 31.333%">
							<span data-ng-bind="textConstants.CATEGORY"></span>
						</div>
					</div>

					<div class="segBodyWrap">
                        <div class="common-loading-area" ng-if="showAudienceLoader"></div>
						<div class="segFixedWrap" id= "audienceTargetingContainer" lr-infinite-scroll="loadMoreAudience">
							<div class="col-md-12 segBodyTable" ng-repeat="audience in audienceList">
								<div class="columnOne">
									<div class="checkbox">
										<input type="checkbox" ng-click="selectAudience(audience)" ng-checked="audience.isChecked">
									</div>
								</div>
								<div class="columnTwo audienceTip" style="width: 41.333%" tooltip="{{audience.name}}" tooltip-placement="right">
									<span data-ng-bind="audience.name"></span>
								</div>
								<div class="columnThree" style="width: 21.333%">
									<span data-ng-bind="audience.source"></span>
								</div>
								<div class="columnFour" style="width: 31.333%; border-right: 0; ">
									<span data-ng-bind="audience.category"></span>
								</div>
							</div>
							<div ng-if="!showAudienceLoader && audienceList.length == 0" style="color: #ccc;text-align: center;padding-top: 10px;" data-ng-bind="textConstants.NORESULTSFOUND"></div>
						</div>
					</div>

                </div>

				<div class="setTwo">
					<span class="pull-left" data-ng-bind="textConstants.SELECTED_SEGMENTS">Selected Segments</span>
					<a class="pull-right" ng-click="clearAllSelectedAudience()" data-ng-bind="textConstants.CLEARALL"></a>

					<div class="selectedItems">

                        <div class="segWrap" ng-repeat="aud in selectedAudience">
                            <span>{{aud.name}}</span><div style="clear:both"></div>
                            <span>{{aud.category}}</span><div style="clear:both"></div>
                            <span>{{aud.source}}</span><div style="clear:both"></div>
                            <div class="icon-close" ng-click="selectAudience(aud)"></div>
                        </div>
					</div>
				</div>
        </div>
        </div>
		<!--TAB 1 ENDS HERE-->

		<!--TAB 2-->
        <div id="buildAud" class="col-md-12 zeroPadding tab-pane fade">
            <a class="pull-right btn" style="padding: 2px" ng-click="clearAllSelectedAudience()" data-ng-bind="textConstants.CLEARALL"></a>

            <!--Example One-->
            <div class="segmentHolder">

                <div class="segmentRow" ng-repeat="aud in selectedAudience">
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown" ng-show="!$first">
                                <button class="btn btn-default dropdown-toggle and-or-txt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text" data-ng-bind="andOr"></span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu and-or-list" aria-labelledby="segConditionOne">
                                    <li ng-click="changeOrAndStatus('Or')"><a data-ng-bind="textConstants.OR"></a></li>
                                    <li ng-click="changeOrAndStatus('And')"><a data-ng-bind="textConstants.AND"></a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-12 zeroPadding dropdown-workflow">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="text">{{(aud.isIncluded)?'Is':'Is not'}}</span>
                                    <span class="icon-arrow-down"></span>
                                </button>
                                <ul class="dropdown-menu is-included-list" aria-labelledby="segConditionOne">
                                    <li ng-click="changeIncludeStatus(aud,true)"><a data-ng-bind="textConstants.IS"></a></li>
                                    <li ng-click="changeIncludeStatus(aud,false)"><a data-ng-bind="textConstants.ISNOT"></a></li>
                                </ul>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-9">
                        <div class="segmentMove">
							<!--<span class="icon-more-options"></span>-->
							<span tooltip="{{aud.name}}{{aud.source}}{{aud.category}}" class="audienceTip" data-ng-bind="aud.name"></span>
						</div>
                    </div>
                    <div class="col-md-1 text-center"><a class="icon-clear" ng-click="selectAudience(aud)"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	.disabled {color:#ccc}
</style>
