<div class="col-md-12 zeroPadding breadcrumbs">
	<h5 ng-click="redirectTargettingMain($event);" data-ng-bind="textConstants.TARGETING"></h5>
	<span class="icon-arrow-down"></span>
	<h5 style="cursor: default;" data-ng-bind="textConstants.GEOGRAPHY"></h5>

    <button ng-disabled="!(geoTargetingData.selected.regions.length >0 || geoTargetingData.selected.cities.length>0 || geoTargetingData.selected.dmas.length>0 || geoTargetingData.selected.zip.length>0)" class="pull-right btn btn-default" style="text-transform:none;" ng-click="saveGeography()" data-ng-bind="textConstants.SAVE_GEOGRAPHY"></button>
    <a ng-href="#" class="pull-right btn btn-link" ng-click="redirectTargettingMain(true);" data-ng-bind="textConstants.CANCEL"></a>
</div>

<div class="col-md-12 zeroPadding targettingFormWrap">
    <div class="col-md-7 zeroPadding tabbable" style="padding-right: 10px !important;">

        <div class="tooltipWrap zipCodeTooltip" ng-show="enableZipCodePopUp">
            <span data-ng-bind="textConstants.INCZIP"></span>
            <a ng-href="#" class="btn btn-default pull-right" ng-click="showGeographyTabsBox(null, 'zip', false);" role="button" data-ng-bind="textConstants.CONTINUE"></a>
            <a href="javascript:void(0);" ng-click="hidezipCodeTooltip()" class="btn btn-link pull-right"  role="button" data-ng-bind="textConstants.CANCEL"></a>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a ng-click="showGeographyTabsBox($event, 'geo')" ng-href="javascript:void(0);" data-ng-bind="textConstants.GEO"></a></li>
          <li><a ng-href="javascript:void(0);" ng-click="showGeographyTabsBox($event, 'dmas')" data-ng-bind="textConstants.METRO"></a></li>
          <li><a ng-href="javascript:void(0);" ng-click="showGeographyTabsBox($event, 'zip', true); " data-ng-bind="textConstants.ZIPPOSTCODE"></a></li>
        </ul>

        <div class="tab-content targetting-container">
            <!---- start region and city Container ---------->
            <!--Search Input-->
            <div class="searchInput geography">
                 <div class="input-group">
                     <input type="text" class="form-control searchBox" data-searchfield="{{selectedSubTab}}" ng-keyup="search($event)" placeholder="Search for regions or cities">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="padding: 8px 15px 6px; height: 32px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </span>
                </div>
            </div>
            <div id="geo" class="col-md-12 zeroPadding targetting-each-content geo-targetting-content-holder">
                <div class="clearfix targetting-tab-header">
                    <div class="pull-left">
                        <span class="pull-left target-label" data-ng-bind="textConstants.TARGET"></span>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default active" ng-click="showRespectiveTabContent($event, 'countries');" data-ng-bind="textConstants.COUNTRY"></button>
                            <button type="button" class="btn btn-default" ng-click="showRespectiveTabContent($event, 'regions');" data-ng-bind="textConstants.REGION"></button>
                            <button type="button" class="btn btn-default" ng-click="showRespectiveTabContent($event, 'cities');" data-ng-bind="textConstants.CITY"></button>
                        </div>
                    </div>

                    <div class="pull-right include-toggle-switch">
                        <div class="exclude-label" ng-show = '!showHideToggleSwitch()'>
                            <span><span data-ng-bind="textConstants.EXCLUDE"></span> <img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/></span>
                        </div>
                        <div class="include-label" ng-show = 'showHideToggleSwitch()'>
                               <span data-ng-bind="textConstants.INCLUDE"></span>
                               <input type="checkbox" checked data-toggle="toggle" class="toggle-event" data-on=" " data-off=" " >
                        </div>
                    </div>
                </div>
                <div class="geo-tab-contents-holder">
                    <div class="geo-tab-content" id="countries-geo-tab-content">
                        <div class="clearfix targetting-tab-subheader">
                            <div class="col-md-12 clearfix">

                                <div class="pull-left sort-icon-holder active" >
                                    <span class="pull-left" data-ng-bind="textConstants.COUNTRY"></span>
                                    <span class="pull-left common-sort-icon ascending" style="display: block;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="targetting-tab-body" lr-infinite-scroll="loadMoreGeoData" time-threshold="100">
                            <div class="common-loading-area full-table-loading" ng-show="!geoData.countries.data || geoData.countries.data.length === 0"></div>
                            <div ng-show="geoData.countries.data">
                                <div class="clearfix each-targetting-name" ng-repeat="country in geoData.countries.data">

                                    <div class="col-md-12 external_chkbox pull-left">
                                        <div class="squaredFour">
                                            <input type="checkbox" checklist-model="geoData.countries.selected" checklist-value="country" ng-change="check(country, checked, 'countries')" class="squaredFourChkbox" id="country_{{country.id}}">
                                            <label for="country_{{country.id}}"></label>
                                        </div>
                                        <span class="squaredFourTxt" >{{country.name}}</span>
                                    </div>
                                </div>
                                <div class="common-loading-area"></div>
                            </div>
                        </div>
                    </div>
                    <div class="geo-tab-content" id="regions-geo-tab-content" style="display:none;">
                        <div class="clearfix targetting-tab-subheader">
                            <div class="clearfix col-md-8">

                                <div class="pull-left sort-icon-holder active" >
                                    <span class="pull-left" data-ng-bind="textConstants.REGION"></span>
                                    <span class="pull-left common-sort-icon ascending" style="display: block;"></span>
                                </div>
                            </div>
                            <div class="col-md-4 pull-right" data-ng-bind="textConstants.COUNTRY">

                            </div>
                        </div>
                        <div class="targetting-tab-body" lr-infinite-scroll="loadMoreGeoData" time-threshold="100">
                            <div class="common-loading-area full-table-loading" ng-show="!geoData.regions.data || geoData.regions.data.length ===0"></div>
                            <div ng-show="geoData.regions.data">
                                <div class="clearfix each-targetting-name" ng-repeat="region in geoData.regions.data">
                                    <div class="external_chkbox pull-left col-md-8">
                                        <div class="squaredFour">
                                            <input type="checkbox" checklist-model="geoData.regions.selected" checklist-value="region" ng-change="check(region, checked, 'regions')" class="squaredFourChkbox" id="region_{{region.id}}" >
                                            <label for="region_{{region.id}}"></label>
                                        </div>
                                        <span class="squaredFourTxt" >{{region.name}}</span>
                                    </div>
                                    <div class="pull-right col-md-4">
                                        {{region.parent.name}}
                                    </div>

                                </div>
                                <div class="common-loading-area"></div>

                            </div>
                        </div>
                    </div>
                    <div class="geo-tab-content" id="cities-geo-tab-content" style="display:none;">
                        <div class="clearfix targetting-tab-subheader">
                            <div class="clearfix col-md-4">

                                <div class="pull-left sort-icon-holder active" >
                                    <span class="pull-left" data-ng-bind="textConstants.CITY"></span>
                                    <span class="pull-left common-sort-icon ascending" style="display: block;"></span>
                                </div>
                            </div>

                            <div class="col-md-4 pull-right" data-ng-bind="textConstants.COUNTRY">
                            </div>
                            <div class="col-md-4 pull-right" data-ng-bind="textConstants.REGION">
                            </div>
                        </div>

                        <div class="targetting-tab-body" lr-infinite-scroll="loadMoreGeoData" time-threshold="100">
                            <div class="common-loading-area full-table-loading" ng-show="!geoData.cities.data || geoData.cities.data.length === 0"></div>
                            <div ng-show="geoData.cities.data">
                                <div class="clearfix each-targetting-name" ng-repeat="city in geoData.cities.data">
                                    <div class="external_chkbox pull-left col-md-4">
                                        <div class="squaredFour">
                                            <input type="checkbox" checklist-model="geoData.cities.selected" checklist-value="city" ng-change="check(city, checked, 'cities')" class="squaredFourChkbox" id="city_{{city.id}}" >
                                            <label for="city_{{city.id}}"></label>
                                        </div>
                                        <span class="squaredFourTxt" >{{city.name}}</span>
                                    </div>
                                    <div class="pull-right col-md-4" data-ng-bind="city.country.name"></div> <!-- country -->
                                    <div class="pull-right col-md-4" data-ng-bind="city.parent.name"></div> <!-- region -->
                                </div>
                                <div class="common-loading-area"></div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!---- end region and city block ---------->

            <!---- start DMA container -------->
            <div id="dmas" class="col-md-12 zeroPadding targetting-each-content" style="display:none;">
                <div class="clearfix targetting-tab-header">
                    

                    <div class="pull-right include-toggle-switch">
                        <div class="exclude-label" ng-show = '!showHideToggleSwitch()'>
                            <span><span data-ng-bind="textConstants.EXCLUDE"></span> <img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/></span>
                        </div>
                        <div class="include-label" ng-show = 'showHideToggleSwitch()'>
                               <span data-ng-bind="textConstants.INCLUDE"></span>
                               <input type="checkbox" checked data-toggle="toggle" class="toggle-event" data-on=" " data-off=" " >
                        </div>
                    </div>
                </div>
                <div class="metro-tab-contents-holder">
                    <div class="metro-tab-content" >

                        <div class="clearfix targetting-tab-subheader">
                            <div class="clearfix col-md-8">

                                <div class="pull-left sort-icon-holder active" >
                                    <span class="pull-left" data-ng-bind="textConstants.METROTXT"></span>
                                    <span class="pull-left common-sort-icon ascending" style="display: block;"></span>
                                </div>
                            </div>
                            <div class="col-md-4 pull-right" data-ng-bind="textConstants.REGION">

                            </div>
                        </div>
                        <div class="targetting-tab-body" >
                            <div class="common-loading-area full-table-loading" style="display:none;"></div>
                            <div >
                                <div class="clearfix each-targetting-name">
                                    <div class="external_chkbox pull-left col-md-8">
                                        <div class="squaredFour">
                                            <input type="checkbox" class="squaredFourChkbox" id="metro_1" >
                                            <label for="metro_1"></label>
                                        </div>
                                        <span class="squaredFourTxt" >Metro</span>
                                    </div>
                                    <div class="pull-right col-md-4">
                                        Region
                                    </div>

                                </div>
                                <div class="common-loading-area"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----- end DMA container ----------->

            <!---- start Zip Container ---------->
            <div id="zip" class="col-md-12 zeroPadding targetting-each-content" style="display:none;">
                <textarea class="form-control" id="zipCodes" name="zipCodes" ng-model="adData.zipCodes" rows="3" placeholder="Separate zip / postal codes by comma. Use hyphens to denote ranges."></textarea>
                <div class="col-md-12 zeroPadding">
                    <button type="button" ng-click="addZipCode()" ng-disabled="!adData.zipCodes" class="btn btn-default pull-right">
                        <img ng-src="/images/workflow/icon_target.svg" alt="" height="15" />
                        <span data-ng-bind="textConstants.INCLUDE"></span>
                    </button>
                </div>
            </div>
            <!---- end Zip Container ---------->


        </div>
    </div>
    <div class="col-md-5 zeroPadding selectedTables">
        <div class="col-md-12">
            <h2 data-ng-bind="textConstants.SELECTED"></h2>
        </div>
        <div class="col-md-12" >
            <div class="table regionTable" >
                <div>
                    <div class="clearfix each-row" >
                        <div class="pull-left" data-ng-bind="textConstants.REGCITIES"></div>
                        <div class="pull-right removeAll">
                            <a ng-href="javascript:void(0);" data-ng-bind="textConstants.REMOVEALL"></a>
                        </div>
                    </div>
                </div>
                <div class="values-table">
                    <div class="clearfix each-row" >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_target.svg" alt="" height="15"/> region</div>
                        <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                        <div class="group">
                            <div class="each-group">
                                <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> city name</div>
                                <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                            </div>

                        </div>
                    </div>
                     <div class="clearfix each-row" >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> region</div>
                        <div class="pull-right cancel"><span class="icon-close removeItem"></span></div>
                        <div class="group">
                            <div class="each-group">
                                <div class="pull-left"><img ng-src="/images/workflow/icon_target.svg" alt="" height="15"/> city name</div>
                                <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                            </div>

                        </div>
                    </div>
                     <div class="clearfix each-row"  >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> region </div>
                        <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                        <div class="group">
                            <div class="each-group">
                                <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> city name{{city.name}}</div>
                                <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                                <div class="group">
                                    <div class="each-group">
                                        <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> city name{{city.name}} 444</div>
                                        <div class="pull-right cancel"><span class="icon-close removeItem" ></span></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div  class="clearfix each-row"  >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_target.svg" alt="" height="15"/> city ( region)</div>
                        <div class="pull-right cancel"><span class="icon-close removeItem"></span></div>
                    </div>
                    <div  class="clearfix each-row"  >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_exclude.svg" alt="" height="15"/> city ( region)</div>
                        <div class="pull-right cancel"><span class="icon-close removeItem"></span></div>
                    </div>
                    <div  class="clearfix each-row"  >
                        <div class="pull-left"><img ng-src="/images/workflow/icon_target.svg" alt="" height="15"/> city ( region)</div>
                        <div class="pull-right cancel"><span class="icon-close removeItem"></span></div>
                    </div>


                </div>
            </div>


        </div>

        <div class="emptyTableLabel" data-ng-bind="textConstants.NOTSET"></div>

    </div>
</div>



