<script id="bubble_chart" type="text/ng-template">
<div class="dashboard_section dashboard_budget_graph_holder" ng-controller="bubbleChartController" >
  <div class="dashboard_heading dashboard_heading_bold" >
  	Budget
  	<span id = "top_text" class="top_budget_subtitle">{{budget_top_title}}</span>
  </div>
  <div class="common_loading_icon" ng-if="spendBusy "></div>
  <div class="dashboard_perf_graph">
    <div class="data_not_available" id="data_not_available" style="display: none"> Data not available</div>
    <span id="brands"></span>
    <span id="campaigns"></span>
  </div>
</div>
</script>
