@main {
<div class='campaign-list-container' ng-view=''></div>
<div class='loading-spinner-holder loader'></div>
@header()
@brands_drop_down()
@timeperiod_drop_down()
@dashboard()
@gauge()
@bubble_chart()
@screen_chart()
@gantt_chart()
@campaign_list()
@campaign_details()
@campaign_filters()
@campaign_list_filters()
@campaign_cost_filters()
@campaign_dashboard()
@campaign_card()
@campaign_cost_card()
@campaign_strategy_card()
@campaign_tactics_card()
@optimization()
@inventory()
@viewability()
@cost()
@performance()
@multi_select()
@reports_login()
@main_dashboard()
}
