@import helpers.include 
@main {
<div class='campaign-list-container' ng-view=''></div>
<div class='loading-spinner-holder loader'></div>
<script id="header" type="text/ng-template">
@routes.Assets.at("html/header.html")
</script>
<script id="brands_drop_down" type="text/ng-template">
@routes.Assets.at("html/brands_drop_down.html")
</script>
<script id="timeperiod_drop_down" type="text/ng-template">
@routes.Assets.at("html/timeperiod_drop_down.html")
</script>
<script id="campaign_drop_down" type="text/ng-template">
@routes.Assets.at("html/campaign_drop_down.html")
</script>
<script id="dashboard" type="text/ng-template">
@routes.Assets.at("html/dashboard.html")
</script>
<script id="gauge" type="text/ng-template">
@routes.Assets.at("html/gauge.html")
</script>
<script id="bubble_chart" type="text/ng-template">
@routes.Assets.at("html/bubble_chart.html")
</script>
<script id="screen_chart" type="text/ng-template">
@routes.Assets.at("html/screen_chart.html")
</script>
<script id="gantt_chart" type="text/ng-template">
@routes.Assets.at("html/gantt_chart.html")
</script>
<script id="campaign_list" type="text/ng-template">
@routes.Assets.at("html/campaign_list.html")
</script>
<script id="campaign_details" type="text/ng-template">
@routes.Assets.at("html/campaign_details.html")
</script>
<script id="campaign_filters" type="text/ng-template">
@routes.Assets.at("html/campaign_filters.html")
</script>
<script id="campaign_list_filters" type="text/ng-template">
@routes.Assets.at("html/campaign_list_filters.html")
</script>
<script id="campaign_cost_filters" type="text/ng-template">
@routes.Assets.at("html/campaign_cost_filters.html")
</script>
<script id="campaign_dashboard" type="text/ng-template">
@routes.Assets.at("html/campaign_dashboard.html")
</script>
<script id="campaign_card" type="text/ng-template">
@routes.Assets.at("html/campaign_card.html")
</script>
<script id="campaign_cost_card" type="text/ng-template">
@routes.Assets.at("html/campaign_cost_card.html")
</script>
<script id="campaign_strategy_card" type="text/ng-template">
@routes.Assets.at("html/campaign_strategy_card.html")
</script>
<script id="campaign_tactics_card" type="text/ng-template">
@routes.Assets.at("html/campaign_tactics_card.html")
</script>
<script id="optimization" type="text/ng-template">
@routes.Assets.at("html/optimization.html")
</script>
<script id="inventory" type="text/ng-template">
@routes.Assets.at("html/inventory.html")
</script>
<script id="viewability" type="text/ng-template">
@routes.Assets.at("html/viewability.html")
</script>
<script id="cost" type="text/ng-template">
@routes.Assets.at("html/cost.html")
</script>
<script id="performance" type="text/ng-template">
@routes.Assets.at("html/performance.html")
</script>
<script id="multi_select" type="text/ng-template">
@routes.Assets.at("html/multi_select.html")
</script>
<script id="reports_login" type="text/ng-template">
@routes.Assets.at("html/reports_login.html")
</script>
<script id="main_dashboard" type="text/ng-template">
@routes.Assets.at("html/main_dashboard.html")
</script>
}
