@(content: Html)
@import play.api.Play
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title ng-bind="'Visto | '+ title"></title>
    <meta content='Collective Desk UI' name='description'>
    <meta content='Collective' name='author'>
    <meta name="fragment" content="!" />
    <link href='/assets/images/collective.png' rel='shortcut icon' type='image/x-icon'>
    <link href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")' media="all" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Armata" media="screen" rel="stylesheet" />
    <link rel="stylesheet" media="all" href='@routes.Assets.versioned("stylesheets/cdesk_application.css")'>

    <script>
      window.scala_api                = '@Play.current.configuration.getString("application.scala_api")';
      window.workflow_api             = '@Play.current.configuration.getString("application.workflow_api")';
      window.version                  = '@Play.current.configuration.getString("application.version")';
      window.i18nlanguage             = '@Play.current.configuration.getString("application.language")';
    </script>

</head>
<body class={{bodyclass}} >
<header></header>
@content
<script>
    window.assets                   = {};
    window.assets.target_marker     = "assets/images/cdesk/target_indicator_dark.png";
    window.assets.platform_icon     = "assets/images/tag_icon.png";
    window.assets.ontrack           = "assets/images/statusWidget/on_track_icon.png";
    window.assets.underperforming   = "assets/images/statusWidget/underperforming_icon.png";
    window.assets.paused            = "assets/images/statusWidget/paused_icon.png";
    window.assets.ready             = "assets/images/statusWidget/ready_icon.png";
    window.assets.completed         = "assets/images/statusWidget/completed_icon.png";
    window.assets.draft             = "assets/images/statusWidget/draft_icon.png";
    window.assets.active            = "assets/images/statusWidget/active_icon.png";
    window.assets.display           = "assets/images/cdesk/desktop_screen_icon.png" ;
    window.assets.video             = "assets/images/cdesk/video_screen_icon.png" ;
    window.assets.social            = "assets/images/cdesk/social_screen_icon.png" ;
    window.assets.mobile            = "assets/images/cdesk/smartphone_screen_icon.png" ;
    window.assets.desktop           = "assets/images/cdesk/desktop_screen_icon.png" ;
    window.assets.smartphone        = "assets/images/cdesk/smartphone_screen_icon.png" ;
    window.assets.tablet            = "assets/images/cdesk/tablet_screen_icon.png" ;

    window.assets.gray_left         = "assets/images/calendar/cal_arrow_left_gray_16x16_2x.png" ;
    window.assets.gray_left_act     = "assets/images/calendar/cal_arrow_left_gray_16x16_2x_active.png" ;
    window.assets.gray_right        = "assets/images/calendar/cal_arrow_right_gray_16x16_2x.png" ;
    window.assets.gray_right_act    = "assets/images/calendar/cal_arrow_right_gray_16x16_2x_active.png" ;
    window.assets.orange_left       = "assets/images/calendar/cal_arrow_left_orange_16x16_2x.png" ;
    window.assets.orange_left_act   = "assets/images/calendar/cal_arrow_left_orange_16x16_2x_active.png" ;
    window.assets.orange_right      = "assets/images/calendar/cal_arrow_right_orange_16x16_2x.png" ;
    window.assets.orange_right_act  = "assets/images/calendar/cal_arrow_right_orange_16x16_2x_active.png" ;
    window.assets.green_left        = "assets/images/calendar/cal_arrow_left_green_16x16_2x.png" ;
    window.assets.green_left_act    = "assets/images/calendar/cal_arrow_left_green_16x16_2x_active.png" ;
    window.assets.green_right       = "assets/images/calendar/cal_arrow_right_green_16x16_2x.png" ;
    window.assets.green_right_act   = "assets/images/calendar/cal_arrow_right_green_16x16_2x_active.png" ;

    window.assets.html_campaign_details = '@routes.Assets.versioned("html/campaign_details.html")';
    window.assets.html_optimization = '@routes.Assets.versioned("html/optimization.html")';
    window.assets.html_inventory = '@routes.Assets.versioned("html/inventory.html")';
    window.assets.html_viewability = '@routes.Assets.versioned("html/viewability.html")';
    window.assets.html_cost = '@routes.Assets.versioned("html/cost.html")';
    window.assets.html_performance = '@routes.Assets.versioned("html/performance.html")';
    window.assets.html_platform = '@routes.Assets.versioned("html/platform.html")';
    window.assets.html_brands_drop_down = '@routes.Assets.versioned("html/brands_drop_down.html")';
    window.assets.html_campaign_list = '@routes.Assets.versioned("html/campaign_list.html")';
    window.assets.html_campaign_drop_down = '@routes.Assets.versioned("html/campaign_drop_down.html")';
    window.assets.html_gauge = '@routes.Assets.versioned("html/gauge.html")';
    window.assets.html_header = '@routes.Assets.versioned("html/header.html")';
    window.assets.html_dashboard = '@routes.Assets.versioned("html/dashboard.html")';
    window.assets.html_bubble_chart = '@routes.Assets.versioned("html/bubble_chart.html")';
    window.assets.html_gantt_chart = '@routes.Assets.versioned("html/gantt_chart.html")';
    window.assets.html_screen_chart = '@routes.Assets.versioned("html/screen_chart.html")';
    window.assets.html_campaign_card = '@routes.Assets.versioned("html/campaign_card.html")';
    window.assets.html_campaign_cost_card = '@routes.Assets.versioned("html/campaign_cost_card.html")';
    window.assets.html_campaign_cost_filters = '@routes.Assets.versioned("html/campaign_cost_filters.html")';
    window.assets.html_campaign_dashboard = '@routes.Assets.versioned("html/campaign_dashboard.html")';
    window.assets.html_campaign_list_filters = '@routes.Assets.versioned("html/campaign_list_filters.html")';
    window.assets.html_campaign_filters = '@routes.Assets.versioned("html/campaign_filters.html")';
    window.assets.html_campaign_strategy_card = '@routes.Assets.versioned("html/campaign_strategy_card.html")';
    window.assets.html_campaign_tactics_card = '@routes.Assets.versioned("html/campaign_tactics_card.html")';
    window.assets.html_kpi_drop_down = '@routes.Assets.versioned("html/kpi_drop_down.html")';
    window.assets.html_reports_login = '@routes.Assets.versioned("html/reports_login.html")';
    window.assets.html_multi_select = '@routes.Assets.versioned("html/multi_select.html")';
    window.assets.html_strategy_drop_down = '@routes.Assets.versioned("html/strategy_drop_down.html")';
    window.assets.html_timeperiod_drop_down = '@routes.Assets.versioned("html/timeperiod_drop_down.html")';

</script>
<script data-main='@routes.Assets.versioned("javascripts/main.js")' type='text/javascript' src='@routes.Assets.versioned("javascripts/vendor/require.min.js")'></script>
@about()
@ga()
</body>
</html>

