@(content: Html)
@import play.api.Play
<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset='utf-8'>
    <title>Reporting</title>
    <meta content='Collective Desk UI' name='description'>
    <meta content='Collective' name='author'>
    <link href='/assets/images/collective.png' rel='shortcut icon' type='image/x-icon'>
    <link href="/assets/stylesheets/jquery-ui-1.10.3.custom.min.css?body=1" media="all" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" media="all" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")" media="all" rel="stylesheet" />
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.min.css")" media="all" rel="stylesheet" />
    <link href="/assets/stylesheets/highcharts.css?body=1" media="all" rel="stylesheet" /> 
    <link href="//fonts.googleapis.com/css?family=Armata" media="screen" rel="stylesheet" />
    <link rel="stylesheet" media="all" href="@routes.Assets.versioned("stylesheets/cdesk_application.css")">



    <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/require.min.js")"></script>

    <script>
      window.scala_api                = "@Play.current.configuration.getString("application.scala_api")"
      window.workflow_api             = "@Play.current.configuration.getString("application.workflow_api")" 
      window.version                  = "@Play.current.configuration.getString("application.version")" 
    </script>
     
       
 
@ga() 
 <script> 
    window.assets                   = {};
    window.assets.target_marker     = "assets/images/cdesk/icn_goal.png";
    window.assets.platform_icon     = "assets/images/tag_icon.png";
    window.assets.ontrack           = "assets/images/statusWidget/on_track_icon.png";
    window.assets.underperforming   = "assets/images/statusWidget/underperforming_icon.png";
    window.assets.paused            = "assets/images/statusWidget/paused_icon.png";
    window.assets.ready             = "assets/images/statusWidget/ready_icon.png";
    window.assets.completed         = "assets/images/statusWidget/completed_icon.png";
    window.assets.draft             = "assets/images/statusWidget/draft_icon.png";
    window.assets.active            = "assets/images/statusWidget/active_icon.png";
    window.assets.display           = "assets/images/cdesk/desktop_screen_icon.png" ;
    window.assets.video             = "assets/images/cdesk/video_screen_icon.png" ;
    window.assets.social            = "assets/images/cdesk/social_screen_icon.png" ;
    window.assets.mobile            = "assets/images/cdesk/smartphone_screen_icon.png" ;
    window.assets.desktop           = "assets/images/cdesk/desktop_screen_icon.png" ;
    window.assets.smartphone        = "assets/images/cdesk/smartphone_screen_icon.png" ;
    window.assets.tablet            = "assets/images/cdesk/tablet_screen_icon.png" ;
</script>
</head>
<body>
<header></header>
</body>
@content
</html>

