@(content: Html)
@import play.api.Play
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title ng-bind="'Visto | '+ title"></title>
    <meta content='Collective Desk UI' name='description'>
    <meta content='Collective' name='author'>
    <meta name="fragment" content="!" />
    <link href='/assets/images/collective.png' rel='shortcut icon' type='image/x-icon'>
    <link href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")' media="all" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Armata" media="screen" rel="stylesheet" />
    <link rel="stylesheet" media="all" href='@routes.Assets.versioned("stylesheets/cdesk_application.css")'>
    <script>
      window.scala_api                = '@Play.current.configuration.getString("application.scala_api")';
      window.scala_api_NEW            = '@Play.current.configuration.getString("application.scala_api_NEW")';
      window.workflow_api             = '@Play.current.configuration.getString("application.workflow_api")';
      window.workflowCreate_api       = '@Play.current.configuration.getString("application.workflowCreate_api")';
      window.version                  = '@Play.current.configuration.getString("application.version")';
      window.i18nlanguage             = '@Play.current.configuration.getString("application.language")';
      window.help_domain_url          = '@Play.current.configuration.getString("application.help_domain_url")';
    </script>
</head>
<body ng-cloak class="{{bodyclass}} {{productType}} {{customReport}}">
<header></header>
@content
@versions()
<script data-main='@routes.Assets.versioned("javascripts/main.js")' type='text/javascript' src='@routes.Assets.versioned("javascripts/vendor/require.min.js")' defer></script>
@about()
@ga()
</body>
</html>

