@import play.api.Play
<script>
    var IMAGES_PATH = 'assets/images/',
        IMAGES_STATUS_WIDGET_PATH = IMAGES_PATH + 'statusWidget/',
        IMAGES_STATUS_BULBS_PATH = IMAGES_PATH + 'statusBulbs/',
        IMAGES_CDESK_PATH = IMAGES_PATH + 'cdesk/',
        IMAGES_CALENDAR_PATH = IMAGES_PATH + 'calendar/',
        STYLESHEETS_PATH = '../assets/stylesheets/',
        REPORTING_PATH = '@routes.Assets.versioned("html/reporting/',
        REPORTING_PARTIALS_PATH = '@routes.Assets.versioned("html/reporting/partials/',
        WORKFLOW_PATH  = '@routes.Assets.versioned("html/workflow/',
        WORKFLOW_PARTIALS_PATH = '@routes.Assets.versioned("html/workflow/partials/';

    window.assets                   = {};
    window.assets.platform_icon     = IMAGES_PATH + 'tag_icon.png';

    window.assets.ontrack           = IMAGES_STATUS_WIDGET_PATH + 'on_track_icon.png';
    window.assets.underperforming   = IMAGES_STATUS_WIDGET_PATH + 'underperforming_icon.png';
    window.assets.paused            = IMAGES_STATUS_WIDGET_PATH + 'paused_icon.png';
    window.assets.ready             = IMAGES_STATUS_WIDGET_PATH + 'ready_icon.png';
    window.assets.completed         = IMAGES_STATUS_WIDGET_PATH + 'completed_icon.png';
    window.assets.draft             = IMAGES_STATUS_WIDGET_PATH + 'draft_icon.png';
    window.assets.active            = IMAGES_STATUS_WIDGET_PATH + 'active_icon.png';

    window.assets.statusbulb_completed  = IMAGES_STATUS_BULBS_PATH + 'ended.png';
    window.assets.statusbulb_draft      = IMAGES_STATUS_BULBS_PATH + 'incomplete.png';
    window.assets.statusbulb_inflight   = IMAGES_STATUS_BULBS_PATH + 'inflight.png';
    window.assets.statusbulb_scheduled  = IMAGES_STATUS_BULBS_PATH + 'scheduled.png';

    window.assets.target_marker     = IMAGES_CDESK_PATH + 'target_indicator_dark.png';
    window.assets.display           = IMAGES_CDESK_PATH + 'desktop_screen_icon.png';
    window.assets.video             = IMAGES_CDESK_PATH + 'video_screen_icon.png';
    window.assets.social            = IMAGES_CDESK_PATH + 'social_screen_icon.png';
    window.assets.mobile            = IMAGES_CDESK_PATH + 'smartphone_screen_icon.png';
    window.assets.desktop           = IMAGES_CDESK_PATH + 'desktop_screen_icon.png';
    window.assets.smartphone        = IMAGES_CDESK_PATH + 'smartphone_screen_icon.png';
    window.assets.tablet            = IMAGES_CDESK_PATH + 'tablet_screen_icon.png';

    window.assets.gray_left         = IMAGES_CALENDAR_PATH + 'cal_arrow_left_gray_16x16_2x.png';
    window.assets.gray_left_act     = IMAGES_CALENDAR_PATH + 'cal_arrow_left_gray_16x16_2x_active.png';
    window.assets.gray_right        = IMAGES_CALENDAR_PATH + 'cal_arrow_right_gray_16x16_2x.png';
    window.assets.gray_right_act    = IMAGES_CALENDAR_PATH + 'cal_arrow_right_gray_16x16_2x_active.png';
    window.assets.orange_left       = IMAGES_CALENDAR_PATH + 'cal_arrow_left_orange_16x16_2x.png';
    window.assets.orange_left_act   = IMAGES_CALENDAR_PATH + 'cal_arrow_left_orange_16x16_2x_active.png';
    window.assets.orange_right      = IMAGES_CALENDAR_PATH + 'cal_arrow_right_orange_16x16_2x.png';
    window.assets.orange_right_act  = IMAGES_CALENDAR_PATH + 'cal_arrow_right_orange_16x16_2x_active.png';
    window.assets.green_left        = IMAGES_CALENDAR_PATH + 'cal_arrow_left_green_16x16_2x.png';
    window.assets.green_left_act    = IMAGES_CALENDAR_PATH + 'cal_arrow_left_green_16x16_2x_active.png';
    window.assets.green_right       = IMAGES_CALENDAR_PATH + 'cal_arrow_right_green_16x16_2x.png';
    window.assets.green_right_act   = IMAGES_CALENDAR_PATH + 'cal_arrow_right_green_16x16_2x_active.png';

    window.assets.css_custom_reports        = STYLESHEETS_PATH + 'custom_reports.css';
    window.assets.css_reports_schedule_list = STYLESHEETS_PATH + 'reports_schedule_list.css';
    window.assets.css_visto_application     = STYLESHEETS_PATH + 'visto_application.css';

    window.assets.html_campaign_details          = REPORTING_PATH + 'campaign_details.html")';
    window.assets.html_optimization              = REPORTING_PATH + 'optimization.html")';
    window.assets.html_inventory                 = REPORTING_PATH + 'inventory.html")';
    window.assets.html_viewability               = REPORTING_PATH + 'viewability.html")';
    window.assets.html_cost                      = REPORTING_PATH + 'cost.html")';
    window.assets.html_performance               = REPORTING_PATH + 'performance.html")';
    window.assets.html_platform                  = REPORTING_PATH + 'platform.html")';
    window.assets.html_custom_report             = REPORTING_PATH + 'custom_report.html")';
    window.assets.html_custom_report_upload      = REPORTING_PATH + 'custom_report_upload.html")';
    window.assets.html_brands_drop_down          = REPORTING_PATH + 'brands_drop_down.html")';
    window.assets.html_advertiser_drop_down      = REPORTING_PATH + 'advertiser_drop_down.html")';
    window.assets.html_campaign_list             = REPORTING_PATH + 'campaign_list.html")';
    window.assets.html_campaign_drop_down        = REPORTING_PATH + 'campaign_drop_down.html")';
    window.assets.html_gauge                     = REPORTING_PATH + 'gauge.html")';
    window.assets.html_header                    = REPORTING_PATH + 'header.html")';
    window.assets.html_dashboard                 = REPORTING_PATH + 'dashboard.html")';
    window.assets.html_bubble_chart              = REPORTING_PATH + 'bubble_chart.html")';
    window.assets.html_gantt_chart               = REPORTING_PATH + 'gantt_chart.html")';
    window.assets.html_screen_chart              = REPORTING_PATH + 'screen_chart.html")';
    window.assets.html_campaign_card             = REPORTING_PATH + 'campaign_card.html")';
    window.assets.html_campaign_cost_card        = REPORTING_PATH + 'campaign_cost_card.html")';
    window.assets.html_campaign_cost_filters     = REPORTING_PATH + 'campaign_cost_filters.html")';
    window.assets.html_campaign_dashboard        = REPORTING_PATH + 'campaign_dashboard.html")';
    window.assets.html_campaign_list_filters     = REPORTING_PATH + 'campaign_list_filters.html")';
    window.assets.html_campaign_filters          = REPORTING_PATH + 'campaign_filters.html")';
    window.assets.html_campaign_strategy_card    = REPORTING_PATH + 'campaign_strategy_card.html")';
    window.assets.html_campaign_tactics_card     = REPORTING_PATH + 'campaign_tactics_card.html")';
    window.assets.html_kpi_drop_down             = REPORTING_PATH + 'kpi_drop_down.html")';
    window.assets.html_reports_login             = REPORTING_PATH + 'reports_login.html")';
    window.assets.html_multi_select              = REPORTING_PATH + 'multi_select.html")';
    window.assets.html_strategy_drop_down        = REPORTING_PATH + 'strategy_drop_down.html")';
    window.assets.html_timeperiod_drop_down      = REPORTING_PATH + 'timeperiod_drop_down.html")';
    window.assets.html_users                     = REPORTING_PATH + 'users.html")';
    window.assets.html_help                      = REPORTING_PATH + 'help.html")';
    window.assets.html_collective_report_listing = REPORTING_PATH + 'collective_report_listing.html")';
    window.assets.html_reports_schedule_list     = REPORTING_PATH + 'reports_schedule_list.html")';
    window.assets.html_edit_collective_report    = REPORTING_PATH + 'edit_collective_report.html")';
    window.assets.html_delete_collective_report  = REPORTING_PATH + 'delete_collective_report.html")';
    window.assets.html_campaign_lst_filter       = REPORTING_PATH + 'campaign_lst_filter.html")';
    window.assets.html_confirmation_modal        = REPORTING_PATH + 'confirmation_modal.html")';

    window.assets.html_bar_chart            = REPORTING_PARTIALS_PATH + 'bar_chart.html")';
    window.assets.html_report_header_tab    = REPORTING_PARTIALS_PATH + 'reports_header_tab.html")';
    window.assets.html_add_report_filter    = REPORTING_PARTIALS_PATH + 'add_report_filter.html")';
    window.assets.html_add_filter_users     = REPORTING_PARTIALS_PATH + 'add_filter_users.html")';
    window.assets.html_add_report_dimension = REPORTING_PARTIALS_PATH + 'add_report_dimension.html")';
    window.assets.html_screen_header        = REPORTING_PARTIALS_PATH + 'screen_header.html")';
    window.assets.html_daysofweek_header    = REPORTING_PARTIALS_PATH + 'daysofweek_header.html")';
    window.assets.html_format_header        = REPORTING_PARTIALS_PATH + 'format_header.html")';
    window.assets.html_performance_header   = REPORTING_PARTIALS_PATH + 'performance_header.html")';
    window.assets.html_cost_header          = REPORTING_PARTIALS_PATH + 'cost_header.html")';
    window.assets.html_viewablity_header    = REPORTING_PARTIALS_PATH + 'viewablity_header.html")';
    window.assets.html_creatives_header     = REPORTING_PARTIALS_PATH + 'creatives_header.html")';
    window.assets.html_adsizes_header       = REPORTING_PARTIALS_PATH + 'adsizes_header.html")';
    window.assets.html_download_report      = REPORTING_PARTIALS_PATH + 'download_report.html")';
    window.assets.html_header_filters       = REPORTING_PARTIALS_PATH + 'header_filters.html")';
    window.assets.html_users_add_or_edit    = REPORTING_PARTIALS_PATH + 'users_add_or_edit.html")';
    window.assets.html_filters_header       = REPORTING_PARTIALS_PATH + 'filters_header.html")';

    window.assets.html_campaign_create         = WORKFLOW_PATH + 'campaign_create.html")';
    window.assets.html_campaign_create_ad      = WORKFLOW_PATH + 'campaign_overview.html")';
    window.assets.html_campaign_create_adBuild = WORKFLOW_PATH + 'campaign_ad_create.html")';
    window.assets.html_creative                = WORKFLOW_PATH + 'creative.html")';
    window.assets.html_creative_list           = WORKFLOW_PATH + 'creative_list.html")';
    window.assets.html_workflow_campaign_list  = WORKFLOW_PATH + 'campaign_list.html")';
    window.assets.html_accounts                = WORKFLOW_PATH + 'accounts.html")';

    window.assets.html_creative_drop_down              = WORKFLOW_PARTIALS_PATH + 'creative_drop_down.html")';
    window.assets.html_platform_collective_bidder      = WORKFLOW_PARTIALS_PATH + 'platforms/plat-collective-bidder.html")';
    window.assets.html_platform_app_nexus              = WORKFLOW_PARTIALS_PATH + 'platforms/plat-app-nexus.html")';
    window.assets.html_accounts_add_or_edit_advertiser = WORKFLOW_PARTIALS_PATH + 'accounts_add_or_edit_advertiser.html")';
    window.assets.html_accounts_add_or_edit_brand      = WORKFLOW_PARTIALS_PATH + 'accounts_add_or_edit_brand.html")';
    window.assets.html_accounts_add_or_edit            = WORKFLOW_PARTIALS_PATH + 'accounts_add_or_edit.html")';
    window.assets.html_change_account_warning          = WORKFLOW_PARTIALS_PATH + 'change_account_warning.html")';
</script>