@import play.api.Play
<script>
    var IMAGES_PATH = 'assets/images/',
        IMAGES_STATUS_WIDGET_PATH = IMAGES_PATH + 'statusWidget/',
        IMAGES_STATUS_BULBS_PATH = IMAGES_PATH + 'statusBulbs/',
        IMAGES_CDESK_PATH = IMAGES_PATH + 'cdesk/',
        IMAGES_CALENDAR_PATH = IMAGES_PATH + 'calendar/',
        STYLESHEETS_PATH = '../assets/stylesheets/',
        assets = {};

    assets.platform_icon     = IMAGES_PATH + 'tag_icon.png';

    assets.ontrack           = IMAGES_STATUS_WIDGET_PATH + 'on_track_icon.png';
    assets.underperforming   = IMAGES_STATUS_WIDGET_PATH + 'underperforming_icon.png';
    assets.paused            = IMAGES_STATUS_WIDGET_PATH + 'paused_icon.png';
    assets.ready             = IMAGES_STATUS_WIDGET_PATH + 'ready_icon.png';
    assets.completed         = IMAGES_STATUS_WIDGET_PATH + 'completed_icon.png';
    assets.draft             = IMAGES_STATUS_WIDGET_PATH + 'draft_icon.png';
    assets.active            = IMAGES_STATUS_WIDGET_PATH + 'active_icon.png';

    assets.statusbulb_completed  = IMAGES_STATUS_BULBS_PATH + 'ended.png';
    assets.statusbulb_draft      = IMAGES_STATUS_BULBS_PATH + 'incomplete.png';
    assets.statusbulb_inflight   = IMAGES_STATUS_BULBS_PATH + 'inflight.png';
    assets.statusbulb_scheduled  = IMAGES_STATUS_BULBS_PATH + 'scheduled.png';

    assets.target_marker     = IMAGES_CDESK_PATH + 'target_indicator_dark.png';
    assets.display           = IMAGES_CDESK_PATH + 'desktop_screen_icon.png';
    assets.video             = IMAGES_CDESK_PATH + 'video_screen_icon.png';
    assets.social            = IMAGES_CDESK_PATH + 'social_screen_icon.png';
    assets.mobile            = IMAGES_CDESK_PATH + 'smartphone_screen_icon.png';
    assets.desktop           = IMAGES_CDESK_PATH + 'desktop_screen_icon.png';
    assets.smartphone        = IMAGES_CDESK_PATH + 'smartphone_screen_icon.png';
    assets.tablet            = IMAGES_CDESK_PATH + 'tablet_screen_icon.png';

    assets.gray_left         = IMAGES_CALENDAR_PATH + 'cal_arrow_left_gray_16x16_2x.png';
    assets.gray_left_act     = IMAGES_CALENDAR_PATH + 'cal_arrow_left_gray_16x16_2x_active.png';
    assets.gray_right        = IMAGES_CALENDAR_PATH + 'cal_arrow_right_gray_16x16_2x.png';
    assets.gray_right_act    = IMAGES_CALENDAR_PATH + 'cal_arrow_right_gray_16x16_2x_active.png';
    assets.orange_left       = IMAGES_CALENDAR_PATH + 'cal_arrow_left_orange_16x16_2x.png';
    assets.orange_left_act   = IMAGES_CALENDAR_PATH + 'cal_arrow_left_orange_16x16_2x_active.png';
    assets.orange_right      = IMAGES_CALENDAR_PATH + 'cal_arrow_right_orange_16x16_2x.png';
    assets.orange_right_act  = IMAGES_CALENDAR_PATH + 'cal_arrow_right_orange_16x16_2x_active.png';
    assets.green_left        = IMAGES_CALENDAR_PATH + 'cal_arrow_left_green_16x16_2x.png';
    assets.green_left_act    = IMAGES_CALENDAR_PATH + 'cal_arrow_left_green_16x16_2x_active.png';
    assets.green_right       = IMAGES_CALENDAR_PATH + 'cal_arrow_right_green_16x16_2x.png';
    assets.green_right_act   = IMAGES_CALENDAR_PATH + 'cal_arrow_right_green_16x16_2x_active.png';

    assets.css_custom_reports        = STYLESHEETS_PATH + 'custom_reports.css';
    assets.css_reports_schedule_list = STYLESHEETS_PATH + 'reports_schedule_list.css';
    assets.css_visto_application     = STYLESHEETS_PATH + 'visto_application.css';

    assets.html_campaign_details          = '@routes.Assets.versioned("html/reporting/campaign_details.html")';
    assets.html_optimization              = '@routes.Assets.versioned("html/reporting/optimization.html")';
    assets.html_inventory                 = '@routes.Assets.versioned("html/reporting/inventory.html")';
    assets.html_viewability               = '@routes.Assets.versioned("html/reporting/viewability.html")';
    assets.html_cost                      = '@routes.Assets.versioned("html/reporting/cost.html")';
    assets.html_performance               = '@routes.Assets.versioned("html/reporting/performance.html")';
    assets.html_platform                  = '@routes.Assets.versioned("html/reporting/platform.html")';
    assets.html_custom_report             = '@routes.Assets.versioned("html/reporting/custom_report.html")';
    assets.html_custom_report_upload      = '@routes.Assets.versioned("html/reporting/custom_report_upload.html")';
    assets.html_brands_drop_down          = '@routes.Assets.versioned("html/reporting/brands_drop_down.html")';
    assets.html_advertiser_drop_down      = '@routes.Assets.versioned("html/reporting/advertiser_drop_down.html")';
    assets.html_campaign_list             = '@routes.Assets.versioned("html/reporting/campaign_list.html")';
    assets.html_campaign_drop_down        = '@routes.Assets.versioned("html/reporting/campaign_drop_down.html")';
    assets.html_gauge                     = '@routes.Assets.versioned("html/reporting/gauge.html")';
    assets.html_header                    = '@routes.Assets.versioned("html/reporting/header.html")';
    assets.html_dashboard                 = '@routes.Assets.versioned("html/reporting/dashboard.html")';
    assets.html_bubble_chart              = '@routes.Assets.versioned("html/reporting/bubble_chart.html")';
    assets.html_gantt_chart               = '@routes.Assets.versioned("html/reporting/gantt_chart.html")';
    assets.html_screen_chart              = '@routes.Assets.versioned("html/reporting/screen_chart.html")';
    assets.html_campaign_card             = '@routes.Assets.versioned("html/reporting/campaign_card.html")';
    assets.html_campaign_cost_card        = '@routes.Assets.versioned("html/reporting/campaign_cost_card.html")';
    assets.html_campaign_cost_filters     = '@routes.Assets.versioned("html/reporting/campaign_cost_filters.html")';
    assets.html_campaign_dashboard        = '@routes.Assets.versioned("html/reporting/campaign_dashboard.html")';
    assets.html_campaign_list_filters     = '@routes.Assets.versioned("html/reporting/campaign_list_filters.html")';
    assets.html_campaign_filters          = '@routes.Assets.versioned("html/reporting/campaign_filters.html")';
    assets.html_campaign_strategy_card    = '@routes.Assets.versioned("html/reporting/campaign_strategy_card.html")';
    assets.html_campaign_tactics_card     = '@routes.Assets.versioned("html/reporting/campaign_tactics_card.html")';
    assets.html_kpi_drop_down             = '@routes.Assets.versioned("html/reporting/kpi_drop_down.html")';
    assets.html_reports_login             = '@routes.Assets.versioned("html/reporting/reports_login.html")';
    assets.html_multi_select              = '@routes.Assets.versioned("html/reporting/multi_select.html")';
    assets.html_strategy_drop_down        = '@routes.Assets.versioned("html/reporting/strategy_drop_down.html")';
    assets.html_timeperiod_drop_down      = '@routes.Assets.versioned("html/reporting/timeperiod_drop_down.html")';
    assets.html_users                     = '@routes.Assets.versioned("html/reporting/users.html")';
    assets.html_help                      = '@routes.Assets.versioned("html/reporting/help.html")';
    assets.html_collective_report_listing = '@routes.Assets.versioned("html/reporting/collective_report_listing.html")';
    assets.html_reports_schedule_list     = '@routes.Assets.versioned("html/reporting/reports_schedule_list.html")';
    assets.html_edit_collective_report    = '@routes.Assets.versioned("html/reporting/edit_collective_report.html")';
    assets.html_delete_collective_report  = '@routes.Assets.versioned("html/reporting/delete_collective_report.html")';
    assets.html_campaign_lst_filter       = '@routes.Assets.versioned("html/reporting/campaign_lst_filter.html")';
    assets.html_confirmation_modal        = '@routes.Assets.versioned("html/reporting/confirmation_modal.html")';

    assets.html_bar_chart            = '@routes.Assets.versioned("html/reporting/partials/bar_chart.html")';
    assets.html_report_header_tab    = '@routes.Assets.versioned("html/reporting/partials/reports_header_tab.html")';
    assets.html_add_report_filter    = '@routes.Assets.versioned("html/reporting/partials/add_report_filter.html")';
    assets.html_add_filter_users     = '@routes.Assets.versioned("html/reporting/partials/add_filter_users.html")';
    assets.html_add_report_dimension = '@routes.Assets.versioned("html/reporting/partials/add_report_dimension.html")';
    assets.html_screen_header        = '@routes.Assets.versioned("html/reporting/partials/screen_header.html")';
    assets.html_daysofweek_header    = '@routes.Assets.versioned("html/reporting/partials/daysofweek_header.html")';
    assets.html_format_header        = '@routes.Assets.versioned("html/reporting/partials/format_header.html")';
    assets.html_performance_header   = '@routes.Assets.versioned("html/reporting/partials/performance_header.html")';
    assets.html_cost_header          = '@routes.Assets.versioned("html/reporting/partials/cost_header.html")';
    assets.html_viewablity_header    = '@routes.Assets.versioned("html/reporting/partials/viewablity_header.html")';
    assets.html_creatives_header     = '@routes.Assets.versioned("html/reporting/partials/creatives_header.html")';
    assets.html_adsizes_header       = '@routes.Assets.versioned("html/reporting/partials/adsizes_header.html")';
    assets.html_download_report      = '@routes.Assets.versioned("html/reporting/partials/download_report.html")';
    assets.html_header_filters       = '@routes.Assets.versioned("html/reporting/partials/header_filters.html")';
    assets.html_users_add_or_edit    = '@routes.Assets.versioned("html/reporting/partials/users_add_or_edit.html")';
    assets.html_filters_header       = '@routes.Assets.versioned("html/reporting/partials/filters_header.html")';

    assets.html_campaign_create         = '@routes.Assets.versioned("html/workflow/campaign_create.html")';
    assets.html_campaign_create_ad      = '@routes.Assets.versioned("html/workflow/campaign_overview.html")';
    assets.html_campaign_create_adBuild = '@routes.Assets.versioned("html/workflow/campaign_ad_create.html")';
    assets.html_creative                = '@routes.Assets.versioned("html/workflow/creative.html")';
    assets.html_creative_list           = '@routes.Assets.versioned("html/workflow/creative_list.html")';
    assets.html_workflow_campaign_list  = '@routes.Assets.versioned("html/workflow/campaign_list.html")';
    assets.html_accounts                = '@routes.Assets.versioned("html/workflow/accounts.html")';

    assets.html_creative_drop_down              = '@routes.Assets.versioned("html/workflow/partials/creative_drop_down.html")';
    assets.html_platform_collective_bidder      = 
        '@routes.Assets.versioned("html/workflow/partials/platforms/plat-collective-bidder.html")';
    assets.html_platform_app_nexus              = '@routes.Assets.versioned("html/workflow/partials/platforms/plat-app-nexus.html")';
    assets.html_accounts_add_or_edit_advertiser = 
        '@routes.Assets.versioned("html/workflow/partials/accounts_add_or_edit_advertiser.html")';
    assets.html_accounts_add_or_edit_brand      = '@routes.Assets.versioned("html/workflow/partials/accounts_add_or_edit_brand.html")';
    assets.html_accounts_add_or_edit            = '@routes.Assets.versioned("html/workflow/partials/accounts_add_or_edit.html")';
    assets.html_change_account_warning          = '@routes.Assets.versioned("html/workflow/partials/change_account_warning.html")';
</script>