#details.content

:javascript
  $(document).ready(function() {
    ReachUI.SetupGlobalErrorHandler();

    var controller = new ReachUI.AudienceGroups.Controller();
      controller.initializeForEditAudienceGroup('#{@audience_group.id}');

    $(document).on('click','#myTab a',function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

  });