<div class="graph_heading">
    {{barData.widgetName}} ({{barData.kpiType | uppercase}})
</div>

<div class="clearfix each_section_graph format_section_graph dataScreenIconsText"  ng-if="(barData.data.length > 0 && total > 0)">
    <div class="platform_number" ng-if="barData.showLabel" ng-style="disableLabel">
        <span> {{ textConstants.TOP_THREE }}</span>
    </div>
    <div ng-repeat="d in barData.data track by $index" class="each_bar_section_holder {{d.className}}">
        <div class="imgContainer" ng-if="d.icon_url"><img ng-src="{{d.icon_url==='Unknown' ? '/assets/images/platform_logos/platform_logo.png':d.icon_url}}" height='15'/></div>
        <div>{{d.type}} {{(d.value | kpiFormatter : barData.kpiType)}}</div>
    </div>
</div>
<div class="barChartWidget" ></div>

<div  ng-if="((total == 0 || barData.data.length == 0 ) && loadingScreenFlag == false)" class="no-data-available" ng-bind-html="getMessageForDataNotAvailable(campaign,'screens')"></div>
