<div class="each_cost_col first_col">Platform Name</div>
<div class="each_cost_col sec_col">Imps.</div>
<div class="each_cost_col third_col ">
    <div class="dropdown kpi-dd-holder">
        <kpi-drop-down type="selected_filters.kpi_type.toLowerCase()"> </kpi-drop-down>
    </div>
</div>
<div class="each_cost_col fourth_col ">Inventory</div>
<div class="each_cost_col fifth_col ">Data</div>
<div class="each_cost_col sixth_col ">Ad Serving</div>
<div class="each_cost_col seventh_col ">Creative</div>
<div class="each_cost_col eigth_col ">Research</div>
<div class="each_cost_col ninth_col">Ad Verification</div>
<div class="each_cost_col tenth_col total_cost">Total Spend</div>
<!-- ngIf: more_options -->
