<div class="each_col sec_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('dimension',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'dimension'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'Creatives'"></span>{{textConstants.CREATIVE}}</span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-impressions',sortTypebycreatives,!sortReverseCreativesTab)" ng-click="sortTypebycreatives = '-impressions'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'delivery'"></span>{{textConstants.IMP_WITH_DOT}}</span>
</div>


<span  ng-show="adFormats.videoAds  == true">
    <div class="each_col third_col">
        <span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.ad_starts',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.ad_starts'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'video_metrics.ad_starts'"></span>{{textConstants.VIDEO_PLAYS}}</span>
    </div>
<div class="vid_data_hdr">
<span>{{textConstants.QUARTILE_DATA}}</span> <br>
<div class="vid_sub_col">
    <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.vtc_25',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.vtc_25'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" >25%</span></div>
    <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.vtc_50',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.vtc_50'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" >50%</span></div>
    <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.vtc_75',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.vtc_75'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" >75%</span></div>
    <div class="vid_sub_col_hdr"><span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.vtc_100',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.vtc_100'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" >100%</span></div>
</div>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('video_metrics.vtc_rate',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'video_metrics.vtc_rate'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'video_metrics.ad_starts'"></span>{{textConstants.VTC}}</span>
</div>

</span>
<div class="each_col forth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('ctr',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'ctr'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>{{textConstants.CTR}}</span>
</div>

<div class="each_col forth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('action_rate',sortTypebycreatives,sortReverseCreativesTab)" ng-click="sortTypebycreatives = 'action_rate'; sortReverseCreativesTab = !sortReverseCreativesTab;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'action_rate'"></span>{{textConstants.ACTION_RATE}}</span>
</div>

<span  ng-show="adFormats.videoAds   == false">
<div class="each_col seventh_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-cpa',sortTypebycreatives,sortReverseForCostscpaCreatives)" ng-click="sortTypebycreatives = '-cpa'; sortReverseCreativesTab = sortReverseForCostscpaCreatives; sortReverseForCostscpaCreatives = !sortReverseForCostscpaCreatives;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>{{textConstants.CPA}}</span>
</div>
<div class="each_col sixth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-cpc',sortTypebycreatives,sortReverseForCostscpcCreatives)" ng-click="sortTypebycreatives = '-cpc'; sortReverseCreativesTab = sortReverseForCostscpcCreatives; sortReverseForCostscpcCreatives = !sortReverseForCostscpcCreatives;removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>{{textConstants.CPC}}</span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder" ng-class="sortClassFunction('-cpm',sortTypebycreatives,sortReverseForCostscpmCreatives)" ng-click="sortTypebycreatives = '-cpm'; sortReverseCreativesTab = sortReverseForCostscpmCreatives; sortReverseForCostscpmCreatives = !sortReverseForCostscpmCreatives; removeKpiActive();" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>{{textConstants.CPM}}</span>
</div>
</span>


<div class="each_col seventh_col last_col" >
    <div ng-if="adFormats.videoAds"  class="dropdown kpi-dd-holder " >
        <kpi-drop-down type="cpm" changedrpval="yes" ></kpi-drop-down>
    </div>
</div>


