<div class="each_col sec_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'dimension',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'dimension'; sortReverse = !sortReverse" style="cursor: pointer">Format</span>
</div>
<div class="each_col third_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'impressions',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'impressions'; sortReverse = !sortReverse" style="cursor: pointer">Imps.</span>
</div>
<div class="each_col forth_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'ctr',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'ctr'; sortReverse = !sortReverse" style="cursor: pointer"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>CTR</span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'action_rate',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'action_rate'; sortReverse = !sortReverse" style="cursor: pointer"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'action_rate'"></span>Action Rate</span>
</div>
<div class="each_col sixth_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'cpa',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'cpa'; sortReverse = !sortReverse" style="cursor: pointer"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>CPA</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'cpc',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'cpc'; sortReverse = !sortReverse" style="cursor: pointer"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>CPC</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder" ng-class="{ active:sortType === 'cpm',sort_order_up:sortReverse === false,sort_order_down:sortReverse === true}" ng-click="sortType = 'cpm'; sortReverse = !sortReverse" style="cursor: pointer"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>CPM</span>
</div>