<div class="each_col sec_col">
    <span>Format</span>
</div>
<div class="each_col third_col">
    <span>Imps.</span>
</div>
<div class="each_col forth_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>CTR</span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'action_rate'"></span>Action Rate</span>
</div>
<div class="each_col sixth_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>CPA</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>CPC</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder"><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>CPM</span>
</div>