<div class="clearfix nav_filters">
    <div class="pull-left dropdown each_filter brands_filter {{brandData.cssClass}}" ng-controller="brandsController">
        <brands-drop-down></brands-drop-down>
        <div class="disabled_brand_list"></div>
    </div>
    <div class="pull-left dropdown breadcrumb_nav_campaign"  ng-if=reportFilter >
        <campaign-with-all-drop-down selected-obj=selectedObj> </campaign-with-all-drop-down>
    </div>
    <div class="pull-left breadcrumb_nav_strategy" ng-show="isStrategyDropDownShow" ng-if=reportFilter >
        <strategy-drop-down selected-obj=selectedStrategy ></strategy-drop-down>
    </div>
</div>