<div class="each_col sec_col">
    <span>Platform</span>
</div>
<div class="each_col third_col">
    <span>Imps.</span>
</div>
<div class="each_col forth_col">
    <span class="icon_text_holder">
        <span class="default-kpi-header-icon ng-scope" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() == 'ctr'"></span>
        CTR
    </span>
</div>
<div class="each_col fifth_col">
    <span class="icon_text_holder">Action Rate</span>
</div>
<div class="each_col sixth_col">
    <span class="icon_text_holder">CPA</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder">CPC</span>
</div>
<div class="each_col seventh_col">
    <span class="icon_text_holder">CPM</span>
</div>

