<!-- <div class="pull-left breadcrumb_campaign"><a href="/campaigns/{{selectedCampaign.id}}">{{textConstants.CAPAIGN_DETAILS}}</a></div> -->
<div class="clearfix reports_sub_menu_dd_holder">
	<div class="reports_sub_menu_dd canned_container">
		<div class="header_tab_dd_subheading">Canned</div>
		<div ng-repeat="tab in filters.tabs track by $index" class="header_tab_dropdown" ng-class="{'active_tab': tab.href == filters.activeTab}">
		    <a ng-click="NavigateToTab('/'+ tab.href, $event)" id="performance_tab_{{tab.href}}" > {{tab.title}}</a>
		</div>
	</div>
	<div class="reports_sub_menu_dd custom_container">
		<div class="header_tab_dd_subheading">Custom</div>
		<!-- <div class="header_tab_dropdown">
			<a href="javascript:void(0);">Scheduled</a>
			<span class="circle_with_number">2</span>
		</div>
		<div class="header_tab_dropdown">
			<a href="javascript:void(0);">Collective</a>
			<span class="circle_with_number">5</span>
		</div> -->
		<a href="javascript:void(0);" class="clearfix new_report_generate_btn">
			<span class="icon"></span>
			<span class="icon_txt">New Report</span> 
		</a>
	</div>
</div>

