<div class="each_col sec_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('dimension',sortType,sortReverse)" ng-click="sortType = 'dimension'; sortReverse = !sortReverse" >Screen</span>
</div>
<div class="each_col third_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('impressions',sortType,sortReverse)" ng-click="sortType = 'impressions'; sortReverse = !sortReverse" >Imps.</span>
</div>

<div class="vid_col" ng-class="{vid_show:strategyPerfDataByScreen.hasVTCMetrics == true}">
    <div class="each_col third_col">
        <span>Video <br> plays</span>
    </div>
    <div class="vid_data_hdr">
        <span>Quartile Data</span> <br>

        <div class="vid_sub_col">
            <div class="vid_sub_col_hdr">25%</div>
            <div class="vid_sub_col_hdr">50%</div>
            <div class="vid_sub_col_hdr">75%</div>
            <div class="vid_sub_col_hdr">100%</div>
        </div>
    </div>
    <div class="each_col third_col">
        <span>VTC</span>
    </div>
</div>



<div class="each_col forth_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">

    <span class="icon_text_holder" ng-class="sortClassFunction('ctr',sortType,sortReverse)" ng-click="sortType = 'ctr'; sortReverse = !sortReverse" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'ctr'"></span>CTR</span>
</div>
<div class="each_col fifth_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('action_rate',sortType,sortReverse)" ng-click="sortType = 'action_rate'; sortReverse = !sortReverse" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'action_rate'"></span>Action Rate</span>
</div>
<span  ng-if="!strategyPerfDataByScreen.hasVTCMetrics">
<div class="each_col sixth_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('cpa',sortType,sortReverse)" ng-click="sortType = 'cpa'; sortReverse = !sortReverse" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpa'"></span>CPA</span>
</div>

<div class="each_col seventh_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('cpc',sortType,sortReverse)" ng-click="sortType = 'cpc'; sortReverse = !sortReverse" ><span class="default-kpi-header-icon" tooltip="Primary KPI"  ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpc'"></span>CPC</span>
</div>
<div class="each_col seventh_col" ng-class="{vid_none_hdr:strategyPerfDataByScreen.hasVTCMetrics == false}">
    <span class="icon_text_holder" ng-class="sortClassFunction('cpm',sortType,sortReverse)" ng-click="sortType = 'cpm'; sortReverse = !sortReverse" ><span class="default-kpi-header-icon" tooltip="Primary KPI" ng-if="selected_filters.campaign_default_kpi_type.toLowerCase() === 'cpm'"></span>CPM</span>
</div>
</span>
<div class="each_col seventh_col" >
    <div ng-if="strategyPerfDataByScreen.hasVTCMetrics"  class="dropdown kpi-dd-holder" >
        <kpi-drop-down type="cpm" changedrpval="yes" ></kpi-drop-down>
    </div>
</div>



