<div class="popup-holder users-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                ng-click="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">Add User</h2>
    </div>
    <div class="clearfix modal-body">
        <form id="userCreateEditForm" name="userCreateEditForm">
        <div class="form-group col-md-12 zeroPadding" show-errors='{showSuccess: true}'>
            <label >User Login:</label>
            <input name="userLogin" type="text" class="form-control" ng-model="selectedUserLogin" required>
            <label ng-if="userCreateEditForm.userLogin.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter user login.</label>
        </div>
        <div class="form-group col-md-12 zeroPadding" show-errors='{showSuccess: true}'>
            <label >First Name:</label>
            <input name="firstName" type="text" ng-model="selectedFirstName" class="form-control"  required>
            <label ng-if="userCreateEditForm.firstName.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter First Name.</label>
        </div>
        <div class="form-group col-md-12 zeroPadding" show-errors='{showSuccess: true}'>
            <label >Last Name:</label>
            <input name="lastName" type="text" ng-model="selectedLastName" class="form-control"  required>
            <label ng-if="userCreateEditForm.lastName.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter Last Name.</label>
        </div>
        <div class="form-group col-md-12 zeroPadding" show-errors='{showSuccess: true}'>
            <label >Password:</label>
            <input name="password" type="password" ng-model="selectedPassword" class="form-control"  required>
            <label ng-if="userCreateEditForm.password.$error.required" class="col-sm-12  greyTxt errorLabel">You must enter password.</label>
        </div>
        <div class="form-group col-md-12 zeroPadding">
            <label >Collective Internal:</label>
            <div class="clearfix">
                <div class="pull-left radio">
                  <label><input type="radio" name="optradio"  value="INTERNAL" checked="checked">Yes</label>
                </div>
                <div class="pull-left radio">
                  <label><input type="radio" name="optradio"  value="EXTERNAL">No</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 zeroPadding">
            <label >Application Access:</label>
            <div class="clearfix">
                <div class="pull-left radio">
                  <label><input type="radio" name="optcheck"  value="REPORTING"  checked="checked">Reporting</label>
                </div>
                <div class="pull-left radio">
                  <label><input type="radio" name="optcheck"  value="WORKFLOW">Workflow</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 zeroPadding"><!--add model also-->
            <label >Role:</label>
            <select name="role" class="form-control" >
              <option>Super Admin</option>
              <option>Account Admin</option>
              <option>Advertiser Admin</option>
              <option>Generic User</option>
            </select>
        </div>


        <div class="form-group col-md-12 zeroPadding">
		    <!--<label >Add Access:</label>-->
            <!--<div class="col-md-12 zeroPadding add-filters">-->
                <!--<div class="form-group col-md-3">-->
                        <!--<label >Accounts:</label>-->
                    <!--<div class="zeroPadding dropdown-workflow">-->
                        <!--<div class="dropdown">-->
                            <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                                <!--&lt;!&ndash;<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>&ndash;&gt;-->
                                <!--<span class="text">{{selectedClient}}</span>-->
                                <!--<span class="icon-arrow-down"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="accountType">-->
                                <!--<li ng-repeat="client in userModalData.Clients"><a ng-click="selectedClientHandler(client)">{{client.text}}</a>-->
                                    <!--<ul ng-if="client.hasOwnProperty(newobj)">-->
                                        <!--<li ng-repeat="clientChild in client"><a ng-click="selectedClientHandler(clientChild)">{{clientChild.text}} </a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                        <!--</div>-->
                    <!--</div>-->
            		    <!--&lt;!&ndash;<div class="dropdown-workflow">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
                              <!--&lt;!&ndash;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="text">Accounts</span>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="icon-arrow-down"></span>&ndash;&gt;-->
                              <!--&lt;!&ndash;</button>&ndash;&gt;-->
                              <!--&lt;!&ndash;<ul class="dropdown-menu" id="clientId">&ndash;&gt;-->
                               <!--&lt;!&ndash;<li ng-repeat="client in clientsData.treejson"><a>{{client.text}}</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ul ng-if="client.length>3">&ndash;&gt;-->
                                  <!--&lt;!&ndash;<li ng-repeat="childClient in client"><a>{{childClient.text}}</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                               <!--&lt;!&ndash;</li>&lt;!&ndash; dropBoxItemSelected &ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                               <!--&lt;!&ndash;&lt;!&ndash;<li ><a>Accounts</a></li>&ndash;&gt;&ndash;&gt;-->
                              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                              <!--&lt;!&ndash;<input type="hidden" name="accounts" ng-model="accounts" ng-update-hidden required/>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label> Advertiser Name:</label>-->
                    <!--&lt;!&ndash;<select class="form-control" name="advertiserName" ng-model="selectedAdvertiser">&ndash;&gt;-->
                    <!--<select class="form-control" name="advertiserName">-->
                        <!--<option value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers">{{advertiser.name}}</option>-->
                        <!--&lt;!&ndash;<option value=value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers" ng-selected="{{advertiser.id == selectedAdvertiser}}" >{{advertiser.name}}</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label >Brand Name:</label>-->
                    <!--<select name="brandName" class="form-control" >-->
                      <!--<option value="{{brand.id}}" ng-repeat="brand in userModalData.Brands">{{brand.name}}</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-md-3">-->
                    <!--<label >Permission:</label>-->
                    <!--<select name="permission" class="form-control" >-->
                      <!--<option>Admin</option>-->
                      <!--<option>Write</option>-->
                      <!--<option>Read</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!---->
            <!--</div>-->
            <div class="col-md-12 zeroPadding add-filters" ng-repeat="item in permissions track by $parentindex = $index">
                <div class="form-group col-md-3 accounts-multi-dimension">
                    <label >Accounts:</label>
                    <div class="zeroPadding dropdown-workflow">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <!--<span class="text">{{mode == 'edit' ? selectedAccount : 'Account' }}</span>-->
                                <span class="text" >{{User.data[$index].allPermissions}}</span>
                                <span class="icon-arrow-down"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="accountType">
                                <li ng-repeat="client in userModalData.Clients"><a ng-click="selectedClientHandler(client,$parentindex)">{{client.name}}</a>
                                    <ul ng-if="client.children.length>0">
                                        <li ng-repeat="clientChild in client.children"><a ng-click="selectedClientHandler(clientChild,$parentindex)">{{clientChild.name}} </a>
                                            <ul ng-if="clientChild.children.length>0">
                                            <li ng-repeat="clientSecondChild in clientChild.children"><a ng-click="selectedClientHandler(clientSecondChild,$parentindex)">{{clientSecondChild.name}} </a>
                                            </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul><input type="hidden" name="accountType" class="accountType" ng-model="User.data[$index].allPermissions" ng-init="User.data[$index].allPermissions=selectedClient.counter.id" value="{{selectedClient.counter.id}}" ng-Update-Hidden required/>
                            <!--<input type="hidden" name="accountType" ng-model="selectedClient" ng-update-hidden required/>-->
                        </div>
                    </div>
                    <!--<select class="form-control" name="accountType">-->
                    <!--<option value="{{client.id}}" ng-repeat="client in userModalData.Clients">{{client.name}}</option>-->
                    <!--</select>-->
                </div>
                <div class="form-group col-md-3">
                    <label> Advertiser Name:</label>
                    <!--<select class="form-control" name="advertiserName" ng-model="selectedAdvertiser">-->
                    <select class="form-control" name="advertiserName" ng-model="User.data[$index].advertisers">
                        <option value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers">{{advertiser.name}}</option>
                        <!--<option value=value="{{advertiser.id}}" ng-repeat="advertiser in userModalData.Advertisers" ng-selected="{{advertiser.id == selectedAdvertiser}}" >{{advertiser.name}}</option>-->
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label >Brand Name:</label>
                    <select name="brandName" class="form-control" ng-model="User.data[$index].brand">
                        <option value="{{brand.id}}" ng-repeat="brand in userModalData.Brands">{{brand.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label >Permission:</label>
                    <select name="permission" class="form-control"  ng-model="User.data[$index].permission">
                        <option>Admin</option>
                        <option>Write</option>
                        <option>Read</option>
                    </select>
                </div>
                <div class="delete_row" ng-click="delete_filter($event)">

                </div>

            </div>
            <div class="clearfix" id="filter-container">
            </div>
            <div class="add_filter_link">
              <!--<span addfilterusers ng-click="incrementCounter()">Add Permissions</span>-->
                <span ng-click="incrementCounter()">Add Permissions</span>

            </div>
            
        </div>
        

        </form>
    </div><!-- end of modal_body -->
    <div class="clearfix popup-btns-holder">
        <span class="common_primary_btn" ng-click="saveUserForm()">Save</span>
        <span class="secondary_txt" data-dismiss="modal" ng-click="close()" >
            Cancel
        </span>

    </div>
</div> <!-- end of popup-holder -->
