<div class="viewability_header clearfix">
    <div class="each_col sec_col">
        Platform Name
    </div>
    <div class="each_col third_col">
        <span>Impressions</span>
        <div class="sub_col"><span>Delivered</span><span>Total</span></div>
    </div>
    <div class="each_col forth_col">
        <span>Measurable</span>
        <div class="sub_col"><span>Imps.</span><span>%</span></div>
    </div>
    <div class="each_col fifth_col">
        <span>Viewable</span>
        <div class="sub_col"><span>Imps.</span><span class="tooltip_holder">%<sup>*</sup><div class="common_tooltip">Based only on Measurable Imps</div></span></div>
    </div>
    <div class="each_col suspicious_col">
        <span> Suspicious Activity</span>
        <span>(%)</span>
    </div>
    <div class="each_col seventh_col">
        <div class="dropdown kpi-dd-holder">
            <kpi-drop-down> </kpi-drop-down>
        </div>
    </div>
</div>
