<div class="viewability_header clearfix">
    <div class="each_col platform_name_col icon_text_holder" ng-class="sortClassFunction('platform_type',sortType,sortReverse)" ng-click="sortType = 'platform_type'; sortReverse = !sortReverse" >
        {{textConstants.PLATFORM_NAME}}
    </div>
    <div class="each_col third_col ">
        <span>{{textConstants.IMPRESSIONS}}</span>
        <div class="sub_col impressions_subcol">
            <div class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.ias_imps_delivered',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.ias_imps_delivered'; sortReverse = !sortReverse" >{{textConstants.DELIVERED}}</div>
            <!-- <span class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.total_imps',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.total_imps'; sortReverse = !sortReverse" >{{textConstants.TOTAL}}</span> --></div>
    </div>
    <div class="each_col third_col ">
        <span>{{textConstants.MEASURABLE}}</span>
        <div class="sub_col">
            <span class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.ias_measurable_imps',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.ias_measurable_imps'; sortReverse = !sortReverse" >{{textConstants.IMP_WITH_DOT}}</span>
            <span class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.measurable_imps_perc',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.measurable_imps_perc'; sortReverse = !sortReverse" >%</span></div>
    </div>
    <div class="each_col forth_col">
        <span>{{textConstants.VIEWABLE}}</span>
        <div class="sub_col">
            <span class="icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.ias_viewable_imps',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.ias_viewable_imps'; sortReverse = !sortReverse" >{{textConstants.IMP_WITH_DOT}}</span>
            <span class="tooltip_holder icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.viewable_imps_perc',sortType,sortReverse)" ng-click="sortType = 'platformType_aggregation.viewable_imps_perc'; sortReverse = !sortReverse" >%<sup>*</sup><div class="common_tooltip">{{textConstants.BASED_ONLY_ON_MEASURABLE_IMPS}}</div></span></div>
    </div>
    <div class="each_col suspicious_col">
        <span  ng-click="sortType = 'platformType_aggregation.susp_activity_perc'; sortReverse = !sortReverse" > {{textConstants.SUSPICIOUS}}<br> {{textConstants.ACTIVITY}}</span>
        <span class="tooltip_holder icon_text_holder" ng-class="sortClassFunction('platformType_aggregation.susp_activity_perc',sortType,sortReverse)"  ng-click="sortType = 'platformType_aggregation.susp_activity_perc'; sortReverse = !sortReverse" >(%)</span>
    </div>
    <div class="each_col seventh_col" >
        <div class="dropdown kpi-dd-holder">
            <kpi-drop-down type="selected_filters.kpi_type.toLowerCase()" ></kpi-drop-down>
        </div>
    </div>
</div>
